.UIPortalSettingForm {
	margin: auto;
	padding: 30px 17px 30px 10px; /* orientation=lt */
	padding: 30px 10px 30px 17px; /* orientation=rt */
}

/*##############################- LoginBox Style-################################*/

.UIPortalSettingForm .PortalSettingContent {
	width: 540px;
	margin: auto;
}

.UIPortalSettingForm .PortalSettingContent .DecoratorBackground {
	background-color: white;
	padding-top: 12px;
}

.UIPortalSettingForm .PortalSettingContent .TopLeftDecorator {
	background: url('background/RoundedBoxLeftTop24x35.gif') no-repeat left;
	padding: 0px 0px 0px 24px;
	border: 1px solid red;	
}

.UIPortalSettingForm .PortalSettingContent .TopLeftDecorator .TopCenterDecorator {
	background: url('background/RoundedBoxCenterTop1x35.gif') repeat-x;
	height: 35px;
	color: #1273df;
	font-size: 16px;
	line-height: 35px;
	padding: 0px 0px 0px 10px;
}

.UIPortalSettingForm .PortalSettingContent .TopLeftDecorator .TopRightDecorator {
	background: url('background/RoundedBoxRightTop13x35.gif') no-repeat right;
	padding: 0px 13px 0px 0px;
}

.UIPortalSettingForm .PortalSettingContent .MiddleLeftDecorator {
	background: url('background/RoundedBoxLeftMiddle128x130.gif') no-repeat left center;
	padding: 0px 0px 0px 128px;
}

.UIPortalSettingForm .PortalSettingContent .MiddleRightDecorator {
	background: url('background/RoundedBoxRightMiddle12x1.gif') repeat-y right;
	padding: 0px 12px 0px 0px;
}

.UIPortalSettingForm .PortalSettingContent .BottomLeftDecorator {
	background: url('background/RoundedBoxLeftBottom86x12.gif') no-repeat left;
	padding: 0px 0px 0px 86px;
}

.UIPortalSettingForm .PortalSettingContent .BottomLeftDecorator .BottomCenterDecorator {
	background: url('background/RoundedBoxCenterBottom1x12.gif') repeat-x;
	height: 12px;
}

.UIPortalSettingForm .PortalSettingContent .BottomLeftDecorator .BottomRightDecorator {
	background: url('background/RoundedBoxRightBottom12x12.gif') no-repeat right;
	padding: 0px 12px 0px 0px;
}

/* ============================End PortalSettingContent============================== */

.UIPortalSettingForm .PortalSettingContent .VerticalLayout {
	background: white;
	height: 110px;
	padding: 20px 0px 0px 20px; /* orientation=lt */
	padding: 20px 20px 0px 0px; /* orientation=rt */
}

.UIPortalSettingForm .VerticalLayout .LanguageField {
	height: 25px;
}

.UIPortalSettingForm .VerticalLayout .SkinField {
	padding: 10px;
	height: 35px;
}

.UIPortalSettingForm .VerticalLayout label {
	padding: 0px 0px 5px 0px;
	width: 100px;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIPortalSettingForm .VerticalLayout .selectbox {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 205px; height: 20px;
	line-height: 18px;
	padding: 0px 0px 0px 5px; /* orientation=lt */
	padding: 0px 5px 0px 0px; /* orientation=rt */
	font-size: 11px;
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
}

.UIPortalSettingForm .VerticalLayout .UIAction {
}
