.UILogin {
 	width: 450px; height: 243px;
	font-family: verdana; font-size: 11px;
	margin: auto;
	margin-top: 110px;
	padding: 0px 20px 0px 130px;
	background: url('../skin/images/LoginBackground.gif') no-repeat top;
}
  
.UILogin .LoginHeader {
	width: 325px;
	height: 60px;
	line-height: 60px;
	color: orange;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	text-align: right;
	margin: auto;
}
  
.UILogin .LoginContent .CenterLoginContent {
  height: 120px;
  padding: 10px 0px;
}

.UILogin .WelcomeText {
  line-height: 20px;
  color: #058ee6;
  font-size: 15px;
  margin-top: 10px;
}

.UILogin .LoginContent table {
	width: 326px;
	margin: auto;
}

.UILogin .LoginContent table .FieldLabel {
	text-align: right;
	font-weight: bold;
}

.UILogin .LoginContent .FieldContainer {
  width: 320px ;
  overflow: hidden ;
  padding-top: 9px ;
  margin: auto ;
  text-align: left;
}

.UILogin .LoginContent .FieldContainer label {
  float: left;
  width: 80px ; height: 20px; 
  line-height: 20px; 
	text-align: right;
	font-weight: bold ;
	margin-right: 5px;
	color: #5f5f5f;
}

.UILogin .LoginContent .FieldContainer input.UserName {
  float: left;
  width: 200px ;  height: 18px;
  border: solid 1px #b7b7b7 ;
  padding-left: 18px;
  background: url('../skin/images/LoginBackground.gif') no-repeat left -243px;
}

.UILogin .LoginContent .FieldContainer input.Password {
  float: left;
  width: 200px ;  height: 18px;
  border: solid 1px #b7b7b7 ;
  padding-left: 18px;
  background: url('../skin/images/LoginBackground.gif') no-repeat left -262px;
}

.UILogin a.TextHelp {
  color: #3c78b5;
  margin-top: 7px; 
  padding-left: 50px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.UILogin a.TextHelp:hover {
  color: orange;
  margin-top: 7px; 
  padding-left: 50px;
  display: block;
  text-decoration: underline;
}

.UILogin .LoginContent .OverflowContainer {
  width: 250px;
  overflow: hidden;
  margin: auto; 
  padding-top: 7px;
}

.UILogin .LoginContent .OverflowContainer input {
  float: left;
  margin-left: 10px;
}


.UILogin .LoginContent .LoginButton {
  height: 22px ;
  padding: 5px 0px 5px 10px;
}

.UILogin .LoginContent .LoginButtonContainer {
  width: 100px;
  margin: auto; 
}

.UILogin .LoginContent .Button {
  width: 100px; height: 22px ;
  margin: auto; 
}

.UILogin .LoginContent .Button a {
  text-decoration: none;
  color: #000000;
}

.UILogin .LoginContent .Button a:hover {
  color: #058ee6; text-decoration: none;
}

.UILogin .LoginContent .LoginButton .Button .LeftButton {
  line-height: 22px;
  padding-left: 11px;
  background: url('../skin/images/LoginBackground.gif') no-repeat left -284px;
}

.UILogin .LoginContent .LoginButton .Button .RightButton {
  line-height: 22px;
  padding-right: 11px;
  background: url('../skin/images/LoginBackground.gif') no-repeat right -284px;
}

.UILogin .LoginContent .LoginButton .Button .MiddleButton {
  height: 22px; 
  line-height: 21px; 
	background: url('../skin/images/LoginBackground.gif') center -284px;
}
