.UILoginPortlet {
 	width: 548px; height: 348px;
	font-family: verdana; font-size: 11px;
	margin: auto;
	margin-top: 100px;
}
  
.UILoginPortlet .LoginHeader {
	width: 548px; height: 103px;
	background: url('../skin/images/LoginHeader548x103.jpg') no-repeat;
}
  
.UILoginPortlet .LoginContent {
	height: 207px;
}

.UILoginPortlet .LoginContent .LeftLoginContent {
  background: url('../skin/images/SigninPaper162x207.jpg') no-repeat left top;
  padding-left: 162px;
  overflow: hidden;
}

.UILoginPortlet .LoginContent .RightLoginContent {
  height: 207px;
  background: url('../skin/images/LoginRightRepeat27x1.gif') repeat-y right;
  padding-right: 27px;
}

.UILoginPortlet .LoginContent .CenterLoginContent {
  height: 207px;
  background: #f6f6f6;
}

.UILoginPortlet .LoginContent .FieldContainer {
  width: 320px ;
  overflow: hidden ;
  padding-top: 7px ;
  margin: auto ;
}

.UILoginPortlet .LoginContent .FieldContainer label {
  float: left;
  width: 80px ; height: 20px; 
  line-height: 20px; 
	text-align: left; font-weight: bold ;
	margin-right: 5px;
}

.UILoginPortlet .LoginContent .FieldContainer input {
  float: left;
  width: 200px ;  height: 18px;
  border: solid 1px #b7b7b7 ;
}

.UILoginPortlet a.TextHelp {
  color: #3c78b5;
  margin-top: 7px; 
  padding-left: 50px;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.UILoginPortlet a.TextHelp:hover {
  color: orange;
  margin-top: 7px; 
  padding-left: 50px;
  display: block;
  text-decoration: underline;
}

.UILoginPortlet .LoginContent .OverflowContainer {
  width: 250px;
  overflow: hidden;
  margin: auto; 
  padding-top: 7px;
}

.UILoginPortlet .LoginContent .OverflowContainer input {
  float: left;
  margin-left: 10px;
}

.UILoginPortlet .LoginContent .ForgotMessage {
  float: right;
  line-height: 18px;
}

.UILoginPortlet .LoginContent .LoginButton {
  height: 22px ;
  padding: 8px 0px;
  margin-left: 40px;
}

.UILoginPortlet .LoginContent .LoginButtonContainer {
  width: 70px;
  margin: auto; 
}

.UILoginPortlet .LoginContent .Button {
  width: 70px; height: 22px ;
  margin: auto; 
}

.UILoginPortlet .LoginContent .Button a {
  text-decoration: none;
  color: #000000;
}

.UILoginPortlet .LoginContent .Button a:hover {
  color: #058ee6; text-decoration: none;
}

.UILoginPortlet .LoginContent .LoginButton .Button .LeftButton {
  line-height: 22px;
  padding-left: 3px;
  background: url('../skin/images/LeftLightStyleButton3x22.gif') no-repeat left;
}

.UILoginPortlet .LoginContent .LoginButton .Button .RightButton {
  line-height: 22px;
  padding-right: 3px;
  background: url('../skin/images/RightLightStyleButton3x22.gif') no-repeat right;
}

.UILoginPortlet .LoginContent .LoginButton .Button .MiddleButton {
  height: 22px; 
  line-height: 21px; 
	background: url('../skin/images/MiddleLightStyleButton1x22.gif') repeat-x;
}

.UILoginPortlet .LoginContent .MessageContainer {
  padding-left:16px;
  float: right;
}

.UILoginPortlet .LoginContent .SignupMessage {
  width: 250px; height: 24px; 
  line-height: 24px; 
  color: #3c78b5 ; text-align: center;
  margin-right: 33px;
  border-top: solid 1px #c3c3c3 ;
  border-bottom: solid 1px #c3c3c3 ;
}

.UILoginPortlet .LoginContent .SignupMessage a {
  color: orange; font-weight: bold ; text-decoration: none;
  cursor: pointer ;
}

.UILoginPortlet .LoginContent .SignupMessage a:hover {
  color: #058ee6;
  text-decoration: underline;
}

.UILoginPortlet .LoginFooter {
  width: 548px; height: 28px; 
  line-height: 28px;
}
  
.UILoginPortlet .LoginFooter .LoginLeftFooter  {
  height: 28px;
  background: url('../skin/images/LoginLeftFooter60x28.gif') no-repeat left;
  padding-left: 60px;
}
  
.UILoginPortlet .LoginFooter .LoginRightFooter  {
  height: 28px ;
  background: url('../skin/images/LoginRightFooter45x28.gif') no-repeat right ;
  padding-right: 45px ;
}
  
.UILoginPortlet .LoginFooter .LoginRepeatFooter {
  height: 28px ;
  background: url('../skin/images/LoginRepeatFooter1x28.gif') repeat-x ;
}

.UILoginPortlet .CopyrightInfo {
  height: 24px; line-height: 24px; 
  text-align: center;
}