.UIHorizontalTabs {
  height: 26px;
}

.UIHorizontalTabs .LeftHorizontalTabs{
  height: 26px;
  background: url('DefaultSkin/background/LeftHorizontalTabs6x26.gif') no-repeat left;
  padding-left: 6px;
}

.UIHorizontalTabs .RightHorizontalTabs{
  height: 26px;
  background: url('DefaultSkin/background/RightHorizontalTabs6x26.gif') no-repeat right;
  padding-right: 6px;
}

.UIHorizontalTabs .CenterHorizontalTabs {
  height: 26px;
  background: url('DefaultSkin/background/MiddleHorizontalTabs1x26.gif') repeat-x;
}

.UIHorizontalTabs .TabsContainer {
  float: left;
  overflow: hidden;
}

.UIHorizontalTabs .PreviousTabButton  {
  float: left;
  width: 14px; height: 24px;
  margin-right: 1px;
  cursor : pointer;
  background: url('DefaultSkin/background/YellowLastTabButton14x24.gif') no-repeat;
}

.UIHorizontalTabs .NextTabButton  {
  float: left;
  width: 14px; height: 24px;
  cursor : pointer;
  background: url('DefaultSkin/background/YellowNextTabButton14x24.gif') no-repeat;
}

.UIHorizontalTabs .UITab {
  float: left;
  font-weight: bold;
  text-align: center;
}

/*###########################--NavigationTabTab--############################*/
.UIHorizontalTabs .UITab .NormalNavigationTab {
  line-height: 24px; 
  margin: 0px 2px 0px 2px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .LeftTab {
  line-height: 24px; 
}

.UIHorizontalTabs .UITab .NormalNavigationTab .RightTab {
  line-height: 24px; 
}

.UIHorizontalTabs .UITab .NormalNavigationTab .MiddleTab {
  line-height: 24px;
  background: url('DefaultSkin/background/MiddleNormalNav1x28.gif') repeat-x top;
  padding: 0px 4px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab a {
  color: white;
  text-decoration: none;
  margin: 0px 6px 0px 3px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .TabIcon {
  float: left;
  width: 5px; height: 5px;
  background: url('DefaultSkin/background/NormalNavIcon5x5.gif') no-repeat center;
  margin: 10px 5px 0px 0px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .MiddleTab {
  padding-left: 9px;
}

/*###############-Hightlight Navigation Tab  color: #fd9300;-################*/

.UIHorizontalTabs .UITab .HighlightNavigationTab {
  line-height: 24px; 
  margin: 0px 1px 0px 0px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .LeftTab {
  line-height: 24px; 
  background: url('DefaultSkin/background/LeftHighlightNav2x24.gif') no-repeat left top;
  padding-left: 2px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .RightTab {
  line-height: 24px;
  background: url('DefaultSkin/background/RightHighlightNav2x24.gif') no-repeat right top;
  padding-right: 2px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .MiddleTab {
  line-height: 24px;
  background: url('DefaultSkin/background/MiddleHighlightNav1x24.gif') repeat-x top;
  padding: 0px 4px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab a {
  color: white;
  text-decoration: none;
  margin: 0px 5px 0px 3px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .TabIcon {
  float: left;
  width: 5px; height: 5px;
  background: url('DefaultSkin/background/HighlightNavIcon5x5.gif') no-repeat center;
  margin: 10px 5px 0px 0px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .MiddleTab {
  padding-left: 9px;
}

/*###############-Selected Navigation Tab-################*/

.UIHorizontalTabs .UITab .SelectedNavigationTab {
  line-height: 24px; 
  margin: 0px 1px 0px 0px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .LeftTab {
  line-height: 24px;
  background: url('DefaultSkin/background/LeftSelectedNav2x24.gif') no-repeat left top;
  padding-left: 2px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .RightTab {
  line-height: 24px; 
  background: url('DefaultSkin/background/RightSelectedNav2x24.gif') no-repeat right top;
  padding-right: 2px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .MiddleTab {
  line-height: 24px;
  background: url('DefaultSkin/background/MiddleSelectedNav1x24.gif') repeat-x top;
  padding: 0px 4px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab a {
  color: #303030;
  text-decoration: none;
  margin: 0px 5px 0px 3px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .TabIcon {
  float: left;
  width: 5px; height: 5px;
  background: url('DefaultSkin/background/SelectedNavIcon5x5.gif') no-repeat center;
  margin: 10px 5px 0px 0px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .MiddleTab {
  padding-left: 9px;
}

/*###########################--NormalTab--############################*/

.UIHorizontalTabs .UITab .NormalTabStyle {
  line-height: 24px;
  margin-right: 1px;
  font-size: 11px;
  color: #474849;
}

.UIHorizontalTabs .UITab .NormalTabStyle a {
  color: #979798;
  text-decoration: none;
}

.UIHorizontalTabs .UITab .NormalTabStyle a:hover {
  color: black;
  text-decoration: none;
}

.UIHorizontalTabs .UITab .NormalTabStyle .LeftTab {
  padding-left: 12px;
  line-height: 24px;
  background: url('DefaultSkin/background/LeftNormalTab12x24.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .NormalTabStyle .RightTab {
  line-height: 24px;
  padding-right: 3px;
  background: url('DefaultSkin/background/RightNormalTab3x24.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .NormalTabStyle .MiddleTab {
  line-height: 24px;
  vertical-align: middle;
  background: url('DefaultSkin/background/MiddleNormalTab1x24.gif') repeat-x;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

.UIHorizontalTabs .UITab .HighlightTabStyle {
  line-height: 24px;
  margin-right: 1px;
  font-size: 11px;
  color: #000000;
}
.UIHorizontalTabs .UITab .HighlightTabStyle a:hover{
  color: blue;
  text-decoration: none;
}


.UIHorizontalTabs .UITab .HighlightTabStyle .LeftTab {
  line-height: 24px;
  padding-left: 12px;
  background: url('DefaultSkin/background/LeftHighlightTab12x24.gif') no-repeat left;;
}

.UIHorizontalTabs .UITab .HighlightTabStyle .RightTab {
  line-height: 24px;
  padding-right: 3px;
  background: url('DefaultSkin/background/RightHighlightTab3x24.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .HighlightTabStyle .MiddleTab {
  line-height: 24px;
  vertical-align: middle;
  background: url('DefaultSkin/background/MiddleHighlightTab1x24.gif') repeat-x;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

.UIHorizontalTabs .UITab .SelectedTabStyle {
  line-height: 24px;
  margin-right: 1px;
  font-size: 11px;
  color: #000000;
}
.UIHorizontalTabs .UITab .SelectedTabStyle a:hover{
  color: blue;
  text-decoration: none;
}


.UIHorizontalTabs .UITab .SelectedTabStyle .LeftTab {
  line-height: 24px;
  padding-left: 15px;
  background: url('DefaultSkin/background/LeftSelectedTab15x24.gif') no-repeat left;;
}

.UIHorizontalTabs .UITab .SelectedTabStyle .RightTab {
  line-height: 24px;
  padding-right: 3px;
  background: url('DefaultSkin/background/RightSelectedTab3x24.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .SelectedTabStyle .MiddleTab {
  line-height: 24px;
  vertical-align: middle;
  background: url('DefaultSkin/background/MiddleSelectedTab1x24.gif') repeat-x;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

/*###########################--GrayPolygonTab36Style--############################*/

.UIHorizontalTabs .UITab .GrayPolygonTab36Style {
  height: 36px;
  margin: 0px 1px;  
}

.UIHorizontalTabs .UITab .GrayPolygonTab36Style .LeftTab {
  height: 36px;
  padding-left: 4px;
  background: url('DefaultSkin/background/GrayPolygonBigBarLBg4x36.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .GrayPolygonTab36Style .RightTab {
  height: 36px;
  padding-right: 4px;
  background: url('DefaultSkin/background/GrayPolygonBigBarRBg4x36.gif') no-repeat right;  
}

.UIHorizontalTabs .UITab .GrayPolygonTab36Style .MiddleTab {
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  background: url('DefaultSkin/background/GrayPolygonBigBarCBg1x36.gif') repeat-x;
}

/*###########################--NavyBluePolygonTab36Style--############################*/

.UIHorizontalTabs .UITab .NavyBluePolygonTab36Style {
  height: 36px;
  margin: 0px 1px;
  
}

.UIHorizontalTabs .UITab .NavyBluePolygonTab36Style .LeftTab {
  height: 36px;
  padding-left: 4px;
  background: url('DefaultSkin/background/BluePolygonBigBarLBg4x36.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .NavyBluePolygonTab36Style .RightTab {
  height: 36px;
  padding-right: 4px;
  background: url('DefaultSkin/background/BluePolygonBigBarRBg4x36.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .NavyBluePolygonTab36Style .MiddleTab {
  height: 36px;
  line-height: 36px;
  vertical-align: middle;
  background: url('DefaultSkin/background/BluePolygonBigBarCBg1x36.gif') repeat-x;
}

/*###########################--GrayRectangle27Style--############################*/

.UIHorizontalTabs .UITab .NormalStyle1 {
  line-height: 27px ;  
}

.UIHorizontalTabs .UITab .NormalStyle1 .LeftTab {
  line-height: 27px ;
  padding-left: 2px ;
  background: url('DefaultSkin/background/GrayRectangleL2x27.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .NormalStyle1 .RightTab {
  line-height: 27px;
  padding-right: 1px;
  background: url('DefaultSkin/background/GrayRectangleR1x27.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .NormalStyle1 .MiddleTab {
  line-height: 27px;
  line-height: 27px;
  vertical-align: middle;
  background: url('DefaultSkin/background/GrayRectangleBg1x27.gif') repeat-x;
}

/*###########################--NavyBlueRectangle27Style--############################*/

.UIHorizontalTabs .UITab .HighlighStyle1 {
  line-height: 27px ;
}

.UIHorizontalTabs .UITab .HighlighStyle1 .LeftTab {
  line-height: 27px ;
  padding-left: 2px ;
  background: url('DefaultSkin/background/NavyBlueRectangleL2x27.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .HighlighStyle1 .RightTab {
  line-height: 27px ;
  padding-right: 1px ;
  background: url('DefaultSkin/background/NavyBlueRectangleR1x27.gif') no-repeat right ;
}

.UIHorizontalTabs .UITab .HighlighStyle1 .MiddleTab {
  line-height: 27px ;
  background: url('DefaultSkin/background/NavyBlueRectangleBg1x27.gif') repeat-x ;
}

/*###########################--CommunityTab--############################*/
.UIHorizontalTabs .UITab .NormalCommunityTab {
  line-height: 31px ;    
  margin-top: 6px;
  margin-left: 15px;
}

.UIHorizontalTabs .UITab .NormalCommunityTab .LeftTab {
  line-height: 31px ;
  padding-left: 5px ;
  background: url('DefaultSkin/background/NormalCommunityTabL5x31.gif') no-repeat left ;
}

.UIHorizontalTabs .UITab .NormalCommunityTab .RightTab {
  line-height: 31px;
  padding-right: 5px;
  background: url('DefaultSkin/background/NormalCommunityTabR5x31.gif') no-repeat right ;
}

.UIHorizontalTabs .UITab .NormalCommunityTab .MiddleTab {
  line-height: 31px;
  vertical-align: middle ;
  background: url('DefaultSkin/background/NormalCommunityTabM1x31.gif') repeat-x;
}


/*###########################--HighlightCommunityTab--############################*/

.UIHorizontalTabs .UITab .HighlightCommunityTab{
  line-height: 27px ;
}

.UIHorizontalTabs .UITab .HighlightCommunityTab .LeftTab {
  line-height: 27px ;
  padding-left: 2px ;
  background: url('DefaultSkin/background/NavyBlueRectangleL2x27.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .HighlightCommunityTab .RightTab {
  line-height: 27px ;
  padding-right: 1px ;
  background: url('DefaultSkin/background/NavyBlueRectangleR1x27.gif') no-repeat right ;
}

.UIHorizontalTabs .UITab .HighlightCommunityTab .MiddleTab {
  line-height: 27px ;
  background: url('DefaultSkin/background/NavyBlueRectangleBg1x27.gif') repeat-x ;
}

/*###########################--SelectedCommunityTab--############################*/

.UIHorizontalTabs .UITab .SelectedCommunityTab{
  line-height: 31px ;
  margin-top: 6px;
  margin-left: 1px;
}

.UIHorizontalTabs .UITab .SelectedCommunityTab .LeftTab {
  line-height: 31px ;
  padding-left: 5px ;
  background: url('DefaultSkin/background/SelectedCommunityL5x31.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .SelectedCommunityTab .RightTab {
  line-height: 31px ;
  padding-right: 5px ;
  background: url('DefaultSkin/background/SelectedCommunityR5x31.gif') no-repeat right ;
}

.UIHorizontalTabs .UITab .SelectedCommunityTab .MiddleTab {
  line-height: 31px ;
  vertical-align: middle ;
  background: url('DefaultSkin/background/SelectedCommunityM1x31.gif') repeat-x ;
}