/**
 * Created by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 * 					duytucntt@gmail.com
 * December 15, 2006
 * version: $Id$
 */
.DecoratorBox {}

/*##############################- GrayRoundedFillBoxStyle -################################*/
.DecoratorBox .GrayRoundedFillBoxStyle {
}

.DecoratorBox .GrayRoundedFillBoxStyle .DecoratorBackground {
	background: url('background/RoundDecorator.gif');
}

.DecoratorBox .GrayRoundedFillBoxStyle .CenterBoxDecorator {
	background: url('background/RoundDecorator.gif');
	padding: 3px 6px; 
}

.DecoratorBox .GrayRoundedFillBoxStyle .TopLeftCornerBoxDecorator {
	background: url('background/GrayRounded.gif') no-repeat left top;
	padding: 0px 0px 0px 10px;
}
	
.DecoratorBox .GrayRoundedFillBoxStyle .TopRightCornerBoxDecorator {
	background: url('background/GrayRounded.gif') no-repeat right top;
	padding: 0px 10px 0px 0px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .TopCenterBoxDecorator {
	height: 10px; 
	line-height: 10px;
	background: url('background/GrayRounded.gif') repeat-x left -10px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .MiddleLeftSideBoxDecorator {
	background: url('background/MiddleGrayRounded.gif') repeat-y left;
	padding: 0px 0px 0px 7px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .MiddleRightSideBoxDecorator {
	background: url('background/MiddleGrayRounded.gif') repeat-y right;
	padding: 0px 7px 0px 0px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .BottomLeftCornerBoxDecorator {
	background: url('background/GrayRounded.gif') no-repeat left -20px;
	padding: 0px 0px 0px 10px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .BottomRightCornerBoxDecorator {
	background: url('background/GrayRounded.gif') no-repeat right -20px;
	padding: 0px 10px 0px 0px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .BottomCenterBoxDecorator {
	height: 11px; 
	line-height: 11px;
	background: url('background/GrayRounded.gif') repeat-x bottom;
}


/*##############################- Bar Decorator-################################*/

.DecoratorBox .BarDecorator {
}

.DecoratorBox .BarDecorator .TopLeftBar {
	background: url('background/BarDecorator-rt.png') no-repeat left top; /* orientation=rt */
	padding-left: 7px; /* orientation=rt */
	height: 4px; /* orientation=rt */
}

.DecoratorBox .BarDecorator .TopRightBar {
	background: url('background/BarDecorator.png') no-repeat right top; /* orientation=lt */
	padding-right: 7px; /* orientation=lt */
	height: 4px; /* orientation=lt */
}

.DecoratorBox .BarDecorator .TopCenterBar {
	background: url('background/BarDecorator.png') repeat-x left -4px;
	height: 4px;
}

.DecoratorBox .BarDecorator .MiddleLeftBar {
	background: url('background/MRBarDecorator-rt.png') repeat-y left; /* orientation=rt */
	padding-left: 4px; /* orientation=rt */
	width: 186px; /* orientation=rt */
}

.DecoratorBox .BarDecorator .MiddleRightBar {
	background: url('background/MRBarDecorator.png') repeat-y right; /* orientation=lt */
	padding-right: 4px; /* orientation=lt */
}

.DecoratorBox .BarDecorator .MiddleCenterBar {
	background: #efefef url('background/MidlleBarDecorator.png') repeat-x top; 
	padding: 2px 4px 2px 5px;
	color: #151209;
	font-weight: bold;
}

.DecoratorBox .BarDecorator .BottomCenterBar {
	background: url('background/BarDecorator.png') repeat-x left -8px;
	height: 8px;
}

.DecoratorBox .BarDecorator .BottomLeftBar {
	background: url('background/BarDecorator-rt.png') no-repeat left bottom; /* orientation=rt */
	padding-left: 7px; /* orientation=rt */
	height: 8px; /* orientation=rt */
}

.DecoratorBox .BarDecorator .BottomRightBar {
	background: url('background/BarDecorator.png') no-repeat right bottom; /* orientation=lt */
	padding-right: 7px; /* orientation=lt */
	height: 8px; /* orientation=lt */
}

/*##############################- View box style-################################*/

.DecoratorBox .ViewBoxStyle .MiddleCenterViewBoxStyle {
	background: #ffffff;
}

.DecoratorBox .ViewBoxStyle .TopLeftViewBoxStyle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') no-repeat left top;
	padding: 0px 0px 0px 8px;
}

.DecoratorBox .ViewBoxStyle .TopCenterViewBoxStyle {
	height: 8px;
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') repeat-x left -8px;
}

.DecoratorBox .ViewBoxStyle .TopRightViewBoxStyle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') no-repeat right top;
	padding: 0px 8px 0px 0px;
}

.DecoratorBox .ViewBoxStyle .MiddleLeftViewBoxStyle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/MiddleViewBoxStyle.gif') repeat-y left;
	padding: 0px 0px 0px 4px;
}

.DecoratorBox .ViewBoxStyle .MiddleRightViewBoxStyle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/MiddleViewBoxStyle.gif') repeat-y right;
	padding: 0px 4px 0px 0px;
}

.DecoratorBox .ViewBoxStyle .BottomLeftViewBoxStyle {
	width: auto; 
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') no-repeat left bottom;
	padding: 0px 0px 0px 8px;
}

.DecoratorBox .ViewBoxStyle .BottomCenterViewBoxStyle {
	height: 8px;
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif')repet-x left -16px;
}

.DecoratorBox .ViewBoxStyle .BottomRightViewBoxStyle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') no-repeat right bottom;
	padding: 0px 8px 0px 0px;
}
