/*########################- UIPageNodeSelector -######################*/
.UIPageNodeSelector {}

.UIPageNodeSelector .UIVerticalSlideTabs {
  padding-bottom: 0px;
  margin: 0px;
  border: none;
}

/*###############################- UITree -############################*/
.UIPageNodeSelector .UITree {
  background: none;
  border:1px solid #B7B7B7;
  padding: 0px;
  margin: 0px;
}

.UIPageNodeSelector .UITree .TreeLevelContainer {
  padding-left: 0px;
  margin: 2px 0px 3px 3px; background: none; border: none;
  height: 21px; 
}

.UIPageNodeSelector .UITree .TreeLevelContainer .LevelUpArrowIcon {
  background: url('MacSkin/background/AquaBlueUpLevel.gif') no-repeat;
  width: 26px; line-height: 18px;
  margin-left: 8px;
}

.UIPageNodeSelector .UITree .TreeContainer .Node .ExpandIcon {
  margin: 3px 0px 0px 0px ;
}

.UIPageNodeSelector .UITree .TreeContainer {
  padding: 7px 0px 10px 0px;
  margin: 0px;
  border: none;
}

.UIPageNodeSelector .UITree .TreeContainer .NodeSelected {
  height: 16px ; line-height: 16px;
  width: auto;
  color: #FD7426;
  font-weight: bold;
}

.UIPageNodeSelector .UITree .TreeContainer .CollapseIcon {
  margin-right: 2px ;
}

.UIPageNodeSelector .UITree .TreeContainer .Node {
	height: 20px;
	line-height: 20px;
}	

.UIPageNodeSelector .UITree .TreeContainer .Node .Icon {
  width: 16px;  height: 16px ;
  margin: 2px 7px 0px 1px;
}

.UIPageNodeSelector .UITree .TreeContainer .NodeLabel a{
  margin-left: 0px ; padding-left: 2px; 
  height: 16px ; width: auto;
  line-height: 16px ;
}

.UIPageNodeSelector .UITree .TreeContainer .NodeLabel a:hover{
  color: #058ee6;
}

.UIPageNodeSelector .OrganizationIcon {
  background: url('/eXoResources/icons/16x16/MacSkin/Organization.gif') no-repeat;  
}

.UIPageNodeSelector .PortalAdminIcon {
  background: url('/eXoResources/icons/16x16/MacSkin/PortalAdmin.gif') no-repeat;
}

.UIPageNodeSelector .NavigationPortalIcon {
  background: url('/eXoResources/icons/16x16/MacSkin/PageNode.gif') no-repeat;
}

/***********************/
.UIPageManagement .UIPageNodeSelector .AddNavigationIcon {
	background: url('/eXoResources/icons/24x24/MacSkin/AddNavigationButton.png') no-repeat left top;
	cursor: pointer;
	float: left; margin-left: -2px;
	height: 24px; width: 24px;
	display: block;
}

.AddNavigationIcon {
	display: none;
}

.UIControlWorkspace .UIPageNodeSelector .UIDropDownItemSelector {
  float: left; 
  width: 200px;
}