.UIWindow .UIContentPortlet {
  overflow: auto ;
}

.UIPageBody .UIContentPortlet {
  background: url('VistaSkin/background/ContentPortletBG.png') repeat;
  padding: 10px;
  overflow: auto ;
}

.UIContentPortlet .ContentPortletContainer {
  padding: 5px 8px;
}

.UIContentPortlet .DecoratorBox .GrayRoundedFillBoxStyle {
  margin: 0px ; 
}

.UIContentPortlet .UIContentNavigation {
  float: left;
  width: 250px;
}

.UIContentPortlet .UIContentWorkingArea {
  margin-left: 260px;
}

.UIContentPortlet .UIContentNavigation .UIToolbar{
  margin-top: 0px;
}

.UIContentPortlet .UIContentNavigation .UIVerticalSlideTabs {
  padding: 7px; padding-bottom: 10px;
  border: 1px solid #aeaeae;
  background:white;
  margin-right: 1px;
}

.UIContentPortlet .UIContentNavigation .UIVerticalSlideTabs .VTabStyle3 {
  margin-top: 4px;
}

.UIContentPortlet .UIContentNavigation .UIVerticalSlideTabs .SelectedVTabStyle3{
  margin-top: 4px;
}

.UIContentPortlet .UIContentNavigation .UpArrowBar {
  width: 34px; height: 20px;
  padding-left: 8px; 
}

.UIContentPortlet .UIContentNavigation .UIVerticalSlideTabs .NavigationUpArrowIcon {
  width: 33px; height: 25px;
  background: url('VistaSkin/background/NavigationUpArrowIcon.png') no-repeat ;
}

.UIContentPortlet .UIContentNavigation .UIVerticalSlideTabs .NodeLevel2 {
	border: 1px #cdcdcd solid; border-top: none;
	margin: 0px 3px 0px 3px;
	background: white;
}

.UIContentPortlet .UIContentNavigation .NavigationControlIcon {
	float: left ;
	margin-left: 10px ;
	margin-top: 4px ;
}

.UIContentPortlet .UIContentNavigation .RSSReaderSymbol {
	float: left ;
	margin-top: 4px ;
	width: 112px; height: 22px;
	background: url('VistaSkin/background/RSSReaderIcon.png') no-repeat;
}

.UIContentPortlet .UIContentNavigation .ExpandButton {
	float: right ;
	margin: 5px 3px 0px 0px ;
  cursor: pointer ;
  width: 16px;  height: 16px ;
  background: url('/eXoResources/icons/16x16/VistaSkin/BlackUpArrow.gif') ; 
}

.UIContentPortlet .UIContentNavigation .CollapseButton {
	float: right ;
	margin:10px 3px 0px 0px ;
  cursor: pointer ;
  width: 16px;  height: 16px ;
  background: url('/eXoResources/icons/16x16/VistaSkin/BlackDownArrow.gif') ;
}

.UIContentPortlet .UIContentNavigation .NavigationIcon {
	float: left ;
	margin: 4px 5px 0px 10px ;
}

.UIContentPortlet .UIContentNavigation .OpenFolderIcon {
	background: url('VistaSkin/background/OpenFolder.png') no-repeat;
	width: 19px; height: 19px;
}

.UIContentPortlet .UIContentNavigation .ClosedFolderIcon {
	background: url('VistaSkin/background/ClosedFolder.png') no-repeat;
	width:19px; height:19px;
}

.UIContentPortlet .UIContentNavigation .NavigationLabel {
  float: left ;
	height: 25px ;
	line-height: 25px ;
	vertical-align: middle ;
	font-weight: bold ; font-size: 11px ;
  color: black ;
  margin-left: 5px;
}

.UIContentPortlet .UIContentNavigation .PortletLabel {
  float: left ;
	height: 25px ; line-height: 25px ; vertical-align: middle ;
	font-size: 11px ; color: black ;
}

.UIContentPortlet .UIContentNavigation .PortletLabel a {
	text-decoration: none;
	color: black ;
  line-height: 18px ;
}

.UIContentPortlet .UIContentNavigation .NavigationLabel a {
	text-decoration: none ;
	color: black ;
}

.UIContentPortlet .UIContentNavigation .VTabStyle3 a:hover {
	text-decoration: none ;
	color: orange ;
}

.UIContentPortlet .UIContentNavigation .NavigationSelected {
	color: #006fa3 ;
}

.UIContentPortlet .UIContentWorkingArea .ContentBreadcumbs {
  height: 33px;
  background: url('VistaSkin/background/ContentBreadcumbsBG1x33.png') repeat-x;
  margin: 0px 30px 5px 0px ; 
}

.UIContentPortlet .UIContentWorkingArea .UIDescription{
  padding: 0px;
  margin: 0px;
}

.UIContentPortlet .UIContentWorkingArea .ContentBreadcumbs .BreadcumbsContainer {
  height: 27px; line-height: 27px;
  font-size: 11px; 
  border: 1px #636a4f solid;
  border-top: none; border-bottom: none;
  padding: 0px 4px 0px 5px;
}

.UIContentPortlet .UIContentWorkingArea .ContentBreadcumbs .Icon {
  float: left;
  width: 24px; height: 24px;
  background: url('/eXoResources/icons/24x24/VistaSkin/NewsIcon.png') no-repeat;
  margin: 2px 0px 0px 0px;
}

.UIContentPortlet .UIContentWorkingArea .ContentBreadcumbs .CategoryName {
  float: left;
  line-height: 22px; vertical-align: middle; 
  color: black; font-weight: bold;
  margin: 3px 0px 0px 10px ;
}

.UIContentPortlet .UIContentWorkingArea .RefreshBar {
  float: right;
}

.UIContentPortlet .UIContentWorkingArea .RefreshIcon {
	float: left ;
	margin: 0px 0px 0px 5px;
	width: 27px; height: 28px;
	background: url('/eXoResources/icons/32x32/VistaSkin/RefreshIcon.png') no-repeat; 
}

.UIContentPortlet .UIContentWorkingArea .NewsDetailLayout {
  border: 1px solid #949494;
}

.UIContentPortlet .UIContentWorkingArea .NewsDetailContainer {
  padding: 4px;
  background: url('VistaSkin/background/PortletBG.png');
}

.UIContentPortlet  .UIContentWorkingArea .NewsDetail {
  border: 1px solid #959595;
  background: white;
  padding: 8px;
}

.UIContentPortlet .UIContentWorkingArea .ContentDetailTitle a {
	color: #006fa3;
	font-size: 11px ;font-weight: bold ;
}

.UIContentPortlet .UIContentWorkingArea .ContentDetailImage {
	float: left ;
	padding: 5px ;
}

.UIContentPortlet .UIContentWorkingArea img {
	border: 0px ;
}

.UIContentPortlet .UIContentWorkingArea .UIFormWithTitle {
	width: 460px;
	margin: 0px 50px;
}

.UIContentPortlet .UIContentWorkingArea .UIFormWithTitle .UIAction {
	width: 190px;
}

.UIContentPortlet .UIContentWorkingArea .DateTime {
	color: #5d5d5e; font-size: 11px; text-align: right;
	padding: 10px 5px 3px 5px;
}

.UIContentPortlet .UIContentWorkingArea .ContentDetailImageDescription {
	color: #1d28fb ;
	text-align: center ;
	font-size: 11px ;
}

.UIContentPortlet .UIContentWorkingArea .ContentDetailDescription {
	padding-left: 20px ;
}

.UIContentPortlet .UIContentWorkingArea .ContentPageIterator {
  width: 340px; height: 30px;
  margin-left: auto;
  margin-top: 3px;
}

.UIContentPortlet .ContentPageIterator .BackIcon {
  float: left;
  width: 17px; height: 17px;
  margin-top: 3px;
}

.UIContentPortlet .ContentPageIterator .NextIcon {
  float: right;
  width: 17px; height: 17px;
  margin-top: 3px;
}

.UIContentPortlet .UIContentWorkingArea .Number {
  float: left ;
  width: 280px;  height: 20px; 
  text-align: center;
  line-height: 20px; vertical-align: middle;
}

.UIContentPortlet .UIContentWorkingArea .Number a {
  margin: 0px 3px 0px 5px ;
  color: black ;
  font-size: 11px ; font-weight: bold ;
}

.UIContentPortlet .UIContentWorkingArea .Number a:hover {
  color: blue ;
}

.UIContentPortlet .UIContentWorkingArea .Number a.PageSelected {
  color: red ;
}