.UIFormTabPane  {
  padding-top: 5px; 
  
}

 .UIFormTabPane .FormTabPaneContainer {
}

 .UIFormTabPane .TabPaneContainer {
  border: none;
  padding: 0px;
}

 .UIFormTabPane .UITabPane {
  border: none;
  margin-bottom: 4px; padding: 0px;
}

 .UIFormTabPane .UITabPane .TabPaneContent .HorizontalLayout {
  border: none;
  margin: 0px; padding: 0px;
}

.UIFormTabPane .UITabPane .TabPaneContent .UITabContentContainer {
  padding: 1px;
  background: url('/eXoResources/background/MacSkin/Background1x4.png');
  border: 1px solid gray; border-top:none;
}

 .UIFormTabPane .UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer .UITabContent {
  margin: 0px;
  background: none;
}