.UIGroupInfoContainer .HorizontalLayout {	
	background: #ffffff;
	border: solid 1px #b7b7b7;
	padding: 1px;
	border-top: none;
}

.UIGroupInfoContainer .HorizontalLayout .FormContainer {
	padding: 7px;
	_padding: 8px 7px 7px;
}

.UIGroupInfoContainer .UIGroupMembershipForm .TitleBar {
	font-weight: normal;
	background: url(background/TitleBG1x20.gif) repeat-x;
	line-height: 18px;
	border: 1px solid #b7b7b7;
}