.UIContainerList {
}

.UIContainerList .ContainerConfigOptions {
	background: url('background/PortletBG.gif');	
	border: solid 1px #afaeae;
	padding: 5px;
	 /*Lamjs comment to show Dropdown above*/
  /*overflow: hidden;*/
}

.UIContainerList .ScrollArea {
	border:solid 1px #b7b7b7; 
}

.UIContainerList .CategoryContainer {
	background: white; 
	padding: 10px 0px 20px 0px;
	margin: 1px;
}
	
.UIContainerList .Title {
	background: url('background/TitleBG1x25.png') repeat-x;
	height: 25px;
}

.UIContainerList .Title .TitleContainer {
	height: 23px;
	border-left: solid 1px #9d9d9d;
	border-right: solid 1px #9d9d9d;
}

.UIContainerList .Title .TitleContainer .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 5px 0px 7px; /* orientation=lt */
	margin: 3px 7px 0px 5px; /* orientation=rt */
	width: 16px; 
	height: 16px;
}

.UIContainerList .Title .TitleContainer .LabelText {
	padding-left: 12px; /* orientation=lt */
	padding-right: 12px; /* orientation=rt */
	height: 22px; line-height: 22px; 
}

.UIContainerList .Title .TitleContainer .ArrowButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
}

.UIContainerList .UIDropDownControl {
	width: 224px;
	margin-bottom: 2px;
}		

.UIContainerList .ContainerIcon {
	padding: 12px 0px 0px 120px;
	margin: 10px 0px 0px 10px;
	height: 45px;
	cursor: move;
}

.UIContainerList .OneRowContainerLayout {
	background: url('background/ContainerList.gif') no-repeat top left;
}

.UIContainerList .TwoRowContainerLayout {
	background: url('background/ContainerList.gif') no-repeat left -60px;
}

.UIContainerList .ThreeRowContainerLayout {
	background: url('background/ContainerList.gif') no-repeat  left -120px;
}

.UIContainerList .TwoColumnContainerLayout {
	background: url('background/ContainerList.gif') no-repeat  left -180px;
}

.UIContainerList .ThreeColumnContainerLayout {
	background: url('background/ContainerList.gif') no-repeat  left -240px;
}

.UIContainerList .TwoTabContainerLayout {
	background: url('background/ContainerList.gif') no-repeat  left -300px;
}

.UIContainerList .ThreeTabContainerLayout {
	background: url('background/ContainerList.gif') no-repeat  left -360px;
}

.UIContainerList .TwoColumnOneRowContainerLayout {
	background: url('background/ContainerList.gif') no-repeat  left -420px;
}

.UIContainerList .OneRowTwoColumnContainerLayout {
	background: url('background/ContainerList.gif') no-repeat  left -480px;
}

.UIContainerList .OneRow2Column1RowContainerLayout {
	background: url('background/ContainerList.gif') no-repeat bottom  left;
}