.UIChagnePortalForm {
  padding: 20px 15px 10px 15px;
}

.UIChagnePortalForm .UITabPane .UITabContentContainer .UITabContent {
	padding: 15px 0px;
}

.UIChagnePortalForm .UITabPane .TabPaneContent {
	padding: 0px;
}

.UIChagnePortalForm #PortalSelector {
  width: 95%;
  margin: auto;
}
