.UIDashboardPortlet {
	height: 100%;
}

.UIWindow .UIDashboard {
	border: none;
	margin: 0px;
}

.UIDashboard {
	border: 1px solid #b7b7b7;
	margin: 5px;
	background: white url('background/BgRepeat.gif') repeat-y top left; /* orientation=lt */
	background: white url('background/BgRepeat-rt.gif') repeat-y top right; /* orientation=rt */
	height: 100%;
}

.UIDashboard .DashboardContainer {
	background: url('background/BgBottom.gif') no-repeat bottom left;
	height: 100%;
}

.UIDashboard .GadgetTitle {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 0px 5px;
	color: #5b5b5b;
	font-weight: bold;
	cursor: move;
	overflow: hidden;
	white-space: nowrap;
}

.UIDashboard .UIDashboardEditForm {
	background: white;
	padding: 10px;
}

/*----------------------UIGadgetsSelectorForm-------------------*/
.UIDashboardSelectContainer {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 209px;
	height: 100%;
}

.UIDashboardSelectContainer .DashboardControlBar {
	height: 23px;
	background: url('background/Dashboard.gif') repeat-x top;
	border-bottom: 1px solid #b7b7b7;
}

.UIDashboardSelectContainer .TitleBar {
	color: black;
	font-weight: bold;
	line-height: 23px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
}

.UIDashboardSelectContainer .CloseIcon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	background: url('background/Dashboard.gif') no-repeat left -180px;
	height: 20px;
	width: 20px;
}

.UIDashboardSelectContainer .DashboardItemContainer {
}

.UIDashboardSelectContainer .DashboardItemContainer .InputContainer {
	padding: 2px;
	background: #ececec;
}

.UIDashboardSelectContainer .DashboardItemContainer .InputContainer input {
	margin: 0 3px 0 0;
	font-size: 11px; width: 170px;
}

.UIDashboardSelectContainer .DashboardItemContainer .GadgetItemsContainer {
	border-top: 1px solid #b7b7b7;
	font-weight: bold;
}

.UIDashboardSelectContainer .DashboardItemContainer .TopItemContainer {
	background: url('background/Dashboard.gif') repeat-x center -37px;
	height: 11px;
	padding: 1px;
	border-bottom: 1px solid #b7b7b7;
	display: none;
}

.UIDashboardSelectContainer .DashboardItemContainer .UpArrowIcon {
	background: url('background/Dashboard.gif') repeat-x center -98px;
	height: 11px; width: 15px;
	margin: auto;
	cursor: pointer;
}

.UIDashboardSelectContainer .DashboardItemContainer .DisableArrowIcon {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
}

.UIDashboardSelectContainer .DashboardItemContainer .MiddleItemContainer {
	overflow: hidden;
}
	
.UIDashboardSelectContainer .DashboardItemContainer .BottomItemContainer {
	background: url('background/Dashboard.gif') repeat-x center -37px;
	height: 11px;
	padding: 1px;
	border-top: 1px solid #b7b7b7;
	display: none;
}

.UIDashboardSelectContainer .DashboardItemContainer .DownArrowIcon {
	background: url('background/Dashboard.gif') repeat-x center -114px;
	height: 11px; width: 15px;
	margin: auto;
	cursor: pointer;
}

.UIDashboardSelectContainer .DashboardItemContainer .DisableContainer {
	background:	url('background/Dashboard.gif') repeat-x center -23px;
}

.UIDashboardSelectContainer .DashboardItemContainer .GadgetCategory {
	padding: 5px 10px;
	text-transform: capitalize;
}

.UIDashboardSelectContainer .GadgetCategory .GadgetTab .LeftCategoryTitleBar {
	padding-left: 8px;
	background: url('background/Catalogue.gif') no-repeat left top;
}

.UIDashboardSelectContainer .GadgetCategory .GadgetTab .RightCategoryTitleBar {
	padding-right: 8px;
	background: url('background/Catalogue.gif') no-repeat right top;
}

.UIDashboardSelectContainer .GadgetCategory .GadgetTab .MiddleCategoryTitleBar {
	background: url('background/Catalogue.gif') repeat-x center -26px;
	height: 26px;
}

.UIDashboardSelectContainer .GadgetCategory .GadgetTab .ArrowIcon {
	background: url('background/Catalogue.gif') no-repeat left -102px; /* orientation=lt */
	background: url('background/Catalogue.gif') no-repeat right -102px; /* orientation=rt */
	line-height: 26px;
	overflow: hidden;
	padding-left: 18px; /* orientation=lt */
	padding-right: 18px; /* orientation=rt */
	color: #286f9b;
}

.UIDashboardSelectContainer .GadgetCategory .SelectedTab .ArrowIcon {
	background: url('background/Catalogue.gif') no-repeat left -76px; /* orientation=lt */
	background: url('background/Catalogue.gif') no-repeat right -76px; /* orientation=rt */
}

.UIDashboardSelectContainer .GadgetCategory .ItemsContainer {
	border: 1px solid #a2c2e2;
	padding: 0px 1px;
	margin-top: 2px;
}

.UIDashboardSelectContainer .GadgetCategory .UIGadget {
	background: url('background/Catalogue.gif') repeat-x left -52px;
	margin: 2px 0px;
	height: 24px;
	line-height: 24px;
	color: #7d7d7d;
	padding: 0px 5px;
}

.UIDashboard .UIDashboardSelectContainer .GadgetTitle {
	width: 150px;	
	float: none;
}

/*----------------------UIGadgetsContainer-------------------*/

.UIDashboard .UIGadget .GadgetControl {
	float: none;
	padding: 0px;
	height: auto; width: auto;
}

.UIDashboard .UIGadget .GadgetControl .LeftControlBar {
	background: url('background/Dashboard.gif') no-repeat left -51px;
	padding: 0px 0px 0px 3px;
}

.UIDashboard .UIGadget .GadgetControl .RightControlBar {
	background: url('background/Dashboard.gif') no-repeat right -51px;
	padding: 0px 3px 0px 0px;
}

.UIDashboard .UIGadget .GadgetControl .CenterControlBar {
	background: url('background/Dashboard.gif') repeat-x center -73px;
	height: 22px;
	line-height: 22px;
}

.UIDashboard .UIGadget .GadgetControl .GadgetDragHandleArea {
	display: none;
}	

.UIDashboard .UIGadget .TLGadget {
	display: none;
}

.UIDashboard .UIGadget .MLGadget {
	background: none;
	border: 1px solid #81a7c6;
	border-top: none;
}

.UIDashboard .UIGadget .MRGadget {
	background: none;
}

.UIDashboard .UIGadget .BLGadget {
	display: none;
}

/*------------------UIDashboardContainer----------------*/

.UIDashboardContainer {
	background: white;
	height: 100%;
}

.UIDashboard .UIDashboardContainer .GadgetTitle {
	width: 230px;	
}

.UIDashboardContainer .GadgetContainer {
	overflow: auto;
	height: 100%;
//	min-height: 400px;
}

/**html .UIDashboardContainer .GadgetContainer {
	height: 400px;
}*/

.UIDashboardContainer .GadgetContainer .ContainerControlBarL {
	padding: 5px 10px;
}

.UIDashboardContainer .ContainerControlBarL .AddIcon {
	background: url('background/Dashboard.gif') no-repeat left -200px; /* orientation=lt */
	background: url('background/Dashboard.gif') no-repeat right -200px; /* orientation=rt */
	padding-left: 30px; /* orientation=lt */
	padding-right: 30px; /* orientation=rt */
	width: 200px; /* orientation=rt */
	font-weight: bold; font-size: 12px;
	display: block;
	line-height: 22px;
}

.UIDashboardContainer .GadgetContainer .AddIcon a {
	text-decoration: underline;
	color: #292929;
	cursor: pointer;
}

.UIDashboardContainer .GadgetContainer .AddIcon a:hover {
	text-decoration: none;
}

.GadgetContainer .UIColumns {
}

.GadgetContainer .UIColumn {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 325px;
	padding: 2px 0px;
}

.UIDashboardContainer .UIGadget {
	margin: 0px 5px 10px 5px;
	width: 320px;
}
.UIDashboardContainer .UIGadget .GadgetMenuBar{
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
}

.UIDashboardContainer .UITarget {
	border: 2px dashed red;
	margin: 0px 5px 10px 5px;
}

.UIDashboard .Dragging {
	margin: 3px 0px 0px 3px; /* orientation=lt */
	margin: 3px 3px 0px 0px; /* orientation=rt */
}

