.UIWidgetContainerManagement {
	padding: 15px 15px 5px 15px;
}

.UIWidgetContainerManagement .ContainerManagementBlock {
	border: 1px solid #c2c2c2;
  border-top: none;
}

.UIWidgetContainerManagement .ContainerManagementDetail{
	border: 1px solid #ffffff;
  border-top: none;
  padding: 5px; 
  background: #f7f7f7;
}

.UIWidgetContainerManagement .CategoryTitleBar {
	height: 20px;
	background: url('/eXoSkinMac/skin/MacSkin/background/TitleBG1x19.gif') repeat-x bottom;
	border-bottom: 1px #b7b7b7 solid;
	padding-right: 10px;
}

.UIWidgetContainerManagement .CategoryTitleBar .Title {
	float: left;
	line-height: 20px;
	padding-left: 8px;
	color: #424242; font-weight: bold;
}

.UIWidgetContainerManagement .AddContainerIcon {
	width: 16px;
	height: 16px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/AddIcon.gif');
	float: right;
	margin: 2px 5px;
	display: inline;
}

.UIWidgetContainerManagement .ContainerList {
	padding: 5px;
}

.UIWidgetContainerManagement .ContainerList .EmptyListMessage {
	padding: 10px 15px;
	color: #797979;
}

.UIWidgetContainerManagement .ContainerList .NormalItem {
	cursor: pointer ;
	color: #000000;
	text-decoration: none;
	line-height: 21px;
	padding-left: 27px;
}

.UIWidgetContainerManagement .ContainerList .SelectedItem {
	cursor: pointer ;
	display: block;
	color: #0e3fa8;
	text-decoration: none;
	line-height: 21px;
	background: #f0f0f0 url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/CheckerIcon.gif') no-repeat 10px 4px;
	padding-left: 27px;
}

.UIWidgetContainerManagement .ContainerList a:hover{
	color: #124ed7;
}

.UIWidgetContainerManagement .Icon {
	float: right;
	width: 18px; height: 18px;
	margin: 1px 3px 0px 3px;
}

.UIWidgetContainerManagement .AddContainer {
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/AquaBlueAddSign.gif') no-repeat center;
}

.UIWidgetContainerManagement .EditContainer {
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/EditIcon.png') no-repeat center;
}

.UIWidgetContainerManagement .RemoveContainer{
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DeleteIcon.png') no-repeat center;
}

.UIWidgetContainerManagement .CategoryTitle {
	background: url('/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UIWidgetContainerManagement/background/HLineSeparator193x1.gif') no-repeat left bottom ;
	padding: 8px 0px 4px 10px;
}

/*===================== Begin the Widget Container Category ==========================*/
.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerCategory {
	float: left;
	width: 255px; height: 275px;
	background: white; 
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #b7b7b7;
}

/*===================== Begin the Widget Container View ==========================*/
.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerView {
	background: url('/eXoSkinMac/skin/MacSkin/background/Background1x4.png');
	border: 1px #b7b7b7 solid;
	margin-left: 260px;
	padding: 10px;
}

.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerView .WidgetContainerDetail {
  background: white;
	border: 1px solid #dcdcdc;
	height: 253px; margin: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

.UIWidgetContainerManagement .WidgetContainerView .ContainerDetail {
	padding: 10px 10px 0px 0px;
	width: 90%;
}

.UIWidgetContainerManagement .WidgetContainerView .HeadTitle {
	color: #424242;
	font-weight: bold;
	padding-left: 8px;
	text-align: center;
}

.UIWidgetContainerManagement .WidgetContainerView .RemoveContainerAction{
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DeleteIcon.gif') no-repeat left center;
	padding:0px 55px 0px 23px;
	height: 22px; line-height: 22px;
	float: right;
	color: #000000;
	display: block; cursor: pointer;
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent {
	padding: 20px 0px;
	width: 99.9%;
	margin: auto;
}

.UIWidgetContainerManagement .ContainerManagementDetail .Empty {
	color: #797979;
	width: 100%;
	line-height: 20px;
	text-align: center;	
	padding: 20px 0px;	
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent .Label {
	width: 140px;
	text-align: right;
	line-height: 20px;
	float: left;
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent .FieldComponent {
	margin-left: 143px;	
	line-height: 20px;
	color: #058ee6;
	font-size: 12px;
}

.UIWidgetContainerManagement .WidgetContainerView .Detail .InfoContent .FieldComponent {
	/*modified by tan.pham.dinh
	 * to break long string (container description) in widget containers management in IE6+
	 */
	*word-wrap: break-word;	
}