.UIWelcomePortlet {	
	height: 38px; line-height: 38px;
	float: right;
	width: 380px;
}

.UIWelcomePortlet .WelcomeText {
	color: black; font-size: 12px;
	height: 20px; line-height: 20px;
	float: left;
}

.UIWelcomePortlet .LoggedUser {
	float:left;
	height: 20px;line-height: 20px;
	text-align: left; color: blue; font-size: 12px;
	margin-left: 5px;
}

.UIWelcomePortlet .LogOut a{
	padding-right: 15px;
	float: right;
	margin-left: 10px;
}

.UIWelcomePortlet .LogOutIcon {
	width: 24px; height: 24px;
	background: url('MacSkin/background/NormalRedLogoutIcon.png') no-repeat;
}

.UIWelcomePortlet .LogOut a:hover {
	width: 24px; height: 24px;
	background: url('MacSkin/background/OverLogoutIcon.png') no-repeat;
}

.UIWelcomePortlet .UILoginForm {
	width: 365px;
	margin-left: auto; padding-right: 3px;
	height: 22px; line-height: 22px; vertical-align: top;
}

.UIWelcomePortlet .UILoginForm a {
	float: left;
}

.UIWelcomePortlet .UIForm {
	overflow: hidden;
	width: 100%;	
	height: 24px;
	margin-top: 0px;
}

.UIWelcomePortlet .UILoginForm .UIForm .FieldContainer {
	float: left;
	width: auto;
	padding: 0px;
	margin-top: 0px;
	margin-right: 7px;
}

.UIWelcomePortlet .UILoginForm .UIForm label {
	color: black;
	margin-left: 2px;
	width: auto; 
}

.UIWelcomePortlet .UILoginForm .UIForm input {
	width: 100px;
	height: 12px;
}

.UIWelcomePortlet .Button {
	background: url('/eXoResources/icons/24x24/MacSkin/BlueLoginIcon.gif') no-repeat center;
	cursor: pointer;
}

.UIWelcomePortlet .UILoginForm	a{
	width: 22px; height: 22px;
	background: url('MacSkin/background/GrayLoginIcon.gif') no-repeat center;
}

.UIWelcomePortlet .UILoginForm	a:hover {
	width: 22px; height: 22px;
	background: url('MacSkin/background/BlueLoginIcon.gif') no-repeat center;
}