.UIAccountSettingForm {
  padding: 10px;
}

.UIAccountSettingForm .UITabPane .UITabContentContainer .UITabContent{
  padding: 0px;
}

.UIAccountSettingForm .UITabPane .TabPaneContent .UITabContentContainer {
	border: 1px solid #999999;
}

.UIAccountSettingForm .ContentContainer {
  border: 1px solid #d4d4d4;
  border-top: none;
}

.UIAccountSettingForm .WorkingArea {
  padding: 10px 5px;
  height: 250px;
  border: 1px solid white;
  border-top: none;
}

.UIAccountSettingForm .UIHorizontalTabs {
  color: #202020; font-weight: normal;
  height: 30px;
}

.UIAccountSettingForm .UIHorizontalTabs .LeftHorizontalTabs {
  padding-left: 11px; 
  background: url('background/HorizontalTabs.gif') no-repeat left top;
}

.UIAccountSettingForm .UIHorizontalTabs .RightHorizontalTabs {
  padding-right: 11px;
  background: url('background/HorizontalTabs.gif') no-repeat right top;
}

.UIAccountSettingForm .UIHorizontalTabs .CenterHorizontalTabs {
  background: url('background/HorizontalTabs.gif') repeat-x left -30px;
  cursor: pointer;
  padding: 0px 11px 0px 4px;
  height: 30px;
  line-height: 30px;
}

.UIAccountSettingForm .UIHorizontalTabs .TabsContainer {
	height: 30px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab a.Icon {
	padding-left: 20px;
	display: block;
	line-height: 26px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .AccountProfiles {
	background: url('background/HorizontalTabs.gif') no-repeat left -60px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .ChangePass {
	background: url('background/HorizontalTabs.gif') no-repeat left -86px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .NormalTab a {
	font-weight: bold;
	color: gray; 
	margin-top: 2px;
}

.UIAccountSettingForm .UIHorizontalTabs .NormalTab .MiddleTab {
  cursor: pointer;
  padding: 0px 6px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .HighlightTab a {
	font-weight: bold;
	color: #058ee6; 
	margin-top: 2px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .SelectedTab a {
	font-weight: bold;
	color: #058ee6; 
	margin-top: 2px;
}

.UIAccountSettingForm .UIHorizontalTabs .SelectedTab .MiddleTab {
  line-height: 30px;
  background: url('background/HorizontalTabs.gif') repeat-x bottom;
  cursor: pointer;
  padding: 0px 6px;
}

.UIAccountSettingForm .UIHorizontalTabs .LineSeparator {
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  background: url('background/LineSeparator2x29.gif') repeat-y left; /* orientation=lt */
  background: url('background/LineSeparator2x29-rt.gif') repeat-y right; /* orientation=rt */
  height: 29px;  
	width: 2px;
  margin-top: 1px;
}

.UIAccountSettingForm .UITabPane .UIForm .HorizontalLayout {
	padding: 10px;
}

.UIAccountSettingForm .UIForm .UIAction {
	padding-top: 18px;
}