

.UIPageDesktop .UIWindow .WindowBarCenter .WindowPortletInfo {
  cursor: move;
}

/*##########################################################*/
.UIPageDesktop .UIWindow {
  width: 780px ;	
}

.UIWindow .UIApplication {
	overflow: auto;
}

/**************************** UIPageBody ************************************/

.UIWindow {
  width: 98.5% ; height: auto; /*Fix bug for IE6*/
  margin: auto;
}

.UIPageBody .UIWindow .UIContentPortlet{
  border: none;
  margin: 0px;
}

.UIPageBody .UIWindow .UIApplication {
  height: auto ;
}

.UIPageBody .UIWindow .ResizeArea {
  float: right ;
  width: 0px ; height: 0px ;
  background: none;
}

.UIPageBody .Empty {
  width: 500px;
  margin: 0px auto;
	padding: 30px 0px;
}

.UIPageBody .UIPortalWarning {
  font-family: tahoma;
  font-size: 12px;
}

.UIPageBody .UIPortalWarning .LeftTopWarning {
  background: url('/eXoResources/skin/sharedImages/LeftTopWarning7x58.gif') no-repeat left top;	
  height: 40px;
  padding-left: 7px;
}

.UIPageBody .UIPortalWarning .RightTopWarning {
  background: url('/eXoResources/skin/sharedImages/RightTopWarning7x58.gif') no-repeat right top;	
  height: 40px;
  padding-right: 7px;
}

.UIPageBody .UIPortalWarning .CenterTopWaring {
  background: url('/eXoResources/skin/sharedImages/CenterTopWarning1x58.gif') repeat-x top;	
  height: 40px;
  line-height: 40px;
}

.UIPageBody .UIPortalWarning .CenterTopWaring  .TitleWaring {
  background: url('/eXoResources/skin/sharedImages/WarningIcon.gif') no-repeat left center;	
  padding-left: 50px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-align: left;
  margin-left: 20px;
}

.UIPageBody .UIPortalWarning .LeftMiddleWarning {
  background: white url('/eXoResources/skin/sharedImages/LeftMiddleWarning7x1.gif') repeat-y left;	
  padding-left: 7px;
}

.UIPageBody .UIPortalWarning .RightMiddleWarning {
  background: url('/eXoResources/skin/sharedImages/RightMiddleWarning7x1.gif') repeat-y right;	
  text-align: left;
  padding: 30px 30px 50px 30px;
}

.UIPageBody .UIPortalWarning .RightMiddleWarning .Icon {
  background: url('/eXoResources/skin/sharedImages/BlueNextArrow.gif') no-repeat left 5px;	
  padding: 6px 0px 6px 20px;
  text-align: left;
}

.UIPageBody .UIPortalWarning .LeftBottomWarning {
  background: url('/eXoResources/skin/sharedImages/LeftBottomWarning7x7.gif') no-repeat left center;	
  height: 7px;
  padding-left: 7px;
}

.UIPageBody .UIPortalWarning .RightBottomWarning {
  background: url('/eXoResources/skin/sharedImages/RightBottomWarning7x7.gif') no-repeat right center;	
  height: 7px;
  padding-right: 7px;
}

.UIPageBody .UIPortalWarning .CenterBottomWaring {
  background: url('/eXoResources/skin/sharedImages/CenterBottomWarning1x7.gif') repeat-x center;	
  height: 7px;
}