.UIRightClickPopupMenu {
  width: 170px;
  display: none;
  position: absolute;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer {
  padding: 5px 0px;
  background: #ffffff;
}

.UIRightClickPopupMenu .MenuItem {
  clear: both;
  cursor: pointer;
  line-height: 24px;
}

.UIRightClickPopupMenu .RightClickCustomItem {
	display: none;
}
	
.UIRightClickPopupMenu .SelectedMenuItem {
  clear: both;
  cursor: pointer;
  line-height: 24px;
  background: #dee4f2;
}

.UIRightClickPopupMenu .ItemIcon {
  float: left;
  width: 24px; height: 24px;
  margin: 0px 3px;
	background-repeat: no-repeat;
	background-position: center;
}

.UIRightClickPopupMenu .Rename16x16Icon{
   background-image: url('/eXoResources/icons/16x16/VistaSkin/Rename.gif') ;   
}

.UIRightClickPopupMenu .AddNode16x16Icon{
  background-image: url('/eXoResources/icons/16x16/VistaSkin/BlueCirclePlus.png') ;
}

.UIRightClickPopupMenu .EditPageNode16x16Icon{
  background-image: url('/eXoResources/icons/16x16/VistaSkin/EditPageNode.png') ;
}

.UIRightClickPopupMenu .EditSelectedNode16x16Icon{
  background-image: url('/eXoResources/icons/16x16/VistaSkin/EditNode.png') ;
}

.UIRightClickPopupMenu .CutNode16x16Icon{
  background-image: url('/eXoResources/icons/16x16/VistaSkin/icon-cut.gif') ;
}

.UIRightClickPopupMenu .CopyNode16x16Icon{
  background-image: url('/eXoResources/icons/16x16/VistaSkin/CopyIcon.png') ;
}

.UIRightClickPopupMenu .PasteNode16x16Icon{
  background-image: url('/eXoResources/icons/16x16/VistaSkin/PasteIcon.png') ;
}

.UIRightClickPopupMenu .DeleteNode16x16Icon{
  background-image: url('/eXoResources/icons/16x16/VistaSkin/DustBin.png') ;
}

.UIRightClickPopupMenu .DeleteNavigation16x16Icon {
  background-image: url('/eXoResources/icons/16x16/VistaSkin/DustBin.png') ;
}

.UIRightClickPopupMenu .PasteNavigation16x16Icon {
  background-image: url('/eXoResources/icons/16x16/VistaSkin/PasteIcon.gif') ;
}

.UIRightClickPopupMenu .EditNavigation16x16Icon {
  background-image: url('/eXoResources/icons/16x16/VistaSkin/Pencil.png') ;
}

.UIRightClickPopupMenu .SaveNavigation16x16Icon {
  background-image: url('/eXoResources/icons/16x16/VistaSkin/FloppyDisk.gif') ;
}

.UIRightClickPopupMenu a {
  color: black;
  text-decoration: none;
}

.UIRightClickPopupMenu a:hover {
  color: orange;
}

.UIRightClickPopupMenu .TopLeftRightClickPopupMenu {
	background: url('VistaSkin/background/TopLeftRightClickPopupMenu16x14.png') no-repeat left;
	padding-left: 16px;
}

.UIRightClickPopupMenu .TopRightRightClickPopupMenu {
	background: url('VistaSkin/background/TopRightRightClickPopupMenu18x14.png') no-repeat right;
	padding-right: 18px;
}

.UIRightClickPopupMenu .TopCenterRightClickPopupMenu {
	background: url('VistaSkin/background/TopCenterRightClickPopupMenu1x14.png') repeat-x ;
	height: 14px;
}

.UIRightClickPopupMenu .MiddleLeftRightClickPopupMenu {
	background: url('VistaSkin/background/MiddleLeftRightClickPopupMenu11x1.png') repeat-y left;
	padding-left: 11px;
}

.UIRightClickPopupMenu .MiddleRightRightClickPopupMenu {
	background: url('VistaSkin/background/MiddleRightRightClickPopupMenu13x1.png') repeat-y right;
	padding-right: 13px;
}

.UIRightClickPopupMenu .BottomLeftRightClickPopupMenu {
	background: url('VistaSkin/background/BottomLeftRightClickPopupMenu17x19.png') no-repeat left;
	padding-left: 17px;
}

.UIRightClickPopupMenu .BottomRightRightClickPopupMenu {
	background: url('VistaSkin/background/BottomRightRightClickPopupMenu18x19.png') no-repeat right;
	padding-right: 18px;
}

.UIRightClickPopupMenu .BottomCenterRightClickPopupMenu {
	background: url('VistaSkin/background/BottomCenterRightClickPopupMenu1x19.png') repeat-x ;
	height: 19px;
}