.UIInfoWidget {
	margin: auto;
	padding: 10px 0px 0px 0px;
	width: 185px; height: 206px;
	background: url('VistaSkin/background/InfoImage185x203.png') no-repeat center;
}

.UIInfoWidget .eXoInfoWidgetTitle{
	margin: auto;
	padding: 30px 0px 5px 0px;
	width: 192px;
	font-weight: bold;
	font-family: arial; font-size: 14px;
	text-align: center;
}

.UIInfoWidget .InfoTitle{
	margin: auto;
	padding-top: 10px;
	width: 192px;
	color: #1f1f1f;
	font-size: 11px;
	text-align: center;
} 

.UIInfoWidget .BrowserIconContainer {
	margin: auto;
	padding-top: 10px;
	width: 180px;
	height: 32px;
} 

.UIInfoWidget .BrowserIconContainer .BrowserIcon {
	float: left;
	width: 32px; height: 32px;
	margin-left: 10px;
	cursor: pointer;
}

.UIInfoWidget .BrowserIconContainer .FirefoxIcon {
	background: url('VistaSkin/icons/FirefoxIcon.png') no-repeat center;	
}

.UIInfoWidget .BrowserIconContainer .IE7Icon {
	background: url('VistaSkin/icons/IE7Icon.png') no-repeat center;	
}

.UIInfoWidget .BrowserIconContainer .IE6Icon {
	background: url('VistaSkin/icons/IE6Icon.png') no-repeat center;	
}

.UIInfoWidget .BrowserIconContainer .SafariIcon {
	background: url('VistaSkin/icons/SafariIcon.png') no-repeat center;	
}

.UIInfoWidget .DownloadButton {
	width: 120px; height: 22px;
	margin: auto;
	margin-top: 23px;
}

.UIInfoWidget .DownloadButton .LeftButton{
	height: 22px;
	padding-left: 8px;
	background: url('VistaSkin/background/LeftDownloadButton8x22.png') no-repeat left;	
}

.UIInfoWidget .DownloadButton .RightButton{
	height: 22px;
	padding-right: 8px;
	background: url('VistaSkin/background/RightDownloadButton8x22.png') no-repeat right;	
}

.UIInfoWidget .DownloadButton .MiddleButton{
	height: 22px;
	background: url('VistaSkin/background/CenterDownloadButton1x22.png') repeat-x;
	text-align:center;
}

.UIInfoWidget .DownloadButton a{
	line-height: 22px;
	color: #1f1f1f;
	font-size: 11px; font-weight: bold;
}

.UIInfoWidget .DownloadButton a:hover{
	color: #d79a2f;
}