.UIPageBrowser {
}

.UIPageBrowser .UIAction {
	width: 140px;
}

.UIPageBrowser .UIAction .ActionContainer .ActionButton {
	width: 130px;
	margin: auto;
}


.UIPageBrowser .UIGrid .ActionContainer {  
  margin: auto ;
  width: 70px; height: 16px;
}