.UIBannerPortlet {
	zoom: 100%;
}

.UIBannerPortlet .LeftBanner {
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
}

.UIBannerPortlet .RightBanner {
	background: url('VistaSkin/background/Logo.png') no-repeat left 11px; /* orientation=lt */
	background: url('VistaSkin/background/Logo.png') no-repeat right -39px; /* orientation=rt */
}

.UIBannerPortlet .MiddleBanner {
	height: 43px;
}

.UIBannerPortlet .LeftLoginContainer {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIBannerPortlet .RightLoginContainer {
}

.UIBannerPortlet .MiddleLoginContainer {
	padding: 5px 15px 1px;
}

.UIBannerPortlet .Signin {

}

.UIBannerPortlet .MiddleLoginContainer a {
	color: #0d62af;
	outline: none;
}

.UIBannerPortlet .MiddleLoginContainer a:hover {
	color: #e7e7e7;
}

.UIBannerPortlet .MiddleLoginContainer .Name {
	text-align: left;	 
	color: #666666;
	margin-bottom: 6px;
	line-height: 35px;
	float: left;
}

.UIBannerPortlet .MiddleLoginContainer .Logout {
	margin-right: 12px;
	cursor: pointer;
	float: left;	
	font-weight: bold;
	display: block;
	line-height: 35px;
	color: white;
}

.UIBannerPortlet .MiddleLoginContainer .Login {
	margin-right: 12px;	
	cursor: pointer;
	float: left;	 	
	font-weight: bold;
	display: block;
	line-height: 35px;
	color: white;
	background: none;
}

.UIBannerPortlet .MiddleLoginContainer .Register {
	margin-right: 12px;	
	cursor: pointer;
	float: left;	 	
	font-weight: bold;
	display: block;
	line-height: 35px;
	color: white;
	background: none;
}
 
.UIBannerPortlet .MiddleLoginContainer .Language {
	cursor: pointer;
	font-weight: bold;
	float: left;
	display: block;
	line-height: 35px;
	color: white;
}