.UIPortalManagement {
  padding: 0px 1px 1px 1px ;
}

.UIPortalManagement .TopTitleBar {
  padding: 15px 0px;
}

.UIPortalManagement .ViewModeIcon {
  float: left ;
  width: 30px ; height: 25px ;
  margin: 5px 10px 4px 20px ;
  background: url('background/ViewMode.gif') no-repeat ;
}

.UIPortalManagement .EditModeIcon {
  float: left; 
  width: 30px;  height: 25px;
  margin: 5px 10px 4px 14px;
  background: url('background/EditMode.gif') no-repeat;
}
.UIPortalManagement .RollbackBar {
  width: 125px;
  margin: auto;
  margin-top: 15px;
}

.UIPortalManagement .BrowserPortalIcon {
  float: left; 
  width: 31px;  height: 25px;
  margin: 5px 10px 4px 14px;
  background: url('background/BrowsePortal.gif') no-repeat;
}

.UIPortalManagement .UIToolbar .ControlToolbar {
	margin: 10px 2px 0px 95px; 
}

.UIPortalManagement .RollbackIcon {
  float: left;
  width: 30px;  height: 25px;
  margin: 2px 0px 0px 0px;
  background: url('background/BlueCircleBackArrow.png') no-repeat;
}

.UIPortalManagement .UIPortalManagementEditBar {
  padding: 0px 5px;
}

.UIPortalManagement .UIPortalManagementEditBar .EditContainerIcon {
	margin: 4px 11px 0px 11px;
  width: 30px;  height: 24px;
  background: url('/eXoResources/icons/24x24/ShowContainerControlIcon.png') no-repeat;
}

.UIPortalManagement .UIPortalManagementEditBar .EditPortletIcon {
	margin: 4px 11px 0px 11px;
  width: 30px;  height: 24px;
  background: url('/eXoResources/icons/24x24/ShowPortletControlIcon.png') no-repeat;
}

.UIPortalManagement .UIPortalManagementEditBar .LayoutModeIcon {
  float: left;
  margin: 4px 11px 0px 11px;
  width: 24px;  height: 24px;
  cursor : pointer;
  background: url('/eXoResources/icons/24x24/LayoutMode.gif') no-repeat;
}

.UIPortalManagement .UIPortalManagementEditBar .PreviewIcon {
  margin: 4px 11px 0px 18px;
  width: 30px;  height: 24px;  
  background: url('/eXoResources/icons/24x24/Preview.png') no-repeat;
}

.UIPortalManagement .UIPortalManagementEditBar .EditPortalIcon { 
  margin: 4px 11px 0px 11px;
  width: 30px;  height: 24px;
  background: url('/eXoResources/icons/24x24/ShowPortalControl.png');
}

.UIPortalManagement .UIPortalManagementEditBar .SavePortalIcon {
  float: left;
  width: 30px;  height: 24px;
  margin: 4px 7px;
  background: url('/eXoResources/icons/24x24/BlackFloppyDisk.png') no-repeat;
}

.UIPortalManagement .UIToolbar .PolyToolbar .MiddleBar {
  padding: 2px 0px 0px 20px;
}

.UIPortalManagement .PortletOptions{
  padding: 0px 3px;
}