<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
  <display-name>Cometd Test WebApp</display-name>
  
    <!--filter>
      <filter-name>PortalContainerInitializedFilter</filter-name>
      <filter-class>org.exoplatform.frameworks.jcr.web.PortalContainerInitializedFilter</filter-class>
    </filter>

    < filter>
      <filter-name>FactoryInitializedFilter</filter-name>
      <filter-class>org.exoplatform.frameworks.jcr.web.SimpleSessionFactoryInitializedFilter</filter-class>
    </filter>

    <filter-mapping>
      <filter-name>FactoryInitializedFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
      <filter-name>PortalContainerInitializedFilter</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping -->
    <listener>
          <listener-class>org.exoplatform.ws.frameworks.servlet.StandaloneContainerInitializedListener</listener-class>
     </listener>
	    
  
  <servlet>
    <servlet-name>cometd</servlet-name>
    <servlet-class>org.mortbay.cometd.continuation.EXoContinuationCometdServlet</servlet-class>
    <init-param>
      <param-name>filters</param-name>
      <param-value>/WEB-INF/filters.json</param-value>
    </init-param>
    <init-param>
      <param-name>timeout</param-name>
      <param-value>12000</param-value>
    </init-param>
    <init-param>
      <param-name>interval</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>multiFrameInterval</param-name>
      <param-value>1500</param-value>
    </init-param>
    <init-param>
      <param-name>logLevel</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>JSONCommented</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>alwaysResumePoll</param-name>
      <param-value>false</param-value> <!-- use true for x-site cometd -->
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>cometd</servlet-name>
    <url-pattern>/cometd/*</url-pattern>
  </servlet-mapping>
  
</web-app>


