.UITabPane {
}

.UITabPane .TabPaneContent {
  width: 100%;
  overflow:  hidden ;
}

.UITabPane .TabPaneContent .WorkingArea {
}

.UITabPane .TabPaneContent .WorkingArea .UITabContentContainer .UITabContent {
  padding: 8px ;
  border: solid 1px #ffffff; border-top: none;
}

.UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer {
  border: solid 1px #b7b7b7;
  background: url('/eXoResources/background/MacSkin/Background1x4.png');
}

.UITabPane .TabPaneContent .WorkingAreaWithHelp .UITabContentContainer .UITabContent {
  background: #efefef;
  border: solid 1px #c2c2c2;
  padding: 5px ;
}
