.UIWindow .UII18nPortlet {
	margin: 0px;
	border: none;
	height: auto;
	overflow: visible;
}	

.UII18nPortlet {
	padding: 10px;
	background: white;
	border: 1px solid #b7b7b7;
	margin: 5px;
	overflow: auto;
}

.UII18nPortlet .UIGrid {
	border: 1px solid #b7b7b7;
	border-collapse: collapse;
	padding-left: 1px;
	width: 99%;
	margin: auto;
}

.UII18nPortlet .UISearchI18n {
	margin: 15px auto;
	width: 550px;
}

.UII18nPortlet .UIEditResource {
	margin: 30px auto;
}

.UII18nPortlet .UIFormWithTitle .TitleBar {
	font-weight: bold;
}

.UII18nPortlet .UIEditResource {
	width: 600px;
}

.UII18nPortlet .UIForm .HorizontalLayout textarea	{
	width: 400px;
	height: 300px;
}