.UIResourcesPortlet {
  border: solid 1px red;
  padding: 100px;
  background: yellow;
}

.UIWindow .UII18nPortlet {
	margin: 0px;
	border: none;
}

.UII18nPortlet {
	padding: 10px;
	background: white;
	margin: 7px 10px;
	border: 1px solid #b7b7b7;
}

.UII18nPortlet .UISearchI18n {
	margin: 15px auto;
	width: 500px;
}

.UII18nPortlet .UIEditResource {
	margin: 30px auto;
}

.UII18nPortlet .UIFormWithTitle .TitleBar {
	font-weight: bold;
}

.UII18nPortlet .UIEditResource {
	width: 600px;
}

.UII18nPortlet .UIForm .HorizontalLayout textarea  {
	width: 400px;
	height: 300px;
}