.UIChangeSkinForm {
}

.UIChangeSkinForm .UITabContent {
  background: url('/eXoResources/background/Background1x4.png') repeat;
  border: none;
}

.UIChangeSkinForm .UIFormTabPane .TabPaneContent .UITabContentContainer {
	height: auto;
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemListContainer {
	float: left;
	width: 175px;
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemDetailList {
	margin: 0px 0px 0px 180px;
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemDetailList .ItemDetail {
  background: #fafafa;
}

.UIChangeSkinForm .UIItemSelector .ItemDetail .TemplateContainer {
	padding-top: 25px;
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .DefaultImage {
	margin: auto;
	width: 316px; height: 191px;
	background: url('DefaultSkin/background/DefaultImage.jpg') no-repeat center;
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .MacImage {
	margin: auto;
	width: 316px; height: 191px;
	background: url('DefaultSkin/background/MacImage.jpg') no-repeat center;
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .VistaImage {
	margin: auto;
	width: 316px; height: 191px;
	background: url('DefaultSkin/background/VistaImage.jpg') no-repeat center;
}

.UIChangeSkinForm .UIItemSelector .ItemListContainer .ItemList {
  background: #fafafa url('background/ItemListBg157x103.gif') no-repeat bottom;
}

.UIChangeSkinForm .UIForm .HorizontalLayout .UIAction {
  width: 180px;
}