.UIToolbar {
}

.UIToolbar .Button {
  cursor: pointer;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  padding: 0px 15px;
   margin: 1px 2px;
  height: 64px; line-height: 64px; vertical-align: middle;
}

.UIToolbar .HorizontalSeparator {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 6px 2px 0px 0px;
  width: 2px; 
  height: 54px;
  background: url('background/SeparateLineBg2x3.gif') repeat-y;
}

/*##############################- LargeToolbar style -#########################*/

.UIToolbar .LargeToolbar {
  height: 69px; 
  line-height: 69px;
}

.UIToolbar .LargeToolbar .LeftToolbar {
  background: url('background/TopLargeToolbar.gif') no-repeat left top;
  padding-left: 7px;
}

.UIToolbar .LargeToolbar .RightToolbar {
  background: url('background/TopLargeToolbar.gif') no-repeat right top;
  padding-right: 7px;
}

.UIToolbar .LargeToolbar .MiddleToolbar {
  height: 69px; 
  line-height: 69px;
  padding: 0px 15px;
  background: url('background/TopLargeToolbar.gif') repeat-x left -69px;
}

.UIToolbar .LargeToolbar a {
  color: #000;
  height: 62px; 
  line-height: 62px;
}

.UIToolbar .LargeToolbar a:hover{
  color: white;
  background: #1e44f6;
}

.UIToolbar .LargeToolbar .ButtonLabel {
  height: 18px; line-height: 18px;
  vertical-align: middle;
  font-weight: bold;  
}

.UIToolbar .LargeToolbar .HorizontalSeparator {
  float: left; 		/* orientation=lt */
  float: right; 	/* orientation=rt */
  margin: 0px;
  width: 1px; 
  height: 50px ;
  background: none;
}

.UIToolbar .LargeToolbar .SelectButtonLabel {
  line-height: 18px;
  font-weight: bold;
  color: #058ee6;
}

.UIToolbar .LargeToolbar .ManagementIconContainer {
  padding-top: 2px;
}

.UIToolbar .LargeToolbar .UserButton {
  float: left; 		/* orientation=lt */
  float: right; 	/* orientation=rt */
  width: 160px;
  cursor: pointer;
  text-align: center;
}

.UIToolbar .LargeToolbar .GroupButton {
  float: left; 		/* orientation=lt */
  float: right; 	/* orientation=rt */
  width: 160px;
  cursor: pointer;
  text-align: center;
}

.UIToolbar .LargeToolbar .ManagementTabContent {
  width: 99.4%;
  margin: 4px auto 2px auto;
}


.UIToolbar .LargeToolbar .MembershipButton {
  float: left; 		/* orientation=lt */
  float: right; 	/* orientation=rt */
  width: 180px;
  cursor: pointer;
  text-align: center;
}

.UIToolbar .LargeToolbar .UserManagementIcon {
  width: 32px ; 
  height: 30px ;
  background: url('background/IconLargeToolbar.png') no-repeat center top;
  margin: 7px auto 0px auto;
}

.UIToolbar .LargeToolbar .GroupManagementIcon {
  width: 32px ; 
  height: 30px ;
  background: url('background/IconLargeToolbar.png') no-repeat center -50px;
  margin: 7px auto 0px auto;
}

.UIToolbar .LargeToolbar .MembershipManagementIcon {
  width: 32px ; 
  height: 30px ;
  background: url('background/IconLargeToolbar.png') no-repeat center -100px;
  margin: 7px auto 0px auto;
}

/*------------------- BlueLargeToolbar style ------------------------*/
.UIToolbar .BlueLargeToolbar {
	height: 38px;
}

.UIToolbar .BlueLargeToolbar .LeftToolbar {
	background: url('background/BlueLargeToolbar.gif') no-repeat left top;
	padding-left: 5px;
	border-bottom: 1px solid #9a9a9a;
}

.UIToolbar .BlueLargeToolbar .RightToolbar {
	background: url('background/BlueLargeToolbar.gif') no-repeat right top;
	padding-right: 5px;
}

.UIToolbar .BlueLargeToolbar .MiddleToolbar {
	height: 38px;
	background: url('background/BlueLargeToolbar.gif') repeat-x center -61px;
}

.UIToolbar .BlueLargeToolbar a {
	color: #7e9bc9; font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
}

.UIToolbar .BlueLargeToolbar a:hover {
	color: #003c7f;
}

.UIToolbar .BlueLargeToolbar .SelectItemButton .LablelIcon {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
}

.UIToolbar .BlueLargeToolbar .SelectItemButton .ButtonLabel {
	line-height: 18px;
	color: #003c7f;
}

.UIToolbar .BlueLargeToolbar .HorizontalSeparator {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 8px 0px 10px;
	margin: 2px 10px 0px 8px;
	width: 2px; 
	height: 22px;
	background: url('background/BlueLargeToolbar.gif') no-repeat -6px top;
}

.UIToolbar .BlueLargeToolbar .ManagementIconContainer {
	padding-top: 7px;
	margin-left: 5px;
}

.UIToolbar .BlueLargeToolbar .ItemButton {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-left: 35px; /* orientation=lt */
	padding-right: 35px; /* orientation=rt */
	margin: 0 10px; display: block;
	background-image: url('background/BlueLargeToolbar.gif');
	background-repeat: no-repeat;
	height: 26px; line-height: 26px;
	color: #363636;
}

.UIToolbar .BlueLargeToolbar .OrganizeIcon {
	background-position: left -122px; /* orientation=lt */
	background-position: right -122px; /* orientation=rt */
}

.UIToolbar .BlueLargeToolbar .PorletIcon {
	background-position: left -148px; /* orientation=lt */
	background-position: right -148px; /* orientation=rt */
}

.UIToolbar .BlueLargeToolbar .GadgetIcon {
	background-position: left -174px; /* orientation=lt */
	background-position: right -174px; /* orientation=rt */
}

/*#################################- LightToolbar -##############################*/

.UIToolbar .LightToolbar {
  height: 40px;
}

.UIToolbar .LightToolbar .LeftBar {
  padding-left: 3px;
  background: url('background/LightToolbar.gif') no-repeat left top;
}

.UIToolbar .LightToolbar .RightBar {
  padding-right: 3px;
  background: url('background/LightToolbar.gif') no-repeat right top;
}

.UIToolbar .LightToolbar .MiddleBar {
  height: 40px;
  line-height: 40px;
  background: url('background/LightToolbar.gif') repeat-x bottom;
}

/*#################################- EditToolbar -##############################*/

.UIToolbar .EditToolbar {
  height: 39px;
}

.UIToolbar .EditToolbar .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 4px 5px 0px 10px; /* orientation=lt */
  margin: 4px 10px 0px 5px; /* orientation=rt */
  cursor: pointer;
}

.UIToolbar .EditToolbar .LeftBar {
  padding-left: 7px;
  background: url('background/EditToolbar.png') no-repeat left top;
}

.UIToolbar .EditToolbar .RightBar {
  padding-right: 8px;
  background: url('background/EditToolbar.png') no-repeat right -39px;
}

.UIToolbar .EditToolbar .MiddleBar {
  height: 39px; line-height: 39px; 
  background: url('background/EditToolbar.png') repeat-x left -78px;
}


/*##########################Edit Page Control Bar#############################*/




.UIToolbar .EditToolbar .EditContainerIcon {
  width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -285px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -285px; /* orientation=rt */
}

.UIToolbar .EditToolbar .EditPortletIcon {
   width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -313px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -313px; /* orientation=rt */
}

.UIToolbar .EditToolbar .LayoutModeIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 4px 7px;
  cursor : pointer;
  width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -341px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -341px; /* orientation=rt */
}

.UIToolbar .EditToolbar .PreviewIcon {
  width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -229px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -229px; /* orientation=rt */
}

.UIToolbar .EditToolbar .EditPortalIcon { 
  width: 31px;  
  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -257px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -257px; /* orientation=rt */
}

.UIToolbar .EditToolbar .SavePortalIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 4px 0px 0px 7px; /* orientation=lt */
  margin: 4px 7px 0px 0px; /* orientation=rt */
  width: 29px;  
  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -369px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -369px; /* orientation=rt */
}

.UIToolbar .EditToolbar .EditPageIcon{
  width: 27px;  
  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -145px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -145px; /* orientation=rt */
}

.UIToolbar .EditToolbar .PageLayoutModeIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 4px 7px 0px 7px;
  width: 24px;  
  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -173px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -173px; /* orientation=rt */
  cursor: pointer ;
}

.UIToolbar .EditToolbar .PagePreviewIcon {
  width: 25px;  height: 27px;
  background: url('background/EditToolbar.png') no-repeat left -117px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -117px; /* orientation=rt */
}

.UIToolbar .EditToolbar .SavePageIcon {
  width: 27px;  
  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -201px; /* orientation=lt */
  background: url('background/EditToolbar-rt.png') no-repeat right -201px; /* orientation=rt */
}


/*#################################- ControlToolbar -##############################*/

.UIToolbar .ControlToolbar {
  margin: 15px 2px 0px 70px; /* orientation=lt */
  margin: 15px 70px 0px 2px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .LeftBar {
  padding-left: 8px; /* orientation=lt */
  background: url('background/ControlToolbar.png') no-repeat left top; /* orientation=lt */
}

.UIToolbar .ControlToolbar .RightBar {
  padding-right: 8px; /* orientation=rt */
  background: url('background/ControlToolbar-rt.png') no-repeat right top; /* orientation=rt */
}

.UIToolbar .ControlToolbar .MiddleBar {
  height: 40px;
  line-height: 40px;
  background: url('background/ControlToolbar.png') repeat-x left -40px;
}

.UIToolbar .ControlToolbar .SeparateLine{
  width: 2px; height: 24px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 7px 0px 0px 0px;
  background: url('background/SeparateLine2x2.gif') repeat-y;
}

.UIToolbar .ControlToolbar .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 4px 5px 0px 5px;
  width: 32px;
  height: 29px;
}

.UIToolbar .ControlToolbar .BackIcon {
  background: url('background/ControlToolbar.png') no-repeat left -80px; /* orientation=lt */
  background: url('background/ControlToolbar-rt.png') no-repeat right -80px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .RollbackIcon {
  background: url('background/ControlToolbar.png') no-repeat left -109px; /* orientation=lt */
  background: url('background/ControlToolbar-rt.png') no-repeat right -109px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .FinishIcon {
  background: url('background/ControlToolbar.png') no-repeat left -138px; /* orientation=lt */
  background: url('background/ControlToolbar-rt.png') no-repeat right -138px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .SaveIcon {
  background: url('background/ControlToolbar.png') no-repeat left -167px; /* orientation=lt */
  background: url('background/ControlToolbar-rt.png') no-repeat right -167px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .AbortIcon {
  background: url('background/ControlToolbar.png') no-repeat left -196px; /* orientation=lt */
  background: url('background/ControlToolbar-rt.png') no-repeat right -196px; /* orientation=rt */
}