.UIToolbar {
}

.UIToolbar .Button {
  cursor: pointer;
  float: left;
  padding: 0px 15px 0px 15px; margin: 1px 2px 0px 2px;
  height: 64px; line-height: 64px; vertical-align: middle;
}

.UIToolbar .HorizontalSeparator {
  float: left;
  margin: 6px 2px 0px 0px;
  width: 2px; height: 54px;
  background: url('background/SeparateLineBg2x3.gif') repeat-y;
}

/*##############################- LargeToolbar style -#########################*/

.UIToolbar .LargeToolbar {
  height: 63px; 
  line-height: 63px;
}

.UIToolbar .LargeToolbar .LeftToolbar {
  line-height: 63px;
  background: url('background/LargeToolbar.gif') no-repeat left top; 			/* orientation=lt */
  background: url('background/LargeToolbar-rt.gif') no-repeat left top; 	/* orientation=rt */
  padding-left: 10px; 		/* orientation=lt */
  padding-left: 84px; 		/* orientation=rt */
}

.UIToolbar .LargeToolbar .RightToolbar {
  line-height: 63px;
  background: url('background/LargeToolbar.gif') no-repeat right top; 			/* orientation=lt */
  background: url('background/LargeToolbar-rt.gif') no-repeat right top; 		/* orientation=rt */
  padding-right: 84px; 		/* orientation=lt */
  padding-right: 10px; 		/* orientation=rt */
}

.UIToolbar .LargeToolbar .MiddleToolbar {
  height: 63px; 
  line-height: 63px;
  background: url('background/LargeToolbar.gif') repeat-x left -63px;
}

.UIToolbar .LargeToolbar a {
  color: #333333;
  height: 51px; line-height: 51px;
  margin-top: 3px;
}

.UIToolbar .LargeToolbar a:hover{
  color: blue;
  background: #efefef;
  height: 51px; line-height: 51px;
  margin-top: 3px;
}

.UIToolbar .LargeToolbar .ButtonLabel {
  height: 18px; line-height: 18px;
  vertical-align: middle;
  font-weight: bold;  
}

.UIToolbar .LargeToolbar .HorizontalSeparator {
  float: left ;
  margin: 5px 2px 0px 1px ;
  width: 2px; height: 50px ;
}

.UIToolbar .LargeToolbar .SelectButtonLabel {
  line-height: 18px;
  font-weight: bold;
  color: #058ee6;
}

.UIToolbar .LargeToolbar .ManagementIconContainer {
  padding-top: 2px;
}

.UIToolbar .LargeToolbar .UserButton {
  float: left;
  width: 130px;
  cursor: pointer;
	text-align: center;
}

.UIToolbar .LargeToolbar .GroupButton {
  float: left;
  width: 140px;
  cursor: pointer;
	text-align: center;
}

.UIToolbar .LargeToolbar .ManagementTabContent {
  width: 99.4%;
  margin: 4px auto 2px auto;
}


.UIToolbar .LargeToolbar .MembershipButton {
  float: left;
  width: 178px;
  cursor: pointer;
	text-align: center;
}

.UIToolbar .LargeToolbar .UserManagementIcon {
  width: 44px ; 
  height: 30px ;
  background: url('background/LargeToolbar.gif') no-repeat -44px -126px;
  margin: auto;
  margin-top: 4px;
}

.UIToolbar .LargeToolbar .GroupManagementIcon {
  width: 44px ; 
  height: 30px ;
  background: url('background/LargeToolbar.gif') no-repeat left -157px;
  margin: auto;
  margin-top: 4px;
}

.UIToolbar .LargeToolbar .MembershipManagementIcon {
  width: 44px ; 
  height: 30px ;
  background: url('background/LargeToolbar.gif') no-repeat left -126px;
  margin: auto;
  margin-top: 4px;
}

/*------------------- BlueLargeToolbar style ------------------------*/

.UIToolbar .BlueLargeToolbar {
  height: 61px;
}

.UIToolbar .BlueLargeToolbar .LeftToolbar {
  background: url('background/BlueLargeToolbar.gif') no-repeat left top;
  padding-left: 5px;
}

.UIToolbar .BlueLargeToolbar .RightToolbar {
  background: url('background/BlueLargeToolbar.gif') no-repeat right top;
  padding-right: 5px;
}

.UIToolbar .BlueLargeToolbar .MiddleToolbar {
  height: 61px;
  background: url('background/BlueLargeToolbar.gif') repeat-x center -61px;
}

.UIToolbar .BlueLargeToolbar a {
  color: #7e9bc9; font-weight: bold;
  padding: 0px 5px 0px 5px;
  cursor: pointer;
}

.UIToolbar .BlueLargeToolbar a:hover {
  color: #003c7f;
}

.UIToolbar .BlueLargeToolbar .ItemButton .LablelIcon {
}

.UIToolbar .BlueLargeToolbar .SelectItemButton .LablelIcon {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
}

.UIToolbar .BlueLargeToolbar .SelectItemButton .ButtonLabel {
  line-height: 18px;
  color: #003c7f;
}

.UIToolbar .BlueLargeToolbar .HorizontalSeparator {
  float: left;
  margin: 0px 8px 0px 10px;
  width: 2px; height: 48px;
  background: url('background/BlueLargeToolbar.gif') no-repeat -6px top;
}

.UIToolbar .BlueLargeToolbar .ButtonLabel {
  height: 20px; line-height: 20px;
}

.UIToolbar .BlueLargeToolbar .ManagementIconContainer {
  padding-top: 4px;
  margin-left: 5px;
}

.UIToolbar .BlueLargeToolbar .ItemButton {
	float: left;
	text-align: center;
	padding: 5px;
	width: 150px;
}

.UIToolbar .BlueLargeToolbar .LablelIcon {
  width: 32px; height: 26px; 
	margin: auto;
  background-image: url('background/BlueLargeToolbar.gif');
  background-repeat: no-repeat;
}

.UIToolbar .BlueLargeToolbar .OrganizeIcon {
  background-position: center -122px;
}

.UIToolbar .BlueLargeToolbar .PorletIcon {
  background-position: center -148px;
}

.UIToolbar .BlueLargeToolbar .GadgetIcon {
  background-position: center -174px;
}

/*#################################- LightToolbar -##############################*/

.UIToolbar .LightToolbar {
  height: 40px;
}

.UIToolbar .LightToolbar .LeftBar {
  padding-left: 3px;
  background: url('background/LightToolbar.gif') no-repeat left top;
}

.UIToolbar .LightToolbar .RightBar {
  padding-right: 3px;
  background: url('background/LightToolbar.gif') no-repeat right top;
}

.UIToolbar .LightToolbar .MiddleBar {
  height: 40px;
  line-height: 40px;
  background: url('background/LightToolbar.gif') repeat-x bottom;
}

/*#################################- EditToolbar -##############################*/

.UIToolbar .EditToolbar {
  height: 39px;
}

.UIToolbar .EditToolbar .Icon {
  float: left;
  margin: 4px 5px 0px 10px;
  cursor: pointer;
}

.UIToolbar .EditToolbar .LeftBar {
  padding-left: 7px;
  background: url('background/EditToolbar.png') no-repeat left top;
}

.UIToolbar .EditToolbar .RightBar {
  padding-right: 8px;
  background: url('background/EditToolbar.png') no-repeat right -39px;
}

.UIToolbar .EditToolbar .MiddleBar {
  height: 39px; line-height: 39px; 
  background: url('background/EditToolbar.png') repeat-x left -78px;
}


/*##########################Edit Page Control Bar#############################*/




.UIToolbar .EditToolbar .EditContainerIcon {
  width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -285px;
}

.UIToolbar .EditToolbar .EditPortletIcon {
   width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -313px;
}

.UIToolbar .EditToolbar .LayoutModeIcon {
  float: left;
  margin: 4px 7px;
  cursor : pointer;
  width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -341px;
}

.UIToolbar .EditToolbar .PreviewIcon {
   width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -229px;
}

.UIToolbar .EditToolbar .EditPortalIcon { 
   width: 31px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -257px;
}

.UIToolbar .EditToolbar .SavePortalIcon {
  float: left;
  margin: 4px 0px 0px 7px;
  width: 29px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -369px;
}

.UIToolbar .EditToolbar .EditPageIcon{
   width: 27px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -145px;
}

.UIToolbar .EditToolbar .PageLayoutModeIcon {
  float: left;
  margin: 4px 7px 0px 7px;
  width: 24px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -173px;
  cursor: pointer ;
}

.UIToolbar .EditToolbar .PagePreviewIcon {
   width: 25px;  height: 27px;
  background: url('background/EditToolbar.png') no-repeat left -117px;
}

.UIToolbar .EditToolbar .SavePageIcon {
  width: 27px;  height: 28px;
  background: url('background/EditToolbar.png') no-repeat left -201px;
}


/*#################################- ControlToolbar -##############################*/

.UIToolbar .ControlToolbar {
  margin: 15px 2px 0px 70px;
}

.UIToolbar .ControlToolbar .LeftBar {
  padding-left: 8px;
  background: url('background/ControlToolbar.png') no-repeat left top;
}

.UIToolbar .ControlToolbar .RightBar {
 
}

.UIToolbar .ControlToolbar .MiddleBar {
  height: 40px;
  line-height: 40px;
  background: url('background/ControlToolbar.png') repeat-x left -40px;
}

.UIToolbar .ControlToolbar .SeparateLine{
  width: 2px; height: 24px;
  float: left;
  margin: 7px 0px 0px 0px;
  background: url('background/SeparateLine2x2.gif') repeat-y;
}

.UIToolbar .ControlToolbar .Icon {
  float: left;
  margin: 4px 5px 0px 5px;
  width: 32px;
  height: 29px;
}

.UIToolbar .ControlToolbar .BackIcon {
  background: url('background/ControlToolbar.png') no-repeat left -80px;
}

.UIToolbar .ControlToolbar .RollbackIcon {
  background: url('background/ControlToolbar.png') no-repeat left -109px;
}

.UIToolbar .ControlToolbar .FinishIcon {
  background: url('background/ControlToolbar.png') no-repeat left -138px;
}

.UIToolbar .ControlToolbar .SaveIcon {
  background: url('background/ControlToolbar.png') no-repeat left -167px;
}

.UIToolbar .ControlToolbar .AbortIcon {
  background: url('background/ControlToolbar.png') no-repeat left -196px;
}