<?xml version='1.0' encoding='utf-8'?>
<!--
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 - This element context.xml is used for the global configuration of Tomcat contexts.
 - It replaces the DefaultContext element which was present in server.xml file
 -
 - $Id: context.xml 6454 2005-03-21 15:02:45Z benoitf $
 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 -->

<!-- The contents of this file will be loaded for each web application -->
<!-- ====================== Begin eXo configuration ======================== -->
<Context crossContext="true">
<!-- ======================= End eXo configuration ========================= -->

    <!-- Default set of monitored resources -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->

</Context>
