.UIControlWorkspace {
  width: 3px ; height: 100% ;
  padding: 0px ;
  top: 0px ;
  background: url("background/SlidebarBackground6x1.png") repeat-y right;	/* orientation=lt */
	background: url("background/SlidebarBackground6x1-rt.png") repeat-y left;	/* orientation=rt */
}

.UIControlWorkspace .TopTitleBar{
  padding:12px 0px 6px;
	text-align:center;
	width:180px;
}

.UIControlWorkspace .UIVerticalSlideTabs {
  padding: 3px; 
}

.UIControlWorkspace .UserWorkspaceTitle {
  height: 23px ;
  background: url('background/UserWorkspaceTitleBG1x23.png') repeat-x ;
  font-weight: bold ;
  line-height: 22px ; 
  margin-right: 2px;	/* orientation=lt */
	margin-left: 2px;	/* orientation=rt */
	text-align: center;
}

.UIControlWorkspace .CloseControlWorkspace {
	float: right ;/* orientation=lt */
	float: left ;/* orientation=rt */
	width: 28px ;	
	height: 22px ;
	margin: 0px 0px 0px 0px ;
	background: url('background/CloseControlWorkspace.png') no-repeat ;	/* orientation=lt */
	background: url('background/CloseControlWorkspace-rt.png') no-repeat ;	/* orientation=rt */
	cursor: pointer ;
}

.UIControlWorkspace .UIWorkspacePanel {
  height: 100%; 
}

.UIControlWorkspace .UIWorkspaceControl {
  height: 35px ;
}

.UIControlWorkspace .UIWorkspacePanel .WhiteRoundedBoxStyle {
  margin: 2px 4px 5px 4px;
}

.UIControlWorkspace .UIWorkspacePanel .UIMyPortal {
  background: none;
  border: solid 1px #dbe4e4 ;  /*Fix Bug On IE*/  
}

.UIControlWorkspace .UIDropDownControl { 
	width: 220px;
}

.UIControlWorkspace .UIWelcomeComponent .ItemSelectorContainer { 
	
}

/*########################### Tab ###########################*/
.UIControlWorkspace .UIWorkspacePanel .TabPortalIcon {
  float: left;  
  width: 30px ; height: 25px ;
  margin: 7px 10px 0px 5px; 
  background: url('background/ControlWorkspaceIcon.gif') no-repeat top ;
}

.UIControlWorkspace .UIWorkspacePanel .ControlPanelExpandContainer {
  margin: 10px 4px;
}

.UIControlWorkspace .UIWorkspacePanel .TabPageIcon {
  float: left;
  width: 30px ; height: 25px ;
  margin: 6px 10px 0px 5px;
  background: url('background/ControlWorkspaceIcon.gif') no-repeat bottom;
}

.UIControlWorkspace .UIWorkspacePanel .HideContentVTab {
  display: none ;
  background: #f8f8f8 ; 
  margin: 2px 0px ;
  border: solid 1px #a3abb6 ;
}

.UIControlWorkspace .UIWorkspacePanel .ShowContent {
  display: block ;
  background: #f8f8f8 ;
  margin: 2px 0px ;
  border: solid 1px #a3abb6 ;
}

/*########################### End Tab ###########################*/

/*########################### Slidebar ###########################*/
.UIControlWorkspace .Slidebar {
	float: right ;
  width: 6px ; height: 100% ;
  cursor: pointer ;
}

.UIControlWorkspace .SlidebarButton {
	height: 100% ;	width: 6px ;
	background: url("background/SlidebarButton6x160.gif") no-repeat center center ; /* orientation=lt */
	background: url("background/SlidebarButton6x160-rt.gif") no-repeat center center ; /* orientation=rt */
}

.UIControlWorkspace .UIWorkspaceContainer {
	float: left ;
	height: 100%;
}
/*########################### End Slidebar ###########################*/
.UIWorkingWorkspace {
	margin: 0px;
/*
 * minh.js.exo
 * bug : right click with IE7 in ECM
 */
}

.MaskLayer {
	background: black ;
	text-align: center ;
	position: absolute ;
	overflow: auto; /* Fix for FF2 */
}

.WarningLayer {
	width: 300px ;	height: 100px ;
	background: white ;
	line-height: 100px ;	
	text-align: center ;
	position: absolute ;
	opacity: 0.5 !important ;
	filter: alpha(opacity=50) ;
}

.PreviewMode {
	width: 172px ;	
	height: 38px ;
	background: url('background/PreviewModeImage172x38.png') no-repeat;
	position: absolute ;
	cursor: pointer ;
	top: 0px; 
	right: 0px; /* orientation=lt */
	left: 0px; /* orientation=rt */
}