.UIAccountSettingForm {	
	padding: 5px;
}
	
.UIAccountSettingForm .ContentContainer {
	border: 1px solid #d4d4d4;
	border-top: none;
}

.UIAccountSettingForm .WorkingArea {
	padding: 10px 5px;
	height: 250px;
	border: 1px solid white;
	border-top: none;
}

.UIAccountSettingForm .UIHorizontalTabs {
	color: #202020; font-weight: normal;
	height: 30px;
}

.UIAccountSettingForm .UIHorizontalTabs .LeftHorizontalTabs {
	padding-left: 11px;
	background: url('background/HorizontalTabs.gif') no-repeat left -30px;
}

.UIAccountSettingForm .UIHorizontalTabs .RightHorizontalTabs {
	padding-right: 11px;
	background: url('background/HorizontalTabs.gif') no-repeat right -62px;
}

.UIAccountSettingForm .UIHorizontalTabs .CenterHorizontalTabs {
	background: url('background/HorizontalTabs.gif') repeat-x top;
	cursor: pointer;
	padding: 0px 4px 0px 4px;
	height: 30px;
	line-height: 30px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab a.Icon {
	padding-left: 23px; /* orientation=lt */
	padding-right: 23px; /* orientation=rt */
	display: block;
	line-height: 26px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .AccountProfiles {
	background: url('background/HorizontalTabs.gif') no-repeat left -154px; /* orientation=lt */
	background: url('background/HorizontalTabs.gif') no-repeat right -154px; /* orientation=rt */
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .ChangePass {
	background: url('background/HorizontalTabs.gif') no-repeat left -177px; /* orientation=lt */
	background: url('background/HorizontalTabs.gif') no-repeat right -177px; /* orientation=rt */
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .NormalTab a {
	font-weight: bold;
	color: gray; 
	margin-top: 2px;
}

.UIAccountSettingForm .UIHorizontalTabs .NormalTab .MiddleTab {
	cursor: pointer;
	padding: 0px 8px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .HighlightTab a {
	font-weight: bold;
	color: #058ee6; 
	margin-top: 2px;
}

.UIAccountSettingForm .UIHorizontalTabs .UITab .SelectedTab a {
	font-weight: bold;
	color: #058ee6; 
	margin-top: 2px;
}

.UIAccountSettingForm .UIHorizontalTabs .SelectedTab .MiddleTab {
	line-height: 30px;
	background: url('background/HorizontalTabs.gif') repeat-x center -93px;
	cursor: pointer;
	padding: 0px 8px;
}

.UIAccountSettingForm .UIHorizontalTabs .LineSeparator {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	background: url('background/HorizontalTabs.gif') no-repeat left -123px; /* orientation=lt */
	background: url('background/HorizontalTabs-rt.gif') no-repeat right -123px; /* orientation=rt */
	height: 22px;	width: 2px;
	margin-top: 5px;
}

.UIAccountSettingForm .UITabPane .UITabContentContainer {
	border: 1px solid #d4d4d4;
	border-top: none;
}

.UIAccountSettingForm .UITabPane .UITabContentContainer .UITabContent {
	padding: 0px 13px 12px 13px;
}

.UIAccountSettingForm .UITabPane .UITabContentContainer .UIForm .FormContainer {
	padding-top: 16px;
}

.UIAccountSettingForm .UIAccountProfiles {
	border-top: 1px solid #d4d4d4;
}

.UIAccountSettingForm .UIAccountChangePass {
	border-top: 1px solid #d4d4d4;
}

.UIAccountSettingForm .UIForm .HorizontalLayout {
	border-top: 1px solid white;
	border-right: none;
	border-left: none;
	border-bottom: none;
	height: 165px;
	padding: 25px 0px;
}

.UIAccountSettingForm .UIForm .UIAction {
	padding-top: 18px;
}