.UIPortletOptions {
	border: 1px solid white;
	margin: 0px 8px;
}

.UIPortletOptions .PortletOptions {
	background: url('background/PortletBG.gif');	
	padding: 3px;
	border: solid 1px #afaeae;
	padding: 5px;
}
	
.UIPortletOptions .UIVerticalSlideTabs {
	padding: 0px;
}

.UIPortletOptions .UIVerticalSlideTabs .VTabStyle3 {
	cursor: pointer;
	margin: 5px 0px 1px 0px;
}

.UIPortletOptions .UIVerticalSlideTabs .SelectedTab {
	margin: 5px 0px 1px 0px;
}

.UIPortletOptions .UIVerticalSlideTabs .UIVTab .UIVTabContent {
	margin: -1px 2px 5px 2px;
	padding: 8px 0px 8px 10px; /* orientation=lt */
	padding: 8px 10px 8px 0px; /* orientation=rt */
	border: solid 1px #958f8f;
	overflow: hidden;
}

.UIPortletOptions .ScrollArea {
	border: 1px solid #b7b7b7;
}

.UIPortletOptions .CategoryContainer {
	background: white;
	padding: 5px 7px 9px 7px;
	_width: 205px; /* orientation=rt */
}

.UIPortletOptions .Title {
	background: url('background/TitleBG1x25.png') repeat-x;
	height: 25px;
}

.UIPortletOptions .Title .TitleContainer {
	height: 23px;
	border-left: solid 1px #9d9d9d;
	border-right: solid 1px #9d9d9d;
}

.UIPortletOptions .Title .TitleContainer .Icon {
	margin: 3px 5px 0px 7px; /* orientation=lt */
	margin: 3px 7px 0px 5px; /* orientation=rt */
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 16px;
}

.UIPortletOptions .Title .TitleContainer .LabelText {
	padding-left: 10px;	/* orientation=lt */
	padding-right: 10px;	/* orientation=rt */
	height: 22px; line-height: 22px;
}

.UIPortletOptions .Title .TitleContainer .ArrowButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
}

.UIPortletOptions .PortletTitle { 
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	font-weight: bold;
}

.UIPortletOptions .PortletTitle a { 
	color: #000000;
	text-decoration: none;
}

.UIPortletOptions .PortletTitle a:hover { 
	color: blue;
	text-decoration: none;
}

#UIPortletOptions .BackNavigationContent {
	display: none;
}