
/*-------------------------- DefaultTheme ---------------------------*/

.UIPageDesktop .DefaultTheme .WindowPortletInfo {
  height: 22px ;
  margin-right: 110px ;
  cursor: move ;
}

.DefaultTheme .WindowPortletInfo .PortletIcon {
  float: left ;
  width: 16px ; height: 16px ;
  margin: 8px 0px 0px 5px ;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DefaultPortletIcon.gif') no-repeat ;
}

.DefaultTheme .WindowPortletControl {
  float: right ;
  height: 22px ;
	padding: 0px 3px 0px 10px;
}

.UIPageDesktop .DefaultTheme .WindowPortletControl {
	padding: 0px 3px 0px 14px;
}

.TRContainer .DefaultTheme .WindowPortletControl {
  padding: 0px 3px 0px 12px;
}

.DefaultTheme .WindowPortletControl .ControlIcon {
  float: left;
  width: 22px ; height: 16px ;
  margin: 9px 2px 0px 0px ;
  cursor: pointer ;
}

.DefaultTheme .WindowPortletControl .ArrowDownIcon {
  background: url('icons/24x24/ArrowDown.gif') no-repeat ;
}

.DefaultTheme .WindowPortletControl .OverArrowDownIcon {
  background: url('icons/24x24/ArrowDownOver.gif') no-repeat ;
}

.DefaultTheme .WindowPortletControl .MinimizedIcon {
  background: url('icons/24x24/Minimize.gif') no-repeat ;
}

.DefaultTheme .WindowPortletControl .OverMinimizedIcon {
  background: url('icons/24x24/MinimizeOver.gif') no-repeat ;
}

.DefaultTheme .WindowPortletControl .MaximizedIcon {
  background: url('icons/24x24/Maximize.gif') no-repeat ;
}

.DefaultTheme .WindowPortletControl .OverMaximizedIcon {
  background: url('icons/24x24/MaximizeOver.gif') no-repeat ;
}

.DefaultTheme .WindowPortletControl .RestoreIcon {
  background: url('icons/24x24/Restore.gif') no-repeat top;
}

.DefaultTheme .WindowPortletControl .OverRestoreIcon {
  background: url('icons/24x24/RestoreOver.gif') no-repeat top;
}

.DefaultTheme .WindowPortletControl .NormalIcon {
  background: url('icons/24x24/Restore.gif') no-repeat top;
}

.DefaultTheme .WindowPortletControl .OverNormalIcon {
  background: url('icons/24x24/RestoreOver.gif') no-repeat top;
}

.DefaultTheme .MiddleDecoratorCenter {
  background: #ffffff ;
}

.UIPageDesktop .DefaultTheme .ResizeArea {
  float: right ;
  width: 18px ; height: 18px ;
  cursor: nw-resize ;
  background: url('background/ResizeArea18x18.gif') no-repeat ;
}

.DefaultTheme .Information {
  height: 18px ; line-height: 18px ;
  vertical-align: middle ; font-size: 10px ;
  padding-left: 5px ;
  margin-right: 18px ;
}

.DefaultTheme .MiddleDecoratorLeft {
  padding-left: 12px ;
  background: url('background/LeftMiddleWindow.png') repeat-y left ;
}

.DefaultTheme .MiddleDecoratorRight {
  padding-right: 11px ;
  background: url('background/RightMiddleWindow.png') repeat-y right ;
}

.DefaultTheme .BottomDecoratorLeft {
  padding-left: 12px ;
  background: url('background/LeftBottomWindow.png') no-repeat left ;
}

.DefaultTheme .BottomDecoratorRight {
  padding-right: 11px ;
  background: url('background/RightBottomWindow.png') no-repeat right ;
}

.DefaultTheme .BottomDecoratorCenter {
  height: 30px ;
  background: url('background/CenterBottomWindow.png') repeat-x ;
}

.DefaultTheme .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 9px 0px 0px 5px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Earth.gif') no-repeat center;
}

.DefaultTheme .WindowPortletInfo .PortletName {
  float: left ;
  padding: 10px 0px 0px 5px;
  font-weight: bold;
  color: #333333;
}

.DefaultTheme .WindowBarLeft {
  padding-left: 12px ;
  background: url('background/LeftWindowBar.png') no-repeat left ;
  height: 29px ;
}

.DefaultTheme .WindowBarRight {
  padding-right: 11px ;
  background: url('background/RightWindowBar.png') no-repeat right;
  height: 29px ;
}

.DefaultTheme .WindowBarCenter {
  height: 29px ;
  background: url('background/CenterWindowBar.png') repeat-x ;
}

/*-------------------------- MacTheme ---------------------------*/

.MacTheme {

}

.VistaTheme {

}

/*-------------------------- RoundComerBlue ---------------------------*/

.RoundComerBlue .WindowPortletControl {
  float: right ;
	padding: 0px 3px 0px 10px;
}

.RoundComerBlue .WindowPortletControl .ControlIcon {
  float: left;
  width: 23px ; height: 22px ;
  margin: 11px 2px 0px 0px ;
  cursor: pointer ;
  background-position: center;
}

.RoundComerBlue .Information {
  height: 18px ; line-height: 18px ;
  font-size: 10px ;
  padding-left: 5px ;
  margin-right: 18px ;
}

.RoundComerBlue .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 10px 0px 0px 0px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Earth.gif') no-repeat center;
}

.UIPageDesktop .RoundComerBlue .ResizeArea {
	float: right ;
  width: 17px ; height: 19px ;
  cursor: nw-resize ;
  background: url('background/Resize17x19.png') no-repeat ;
}

.RoundComerBlue .WindowPortletInfo .PortletName {
  float: left ;
  padding: 12px 0px 0px 5px;
  font-weight: bold;
  color: #333333;
}

.RoundComerBlue .WindowPortletControl .ArrowDownIcon {
  background: url('icons/24x24/ArrowDownRoundComerBlue.gif') no-repeat ;
}

.RoundComerBlue .WindowPortletControl .OverArrowDownIcon {
  background: url('icons/24x24/ArrowDownRoundComerBlue.gif') no-repeat ;
}

.RoundComerBlue .WindowPortletControl .MinimizedIcon {
  background: url('icons/24x24/MinimizedRoundComerBlue.gif') no-repeat ;
}

.RoundComerBlue .WindowPortletControl .OverMinimizedIcon {
  background: url('icons/24x24/MinimizedRoundComerBlue.gif') no-repeat ;
}

.RoundComerBlue .WindowPortletControl .MaximizedIcon {
  background: url('icons/24x24/MaximizeRoundComerBlue.gif') no-repeat ;
}

.RoundComerBlue .WindowPortletControl .OverMaximizedIcon {
  background: url('icons/24x24/MaximizeRoundComerBlue.gif') no-repeat ;
}

.RoundComerBlue .WindowPortletControl .RestoreIcon {
  background: url('icons/24x24/RestoreRoundComerBlue.gif') no-repeat top;
}

.RoundComerBlue .WindowPortletControl .OverRestoreIcon {
  background: url('icons/24x24/RestoreOverRoundComerBlue.gif') no-repeat top;
}

.RoundComerBlue .WindowPortletControl .NormalIcon {
  background: url('icons/24x24/RestoreRoundComerBlue.gif') no-repeat top;
}

.RoundComerBlue .WindowPortletControl .OverNormalIcon {
  background: url('icons/24x24/RestoreRoundComerBlue.gif') no-repeat top;
}

.RoundComerBlue .WindowBarLeft {
	padding-left: 12px ;
  height: 32px;
  background: url('background/TLRoundComerBlue13x32.png') no-repeat left bottom;
}

.RoundComerBlue .WindowBarRight {
	padding-right: 12px ;
  height: 32px;
  background: url('background/TRRoundComerBlue13x32.png') no-repeat right bottom;
}

.RoundComerBlue .WindowBarCenter {
	height: 32px ;
  background: url('background/TCRoundComerBlue1x32.png') repeat-x bottom;
}

.RoundComerBlue .MiddleDecoratorLeft {
	padding-left: 13px ;
  background: url('background/MLRoundComerBue13x1.png') repeat-y left ;
}

.RoundComerBlue .MiddleDecoratorRight {
	padding-right: 13px;
  background: url('background/MRRoundComerBlue13x1.png') repeat-y right ;
}

.RoundComerBlue .MiddleDecoratorCenter {
  background: #ffffff ;
}

.RoundComerBlue .BottomDecoratorLeft {
	padding-left: 13px ;
  background: url('background/BLRoundComerBlue13x30.png') no-repeat left ;
}

.RoundComerBlue .BottomDecoratorRight {
  padding-right: 13px ;
  background: url('background/BRRoundComerBlue13x30.png') no-repeat right ;
}

.RoundComerBlue .BottomDecoratorCenter {
	height: 30px ;
  background: url('background/BCRoundComerBlue1x30.png') repeat-x ;
}

/*------------------ RoundComerViolet -----------------*/

.RoundComerViolet .WindowPortletControl {
  float: right ;
	padding: 0px 3px 0px 10px;
}

.RoundComerViolet .WindowPortletControl .ControlIcon {
  float: left;
  width: 23px ; height: 22px ;
  margin: 11px 2px 0px 0px ;
  cursor: pointer ;
  background-position: center;
}

.RoundComerViolet .Information {
  height: 18px ; line-height: 18px ;
  font-size: 10px ;
  padding-left: 5px ;
  margin-right: 18px ;
}

.RoundComerViolet .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 10px 0px 0px 0px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Earth.gif') no-repeat center;
}

.UIPageDesktop .RoundComerViolet .ResizeArea {
	float: right ;
  width: 17px ; height: 19px ;
  cursor: nw-resize ;
  background: url('background/Resize17x19.png') no-repeat ;
}

.RoundComerViolet .WindowPortletInfo .PortletName {
  float: left ;
  padding: 12px 0px 0px 5px;
  font-weight: bold;
  color: #333333;
}

.RoundComerViolet .WindowPortletControl .ArrowDownIcon {
  background: url('icons/24x24/ArrowDownRoundComerViolet.gif') no-repeat ;
}

.RoundComerViolet .WindowPortletControl .OverArrowDownIcon {
  background: url('icons/24x24/ArrowDownRoundComerViolet.gif') no-repeat ;
}

.RoundComerViolet .WindowPortletControl .MinimizedIcon {
  background: url('icons/24x24/MinimizedRoundComerViolet.gif') no-repeat ;
}

.RoundComerViolet .WindowPortletControl .OverMinimizedIcon {
  background: url('icons/24x24/MinimizedRoundComerViolet.gif') no-repeat ;
}

.RoundComerViolet .WindowPortletControl .MaximizedIcon {
  background: url('icons/24x24/MaximizeRoundComerViolet.gif') no-repeat ;
}

.RoundComerViolet .WindowPortletControl .OverMaximizedIcon {
  background: url('icons/24x24/MaximizeRoundComerViolet.gif') no-repeat ;
}

.RoundComerViolet .WindowPortletControl .RestoreIcon {
  background: url('icons/24x24/RestoreRoundComerViolet.gif') no-repeat top;
}

.RoundComerViolet .WindowPortletControl .OverRestoreIcon {
  background: url('icons/24x24/RestoreOverRoundComerViolet.gif') no-repeat top;
}

.RoundComerViolet .WindowPortletControl .NormalIcon {
  background: url('icons/24x24/RestoreRoundComerViolet.gif') no-repeat top;
}

.RoundComerViolet .WindowPortletControl .OverNormalIcon {
  background: url('icons/24x24/RestoreRoundComerViolet.gif') no-repeat top;
}

.RoundComerViolet .WindowBarLeft {
	padding-left: 13px ;
  height: 32px;
  background: url('background/TLRoundComerViolet13x32.png') no-repeat left bottom;
}

.RoundComerViolet .WindowBarRight {
	padding-right: 13px ;
  height: 32px;
  background: url('background/TRRoundComerViolet13x32.png') no-repeat right bottom;
}

.RoundComerViolet .WindowBarCenter {
	height: 32px ;
  background: url('background/TCRoundComerViolet1x32.png') repeat-x bottom;
}

.RoundComerViolet .MiddleDecoratorLeft {
	padding-left: 13px ;
  background: url('background/MLRoundComerViolet13x1.png') repeat-y left ;
}

.RoundComerViolet .MiddleDecoratorRight {
	padding-right: 13px;
  background: url('background/MRRoundComerViolet13x1.png') repeat-y right ;
}

.RoundComerViolet .MiddleDecoratorCenter {
  background: #ffffff ;
}

.RoundComerViolet .BottomDecoratorLeft {
	padding-left: 13px;
  background: url('background/BLRoundComerViolet13x30.png') no-repeat left ;
}

.RoundComerViolet .BottomDecoratorRight {
  padding-right: 13px ;
  background: url('background/BRRoundComerViolet13x30.png') no-repeat right ;
}

.RoundComerViolet .BottomDecoratorCenter {
	height: 30px ;
  background: url('background/BCRoundComerViolet1x30.png') repeat-x ;
}


/*------------------------------- RoundComerOrange ----------------------------------*/

.RoundComerOrange .WindowPortletControl {
  float: right ;
	padding: 0px 3px 0px 10px;
}

.RoundComerOrange .WindowPortletControl .ControlIcon {
  float: left;
  width: 23px ; height: 22px ;
  margin: 11px 2px 0px 0px ;
  cursor: pointer ;
  background-position: center;
}

.RoundComerOrange .Information {
  height: 18px ; line-height: 18px ;
  font-size: 10px ;
  padding-left: 5px ;
  margin-right: 18px ;
}

.RoundComerOrange .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 10px 0px 0px 0px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Earth.gif') no-repeat center;
}

.UIPageDesktop .RoundComerOrange .ResizeArea {
	float: right ;
  width: 17px ; height: 19px ;
  cursor: nw-resize ;
  background: url('background/Resize17x19.png') no-repeat ;
}

.RoundComerOrange .WindowPortletInfo .PortletName {
  float: left ;
  padding: 12px 0px 0px 5px;
  font-weight: bold;
  color: #333333;
}

.RoundComerOrange .WindowPortletControl .ArrowDownIcon {
  background: url('icons/24x24/ArrowDownRoundComerOrange.gif') no-repeat ;
}

.RoundComerOrange .WindowPortletControl .OverArrowDownIcon {
  background: url('icons/24x24/ArrowDownRoundComerOrange.gif') no-repeat ;
}

.RoundComerOrange .WindowPortletControl .MinimizedIcon {
  background: url('icons/24x24/MinimizedRoundComerOrange.gif') no-repeat ;
}

.RoundComerOrange .WindowPortletControl .OverMinimizedIcon {
  background: url('icons/24x24/MinimizedRoundComerOrange.gif') no-repeat ;
}

.RoundComerOrange .WindowPortletControl .MaximizedIcon {
  background: url('icons/24x24/MaximizeRoundComerOrange.gif') no-repeat ;
}

.RoundComerOrange .WindowPortletControl .OverMaximizedIcon {
  background: url('icons/24x24/MaximizeRoundComerOrange.gif') no-repeat ;
}

.RoundComerOrange .WindowPortletControl .RestoreIcon {
  background: url('icons/24x24/RestoreRoundComerOrange.gif') no-repeat top;
}

.RoundComerOrange .WindowPortletControl .OverRestoreIcon {
  background: url('icons/24x24/RestoreOverRoundComerOrange.gif') no-repeat top;
}

.RoundComerOrange .WindowPortletControl .NormalIcon {
  background: url('icons/24x24/RestoreRoundComerOrange.gif') no-repeat top;
}

.RoundComerOrange .WindowPortletControl .OverNormalIcon {
  background: url('icons/24x24/RestoreRoundComerOrange.gif') no-repeat top;
}

.RoundComerOrange .WindowBarLeft {
	padding-left: 13px;
	height: 32px;
  background: url('background/TLRoundComerOrange13x32.png') no-repeat left bottom;
}

.RoundComerOrange .WindowBarRight {
	padding-right: 13px;
	height: 32px;
  background: url('background/TRRoundComerOrange13x32.png') no-repeat right bottom;
}

.RoundComerOrange .WindowBarCenter {
	height: 32px;
  background: url('background/TCRoundComerOrange1x32.png') repeat-x bottom;
}

.RoundComerOrange .MiddleDecoratorLeft {
	padding-left: 13px;
  background: url('background/MLRoundComerOrange13x1.png') repeat-y left ;
}

.RoundComerOrange .MiddleDecoratorRight {
	padding-right: 13px;
  background: url('background/MRRoundComerOrange13x1.png') repeat-y right ;
}

.RoundComerOrange .MiddleDecoratorCenter {
  background: #ffffff ;
}

.RoundComerOrange .BottomDecoratorLeft {
	padding-left: 13px;
  background: url('background/BLRoundComerOrange13x30.png') no-repeat left ;
}

.RoundComerOrange .BottomDecoratorRight {
  padding-right: 13px ;
  background: url('background/BRRoundComerOrange13x30.png') no-repeat right ;
}

.RoundComerOrange .BottomDecoratorCenter {
	height: 30px;
  background: url('background/BCRoundComerOrange1x30.png') repeat-x ;
}

/*-------------------------- ShadowBlue ---------------------------*/

.ShadowBlue .WindowPortletControl {
  float: right ;
	padding: 0px 3px 0px 10px;
}

.ShadowBlue .WindowPortletControl .ControlIcon {
  float: left;
  width: 23px ; height: 22px ;
  margin: 8px 2px 0px 0px ;
  cursor: pointer ;
  background-position: center;
}

.ShadowBlue .Information {
  height: 18px ; line-height: 18px ;
  font-size: 10px ;
  padding-left: 5px ;
  margin-right: 18px ;
}

.ShadowBlue .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 8px 0px 0px 0px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Earth.gif') no-repeat center;
}

.UIPageDesktop .ShadowBlue .ResizeArea {
	float: right ;
  width: 17px ; height: 19px ;
  cursor: nw-resize ;
  background: url('background/Resize17x19.png') no-repeat ;
}

.ShadowBlue .WindowPortletInfo .PortletName {
  float: left ;
  padding: 10px 0px 0px 5px;
  font-weight: bold;
  color: #333333;
}

.ShadowBlue .WindowPortletControl .ArrowDownIcon {
  background: url('icons/24x24/ArrowDownShadowBlue.gif') no-repeat ;
}

.ShadowBlue .WindowPortletControl .OverArrowDownIcon {
  background: url('icons/24x24/ArrowDownShadowBlue.gif') no-repeat ;
}

.ShadowBlue .WindowPortletControl .MinimizedIcon {
  background: url('icons/24x24/MinimizedShadowBlue.gif') no-repeat ;
}

.ShadowBlue .WindowPortletControl .OverMinimizedIcon {
  background: url('icons/24x24/MinimizedShadowBlue.gif') no-repeat ;
}

.ShadowBlue .WindowPortletControl .MaximizedIcon {
  background: url('icons/24x24/MaximizeShadowBlue.gif') no-repeat ;
}

.ShadowBlue .WindowPortletControl .OverMaximizedIcon {
  background: url('icons/24x24/MaximizeShadowBlue.gif') no-repeat ;
}

.ShadowBlue .WindowPortletControl .RestoreIcon {
  background: url('icons/24x24/RestoreShadowBlue.gif') no-repeat top;
}

.ShadowBlue .WindowPortletControl .OverRestoreIcon {
  background: url('icons/24x24/RestoreShadowBlue.gif') no-repeat top;
}

.ShadowBlue .WindowPortletControl .NormalIcon {
  background: url('icons/24x24/RestoreShadowBlue.gif') no-repeat top;
}

.ShadowBlue .WindowPortletControl .OverNormalIcon {
  background: url('icons/24x24/RestoreShadowBlue.gif') no-repeat top;
}

.ShadowBlue .WindowBarLeft {
	padding-left: 11px ;
  height: 29px;
  background: url('background/TLShadowBlue11x29.png') no-repeat left bottom;
}

.ShadowBlue .WindowBarRight {
	padding-right: 10px ;
  height: 29px;
  background: url('background/TRShadowBlue10x29.png') no-repeat right bottom;
}

.ShadowBlue .WindowBarCenter {
	height: 29px ;
  background: url('background/TCShadowBlue1x29.png') repeat-x bottom;
}

.ShadowBlue .MiddleDecoratorLeft {
	padding-left: 11px ;
  background: url('background/MLShadowBlue11x1.png') repeat-y left ;
}

.ShadowBlue .MiddleDecoratorRight {
	padding-right: 11px;
  background: url('background/MRShadowBlue10x1.png') repeat-y right ;
}

.ShadowBlue .MiddleDecoratorCenter {
  background: #ffffff ;
}

.ShadowBlue .BottomDecoratorLeft {
	padding-left: 11px;
  background: url('background/BLShadowBlue11x28.png') no-repeat left ;
}

.ShadowBlue .BottomDecoratorRight {
	padding-right: 10px;
  background: url('background/BRShadowBlue10x28.png') no-repeat right ;
}

.ShadowBlue .BottomDecoratorCenter {
	height: 28px;
  background: url('background/BCShadowBlue1x28.png') repeat-x ;
}

/*------------------------------ ShadowViolet -----------------------------------*/

.ShadowViolet .WindowPortletControl {
  float: right ;
	padding: 0px 3px 0px 10px;
}

.ShadowViolet .WindowPortletControl .ControlIcon {
  float: left;
  width: 23px ; height: 22px ;
  margin: 8px 2px 0px 0px ;
  cursor: pointer ;
  background-position: center;
}

.ShadowViolet .Information {
  height: 18px ; line-height: 18px ;
  font-size: 10px ;
  padding-left: 5px ;
  margin-right: 18px ;
}

.ShadowViolet .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 8px 0px 0px 0px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Earth.gif') no-repeat center;
}

.UIPageDesktop .ShadowViolet .ResizeArea {
	float: right ;
  width: 17px ; height: 19px ;
  cursor: nw-resize ;
  background: url('background/Resize17x19.png') no-repeat ;
}

.ShadowViolet .WindowPortletInfo .PortletName {
  float: left ;
  padding: 10px 0px 0px 5px;
  font-weight: bold;
  color: #333333;
}

.ShadowViolet .WindowPortletControl .ArrowDownIcon {
  background: url('icons/24x24/ArrowDownShadowViolet.gif') no-repeat ;
}

.ShadowViolet .WindowPortletControl .OverArrowDownIcon {
  background: url('icons/24x24/ArrowDownShadowViolet.gif') no-repeat ;
}

.ShadowViolet .WindowPortletControl .MinimizedIcon {
  background: url('icons/24x24/MinimizedShadowViolet.gif') no-repeat ;
}

.ShadowViolet .WindowPortletControl .OverMinimizedIcon {
  background: url('icons/24x24/MinimizedShadowViolet.gif') no-repeat ;
}

.ShadowViolet .WindowPortletControl .MaximizedIcon {
  background: url('icons/24x24/MaximizeShadowViolet.gif') no-repeat ;
}

.ShadowViolet .WindowPortletControl .OverMaximizedIcon {
  background: url('icons/24x24/MaximizeShadowViolet.gif') no-repeat ;
}

.ShadowViolet .WindowPortletControl .RestoreIcon {
  background: url('icons/24x24/RestoreShadowViolet.gif') no-repeat top;
}

.ShadowViolet .WindowPortletControl .OverRestoreIcon {
  background: url('icons/24x24/RestoreShadowViolet.gif') no-repeat top;
}

.ShadowViolet .WindowPortletControl .NormalIcon {
  background: url('icons/24x24/RestoreShadowViolet.gif') no-repeat top;
}

.ShadowViolet .WindowPortletControl .OverNormalIcon {
  background: url('icons/24x24/RestoreShadowViolet.gif') no-repeat top;
}

.ShadowViolet .WindowBarLeft {
	padding-left: 11px ;
  height: 29px;
  background: url('background/TLShadowViolet11x29.png') no-repeat left bottom;
}

.ShadowViolet .WindowBarRight {
	padding-right: 10px ;
  height: 29px;
  background: url('background/TRShadowViolet10x29.png') no-repeat right bottom;
}

.ShadowViolet .WindowBarCenter {
	height: 29px ;
  background: url('background/TCShadowViolet1x29.png') repeat-x bottom;
}

.ShadowViolet .MiddleDecoratorLeft {
	padding-left: 11px;
  background: url('background/MLShadowViolet11x1.png') repeat-y left ;
}

.ShadowViolet .MiddleDecoratorRight {
	padding-right: 10px;
  background: url('background/MRShadowViolet10x1.png') repeat-y right ;
}

.ShadowViolet .MiddleDecoratorCenter {
  background: #ffffff ;
}

.ShadowViolet .BottomDecoratorLeft {
	padding-left: 11px;
  background: url('background/BLShadowViolet11x28.png') no-repeat left ;
}

.ShadowViolet .BottomDecoratorRight {
	padding-right: 10px;
  background: url('background/BRShadowViolet10x28.png') no-repeat right ;
}

.ShadowViolet .BottomDecoratorCenter {
	height: 28px;
  background: url('background/BCShadowViolet1x28.png') repeat-x ;
}

/*------------------------------ SimpleBlue -----------------------------------*/

.SimpleBlue .WindowPortletControl {
  float: right ;
	padding: 0px 3px 0px 10px;
}

.SimpleBlue .WindowPortletControl .ControlIcon {
  float: left;
  width: 23px ; height: 20px ;
  margin: 10px 2px 0px 0px ;
  cursor: pointer ;
  background-position: center;
}

.SimpleBlue .Information {
  height: 18px ; line-height: 18px ;
  font-size: 10px ;
  padding-left: 5px ;
  margin-right: 18px ;
}

.SimpleBlue .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 8px 0px 0px 0px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Earth.gif') no-repeat center;
}

.UIPageDesktop .SimpleBlue .ResizeArea {
	float: right ;
  width: 17px ; height: 19px ;
  cursor: nw-resize ;
  background: url('background/Resize17x19.png') no-repeat ;
}

.SimpleBlue .WindowPortletInfo .PortletName {
  float: left ;
  padding: 10px 0px 0px 5px;
  font-weight: bold;
  color: #333333;
}

.SimpleBlue .WindowPortletControl .ArrowDownIcon {
  background: url('icons/24x24/ArrowDown.gif') no-repeat ;
}

.SimpleBlue .WindowPortletControl .OverArrowDownIcon {
  background: url('icons/24x24/ArrowDownOver.gif') no-repeat ;
}

.SimpleBlue .WindowPortletControl .MinimizedIcon {
  background: url('icons/24x24/Minimize.gif') no-repeat ;
}

.SimpleBlue .WindowPortletControl .OverMinimizedIcon {
  background: url('icons/24x24/MinimizeOver.gif') no-repeat ;
}

.SimpleBlue .WindowPortletControl .MaximizedIcon {
  background: url('icons/24x24/Maximize.gif') no-repeat ;
}

.SimpleBlue .WindowPortletControl .OverMaximizedIcon {
  background: url('icons/24x24/MaximizeOver.gif') no-repeat ;
}

.SimpleBlue .WindowPortletControl .RestoreIcon {
  background: url('icons/24x24/Restore.gif') no-repeat top;
}

.SimpleBlue .WindowPortletControl .OverRestoreIcon {
  background: url('icons/24x24/RestoreOver.gif') no-repeat top;
}

.SimpleBlue .WindowPortletControl .NormalIcon {
  background: url('icons/24x24/Restore.gif') no-repeat top;
}

.SimpleBlue .WindowPortletControl .OverNormalIcon {
  background: url('icons/24x24/RestoreOver.gif') no-repeat top;
}

.SimpleBlue .WindowBarLeft {
	padding-left: 11px ;
  height: 29px;
  background: url('background/TLSimpleBlue11x29.png') no-repeat left bottom;
}

.SimpleBlue .WindowBarRight {
	padding-right: 11px ;
  height: 29px;
  background: url('background/TRSimpleBlue11x29.png') no-repeat right bottom;
}

.SimpleBlue .WindowBarCenter {
	height: 29px ;
  background: url('background/TCSimpleBlue1x29.png') repeat-x bottom;
}

.SimpleBlue .MiddleDecoratorLeft {
	padding-left: 11px;
  background: url('background/MLSimpleBlue11x1.png') repeat-y left ;
}

.SimpleBlue .MiddleDecoratorRight {
	padding-right: 11px;
  background: url('background/MRSimpleBlue11x1.png') repeat-y right ;
}

.SimpleBlue .MiddleDecoratorCenter {
  background: #ffffff ;
}

.SimpleBlue .BottomDecoratorLeft {
	padding-left: 11px;
  background: url('background/BLSimpleBlue11x28.png') no-repeat left ;
}

.SimpleBlue .BottomDecoratorRight {
	padding-right: 11px;
  background: url('background/BRSimpleBlue11x28.png') no-repeat right ;
}

.SimpleBlue .BottomDecoratorCenter {
	height: 28px;
  background: url('background/BCSimpleBlue1x28.png') repeat-x ;
}
