.UITabContainer {
	padding: 7px;
}

.UITabContainer .HorizontalLayout {
	background: #ffffff;
	border: solid 1px #7b7b7b;
	border-top: none;
}

.UITabContainer .HorizontalLayout .UITabContentContainer .UITabContent {
	padding: 5px;
}

.UITabContainer a.TabLabel {
	padding: 0px 10px 0px 2px;
	line-height: 24px; height: 24px;
}

.UITabContainer .UIHorizontalTabs .UITab  {
	height: 24px;
}

.UITabContainer .EditIcon {
	float: left;
	_float: none;
}

.UITabContainer .SelectedTab .EditIcon {
  padding: 0px 6px 0px 0px;
	height: 24px;	width: 16px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/EditIcon.png') no-repeat center;
}

.UITabContainer .NormalTab .EditIcon  {
  padding: 0px 6px 0px 0px;
	height: 24px;	width: 16px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DisableEditIcon.gif') no-repeat center;
}

.UITabContainer .HorizontalLayout .UIWindow {
	margin: auto;
	padding-top: 5px;
}

.UIPage .UITabContainer .TabContent {
	height: 100%;
}
