.UITabContainer {
	padding: 2px 7px 7px 7px;
}

.UITabContainer .HorizontalLayout {
	background: #ffffff;
	border: solid 1px #7b7b7b;
	border-top: none;
}

.UITabContainer .HorizontalLayout .UIContainer .LAYOUT-CONTAINER{
	margin: 0px 5px 5px 5px;
}

.UITabContainer .HorizontalLayout .UIContainer .CONTROL-CONTAINER{
	margin: 0px 2px 0px 2px;
}

.UITabContainer .HorizontalLayout .UIContainer .CONTROL-CONTAINER .UIInfoBar{
	margin-bottom: 0px;
}

.UITabContainer .HorizontalLayout .UIPortlet .CONTROL-PORTLET{
	margin: 0px;
}

.UITabContainer .HorizontalLayout .UIPortlet .CONTROL-PORTLET .UIInfoBar {
  margin-bottom: 0px;
}

.UITabContainer .HorizontalLayout .UIPortlet .LAYOUT-PORTLET{
	margin: 0px;
}

.UITabContainer .HorizontalLayout .UIPortlet .VIEW-PORTLET{
	margin-left: 4px;
}

.UITabContainer .HorizontalLayout .UITabContentContainer .UITabContent{
	padding-top: 10px;
}

.UITabContainer a.TabLabel {
	padding: 0px 10px 0px 2px;
	line-height: 24px; height: 24px;
}

.UITabContainer .UIHorizontalTabs .UITab  {
	height: 24px;
}

.UITabContainer .EditIcon {
	float: left;
	_float: none;
}

.LAYOUT-CONTAINER .UITabContainer .SelectedTab .EditIcon {
  padding: 0px 6px 0px 0px;
	height: 24px;	width: 16px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/EditIcon.png') no-repeat center;
}

.LAYOUT-CONTAINER .UITabContainer .NormalTab .EditIcon  {
  padding: 0px 6px 0px 0px;
	height: 24px;	width: 16px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DisableEditIcon.gif') no-repeat center;
}

.UITabContainer .HorizontalLayout .UIWindow {
	margin: auto;
	padding-top: 5px;
}
