.UIPopupMessages {
}

.UIPopupMessages .UIHorizontalTabs {
	height: 32px;
	background: url('background/MessageTabBar1x33.gif') repeat-x top;
	padding: 2px 4px 0px 4px;
}

.UIPopupMessages .UITabPane .UITabContent {
	border: none;
}

.UIPopupMessages .PopupMessageBox {
	padding: 5px;
	height: 200px;
	overflow: auto;
}

.UIPopupMessages .WarningMessage .MessageContainer	{
	color: orange;
	padding: 4px 0px 4px 10px; /* orientation=lt */
	padding: 4px 10px 4px 0px; /* orientation=rt */
	border-bottom: 1px dotted #c3c3c3;
}

.UIPopupMessages .ErrorMessage .MessageContainer	{
	color: red;
	padding: 4px 0px 4px 10px; /* orientation=lt */
	padding: 4px 10px 4px 0px; /* orientation=rt */
	border-bottom: 1px dotted #c3c3c3;
}

.UIPopupMessages .InfoMessage .MessageContainer {
	padding: 4px 0px 4px 10px; /* orientation=lt */
	padding: 4px 10px 4px 0px; /* orientation=rt */
	border-bottom: 1px dotted #c3c3c3;
}

.UIPopupMessages .PopupMessageContainer .PopupIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 16px;
	margin-top: 5px;
}

.UIPopupMessages .PopupMessageContainer .InfoMessageIcon {
	background: url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Info.gif) no-repeat top;
}

.UIPopupMessages .PopupMessageContainer .WarningMessageIcon {
	background: url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Warning.gif) no-repeat top;
}

.UIPopupMessages .PopupMessageContainer .ErrorMessageIcon {
	background: url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Error.gif) no-repeat top;
}

.UIPopupMessages .PopupMessageContainer .PopupMessage {
	line-height: 16px;
	vertical-align: middle;
	padding: 5px 0px;
	margin-left: 25px; /* orientation=lt */
	margin-right: 25px; /* orientation=rt */
}

.UIPopupMessages .MessageActionBar {
	background: #f5f5f5;
	border-top: 1px solid #b2b2b2;
}

.UIPopupMessages .UIAction .ActionContainer .ActionButton {
}
