.UIPageSelector {		
	padding: 10px;
	width: 500px;
	margin: auto;
}

.UIPageSelector .PageSelectorTitle	{
	height: 20px; line-height: 20px;
	padding-left: 15px; /* orientation=lt */
	padding-right: 15px; /* orientation=rt */
	margin-bottom: 5px;
}

.UIPageSelector .PageSelectorTitle .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 2px 2px 0px 0px; /* orientation=lt */
	margin: 2px 0px 0px 2px; /* orientation=rt */
}

.UIPageSelector .PageSelectorTitle .Title {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	font-weight: bold; 
	margin-left: 10px; /* orientation=lt */
	margin-right: 10px; /* orientation=rt */
}

.UIPageSelector .UIFormInfo {
	background: white;
	border: 1px solid #b7b7b7;
	margin-top: 1px;
}

.UIPageSelector .FormInfoBG {
	background: url('background/FormInfoBG360x1.gif') repeat-y right; /* orientation=lt */
	background: url('background/FormInfoBG360x1-rt.gif') repeat-y left; /* orientation=rt */
	padding-right: 30px; /* orientation=lt */
	padding-left: 30px; /* orientation=rt */
	height: 100%;
}

.UIPageSelector .FormInfoIcon {
	background: url('background/FormInfoIcon80x80.gif') no-repeat center right; /* orientation=lt */
	background: url('background/FormInfoIcon80x80.gif') no-repeat center left; /* orientation=rt */
	padding: 15px 15px 20px 15px;
}

.UIPageSelector .UIFormInfo .SelectedPageText {
	font-weight: bold; 
	margin-top: 2px;
}

.UIPageSelector .UIFormInfo .PropertyName {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 100px;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	padding: 4px 10px 4px 0px; /* orientation=lt */
	padding: 4px 0px 4px 10px; /* orientation=rt */
}

.UIPageSelector .UIFormInfo .PropertyValue {
	color: #3176e3;
	padding: 4px;
}

.UIPageSelector .FloatBlockHidden {
	filter: alpha(opacity=30); -moz-opacity: .30; opacity: .30;
	cursor: default;
}