.UIMaskWorkspace {
	background: #f5f5f5;
	border: none;
	width: 650px;
}
	
.UIMaskWorkspace .TopLeftDecorator {
	background: url('background/MaskWorkspace.gif') no-repeat left top;
	padding: 0px 0px 0px 4px;
}

.UIMaskWorkspace .TopRightDecorator {
	background: url('background/MaskWorkspace.gif') no-repeat right top;
	padding: 0px 4px 0px 0px;
}

.UIMaskWorkspace .TopLeftDecorator .TopCenterDecorator {
	height: 4px;
	background: url('background/MaskWorkspace.gif') repeat-x center -4px;
}

.UIMaskWorkspace .MiddleLeftDecorator {
	background: url('background/MiddleMaskWorkspace.gif') repeat-y left;
	padding: 0px 0px 0px 4px;
}

.UIMaskWorkspace .MiddleRightDecorator {
	background: url('background/MiddleMaskWorkspace.gif') repeat-y right;
	padding: 0px 4px 0px 0px;
}

.UIMaskWorkspace .MaskContainer {
	background: #f5f5f5;
}

.UIMaskWorkspace .BottomLeftDecorator {
	background: url('background/MaskWorkspace.gif') no-repeat left bottom;
	padding: 0px 0px 0px 4px;
}

.UIMaskWorkspace .BottomRightDecorator {
	padding: 0px 4px 0px 0px;
	background: url('background/MaskWorkspace.gif') no-repeat right bottom;
}

.UIMaskWorkspace .BottomLeftDecorator .BottomCenterDecorator {
	height: 4px;
	background: url('background/MaskWorkspace.gif') repeat-x center -8px;
}

.UIMaskWorkspace .UIAddApplication .UIItemSelector .ItemDetailList {
	margin-right: 0px; /* orientation=lt */
	margin-left: 0px; /* orientation=rt */
	height: auto;
}

/***********************************	UITabContent	************************************/

.UIMaskWorkspace .UIFormTabPane {
	padding: 10px;
}

.UIMaskWorkspace .UITabContent {
	overflow-y: auto;
	overflow-x: hidden;
	margin: auto;
	height: 275px;
}

.UIMaskWorkspace .UIForm .HorizontalLayout .SelectedIconInfo .UIFormInputSet {
	margin: auto;
}

.UIMaskWorkspace .UIAccessGroup .PublicCheck .UIFormGrid td.FieldComponent {
	_padding: 0px;
}

/*********************************** End UITabContent	************************************/

.UIMaskWorkspace .IconLayout {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 5px 0px 5px;
}

.UIMaskWorkspace .UIFormWithTitle {
	width: 550px;
	margin: auto;
	padding: 50px 0px;
}

.UIMaskWorkspace .UIFormInputSet .UIFormGrid .SelectGroup {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGroup.gif') no-repeat center;
	height: 22px;
	width: 22px;
}

/**********************************UITabSelector*****************************************/

.UIMaskWorkspace .UITabPane .TabPaneContent .WorkingArea .CSSContent {
	border: 1px solid #d5d5d5;
	padding: 0px;
}

.UIMaskWorkspace .UITabPane .TabPaneContent .CSSContent .UITabContent {
	height: auto;
	border: 1px solid white;
	border-top: none;
	margin: auto;
	overflow: hidden;
}

/**************************** UIAddApplication ******************************************/

.UIAddApplication {
	padding: 10px;
}

.UIAddApplication .TitleBarContainer {
	background: #f6f6f6;
}

.UIAddApplication .UITabContent {
	overflow: hidden;
}

.UIAddApplication .UITabContentContainer {
	padding-bottom: 5px;
	border: none;
}

.UIAddApplication .UITabContentContainer .NoneAppsMessage{
	padding: 10px;
	text-align: center;
	color: gray;
	width: 300px;
	margin: 40px auto 0px auto;
}

.UIAddApplication .ContentContainerDetail {
	border: 1px solid #d4d4d4;
	border-top: none;	
}

.UIAddApplication .ContentContainerDetail .CategoryContainer {
	border: 1px solid white;
	border-top: none;
}

.UIAddApplication .ApplicationListContainer {
	height: 240px; width: 449px;
	border: 1px solid #c3c3c3;
	background: white;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0px 10px;
}

.UIAddApplication .Application {
	margin: 10px 0px 0px 0px;
	border: solid 1px #e4e4e4;
	padding: 10px;
}

.UIAddApplication .ApplicationContent {
	margin-left: 85px; /* orientation=lt */
	margin-right: 85px; /* orientation=rt */
}

.UIAddApplication .PortletIcon {
	background: none;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 80px; height: 80px;
	cursor: pointer;
	margin-top: 2px;
}

.UIAddApplication .TitleBarApplication {
	background: none;
	width: 93%; height: 20px;
	color: #1553B9; font-weight: bold;
	border-bottom: 1px solid #dfdfdf;
	padding: 0px 1px 3px 1px;
	margin: 0px auto 5px auto;
}

.UIAddApplication .TitleBarApplication .Title {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin-top: 4px;
	font-weight: bold; font-size: 13px; color: #1553B9; font-family: arial;
}

.UIAddApplication .AddButton {
	width: 20px; height: 24px;
	background: url('background/AddApplicationButton.gif') no-repeat top;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
	margin: 0px 3px;
}

.UIAddApplication .AddToStartUp {
	width: 20px; height: 24px;
	background: url('background/AddToStartup.gif') no-repeat top;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
	margin: 0px 3px;
}

.UIAddApplication .SelectButton {
	width: 20px; height: 24px;
	background: url('background/AddApplicationButton.gif') no-repeat left -22px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
	margin: 0px 3px;
}

.UIAddApplication .ApplicationContentLabel {
	line-height: 16px;
	width: 93%; margin: auto;
}

.UIAddApplication .ApplicationContentLabel .RightLabel {
	color: #058ee6;
}

.UIAddApplication .UIItemSelector .LeftColumnStyle {
	width: auto;
}

.UIAddApplication .UIItemSelector .ItemListContainer .ItemList {
	height: 240px;
	overflow: auto;
	background: #ffffff;
	border: 1px solid #c3c3c3;
	text-transform: capitalize;
}

.UIAddApplication .UIItemSelector .ItemDetailList .ItemDetail {
	background: none;
	border: none;
	height: auto;
}

.UIAddApplication .UIItemSelector {
	padding: 7px 5px 8px 7px; /* orientation=lt */
	padding: 7px 7px 8px 5px; /* orientation=rt */
	margin: 0px;
	background: #f7f7f7;
}

.UIAddApplication .ApplicationItemIcon {
	width: 16px; height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DarkBlueNextArrow.gif') no-repeat;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 5px 0px 5px;
}

.UIAddApplication .LeftColumnStyle .ItemListIcon {
	background: none;
	width: 0px;
}

.UIAddApplication .LeftColumnStyle .ViewListIcon {
	background: none;
	width: 0px;
}

/************************************ Select Permission *******************************/

.UIGroupSelector {
	padding: 10px;
}

.UIGroupSelector .SelectedGroupPath { 
	padding: 5px 0px;
}

.UIGroupSelector .UIBreadcumbs {
	border: 1px solid white;
	padding: 0px;
}

.UIGroupSelector .UIBreadcumbs .LeftBreadcumbsBar {
	background: white;
	border: 1px solid #b7b7b7;
}

.UIGroupSelector .UIBreadcumbs .RightBreadcumbsBar {
	background: white;
}

.UIGroupSelector .UIBreadcumbs .BreadcumbsInfoBar {
	background: white;
}

.UIGroupSelector .UIBreadcumbs .BCHome16x16Icon {
	width: 16px; height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGroup.gif') no-repeat left center;
}

.UIGroupSelector .UIBreadcumbs a.Selected {
	color: #058ee6;
}

.UIGroupSelector .GroupSelector {
	padding: 10px;
	background: #f4f4f4;
	border: 1px solid #e4e4e4;
}

.UIGroupSelector .TitleGroupSelector {
	background: url('background/ThGridRepeatBg1x19.jpg') repeat-x;
	line-height: 19px; height: 19px;
	border: 1px solid #b7b7b7;
	border-bottom: 1px solid #cfcfcf;
	padding: 0px 10px;
}

.UIGroupSelector .LeftGroupSelector {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 220px; height: 210px;
	border: 1px solid white;
}

.UIGroupSelector .RightGroupSelector {
	margin-left: 225px; /* orientation=lt */
	margin-right: 225px; /* orientation=rt */
	height: 210px;
	border: 1px solid white;
}

.UIGroupSelector .RightGroupSelector .Content {
	border: 1px solid #b7b7b7; border-top: none;
	height: 170px; 
	color: #058ee6;
	padding: 10px;
	background: white;
}

.UIGroupSelector .RightGroupSelector .Content div {
	padding: 3px 0px;
}

.UIGroupSelector .RightGroupSelector .Content span {
	color: #2c2c2c;
}

/**************************************Container Form*************************************/
/**************************************ExoMessageDecorator*************************************/

.UIMaskWorkspace .UIIFramePortlet .ExoMessageDecorator .UIPopupMessages .UITabContentContainer {
	border: none;
}
