.UIGroupMembershipSelector {
  padding: 10px;
}

.UIGroupMembershipSelector .SelectedGroupPath {
  background: white;
  border: 1px solid #b7b7b7;
  margin-bottom: 3px; padding: 0px;
}

.UIGroupMembershipSelector .UIBreadcumbs {
  font-weight: normal;
  height: auto;
  overflow: hidden;
}

.UIGroupMembershipSelector .UIBreadcumbs .LeftBreadcumbsBar {
  height: auto;
  background: none;
}

.UIGroupMembershipSelector .UIBreadcumbs .RightBreadcumbsBar {
  background: none;
  height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs .BreadcumbsInfoBar {
  background: none;
  height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs .RightBlackGridArrowIcon {
	margin: 10px 8px 0px 8px; 
}

.UIGroupMembershipSelector .UIBreadcumbs a.Selected {
  color: #058ee6;
}

.UIGroupMembershipSelector .UIBreadcumbs .HomeIcon {
	float: left;
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/NormalGroup.png') no-repeat;
  margin: 7px 0px 0px 5px;
}

.UIGroupMembershipSelector .Container {
  padding: 10px;
  background: url(/eXoSkinMac/skin/MacSkin/background/Background1x4.png) repeat;
  border: 1px solid #e4e4e4;
}

.UIGroupMembershipSelector .MembershipTitle{
  background: url('background/TitleBG1x20.gif') repeat-x;
  border-bottom: 1px #b7b7b7 solid; 
  height: 20px; line-height: 20px; vertical-align: middle;
  padding-left: 15px;
}

.UIGroupMembershipSelector .GroupSelector {
  float: left;
  width: 230px;
  border: 1px solid white;
}

.UIGroupMembershipSelector .UITrees {
  border-top: none;  
  _width: 99%;
}

.UIGroupMembershipSelector .UITrees .TreeContainer {
  height: 152px;
}

.UIGroupMembershipSelector .UITrees .Node {
  line-height: 24px;
}

.UIGroupMembershipSelector .BlueLevelUpArrow24x24Icon {
  margin-left: 7px;
}

.UIGroupMembershipSelector .MembershipSelector {
  background: #f4f4f4;
  border: 1px solid white; 
  margin-left: 240px; height: 183px;
}

.UIGroupMembershipSelector .MembershipSelector .ContentContainer {
	border: 1px solid #b7b7b7;
}

.UIGroupMembershipSelector .MembershipSelector .OverflowContainer {
  background: white;
  height: 146px; width: auto;
  padding: 7px 0px;
  overflow: auto;
}

.UIGroupMembershipSelector .MembershipSelector .Label {
  line-height: 24px ;
}

.UIGroupMembershipSelector .MembershipSelector  a:hover {
  color: blue; 
}

.UIGroupMembershipSelector  .MembershipSelector .OddRow {
  line-height: 22px;
  padding: 0px 5px;
}

.UIGroupMembershipSelector  .MembershipSelector .EvenRow {
  line-height: 22px;
  padding: 0px 5px;
}

.UIGroupMembershipSelector .MembershipSelector .ItemIcon {
  margin: 6px 3px 0px 1px ;  
  height: 22px; line-height: 22px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left;
  padding-left: 20px;  
}