.UIPopupWindow {
	position: absolute;
}
.UIContainerConfigOptions {
	margin: 0px;
}

.UIPopupWindow .UITabContent {
	border: none;
}
/*Popup Header Bg*/
.UIPopupWindow .TLPortalComposer {
	background: url('background/HeaderBgLeft.gif') no-repeat left;
	padding-left: 10px;
}

.UIPopupWindow .TRPortalComposer {
	background: url('background/HeaderBgRight.gif') no-repeat right;
	padding-right: 6px;
	}

.UIPopupWindow .TCPortalComposer {
	background: url('background/HeaderBg.gif') repeat-x;
	height: 47px;
}

/*Popup Bottom Bg*/

.UIPopupWindow .BLPortalComposer {
	background: url('background/BottomLeftBg.gif') no-repeat left;
	padding-left: 7px;
}

.UIPopupWindow .BRPortalComposer {
	background: url('background/BottomRight.gif') no-repeat right;
	padding-right: 6px;
	}

.UIPopupWindow .BCPortalComposer {
	background: url('background/BottomCenter.gif') repeat-x;
	height: 57px;
}
.UIPopupWindow .VTabStyle4 {
	cursor: pointer;
	padding: 1px;	
}

.UIPopupWindow .UIVerticalSlideTabs .VTabStyle4 .UIVTabContent .LableContent {
	font-size: 11px;
	padding:0 0 0px 120px;
}
/*Tabs*/
.UIPopupWindow .TabsContainer {
	background: url('background/NormalTabBg.gif') repeat-x;
	height: 23px;
	padding: 0px 10px;
}

.UIPopupWindow .UITab .SelectedTab {
	line-height: 20px;
	font-weight: bold;
	cursor: pointer;
}

.UIPopupWindow .UITab .SelectedTab .LeftTab{
	background: url('background/TabSelectedLeft.gif') no-repeat left;
	padding-left: 5px;
}

.UIPopupWindow .UITab .SelectedTab .RightTab{
	background: url('background/TabSelectedRight.gif') no-repeat right;
	padding-right: 6px;
}

.UIPopupWindow .UITab .SelectedTab .MiddleTab{
	background: url('background/TabSelectedCenter.gif') repeat-x;
	height: 23px;
	padding: 0px 15px;
}

.UIPopupWindow .UITab .NormalTab {
	line-height: 20px;
	font-weight: bold;
	padding: 0px 10px;
	cursor: pointer;
}

.UIPopupWindow .UITab .NormalTab .LeftTab{
	background: none;
	padding-left: 5px;
}

.UIPopupWindow .UITab .NormalTab .RightTab{
	background: none;
	padding-right: 6px;
}

.UIPopupWindow .UITab .NormalTab .MiddleTab{
	background: none;
	height: 23px;
	padding: 0px 15px;
}

.UIPopupWindow .PopupTitleIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin-top: 10px;
	width: 9px; height: 9px;
	background: url('background/SelectDownButton.gif') no-repeat left top;
}

.UIPopupWindow .PopupTitleIconRight {
	float: right;
	margin: 10px 0px 0px 0px;
	width: 16px; 
	height: 16px;
	background: url('background/PopupWindowIcon.gif') no-repeat left top;
}

.UIPopupWindow .PopupTitle {
	text-align: Left;
	font-weight: bold; 
	height: 29px; line-height: 29px; 
	cursor: move;
	padding-left: 20px;
}

.UIPopupWindow .CloseButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin-top: 10px;
	cursor: pointer;
	width: 15px; height: 15px;
	background: url('background/ExitIcon.gif') no-repeat right;
}

.UIPopupWindow .SaveButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin: 10px;
	cursor: pointer;
	width: 15px; height: 15px;
	background: url('background/SaveIcon.gif') no-repeat right;
}

.UIPopupWindow .EdittedSaveButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin: 10px;
	cursor: pointer;
	width: 15px; height: 15px;
	background: url('background/SaveIcon.gif') no-repeat right;
}

.UIPopupWindow .UIVTab .SelectedTab {
	background: url('background/TitleBg.gif')repeat-x;
	height: 25px;
}

.UIPopupWindow .UIVTab .SelectedTab .TabLabel {
	line-height: 25px;
	color: #fff;
	padding: 0px 10px;
}

.UIPopupWindow .UIVTab .NormalTab {
	background: url('background/UnSelectedTitle.gif')repeat-x;
	height: 25px;
}

.UIPopupWindow .UIVTab .NormalTab .TabLabel {
	line-height: 25px;
	padding: 0px 10px;
}

.UIPopupWindow .UIVTab .VTabStyle3 {
	background: #f6f6f6;
}
.UIPopupWindow .UIAction .SimpleStyle1 .ButtonLeft {
	background: url('background/ButtonLeft.gif')no-repeat left;
	padding-left: 5px;
}

.UIPopupWindow .UIAction .SimpleStyle1 .ButtonRight {
	background: url('background/ButtonRight.gif')no-repeat right;
	padding-right: 5px;
}

.UIPopupWindow .UIAction .SimpleStyle1 .ButtonMiddle {
	background: url('background/ButtonBg.gif')repeat-x;
	height: 18px;
}

.UIPopupWindow .UIAction .SimpleStyle1 .PageProfileIcon {
	background: url('background/PortalProperties.gif') no-repeat left 1px;
  height: 16px;
	padding-left :20px;
}

.UIPopupWindow .UIAction .SimpleStyle1 .ViewAsBlockIcon {
	background: url('background/ViewIcon.gif') no-repeat left 1px;
  height: 16px;
	padding-left :20px;
}

.UIPopupWindow .OverflowContainer .ContentInfo {
	padding: 12px;
}


.UIPopupWindow .OverflowContainer .ContentInfo .LabelTab {
	font-weight: bold;
	line-height: 18px;
}

.UIPopupWindow .VTabContentBG img {
	float: left;
	padding-left: 18px;
}

.UIPopupWindow .TopLeftCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat top left;
	padding-left: 15px;
}

.UIPopupWindow .TopCenterDecorator {
	background: url('background/PopupWindow.png') repeat-x left -58px;
	height: 29px; 
}

.UIPopupWindow .TopRightCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat right -29px;
	padding-right: 15px;
}

.UIPopupWindow .MiddleLeftSideDecorator {
	background: url('background/MiddlePopupWindow.png') repeat-y left;
	padding-left: 8px;	
}

.UIPopupWindow .MiddleCenterDecorator {
	background: url('background/PopupWindowMC1x16.png');
}

.UIPopupWindow .MiddleRightSideDecorator {
	background: url('background/MiddlePopupWindow.png') repeat-y right;
	padding-right: 8px;	
}

.UIPopupWindow .UIWindowContent {
	padding: 0px;
}

.UIPopupWindow .PopupContent {
	background: #dbd9db;
	overflow: auto;
	border: 1px solid #cfcfcf;
	border-top: none;
}
.UIPopupWindow .PopupContent .UITabContentContainer {
	border: none;
}

.UIPopupWindow .BottomBar {
	height:11px;
	padding:1px;
	width: auto;
}

.UIPopupWindow .ResizeButton{
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	background: url('background/PopupWindowIcon.gif') no-repeat left -32px;
	cursor: nw-resize;
	display: none;
	width: 16px;
	height: 16px;
}

.UIPopupWindow .BottomLeftCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat left -111px;
	padding-left: 10px;
}

.UIPopupWindow .BottomCenterDecorator {
	background: url('background/PopupWindow.png') repeat-x left -135px;
	height: 24px;
}

.UIPopupWindow .BottomRightCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat right -87px;
	padding-right: 11px;	
}

.UIPopupWindow .Content .UIPageBrowser {
	padding: 7px 2px 0px 8px; /* orientation=lt */
	padding: 7px 8px 0px 2px; /* orientation=rt */
}

/***************************Begin PoupWindow ExoMessage**********************************/
.UIPopupWindow .ExoMessageDecorator {
}

.UIPopupWindow .ExoMessageDecorator .TopLeftCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat left -159px; 
	padding-left: 17px;
}

.UIPopupWindow .ExoMessageDecorator .TopRightCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat right -191px; 
	padding-right: 18px;
}

.UIPopupWindow .ExoMessageDecorator .TopCenterDecorator {
	background: url('background/PopupWindow.png') repeat-x left -223px; 
	line-height: 31px;
	height: 32px;

}
	
.UIPopupWindow .ExoMessageDecorator .PopupTitle {
	background: none;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	margin: 8px 26px 0px 26px;
	line-height: 20px;
	height: 20px;
	vertical-align: middle;
}

.UIPopupWindow .ExoMessageDecorator .CloseButton {
	margin-top: 13px;
}

.UIPopupWindow .ExoMessageDecorator .PopupTitleIcon {
	width: 25px;	height: 20px;
	background: url('background/PopupWindowIcon.gif') no-repeat left bottom;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIPopupWindow .ExoMessageDecorator .MiddleLeftSideDecorator {
	background: url('background/MiddleExoMessageDecorator.png') repeat-y left; 
	padding-left: 10px;
}

.UIPopupWindow .ExoMessageDecorator .MiddleRightSideDecorator {
	background: url('background/MiddleExoMessageDecorator.png') repeat-y right; 
	padding-right: 10px;
}

.UIPopupWindow .ExoMessageDecorator .MiddleCenterDecorator {
	background: #ffffff;
	padding: 0px;
}

.UIPopupWindow .ExoMessageDecorator  .UIWindowContent {
	padding: 0px; 
	margin: 0px;
}

.UIPopupWindow .ExoMessageDecorator  .UIWindowContent .Content {
	padding: 0px; margin:0px;
	border: none;
}

.UIPopupWindow .ExoMessageDecorator .BottomLeftCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat left -255px; 
	padding-left: 17px; 
}

.UIPopupWindow .ExoMessageDecorator .BottomRightCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat right -274px; 
	padding-right: 18px; 
}

.UIPopupWindow .ExoMessageDecorator .BottomCenterDecorator {
	background: url('background/PopupWindow.png') repeat-x bottom; 
	height: 19px;
}

.UIPopupWindow .ExoMessageDecorator .UITabContentContainer .UITabContent {
	height: auto;
	padding: 0px 1px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 1px; /* orientation=rt */
}

.UITabPane .UITabContent {
  padding: 0px;
  background: #f6f6f6;
  border: 1px solid #bababa;
}

.UIPopupWindow .ExoMessageDecorator .UIPopupMessages .UITabContentContainer {
	border: none;
}

.UIPopupWindow .ExoMessageDecorator .UIPopupMessages .PopupMessageBox {
	height: 185px;
}

