.UIPopupWindow {
	position: absolute;
}

.UIPopupWindow .PopupTitleIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin-top: 10px;
	width: 16px; height: 16px;
	background: url('background/PopupWindowIcon.gif') no-repeat left top;
}

.UIPopupWindow .PopupTitleIconRight {
	float: right;
	margin: 10px 0px 0px 0px;
	width: 16px; 
	height: 16px;
	background: url('background/PopupWindowIcon.gif') no-repeat left top;
}

.UIPopupWindow .PopupTitle {
	text-align: center;
	font-weight: bold; 
	height: 29px; line-height: 29px; 
	cursor: move;
}

.UIPopupWindow .CloseButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin-top: 10px;
	cursor: pointer;
	width: 16px; height: 16px;
	background: url('background/PopupWindowIcon.gif') no-repeat left -16px;
}

.UIPopupWindow .TopLeftCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat top left;
	padding-left: 15px;
}

.UIPopupWindow .TopCenterDecorator {
	background: url('background/PopupWindow.png') repeat-x left -58px;
	height: 29px; 
}

.UIPopupWindow .TopRightCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat right -29px;
	padding-right: 15px;
}

.UIPopupWindow .MiddleLeftSideDecorator {
	background: url('background/MiddlePopupWindow.png') repeat-y left;
	padding-left: 8px;	
}

.UIPopupWindow .MiddleCenterDecorator {
	background: url('background/PopupWindowMC1x16.png');
}

.UIPopupWindow .MiddleRightSideDecorator {
	background: url('background/MiddlePopupWindow.png') repeat-y right;
	padding-right: 8px;	
}

.UIPopupWindow .UIWindowContent {
	padding: 0px 5px 1px 5px;
}

.UIPopupWindow .PopupContent {
	width: 100%;
	background: white;
	overflow: auto;
}

.UIPopupWindow .BottomBar {
	height:11px;
	padding:1px;
	width: auto;
}

.UIPopupWindow .ResizeButton{
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	background: url('background/PopupWindowIcon.gif') no-repeat left -32px;
	cursor: nw-resize;
	display: none;
}

.UIPopupWindow .BottomLeftCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat left -111px;
	padding-left: 10px;
}

.UIPopupWindow .BottomCenterDecorator {
	background: url('background/PopupWindow.png') repeat-x left -135px;
	height: 24px;
}

.UIPopupWindow .BottomRightCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat right -87px;
	padding-right: 11px;	
}

.UIPopupWindow .Content .UIPageBrowser {
	padding: 7px 2px 0px 8px; /* orientation=lt */
	padding: 7px 8px 0px 2px; /* orientation=rt */
}

/***************************Begin PoupWindow ExoMessage**********************************/
.UIPopupWindow .ExoMessageDecorator {
}

.UIPopupWindow .ExoMessageDecorator .TopLeftCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat left -159px; 
	padding-left: 17px;
}

.UIPopupWindow .ExoMessageDecorator .TopRightCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat right -191px; 
	padding-right: 18px;
}

.UIPopupWindow .ExoMessageDecorator .TopCenterDecorator {
	background: url('background/PopupWindow.png') repeat-x left -223px; 
	line-height: 31px;
	height: 32px;

}
	
.UIPopupWindow .ExoMessageDecorator .PopupTitle {
	background: none;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	margin: 8px 26px 0px 26px;
	line-height: 20px;
	height: 20px;
	vertical-align: middle;
}

.UIPopupWindow .ExoMessageDecorator .CloseButton {
	margin-top: 13px;
}

.UIPopupWindow .ExoMessageDecorator .PopupTitleIcon {
	width: 25px;	height: 20px;
	background: url('background/PopupWindowIcon.gif') no-repeat left bottom;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIPopupWindow .ExoMessageDecorator .MiddleLeftSideDecorator {
	background: url('background/MiddleExoMessageDecorator.png') repeat-y left; 
	padding-left: 10px;
}

.UIPopupWindow .ExoMessageDecorator .MiddleRightSideDecorator {
	background: url('background/MiddleExoMessageDecorator.png') repeat-y right; 
	padding-right: 10px;
}

.UIPopupWindow .ExoMessageDecorator .MiddleCenterDecorator {
	background: #ffffff;
	padding: 0px;
}

.UIPopupWindow .ExoMessageDecorator  .UIWindowContent {
	padding: 0px; 
	margin: 0px;
}

.UIPopupWindow .ExoMessageDecorator  .UIWindowContent .Content {
	padding: 0px; margin:0px;
	border: none;
}

.UIPopupWindow .ExoMessageDecorator .BottomLeftCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat left -255px; 
	padding-left: 17px; 
}

.UIPopupWindow .ExoMessageDecorator .BottomRightCornerDecorator {
	background: url('background/PopupWindow.png') no-repeat right -274px; 
	padding-right: 18px; 
}

.UIPopupWindow .ExoMessageDecorator .BottomCenterDecorator {
	background: url('background/PopupWindow.png') repeat-x bottom; 
	height: 19px;
}

.UIPopupWindow .ExoMessageDecorator .UITabContentContainer .UITabContent {
	height: auto;
	padding: 0px 1px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 1px; /* orientation=rt */
}

.UIPopupWindow .ExoMessageDecorator .UIPopupMessages .UITabContentContainer {
	border: none;
}

.UIPopupWindow .ExoMessageDecorator .UIPopupMessages .PopupMessageBox {
	height: 185px;
}

