@import "variables.less"; 
@import "mixins.less";

.uiSuggestions{
	.peopleList{
		ul li {
		    margin-bottom: 15px;
		    margin-top: 15px;
		    
		    &:nth-child(2n+2){
			    border-bottom: 1px solid #cfcfcf;
				padding-bottom: 15px;
			}
			
			&:last-child{
				border-bottom: none;
			}
		}
		
		.peopleName {
		    font-weight: bold;
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    width: 95%;
		}
		
		.peoplePosition {
		    white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    color: #808080;
		}
		
		.peopleConnection {
		    color: @grayLight;
		}
		
		.peopleAction {
		    white-space: nowrap;
		    font-size: 10px;
			position: absolute;
			right: 5px;
			top: 12px;
			width: 125px;
			text-align: right;
			height: 45px;
			#gradient .horizontal(rgba(255,255,255,0),rgba(255,255,255,1));
			background-color: transparent;
		}
		
		.peopleInfo {
		    margin-left: 65px;
			position: relative;
		}
		
		.peoplePicture {
		    padding-top: 2px;
			margin-left: 15px;
		    
		}
		
		
	}
	
	#emptyMessage {
	    padding: 5px;
	    font-weight: bold;
	}
	
}