.UIPortlet .LAYOUT-PORTLET {
  font-size: 11px ;
  margin: 0px 7px 8px 10px ;
}

.UIPortlet .CONTROL-PORTLET {
  margin: 0px 7px -1px 10px;
}

.UIPortlet .CONTROL-PORTLET .DragControlArea {
  float: left ; 
  width: 32px ; height: 20px ; 
  background: url('MacSkin/background/DragControlArea32x20.gif') no-repeat;
  cursor: move ;
  margin: 2px 0px 0px 3px ;
}

.UIPortlet .ViewPortletIcon {
  float: left;
  width: 16px; height: 16px; 
  background: url('/eXoResources/icons/16x16/DefaultSkin/BlueBoxLight.gif') no-repeat;
  margin: 3px 5px 0px 0px;
  cursor: pointer;
}

.UIPortlet .EditPortletPropertiesIcon {
	float: right;
	width: 16px; height: 16px;
	background: url('MacSkin/background/PencilButton.png') no-repeat;
  margin: 4px 5px 2px 0px;
}

.UIPortlet .DeletePortletIcon {
	float:right;
	width: 18px; height:18px; 
  background: url('MacSkin/background/CloseButton.png') no-repeat ;
  margin: 3px 0px 0px 0px;
}

.UIPortlet .MaximizedPortletIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/MacSkin/Maximize.gif') no-repeat;
  margin: 3px 10px 0px 0px;
  cursor: pointer;
}

.UIPortlet .MinimizedPortletIcon {
  float: left;
  width: 16px; height: 16px;  
  background: url('/eXoResources/icons/16x16/MacSkin/Minimize.gif') no-repeat;
  margin: 3px 10px 0px 0px;
  cursor: pointer;
}

.UIPortlet .ConfigPortletIcon {
  float: left;
  width: 16px; height: 16px; 
  background: url('/eXoResources/icons/16x16/MacSkin/Config.gif') no-repeat;
  margin: 3px 10px 0px 5px;
}

.UIPortlet .EditPortletIcon {
  float: left;
  width: 16px; height: 16px;  
  background: url('/eXoResources/icons/16x16/MacSkin/Pencil.gif') no-repeat;
  margin: 4px 10px 0px 5px;
  cursor: pointer;
}


.UIPortlet .HelpPortletIcon {
  float: left;
  width: 16px; height: 16px;  
  background: url('/eXoResources/icons/16x16/MacSkin/PortletHelp.gif') no-repeat;
  margin: 4px 10px 0px 0px;
  cursor: pointer;
}

.UIPortlet .NormalPortletIcon {
  float: left ;
  width: 16px ; height: 16px ;  
  background: url('/eXoResources/icons/16x16/MacSkin/Restore.gif') no-repeat ;
  margin: 3px 10px 0px 0px ;
  cursor: pointer ;
}

.UIPortlet  {
}

/*##############################- PortletLayoutDecorator  -################################*/
.PortletLayoutDecorator {
}

.PortletLayoutDecorator .TopLeft {
  height: 7px ;
  background: url('MacSkin/background/TopLeftLayout11x7.png') no-repeat left ;
  padding: 0px 0px 0px 11px ;
}

.PortletLayoutDecorator .TopMiddle {
  height: 7px ;
  background: url('MacSkin/background/TopCenterLayout1x7.png') repeat-x ;
}

.PortletLayoutDecorator .TopRight {
  height: 7px ;
  background: url('MacSkin/background/TopRightLayout11x7.png') no-repeat right ;
  padding: 0px 11px 0px 0px ;
}

.PortletLayoutDecorator .MiddleLeft {
  background: url('MacSkin/background/MiddleLeftLayout11x1.png') repeat-y left;
  padding: 0px 0px 0px 11px ;
}

.PortletLayoutDecorator .MiddleRight {
  background: url('MacSkin/background/MiddleRightLayout11x1.png') repeat-y right;
  padding-right: 11px ;
}

.PortletLayoutDecorator .CenterBackground {
  background: white;
}

.PortletLayoutDecorator .GardientBackground {
  height: 64px;
  background: url('DefaultSkin/background/LayoutCBg1x56.gif') repeat-x bottom;
  padding: 6px;
}

.PortletLayoutDecorator .BottomLeft {
  height: 12px ;
  background: url('MacSkin/background/BottomLeftLayout11x12.png') no-repeat left ;
  padding: 0px 0px 0px 11px ;
}

.PortletLayoutDecorator .BottomMiddle {
  height: 12px ;
  background: url('MacSkin/background/BottomCenterLayout1x12.png') repeat-x ;
}

.PortletLayoutDecorator .BottomRight {
  background: url('MacSkin/background/BottomRightLayout11x12.png') no-repeat right ;
  padding: 0px 11px 0px 0px;
}
/*############### End Decorator ###################################################*/
.UIContainer .LAYOUT-CONTAINER {
  height: 100%;
  /*background: #dedede url('DefaultSkin/background/ContainerBackground.gif') no-repeat center;*/
  background: #dedede;
  border: solid 1px #38acf3 ;
  padding: 8px 0px 0px 0px ;
  margin: 0px 13px 10px 13px;
}

.UIContainer .CONTROL-CONTAINER {
  margin: 0px 10px -1px 10px;
}

.UIContainer .CONTROL-CONTAINER .DragControlArea {
  float: left ; 
  width: 32px ; height: 20px ; 
  background: url('MacSkin/background/DragControlArea32x20.gif') no-repeat;
  cursor: move ;
  margin: 2px 0px 0px 3px ;
}

.UIContainer .LAYOUT-CONTAINER  .UITableColumnContainer {
  background: none ;
  border: none ;
}

.UIContainer .EditContainerIcon {
	float: right;
	width: 16px; height: 16px;
	background: url('MacSkin/background/PencilButton.png') no-repeat;
  margin: 4px 5px 2px 0px;
}

.UIContainer .DeleteContainerIcon {
	float:right;
	width: 18px; height:18px; 
  background: url('MacSkin/background/CloseButton.png') no-repeat ;
  margin: 3px 0px 0px 0px;
}

.UIContainer .ContainerIcon {
	float: left;
  width: 16px; height: 16px;
  margin: 4px 5px 0px 5px;
  background: url('/eXoResources/icons/16x16/MacSkin/DefaultPortletIcon.png') no-repeat ;
}

.UIPortal .LAYOUT-PORTAL {
  background: url('MacSkin/background/PortalBackground1x1.png');
  border: solid 1px white ;
  padding: 8px 0px ;
  margin: 10px;
}

.UIPage {
}

.UIPortal {
}

.DragAndDropPreview {
  width: auto ; height: 80px ;
	background: url('DefaultSkin/background/DragAndDropPreview4x4.gif');
  border: 1px solid #c4c4c4;
  margin: 0px 12px 10px 12px;
}

.UIPage .VIEW-PAGE {
	padding: 0px 6px ;
}

.UIPage .LAYOUT-PAGE {
  width: 99%;
  margin: 10px 7px 7px 10px ;
}