.UIPortlet .LAYOUT-PORTLET {
  margin: 0px 10px 8px 10px;
  font-size: 11px;
}

.UIPortlet .CONTROL-PORTLET {
  margin: 2px 10px -1px 10px;
}

.UIPortlet .CONTROL-PORTLET .DragControlArea {
  cursor: move ;
  height: 20px ; width: 30px;
  float: left ; 
  margin-top: 4px;
  background: url('VistaSkin/background/DragBG30x20.gif');
}

.UIPortlet .PortletInfoBar {
}

.UIPortlet .PortletInfoBar .InfoBarLeft {
  padding-left: 10px ;margin: 0px 1px 0px 2px;
  background: url('VistaSkin/background/InfoBarL10x28.png') no-repeat left ;
}

.UIPortlet .PortletInfoBar .InfoBarRight {
  padding-right: 11px ;
  background: url('VistaSkin/background/InfoBarR14x28.png') no-repeat right ;
}

.UIPortlet .PortletInfoBar .InfoBarCenter {
  height: 28px ;
  background: url('VistaSkin/background/InfoBarM1x28.png') repeat-x ;
}

.UIPortlet .PortletInfoBar .InfobarAction {
  float: right ;
  display: block ;
  position: relative;
}

.UIPortlet .PortletInfoBar .InfobarLabel {
  margin-right: 85px ;
  line-height: 20px ;
}

.UIPortlet .PortletInfoBar .ControlIcon {
  width: 30px ;
  height: 19px ;
  float: left;
  margin: 4px 0px ;
  cursor: pointer ;  
}

.UIPageBody .UIPortlet .PortletInfoBar .PArrowDownIcon {
  height: 20px; width: 33px;margin-top: 3px;
  background: url('VistaSkin/icons/16x16/PArrowDown.png') no-repeat ;
}

.UIPageBody .UIPortlet .PortletInfoBar .POverArrowDownIcon {
  height: 20px; width: 33px;margin-top: 3px;
  background: url('VistaSkin/icons/16x16/PArrowDownOver.png') no-repeat ;
}

.UIPortlet .PortletInfoBar .ArrowDownIcon {
  background: url('VistaSkin/icons/16x16/ArrowDown.png') no-repeat ;
}

.UIPortlet .PortletInfoBar .OverArrowDownIcon {
  background: url('VistaSkin/icons/16x16/ArrowDownOver.png') no-repeat ;
}

.UIPortlet .PortletInfoBar .MinimizedIcon {
  background: url('VistaSkin/icons/16x16/Minimize.png') no-repeat ;
}

.UIPortlet .PortletInfoBar .OverMinimizedIcon {
  background: url('VistaSkin/icons/16x16/MinimizeOver.png') no-repeat ;
}

.UIPortlet .PortletInfoBar .MaximizedIcon {
  background: url('VistaSkin/icons/16x16/Maximize.png') no-repeat ;
}

.UIPortlet .PortletInfoBar .OverMaximizedIcon {
  background: url('VistaSkin/icons/16x16/MaximizeOver.png') no-repeat ;
}

.UIPortlet .PortletInfoBar .PortletIcon {
  float: left ;
  margin: 5px;
  width: 16px ;
  height: 16px ;
  background: url('VistaSkin/icons/16x16/PortletIcon.png') no-repeat ;
}

.UIPortlet .PortletInfoBar .PortletLabel {
  float: left ;
  margin-top: 5px ;
  font-size: 11px ;
  font-weight: bold ;
}


.UIPortlet .MaximizedPortletIcon {
  float: left;
  height: 16px;  width: 16px;
  background: url('/eXoResources/icons/16x16/VistaSkin/Maximize.gif') no-repeat;
  margin: 3px 10px 0px 0px;
  cursor: pointer;
}

.UIPortlet .MinimizedPortletIcon {
  float: left;
  height: 16px;  width: 16px;
  background: url('/eXoResources/icons/16x16/VistaSkin/Minimize.gif') no-repeat;
  margin: 3px 10px 0px 0px;
  cursor: pointer;
}

.UIPortlet .ConfigPortletIcon {
  float: left;
  height: 16px; width: 16px;
  background: url('/eXoResources/icons/16x16/VistaSkin/Config.gif') no-repeat;
  margin: 3px 10px 0px 5px;
}

.UIPortlet .EditPortletIcon {
  float: left;
  height: 16px;  width: 16px;
  background: url('/eXoResources/icons/16x16/VistaSkin/Pencil.png') no-repeat;
  margin: 4px 10px 0px 5px;
  cursor: pointer;
}

.UIPortlet .ViewPortletIcon {
  float: left;
  height: 16px;  width: 16px;
  background: url('/eXoResources/icons/16x16/VistaSkin/PortletView.gif') no-repeat;
  margin: 3px 10px 0px 0px;
  cursor: pointer;
}

.UIPortlet .HelpPortletIcon {
  float: left;
  height: 16px;  width: 16px;
  background: url('/eXoResources/icons/16x16/VistaSkin/PortletHelp.gif') no-repeat;
  margin: 4px 10px 0px 0px;
  cursor: pointer;
}

.UIPortlet .EditPortletPropertiesIcon {
	background: url('/eXoResources/icons/16x16/VistaSkin/EditPortletIcon31x18.png') no-repeat ;
	height: 18px;	width:31px;
	margin: 3px 0px 0px 0px;
	float:right;
}

.UIPortlet .NormalPortletIcon {
  float: left ;
  height: 16px ;  width: 16px ;
  background: url('/eXoResources/icons/16x16/VistaSkin/Restore.gif') no-repeat ;
  margin: 3px 10px 0px 0px ;
  cursor: pointer ;
}

.UIPortlet .DeletePortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/DeletePortletIcon29x18.png') ;
	height:18px;	width:29px;
  margin: 3px 0px 0px 0px;
	float:right;
}

.UIPortlet .OnShow {
  display: block;
}

.UIPortlet .OnHide {
  display: none;
}

.UIPortlet .PortletIcon {
  margin: auto;
  width: 20px; height:20px;
  background: url('/eXoResources/icons/16x16/VistaSkin/DefaultPortletIcon.png') no-repeat ;
}

.UIPortlet {
}

/*##############################- PortletLayoutDecorator  -################################*/
.PortletLayoutDecorator {
}

.PortletLayoutDecorator .TopLeft {
  background: url('VistaSkin/background/LayoutTL10x9.png') no-repeat left top;
  padding-left: 10px ;
  height: 9px ;
}

.PortletLayoutDecorator .TopMiddle {
  background: url('VistaSkin/background/LayoutTM1x9.png') repeat-x top;
  height: 9px ;
}

.PortletLayoutDecorator .TopRight {
  background: url('VistaSkin/background/LayoutTR11x9.png') no-repeat right top;
  padding-right: 11px ;
  height: 9px ;
}

.PortletLayoutDecorator .MiddleLeft {
  background: url('VistaSkin/background/LayoutML10x1.png') repeat-y left;
  padding-left: 10px;
}

.PortletLayoutDecorator .MiddleRight {
  background: url('VistaSkin/background/LayoutMR11x1.png') repeat-y right;
  padding-right: 11px ;
}

.PortletLayoutDecorator .CenterBackground {
  background: white;
  border-top: none;
}

.PortletLayoutDecorator .GardientBackground {
  background: url('VistaSkin/background/LayoutBG1x56.png') repeat-x bottom;
  height: 64px;
  border-top: none;
  padding: 8px;
}

.PortletLayoutDecorator .BottomLeft {
  background: url('VistaSkin/background/LayoutBL10x14.png') no-repeat left bottom;
  padding-left: 10px ;
  height: 14px ;
}

.PortletLayoutDecorator .BottomMiddle {
  background: url('VistaSkin/background/LayoutBM1x14.png') repeat-x bottom;
  height: 14px ;
}

.PortletLayoutDecorator .BottomRight {
  background: url('VistaSkin/background/LayoutBR11x14.png') no-repeat right bottom;
  padding-right: 11px ;
}

/*############### End Decorator ###################################################*/

.VIEW-PORTAL .UIContainer .UITableColumnContainer {
	width: 99.7%;
} 

.UIContainer .LAYOUT-CONTAINER {
  background: url('VistaSkin/background/ContainerBG3x3.png') repeat;
  border: solid 1px #7c7c7c;
  margin: 1px 14px 10px 14px; 
  padding-top: 5px;
  height: 100%;
}

.UIContainer .CONTROL-CONTAINER {
  margin: 0px 10px -1px 10px;
}

.UIContainer .CONTROL-CONTAINER .DragControlArea {
  cursor: move ;
  height: 20px ;width: 30px;
  float: left ; 
  margin-top: 4px;
  background: url('VistaSkin/background/DragBG30x20.gif');
}

.UIContainer .LAYOUT-CONTAINER  .UITableColumnContainer {
  background:none ;
  border: none ;
}

.UIContainer .LAYOUT-CONTAINER  .UITableColumnContainer td {
}

.UIContainer .EditContainerIcon {
	background: url('/eXoResources/icons/16x16/VistaSkin/EditPortletIcon31x18.png') no-repeat ;
	height: 18px;	width:31px;
	margin: 3px 0px 0px 0px;
	float:right;
}

.UIContainer .DeleteContainerIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/DeletePortletIcon29x18.png') ;
	height:18px;	width:29px;
  margin: 3px 0px 0px 0px;
	float:right;
}

.UIContainer .ContainerIcon {
  float: left;
  width: 16px; height: 16px;margin:5px 6px;
  background: url('/eXoResources/icons/16x16/VistaSkin/DefaultPortletIcons.png') no-repeat ;
}

.UIPortal .LAYOUT-PORTAL {
  border: solid 1px #696969;
  background: url('VistaSkin/background/LayoutPortalBG.png') repeat;
  padding:6px;
  margin: 0px 8px;
}

.UIPortal {
  background: none;
}

.DragAndDropPreview {
  width: auto ;
  height: 80px ;
  background: url('DefaultSkin/background/PortalBg.gif');
  border: 1px solid #cdcdcd;
  margin: 0px 12px 10px 12px;
  
}

.UIPage .CONTROL-PAGE .DragControlArea {
  border: solid 1px blue ;
  cursor: move;
  width: 200px ; height: 18px ;
  float: left ; 
}

.UIPage .CONTROL-PAGE .RoundedStyle .LeftBar {
  background-color: #bdcccc;
}

.UIPage .CONTROL-PAGE .RoundedStyle .RightBar {
  background-color: #bdcccc;
}

.UIPage .UIRowContainer {
  margin: 6px 0px 6px 3px;
}

.UIPage .EditPageIcon {
	background: url('/eXoResources/icons/16x16/VistaSkin/Pencil.png') no-repeat left;
	height: 16px;	width: 16px;
  margin: 2px 10px 2px 0px;
	float: right;
}

.UIPage .DeletePageIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/DustBin.png') ;
	height: 16px;	width: 16px;
  margin: 2px 10px 2px 0px;
	float: right;
}


