.UICreatePage {
  padding: 15px 6px 5px 6px;
}

.UICreatePage .CreatePageContainer {
  background: url('background/LightGrayLinedBG1x4.gif');
  border: 1px solid #b7b7b7;
  padding-bottom: 8px;
}

.UICreatePage .CreatePageLabel {
  text-align: center; font-weight: bold; color: #515151;
  padding: 6px;
}

.UICreatePage .UIPortletOptions {
  margin: 0px 7px;
}

.UICreatePage .UIToolbar {
  padding: 0px 5px;
}

.UICreatePage .UIToolbar .EditToolbar .Icon {
  margin: 4px 10px 0px 25px;
}

.UICreatePage .PageNodeSelectorContainer {
  padding: 5px ;
  border: 1px #cdcdcd solid;
  background: url('background/GrayLinedBG.gif');
}

.UICreatePage .PageNodeSelectorContainer .UIVerticalSlideTabs {
  margin: 0px;
  padding-bottom: 0px;
}

.UICreatePage .PageNodeSelectorContainer .UIVerticalSlideTabs .UITree {
  padding: 0px;
  border: none; background: none;
  width: auto;
}

.UICreatePage .PageLayoutModeIcon {
  width: 32px; height: 32px;
  background: url('background/PageLayout.gif') no-repeat;
}

.UICreatePage .PagePreviewIcon {
  width: 32px; height: 32px;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/32x32/icons/PreviesPageButton.png') no-repeat;
}

.UICreatePage .EditContainerIcon {
  width: 32px; height: 32px;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/32x32/icons/ShowContainerButton.png') no-repeat;
}

.UICreatePage .EditPortletIcon {
  width: 32px; height: 32px;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/32x32/icons/ShowPortletButton.png') no-repeat;
}

.UICreatePage .TreeSelectorTitle {
  text-align: center; font-size:11px;
  line-height: 20px; vertical-align:middle;
  border: 1px solid #afaeae ; margin-bottom: 6px;
  background: url('background/TitleBG1x20.gif') repeat-x;
}

.UICreatePage .NavigationPortalIcon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/Portal.gif') ;
}

.UICreatePage .UITree {
  border: none; background: none;
  padding: 0px;
}

.UICreatePage .UITree .TreeContainer .Node .ExpandIcon {
  margin: 2px 2px 0px 0px ;
}

.UICreatePage .UITree .TreeLevelContainer {
  margin: 8px 0px 5px 3px; background: none; border: none;
  height: 21px;
}

.UICreatePage .UITree .TreeLevelContainer .LevelUpArrowIcon {
  background: url('background/AquaBlueUpLevel.gif') no-repeat;
  width: 26px; line-height: 18px;
  margin-left: 8px;
}

.UICreatePage .UITree .TreeContainer {
  overflow: auto;
  padding-top: 7px;
  padding-bottom: 10px;
  margin: 0px;
}

.UICreatePage .UITree .TreeContainer .Node {
  margin: 3px 0px 0px 0px;
  padding-left: 5px;
  color: black;
  width: auto;
}

.UICreatePage .UITree .TreeContainer .NodeSelected {
  height: 16px ; line-height: 16px; 
  width: auto; 
}

.UICreatePage .UITree .TreeContainer .ExpandIcon {
  margin-right: 2px ;
}

.UICreatePage  .UITree .TreeContainer .ColapseIcon {
  margin-right: 2px ;
}

.UICreatePage  .UITree .TreeContainer .Node .Icon {
  width: 16px;  height: 16px ;
  margin: 2px 2px 0px 1px;
}

.UICreatePage .UITree .TreeContainer .NodeLabel a {
  margin-left: 0px ; padding-left: 2px; 
  height: 16px ; width: auto;
  line-height: 16px ;
}

