
.UIWindow .UIManagement {
	margin: 0px;
}

.UIManagement {
	padding: 10px;
	margin: 7px;
	border: 1px solid #ccc;
	background: white;
}

.UIManagement .ManagementBlock {
	height: 101px;
	background: #fcfcfc url('background/ContentBg.gif') repeat-x bottom;
}

.UIManagement table.ManagementBlock td {
	vertical-align: middle;
	white-space: nowrap;
}

.UIManagement .ManagementBlock .Image {
	width: 103px;
	line-height: 100px;
	padding: 0px 10px 0px 20px ;
}

.UIManagement .ManagementBlock .Label {
	color: #0077d4;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 15px 0px 15px ;
	background: url('background/LineBg.gif') no-repeat right center;
}

.UIManagement .ManagementBlock .ActionBlock {
	padding-left: 50px;
	width: 70%;
}

.UIManagement .ManagementBlock .ActionBlock a {
	line-height: 16px;
	width: auto;
	padding: 1px 0px 2px 25px;
	margin: 0px 70px 0px 0px;
}

.UIManagement .ManagementBlock .EditLayoutIcon {
	background: url('background/MiniIcon.gif') no-repeat left 0px;
}

.UIManagement .ManagementBlock .EditNavIcon {
	background: url('background/MiniIcon.gif') no-repeat left -17px;
}

.UIManagement .ManagementBlock .DeleteIcon {
	background: url('background/MiniIcon.gif') no-repeat left -34px;
}

.UIManagement .ManagerButton .ButtonLeft {
	background: url('background/BtnBg.gif') no-repeat left top;
	padding-left: 8px;
}

.UIManagement .ManagerButton .ButtonRight {
	background: url('background/BtnBg.gif') no-repeat right top;
	padding-right: 9px;
}

.UIManagement .ManagerButton .ButtonMiddle {
	background: url('background/BtnBg.gif') repeat-x left -32px;
	line-height: 32px;
	font-size: 12px;
	display: block;
	padding: 0px 15px 0px 15px;
}

.UIManagement .CancelBtn .ButtonLeft {
	background: url('background/BtnBg.gif') no-repeat left -64px;
	padding-left: 7px;
}

.UIManagement .CancelBtn .ButtonRight{
	background: url('background/BtnBg.gif') no-repeat right -64px;
	padding-right: 6px;
}

.UIManagement .CancelBtn .ButtonMiddle{
	background: url('background/BtnBg.gif') repeat-x left -96px;
	line-height: 32px;
	padding: 0px 15px 0px 15px;
	font-size: 12px;
	display: block;

}