.UIPermissionSelector {
  padding: 10px;
}

.UIPermissionSelector .PermissionSelectorTitleBar {
  margin: 5px 0px 0px 5px; 
  height: 30px;
}

.UIPermissionSelector .PermissionSelectorTitleBar .PermissionIcon {
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/24x24/icons/PermissionIcon.gif') no-repeat;
  width: 24px; height: 24px;
  margin: 2px 10px 0px 10px;
  float: left;
}

.UIPermissionSelector .PermissionSelectorTitleBar .Title {
  height: 24px; line-height: 24px;
  font-size: 12px; font-weight: bold; color: #0a80d2;
  float: left;
}

.UIPermissionSelector .PermissionInfoContainer {
  padding: 10px;
}

.UIPermissionSelector .PermissionInfoContainer .InfoContentContainer {
  padding: 0px;
}

.UIPermissionSelector .PermissionInfoContainer .PermissionTypeBar {
  height: 22px; line-height: 22px; 
  background: url('background/TitleBG1x20.gif') repeat-x; 
  border: solid 1px #b1b5c0 ; border-bottom: none;
}

.UIPermissionSelector .PermissionTypeBar .SeparateLine {
  float: left;
  height: 22px;
  border-left: solid 1px #b1b5c0;
  border-right: solid 1px #ffffff;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo {
  border: solid 1px #b1b5c0 ;
  background:url(background/SelectedPermissionInfo1x21.png) repeat-x scroll center top ;
  padding: 15px 0px 15px 0px ;
  height: 90px;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Icon {
  margin: 0px 5px 0px 15px ; /* orientation=lt */
	margin: 0px 15px 0px 0px ; /* orientation=rt */
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .PermissionInfoTitle {
  margin-left: 5px ; /* orientation=lt */
	margin-right: 5px ; /* orientation=rt */
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  font-weight: bold;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Label {
  margin: 8px 0px 5px 0px ;
  float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  width: 150px;
  text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Info {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */	
	margin: 8px 0px 5px 15px; /* orientation=lt */
	margin: 8px 15px 5px 0px; /* orientation=rt */
  color: #0749c4 ;
  background: none;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
}

.UIPermissionSelector .PermissionInfoContainer .FloatBlockHidden {
	filter:alpha(opacity=40); -moz-opacity:.40; opacity:.40;
}

.UIPermissionSelector .PermissionInfoContainer a.FloatBlockHidden {
	cursor: default;
}

.UIPermissionSelector .PermissionInfoContainer a:hover.FloatBlockHidden {
	color: black;
}

.UIPermissionSelector .PermissionInfoContainer .DeletePermissionIcon  {
	line-height: 24px; 
	height: auto; 
	width: auto;
	padding-left: 25px; /* orientation=lt */
	padding-right: 25px; /* orientation=rt */
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/DustBin.png') no-repeat left center; /* orientation=lt */
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/DustBin-rt.png') no-repeat right center; /* orientation=rt */
} 

.UIPermissionSelector .PermissionInfoContainer .SelectPermissionIcon  {
	line-height: 24px; 
	height: auto; 
	width: auto;
	padding-left: 25px; /* orientation=lt */
	padding-right: 25px; /* orientation=rt */
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/SelectPermissionIcon.png') no-repeat left center; /* orientation=lt */
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/SelectPermissionIcon-rt.png') no-repeat right center; /* orientation=rt */
}