.FL {
	float: left;
}

.FR {
	float: right;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}


/* Product - Category  */
.ACMECategoriesTDContainer {
	width: 230px;
}
.ACMECategoriesTDContainer .CategoriesContainer .Title {
	background: url('background/CategoriesContainerBg.png') repeat-x left -439px; 
	border-top: 1px solid #ffffff;
	font-size: 12px;
	color: #282828;
	line-height: 24px;
	padding-left: 15px;
}
.ACMECategoriesTDContainer .CategoriesContainer {
	padding-bottom: 7px;
	width: 230px;
}

.ACMECategoriesTDContainer .CategoriesContainer .CategT {
	background: url('background/MenuT.gif') no-repeat left top;
	line-height: 28px;
	padding: 0 0 0 15px;
	color: #424242;
	font-size: 14px!important;
	font-weight: bold;
	text-shadow: 1px 1px #ffe79e;
}

.ACMECategoriesTDContainer .CategoriesContainer .CategB {
	background: url('background/MenuB.gif') no-repeat left bottom;
	height: 9px;
}

.ACMECategoriesTDContainer .CategoriesContainer .CategC {
	background: #f6f6f6;
	padding-bottom: 20px;
}

.ACMECategoriesTDContainer .Tab h5 {
	border-bottom: 1px dotted #686868;
	display: block;
	margin: 0 13px;
	padding: 5px 0;
}

.ACMECategoriesTDContainer .SubTab h5 {
	border-bottom: 1px dotted #aeaeae;
	display: block;
	margin: 0 30px;
}

.ACMECategoriesTDContainer .CategoriesContainer .CategC a.Item {
	color: #424242;
	font-size: 12px;
	font-weight: bold;
}

.ACMECategoriesTDContainer .CategoriesContainer .CategC a.SubItem {
	color: #696969;
	font-size: 12px;
	font-weight: normal;
}

/* Right column */
.ACMEParameterizedTDContainer {
	width: auto;
	padding: 10px 20px 10px 10px;
}

.ACMEParameterizedTDContainer .OptionsTab {
	color: #424242;
	font-weight: bold;
	line-height: 28px;
}

.ACMEParameterizedTDContainer .OptionsTab a.Selected {
	color: #424242;
}

.ACMEParameterizedTDContainer .OptionsTab a.Normal {
	color: #f58220;
}

/* Normal news */
.ACMEParameterizedTDContainer .NorNews {
	margin: 15px 0;
}

.ACMEParameterizedTDContainer .NorNews .ImgNorNews {
	float: left;
	width: 51px;
}

.ACMEParameterizedTDContainer .NorNews .ContentNorNews {
	padding-left: 60px;
}

.ACMEParameterizedTDContainer .NorNews .TitNorNews {
	font-size: 12px;
	font-weight: bold;
	color: #f58220;
}

.ACMEParameterizedTDContainer .NorNews .TitNorNews:hover {
	/*text-decoration: underline;*/
}

.ACMEParameterizedTDContainer .NorNews .Summary {
	color: #595959;
	padding-top: 5px;
	text-align: justify;
}

/* Hot news */
.ACMEParameterizedTDContainer .HotNews {
	margin: 20px 0;
}

.ACMEParameterizedTDContainer .HotNews .ImgHotNews {
	float: left;
	width: 93px;
}

.ACMEParameterizedTDContainer .HotNews .ContentHotNews {
	padding-left: 110px;
}

.ACMEParameterizedTDContainer .HotNews .TitHotNews {
	font-size: 12px;
	font-weight: bold;
	color: #f58220;
}

.ACMEParameterizedTDContainer .HotNews .TitHotNews:hover {
	text-decoration: underline;
}

.ACMEParameterizedTDContainer .HotNews .Summary {
	color: #595959;
	padding-top: 5px;
}

.ACMEParameterizedTDContainer .LearnMore {
	text-align: right;
	padding: 3px 0;
}

.ACMEParameterizedTDContainer .LearnMore a {
	color: #6180ff;
}

.ACMEParameterizedTDContainer .LearnMore a:hover {
	text-decoration: underline;
}

/********************** Product detail *****************************************/
.ProDetailPage {
	padding: 13px 22px;
}

.ProDetailPage .ShareApp a {
	width: 20px;
	height: 20px;
}

.ProDetailPage .ShareApp .Facebook {
	background: url('background/Icon20x20.png') no-repeat right -24px;
	margin-left: 6px;
}

.ProDetailPage .ShareApp .Twitter {
	background: url('background/Icon20x20.png') no-repeat right top;
}

.ProDetailPage .ProBoxControl {
	padding: 6px 20px 8px;
}

.ProDetailPage .ProBoxTLIn {
	background-position: left -200px;
}

.ProDetailPage .ProBoxTRIn {
	background-position: right -200px;
}

.ProDetailPage .ProBoxTMIn {
	background-position: left -232px;
}

.ProDetailPage .BoxContainer {
	-moz-border-radius: 5px 5px 5px 5px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding-top: 9px;
}

.ProDetailPage .ProBoxControl h3 {
    color: #6D6D6D;
    font-size: 16px!important;
	font-weight: normal;
}

.ProDetailPage .BoxContainer .TitleBar {
	background: url("/portal/rest/jcr/repository/collaboration/sites content/live/acme/medias/images/GlobalImages/TitleBarBg.png") repeat-x left top;
    color: #FFFFFF;
    font-size: 18px!important;
    line-height: 30px;
    padding-left: 20px;
}

.ProDetailPage .BoxContainer .ContentBlock {
	-moz-border-radius: 5px 5px 5px 5px;
    background: url('/portal/rest/jcr/repository/collaboration/sites content/live/acme/medias/images/GlobalImages/Bg.png') repeat-x left top #EFEFEF;
}

.ProDetailPage .BoxContAct h1 {
	text-align: center;
	border-bottom: 1px solid #bfbfbf;
    color: #4c4c4c;
    font-size: 30px!important;
	margin: 0 340px;
    padding-bottom: 16px;
	font-weight: normal;
}

.ProDetailPage .Box1 .BlockWebsite {
	width: 225px;
}


.ProDetailPage .Box1 .BlockSupport {
	width: 190px;
}

.ProDetailPage .Box1 .Icon {
	background: url('/eXoDMSResources/skin/DefaultSkin/skinIcons/16x16/icons/NodeTypes/pdf.gif') no-repeat left top;
	color: #595959;
    float: left;
    font-size: 13px!important;
    height: auto;
    line-height: 16px;
    padding-left: 22px;
    width: auto;
}

.ProDetailPage .Box1 .Block {
	padding: 8px 0 8px 10px;
}

.ProDetailPage .Box1 .VideoDemo {
	background: url('background/Icon50x50.png') no-repeat left top;
}

.ProDetailPage .Box1 .MemberKit {
	background: url('background/Icon50x50.png') no-repeat left -119px;
}

.ProDetailPage .Box1 .Tutorial {
	background: url('background/Icon50x50.png') no-repeat left -61px;
}

.ProDetailPage .Box1 .SampContract {
	background: url('background/Icon50x50.png') no-repeat left -178px;
}

.ProDetailPage .Box1 .Healing {
	background: url('background/Icon50x50.png') no-repeat left -238px;
}

.ProDetailPage .Box1 .XRayVision {
	background: url('background/Icon50x50.png') no-repeat left -367px;
}

.ProDetailPage .Box1 .Immunity {
	background: url('background/Icon50x50.png') no-repeat left -301px;
}

.ProDetailPage .Box1 .Vision {
	background: url('background/Icon50x50.png') no-repeat left -429px;
}

.ProDetailPage .ui-tabs ul li a {
	line-height: 28px;
	display: block;
	color: #424242;
	font-weight: bold;
	font-size: 14px!important;
	padding: 0 24px 0 10px;
	margin-right: 12px;
}

/*Normal button*/
.ProDetailPage li.ui-state-default a.ArrowCtrl {
	background: #f3f3f3 url('background/Icon11x11.png') no-repeat 90% -13px;
	border: 1px solid #eaeaea;
	-moz-border-radius: 5px 5px 5px 5px;
}

/*Highlight button*/
.ProDetailPage li.ui-tabs-selected a.ArrowCtrl {
	background: #ffcb05 url('background/Icon11x11.png') no-repeat 90% 11px;
	border: 1px solid #eaeaea;
	-moz-border-radius: 5px 5px 5px 5px;
}

/* Override JQuery Tabs default style */
.ui-tabs .ui-tabs-nav li a {
	padding: 0 20px 0 0;
}

/* Content list */
.ProDetailPage ul.ContList {
	padding: 10px 0 10px 30px;
	border-bottom: 1px solid #BFBFBF;
    margin-bottom: 25px;
}

.ProDetailPage ul.ContList li {
	list-style-image: url('background/ListIcon.png');
	list-style-type: square;
	line-height: 16px;
	padding: 5px 0;
	color: #424242;
}

/* Hot news */
.ProDetailPage .BigNews {
	margin: 5px 0 30px;
}

.ProDetailPage .BigNews .Image {
	float: left;
	width: 93px;
}

.ProDetailPage .BigNews .Content {
	padding-left: 110px;
}

.ProDetailPage .BigNews .Content .Title {
	font-size: 27px!important;
	font-weight: bold;
	color: #424242;
	padding: 0;
}

.ProDetailPage .BigNews .Content .Title:hover {
	text-decoration: underline;
}

.ProDetailPage .BigNews .Content .Index1 {
	color: #f58220;
	font-size: 12px;
}

.ProDetailPage .BigNews .Content .Summary {
	color: #595959;
	padding-top: 5px;
}

/* Box videos */
.ProDetailPage .BoxVideos {
	margin-top: 10px;
}

.ProDetailPage .BoxVideos .ContentBlock {
	padding: 30px 18px;
}

.ProDetailPage .BoxVideos .VideoItem {
	margin: 0 22px;
}

.ProDetailPage .BoxVideos .VideoItem object {
	-moz-box-shadow: 0 0 35px #b3b3b3;
	-webkit-box-shadow: 0 0 35px #b3b3b3;
}

/* Resources bar */

.ProDetailPage .ResourBoxL {
	background: url('/acme-websiteResources/skin/acmeSkin/ProductStyle/background/ProDetailBg.png') no-repeat left -208px;
	padding-left: 8px;
}

.ProDetailPage .ResourBoxR{
	background: url('/acme-websiteResources/skin/acmeSkin/ProductStyle/background/ProDetailBg.png') no-repeat right -208px;
	padding-right: 7px;
}

.ProDetailPage .ResourBoxC {
	background: url('/acme-websiteResources/skin/acmeSkin/ProductStyle/background/ProDetailBg.png') repeat-x left -259px;
	height: 50px;
	font-size: 36px!important;
	color: #ff9c00;
	text-align: left;
	margin-bottom: 10px;
	line-height: 50px;
}

/* Edit Mode */
.UIPresentationSubContainerHover .EdittingToolBarSubContainer {
	display:block;
}

.EdittingToolBarSubContainer {
	display:none;
	float:right;
	position:relative;
	right:0;
	top:0;
	width:160px;
	z-index:1;
}

.EdittingToolBarSubContainer .EdittingToolBar {
	position:absolute;
	right:0;
	top:-20px;
}
.EdittingToolBarSubContainer .EdittingCurrentState {
	color:#5E6D7B;
	padding-left:3px;
}
.EdittingToolBarSubContainer .EdittingToolBar .EdittingToolBarL {
	background:url("/eXoWCMResources/skin/DefaultSkin/wcm-portal/icons/EdittingToolBarL.png") no-repeat scroll left top transparent;
	padding-left:4px;
}
.EdittingToolBarSubContainer .EdittingToolBar .EdittingToolBarR {
	background:url("/eXoWCMResources/skin/DefaultSkin/wcm-portal/icons/EdittingToolBarR.png") no-repeat scroll right top transparent;
	padding-right:4px;
}
.EdittingToolBarSubContainer .EdittingToolBar .EdittingToolBarC {
	background:url("/eXoWCMResources/skin/DefaultSkin/wcm-portal/icons/EdittingToolBarC.png") repeat-x scroll 0 0 transparent;
	line-height:18px;
	padding:2px 0 0;
}
