.UISearch {
  height: 39px;
  line-height: 39px ;
  padding-bottom:0px;
}

.UISearch .UISearchForm {
  height: 39px; line-height: 39px;
}

.UISearch .UISearchForm .QuickSet {
  overflow: hidden ;
  width: 100% ;
  padding-top: 9px;
}

.UISearch .UISearchForm .QuickSet .SearchTitle {
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  padding-left: 10px;
}

.UISearch .UISearchForm .QuickSet .AdvancedSearchIcon {
  width: 24px ;  height: 24px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/24x24/icons/AdvancedSearch.gif') no-repeat ;
  float: left ;
}

.UISearch .UISearchForm .QuickSet .AdvancedSearch {
  float: right ;
  margin-right: 10px; color: black; font-weight: normal;
}

.UISearch .UISearchForm .QuickSet .SimpleSearchIcon {
  margin-left: 10px ;
  width: 24px ;  height: 24px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/24x24/icons/QuickSearch.png') no-repeat ;
  float: left ;
}

.UISearch .UISearchForm .QuickSet .SimpleSearchOverIcon {
  margin: 0px 0px 0px 10px ;
  width: 24px ;  height: 24px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/24x24/icons/BlueMagnifierOver.gif') no-repeat ;
  float: left ;
}

.UISearch .UISearchForm .QuickSet a {
  color: black;
}

.UISearch .UISearchForm .QuickSet a:hover{
  color: blue;
}

.UISearch .UISearchForm .QuickSet .UIForm {
	background-color: transparent ;
	border: none ;
}

.UISearch .UISearchForm .QuickSet select {
  float: left ;
  width: 115px ; height: 18px; 
  padding: 1px;
  border: solid 1px gray;
  font-size: 11px
}

.UISearch .UISearchForm .QuickSet input {
  float: left ;
  margin: 0px 5px 0px 10px ; padding-left: 4px;
  border: 1px solid gray ;
  width: 180px ; height: 16px;
}

.UIFormTabPane .UISearch .UISearchForm .QuickSet select {
  float: left ;
  margin-top: 8px ; padding-left: 4px;
  border: 1px solid #b7b7b7 ;
  width: 120px ; 
}

.UIFormTabPane .UISearch .UISearchForm .QuickSet input {
  float: left ;
  margin: 3px 5px 0px 0px ;
  border: 1px solid #b7b7b7 ;
  width: 185px ;
}