/*##############################-Page Layout Decorator-################################*/

.UIPageBody .PageLayoutDecorator  {
  padding: 0px ;
}

.UIPageBody .PageLayoutDecorator .TopLeftPage {
  background: url('background/PageLayout.png') no-repeat left top; /* orientation=lt */
  background: url('background/PageLayout-rt.png') no-repeat right top; /* orientation=rt */
  padding: 0px 0px 0px 142px; /* orientation=lt */
  padding: 0px 142px 0px 0px; /* orientation=rt */
  _padding: 0px 0px 0px 139px; /* orientation=lt */
  _padding: 0px 139px 0px 0px; /* orientation=rt */
}
		
.UIPageBody .PageLayoutDecorator .TopRightPage {
	background: url('background/PageLayout.png') no-repeat right -114px; /* orientation=lt */
	background: url('background/PageLayout-rt.png') no-repeat left -114px; /* orientation=rt */
	padding: 0px 72px 0px 0px;	/* orientation=lt */
	padding: 0px 0px 0px 72px; /* orientation=rt */
	_padding: 0px 71px 0px 0px;	/* orientation=lt */
	_padding: 0px 0px 0px 71px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .TopCenterPage {
	line-height: 110px; 
	white-space: nowrap;
	color: #1f2020;
	height: 110px;	
	text-align: center;
	font-weight: bold;
	background: url('background/PageLayout.png') repeat-x center -228px;	
}

.UIPageBody .PageLayoutDecorator .TopCenterPage .PageContent {
	height: 110px;
}

.UIPageBody .PageLayoutDecorator .MiddleLeftPage {
	background: url('background/MiddlePageLayout.png') repeat-y left;	/* orientation=lt */
	background: url('background/MiddlePageLayout-rt.png') repeat-y right;	/* orientation=rt */
	padding: 0px 0px 0px 12px;	/* orientation=lt */
	padding: 0px 12px 0px 0px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .MiddleRightPage {
	background: url('background/MiddlePageLayout.png') repeat-y right;	/* orientation=lt */
	background: url('background/MiddlePageLayout-rt.png') repeat-y left;	/* orientation=rt */
	padding: 0px 13px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 13px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .MiddlePageBG {
	background: url('background/Pagebackground1x111.gif') repeat-x center;
}

.UIPageBody .PageLayoutDecorator .MiddlePageBG .FixBug {
	height: 90px;
}

.UIPageBody .PageLayoutDecorator .PageContent {
	padding: 6px 10px 0px 10px; 
	height: 104px;
}

.UIPageBody .PageLayoutDecorator .BottomLeftPage {
	background: url('background/PageLayout.png') no-repeat left -342px; /* orientation=lt */
	background: url('background/PageLayout-rt.png') no-repeat right -342px; /* orientation=rt */
	padding: 0px 0px 0px 14px; /* orientation=lt */
	padding: 0px 14px 0px 0px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .BottomRightPage {
	background: url('background/PageLayout.png') no-repeat right -359px; /* orientation=lt */
	background: url('background/PageLayout-rt.png') no-repeat left -359px; /* orientation=rt */
	padding: 0px 15px 0px 0px;	/* orientation=lt */
	padding: 0px 0px 0px 15px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .BottomCenterPage {
	line-height: 17px;	 
	background: url('background/PageLayout.png') repeat-x bottom; 
}

.UIPageBody .PageLayoutDecorator .BottomCenterPage .FixBug {
	height: 17px;
}

.UIPage .UIRowContainer {

}

.UIPage .VIEW-PAGE {
	padding: 0px;
}

.UIPageBody .VIEW-PAGEBODY .UIPage {
	padding: 0 8px;
}