.UIHelloWelcome {
	float: left;
	background: url('DefaultSkin/background/welcome.png') no-repeat top left;
	height: 213px;
	width: 480px;
}

.UIHelloSelector {
	float: left;
}

.UIHelloSelector ul {
	list-style-type: none;
	border: solid 1px black;
	padding: 0px;
	width: 200px;
}

.UIHelloSelector li {
	background: url('DefaultSkin/background/selector-bg.png') repeat-x;
	height: 22px;
	padding: 2px;
}