body {
    background: url("/platform-extension/css/welcome-screens/images/login_texture.jpg") repeat;
    font-family: HelveticaNeue, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    overflow: auto;
    height: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
// Fixes Opera/contenteditable bug:
// http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
			    line-height: 0;
    }

.clearfix:after {
    clear: both;
}

a {
    color: #2f5e92;
}

.backLight {
    border-radius: 80px 80px 80px 80px;
    box-shadow: 0 0 200px white;
    height: 280px;
    margin: 140px auto 0;
    width: 280px;
}

.uiWelcomeBox {
    background-color:  #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px #3d3d3d;
    margin: -380px auto 0;
    width: 512px;
}

.uiWelcomeBox .header {
    background: url("/platform-extension/css/welcome-screens/images/headerBG.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #393939;
    border-radius: 4px 4px 0 0;
    width: 511px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #c1c1c1;
}

.uiWelcomeBox .content {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 10px 30px;
    position: static;
    width: auto;
    height: 400px;
    overflow-y: scroll;
}

.uiWelcomeBox .bottom {
    background: url("/platform-extension/css/welcome-screens/images/bottomBG.png") no-repeat center bottom;
    text-align: center;
    padding: 25px 30px;
}

.uiWelcomeBox .btn {
    background-color: #5179BD;
    background-image: linear-gradient(to bottom, #6289CB, #3862A9);
    background-repeat: repeat-x;
    border: 1px solid #224886;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 41px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: top;
    width: 100px;
    text-decoration: none;
}

.uiWelcomeBox .btn:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #476ba7;
	background-image: -moz-linear-gradient(top, #4b71b3, #426394);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b71b3), to(#426394));
	background-image: -webkit-linear-gradient(top, #4b71b3, #426394);
	background-image: -o-linear-gradient(top, #4b71b3, #426394);
	background-image: linear-gradient(to bottom, #4b71b3, #426394);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b71b3', endColorstr='#ff426394', GradientType=0);
	border-color: #426394 #426394 #2a405f;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #426394;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.uiWelcomeBox button.inactive {
    opacity: 0.5;
    cursor: default;
}

.uiWelcomeBox .uiCheckbox {
    position: relative;
    display: inline-block;
    margin: 10px 5px;
	line-height: 20px;
}

.uiWelcomeBox .uiCheckbox input[type="checkbox"]:checked,
.uiWelcomeBox .uiCheckbox  input[type="checkbox"]:not(:checked) {
    margin: 4px 0 0; 
    opacity: 0;
    padding: 0;
    outline: 0 none;
    position: absolute;
    top: 0;
    z-index: 100;

}

.uiWelcomeBox .uiCheckbox input {
    margin-left: -18px e("\0/");
    min-height: 10px e("\0/");
}

.uiWelcomeBox .uiCheckbox > span {
    display: inline-block;
    text-indent: 18px;
}

.uiWelcomeBox .uiCheckbox input[type="checkbox"]:checked + span:after {
    border-bottom: 2px solid #466799;
    border-left: 2px solid #466799;
    content: "";
    width: 6px;
    height: 3px;
    -webkit-transform: skew(45deg, -49deg);
     -moz-transform: skew(45deg, -49deg);
      -ms-transform: skewX(30deg) skewY(-35deg);
       -o-transform: skew(45deg, -49deg);
          transform: skew(45deg, -49deg);
  -webkit-backface-visibility: hidden;
	left: 4px;
	position: absolute;
	top: 4px;
	left: 2px\9;
	width: 10px\9;
	height: 4px\9;
	background: transparent e("\0/");
}

.uiWelcomeBox .uiCheckbox input[type="checkbox"] + span:before {
    background: #d2d2d2;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17) inset;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17) inset;
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17) inset;
    width: 12px;
    height: 12px;
    top: 4px;
    left: 0px;
    content: " ";
    position: absolute;
    background: transparent e("\0/");
}

.uiWelcomeBox input:focus {
  border-color: #94b0df;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(29,75,159,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(29,75,159,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(29,75,159,.6);
  color: #333333;
}

.c5{vertical-align:middle;width:302.7pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c2{vertical-align:middle;width:67.1pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c38{vertical-align:middle;width:175.4pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c34{vertical-align:middle;width:302pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c37{vertical-align:middle;width:171pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c18{vertical-align:middle;width:171.8pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c10{vertical-align:middle;width:333pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c32{vertical-align:middle;width:298.4pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c13{vertical-align:middle;width:73.4pt;border-style:solid;border-color:#000000;border-width:1pt;padding:0.8pt 0.8pt 0.8pt 0.8pt}
.c15{line-height:1.2;padding-top:5pt;direction:ltr;padding-bottom:5pt}
.c7{line-height:1.2;text-align:center;direction:ltr;padding-bottom:0pt}
.c1{line-height:1.2;text-align:justify;direction:ltr;padding-bottom:8pt}
.c12{line-height:1.2;padding-top:0.1pt;direction:ltr;padding-bottom:0.1pt}
.c33{list-style-type:circle;margin:0;padding:0}
.c28{list-style-type:lower-latin;margin:0;padding:0}
.c21{list-style-type:decimal;margin:0;padding:0}
.c9{line-height:1.2;direction:ltr;padding-bottom:0pt}
.c19{list-style-type:disc;margin:0;padding:0}
.c30{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}
.c0{font-size:12px;font-family:Verdana,Arial,sans-serif}
.c11{padding-left:0pt;margin-left:36pt}
.c25{color:#0000ff;text-decoration:underline}
.c22{padding-left:0pt;margin-left:54pt}
.c24{padding-left:0pt;margin-left:72pt}
.c8{color:inherit;text-decoration:inherit}
.c4{font-weight:bold}
.c23{direction:ltr}
.c3{text-indent:36pt}
.c27{margin-left:18pt}
.c29{padding-left:0pt}
.c6{height:11pt}
.c14{text-align:justify}
.c20{margin-left:36pt}
.c35{margin-left:72pt}
.c31{text-indent:-36pt}
.c16{height:0pt}
.c36{margin-left:54pt}
.c26{border-collapse:collapse}
.c17{text-align:center}
