
body {
    background: url("/platform-extension/css/welcome-screens/images/login_texture.jpg") repeat;
    font-family: HelveticaNeue, Arial, sans-serif;
    font-size: 13px;
    color: #333;
    overflow: auto;
    height: auto;
}

h5 {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0 0;
}

a {
    color: #2f5e92;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.backLight {
    border-radius: 80px 80px 80px 80px;
    box-shadow: 0 0 200px white;
    height: 280px;
    margin: 140px auto 0;
    width: 280px;
}

.uiWelcomeBox {
    background-color:  #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px #3d3d3d;
    margin: -380px auto 0;
    width: 512px;
}

.uiWelcomeBox .header {
    background: url("/platform-extension/css/welcome-screens/images/headerBG.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #393939;
    border-radius: 4px 4px 0 0;
    width: 511px;
    line-height: 44px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #c1c1c1;
}

.uiWelcomeBox .logo {
    background: url("/platform-extension/css/welcome-screens/images/Logo.png") no-repeat scroll 18px center;
    text-align: center;
}

.uiWelcomeBox .content {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 10px 23px;
    position: static;
    width: auto;
}

.uiWelcomeBox .content p {
    text-align: center;
    margin-bottom: 30px;
}

.uiWelcomeBox input {
    border: 1px solid #cdcdcd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1) inset;
    color: #999;
    height: 28px;
    margin: 0 5px 0 0;
    padding: 0 6px;
    width: 170px;
    font-size: 13px;
}

.uiWelcomeBox input:focus {
  border-color: #94b0df;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(29,75,159,.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(29,75,159,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(29,75,159,.6);
  color: #333333;
}

.uiWelcomeBox input.disable {
    background-color: #e6e6e6;
}

.uiWelcomeBox .bottom {
    background: url("/platform-extension/css/welcome-screens/images/bottomBG.png") no-repeat center bottom;
    text-align: center;
    padding: 30px 0;
}

.uiWelcomeBox .btn {
    background-color: #5179BD;
    background-image: linear-gradient(to bottom, #6289CB, #3862A9);
    background-repeat: repeat-x;
    border: 1px solid #224886;
    border-radius: 4px 4px 4px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: top;
    width: 115px;
    text-decoration: none;
}

.uiWelcomeBox .btn:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #476ba7;
	background-image: -moz-linear-gradient(top, #4b71b3, #426394);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b71b3), to(#426394));
	background-image: -webkit-linear-gradient(top, #4b71b3, #426394);
	background-image: -o-linear-gradient(top, #4b71b3, #426394);
	background-image: linear-gradient(to bottom, #4b71b3, #426394);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b71b3', endColorstr='#ff426394', GradientType=0);
	border-color: #426394 #426394 #2a405f;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #426394;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.uiWelcomeBox .backOutdated {
    background: #e97f7f;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    margin: 10px 0 15px;
}

.uiWelcomeBox .backNotOutdated {
    background: #b5b5b5;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    margin: 10px 0 15px;
}

.uiWelcomeBox .rightCol {
    width: 420px;
}

.uiWelcomeBox .rightCol a {
	text-decoration: none;
}

.uiWelcomeBox .steps {
    margin: 0 0 35px;
}

.uiWelcomeBox .firstItem {
    line-height: 35px;
}

.uiWelcomeBox .rightCol.pull-right > div {
    margin-top: 5px;
}

.uiWelcomeBox .rightCol.pull-right > div span {
    width: 85px;
    display: inline-block;
}

.uiWelcomeBox .stepsNumber {
    background: #B5B5B5;
    border-radius: 19px 19px 19px 19px;
    color: #FFFFFF;
    display: block;
    font-size: 24px;
    font-weight: bold;
    height: 38px;
    line-height: 40px;
    text-align: center;
    width: 38px;
    float: left;
}

.uiWelcomeBox .uiIconError {
	background: url("/platform-extension/css/welcome-screens/images/errorIcon.png") no-repeat left center;
    display: inline-block;
    padding-left: 25px;
}