.UIAction{
  padding: 9px 0px;
}

.UIAction .ActionContainer {
	width: auto;
	margin: auto;
}	

.UIAction .ActionButton {
	display: block;
	float: left; 		/* orientation=lt */
	float: right; 	/* orientation=rt */
	margin: 0px 3px;
	cursor: pointer;
}

.UIAction .ActionContainer  a {
}

.UIAction .ActionContainer a:hover {
  color: #058ee6;
}

.UIAction .ActionContainer .SimpleStyle a:hover {
	color: #058ee6;
}

.UIAction .ActionContainer .Icon {
	height: auto;
	width: auto;
	padding-left: 20px;	 		/* orientation=lt */
	padding-right: 20px;	 	/* orientation=rt */
	background-position: left center;	 		/* orientation=lt */
	background-position: right center;	 	/* orientation=rt */
} 


/*##############################-Normal ActionButton-################################*/
.UIAction .NormalStyle {
}

.UIAction .NormalStyle .ButtonLeft {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/NormalStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 3px;
}

.UIAction .NormalStyle .ButtonRight {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/NormalStyle.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIAction .NormalStyle .ButtonMiddle {
  line-height: 22px;
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/NormalStyle.gif') repeat-x bottom;
	padding: 0px 12px;	
	display: table-cell;
	white-space: nowrap;
}

/*##############################-Disabled ActionButton-################################*/
.UIAction .DisabledStyle {
}

.UIAction .DisabledStyle .ButtonLeft {
  background: url('background/DisabledStyle.png') no-repeat left top;
  padding: 0px 0px 0px 12px;
}

.UIAction .DisabledStyle .ButtonRight {
  background: url('background/DisabledStyle.png') no-repeat right -25px;
  padding: 0px 12px 0px 0px ;
}

.UIAction .DisabledStyle .ButtonMiddle {
	line-height: 25px; 
	text-align: center; 
	background: url('background/DisabledStyle.png') repeat-x bottom;
	display: table-cell;
	padding: 0px 12px;
}

.UIAction .DisabledStyle a {
	color: gray;
	cursor: default;
}

.UIAction .DisabledStyle a:hover {
	color: gray;
	cursor: default;
}

/*##############################-LightBlueStyle ActionButton-################################*/
.UIAction .LightBlueStyle {
  line-height: 25px;
}
.UIAction .LightBlueStyle .ButtonLeft {
  background: url('background/LightBlueStyle.png') no-repeat left top;
  padding-left: 7px;
}

.UIAction .LightBlueStyle .ButtonRight {
  background: url('background/LightBlueStyle.png') no-repeat right top;
  padding-right: 7px;
}

.UIAction .LightBlueStyle .ButtonMiddle {
  line-height: 20px; 
  text-align: center;
	background: url('background/LightBlueStyle.png') repeat-x left -22px;
	display: table-cell;
	padding: 0px 12px;
	white-space: nowrap;
}

/*##############################-SimpleStyle ActionButton-################################*/
.UIAction .SimpleStyle {}

.UIAction .SimpleStyle .ButtonLeft {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/SimpleStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 10px;
}

.UIAction .SimpleStyle .ButtonRight {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/SimpleStyle.gif') no-repeat right top;
  padding: 0px 10px 0px 0px ;
}

.UIAction .SimpleStyle .ButtonMiddle {
  line-height: 21px;
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/SimpleStyle.gif') repeat-x bottom;
	text-align: center;	
	display: table-cell;
	padding: 0px 12px;
	white-space: nowrap;
}

.UIAction a.SimpleStyle {
  color: #353535;
  margin: 0px 6px;
  white-space: nowrap;
}

.UIAction a:hover.SimpleStyle {
  color: #1273df;
}

/***************************** BlueButton ***************************/
.UIAction .BlueButton .ButtonLeft {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') no-repeat left top;
	padding-left: 8px;
}

.UIAction .BlueButton .ButtonRight {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') no-repeat right top;
	padding-right: 9px;
}

.UIAction .BlueButton .ButtonMiddle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') repeat-x left -32px;
	line-height: 32px;
	font-size: 12px;
	display: block;
	padding: 0px 15px 0px 15px;
}

.UIAction .BlueButton .ButtonMiddle a {
	font-weight: bold;
	color: #1d1d1d;
}

.UIAction .BlueButton .ButtonMiddle a:hover {
	color: white;
}

/**********************DarkGrayButton***********************/

.UIAction .DarkGrayButton .ButtonLeft {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') no-repeat left -64px;
	padding-left: 7px;
}

.UIAction .DarkGrayButton .ButtonRight{
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') no-repeat right -64px;
	padding-right: 6px;
}

.UIAction .DarkGrayButton .ButtonMiddle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') repeat-x left -96px;
	line-height: 32px;
	padding: 0px 15px 0px 15px;
	font-size: 12px;
	display: block;
}

.UIAction .DarkGrayButton .ButtonMiddle a {
	font-weight: bold;
	color: #1d1d1d;
}

.UIAction .DarkGrayButton .ButtonMiddle a:hover {
	color: white;
}