
/*###########################-RoundedBarStyle-###########################*/
.UIBarStyle .RoundedBarStyle {
  height: 25px;
}

.UIBarStyle .RoundedBarStyle .LeftBar {
  background: url('background/RoundedBarStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 8px;
}

.UIBarStyle .RoundedBarStyle .RightBar {
  background: url('background/RoundedBarStyle.gif') no-repeat right top;
  padding: 0px 8px 0px 0px ;
}

.UIBarStyle .RoundedBarStyle .MiddleBar {
  height: 25px;
  line-height: 25px;
  background: url('background/RoundedBarStyle.gif') repeat-x bottom;  
}

/*###########################-WhiteRoundedBarStyle-###########################*/
.UIBarStyle .WhiteRoundedBarStyle {
  height: 26px;
}

.UIBarStyle .WhiteRoundedBarStyle .LeftBar {
  background: url('background/WhiteRoundedBarStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 12px;
}

.UIBarStyle .WhiteRoundedBarStyle .RightBar {
  background: url('background/WhiteRoundedBarStyle.gif') no-repeat right top;
  padding: 0px 12px 0px 0px ;
}

.UIBarStyle .WhiteRoundedBarStyle .MiddleBar {
  height: 26px;
  line-height: 26px;
  background: white;
  border-top: solid 1px #c0bfbf;
  border-bottom: solid 1px #c0bfbf;  
}

/*###########################-BarStyle2-###########################*/
.UIBarStyle .BarStyle2 {
  height: 39px;
}

.UIBarStyle .BarStyle2 .LeftBar {
  background: url('background/BarStyle2.gif') no-repeat left top;
  padding: 0px 0px 0px 7px;
  height: 39px;
}

.UIBarStyle .BarStyle2 .RightBar {
  padding: 0px 7px 0px 0px ;
  background: url('background/BarStyle2.gif') no-repeat right top;
  height: 39px;
}

.UIBarStyle .BarStyle2 .MiddleBar {
  height: 39px;
  line-height: 39px;
  background: url('background/BarStyle2.gif') repeat-x bottom;
}

/*###########################-NavyBluePolygonBar32Style-###########################*/
.UIBarStyle .NavyBluePolygonBar32Style {
  height: 32px;
}

.UIBarStyle .NavyBluePolygonBar32Style .LeftBar {
  background: url('background/NavyBluePolygonBar32Style.gif') no-repeat left top;
  padding: 0px 0px 0px 3px;
}

.UIBarStyle .NavyBluePolygonBar32Style .RightBar {
  background: url('background/NavyBluePolygonBar32Style.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIBarStyle .NavyBluePolygonBar32Style .MiddleBar {  
  line-height: 32px;
  background: url('background/NavyBluePolygonBar32Style.gif') repeat-x bottom;
}

/*###########################-Style3Bar-###########################*/
.UIBarStyle .Style3 {
  height: 26px;
}

.UIBarStyle .Style3 .LeftBar {
  background: url('background/Style3Bar.gif') no-repeat left top;
  padding: 0px 0px 0px 3px ;
}

.UIBarStyle .Style3 .RightBar {
  background: url('background/Style3Bar.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIBarStyle .Style3 .MiddleBar {
  height: 26px ;
  line-height: 26px ;
  vertical-align: middle ;
  background: url('background/Style3Bar.gif') repeat-x bottom;
}

/*###########################-SmoothNavy40Style-###########################*/
.UIBarStyle .SmoothNavy40Style {
	height: 62px;
}

.UIBarStyle .SmoothNavy40Style .LeftBar {
	background: url('background/SmoothNavy40Style.gif') no-repeat left top;
	padding: 0px 0px 0px 15px ;
}

.UIBarStyle .SmoothNavy40Style .RightBar {
	background: url('background/SmoothNavy40Style.gif') no-repeat right top ;
	padding: 0px 15px 0px 0px ;
}

.UIBarStyle .SmoothNavy40Style .MiddleBar {
	height: 62px ; 
	line-height: 62px ; 
	vertical-align: middle ;
	background: url('background/SmoothNavy40Style.gif') repeat-x bottom;
}

/*###########################-ControlBar-###########################*/
.WidgetNavigator .UIBarStyle {
}

.UIBarStyle .ControlBar .LeftBar {
  background: url('background/ControlBar.png') no-repeat left top;
  padding: 0px 0px 0px 14px ;
}

.UIBarStyle .ControlBar .RightBar {
  padding: 0px ;
}

.UIBarStyle .ControlBar .MiddleBar {
  background: url('background/ControlBar.png') repeat-x bottom;
  height: 28px;
  padding: 0px 3px 0px 0px;
}

/*============================== TitleBar ========================================*/

.UIBarStyle .TitleBar {
  margin: 15px 10px 0px 10px;
}

.UIBarStyle .TitleBar .LeftBar {
  background: url('background/TitleBar.gif') no-repeat left top;
  padding-left: 7px ;
  height: 30px;
}

.UIBarStyle .TitleBar .RightBar {
  padding-right: 7px ;
  background: url('background/TitleBar.gif') no-repeat right top ;
  height: 30px;
}

.UIBarStyle .TitleBar .MiddleBar {
  background: url('background/TitleBar.gif') repeat-x bottom;
  padding-left: 8px;
  height: 30px; line-height: 30px;
  color: #058ee6; font-size: 15px; font-weight: bold;
}

/*======================================== NormalBarStyle ==================================*/

.UIBarStyle .NormalBarStyle {
  height: 38px;
}

.UIBarStyle .NormalBarStyle .LeftBar {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBarStyle/background/NormalBarStyle.gif') no-repeat top left;
  padding: 0px 0px 0px 6px;
}

.UIBarStyle .NormalBarStyle .RightBar {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBarStyle/background/NormalBarStyle.gif') no-repeat top right;
  padding: 0px 6px 0px 0px ;
}

.UIBarStyle .NormalBarStyle .MiddleBar {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBarStyle/background/NormalBarStyle.gif') repeat-x bottom;
  height: 38px;
  line-height: 38px;
}