body {
	font-family: Lucida Sans, Arial, Verdana, sans-serif;
	margin: 0px;
	color: #626262;
}

body, th, td, div, span, p {
	font-family: Lucida Sans,Arial,Verdana,sans-serif;	
	font-size: 11px;
}

img {
	border: none;
}

a {
	text-decoration: none;
}

.ClearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ClearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}

.FL {
	float: left;
}

.FR {
	float: right;
}

/******* UIGadget ********/
.UIGadget {
    width: 100%;
}

.Note {
	background: #fff5f5;
	color: #f43f3f;
	padding: 7px 5px;
	text-align: center;
	font-weight: bold;
	font-size: 10px;
}

.TopGadget {
	padding: 10px 0px;
	text-align: center;
}

.TopGadget .ServicesBox {
	width: 220px;
	margin: 0px auto;
}

.TopGadget p {
	margin: 0px;
	font-style: italic;
	text-align: left;
	padding: 5px 10px;
	line-height: 14px;
	background: #f5f5f5;
	color: #777;
}

.TopGadget .Text {
	font-weight: bold;
	color: #636363;
	float: left;
	line-height: 20px;
	font-size: 12px;
}

.TopGadget select {
	background: #f9f9f9;
	height: 18px;
	border: 1px solid #cacaca;
	color: #6086eb;
	font-size: 12px;
	-moz-border-radius: 2px;
	width: 110px;
	float: left;
	margin: 0px 5px 0px 10px;
}

.TopGadget .DesIconHome {
	background: url(images/DesIconHome.gif) no-repeat left top;
	width: 22px;
	height: 22px;
	display: block;
	float: left;
	cursor: pointer;
}

.DescriptionBox {
	display: none;
}

.TitleGrid .BgTitle {
	background: #f5f5f5;
	padding: 5px 10px 0px 10px;
	float: left;
}

.TitleGrid h3 {
	font-weight: bold;
	color: #555;
	float: left;
	line-height: 20px;
	padding-right: 10px;
	margin: 0px;
	font-size: 11px;
}

.TitleGrid select {
	background: #f9f9f9;
	height: 18px;
	border: 1px solid #cacaca;
	color: #6086eb;
	font-size: 12px;
	-moz-border-radius: 2px;
	width: 110px;
	float: left;
}

.GadgetGrid {
	background: #f5f5f5;
	padding: 4px 0px;
	margin-bottom: 10px;
}

.GadgetGrid .UIGrid {
	border: 1px solid #ebebeb;
	border-collapse: collapse;
	padding-left: 1px;
	table-layout: fixed;
	width: 100%;
}

.GadgetGrid .UIGrid thead .FieldComponent {
 border-right: 1px solid #fff;
 width: 30%;
}

.GadgetGrid .UIGrid th {
	background: #efefef;
	line-height: 24px;
	padding: 0 10px;
	vertical-align: middle;
	text-align: left;
	border-bottom: 1px solid #fff;
	color: #777;
	font-weight: bold;
}

.GadgetGrid .UIGrid .EvenRow {
	background: #f8f8f8;
}

.GadgetGrid .UIGrid .OddRow {
	background: #fff;
}

.GadgetGrid .UIGrid td {
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
	line-height: 20px;
	padding: 4px 10px;
	color: #888888;
}

.GadgetGrid .UIGrid .Text {
	overflow: hidden;
}

.GadgetGrid .UIGrid .SkinID {
	background: #efefef;
	padding: 0px 5px;
	-moz-border-radius: 2px 2px 2px 2px;
}

.GadgetGrid .UIGrid .SkinID input {
	height: 12px;
	border: 1px solid #cacaca;
	width: 80px;
	font-size: 10px;
	color: #848383;
}

.GadgetGrid .UIGrid .ActionContainer {
	text-align: center;
	white-space: nowrap;
}