/**
 * Created by The eXo Platform SARL
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * December 12, 2006
 * version: $Id$
 */
 
.UIWindow .UIPortletRegistryPortlet {
  overflow: auto ;
}
 
.UIPortletRegistryPortlet {
	background: #ffffff;
}

.UIPortletRegistryPortlet .UIPortletRegistryContainer {
	padding: 7px;
  border: solid 1px #b7b7b7 ;
}

/*################################Portlet Registry Control################################*/
.UIPortletRegistryPortlet .PortletRegistryControlArea {
	float: left;
	width: 225px;
}

.UIPortletRegistryPortlet .UIVerticalSlideTabs {
  margin: 1px;
  padding-bottom: 2px;
}

.UIPortletRegistryPortlet .UIVTab .VTabStyle3 {
  margin-top: 4px;
}

.UIPortletRegistryPortlet .UIVTab .SelectedVTabStyle3 {
  margin-top: 4px;
}

.UIPortletRegistryPortlet .UIVTab a:hover {
  color: orange;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .CategoryControlBar {
	width: 225px;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .CategoryControlBar .CategoryControlIcon {
	float: left;
	margin: 3px 8px 0px 9px ;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList {
	background-color: #efefef;
	border: solid 1px #b7b7b7;
	padding: 1px;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .CategoryListContainer{
	background: url('/eXoResources/background/DefaultSkin/NavigationBG.gif');
	border: solid 1px #cdcdcd;
	padding: 4px;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .CategoryIcon {
	float: left;
	margin: 4px 10px 0px 5px;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .OpenFolderIcon {
  width: 20px; height: 16px;
  background: url('DefaultSkin/icons/BlueOpenFolder.gif') no-repeat;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .ClosedFolderIcon {
  width: 20px; height: 16px;
  background: url('DefaultSkin/icons/BlueClosedFolder.gif') no-repeat;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .CategoryLabel {
	float: left;
	height: 25px; line-height: 25px;
	vertical-align: middle;
	font-weight: bold; font-size: 11px; color: black;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .CategoryLabel a {
	text-decoration: none;
	color: black;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList a.CategorySelected{
	color: #005cff;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .PortletLabel {
	float: left;
	height: 25px; line-height: 25px;
	vertical-align: middle;
	font-size: 11px; color: black;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .PortletLabel a {
	text-decoration: none;
	color: black;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .PortletSelected {
	color: #005cff;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletCategoryList .CollapseExpandIcon {
	float: right;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .UIVTabContent {
  background: white;
  border: 1px #b7b7b7 solid;
  margin: 1px 2px;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea  .UIVTabContent .PortletControlBar {
  height: 22px;
  background: url('DefaultSkin/background/TitleBG1x20.png') repeat-x;
  border-bottom: 1px #b7b7b7 solid;
}

.UIPortletRegistryPortlet .PortletRegistryControlArea .PortletControlBar .PortletControlIcon {
	float: left;
	margin-top: 3px; margin-left: 26px;
}

/*################################Portlet Registry Working################################*/

.UIPortletRegistryPortlet .PortletRegistryWorkingArea  {
	background: white;
	border: 1px solid gray;
	margin-left: 235px;
	padding: 1px;
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .RegistryWorkingAreaContainer {
	background: #efefef;
	border: 1px solid #b7b7b7;
	padding: 15px 10px 15px 10px;
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIFormWithTitle {
  margin: auto;
  width: 100%;
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIFormWithTitle .UIAction{
  width: 180px;
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIGrid {
  width: 99%;
  border: 1px solid #7eaad0;
}

.UIPortletRegistryPortlet .UIGrid input {
	margin: auto;
	width: 92%;
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIDescription{
  padding: 0px;
  margin: 0px;
}


.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIGrid thead {
  border: 1px solid #7eaad0;
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIGrid th {
  width: 400px;
  
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIGrid td {
  height: 26px ;
  border-right: none; border-left: none; border-top: 1px solid white;
  padding-left: 7px;
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIGrid tbody {
  width: 100%;
  padding-bottom: 1px;
}

.UIPortletRegistryPortlet .PortletRegistryWorkingArea .UIFormInputSet {
  margin: 10px 5px 5px 10px ; 
}