/**
 * Created by The eXo Platform SARL
 * Modifile : Nguyen Ngoc Thuy
 * May 8, 2007
 * version: $Id$
 */
 
.UIWindow .UIApplicationRegistryPortlet {
	border: none;
	margin: 0px;
	overflow: visible;
}

.UIApplicationRegistryPortlet {
	border: 1px solid #b7b7b7;
	margin: 5px;
	letter-spacing: 0.4px;
	background: #fff;
	overflow: auto;
}

.UIApplicationRegistryPortlet .UICategoryForm {
	padding: 10px;
}

.UIApplicationRegistryPortlet .Title {
  font-size: 14px; color: #1553B9;
  margin: 5px 0px; font-family: arial; font-weight: bold;
  padding-left: 10px; 
}

.UIApplicationRegistryPortlet .UIApplicationRegistryContainer {
  padding: 10px;
}

.UIApplicationRegistryPortlet .UIAvailablePortletForm {
  margin: auto;
}

.UIApplicationRegistryPortlet .UIAvailablePortletForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet #UICategoryForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet #UICategoryForm .UIFormGrid .UIFormGrid {
	width: auto;
}

.ApplicationRegistryWorkingArea .UIPermissionForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIPermissionForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIPermissionForm .UIFormGrid .UIFormGrid{
	width: auto;
}

.UIApplicationRegistryPortlet .UIAvailablePortletForm td.text{
  padding-left: 15px;
}

.UIApplicationRegistryPortlet .UIAvailablePortletForm input.checkbox{
  width: 16px; height: 14px;
}

.ApplicationRegistryWorkingArea .UIPermissionForm .UIAccessGroup .UIGrid td.text{
  padding-left: 5px;
}

.UIApplicationRegistryPortlet .UIForm .HorizontalLayout {
  border: none;
}

.ApplicationRegistryWorkingArea .UIInfoPortletForm {
  padding: 10px 0px;
}

.ApplicationRegistryWorkingArea .UIInfoPortletForm .HorizontalLayout {
  padding: 10px 10px 0px 0px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs {
  padding-bottom: 20px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .TabLabel {
	width: 147px;
	overflow: hidden;
}

/*################################Application Registry Control################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryControlArea {
	float: left;
	width: 236px;
}

.ApplicationRegistryControlArea .ApplicationRegistryCategory {
  border: 1px solid #d7d7d7;
}

.ApplicationRegistryControlArea .CategoryManagement {
  border: 1px solid white;
}

.ApplicationRegistryControlArea .UICategoryForm .HorizontalLayout{
}

.ApplicationRegistryControlArea  .CategoryControlBar {
  background: #dfe8f9 url('DefaultSkin/background/CategoryControlBar175x1.gif') repeat-y left;
  height: 27px;
}

.ApplicationRegistryControlArea .UIToolbar .ActionsContainer {
  float: right;
  width: auto;
  margin-right: 5px;
}

.ApplicationRegistryControlArea .CategoryControlIcon {
  float: left;
  margin: 3px 6px;
}

.ApplicationRegistryControlArea .AddCategoryIcon {
  height: 21px; width: 22px;
  background: url('DefaultSkin/background/Icons.gif') no-repeat;
}

.ApplicationRegistryControlArea .ImportApplicationsIcon {
  height: 21px; width: 24px;
  background: url('DefaultSkin/background/Icons.gif') no-repeat left -66px;
}

.ApplicationRegistryControlArea .ImportPortletsIcon {
  height: 21px; width: 24px;
  background: url('DefaultSkin/background/Icons.gif') no-repeat left -44px;
}

.ApplicationRegistryControlArea .SeparatorLine {
  float: left;
  height: 21px; width: 2px;
  margin: 3px 2px 0px 3px;
  background: url('DefaultSkin/background/SeparatorLine2x1.gif') repeat-y ;
}

.ApplicationRegistryControlArea .DeleteCategoryIcon {
  height: 21px; width: 22px;
  background: url('DefaultSkin/background/Icons.gif') no-repeat left -22px;
}

.ApplicationRegistryControlArea .CategoryContainer {
  margin: 4px;
  border: 1px solid #d7d7d7;
}

.ApplicationRegistryControlArea .UIVerticalSlideTabs {
  border: 1px solid white;
  border-left: none;
  background: #f3f3f3;
}

/*################################Application Registry Working################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryWorkingArea {
	margin-left: 245px;
	width: auto;
}

.ApplicationRegistryWorkingArea .ApplicationWorkingAreaContainer {
  border: 1px solid #dfdfdf;
	background: #f5f5f5; 
	padding: 0px 10px;
}

.ApplicationRegistryWorkingArea .Application {
  margin: 7px 0px 0px 0px ;
	border: solid 1px #e4e4e4 ;
	padding: 10px;
	background: white;
}

.ApplicationRegistryWorkingArea .ApplicationContainer {
  padding: 10px 0px;
}

.ApplicationRegistryWorkingArea .ApplicationContent {
  margin-left: 85px;
  padding-bottom: 5px;
}

.ApplicationRegistryWorkingArea .TitleBarApplication {
	background: none;
	border-bottom: 1px solid #dfdfdf;
	width: 93%;
	padding: 0px 1px 3px 1px;
	margin: 0px auto 5px auto;
}

.ApplicationRegistryWorkingArea .TitleBarApplication label {
  float: left; line-height: 17px;
  font-weight: bold ; font-size: 12px; color: #1553B9;
}

.ApplicationRegistryWorkingArea .ApplicationButton .Icon {
  float: right;
	cursor: pointer ;
	margin: 3px 3px 0px 3px;
}

.ApplicationRegistryWorkingArea .DeleteIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat ;
}

.ApplicationRegistryWorkingArea .EditInfoIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/Pencil.gif') no-repeat ;
}

.ApplicationRegistryWorkingArea .ApplicationContentLabel {
  line-height: 16px;
  width: 93%;
  margin: auto;
}

.ApplicationRegistryWorkingArea .ApplicationContentLabel .RightLabel {
  color: #058ee6;
}

.ApplicationRegistryWorkingArea .PortletIcons {
	float: left;
	width: 80px; height: 80px;
	cursor: pointer ;
	margin-top: 2px;
}

.ApplicationRegistryWorkingArea .UIAvailablePortletForm .HorizontalLayout .FieldContainer {
  margin: auto;
}

.ApplicationRegistryWorkingArea .UIAvailablePortletForm .FormContainer {
	padding: 10px;
}

.ApplicationRegistryWorkingArea .UIAvailablePortletForm .UIGrid {
  width: 99%;
  margin: auto;
}

.ApplicationRegistryWorkingArea .LabelButton {
	text-align: center; 
	color: #3c3c3c; 
	line-height: 25px;
}

