/**
 * Created by The eXo Platform SARL
 * Modifile : Nguyen Ngoc Thuy
 * May 8, 2007
 * version: $Id$
 */

.UIWindow .UIApplicationRegistryPortlet {
	margin: 0px;
	border: none;
	overflow: visible;
}

.UIApplicationRegistryPortlet {
	border: 1px solid #b7b7b7;
	background: #fff;	
	margin: 5px;
	overflow: auto;
}

.UIApplicationRegistryPortlet .UIForm .HorizontalLayout .UIFormInputSet {
	width: 90%; margin: auto;
}

.UIApplicationRegistryPortlet .Title {
  font-size: 14px; color: #3470d4; font-weight: bold; font-family: arial;
  margin: 5px 0px; 
  padding-left: 10px;
}

.UIApplicationRegistryPortlet .UIApplicationRegistryContainer {
  padding: 10px;
}

.UIApplicationRegistryPortlet .UIForm .HorizontalLayout .UIFormGrid td.FieldLabel {
	line-height: 18px;
}

.UIApplicationRegistryPortlet .UIAvailablePortletForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet #UICategoryForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet #UICategoryForm .UIFormGrid .UIFormGrid {
	width: auto;
}

.ApplicationRegistryWorkingArea .UIPermissionForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIPermissionForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIPermissionForm .UIFormGrid .UIFormGrid {
	width: auto;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .TabLabel {
	width: 145px;
	overflow: hidden;
}

/*################################Application Registry Control################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryControlArea {
	float: left;
	width: 236px;
}

.ApplicationRegistryControlArea .ApplicationRegistryCategory {
  border: 1px solid #d7d7d7;
  background: url('/eXoSkinMac/skin/MacSkin/background/BgApplicationRegistryPortle1x4.gif');
  letter-spacing: 0.5px;
}

.ApplicationRegistryControlArea .CategoryManagement {
  border: 1px solid white;
}

.ApplicationRegistryControlArea .CategoryContainer {
  margin: 6px 5px;
  padding-bottom: 10px;
}

.ApplicationRegistryControlArea  .CategoryControlBar {
  background: url('MacSkin/background/BGCategoryControlBar236x28.gif') no-repeat;
  height: 28px;
  border-bottom: 1px solid white;
}

.ApplicationRegistryControlArea .UIToolbar .ActionsContainer {
  float: right;
  width: auto;
  margin-right: 5px;
}

.ApplicationRegistryControlArea .CategoryControlIcon {
  float: left;
  margin: 4px 2px;
}

.ApplicationRegistryControlArea .AddCategoryIcon {
  height: 22px; width: 31px;
  background: url('MacSkin/background/Icons.png') no-repeat ;
}

.ApplicationRegistryControlArea .ImportApplicationsIcon {
  height: 22px; width: 29px;
  background: url('MacSkin/background/Icons.png') no-repeat left -67px;
}

.ApplicationRegistryControlArea .ImportPortletsIcon {
  height: 22px; width: 31px;
  background: url('MacSkin/background/Icons.png') no-repeat left -44px ;
}

.ApplicationRegistryControlArea .SeparatorLine {
  float: left;
  height: 21px; width: 2px;
  margin: 3px 2px 0px 3px;
  background: url('MacSkin/background/SeparatorLine2x2.gif') repeat-y ;
}

.ApplicationRegistryControlArea .DeleteCategoryIcon {
  height: 22px; width: 31px;
  background: url('MacSkin/background/Icons.png') no-repeat left -22px ;
}

.ApplicationRegistryControlArea .UIVerticalSlideTabs {
  border-left: none;
  margin:0px;
  padding: 0px;
}

.ApplicationRegistryControlArea .UICategoryForm {
	border: 1px solid #b7b7b7;
}

.ApplicationRegistryControlArea .UICategoryForm .HorizontalLayout{
  padding: 10px;
  background: url('/eXoSkinMac/skin/MacSkin/background/BgApplicationRegistryPortle1x4.gif');
  border: 1px solid white;
}

/*################################Application Registry Working################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryWorkingArea {
	margin-left: 245px;
	height: 100%; 
}

.ApplicationRegistryWorkingArea .ApplicationWorkingAreaContainer {
  border: 1px solid #dfdfdf;
  letter-spacing: 0.5px;
}

.ApplicationRegistryWorkingArea .ApplicationContainer {
  padding: 0px 5px 5px 5px;
  border:  1px solid white;
  background: url('/eXoSkinMac/skin/MacSkin/background/BgApplicationRegistryPortle1x4.gif');
}

.ApplicationRegistryWorkingArea .UIItemSelector .ItemListContainer .ItemList {
  height: 240px ;
  overflow: auto ;
  border: 1px solid #C3C3C3;
  background: white url('MacSkin/background/ApplicationBackground165x65.gif') no-repeat left bottom;
}

.ApplicationRegistryWorkingArea .Application {
  margin: 7px 0px 0px 0px ;
	border: solid 1px #e4e4e4 ;
	padding: 10px;
	background: white;
}

.ApplicationRegistryWorkingArea .ApplicationContent {
  margin-left: 85px;
  padding-bottom: 5px;
  border:  1px solid white;
}

.ApplicationRegistryWorkingArea .TitleBarApplication {
	background: none;
	border-bottom: 1px solid #dfdfdf;
	width: 98%;
	padding: 0px 1px 3px 1px;
	margin: 0px auto 5px auto;
}

.ApplicationRegistryWorkingArea .TitleBarApplication label {
  float: left;
  margin-top: 6px;
  font-weight: bold ; font-size: 12px; color: #1553B9; 
}

.ApplicationRegistryWorkingArea .ApplicationButton .Icon {
  float: right;
	cursor: pointer ;
	margin: 3px 3px 0px 3px;
}

.ApplicationRegistryWorkingArea .DeleteIcon {
  width: 18px ;  height: 18px ;
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DeleteIcon.png') no-repeat ;
}

.ApplicationRegistryWorkingArea .EditInfoIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/EditIcon.png') no-repeat ;
}

.ApplicationRegistryWorkingArea .ApplicationContentLabel {
  line-height: 16px;
  width: 99%;
  margin: auto;
}

.ApplicationRegistryWorkingArea .ApplicationContentLabel .RightLabel {
  color: #058ee6;
}

.ApplicationRegistryWorkingArea .PortletIcons {
	float: left;
	width: 80px; height: 80px;
	cursor: pointer ;
	margin-top: 2px;
}

.ApplicationRegistryWorkingArea .eXoBrowserIcon {
  background: url(/eXoResources/skin/portal/webui/component/view/UIPageDesktop/DefaultSkin/icons/80x80/Register.png) no-repeat;
}

.ApplicationRegistryWorkingArea .UIForm .HorizontalLayout {
  border: none;
}

.ApplicationRegistryWorkingArea .UIAvailablePortletForm {
  padding: 10px;
  background: url('/eXoSkinMac/skin/MacSkin/background/BgApplicationRegistryPortle1x4.gif');
  border: 1px solid #b7b7b7;
}

.ApplicationRegistryWorkingArea .UIAvailablePortletForm .UIFormGrid {
	width: 100%;
}

.ApplicationRegistryWorkingArea .UIPermissionForm .UIFormGrid {
	width: 100%;
}

.ApplicationRegistryWorkingArea .UIInfoPortletForm {
  border: 1px solid #b7b7b7;
}

.ApplicationRegistryWorkingArea .UIInfoPortletForm .HorizontalLayout{
  padding: 10px 10px 10px 40px;
  background: url('/eXoSkinMac/skin/MacSkin/background/BgApplicationRegistryPortle1x4.gif') repeat;
  border: 1px solid white;
}

.ApplicationRegistryWorkingArea .UIInfoPortletForm .HorizontalLayout .UIFormGrid {
  margin-top: 15px;
}

.ApplicationRegistryWorkingArea .LabelButton {
	text-align: center; 
	color: #3c3c3c; 
	line-height: 25px;
}