/**
 * Created by The eXo Platform SARL
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * December 12, 2006
 * version: $Id$
 */
 
.UIWindow .UIApplicationRegistryPortlet {
  overflow: auto ;
  border: none;
}

.UIApplicationRegistryPortlet {
	background: #ffffff;
	border: 1px solid #b7b7b7;
}

.UIApplicationRegistryPortlet .Title {
  font-size: 14px; color: #058ee6; font-weight: bold;
  margin: 5px 0px; 
  padding-left: 10px;
}

.UIApplicationRegistryPortlet .UIApplicationRegistryContainer {
  padding: 10px;
}

/*################################Application Registry Control################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryControlArea {
	float: left;
	width: 236px;
}

.ApplicationRegistryControlArea .ApplicationRegistryCategory {
  border: 1px solid #d7d7d7;
  background: url('/eXoResources/background/MacSkin/BgApplicationRegistryPortle1x4.gif');
}

.ApplicationRegistryControlArea .CategoryManagement {
  border: 1px solid white;
}

.ApplicationRegistryControlArea .CategoryContainer {
  margin: 6px 5px;
  padding-bottom: 5px;
}

.ApplicationRegistryControlArea  .CategoryControlBar {
  background: url('MacSkin/background/BGCategoryControlBar236x28.gif') no-repeat;
  height: 28px;
}

.ApplicationRegistryControlArea .UIToolbar .OverflowContainer {
  float: right;
  width: auto;
  margin-right: 5px;
}

.ApplicationRegistryControlArea .CategoryControlIcon {
  float: left;
  margin: 3px 6px;
}

.ApplicationRegistryControlArea .AddCategoryIcon {
  height: 21px; width: 22px;
  background: url('MacSkin/icons/AddCategory.gif') no-repeat ;
}

.ApplicationRegistryControlArea .ImportCategoryIcon {
  height: 21px; width: 24px;
  background: url('MacSkin/icons/ImportCategory.gif') no-repeat ;
}

.ApplicationRegistryControlArea .DeleteCategoryIcon {
  height: 21px; width: 22px;
  background: url('MacSkin/icons/DeleteCategory.gif') no-repeat ;
}

.ApplicationRegistryControlArea .UIVerticalSlideTabs {
  border-left: none;
  margin:0px;
  padding: 0px;
}

/*################################Application Registry Working################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryWorkingArea {
	margin-left: 245px;
}

.ApplicationRegistryWorkingArea .ApplicationWorkingAreaContainer {
  border: 1px solid #dfdfdf;
}

.ApplicationRegistryWorkingArea .ApplicationContainer {
  padding: 10px 0px;
  border:  1px solid white;
  background: url('/eXoResources/background/MacSkin/BgApplicationRegistryPortle1x4.gif');
}

.ApplicationRegistryWorkingArea .UIGrid {
  width: 94%; 
  margin: auto;
}

.ApplicationRegistryWorkingArea .UIGrid .OverflowContainer {
  width: 90px;
  margin: auto;
}

.ApplicationRegistryWorkingArea .Icon {
  margin: 0px 2px;
}

.ApplicationRegistryWorkingArea .UIAction {
  width: 130px;
  padding: 9px 0px 0px 0px;
}}