.UIWindow .UIApplicationRegistryPortlet {
  overflow: auto ;
  border: none;
}
 
.UIApplicationRegistryPortlet {
	background: #ffffff;
	border: 1px solid #b7b7b7;
}

.UIApplicationRegistryPortlet .Title {
  font-size: 14px; color: #058ee6; font-weight: bold; font-family: arial;
  margin: 5px 0px; 
  padding-left: 10px;
}

.UIApplicationRegistryPortlet .UIApplicationRegistryContainer {
  padding: 10px;
}

/*################################Application Registry Control################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryControlArea {
	float: left;
	width: 236px;
}

.ApplicationRegistryControlArea .ApplicationRegistryCategory {
  border: 1px solid #b7b7b7;
  background: url('VistaSkin/background/ApplicationWorkingAreaContainerBG.png') repeat-x bottom ;
}

.ApplicationRegistryControlArea .CategoryManagement {
	padding-bottom: 10px;
}

.ApplicationRegistryControlArea  .CategoryControlBar {
  height: 27px;
}

.ApplicationRegistryControlArea  .CategoryControlBar .LeftBar {
	background: url('VistaSkin/background/LeftBar30x26.png') no-repeat left ;
  padding-left: 30px;
}

.ApplicationRegistryControlArea  .CategoryControlBar .RightBar {
	background: url('VistaSkin/background/RightBar20x26.png') no-repeat right ;
  padding-right: 20px;
}

.ApplicationRegistryControlArea  .CategoryControlBar .MiddleBar {
	background: url('VistaSkin/background/MiddleBar1x26.png') repeat-x ;
  height: 26px;
}

.ApplicationRegistryControlArea .UIToolbar .ActionsContainer {
  float: right;
  width: auto;
}

.ApplicationRegistryControlArea .CategoryControlIcon {
  float: left;
  margin: 1px 2px;
}

.ApplicationRegistryControlArea .AddCategoryIcon {
  height: 22px; width: 23px;
  background: url('VistaSkin/icons/AddCategoryIcon.png') no-repeat center ;
}

.ApplicationRegistryControlArea .ImportApplicationsIcon {
  height: 22px; width: 30px;
  background: url('VistaSkin/icons/ImportApplicationsIcon.png') no-repeat center ;
}

.ApplicationRegistryControlArea .ImportPortletsIcon {
  height: 22px; width: 30px;
  background: url('VistaSkin/icons/ImportPortletsIcon.png') no-repeat center;
}

.ApplicationRegistryControlArea .SeparatorLine {
  float: left;
  height: 20px; width: 2px;
  margin: 3px 6px 0px 3px;
  background: url('VistaSkin/background/SeparatorLine2x2.png') repeat-y ;
}

.ApplicationRegistryControlArea .DeleteCategoryIcon {
  height: 22px; width: 22px;
  background: url('VistaSkin/icons/DeleteCategoryIcon.png') no-repeat center;
}


/*################################Application Registry Working################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryWorkingArea {
	margin-left: 245px;
	height: 100%;
}

.ApplicationRegistryWorkingArea .ApplicationWorkingAreaContainer {
  border: 1px solid #dfdfdf;
	background: url('VistaSkin/background/ApplicationWorkingAreaContainerBG.png') repeat-x bottom ; 
}

.ApplicationRegistryWorkingArea .ApplicationContainer {
  padding: 0px 7px 10px 7px;
  border:  1px solid white;
}

.ApplicationRegistryWorkingArea .Application {
  margin: 10px 0px 0px 0px ;
	border: solid 1px #e4e4e4 ;
	padding: 10px;
	background: url('VistaSkin/background/BGApplication1x24.png') repeat-x bottom;
}

.ApplicationRegistryWorkingArea .ApplicationDescription {
  margin-right: 30px;
}

.ApplicationRegistryWorkingArea .TitleBarContainer {
  padding: 10px 10px 0px 10px; 
  width: 550px;
}

.ApplicationRegistryWorkingArea .ApplicationContent {
  padding: 0px 0px 0px 12px;
  width: 260px ;
  overflow: hidden;
}

.ApplicationRegistryWorkingArea .ApplicationButton {
  float: right;
  width: 28px;
  padding: 9px 0px 0px 0px;
}

.ApplicationRegistryWorkingArea .Icon {
  float: left;
  margin: 3px 2px 0px 0px;
}

.ApplicationRegistryWorkingArea .DeleteIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoResources/icons/16x16/VistaSkin/DustBin.png') no-repeat ;
}

.ApplicationRegistryWorkingArea .EditInfoIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoResources/icons/16x16/VistaSkin/Pencil.png') no-repeat ;
}

.ApplicationRegistryWorkingArea .ApplicationContentLabel {
  font-size: 11px;
  line-height: 16px;

}

.ApplicationRegistryWorkingArea .ApplicationContentLabel .RightLabel {
  color: #058ee6;
}

.ApplicationRegistryWorkingArea .PortletIcons {
  cursor: pointer;
  float: left;
  height: 80px;
  width: 80px;
}

.ApplicationRegistryWorkingArea .TitleBarApplication {
	height: 21px ;
  color: #1465B9; vertical-align: middle ;	font-weight:bold; font-size: 13px;
}

.ApplicationRegistryWorkingArea .eXoBrowserIcon {
  background: url(/eXoResources/skin/portal/webui/component/view/UIPageDesktop/DefaultSkin/icons/80x80/Register.png) no-repeat;
}

.ApplicationRegistryWorkingArea .UIForm .HorizontalLayout .UIAction {
  width: 170px;
}