
.UIWindow .UIApplicationRegistryPortlet {
	border: none;
	margin: 0px;
	overflow: visible;
}	
	
.UIApplicationRegistryPortlet {
	border: 1px solid #b7b7b7;
	height: auto;
	margin: 5px;
	background: white;
	overflow: auto;
}

.UIApplicationRegistryPortlet .UIForm .HorizontalLayout .UIFormInputSet {
	width: 90%; margin: auto;
}

.UIApplicationRegistryPortlet .Title {
  font-size: 14px; color: #058ee6; font-weight: bold; font-family: arial;
  margin: 5px 0px; 
  padding-left: 10px;
}

.UIApplicationRegistryPortlet .UIApplicationRegistryContainer {
  padding: 10px;
}

.UIApplicationRegistryPortlet .UIAvailablePortletForm {
  margin: auto;
  padding: 0px 10px;
}

.ApplicationRegistryWorkingArea .UIAvailablePortletForm .UIFormGrid {
	width: 100%;
}

.ApplicationRegistryWorkingArea .UIPermissionForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIAvailablePortletForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet #UICategoryForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet #UICategoryForm .UIFormGrid .UIFormGrid {
	width: auto;
}

.ApplicationRegistryWorkingArea .UIPermissionForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIPermissionForm .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIPermissionForm .UIFormGrid .UIFormGrid {
	width: auto;
}

/*################################Application Registry Control################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryControlArea {
	float: left;
	width: 236px;
}

.ApplicationRegistryControlArea .ApplicationRegistryCategory {
  border: 1px solid #b7b7b7;
  background: url('VistaSkin/background/ApplicationWorkingAreaContainerBG.png') repeat-x bottom ;
}

.ApplicationRegistryControlArea .CategoryManagement {
	padding-bottom: 10px;
}

.ApplicationRegistryControlArea  .CategoryControlBar {
  height: 27px;
}

.ApplicationRegistryControlArea  .CategoryControlBar .LeftBar {
	background: url('VistaSkin/background/UIPortletRegistryPortlet.gif') no-repeat left -27px;
  padding-left: 30px;
}

.ApplicationRegistryControlArea  .CategoryControlBar .RightBar {
	background: url('VistaSkin/background/UIPortletRegistryPortlet.gif') no-repeat right -54px;
  padding-right: 20px;
}

.ApplicationRegistryControlArea  .CategoryControlBar .MiddleBar {
	background: url('VistaSkin/background/UIPortletRegistryPortlet.gif') repeat-x top;
  height: 26px;
}

.ApplicationRegistryControlArea .UIToolbar .ActionsContainer {
  float: right;
  width: auto;
}

.ApplicationRegistryControlArea .CategoryControlIcon {
  float: left;
  margin: 1px 2px;
}

.ApplicationRegistryControlArea .AddCategoryIcon {
  height: 22px; width: 23px;
  background: url('VistaSkin/background/UIPortletRegistryPortlet.gif') no-repeat left -80px;
}

.ApplicationRegistryControlArea .ImportApplicationsIcon {
  height: 22px; width: 30px;
  background: url('VistaSkin/background/UIPortletRegistryPortlet.gif') no-repeat left -102px ;
}

.ApplicationRegistryControlArea .ImportPortletsIcon {
  height: 22px; width: 30px;
  background: url('VistaSkin/background/UIPortletRegistryPortlet.gif') no-repeat left -124px;
}

.ApplicationRegistryControlArea .SeparatorLine {
  float: left;
  height: 20px; width: 2px;
  margin: 3px 6px 0px 3px;
  background: url('VistaSkin/background/SeparatorLine2x2.png') repeat-y ;
}

.ApplicationRegistryControlArea .DeleteCategoryIcon {
  height: 22px; width: 22px;
  background: url('VistaSkin/background/UIPortletRegistryPortlet.gif') no-repeat left -145px;
}


/*################################Application Registry Working################################*/
.UIApplicationRegistryPortlet .ApplicationRegistryWorkingArea {
	margin-left: 245px;
}

.ApplicationRegistryWorkingArea .ApplicationWorkingAreaContainer {
  border: 1px solid #b7b7b7;
	background: url('VistaSkin/background/ApplicationWorkingAreaContainerBG.png') repeat-x bottom ; 
}

.ApplicationRegistryWorkingArea .ApplicationContainer {
  padding: 0px 7px 10px 7px;
  border:  1px solid white;
}

.ApplicationRegistryWorkingArea .Application {
  margin: 10px 0px 0px 0px ;
	border: solid 1px #e4e4e4 ;
	padding: 10px; 
	background: url('VistaSkin/background/BGApplication1x24.png') repeat-x bottom;
}

.ApplicationRegistryWorkingArea .ApplicationContent {
  margin-left: 85px;
  padding-bottom: 5px;
  padding: 0px 5px 5px 5px;
}

.ApplicationRegistryWorkingArea .TitleBarApplication {
	background: none;
	border-bottom: 1px solid #dfdfdf;
	width: 92.30%;
	padding: 0px 1px;
	margin: 0px auto 5px auto;
}

.ApplicationRegistryWorkingArea .TitleBarApplication label {
  float: left;
  margin-top: 6px;
  font-weight: bold ; font-size: 12px; color: #1465B9; font-family: arial; 
}

.ApplicationRegistryWorkingArea .ApplicationButton {
}

.ApplicationRegistryWorkingArea .ApplicationButton .Icon {
  float: right;
	cursor: pointer ;
	margin: 0px 3px;
}

.ApplicationRegistryWorkingArea .DeleteIcon {
  width: 18px ;  height: 18px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/DustBin.png') no-repeat ;
}

.ApplicationRegistryWorkingArea .EditInfoIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil.png') no-repeat ;
}

.ApplicationRegistryWorkingArea .ApplicationContentLabel {
  line-height: 16px;
  width: 92.30%;
  margin: auto;
}

.ApplicationRegistryWorkingArea .ApplicationContentLabel .RightLabel {
  color: #058ee6;
}

.ApplicationRegistryWorkingArea .PortletIcons {
  cursor: pointer;
  float: left;
  height: 80px;
  width: 80px;
}

.ApplicationRegistryWorkingArea .eXoBrowserIcon {
  background: url(/eXoResources/skin/DefaultSkin/portal/webui/component/view/UIPageDesktop/icons/80x80/Register.png) no-repeat;
}

.ApplicationRegistryWorkingArea .UIInfoPortletForm {
	width: 400px;
	margin: auto;
}

.ApplicationRegistryWorkingArea .LabelButton {
	text-align: center; 
	color: #3c3c3c; 
	line-height: 25px;
}

