.UIWidgets {
	padding: 10px 0px 0px 0px;
}

.UIWidgets .ItemSelectorContainer .EditIcon {
	float: left;
	width: 20px; height: 21px;
	background: url('background/WidgetControlIcon.gif') no-repeat top;	
	cursor: pointer;
	margin: 2px 0px;
}

.UIWidgets .ItemSelectorContainer .UIDropDownControl {
	width: 215px ;
	float: left ;
	margin-top: 2px;
}

.UIWidgets .WidgetDecorator {
	width: 236px;
}

.UIWidgets .WidgetDecorator .TopLeftWidgetsDecorator {
	background: url(background/UIWidgets.gif) no-repeat top left;
	padding-left: 2px;
	height: 2px;
}

.UIWidgets .WidgetDecorator .TopRightWidgetsDecorator {
	background: url(background/UIWidgets.gif) no-repeat top right;
	padding-right: 2px;
	height: 2px;
}

.UIWidgets .WidgetDecorator .TopCenterWidgetsDecorator {
	background: url(background/UIWidgets.gif) repeat-x center -2px;
	height: 2px;	
}

.UIWidgets .WidgetDecorator .MiddleLeftWidgetsDecorator {
	background: url(background/MiddleLeftUIWidgets.gif) repeat-y left;
	padding-left: 2px;
}

.UIWidgets .WidgetDecorator .MiddleRightWidgetsDecorator {
	background: url(background/MiddleRightUIWidgets.gif) repeat-y right;
	padding-right: 2px;
}

.UIWidgets .WidgetDecorator .MiddleCenterWidgetsDecorator {
}

.UIWidgets .WidgetDecorator .WidgetsDecoratorBackground {
	padding: 5px;
}

.UIWidgets .WidgetDecorator .BottomLeftWidgetsDecorator{
	background: url(background/UIWidgets.gif) no-repeat left -4px;
	padding-left: 2px;
	height: 2px; 
}

.UIWidgets .WidgetDecorator .BottomRightWidgetsDecorator{
	background: url(background/UIWidgets.gif) no-repeat right -4px;
	padding-right: 2px;
	height: 2px; 
}

.UIWidgets .WidgetDecorator .BottomCenterWidgetsDecorator{
	background: url(background/UIWidgets.gif) repeat-x center -6px;
	height: 2px; 
}

/***************************************  UIWidgetContainer   **************************************/
.UIWidgetContainer {
}

.UIWidgetContainer .WidgetContainerScrollArea {
	overflow: hidden ;	
}

.UIWidgetContainer .WidgetNavigator {
	height: 27px;
	width: 75px;
	float: right;
}

.UIWidgetContainer .LeftWidgetNavBar {
	height: 25px;
	background: url('background/UIWidgets.gif') no-repeat left -8px;
	padding-left: 4px;	
}

.UIWidgetContainer .RightWidgetNavBar {
	height: 25px;
	background: url('background/UIWidgets.gif') no-repeat right -8px;
	padding-right: 4px;	
}

.UIWidgetContainer .CenterWidgetNavBar {
	height: 25px;
	background: url('background/UIWidgets.gif') repeat-x center -33px;
}

.UIWidgetContainer .WidgetNavigator .Icon {
	height: 16px;
	width: 16px;
	float: left;
	margin: 4px 0px 0px 4px;
	cursor: pointer;
}	

.UIWidgetContainer .WidgetNavigator .DisableScrollDownButton{
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayDownArrow.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .ScrollDownButton{
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueDownArrow.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .ScrollUpButton{
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueUpArrow.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .DisableScrollUpButton{
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayUpArrow.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .AddWidgetButton{
	background: url('background/WidgetControlIcon.gif') no-repeat left -21px;	
}

/***************************************  UIWidget   **************************************/

.UIWidget .WidgetControlBar {
  float: right;
	width: 76px; height: 20px;
	padding-right: 7px;
}

.UIWidget .WidgetControl {
	width: 74px; height: 20px;
}

.UIWidget .WidgetApplication {
	padding: 0px 0px 5px 0px;
}

.UIWidget .WidgetControl .LeftControlBar {
	height: 19px;
	background: url('background/UIWidgets.gif') no-repeat left -58px;	
	padding-left: 2px;
}

.UIWidget .WidgetControl .RightControlBar{
	height: 19px;
	background: url('background/UIWidgets.gif') no-repeat right -58px;	
	padding-right: 2px;
}

.UIWidget .WidgetControl .CenterControlBar{
	height: 19px;
	background: url('background/UIWidgets.gif') repeat-x bottom;	
}

.UIWidget .WidgetControl .WidgetDragHandleArea {
	float: left;
	width: 17px; height: 13px;
	cursor: move;
	margin: 3px 3px 0px 3px;
	background: url('background/WidgetDragArea2x2.gif');
}

.UIWorkspacePanel .UIWidget .WidgetControl .WidgetDragHandleArea {
	cursor: auto;
}

.UIWidget .WidgetControl .SeparatorLine {
	float: left;
	width: 2px; height: 13px;
	margin: 3px 3px 0px 3px;
	background: url('background/SeparatorLine2x1.gif') repeat-y;
}

.UIWidget .WidgetControl .EditWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 2px 3px 0px 0px;
	background: url('background/WidgetControlIcon.gif') no-repeat left -37px;	
}

.UIWidget .WidgetControl .CloseWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 2px 0px 0px 0px;
	background: url('background/WidgetControlIcon.gif') no-repeat left bottom;	
}
