/**
 * Created by The eXo Platform SARL
 * Modifile : Lai Van Khoi
 *           khoilv80@gmail.com
 * January 24, 2007
 * version: $Id$
 */

.RedLeftArrow16x16Icon {
  height: 16px;width: 16px;
  background: url('DefaultSkin/RedLeftArrow.gif') no-repeat ;
}

.Action16x16Icon {
  height: 16px;
  width: 16px;
  background: url('DefaultSkin/ActionIcon.gif') no-repeat ;
}

.Forum16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/ForumIcon.gif') no-repeat;
}

.ForumAscending16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/AscendingForumIcon.gif') no-repeat;  
}

.ForumDescending16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/DescendingForumIcon.gif') no-repeat;
}

.EditForum16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/EditForumIcon.gif') no-repeat;
}

.DeleteForum16x16Icon {
  width: 16px; height: 16px;
  background: url('DefaultSkin/DeleteForumIcon.gif') no-repeat;
}

.ExpandButton16x16Icon {
  width: 17px; height: 16px;
  background: url('DefaultSkin/ExpandIcon.jpg') no-repeat;
}

.CollapseButton16x16Icon {
  width: 17px; height: 16px;
  background: url('DefaultSkin/CollapseIcon.jpg') no-repeat;
}