.UIPortalManagement {
  padding: 0px 1px 1px 1px ;
}

.UIPortalManagement .UIPortletOptions .UIDropDownControl {
	width: 214px;
}

.UIPortalManagement .TopTitleBar {
  padding: 15px 0px;
}


.UIPortalManagement .UIToolbar .PolyToolbar .MiddleBar {
  padding: 2px 0px 0px 20px;
}