/*########################- UIPageNodeSelector -######################*/
	
.UIPageNodeSelector .PageNodeSelectorContainer {
	background: #f3f3f3;
	padding: 4px;
	margin: 0px 5px;
	border: 1px solid #c6c6c9;
}

.UIPageNodeSelector .UIVerticalSlideTabs {
	border: none; 
}

/*Created Dang.Tung*/

.UIPageNodeSelector .UIDropDownControl {
	padding-left: 1px; /* orientation=lt */
	padding-right: 1px; /* orientation=rt */
}

.UIPageNodeSelector .UIDropDownControl .UIDropDownAnchor {
}

/*###############################-	-############################*/

.UIPageNodeSelector .TreeSelectorTitle {
	text-align: center; 
	font-weight: bold;
	height: 20px; line-height: 20px; 
	background: white;
	border: 1px solid #b7b7b7; 
	margin-bottom: 5px;
}

.UIPageNodeSelector .TabLabel {
	margin-left: 10px;/* orientation=lt */
	margin-right: 10px;/* orientation=rt */
}

.UIPageNodeSelector .OrganizationIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/MiniOrangeBoxPage.gif') no-repeat;
}

.UIPageNodeSelector .PortalAdminIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/PortalAdmin.gif') no-repeat;
}

.UIPageNodeSelector .NavigationPortalIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DefaultPageIcon.gif') no-repeat;
}

/*Created by Vu Duy Tu*/

.UIPageManagement .UIPageNodeSelector .AddNavigationIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/EditNavigation.gif') no-repeat left top;/* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/EditNavigation-rt.gif') no-repeat right top;/* orientation=rt */
	cursor: pointer;
	/*Lam edit to fix bug PORTAL-2604*/
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	/*float: left; /* orientation=lt */
	/*float: right; /* orientation=rt */
	margin: 0px 0px 2px 0px;
	height: 21px; width: 21px;
	display: block;
}

.AddNavigationIcon {
	display: none;
}

/*Created Dang.Tung*/

.UIControlWorkspace .UIPageNodeSelector .UIDropDownControl {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 196px;
}
