/*########################- UIPageNodeSelector -######################*/
.UIPageNodeSelector {}

.UIPageNodeSelector .PageNodeSelectorContainer {
  background: #f3f3f3 ;
  padding: 4px ;
  margin: 0px 5px;
  border: 1px solid #c6c6c9 ;
}

.UIPageNodeSelector .UIVerticalSlideTabs {
  border: none; 
}

.UIPageNodeSelector .UIDropDownItemSelector {
  padding: 0px 1px;
}

/*Created Dang.Tung*/
.UIPageNodeSelector .UIDropDownControl {
  padding: 0px 1px;
}

/*###############################- UITree -############################*/
.UIPageNodeSelector .TreeSelectorTitle {
  text-align: center; 
  font-weight: bold;
  height: 20px; line-height: 20px; 
  background: white ;
  border: 1px solid #b7b7b7 ; 
  margin-bottom: 5px;
}

.UIPageNodeSelector .TabLabel {
  margin-left: 10px;
}

.UIPageNodeSelector .UITree {
  padding: 4px 0px 20px 0px;
  background: white;
  border: 1px #b7b7b7 solid;
}

.UIPageNodeSelector .UITree .TreeContainer {
  border: none;
}

.UIPageNodeSelector .UITree .TreeContainer .TreeLevelContainer {
  margin: 0px;
  float: none;
	height : 23px;
	line-height: 23px;
}

.UIPageNodeSelector .UITree .TreeContainer .Node {
	line-height: 22px;
	padding-left: 4px;
	width: 97%; /* Fix IE*/
}	

.UIPageNodeSelector .UITree .TreeContainer .ChildrenNode {
	width: 90%; /* Fix IE*/
}

.UIPageNodeSelector .UITree .TreeContainer .Node .ExpandIcon {
  margin: 3px 0px 0px 0px ;
}

.UIPageNodeSelector .UITree .TreeContainer .Node .CollapseIcon {
  margin: 2px 2px 0px 2px ;
}

.UIPageNodeSelector .UITree .TreeContainer .Node .Icon {
  width: 16px;  height: 16px ;
  margin: 3px 2px 0px 2px;
}

.UIPageNodeSelector .UITree .TreeContainer .Node .NodeSelected {
  color: #058ee6;
}

.UIPageNodeSelector .UITree .TreeContainer .Node .NodeLabel  {
  cursor: pointer ;
  float: left ;
  line-height: 17px; 
}

.UIPageNodeSelector .OrganizationIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/MiniOrangeBoxPage.gif') no-repeat;
}

.UIPageNodeSelector .PortalAdminIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/PortalAdmin.gif') no-repeat;
}

.UIPageNodeSelector .NavigationPortalIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DefaultPageIcon.gif') no-repeat;
}

/*Created by Vu Duy Tu*/
.UIPageManagement .UIPageNodeSelector .AddNavigationIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/EditNavigation.gif') no-repeat left top;
	cursor: pointer;
	float: left; margin: 0px 0px 2px -1px;
	height: 21px; width: 21px;
	display: block;
}

.AddNavigationIcon {
	display: none;
}

.UIControlWorkspace .UIPageNodeSelector .UIDropDownItemSelector {
  float: left; 
  width: 197px;
}

/*Created Dang.Tung*/
.UIControlWorkspace .UIPageNodeSelector .UIDropDownControl {
  float: left; 
  width: 197px;
}