.UIFormTabPane  {
  padding-top: 5px ;
}

.UIFormTabPane .FormTabPaneContainer {
  background: white ;
  border-left: solid 1px #638294 ; border-right: solid 1px #638294 ;
}

.UIFormTabPane .UITabPane {
  border: none;
  padding: 0px;
}

.UIFormTabPane .UITabPane .HorizontalLayout {
  border: none;
  margin: 0px; padding: 0px;
}

.UIFormTabPane .UITabPane .UIFormWithTitle .UIForm .HorizontalLayout {
	border: 1px solid #b7b7b7;
	border-top: none;
}