.UIFormTabPane {
	padding-top: 5px;
}

.UIFormTabPane .FormTabPaneContainer {
	background: white;
	border-left: solid 1px #638294; border-right: solid 1px #638294;
}

.UIFormTabPane .UITabPane {	
	border: none;
	padding: 0px;
}

