.UIWindow .UIOrganizationPortlet {
  border: none;
  background: none;
  margin: 0px auto;
  padding: 0px;
  overflow: visible;
}

.UIOrganizationPortlet {
  background: white;
  border: 1px solid #b7b7b7;
  margin: 5px;
  padding: 5px;
  overflow: auto;
}

.UIOrganizationPortlet .OrganizationPortletContainer .UIMembershipManagement .UIListMembershipType .UIGrid {
	width: 99.2%;
	margin: auto;
}

.UIOrganizationPortlet .OrganizationPortletContainer .UIMembershipManagement .UIMembershipTypeForm {
	width: 99.3%;
}

.UIOrganizationPortlet .UIGroupManagement .UIGroupInfo .UIGrid td {
	height: auto;
	padding: 4px 0px 7px 7px; /* orientation=lt */
	padding: 4px 7px 7px 0px; /* orientation=rt */
}

.UIOrganizationPortlet .OrganizationPortletContainer {
  padding: 5px 8px ;
} 

.UIOrganizationPortlet .UIToolbar .LargeToolbar .HorizontalSeparator {
  float: left ; /* orientation=lt */
  float: right ; /* orientation=rt */
  margin: 5px 2px 0px 1px ; /* orientation=lt */
  margin: 5px 1px 0px 2px ; /* orientation=rt */
  width: 2px; 
  height: 50px ;
}

.UIOrganizationPortlet .UIToolbar .LargeToolbar .ButtonLabel {
  line-height: 18px;
  font-weight: bold;
}

.UIOrganizationPortlet .UIToolbar .LargeToolbar .SelectButtonLabel {
  line-height: 18px;
  font-weight: bold;
  color: #058ee6;
}

.UIOrganizationPortlet .ManagementIconContainer {
  padding-top: 2px;
}

.UIOrganizationPortlet .UIToolbar .LargeToolbar .UserButton {
  float: left;		/* orientation=lt */
  float: right;		/* orientation=rt */
  width: 130px;
  cursor: pointer;
	text-align: center;
}

.UIOrganizationPortlet .UIToolbar .LargeToolbar .GroupButton {
  float: left;		/* orientation=lt */
  float: right;		/* orientation=rt */
  width: 140px;
  cursor: pointer;
  text-align: center;
}

.UIOrganizationPortlet .ManagementTabContent {
  width: 99.4%;
  margin: 4px auto 2px auto;
}

.UIOrganizationPortlet .UIBarStyle .BarStyle2 .UISearchForm .UIForm {
  padding: 0px;
}

.UIOrganizationPortlet .UIToolbar .LargeToolbar .MembershipButton {
  float: left;		/* orientation=lt */
  float: right;		/* orientation=rt */
  width: 178px;
  cursor: pointer;
	text-align: center;
}

.UIOrganizationPortlet .UserManagementIcon {
  width: 44px ; height: 30px ;
  background: url('MacSkin/background/UIOrganizationPortlet.gif') no-repeat left -165px ;
  margin: auto;
  margin-top: 4px;
}

.UIOrganizationPortlet .GroupManagementIcon {
  width: 44px ; height: 30px ;
  background: url('MacSkin/background/UIOrganizationPortlet.gif') no-repeat left -134px ;
  margin: auto;
  margin-top: 4px;
}

.UIOrganizationPortlet .MembershipManagementIcon {
  width: 44px ; height: 30px ;
  background: url('MacSkin/background/UIOrganizationPortlet.gif') no-repeat left -103px ;
  margin: auto;
  margin-top: 4px;
}

.UIOrganizationPortlet .UIForm .HorizontalLayout .FieldContainer {
  width: 380px;
}

/*##############################- UIUserManagement -###########################*/
.UIOrganizationPortlet .UIFormTabPane {
	width: 100%;
	margin: auto;
}

.UIOrganizationPortlet .UIFormTabPane .UIPersonalInfo {
  padding: 0px;
}

.UIOrganizationPortlet .UIPersonalInfo .UIItemSelector .ItemDetailList {
	height: 300px;
	padding-bottom:0px;
}

.UIOrganizationPortlet .UIUserManagement .HorizontalLayout .UIFormInputSet {
	height: 270px;
	padding-top: 10px;
	width: auto;
}

.UIOrganizationPortlet .UIUserManagement .UISearch .UIForm {
  padding: 0px ; 
}

.UIOrganizationPortlet .UIMembership {
	padding: 5px;
}

.UIOrganizationPortlet .UIPersonalInfo .UIItemSelector .ItemList {
	height: 287px;
}

.UIOrganizationPortlet .UIUserManagement .GroupGridIterator {
  margin: 5px 4px 1px 4px ;
}

.UIOrganizationPortlet .UIUserManagement .UIGrid {  
  margin: 1px auto ;
}

.UIOrganizationPortlet .UIGroupManagement .UIGrid {
	width: 99%;
	margin: auto;
}

/*#######################- UIUserInfo - #####################*/

.UIOrganizationPortlet .UIUserManagement .UIUserInfo {
  width: auto ; 
}

.UIOrganizationPortlet .UIItemSelector .ItemDetailList {
 padding: 11px 0px 11px 0px;
}

.UIOrganizationPortlet .UIBreadcumbs .LeftBreadcumbsBar {
  padding: 0px 0px 0px 3px ;
  background: url('MacSkin/background/UIOrganizationPortlet.gif') no-repeat left -197px;
}

.UIOrganizationPortlet .UIBreadcumbs .RightBreadcumbsBar {
  padding: 0px 3px 0px 0px;
  background: url('MacSkin/background/UIOrganizationPortlet.gif') no-repeat right -197px;
}

.UIOrganizationPortlet .UIBreadcumbs .BreadcumbsInfoBar {
  height: 25px; line-height: 25px; vertical-align: middle;
  background: url('MacSkin/background/UIOrganizationPortlet.gif') repeat-x bottom;
}
/*#######################  UIGroupManagement #################################*/

.UIOrganizationPortlet .UIGroupManagement {
	margin-top: 5px;
}

.UIOrganizationPortlet .UIGroupManagement .UITrees {
	border-top: none;
/*	width: 99%;*/
}

.UIOrganizationPortlet .UIBreadcumbs .RightBlackGridArrowIcon {
	margin-top: 5px;
}

.UIOrganizationPortlet .UIGroupManagement .UIBreadcumbs .HomeIcon {
  width: 28px; height: 15px;
  margin-top: 9px;
  background: url('MacSkin/background/UIOrganizationPortlet.gif') no-repeat left -67px;
}

.UIOrganizationPortlet .UIGroupManagement .UIBreadcumbs {
	padding:0px ;
}

.UIOrganizationPortlet .UIGroupManagement .TitleBar {
  background: url('MacSkin/background/UIOrganizationPortlet.gif') repeat-x;
  border: 1px solid #b7b7b7;
  line-height: 24px;
  height: auto;
  font-weight: bold;
}

.UIOrganizationPortlet .UIGroupManagement .TitleBar .Title {
	color:#1c1c1c;
	font-weight:bold;
	line-height: 24px;
	padding-left: 7px;		/* orientation=lt */
	padding-right: 7px;		/* orientation=rt */
}

.UIOrganizationPortlet .UIGroupManagement .GroupNavigation .TitleBar {
	height: 24px;
}

.UIOrganizationPortlet .UIGroupManagement .GroupNavigation .TitleBar .Title {
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
}

.UIOrganizationPortlet .UIGroupManagement .GroupPanel {
  overflow: hidden ;
  width: 100% ;
}

.UIOrganizationPortlet .UIGroupManagement .GroupNavigation {
  width: 220px ;
  float: left ; 		/* orientation=lt */
  float: right ; 		/* orientation=rt */
}

.UIOrganizationPortlet .UIGroupManagement .GroupNavigationContainer {
  width: 100%;
}

.UIOrganizationPortlet .UIGroupManagement .GroupNavigation .TreeActionIcon  {
	float: right ;		/* orientation=lt */
	float: left ;			/* orientation=rt */
	margin: 4px 8px 0px 0px ;		/* orientation=lt */
	margin: 4px 0px 0px 8px ;		/* orientation=rt */
}

.UIOrganizationPortlet .UIGroupManagement .GroupNavigation .RemoveGroupIcon  {
	width: 18px;
	height: 17px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DeleteIcon.png') no-repeat;
}

.UIOrganizationPortlet .UIGroupManagement .GroupNavigation .AddGroupIcon  {
	width: 16px;
	height: 16px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/AddIcon.png') no-repeat;
}

.UIOrganizationPortlet .UIGroupManagement .GroupNavigation .EditGroupIcon  {
	width: 16px;
	height: 16px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/EditIcon.png') no-repeat;
}

.UIOrganizationPortlet .UIGroupManagement .GroupDetail {
  margin-left: 227px ; 		/* orientation=lt */
  margin-right: 227px ; 	/* orientation=rt */
}

.UIOrganizationPortlet .UIGroupManagement .UITabContentContainer {
  background: url('MacSkin/background/LightGrayLinedBG1x4.gif');
}

.UIOrganizationPortlet .UIGroupManagement .UITrees .TreeContainer {
	height: 214px;
}

.UIOrganizationPortlet .UIGroupManagement .UITrees .Node {
  line-height: 24px;
}

.UIOrganizationPortlet .UIGroupManagement .UISearch {
  width: 99%;
  margin: auto;
  margin-bottom: 2px;
}

.UIOrganizationPortlet .UIGroupManagement .UIFormWithTitle {
	width: auto;
	margin: auto;
}

.UIOrganizationPortlet .UIGroupManagement .UIGroupMembershipForm {
	margin: 8px auto 0px;
	width: 99%;
}

.UIOrganizationPortlet .UIGroupMembershipForm .HorizontalLayout .FormContainer {
	background: url('/eXoSkinMac/skin/MacSkin/background/Background1x4.png') repeat;
	border: 1px solid white;
	padding: 16px 0px 6px 0px;
}

.UIOrganizationPortlet .UIGroupForm .FormContainer { 
	height: 200px;
}

.UIOrganizationPortlet .UIGroupMembershipForm .UIForm select {
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
}

.UIOrganizationPortlet .UIGroupInfo .UIGroupMembershipForm a.Icon { 
	background-position: left top;
	background-repeat: no-repeat;
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
	width: 24px;
	margin-left: 4px;		/* orientation=lt */
	margin-right: 4px;	/* orientation=rt */
}

.UIOrganizationPortlet .UIGroupInfo .UIGroupMembershipForm .SearchIcon { 
	margin-top: 3px;
	_height: 23px;
}

.UIOrganizationPortlet .UIGroupInfo .UIGroupMembershipForm .Refresh16x16Icon {
  height: 20px;
}

.UIOrganizationPortlet .UIGroupInfo .ListUserForSearch { 
	padding: 10px;
}

.UIOrganizationPortlet .SelectUserIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/SelectIcon.png') no-repeat center ;
	width: 16px; height: 16px;
}

.UIOrganizationPortlet .UIGroupManagement .UIGroupMembershipForm td.FieldComponent {
	width: 273px;
}

/*#######################  UIMemberShipManagement #################################*/

.UIOrganizationPortlet .UIMembershipManagement {
  margin: auto;
}

.UIOrganizationPortlet .UIMembershipTypeForm {
	width: 99.7%; 
	margin: 10px auto 0px auto ; 
}

.UIOrganizationPortlet .ManagementTabContent .UIPageIterator {
	height: 22px;
  margin-top: 2px;
}

.UIOrganizationPortlet .UIGrid td {
	margin: auto;
}