.UIContainerList {
  background:url('background/UIContainerConfigOptions.png');
  padding: 5px ;
}

.UIContainerList .ContainerConfigOptions {
	 /*Lamjs comment to show DropdownControl above*/
  /*overflow: hidden;*/
}

.UIContainerList .ScrollArea {
  border: solid 1px #929292;
  border-bottom: solid 1px #c3c3c3; border-right: solid 1px #c3c3c3;
}

.UIContainerList .CategoryContainer {
  padding: 10px 0px 20px 0px;
  background: white;
}

.UIContainerList .TabContent {
  border:solid 1px #5f90ba; 
  background: white; 
  padding-bottom: 10px;
}

.UIContainerList .Title {
  text-align: center; 
  font-weight: bold ;
  height: 20px ; line-height: 20px ;
  border: 1px solid #6c767c;
  background: url('/eXoSkinVista/skin/VistaSkin/background/IconLabelContentBG1x1.png') repeat;  
 }
 
.UIContainerList .Title .TitleContainer {
	height: 20px;
}

.UIContainerList .Title .TitleContainer .Icon {
	float: left;
	width: 16px; height: 16px;
	margin: 3px 5px 0px 7px;
}

.UIContainerList .Title .TitleContainer .LabelText {
	padding-left: 3px;
	height: 20px; line-height: 20px; 
}

.UIContainerList .Title .TitleContainer .ArrowButton {
	float: right;
	cursor: pointer ;
}

.UIContainerList .UIVTabContent {
  overflow:auto;
  padding:1px;
  background:#ffffff;
  border: 1px solid #96D9F9;
}

.UIContainerList .ContainerIcon {
	margin: 10px;
	padding-left: 120px;
	line-height: 40px;
}

.UIContainerList .OneRowContainerLayout {
  width: 105px;
	height: 56px;
  margin-top: 10px;
  cursor: move ;
  background:url('background/ContainerConfigOptions.png') no-repeat top left;
}

.UIContainerList .TwoRowContainerLayout {
  width: 105px;
	height: 56px;
	margin: 10px 0 0 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat left -56px;
}

.UIContainerList .ThreeRowContainerLayout {
  width: 105px;
	height: 56px;
	margin: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat left -112px;
}

.UIContainerList .TwoColumnContainerLayout {
  width: 105px;
	height: 56px;
	margin: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat left -168px;
}

.UIContainerList .ThreeColumnContainerLayout {
  width: 105px;
	height: 56px;
	margin: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat left -224px;
}

.UIContainerList .TwoTabContainerLayout {
  width: 105px;
	height: 56px;
	margin: 10px 0 0 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat left -280px;
}

.UIContainerList .ThreeTabContainerLayout {
  width: 105px;
	height: 56px;
	margin: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat left -336px;
}

.UIContainerList .TwoColumnOneRowContainerLayout {
  width: 105px;
	height: 56px;
	margin: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat left -392px;
}

.UIContainerList .OneRowTwoColumnContainerLayout {
  width: 105px;
	height: 56px;
	margin: 10px 0 0 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat left -448px;
}

.UIContainerList .OneRow2Column1RowContainerLayout {
  background:url('background/ContainerConfigOptions.png') no-repeat bottom left;
  width: 105px;
	height: 56px;
	margin: 10px;
  cursor: move;
}

