.CalendarPortlet{

}

.CalendarItem {

}
.CalendarContainer{

}
.DateContainer{
    background-color: silver;
    text-align: center;
    top: 3px;
    width: 100%;
    overflow: hidden;
    min-height: 36px;
    position: relative;

}
.PrevDateLink{
    position: absolute;
    left: 0px;  top: 0px;
    width: 13px;
}
.PrevDateSpan{
    background: url("img/prev.gif") no-repeat left 3px;;
    width: 20px;
    height: 20px;
}
.NextDateLink  {
    position: absolute;
    right: 0px;  top: 0px;
    /* top: 3px; width: 13px;*/
}
.NextDateSpan{
    background: url("img/next.gif") no-repeat left 3px;;
    width: 20px;
    height: 20px;
}
.CurrentDateContainer{
    margin: 0 auto;
    text-align: center;
    /*width: 300px;*/
}
.flottante {

    margin: 2px;
    float: left;

    text-align: center;
}

.conteneur {
    width: 100%;
}

.spacer {
    clear: both;
}

.TaskCompleted{
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
    text-decoration: line-through;
    background:url('img/check.png') no-repeat left !important;
}
.TaskLateNotCompleted{
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
    font-style: italic;
    background:url('img/rec.png') no-repeat left !important;
}
.taskNotCompleted{
    margin: 10px 0px 10px 0px;
    padding-left: 15px;
    text-decoration: solid;
    background:url('img/check.png') no-repeat left !important;
}

.TasksTitle{
    text-decoration-style: solid;
    background-color:silver;
    height: 20px;
    text-align: center;
}
.TasksList{

}
.Events{

}
.EventsList{

}

.PastEvent{
    background-color: #d3d3d3;
}

.EventSummary {

    margin: auto;
    /* white-space: nowrap; */
    font-size: 12px;
    display: block;
    text-overflow: ellipsis;
    max-height: 25px;
    overflow: hidden;
}
.CalendarName{
    width: 45px;
}

.NonDisp{
    text-overflow: ellipsis;
}

.EventLink{

    text-decoration: #444444;
}
.SettingsContainerPage{

    height: 30px;
    background-color: #FFFFFF;
}

.SettingsLink{
    background: url("img/Setting.png") no-repeat scroll right 0 transparent;
    float: right;
    height: 30px;
    padding: 1px;
    width: 50px;
}

.icon{
    padding: 2px 8px;
}

.deleteButtonSpan{
    background: url("img/del.png") no-repeat left 3px;;
    width: 20px;
    height: 20px;
}
.addButtonSpan{
    background: silver  right 8px;
    padding-left: 10px;
}