.UIWelcomeComponent {
}

.UIWelcomeComponent .WelcomeMessage {
  float: left ;
}

.UIWelcomeComponent .ItemSelectorContainer .UIDropDownControl {
	_position: static; /* orientation=rt */
}

.UIWelcomeComponent .OrangeMessage {
  color: #fa8006 ;
  font-weight: bold ;
}

.UIWelcomeComponent .LoginDetailBox {
  border: solid 1px #b7b7b7 ;
  padding: 10px ; 
}