.UIForm  {
}

/*####################- HorizontalLayout -#################*/
.UIForm .HorizontalLayout {
  border: solid 1px #b7b7b7;
  background: url('/eXoSkinMac/skin/MacSkin/background/Background1x4.png') repeat;
  padding: 10px;
}

.UIFormGrid {
	width: auto;
	margin: auto;
}

.UITabContent .UIForm .HorizontalLayout .FormContainer {
	padding: 10px;
}

.UIForm .UIFormGrid td.FieldLabel {
  padding: 4px;
  text-align: right;
	vertical-align: top;
}

.UIForm .UIFormGrid td.FieldComponent {
  padding: 4px;
	*padding: 0px 0px 4px 4px;
}

.UIForm .HorizontalLayout .MultiValueContainer {
  margin-bottom: 5px;
}

.UIForm .HorizontalLayout .MultiValueContainer .MultiFieldAction {
  margin: 0px 3px;
}

.UIForm .HorizontalLayout .UIFormInputSet {
	width: 95%;
	padding: 10px;
	margin: auto;
}

.HorizontalLayout .UIForm .UIFormInputSet {
	width: 95%;
	padding: 10px; margin: auto;
}

.HorizontalLayout .UIForm .SelectedIconInfo .UIFormInputSet {
	width: 97% ;
	padding: 0px;
	margin: auto;
}

.UIForm .HorizontalLayout .UIFormInputSet .Title {
  margin: 10px 0px 0px 10px;
  color: #5f7fd6;
}

.UIForm .HorizontalLayout .UIFormInputSet .ItemLabel {
  float: left;
  font-weight: bold;
  width: 130px;
}

.UIForm .HorizontalLayout .UIFormInputSet .ItemValue {
  margin-left: 5px;
  float: left;
  color: #2f76e2;
}

.UIForm .HorizontalLayout .UIFormInputSet .ItemValueDescription {
  margin-top: 10px;
  height: 50px;
  border: solid 1px #dedee1;
  background: white;
}

.UIForm .HorizontalLayout .FieldContainer .MultiValueContainer {
  margin: 7px 0px 10px 0px;
}

.UIForm .HorizontalLayout .FieldContainer .MultiValueContainer input {
  float: left;
  margin-right: 5px;
}

.UIForm .HorizontalLayout .FieldContainer .UIFormMultiValueInputSet  {
	float: left;
	margin: 0px 10px 0px 5px;
}

.UIForm .HorizontalLayout input {
  width: 230px;
  font-size: 11px;
}

.UIForm .HorizontalLayout input.radio {
  width: 15px;
}

.UIForm .HorizontalLayout input.checkbox {
	width: 16px;
	margin: 0px;
}

.UIForm .HorizontalLayout textarea {
  width: 232px;  height: 75px;
  border: 1px gray solid;
  font-size: 11px;  
}

.UIForm .HorizontalLayout select {
  width: 235px;
  font-size: 11px;  
}

.HorizontalLayout .UIForm input {
  width: 230px;
  font-size: 11px;
}

.HorizontalLayout .UIForm input.radio {
  width: 15px;
}

.HorizontalLayout .UIForm input.checkbox {
	width: 16px;
	margin: 0px;
}

.HorizontalLayout .UIForm textarea {
  width: 232px;  height: 75px;
  border: 1px gray solid;
  font-size: 11px;  
}

.HorizontalLayout .UIForm select {
  width: 235px;
  font-size: 11px;  
}

/*####################- VerticalLayout -#################*/
.UIForm .VerticalLayout {
}

.UIForm .VerticalLayout  label {
	text-align: left;
  font-weight: bold;
  margin-bottom: 15px;
}

.UIForm .VerticalLayout input {
  width: 170px;
  border: 1px solid #7f9db9;
}

.UIForm .VerticalLayout input.checkbox {
  width: 17px; height: 17px;
  margin: 0px;
}

.UIForm .VerticalLayout textarea {
  width: 170px;  height: 75px;
  border: 1px solid #7f9db9;
}

.UIForm .VerticalLayout select {
  width: 170px;
}

/*####################- UIPermissionForm -#################*/

.UIPermissionForm .UIForm .HorizontalLayout .UIAccessGroup td.FieldLabel {
  line-height: 16px;
}

.UIPermissionForm .UIForm .UIAccessGroup .UIFormGrid td.FieldComponent {
  padding: 5px 2px;
  *padding: 4px 0px 5px 4px;
}