/* TipTip CSS - Version 1.2 */

#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 240px;
}

#tiptip_holder.tip_top {
    padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
    padding-top: 5px;
}

#tiptip_holder.tip_right {
    padding-left: 5px;
}

#tiptip_holder.tip_left {
    padding-right: 5px;
}

#tiptip_content {
    font-size: 11px;
    color: #555555;
	  background: white;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 3px 4px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 3px 4px rgba(0,0,0,0.15);
}

#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {

    border-top-color: transparent;
}

#tiptip_holder.tip_bottom #tiptip_arrow {

    border-bottom-color: transparent;
}

#tiptip_holder.tip_right #tiptip_arrow {

    border-right-color: transparent;
}

#tiptip_holder.tip_left #tiptip_arrow {

    border-left-color: transparent;
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
    margin-top: -7px;
    margin-left: -6px;
    border-top-color: #FFF;

}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: #FFF;

}

#tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -5px;
    border-right-color: #FFF;

}

#tiptip_holder.tip_left #tiptip_arrow_inner {
    margin-top: -6px;
    margin-left: -7px;
    border-left-color: #FFF;

}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #tiptip_content {
        padding: 10px;
        background-color: white;
        border-radius: 0 0 3px 3px;
    }

    #tiptip_holder.tip_bottom #tiptip_arrow_inner {
        border-bottom-color: #F8F8F8;
    }

    #tiptip_holder.tip_top #tiptip_arrow_inner {
        border-top-color: #F8F8F8;
    }
}

blockquote {
    background: url(/homepage-portlets/style/images/right-quote.png) no-repeat right bottom;
    text-indent: -25px;
    padding-right: 25px;
    padding-left: 25px;
    color: #999999;
    border-left: medium none;
    width:75%;
    word-wrap:break-word;
}

blockquote:first-letter {
    background: url(/homepage-portlets/style/images/left-quote.png) no-repeat left top;
    padding-left: 25px;
}

#tipName img {
    width: 36px;
    height: 36px;
    border-radius: 3px;
}

#connectMessge {
    background: #f0f0f0;
    margin: -10px;
    padding: 10px 20px;
    color: #999999;
    font-weight: bold;
}


#tiptip_holder .detail {
	margin-left: 45px;
}