body {
	background:transparent url(../background/BannerRepeat.gif) repeat-x top;
	font-family:Lucida Sans,Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
	margin:0;
	padding:0px;
}

.UIPageBody {	
	width: 921px;
	margin: auto;
}

.chapter > .section {
 color: black;
 text-decoration: none; 
}

/*.chapter > .section a {
 color: black;
}*/

/* ClearFix */	
.ClearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.ClearFix {display: inline-block;}

/* Hides from IE-mac \*/
* html .ClearFix {height: 1%;}
.ClearFix {display: block;}
/* End hide from IE-mac */ 

/*.UIWikiBooks body > div {
	width: 860px;
	margin: auto;
} */

/* ######################## Navigation ######################## */

.docnav {
 list-style: none outside none;
 position: relative;
 text-align: center;
 padding: 23px 0px;
 margin-bottom: 35px;
}

.docnav li {
 list-style: none outside none;
 display: inline;
}

.docnav .previous, .docnav .next {
 position: absolute;
}

.docnav .previous {
 left: 0;
 text-align: left;
}

.docnav .previous a{
 background: url(../background/PriviousIcon.gif) no-repeat left top;
 width: 34px;
 line-height: 24px;
 padding: 4px 2px;
 color: transparent !important;
}

.docnav .previous a:hover{
 background: url(../background/PriviousIconHover.jpg) no-repeat left top;
}

.docnav .next {
 right: 0;
 text-align: right;
}

.docnav .next a{
	background: url(../background/NextIcon.gif) no-repeat right top;
 width: 34px;
 line-height: 24px;
 padding: 4px 2px;
 color: transparent !important;
}

.docnav .next a:hover{
 background: url(../background/NextIconHover.jpg) no-repeat right top;
}

.docnav .up, .docnav .home {
 margin: 0 1.5em;
}

.docnav .up {
 left: 0;
 text-align: left;
 cursor: pointer;
}

.docnav .up a{
 background: url(../background/BackToTop.gif) no-repeat center top;
 width: 34px;
 height: 24px;
 padding: 4px 8px;
 color: transparent !important;
}

.docnav .up a:hover{
 background: url(../background/BackToTopHover.jpg) no-repeat center top;
}

.docnav .home {
 right: 0;
 text-align: right;
 cursor: pointer;
}

.docnav .home a{
	background: url(../background/BackToHome.gif) no-repeat right top;
 width: 34px;
 height: 24px;
 padding: 4px 0px;
 color: transparent !important;
}

.docnav .home a:hover{
	background: url(../background/BackToHomeHover.jpg) no-repeat right top;
}


/*######################### Banner #############################*/

.Banner {
	background:transparent url(../background/BannerBG.gif) no-repeat left top;
	height: 125px;
       /* padding-top: 125px; */
}


.Banner .VersionInfo{
	color: #fac943;
	font-weight: bold;
	font-size: 24px;
	padding: 40px 0px 0px 156px;
}


.WikiBooksContainer{
	padding: 8px 0px;
	border-bottom: 1px solid #ececec;
}

/* ##################### TOC ################### */

h4   {
	font-size: 17px !important; 
	color: #FCB837
}

h3  {
	font-size: 20px ;
	color: #FCB837;
	border-top: 1px dashed #E9E9D8;
	padding-top:10px;
	margin-top: 10px;
}

.note h3 {
font-size: 14px !important;
color: black !important;
margin-top: 4px;
padding: 0 10px 0 0;
border-top: 1px solid transparent;
text-shadow: 0 1px 1px white;
}

.warning h3 {
font-size: 14px !important;
color: black !important;
margin-top: 4px;
padding: 0 10px 0 0;
border-top: 1px solid transparent;
text-shadow: 0 1px 1px white;
}

.tip h3 {
font-size: 14px !important;
color: black !important;
margin-top: 4px;
padding: 0 10px 0 0;
border-top: 1px solid transparent;
text-shadow: 0 1px 1px white;
}

h2 {
	font-size: 26px !important;
	line-height: 24px;
	color: #FCB837;
	border-top: 1px solid #f1f1e6;
	padding-top: 5px;
}

h1 {
	font-size: 36px;
	margin:0px;
}

.toc .book a {
	font-size: 20px;
	margin: 4px 0px;
    text-decoration: none;
}

.toc .chapter a {
        color:#2E398C;
}

.toc .chapter a:hover {
        color:#31A8D0;
        border-bottom: 1px dotted;
}

.toc a {
	font-size: 14px;
        /*font-weight: bold;*/
        text-decoration: none;
	color:black;  
	font-weight: bold;
}


.toc .section a {
  color:#2E398C;
 }

.toc .section a:hover {
  color:#E47B00;
}



.toc dd {
  margin: 4px 0px 0px 3px;
}

.book .toc dt {
  padding-top: 14px;
}

.book .toc dd dt{
  padding-top: 0px;
}

.book .toc dd dl dt{
  padding-left: 25px;
}

.book .toc dd dl dd{
  padding-left: 25px;
}
dt a {
	color: #2E398C !important;
}


/** **/

/** **/

.BlueText{
	color:#314572;
}

.OrangeText{
	color:#e54c10;
}

.GreenText{
	color:#5384ad;
}

.DarkGreenText{
	color:#422ea6;
}

.GrayText{
	color: #464646;
}

.NormalText{
	font-weight: normal;
}

.BoldText{
	font-weight: bold;
	font-size: 14px;
}

.bold {
	font-weight: bold;
	font-size: 14px;
	color: #2e2d2c;
}

.italic{
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
}

.underline{
	text-decoration:underline;
	font-weight: normal;
	font-size: 14px;
}

.ChildenContent{
	margin-left: 14px;
	padding: 4px 0px;
}


ul{
	padding-left: 24px;
	margin-left: 0px;
}

ul li ul{
	padding-left: 0px;
	margin-left: 0px;
}

ul li ul li{
	list-style:none;
}

ul li ul li ul{
	padding-left: 16px;
}

ol{
	padding-left: 24px;
	margin-left: 0px;
}

ol li {
    color: #314572;
    font-size: 14px;
    list-style: decimal outside none;
}

ol li ol{
	padding-left: 0px;
	margin-left: 0px;
}

ol li ol li{
	list-style:none;
}

ol li ol li ol{
	padding-left: 16px;
}

.section table {
 border-collapse: collapse;
}

th{
	background:#323863;
	color:RGB(255,208,8);
	box-shadow:0 1px 1px #A1A1A1;
	font-size:14px;
	text-align:center;
	padding: 6px;
	border: #797979;
}

.ulink, .link{
	color:#2E398C;
	text-decoration:none;
	border-bottom: 1px dotted;
}

.ulink:hover, .link:hover{
	color:#31A8D0;
    border-bottom: 1px dotted;
}

.TextForm, .programlistingco, .screen {
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px;
	background: #f4f4f4;
	padding: 0px 12px;
	border: 1px solid #cccccc;
    overflow-x: auto;
	margin: 0px 0px 0px 0px;
}

.footer{
	padding: 8px 0px;
	text-align: right;
	color: #898989;
}

hr {
 display: none;
}


.book .titlepage .title a{
	color: #fbad18;
}

.book .titlepage .subtitle a{
	font-size: 18px;
}

.book .titlepage .authorgroup{
	margin: 8px 0px 0px 0px;
}

/* ======================= Chapter ===========================*/

.chapter .titlepage h2 , .titlepage .title a{
	font-size: 26px;
	font-weight: bold;
	color: #FCB837;
}

.chapter .section .titlepage h2 , .section .titlepage .title a{
	font-size: 26px;
	font-weight: bold;
	color: #FCB837;
}

.chapter .section .titlepage h3 a{
	font-size: 20px;
	font-weight: bold;
	color: #FCB837;
}

.chapter .section .titlepage h4 a{
	font-size: 17px;
	font-weight: bold;
	color: #FCB837;
}

.chapter .section .titlepage h5 a{
	font-size: 15px;
	font-weight: bold;
	color: #FCB837;
}

.chapter .section .titlepage h6 a{
	font-size: 14px;
	color: #FCB837;
}

.chapter .toc dl dd dl{
margin: 4px 0px 0px 19px;
}

.chapter .toc .section{
	border-top: none;
}
 
.chapter .toc .section a {
	line-height: 20px;
	color: #2E398C !important;
}

.toc .section a {
	line-height: 20px;
	color: #2E398C !important;
}

.chapter .toc .section a:hover {
	line-height: 20px;
	color: #31a8d0 !important;
}

.toc .section a:hover {
	line-height: 20px;
	color: #31a8d0 !important;
	border-bottom: 1px dotted;
}

.chapter .titlepage .title a {
	color: #FCB837;
}

.chapter .section .titlepage .title a {
	color: #FCB837;
}

.chapter .section .titlepage .itemizedlist ul {
	background:transparent url(../background/ListBG.gif) no-repeat left 4px;
	padding-left: 13px;
}

.chapter .section .titlepage .orderedlist ol {
	background:transparent url(../background/ListBG.gif) no-repeat left 4px;
	padding-left: 13px;
}

.chapter .section .titlepage .orderedlist ol li{
	list-style: none;
}


.chapter .section .titlepage .itemizedlist ul li{
	list-style: none;
}

.chapter .section .titlepage .informaltable table{
	table-layout: fixed;
	width: 100%;
}

.chapter .section .titlepage .informaltable table th{
	border: solid 1px #797979;
	padding: 6px 0px;
}

.chapter .section .titlepage .informaltable table td{
	text-align: center;
	padding: 6px 0px;
	border: solid 1px #797979;
}

.chapter .section .titlepage .informaltable table td p{
	margin: 0px;
}

table {
width:100%;
margin-left:0px;
}

td {
	padding: 6px 6px;
	border: 1px solid #797979;
}

.chapter .section .titlepage .informaltable .inlinemediaobject img{
	height: 16px;
}

.chapter .section .section .itemizedlist #d0e38{
	font-size: 14px;
	color: black;
}


.chapter .section .section .orderedlist p{
	font-size: 14px;
}

.chapter .section .section .orderedlist .orderedlist p{
	font-size: 14px;
}

.chapter .section .section .orderedlist .orderedlist .orderedlist p{
	font-size: 14px;
}

.chapter .section .section .orderedlist .orderedlist .orderedlist .orderedlist p{
	font-size: 14px;
}

.chapter .section .section .itemizedlist p{
	font-size: 14px;
}

.chapter .section .section .itemizedlist #d0e485{
	font-size: 14px;
	color: black;
}

.chapter .section .section .itemizedlist .itemizedlist p{
	font-size: 14px;
}


.chapter .section .section .itemizedlist .itemizedlist .itemizedlist p{
	font-size: 14px;
}

.chapter .section .section .itemizedlist .itemizedlist .itemizedlist .itemizedlist p{
	font-size: 14px;
}

.chapter ul{
	padding-left: 0px;
}


.chapter ul li{
	background:transparent url(../background/LIIcon.png) no-repeat left 5px;
	list-style: none;
	padding-left: 20px;
	font-size: 14px;
	color: black;
	font-weight: normal;
}

.chapter .itemizedlist ul li ul li{
	background:transparent url(../background/LIIcon.png) no-repeat scroll left 5px;
	list-style:none outside none;
}


.chapter ol{
	padding-left: 0px;
}

.chapter ol li{
	background:transparent url(../background/LIIcon.png) no-repeat left 5px;
	list-style: none;
	padding-left: 20px;
	font-size: 12px;
	color: black;
	font-weight: normal;
}


/* N0te */	

.chapter .note {
    background: url("../background/NoteIcon.png") no-repeat scroll 5px 5px #e8e8c1;
    margin: 4px 4px 4px 4px;
    padding: 8px 10px 12px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.chapter .note .title {
    float: left;
    font-weight: bold;
	font-size: 14px !important
    margin: 3px 0 0;
    padding: 0px 10px 0 42px;
}

.chapter .section .titlepage .note .title a{
    font-size: 14px;
	font-weight: bold;
	color: black;
}

.chapter .note p a {
    /*display: block;*/
    margin: 3px 0 0;
    padding: 0px 10px 0 0px;}

.chapter .note p {
    border-left:1px solid #A3A3A3;
    margin: 5px 0 0 86px;
    padding-left: 12px;
    *padding: 0px 0px 12px 12px;
}

.note .itemizedlist ul li {
	background: transparent !important;
	padding-left: 0px !important;
}


/* warning */

.chapter .warning {
    background: url("../background/WarningIcon.png") no-repeat scroll 5px 5px #fbad17;
    margin: 4px 4px 4px 4px;
    padding: 8px 10px 12px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.chapter .warning .title {
    float: left;
    font-weight: bold;
	font-size: 14px !important
    margin: 3px 0 0;
    padding: 0px 10px 0 42px;
}

.chapter .section .titlepage .note .title a{
    font-size: 14px;
	font-weight: bold;
	color: black;
}

.chapter .warning p a {
    /*display: block;*/
    margin: 3px 0 0;
}

.chapter .warning p {
    border-left:1px solid #A3A3A3;
    margin: 5px 0 0 86px;
    padding-left: 12px;
    *padding: 0px 0px 12px 12px;
}

.warning .itemizedlist ul li {
	background: transparent !important;
	padding-left: 0px !important;
}



/* tip */

.chapter .tip {
    background: url("../background/TipIcon.png") no-repeat scroll 5px 5px #d5d5e8;
    margin: 4px 4px 4px 4px;
    padding: 8px 10px 12px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.chapter .tip .title {
    float: left;
    font-weight: bold;
	font-size: 14px !important
    margin: 3px 0 0;
    padding: 0px 10px 0 42px;
}

.chapter .section .titlepage .tip .title a{
    font-size: 14px;
	font-weight: bold;
	color: black;
}

.chapter .tip p a {
    /*display: block;*/
    margin: 3px 0 0;
}

.chapter .tip p {
    border-left:1px solid #A3A3A3;
    margin: 5px 0 0 86px;
    padding-left: 12px;
    *padding: 0px 0px 12px 12px;
}

.tip .itemizedlist ul li {
	background: transparent !important;
	padding-left: 0px !important;
}



/* warning 	

.chapter .warning {
    background: url("../background/WarningIcon.png") no-repeat scroll 5px 5px #fbad17;
    margin: 4px 4px 4px 4px;
    padding: 8px 10px 12px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;
}

.chapter .warning .title {
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 2px 10px 0 42px;
}

.chapter .section .titlepage .warning .title a{
    font-size: 14px;
	font-weight: bold;
	color: black;
}

.chapter .warning p a {
    display: block;
    margin: 3px 0 0;
    padding: 0px 10px 0 0px;
}
   
.chapter .warning p {
    border-left:1px solid #A3A3A3;
    margin: 0 0 0 108px;
    padding-left: 10px;
    *padding: 0 0 12px 12px;
}

*/


/* Tip	

.chapter .tip {
    background: url("../background/TipIcon.png") no-repeat scroll 5px 5px #d5d5e8;
    margin: 4px 4px 4px 4px;
    padding: 8px 10px 12px 3px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 10px;

}

.chapter .tip .title {
    float: left;
    font-weight: bold;
    margin: 0;
    padding: 2px 10px 0 42px;
}

.chapter .section .titlepage .tip .title a{
    font-size: 14px;
	font-weight: bold;
	color: black;
}

.chapter .tip p a {
    display: block;
	margin: 3px 0 0;
}

.chapter .tip p {
    border-left:1px solid #A3A3A3;
    margin: 5px 0 0 86px;
    padding-left: 10px;
    *padding: 0 0 12px 12px;
}

*/

.chapter .section a  a{
	color: red
}

.code {
	font-size: 15px;

