/**
  * Copyright ( C ) 2012 eXo Platform SAS.

  * This is free software; you can redistribute it and/or modify it
  * under the terms of the GNU Lesser General Public License as
  * published by the Free Software Foundation; either version 2.1 of
  * the License, or (at your option) any later version.

  * This software is distributed in the hope that it will be useful,
  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  * Lesser General Public License for more details.

  * You should have received a copy of the GNU Lesser General Public
  * License along with this software; if not, write to the Free
  * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
*/

.uiGroupsNavigationPortlet {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
}	

.uiGroupsNavigationPortlet .title {
	display:block;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #2f5e92;
    background: url(background/header.png) repeat-x center;
    height: 42px; line-height: 42px;
    padding: 0 10px;
    margin: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
}
	
.uiGroupsNavigationPortlet .groupNavigation {
	list-style: none;
	margin: 0;
	padding: 10px 10px;
}

.uiGroupsNavigationPortlet .groupNavigation .groupItem {
	padding: 5px 0px;
	display: block;
}

.uiGroupsNavigationPortlet .groupNavigation .groupItem a:hover{
    color:#009999;
}

.uiGroupsNavigationPortlet .groupNavigation .icon {
	padding: 3px 5px;
}

.uiGroupsNavigationPortlet .groupNavigation .arrowIcon {
	background: url(background/arrow.png) no-repeat left 8px;
}

.uiGroupsNavigationPortlet .groupNavigation .childrenContainer {
	padding-left: 15px;
}

.uiGroupsNavigationPortlet .groupNavigation .groupIcon {
	display: inline-block;
	width: auto;
	padding-left: 20px;
}

.uiGroupsNavigationPortlet .groupNavigation .active{
    color: #080808;
    text-decoration-style: solid;
}

.uiGroupsNavigationPortlet .groupNavigation .nonActive{
    color: #808080;
}


