.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	background: white;
	padding: 8px 8px 0px;
	width: 948px;
}

.UIHomePagePortlet .TRContainer .PortletDecoration {	
	padding: 10px;
}

.UIHomePagePortlet .TRContainer {
	width: 222px;
	height: 390px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	border: 1px solid #C6C6C6;	
	text-align: center;
	background: url('DefaultSkin/background/BgRightColumn.gif') repeat-x bottom center;
}

.UIHomePagePortlet .TRContainer a {
	text-decoration: none;
}

.UIHomePagePortlet .TRContainer .GuideText {
	text-align: justify;
	color: #777777;
}

.UIHomePagePortlet .TRContainer .DotLine {
	background: url("DefaultSkin/background/Line.gif") no-repeat -2px top;
	height: 1px;
	width: 182px;
	margin: 7px auto;
}


.UIHomePagePortlet .TRContainer .VersionIcon {
	background: url("DefaultSkin/background/HomePagePortlet.gif") no-repeat left -978px;
	height: 65px;
	width: 80px;
	margin: 20px auto;
	cursor: pointer;
}

.UIHomePagePortlet .TRContainer .ContactIcon {
	background: url("DefaultSkin/background/HomePagePortlet.gif") no-repeat left -1209px;
	height: 70px;
	width: 80px;
	margin: 20px auto;
	cursor: pointer;
}

.UIHomePagePortlet  .TLContainer {
	border: 1px solid #ffffff;
	float: left; /* orientation=lt */	
	float: right; /* orientation=rt */
	width: 713px;
}

.UIHomePagePortlet .TLContainer .PortletDecoration {	
	background: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround {	
	background: #fff url('DefaultSkin/background/BgRepeat.gif') repeat-x top;
}

.UIHomePagePortlet .AdImageLeft {
	background: url('DefaultSkin/background/RightHome.jpg') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/RightHome-rt.jpg') no-repeat right top; /* orientation=rt */
}

*html .UIHomePagePortlet .AdImageLeft {
}

.UIHomePagePortlet .AdImageRight {
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	height: 255px; 
	padding: 0px 10px 0px 200px; /* orientation=lt */
	padding: 0px 200px 0px 10px; /* orientation=rt */
}

.UIHomePagePortlet .AdImageLeft .EmptyBlock {
	height: 120px;
	font-size: 21px;
	color: #616161;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding: 50px 0 0;
}

.UIHomePagePortlet .AdImageLeft .EmptyBlock div {
	font-size: 19px;
}

.UIHomePagePortlet .AdImageLeft .ProductSlogan {
	font-family: arial;
	color: #666666;
	float: right;
	font-size: 9px;
	width: 500px;
}

.UIHomePagePortlet .AdImageLeft .ProductIntro {
	font-size: 14px;
	color: #315d8f;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContent {
	margin-top: 8px;
}

.UIHomePagePortlet .HomePortletContent .LeftAccountsContainer {
	padding-left: 3px;
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat left -529px;
}

_html .UIHomePagePortlet .HomePortletContent .LeftAccountsContainer {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat 4px -529px;
}

.UIHomePagePortlet .HomePortletContent .RightAccountsContainer {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right -799px;
	padding-right: 3px;
	_padding-right: 0px;
}

_html .UIHomePagePortlet .HomePortletContent .RightAccountsContainer {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat 114% -799px;/* orientation=rt */
	padding-right: 8px;/* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .MiddleAccountsContainer {
	background: url('DefaultSkin/background/HomePagePortlet.gif') repeat-x center -379px;
	height: 127px;
	padding: 0px 8px;
}

.UIHomePagePortlet .HomePortletContent .AccountsContainerDeco {
	height: 105px;
	overflow: hidden;
}

.UIHomePagePortlet .HomePortletContent .InstructionTitle {
	font-size: 12px;
	line-height: 22px;
	color: #808185;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AccountBlock {
	height: 105px; 
	width: 118px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 0px 42px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 42px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AdministratorUser {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right top; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat 10px top; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .ManagerUser {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right -95px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat 10px -95px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .NormalUser {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right -185px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat 10px -185px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .DemoUser {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right -275px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat 10px -275px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .SeparatorLine {
	height: 100px;
	width: 9px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 0px 4px 0px;
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat left -675px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat right -675px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AccountInfos {
	padding-top: 8px;
}

.UIHomePagePortlet .AccountInfos .Lable {
	line-height: 16px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	display: block;
}

.UIHomePagePortlet .AccountInfos span {
	font-weight: bold;
	color: #2c6fbd;
	padding: 0px 3px;
	line-height: 16px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	display: block;
}

.UIHomePagePortlet .HomePortletContent .AccountTitle {
	font-size: 12px;
	color: #454e56;
	line-height: 40px;
	font-weight: bold;
}

.UIHomePagePortlet .ClearBoth {
	clear: both; 
}
