.UILoginForm {
  margin: auto;
  padding: 25px 17px 8px 17px ;
}

/*##############################- LoginBox Style-################################*/
.UILoginForm .LoginDecorator {
	width: 540px;
	margin: auto;
}

.UILoginForm .LoginDecorator .LoginDecoratorBackground {
  background: url('VistaSkin/background/WhiteRoundedBoxCenterMiddle1x191.png') repeat-x ;
  font-size: 11px;
  height:191px;
}

.UILoginForm .LoginDecorator .TopLeftLoginDecorator {
  background: url('VistaSkin/background/WhiteRoundedBoxLeftTop14x10.png') no-repeat left ;
  padding: 0px 0px 0px 14px ;
}

.UILoginForm .LoginDecorator .TopCenterLoginDecorator {
  background: url('VistaSkin/background/WhiteRoundedBoxCenterTop1x10.png') repeat-x ;
  height: 10px;
}

.UILoginForm .LoginDecorator .TopCenterLoginDecorator .SigninTitle {
  color: #2169D4 ;
  font-size: 16px; font-family: arial; font-weight: bold;
	line-height: 50px;
	padding: 4px 0px 0px 20px;
}

.UILoginForm .LoginDecorator .TopRightLoginDecorator {
  background: url('VistaSkin/background/WhiteRoundedBoxRightTop16x10.png') no-repeat right ;
  padding: 0px 16px 0px 0px ;
}

.UILoginForm .LoginDecorator .MiddleLeftLoginDecorator {
  background: url('VistaSkin/background/WhiteRoundedBoxLeftMiddle136x191.png') no-repeat left ;
  padding: 0px 0px 0px 136px ;
}

.UILoginForm .LoginDecorator .MiddleRightLoginDecorator {
  background: url('VistaSkin/background/WhiteRoundedBoxRightMiddle16x1.png') repeat-y right ;
  padding: 0px 16px 0px 0px ;
}

.UILoginForm .LoginDecorator .BottomLeftLoginDecorator {
  background: url('VistaSkin/background/WhiteRoundedBoxLeftBottom14x41.png') no-repeat left ;
  padding: 0px 0px 0px 14px ;
}

.UILoginForm .LoginDecorator .BottomCenterLoginDecorator {
  background: url('VistaSkin/background/WhiteRoundedBoxCenterBottom1x41.png') repeat-x ;
  height: 41px;
}

.UILoginForm .LoginDecorator .BottomRightLoginDecorator {
  background: url('VistaSkin/background/WhiteRoundedBoxRightBottom16x41.png') no-repeat right ;
  padding: 0px 16px 0px 0px ;
}
/* ============================End LoginDecorator============================== */

.UILoginForm .LoginDetailBox .VerticalLayout {
	padding-top: 40px;
}

.UILoginForm .LoginDetailBox .UserNameField {
	padding: 16px 0px 5px 0px;
  width: 300px;
  margin: auto;
  text-align: right;
}

.UILoginForm .LoginDetailBox .PasswordField {
	padding: 5px;
  width: 300px;
  margin: auto;
  text-align: right;
}

.UILoginForm .LoginDetailBox .CheckField {
  height: 20px;
  width: 190px;
  margin: auto 40px 0px auto;
  padding-left: 30px;
}

.UILoginForm .LoginDetailBox .CheckField input {
  float: left;
  width: 20px;
  border: none;
}

.UILoginForm .LoginDetailBox .CheckField .RememberLoginTitle {
  float: left;
  margin-left: 7px;
  line-height: 20px; vertical-align: middle;
}

.UILoginForm .LoginDetailBox label {
  font-weight: bold;
}

.UILoginForm .LoginDetailBox .UserNameField input {
  background: white url('DefaultSkin/background/UsernameIcon20x20.gif') no-repeat left ;
  width: 180px; height: 18px;
  border: solid 1px #b7b7b7 ;
  padding: 0px 0px 0px 22px;
}

.UILoginForm .LoginDetailBox .PasswordField input {
  background: white url('DefaultSkin/background/PasswordIcon20x20.gif') no-repeat left ;
  width: 180px; height: 18px;
  border: solid 1px #b7b7b7 ;
  padding: 0px 0px 0px 22px;
}

.UILoginForm .LoginDetailBox .Message {
  width: 300px; margin: auto; 
  height: 26px; line-height: 26px; text-align: right;
  color: blue ;
  white-space: nowrap;
  padding: 0px 10px 0px 0px;
  cursor: pointer;
}

.UILoginForm .LoginDetailBox .Message a:hover{
  cursor: pointer;
  color: orange;
}

.UILoginForm .LoginDecorator .SignUpBar {
	padding: 5px 0px 2px 70px ;
}

.UILoginForm .LoginDecorator .LeftSignUpBar {
  background: url('DefaultSkin/background/SignUpRoundLeft11x24.gif') no-repeat left ;
  padding: 0px 0px 0px 11px ;
}

.UILoginForm .LoginDecorator .SignUpBackground {
  background: url('DefaultSkin/background/SignUpBackground1x24.gif') repeat-x ;
  height: 24px;
  line-height: 24px;
  text-align: right;
}

.UILoginForm .LoginDecorator .SignUpBackground a {
	font-weight: bold; color: #ee8804;
	margin: 0px 25px 0px 0px;
	cursor: pointer;
}

.UILoginForm .UIForm .VerticalLayout .UIAction {
  width: 160px;
  margin-top: 8px;
}

.UILoginForm .UIForm .VerticalLayout .UIAction .ActionButton {
  margin-left: 50px;
}