.UITrees {
  border-right: 1px solid #cdcdcd; /* orientation=lt */
  border-left: 1px solid #cdcdcd; /* orientation=rt */
  background: #e7e7e7;
}

.UITrees .TreeContainer {
	padding: 4px 0px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 99.3%;
}

.UITrees a {
	display: block;
} 

.UITrees a:hover {
	color: #058ee6;
}

.UITrees .LevelUpArrowIcon {
  height: 21px;
  background: url('background/AquaBlueUpLevel.gif') repeat-y left; /* orientation=lt */
  background: url('background/AquaBlueUpLevel-rt.gif') repeat-y right; /* orientation=rt */
  margin-left: 10px; /* orientation=lt */
  margin-right: 10px; /* orientation=rt */
}

.UITrees a.LevelUpArrowIcon:hover {
  background: url('background/AquaBlueUpLevel.gif') no-repeat left center; /* orientation=lt */
  background: url('background/AquaBlueUpLevel-rt.gif') no-repeat right center; /* orientation=rt */
}

.UITrees .Node {
	line-height: 20px;
	padding-top: 7px;
	margin-left: 15px; /* orientation=lt */
	margin-right: 15px; /* orientation=rt */
	white-space: nowrap;
  background: url('background/Dotted.gif') repeat-y left; /* orientation=lt */
  background: url('background/Dotted-rt.gif') repeat-y right; /* orientation=rt */
  width: 100%;
}

.UITrees .LastNode {
  background: url('background/Dotted.gif') no-repeat left top; /* orientation=lt */
  background: url('background/Dotted-rt.gif') no-repeat right top; /* orientation=rt */
}

.UITrees .Node .NodeIcon {
	background-position: left top; /* orientation=lt */
	background-position: right top; /* orientation=rt */
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	width: 100%;
	height: auto;
	font-weight: bold;
}

.UITrees .Node .ExpandIcon {
	padding-left: 18px; /* orientation=lt */
	padding-right: 18px; /* orientation=rt */
  background: url('background/SmallGrayMinus.gif') no-repeat left top; /* orientation=lt */
  background: url('background/SmallGrayMinus-rt.gif') no-repeat right top; /* orientation=rt */
  width: 100%; 
  height: auto;
}
  
.UITrees .Node .CollapseIcon {
	padding-left: 18px; /* orientation=lt */
	padding-right: 18px; /* orientation=rt */
  background: url('background/SmallGrayPlus.gif') no-repeat left top; /* orientation=lt */
  background: url('background/SmallGrayPlus-rt.gif') no-repeat right top; /* orientation=rt */
  width: 100%; 
  height: auto;
}

.UITrees .Node .NodeSelected {
  font-weight: bold;
  color: #058ee6;
  cursor: pointer;
}

/** ################# Icons ###################*/
.UITrees .TreeContainer .GroupAdminIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/NormalGroup.gif') no-repeat left top; /* orientation=lt */
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/NormalGroup-rt.gif') no-repeat right top; /* orientation=rt */
  padding-left: 25px; /* orientation=lt */
  padding-right: 25px; /* orientation=rt */
}

.UITrees .TreeContainer .PortalIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/SelectedGroup.gif') no-repeat left top; /* orientation=lt */
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/SelectedGroup-rt.gif') no-repeat right top; /* orientation=rt */
  padding-left: 25px; /* orientation=lt */
  padding-right: 25px; /* orientation=rt */
}
