.UIBreadcumbsPortlet {
	padding: 0px 2px 0px 6px;
	height: 34px; 
}

.UIBreadcumbs {
  height: 34px ;
}

.UIBreadcumbs a {
	float: left ;
}

.UIBreadcumbs a.Selected {
	color: #0073A9 ;  
}

.UIBreadcumbs .HomeIcon {
	float: left;
  margin: 4px 7px 0px 3px ;
  width: 22px; height: 22px;
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/Home.png') no-repeat;
}

.UIBreadcumbs .LeftBreadcumbsBar {
  padding-left: 8px ;
  background: url('background/LeftBreadcumbsBar8x33.png') no-repeat left;
}

.UIBreadcumbs .RightBreadcumbsBar {
  padding-right: 9px;
  background: url('background/RightBreadcumbsBar9x33.png') no-repeat right;
}

.UIBreadcumbs .BreadcumbsInfoBar {
  background: url('background/MiddleBreadcumbsBar1x33.png') repeat-x;
  height: 33px; line-height: 26px; vertical-align: middle;
}

.UIBreadcumbs .RightBlackGridArrowIcon {
  float: left;
  margin: 5px;
}