.UICalendarApplication .UICalendarDetail {
	width: 97%;
}

.UICalendarDetail .DecoratorBox {
	margin-left: 10px;
}

.UICalendarDetail .TabsContainer {
	width: 99.5%;
} 

.UICalendarDetail .CenterBackgroundDecorator {
	background: #eeeeee;
}
/*=============Start Day Working Area=====================*/

.UICalendarDetail .DayWorkingAreaBorder {
	border: 1px solid #939393;
	padding: 1px;
}

.UICalendarDetail .DayWorkingArea {
	border: 1px solid #c3c3c3;
	padding: 5px;
}

.UICalendarDetail .NextMonthContent {
	float: right;
}

.UICalendarDetail .TodayLebel {
	float: left;
	font-weight: bold;
	line-height: 20px;
}

.UICalendarDetail .TodayLebel Label {
	cursor: pointer;
	color: #f7ab07;
}

.UICalendarDetail .MonthLabel {
	float: left;
	font-weight: bold;
	line-height: 20px;
	margin: 0px 5px 0px 5px;
}

.UICalendarDetail .ButtonBack {
	float: left;
	background: url('DefaultSkin/background/Back25x20.gif') no-repeat left;
	width: 25px; height: 20px;
	margin: 0px 2px 0px 0px;
	cursor: pointer;
}

.UICalendarDetail .ButtonNext {
	float: left;
	background: url('DefaultSkin/background/Next25x20.gif') no-repeat left;
	width: 25px; height: 20px;
	cursor: pointer;
}

.UICalendarDetail .NewCreatedEvenContent {
	background: #ffffff;
	border: 1px solid #b7b7b7;
}

.UICalendarDetail .NewCreatedEvenTitle {
	height: 25px; line-height: 25px;
	color: blue;
	cursor: pointer;
	text-align: center;
}
	
.UICalendarDetail .NewCreatedEvenBar {
	background: url('DefaultSkin/background/NewCreatedEvenBar1x19.gif') repeat-x ;
	height: 19px;
	text-align: center;
	line-height: 19px;
}

.UICalendarDetail .DayEventList {
	margin: 2px 0px 0px 0px;
}

.UICalendarDetail .blueSuburd {
	background: #c6d8f8;
}

.UICalendarDetail .RedSuburd {
	background: #fef7d2;
}

.UICalendarDetail .WhiteSuburd {
	background: #ffffff;
}

.UICalendarDetail .UIGrid td {
	border-right: 1px solid #b7b7b7;
}

.UICalendarDetail .UIGrid th {
	border-right: 1px solid #b7b7b7;
	border-bottom: 1px solid #b7b7b7;
}

.UICalendarDetail .WhiteWeekSuburdbar {
	background: url('DefaultSkin/background/NewCreatedEvenBar1x19.gif') repeat-x ;
	height: 19px;
	border-top: 1px solid #b7b7b7;
	text-align: center;
	line-height: 19px;
}

.UICalendarDetail .BlueWeekSuburdbar {
	background: url('DefaultSkin/background/WeekBlueSuburd1x19.gif') repeat-x;
	height: 19px;
	border-top: 1px solid #b7b7b7;
	text-align: center;
	line-height: 19px;
}

.UICalendarDetail .WeekList .WeekTitle {
	float: left;
	font-weight: bold; color: #0796d2;
	line-height: 20px;
	width: 14%;
	text-align: center;
}

.UICalendarDetail .WeekList .CurrentWeek {
	float: left;
	font-weight: bold; color: #f7941e;
	line-height: 20px;
	width: 14%;
	text-align: center;
}

.UICalendarDetail .RowContainerDay {
	padding: 0px ;
}

.UICalendarDetail .RowContainerDay .CalendarContentNomal {
	height: 60px;
	background: #ffffff;
	padding: 0px;
}

.UICalendarDetail .RowContainerDay .CalendarMatchedEventContent {
	height: 60px;
	background: #fef7d2;
	padding: 0px;
	border-right: 1px solid #b7b7b7;
}

.UICalendarDetail .RowContainerDay .NormalDayLabel {
	text-align: right;
}

.UICalendarDetail .RowContainerDay .CurrentMonthLabel {
	font-weight: bold;
}

.UICalendarDetail .ContainerEventActions {
	width: 80px; 
}

.UICalendarDetail .ContainerEventActions .ViewEventIcon {
	float: left;
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/LightBulbOn.gif') no-repeat;
	margin: 0px 3px 0px 3px;
	cursor: pointer;
}

.UICalendarDetail .ContainerEventActions .EditEventIcon {
	float: left;
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/Pencil.gif') no-repeat;
	margin: 0px 3px 0px 3px;
	cursor: pointer;
}

.UICalendarDetail .ContainerEventActions .DeleteEventIcon {
	float: left;
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/DustBin.gif') no-repeat;
	margin: 0px 3px 0px 3px;
	cursor: pointer;
}

.UICalendarDetail .UIPageIterator {
	background: none;
	border: none;
	line-height: 22px;
	width: 380px;
}
.UICalendarDetail .NormalPage {
	float: left;
	color: black;
}

.UICalendarDetail .PageSelected {
	float: left;
	padding-right: 5px;
}

.UICalendarDetail .NormalPage span {
	color: blue;
	cursor: pointer;
	padding-left: 5px;
}

.UICalendarDetail .CalendarContentNomal .EventOnDayContent {
	width: auto; height: 25px;
	background: #c6d8f8;
	margin: 3px;
}

.UICalendarDetail .CalendarContentNomal .EventOnDayLabel {
	line-height: 25px;
	text-align: center;
}

.UICalendarDetail .CalendarContentNomal .EventOnDayDetailsIcon {
	float: right;
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/BlackArrowDown.gif') no-repeat;
	margin: 19px 3px 5px 0px;
	cursor: pointer;
}

.UICalendarDetail .EventsListTitle {
	font-weight: bold; font-size: 15px;
	color: #1475e1; text-align: left;
	padding-left: 2px; 
	line-height: 20px;
}

.UICalendarDetail .Bluelabel {
	font-weight: bold; color: #1475e1; text-align: left;
	line-height: 20px;
}

.UICalendarDetail .CalendarContentBar {
	font-weight: bold; color: #1475e1; text-align: left;
	line-height: 20px;
}
