/**
 * Created by The eXo Platform SARL
 * Author : Luong Trung Hieu 
 *          hieu2b1@yahoo.com         
 * March, 6 , 2007
 * version: $Id$
 */
 
.UIWindow .UICalendarApplication {
	overflow: auto;
	width: 100%;
}

.UICalendarApplication .UICalendarDetail {
	width: 97%;
	margin: auto;
}

.UICalendarDetail .TabsContainer {
	width: 99.5%;
} 

.UICalendarDetail .CenterBackgroundDecorator {
	margin: 0px 0px 0px 8px;
}
/*=============Start Day Working Area=====================*/

.UICalendarDetail .DayWorkingAreaBorder {
	padding: 1px;
	border: solid 1px #939393;
}

.UICalendarDetail .DayWorkingArea {
	border: solid 1px #c3c3c3;
	padding: 5px;
}

.UICalendarDetail .NextMonthContent {
	float: right;
}

.UICalendarDetail .TodayLebel {
	float: left;
	font-weight: bold;
	line-height: 20px;
}

.UICalendarDetail .TodayLebel Label {
	cursor: pointer;
	color: #f7ab07;
}

.UICalendarDetail .MonthLabel {
	float: left;
	font-weight: bold;
	line-height: 20px;
	margin: 0px 5px 0px 5px;
}

.UICalendarDetail .ButtonBack {
	float: left;
	width: 24px; height: 24px;
	background: url('VistaSkin/icons/24x24/BackIcon.gif') no-repeat left;
	cursor: pointer;
}

.UICalendarDetail .ButtonNext {
	float: left;
	width: 24px; height: 24px;
	background: url('VistaSkin/icons/24x24/NextIcon.gif') no-repeat left;
	cursor: pointer;
}

.UICalendarDetail .NewCreatedEvenContent {
	background: #ffffff;
	border: solid 1px #b7b7b7;
}

.UICalendarDetail .NewCreatedEvenTitle {
	height: 25px; 
	line-height: 25px;
	color: blue;
	cursor: pointer;
	text-align: center;
}
	
.UICalendarDetail .NewCreatedEvenBar {
	height: 21px;
	background: url('VistaSkin/background/NewCreatedEvenBar1x21.gif') repeat-x ;
	border-bottom: 1px solid #b7b7b7;
	text-align: center;
	line-height: 21px;
}

.UICalendarDetail .DayEventList {
	margin: 2px 0px 0px 0px;
}

.UICalendarDetail .UIGrid {
	border: solid 1px #b7b7b7; 
	border-right: none; 
}

.UICalendarDetail .blueSuburd {
	background: url('VistaSkin/background/blueSuburdBG1x25.gif') repeat-x;
}

.UICalendarDetail .RedSuburd {
	background: #fef7d2;
}

.UICalendarDetail .WhiteSuburd {
	background: #ffffff;
}

.UICalendarDetail .UIGrid td {
	border-right: solid 1px #b7b7b7;
}

.UICalendarDetail .UIGrid th {
	border-right: solid 1px #b7b7b7;
	border-bottom: solid 1px #b7b7b7;
}

.UICalendarDetail .WhiteWeekSuburdbar {
	height: 24px;
	background: url('VistaSkin/background/NewCreatedEvenBar1x24.gif') repeat-x ;
	border-top: 1px solid #b7b7b7;
	text-align: center;
	line-height: 24px;
}

.UICalendarDetail .BlueWeekSuburdbar {
	height: 19px;
	background: url('DefaultSkin/background/WeekBlueSuburd1x19.gif') repeat-x;
	border-top: solid 1px #b7b7b7;
	text-align: center;
	line-height: 19px;
}

.UICalendarDetail .WeekList .WeekTitle {
	float: left;
	width: 14%;
	font-weight: bold; color: #0796d2;
	line-height: 20px;
	text-align: center;
}

.UICalendarDetail .WeekList .CurrentWeek {
	float: left;
	width: 14%;
	font-weight: bold; color: #f7941e;
	line-height: 20px;
	text-align: center;
}

.UICalendarDetail .RowContainerDay {
	padding: 0px ;
}

.UICalendarDetail .RowContainerDay .CalendarContentNomal {
	height: 60px;
	background: #ffffff;
	padding: 0px;
}

.UICalendarDetail .RowContainerDay .CalendarMatchedEventContent {
	height: 60px;
	background: #fef7d2;
	padding: 0px;
	border-right: solid 1px #b7b7b7;
}

.UICalendarDetail .RowContainerDay .NormalDayLabel {
	text-align: right;
}

.UICalendarDetail .RowContainerDay .CurrentMonthLabel {
	font-weight: bold;
}

.UICalendarDetail .ContainerEventActions {
	width: 80px; 
}

.UICalendarDetail .ContainerEventActions .ViewEventIcon {
	float: left;
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/LightBulbOn.gif') no-repeat;
	margin: 0px 3px 0px 3px;
	cursor: pointer;
}

.UICalendarDetail .ContainerEventActions .EditEventIcon {
	float: left;
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/Pencil.gif') no-repeat;
	margin: 0px 3px 0px 3px;
	cursor: pointer;
}

.UICalendarDetail .ContainerEventActions .DeleteEventIcon {
	float: left;
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/DustBin.gif') no-repeat;
	margin: 0px 3px 0px 3px;
	cursor: pointer;
}

.UICalendarDetail .UIPageIterator {
	width: 380px;
	background: none;
	border: none;
	line-height: 22px;
}
.UICalendarDetail .NormalPage {
	float: left;
	color: black;
}

.UICalendarDetail .PageSelected {
	float: left;
	padding-right: 5px;
}

.UICalendarDetail .NormalPage span {
	color: blue;
	cursor: pointer;
	padding-left: 5px;
}

.UICalendarDetail .CalendarContentNomal .EventOnDayContent {
	width: auto; height: 25px;
	background: #c6d8f8;
	margin: 3px;
}

.UICalendarDetail .CalendarContentNomal .EventOnDayLabel {
	line-height: 25px;
	text-align: center;
}

.UICalendarDetail .CalendarContentNomal .EventOnDayDetailsIcon {
	float: right;
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/BlackArrowDown.gif') no-repeat;
	margin: 19px 3px 5px 0px;
	cursor: pointer;
}

.UICalendarDetail .EventsListTitle {
	font-weight: bold; font-size: 15px;
	color: #1475e1; text-align: left;
	padding-left: 2px; 
	line-height: 20px;
}

.UICalendarDetail .Bluelabel {
	font-weight: bold; color: #1475e1; text-align: left;
	line-height: 20px;
}

.UICalendarDetail .CalendarContentBar {
	font-weight: bold; color: #1475e1; text-align: left;
	line-height: 20px;
}
