#SuggestPortlet {
    border: dashed 1px #E2DDC7;
    margin-right: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 15px 5px 15px;
}

#SuggestPortlet ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

#SuggestPortlet ul li {
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #DBDBDB;
}

.peopleList img {
    width: 36px;
    height: 36px;
    border-width: 0px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.peopleName {
    font-weight: bold;
    width: 182px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

.actionAppears {
    width: 100px;
}

.peoplePosition {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #808080;
}

.peopleConnection {
    color: #999;
}

.peopleList ul li {
    margin-bottom: 20px;
    margin-top: 20px;
}

.peopleList ul li:nth-child(2n+2){
    border-bottom: 1px solid #cfcfcf;
	padding-bottom: 20px;
}

.peopleList ul li:last-child{
	border-bottom: none;
}

.peopleAction {
    white-space: nowrap;
    font-size: 10px;
	position: absolute;
	right: 5px;
	top: 12px;
	width: 125px;
	text-align: right;
	height: 55px;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.peopleInfo {
    padding-left: 15px;
    width: 182px;
    overflow: hidden;
	position: relative;
}

.peoplePicture {
    float: left;
    padding-top: 2px;
	margin-left: 15px;
}

#emptyMessage {
    padding: 5px;
    font-weight: bold;
}

.ignore img {
    width: 20px;
}

