#UICalendarControlIFrame {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.UICalendarWidget {
	width: 217px;
  font: normal 12px verdana;
	text-align: center;
	cursor: default;
	margin: auto;
}

.UICalendarWidget .TLCalendar {
	background: url('VistaSkin/background/TLCalculator10x15.png') no-repeat left;
	padding-left: 10px;
}

.UICalendarWidget .TRCalendar {
	background: url('VistaSkin/background/TRCalculator12x15.png') no-repeat right;
	padding-right: 12px;
}

.UICalendarWidget .TMCalendar {
	background: url('VistaSkin/background/TMCalculator1x15.png') repeat-x;
	height: 15px;
}

.UICalendarWidget .BGCalendar {
}

.UICalendarWidget .BGTopCalendar {
}

.UICalendarWidget .BGBottomCalendar {
}

.UICalendarWidget .MLCalendar {
	background: url('VistaSkin/background/MLCalculator10x1.png') repeat-y left;
	padding-left: 10px;
}

.UICalendarWidget .MRCalendar {
	background: url('VistaSkin/background/MRCalculator12x1.png') repeat-y right;
	padding-right: 12px;
}

.UICalendarWidget .BLCalendar {
	background: url('VistaSkin/background/BLCalculator10x17.png') no-repeat left;
	padding-left: 10px;
}

.UICalendarWidget .BRCalendar {
	background: url('VistaSkin/background/BRCalculator12x17.png') no-repeat right;
	padding-right: 12px;
}

.UICalendarWidget .BMCalendar {
	background: url('VistaSkin/background/BMCalculator1x17.png') repeat-x;
	height: 15px;
	padding-bottom: 2px;
}

.UICalendarWidget table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

.UICalendarWidget a {
  display: block;
  font-weight: normal;
  text-decoration: none;
  color: #000;
  height: 100%;
}

.UICalendarWidget .MonthYearBox {
  font: normal bold 11px tahoma;
  color: #0960c1;
  line-height: 18px;
}

.UICalendarWidget .MonthYearBox .NextMonth {
  background: url('VistaSkin/background/NextMonth.png') no-repeat center center;
  width: 23px; height: 21px;
}

.UICalendarWidget .MonthYearBox .PreviousMonth {
  background: url('VistaSkin/background/PreviousMonth.png') no-repeat center center;
  width: 23px; height: 21px;
}

.UICalendarWidget .MonthYearBox td {
  padding: 0px;
}

.UICalendarWidget .MonthYearBox .MonthButton {
  width: 23px;
}

.UICalendarWidget .MonthYearBox .YearButton {
  background: white;
  float: left;
  border-top: 1px solid #455924;
  border-bottom: 1px solid #455924;
}

.UICalendarWidget .MonthYearBox .Time {
  background: white;
  float: left;
  width: 111px;
  height: 19px;
  line-height: 19px;
  border-top: 1px solid #455924;
  border-bottom: 1px solid #455924;
  cursor:pointer;
}

.UICalendarWidget .MonthYearBox a.NextYear {
  background: url('VistaSkin/background/NextYear.gif') no-repeat center center;
  width: 19px;  height: 19px;
}

.UICalendarWidget .MonthYearBox a:hover.NextYear {
  background: url('VistaSkin/background/NextYear.gif') no-repeat center center;
}


.UICalendarWidget .MonthYearBox a.PreviousYear {
  background: url('VistaSkin/background/PreviousYear.gif') no-repeat center center;
  width: 19px; height: 19px;
}

.UICalendarWidget .MonthYearBox a:hover.PreviousYear {
  background: url('VistaSkin/background/PreviousYear.gif') no-repeat center center;
}

.UICalendarWidget .MonthYearBox .YearButton a:hover {
  background-color: #ededed;
}

.UICalendarWidget .CalendarGrid {
  padding: 4px;
  background-color: white;
  border: 1px solid #54728c;
}

.UICalendarWidget .CalendarGrid td {
  border: 1px solid white;
  background-color: #eaf1fe;
}

.UICalendarWidget .CalendarGrid td a,.UICalendarWidget .CalendarGrid td div {
  padding: 2px 0px;
  font-size: 10px;
}

.UICalendarWidget .CalendarGrid td a.Current {
  background-color: white; color: #058ee6;
  border: 1px solid #fc6002;
}

.UICalendarWidget .CalendarGrid td a:hover {
  background-color: #adbbff; color: white;
}

.UICalendarWidget .CalendarTimeBox {
  width: 130px; margin: 5px auto;
  background: url('VistaSkin/background/CalendarDecoratorL.png') no-repeat left;
  padding-left: 9px;
}

.UICalendarWidget .CalendarTim.UICalendarWidget ackground: url('VistaSkin/background/CalendarDecoratorR.png') no-repeat right;
  padding-right: 9px;
}

.UICalendarWidget .CalendarTimeBoxM {
  line-height: 21px;
  height: 21px;
  background: url('VistaSkin/background/CalendarDecoratorM.png');
  vertical-align: bottom;
}

.UICalendarWidget .CalendarTimeBox .CalendarTimeBoxM input {
  float: none;
  padding: 0px;
  border: 0px;
  width: 15px;
  direction: rtl;
