.UIFormWithTitle {
	width: 520px;
  margin: 50px auto ;
}

.UIFormWithTitle .TitleBar {
  background: url('/eXoResources/background/MacSkin/TitleBG1x19.gif') repeat-x;
  height: 19px; line-height: 19px; vertical-align: middle; 
  font-size: 11px; 
  padding-left: 15px;
  border: 1px solid #b7b7b7;
  border-bottom: none;
}

.UIFormWithTitle .UIForm .HorizontalLayout {
	border: 1px #cdcdcd solid;	
}

.UIFormWithTitle .HorizontalLayout .FormContainer {
  padding: 10px 18px 6px 18px;
  font-size: 11px;
  border: 1px white solid;
  background: url('/eXoResources/background/MacSkin/Background1x4.png');
}

.UIFormWithTitle .HorizontalLayout .FieldContainer .FieldLabel {
  float: left; width: 120px;
  text-align: right;
}

.UIFormWithTitle .HorizontalLayout .FieldContainer .FieldComponent {
  margin-left: 130px;
}

.UIFormWithTitle .UIForm select {
  width: 220px;
}

.UIFormWithTitle .UIForm .UIAction {  
  width: 180px;
  padding-top: 15px;
}

.UITestForm .UIForm .UIAction {
 	width: 240px;
}
