.UIFormWithTitle {
	width: 520px;
  margin: 50px ;
  border: 1px solid #b7b7b7;
  background: url('/eXoResources/background/MacSkin/Background1x4.png');
}

.UIFormWithTitle .TitleBar {
  background: url('/eXoResources/background/MacSkin/TitleBG1x19.gif') repeat-x;
  height: 19px; line-height: 19px; vertical-align: middle; 
  font-size: 11px; 
  padding-left: 15px;
  border-bottom: 1px solid #b7b7b7;
}

.UIForm .HorizontalLayout {
  border: 1px white solid;
}

.UIFormWithTitle .HorizontalLayout .FormContainer {
  padding: 10px 18px 6px 18px;
  font-size: 11px;
  border: 1px #cdcdcd solid;
}

.UIFormWithTitle .UIForm input {
  margin-left: 8px ;
  width: 215px;
}

.UIFormWithTitle .UIForm select {
  margin-left: 10px ;
  width: 220px;
}

.UIFormWithTitle .UIForm textarea {
  margin-left: 8px ;
  width: 220px;
}

.UITestForm .ActionContainer {
	width: 380px;
	padding: 10px 0px;
}

.UIFormWithTitle .UIForm .UIAction {  
  width: 220px;
}

.UITestForm .UIAction {
 	width: 80px;
}
