.UIInfoBar {
  margin:  0px 0px 1px 0px ;
}

/*######################-Rounded Style-######################*/
.UIInfoBar .RoundedStyle .LeftBar {
  height: 29px ;
  margin: 0px;
}  
  
.UIInfoBar .RoundedStyle .LeftBar {
  height: 27px ;
  background: url('VistaSkin/background/RoundedBarL29x27.gif') no-repeat left ;
  padding: 0px 0px 0px 29px ;
}

.UIInfoBar .RoundedStyle .RightBar {
  height: 27px ;
  background: url('VistaSkin/background/RoundedBarR9x27.gif') no-repeat right ;
  padding: 0px 9px 0px 0px ;
}

.UIInfoBar .RoundedStyle .MiddleBar {
  height: 27px ;
  background: url('VistaSkin/background/RoundedBarM1x27.gif') repeat-x ;
}

.UIInfoBar .RoundedStyle .Title {
  float: left ;
  height: 26px; 
  line-height: 26px; vertical-align: middle;
  overflow: visible ;
  margin: 0px 0px 0px 5px;
}

/*######################-GrayRounded-######################*/
.UIInfoBar .GrayRounded .LeftBar {
  height: 23px ;
}  
  
.UIInfoBar .GrayRounded .LeftBar {
  height: 23px ;
  background: url('VistaSkin/background/GrayRoundedL26x23.gif') no-repeat left ;
  padding-left: 26px ;
}

.UIInfoBar .GrayRounded .RightBar {
  height: 23px ;
  background: url('VistaSkin/background/GrayRoundedR9x23.gif') no-repeat right ;
  padding-right: 9px ;
}

.UIInfoBar .GrayRounded .MiddleBar {
  height: 23px ;
  background: url('VistaSkin/background/GrayRoundedM1x23.gif') repeat-x ;
}

.UIInfoBar .GrayRounded .TitleBar {
  height: 23px; line-height: 23px; vertical-align: middle;
  overflow: visible ;
  float: left ;
  margin-left: 5px;
}

/*######################-Blue Rounded Style-######################*/
.UIInfoBar .BlueRoundedStyle {
}

.UIInfoBar .BlueRoundedStyle .LeftBar {
  height: 26px ;
  background: url('VistaSkin/background/ControlBarL14x26.png') no-repeat left ;
  padding-left:14px ;
}

.UIInfoBar .BlueRoundedStyle .RightBar {
  height: 26px ;
  background: url('VistaSkin/background/ControlBarR20x26.png') no-repeat right ;
  padding-right: 20px ;
}

.UIInfoBar .BlueRoundedStyle .MiddleBar {
  text-align: left ;
  height: 26px ;
  background: url('VistaSkin/background/ControlBarM1x26.png') repeat-x ;
}

.UIInfoBar .BlueRoundedStyle .Title {
  font-size: 11px; ; color: black;
  text-align: center;
  line-height: 28px; vertical-align: middle;
  float: left ; margin: 0px 7px ;
}

/*######################-Simple Style-######################*/
.UIInfoBar .SimpleStyle {
  overflow: hidden ; 
  background: url('VistaSkin/background/RoundedStyleRP1x21.gif') repeat-x ;
  border-right: 1px #5f90ba solid;
  border-left: 1px #5f90ba solid;
}

.UIInfoBar .SimpleStyle .LeftBar {
  float: left ;
  border-left: solid 1px #4e7180 ;
  height: 21px ;
  background: none ;
}

.UIInfoBar .SimpleStyle .RightBar {
  float: right ;
  border-right: solid 1px #4e7180 ;
  height: 21px ;
  background: none ;
}

.UIInfoBar .SimpleStyle .MiddleBar {
  padding-left: 10px ;
  text-align: left ;
  height: 21px ;
}

.UIInfoBar .SimpleStyle .Title {
  float: left ;
  height: 21px ;
  line-height: 21px ;  vertical-align: middle ;
  font-size: 11px ;  text-align: left ;
  margin-left: 5px;
}

/*######################-Flat Style-######################*/
.UIInfoBar .FlatStyle {
  background: url('VistaSkin/background/FlatStyleBG1x23.gif') repeat-x ;
  margin: 0px 6px 0px 6px;
}

.UIInfoBar .FlatStyle .LeftBar {
  float: left ;
  width: 65px ;  height: 23px ; 
  background: url('VistaSkin/background/FlatStyleL65x23.gif') no-repeat ;
}

.UIInfoBar .FlatStyle .MiddleBar {
  height: 23px ; width: 70%;
  float: left ; margin-left: 5%;
}

.UIInfoBar .FlatStyle .RightBar {
  float: right ;
  height: 23px ;
  border-right: solid 1px #7b7b7b ; 
  background: url('VistaSkin/background/FlatStyleRControl1x23.gif') repeat-x ;
}

.UIInfoBar .FlatStyle .Title {
  height: 16px; line-height: 16px; vertical-align: middle;
  width: 80%; margin: auto;
  color: black;
  text-align: center ;
  margin-top: 3px ;
}

.UIInfoBar .FlatStyle .ExpandButton {
  float: left ;
  cursor: pointer ;
  margin-right: 12px ;
  width: 15px ;
  height: 23px ;
  background: url('VistaSkin/background/FlatStyleExpand15x23.gif') no-repeat ;
}

.UIInfoBar .FlatStyle .CollapseButton {
  float: left ;
  cursor: pointer ;
  margin-right: 12px ;
  width: 15px ;
  height: 23px ;
  background: url('VistaSkin/background/FlatStyleCollapse15x23.gif') no-repeat ;
}

/*######################-Polygon Navyblue Style-######################*/
.UIInfoBar .PolygonNavyBlueStyle {
	height: 26px;
}

.UIInfoBar .PolygonNavyBlueStyle .LeftBar {
	height: 26px;
	padding-left: 3px;
	background: url('VistaSkin/background/PolygonNavyBlueL3x26.gif') no-repeat left;
}

.UIInfoBar .PolygonNavyBlueStyle .RightBar {
	height: 26px;
	padding-right: 3px;
	background: url('VistaSkin/background/PolygonNavyBlueR3x26.gif') no-repeat right;
}

.UIInfoBar .PolygonNavyBlueStyle .MiddleBar {
  padding-left: 2px;
  height: 26px;
	background: url('VistaSkin/background/PolygonNavyBlueRP1x26.gif') repeat-x;
}

/*######################-Smooth Style-######################*/
.UIInfoBar .SmoothStyle {
	height: 22px;
}

.UIInfoBar .SmoothStyle .LeftBar {
	height: 22px;
	padding-left: 1px;
	background: url('VistaSkin/background/SmoothStyleL1x22.gif') no-repeat left;
}

.UIInfoBar .SmoothStyle .RightBar {
	height: 22px;
	padding-right: 1px;
	background: url('VistaSkin/background/SmoothStyleR1x22.gif') no-repeat right;
}

.UIInfoBar .SmoothStyle .MiddleBar {
  height: 22px;
	background: url('VistaSkin/background/SmoothStyleRP1x22.gif') repeat-x;
}

/*######################-Smooth Style 26 -######################*/
.UIInfoBar .SmoothStyle26 {
	height: 26px;	
}

.UIInfoBar .SmoothStyle26 .LeftBar {
	height: 26px;
	padding-left: 1px;
	background: url('VistaSkin/background/SmoothStyleBigL2x26.gif') no-repeat left;
}

.UIInfoBar .SmoothStyle26 .RightBar {
	height: 26px;
	padding-right: 1px;
	background: url('VistaSkin/background/SmoothStyleBigR2x26.gif') no-repeat right;
}

.UIInfoBar .SmoothStyle26 .MiddleBar {
  height: 26px;
	background: url('VistaSkin/background/SmoothStyleBigRP1x26.gif') repeat-x;
}

/*######################-GrayRoundedStyle-######################*/
.UIInfoBar .GrayRoundedStyle {
	height: 27px;	
}

.UIInfoBar .GrayRoundedStyle .LeftBar {
	height: 27px;
	padding-left: 10px;
	background: url('VistaSkin/background/GrayRoundedL10x27.gif') no-repeat left;
}

.UIInfoBar .GrayRoundedStyle .RightBar {
	height: 27px;
	padding-right: 10px;
	background: url('VistaSkin/background/GrayRoundedR10x27.gif') no-repeat right;
}

.UIInfoBar .GrayRoundedStyle .MiddleBar {
  margin: auto ;
  height: 27px;
	background: url('VistaSkin/background/GrayRoundedRP1x27.gif') repeat-x;
}

.UIInfoBar .GrayRoundedStyle .Icon {
  float: left ;
  background-position: center center ;
  width: 27px ;  height: 27px ;
  background-repeat: no-repeat ;
}

.UIInfoBar .GrayRoundedStyle .Title {
  color: #005cff ;
  font-weight: bold ;
  text-align: left ;
  height: 27px ;
  line-height: 27px ;  vertical-align: middle ;
  float: left ;
}
/*######################-LightBlueBevelBarStyle-######################*/
.UIInfoBar .LightBlueBevelStyle {
	height: 23px;
	margin-bottom: -1px;
}

.UIInfoBar .LightBlueBevelStyle .LeftBar {
	height: 23px;
	padding-left: 15px;
	background: url('VistaSkin/background/GrayBarL15x23.gif') no-repeat left;
}

.UIInfoBar .LightBlueBevelStyle .RightBar {
	height: 23px;
	padding-right: 15px;
	background: url('VistaSkin/background/GrayBarR15x23.gif') no-repeat right;
}

.UIInfoBar .LightBlueBevelStyle .MiddleBar {
  margin: auto ;
  height: 23px;
	background: url('VistaSkin/background/GrayBarM1x23.gif') repeat-x;
}

.UIInfoBar .LightBlueBevelStyle .Icon {
  float: left ;
  width: 16px ;  height: 16px ;
  margin-top: 3px;
}
.UIInfoBar .LightBlueBevelStyle .Title {
  height: 22px ;  line-height: 22px ;  vertical-align: middle ;
}