.SelectFileFrame {
	width: 400px;
}

.SelectFileLabel {
	float: left;
	text-align: right ;
	margin-right: 15px;
}

.UploadButton {
  width: 20px; height: 20px; 
	cursor: pointer; vertical-align: bottom;
	background: url('background/UpArrow16x16.gif') no-repeat left;
}

.ProgressBarFrame {
	height: 23px;
}

.ProgressBar {
	float: left;
	width: 230px;
}

.ProgressBarLeft {
	padding: 1px ;
	border: solid 1px gray;
}

.BlueProgressBar {
	width: 0%; height: 14px;
	background: url('background/BlueBg1x14.gif') repeat-x;
	position: relative;
}

.ProgressBarLabel {
	width: 15px; height: 15px;
	position: absolute;
	left: 110px;
}

.ProgressBarLabel {
	text-align: center;
}

.DeleteFileFrame {
	float: left;
	background: url('background/Round18x18.gif') no-repeat;
	cursor: pointer;
	padding-left: 23px;
	margin-left: 5px;
}

.DeleteFileLable {
	font-family: verdana;
	line-height: 18px;
}

.FileName {
	float: left;
}

.FileNameLabel {
	font-weight: bold;
	line-height: 14px;
	max-width: 370px;
}

.RemoveFile {
	float: left;
	height: 18px; line-height: 18px;
	background: url('background/Delete18x18.gif') no-repeat;
	cursor: pointer;
	margin-left: 10px;
	width: 18px;
}