@import "variables-exo.less";
@import "mixins-exo.less";
//============================================
.uiGadgetThemes{
	.gadContent {
		padding: 8px 16px;
		.question, .question .text{
			color: @linkColor;
		}
		.question{
			margin: 5px 0 10px;
			text-decoration: none;
			display: inline-block;
			line-height: 18px;
			> i {
				float: left;
				margin-right: 5px;
				margin-top: 1px;
			}
			.text {
				display: block;
				line-height: 18px;
				margin-left: 21px;
			}
		}
		.poll{
			h6{
				padding: 4px 0 12px;
				line-height: 30px;
				margin: 0px;
				border-bottom: 1px solid @borderColor;
			}

			.uiCheckbox{
				display: block;
				margin: 8px 0;
			}
		}
		.listpoll h4 {
			margin-top: 0;
			font-weight: normal;
		}

		.discuss{
			color: @textColor;
			display: inline-block;
			float: right;
			font-size: 13px;
			font-weight: normal;
		}

		.voteResult{
			font-size: 12px;
			border: none;
			width: 100%;
			margin: 10px 0;
			.label-vote{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				display: inline-block;
			}
			.percent{
				width: 40px;
				text-align: right
			}
		}

		.btnform{
			line-height: 28px;
			border-top: 1px solid @borderColor;
			padding: 14px 0 6px;
			text-align: left;
		}

		.voteResult tr:first-child td:first-child{
			width: 180px;
		}

		.voteResult td, .voteResult th{
			border: none;
		}

		.voteResult thead{
			background-color: @borderColor;
		}

		.horizontalBG{
			width: 100%;
			min-width: 103px;
			height: 10px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			overflow: hidden;
			#gradient > .vertical(@componentBackgroundHover, @componentBackground);
			.box-shadow(0 1px 1px #c0c0c0 inset);
		}

		.horizontalBar {
			height: 10px;
			-webkit-border-radius: 5px 0 0 5px;
			-moz-border-radius: 5px 0 0 5px;
			border-radius: 5px 0 0 5px;
			#gradient > .vertical(@primaryLightColor, @primaryColor);
		}

		.listpoll {
			display:none;
			margin: 6px 2px 8px 0;
			.form-horizontal{
				padding: 0px;
			}
			.control-group{
				margin: 0px;
				.controls{
					margin-left: 145px;
				}
				.control-label{
					width: 138px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					text-align: left;
				}
			}
			.selectbox{
				width: 100%;
			}
			.uiSelectbox{
				width: 100%;
			}
		}

		.pollList{
			width: 100%;
		}

		.miniMessage{
			font-size: 12px;
			padding:10px 0px;
			position:absolute;
			background:red;
			width: 100%;
		}

		td {
			padding: 5px 0;
		}
		.uiRadio{
			display: block;
			margin: 8px 0;
		}

		.btn{
			margin: 0px;
		}

		form{
			margin: 0px;
		}
	}
	&.minimize {
		.gadContent {
			.listpoll {
				.control-group {
					.control-label {
						width: auto;
						float: none;
						padding: 0;
						margin: 0 0 8px;
					}
					.controls {
						margin-left: 0;
					}
				}
			}
		}
	}
  &.maximize {
    .voteResult {
      .label-vote {
        padding-right: 10px;
        //max-width: 480px;
      }
    }
  }
}