.Save24x24Icon {
  background: url('/eXoResources/icons/24x24/VistaSkin/FloppyDisk.gif') no-repeat ;
  width: 24px ; height: 24px ;
}

.DustBin24x24Icon {
	width: 24px ; height: 24px ;
	background: url('/eXoResources/icons/24x24/VistaSkin/DustBin.gif') no-repeat ;
}

.RedDustBin24x24Icon {
	width: 24px ; height: 24px ;
	background: url('/eXoResources/icons/24x24/VistaSkin/RedDustBin.gif') no-repeat ;
}

.LightBlueFolder24x24Icon {
  background: url('/eXoResources/icons/24x24/VistaSkin/LightFolder.png') no-repeat ;
  width: 24px ; height: 24px ;
}

.VioletFolder24x24Icon {
  background: url('/eXoResources/icons/24x24/VistaSkin/VioletFolder.gif') no-repeat ;
  width: 24px ; height: 24px ;
}

.LightBlueOpenFolder24x24Icon {
  background: url('/eXoResources/icons/24x24/VistaSkin/LightOpenFolder.png') no-repeat ;
  width: 24px ; height: 24px ;
}

.LightBlueFolderHome24x24Icon {
  background: url('/eXoResources/icons/24x24/VistaSkin/LightBlueFolderHome.gif') no-repeat ;
  width: 24px ; height: 24px ;
}

.Paste24x24Icon {
  background: url('/eXoResources/icons/24x24/VistaSkin/Paste.gif') no-repeat ;
  width: 24px ; height: 24px ;
}

.BlackMagnifier24x24Icon {
  background: url('/eXoResources/icons/24x24/VistaSkin/BlackMagnifier.gif') no-repeat ;
  width: 24px ; height: 24px ;
}

.BlueFloppyDisk24x24Icon {
	width: 24px ;	height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/SaveB.png') no-repeat ;
  margin: auto;
}

.UpLevel24x24Icon {
	width: 24px ;	height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/BlueUpLevelArrow.gif') no-repeat  ;
  margin: auto;
}

.DiamondCircleRoundedArrows24x24Icon {
	width: 24px ;	height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/DiamondCircleRoundedArrows.gif') no-repeat  ;
  margin: auto;
}

.NavyBlueRecycleBin24x24Icon {
	width: 24px ;	height: 24px ;
	background: url('/eXoResources/icons/24x24/VistaSkin/NavyBlueRecycleBin.gif')no-repeat ;
	margin:auto;
  cursor: pointer; 
}
.DusBinFull24x24Icon {
	width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/DusBinFull.gif')no-repeat ;
  margin:auto;
  cursor: pointer; 
}

.BoxBlueArrowDown24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/BoxBlueArrowDown.gif') no-repeat ;
}

.BlueInfoBox24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/BlueInfoBox.gif') no-repeat ;
}

.BoxGreenPlus24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/BoxGreenPlus.gif') no-repeat ;
}

.BoxPencil24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/BoxPencil.gif')no-repeat ;
}

.PointedHandBrownBox24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/PointedHandBrownBox.gif') no-repeat  ;
  margin: auto;
}

.Selected24x24Icon {
  width: 32px ;  height:28px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/SelectedBlock.gif') no-repeat ;
  margin: auto;
}

.BlueArrowBox24x24Icon {
 width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/BlueArrowBox.gif') no-repeat  ;
  margin: auto;
}

.DiskArrow24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/DiskArrow.gif') no-repeat  ;
  margin: auto;
}

.ColorGridSquare24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/ColorGridSquare.gif') no-repeat  ;
  margin: auto;
}

.OnMouseOver24x24Icon {
  width: 32px ;  height:28px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/OnmouseOverBlock.gif') no-repeat ;
  margin: auto; 
}

.GreenPlusDataBox24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/GreenPlusDataBox.gif') no-repeat ;
  margin:auto;
  cursor: pointer;  
}
.GreenPlusBrownBox24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/GreenPlusBrownBox.gif') no-repeat ;
  margin:auto;
  cursor: pointer;  
}

.YellowPenBrownBox24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/YellowPenBrownBox.gif') no-repeat ;
  margin: auto;
  cursor: pointer; 
}

.NavyBlueRecycleBin24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/NavyBlueRecycleBin.gif') no-repeat  ;
  margin: auto;
  cursor: pointer;
}

.NavyBlueDocument24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/NavyBlueDocument.gif') no-repeat  ;
  margin:auto;
  cursor: pointer; 
}

.DataBoxDusBin24x24Icon {
  width: 24px ;  height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/DataBoxDusBin.gif') no-repeat  ;
  margin:auto;
  cursor: pointer; 
}

.LevelUpArrowIcon {
  width: 33px ; height: 24px ;
  background: url('/eXoResources/icons/32x32/VistaSkin/BlueUpLevelArrow.png') no-repeat center left ;
  
}

.BlueNavigation24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/BlueIconNavigation.gif') no-repeat  ;
}


.BlueSyncArrow24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/BlueSync.gif') no-repeat  ;
}

.SiteMap24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/SiteMap.gif') no-repeat  ;
}

.YellowHammer24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/YellowHammer.gif') no-repeat ;
  margin:auto;
  cursor: pointer;  
}

.Refresh24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/Refresh.gif') no-repeat ;
}

.AddCatergory24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/DefaultSkin/AddCatergory.gif') no-repeat ;
}

.EditCatergory24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/DefaultSkin/EditCatergory.gif') no-repeat ;
}

.ImportCategory24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/DefaultSkin/ImportCategory.gif') no-repeat ;
}

.DeleteCategory24x24Icon {
  width: 26px ; height: 27px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/Delete.png') no-repeat center left;
}

.Delete24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/DefaultSkin/NavyBlueTrashBin.gif') no-repeat ;
}

.DeleteAll24x24Icon {
 width: 26px ; height: 25px ;
 background: url('/eXoResources/icons/24x24/VistaSkin/DeleteAll.png') no-repeat center left;
}

.AddCatergory24x24Icon {
  width: 27px ; height: 25px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/AddCatergory.png') no-repeat center left;
}

.EditCatergory24x24Icon {
  width: 27px ; height: 25px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/EditCatergory.png') no-repeat center left;
}

.Delete24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/Delete24x24Icon.png') no-repeat ;
}
.UIListPermissionSelector24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/IconAccessPermission.png') no-repeat ;
}
.UIPermissionSelector24x24Icon {
  width: 24px ; height: 24px ;
  background: url('/eXoResources/icons/24x24/VistaSkin/IconEditPermission.png') no-repeat ;
}
