.CyanUpArrowDotted32x32Icon {
  background: url('/eXoResources/icons/32x32/VistaSkin/CyanUpArrowDotted.gif') no-repeat center center ;
  width: 32px ;  height: 32px ;
}

.MinusSign32x32Icon {
  background: url('/eXoResources/icons/32x32/VistaSkin/MinusSign.gif') no-repeat center center;
  width: 32px ;  height: 32px ;
}

.WarningSign32x32Icon {
  background: url('/eXoResources/icons/32x32/VistaSkin/WarningSign.gif') no-repeat center center;
  width: 32px ;  height: 32px ;
}

.NavyWheelDataBox32x32Icon {
  background: url('/eXoResources/icons/32x32/VistaSkin/NavyWheelDataBox.gif') no-repeat center center;
  width: 32px ;  height: 32px ;
}

.Yellowbulb32x32Icon {
  background: url('/eXoResources/icons/32x32/VistaSkin/Yellowbulb.gif') no-repeat center center;
  width: 32px ;  height: 32px ;
}

.PageMagnifier32x32Icon {
  background: url('/eXoResources/icons/32x32/VistaSkin/PageMagnifier.gif') no-repeat center center;
  width: 32px ;  height: 32px ;
}

.BoxMagnifier32x32Icon {
  background: url('/eXoResources/icons/32x32/VistaSkin/BoxMagnifier.gif') no-repeat center center;
  width: 32px ;  height: 32px ;
}

.CircleInfo32x32Icon {
  background: url('/eXoResources/icons/32x32/VistaSkin/CircleInfo.gif') no-repeat ;
  width: 32px ;  height: 32px ;
}

.ImagePlain32x32Layout {
  width: 32px ;  height: 32px ;
  background: url('/eXoResources/icons/32x32/VistaSkin/ImagePlainLayout.gif') ;
}

.ImageDouble32x32Layout {
  width: 32px ;  height: 32px ;
  background: url('/eXoResources/icons/32x32/VistaSkin/ImageDoubleLayout.gif') ;
}

.ImageLeft32x32Layout {
  width: 32px ;  height: 32px ;
  background: url('/eXoResources/icons/32x32/VistaSkin/ImageLeftLayout.gif') ;
}
.ImageRight32x32Layout {
  width: 32px ;  height: 32px ;
  background: url('/eXoResources/icons/32x32/VistaSkin/ImageRightLayout.gif') ;
}

.ImageDoubleCol32x32Layout {
  width: 32px ;  height: 32px ;
  background: url('/eXoResources/icons/32x32/VistaSkin/ImageDoubleColLayout.gif') ;
}

.ImageCenter32x32Layout {
  width: 32px ;  height: 32px ;
  background: url('/eXoResources/icons/32x32/VistaSkin/ImageCenterLayout.gif') ;
}
