.UIBreadcumbsPortlet {
	padding: 0px 2px 0px 6px;
	height: 34px; 
}

.UIBreadcumbs {
  height: 34px ;
  padding: 0px 3px 0px 1px;
}

.UIBreadcumbs a {
	float: left ;
	color: black ;
}

.UIBreadcumbs a.Selected {
	color: #3c3c3c ; 
	font-size:11px;
}

.UIBreadcumbs .HomeIcon {
	float: left;
  margin: 5px 7px 0px 3px ;
}

.UIBreadcumbs .LeftBreadcumbsBar {
  padding-left: 8px ;
  background: url('VistaSkin/background/LeftBreadcumbsBar8x33.png') no-repeat left;
  height: 33px;
}

.UIBreadcumbs .RightBreadcumbsBar {
  padding-right: 9px;
  background: url('VistaSkin/background/RightBreadcumbsBar9x33.png') no-repeat right;
  height: 33px;
}

.UIBreadcumbs .BreadcumbsInfoBar {
  background: url('VistaSkin/background/MiddleBreadcumbsBar1x33.png') repeat-x;
  height: 33px; line-height: 26px; vertical-align: middle;
}

.UIBreadcumbs .RightBlackGridArrowIcon {
  float: left;
  margin: 5px;
}

