.UIBreadcumbsPortlet {
	padding: 0px 6px 8px 6px;
}

.UIBreadcumbs {
  height: 34px ;
  padding: 0px 3px 0px 1px;
}

.UIBreadcumbs a {
	float: left ;
	color: black ;
}

.UIBreadcumbs a.Selected {
	color: #3c3c3c ; 
}

.UIBreadcumbs .HomeIcon {
	float: left;
  margin: 5px 7px 0px 3px ;
}

.UIBreadcumbs .LeftBreadcumbsBar {
  padding-left: 5px ;
  background: url('VistaSkin/background/BreadcumsBarL5x34.png') no-repeat left;
}

.UIBreadcumbs .RightBreadcumbsBar {
  padding-right: 8px;
  background: url('VistaSkin/background/BreadcumsBarR8x34.png') no-repeat right bottom;
}

.UIBreadcumbs .BreadcumbsInfoBar {
  background: url('VistaSkin/background/BreadcumsBarRP1x34.png') repeat-x;
  height: 34px; line-height: 26px; vertical-align: middle;
}

.UIBreadcumbs .RightBlackGridArrowIcon {
  float: left;
  margin: 5px;
}

