.UILoginForm {	
	margin: auto;
	padding: 30px 17px 30px 10px; /* orientation=lt */
	padding: 30px 10px 30px 17px; /* orientation=rt */
	background: #f5f5f5;
}

/*##############################- LoginBox Style-################################*/

.UILoginForm .LoginDecorator {
	width: 540px;
	margin: auto;
}

.UILoginForm .LoginDecorator .LoginDecoratorBackground {
	background-color: white;
	padding-top: 12px;
}

.UILoginForm .LoginDecorator .TopLeftLoginDecorator {
	background: url('background/Login.gif') no-repeat left top; /* orientation=lt */
	background: url('background/Login-rt.gif') no-repeat right top; /* orientation=rt */
	padding: 0px 0px 0px 31px; /* orientation=lt */
	padding: 0px 31px 0px 0px; /* orientation=rt */
}

.UILoginForm .LoginDecorator .TopCenterLoginDecorator {
	background: url('background/Login.gif') repeat-x center -35px;
	height: 35px;
}

.UILoginForm .LoginDecorator .TopCenterLoginDecorator .SigninTitle {
	color: #1273df;
	font-size: 16px;
	line-height: 28px;
	padding: 4px 0px 0px 20px; /* orientation=lt */
	padding: 4px 20px 0px 0px; /* orientation=rt */
}

.UILoginForm .LoginDecorator .TopRightLoginDecorator {
	background: url('background/Login.gif') no-repeat right top; /* orientation=lt */
	background: url('background/Login-rt.gif') no-repeat left top; /* orientation=rt */
	padding: 0px 13px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 13px; /* orientation=rt */
}

.UILoginForm .LoginDecorator .MiddleLeftLoginDecorator {
	background: url('background/Repeat-yLogin.gif') no-repeat left center; /* orientation=lt */
	background: url('background/Repeat-yLogin-rt.gif') no-repeat right center; /* orientation=rt */
	padding: 0px 0px 0px 136px; /* orientation=lt */
	padding: 0px 136px 0px 0px; /* orientation=rt */
}

.UILoginForm .LoginDecorator .MiddleRightLoginDecorator {
	background: url('background/Repeat-yLogin.gif') repeat-y right; /* orientation=lt */
	background: url('background/Repeat-yLogin-rt.gif') repeat-y left; /* orientation=rt */
	padding: 0px 6px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 6px; /* orientation=rt */
}

.UILoginForm .LoginDecorator .BottomLeftLoginDecorator {
	background: url('background/Login.gif') no-repeat left -83px; /* orientation=lt */
	background: url('background/Login-rt.gif') no-repeat right -83px; /* orientation=rt */
	padding: 0px 0px 0px 31px; /* orientation=lt */
	padding: 0px 31px 0px 0px; /* orientation=rt */
}

.UILoginForm .LoginDecorator .BottomCenterLoginDecorator {
	background: url('background/Login.gif') repeat-x center -70px;
	height: 13px;
}

.UILoginForm .LoginDecorator .BottomRightLoginDecorator {
	background: url('background/Login.gif') no-repeat right -83px; /* orientation=lt */
	background: url('background/Login-rt.gif') no-repeat left -83px; /* orientation=rt */
	padding: 0px 13px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 13px; /* orientation=rt */
}

/* ============================End LoginDecorator============================== */
/*
 * minh.js.exo
 * 4h44 07/08/2007
 * fix bug : hidden cursor in form login
 */
 
.UILoginForm .LoginDetailBox .UIForm {
	overflow: auto;
}
	
.UILoginForm .LoginDetailBox .ForgetPass {
	padding-left: 127px; /* orientation=lt */
	padding-right: 136px; /* orientation=rt */
}

.UILoginForm .LoginDetailBox .ForgetPass a {
	color: orange;
}

.UILoginForm .LoginDetailBox .UIFormGrid td {
	line-height: 22px;
}

.UILoginForm .LoginDetailBox .FieldLabel {
	font-weight: bold;
}

.UILoginForm .LoginDetailBox .UserNameField input {
	background: url('background/Login.gif') no-repeat left -96px; /* orientation=lt */
	background: url('background/Login-rt.gif') no-repeat right -96px; /* orientation=rt */
	width: 180px; height: 18px;
	line-height: 18px;
	border: solid 1px #b7b7b7;
	padding: 0px 0px 0px 22px; /* orientation=lt */
	padding: 0px 22px 0px 0px; /* orientation=rt */
	cursor: text;
}

.UILoginForm .LoginDetailBox .PasswordField input {
	background: url('background/Login.gif') no-repeat left -114px; /* orientation=lt */
	background: url('background/Login-rt.gif') no-repeat right -114px; /* orientation=rt */
	width: 180px; height: 18px;
	line-height: 18px;
	border: solid 1px #b7b7b7;
	padding: 0px 0px 0px 22px; /* orientation=lt */
	padding: 0px 22px 0px 0px; /* orientation=rt */
	cursor: text;
}

.UILoginForm .LoginDetailBox .RememberField input {
	border: none;
	margin: 0px;
}

.UILoginForm .UIForm .VerticalLayout .UIAction {
	padding: 15px 0px 15px 75px; /* orientation=lt */
	padding: 15px 75px 15px 0px; /* orientation=rt */
}