.UIPortlet {
	padding: 5px;
}

.UIPortlet .CONTROL-PORTLET {
  margin: 0px 0px -1px 0px;
}

.UIPortlet .CONTROL-PORTLET .Login {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ToolIcons/Key.gif') no-repeat center;
}

.UIPortlet .CONTROL-PORTLET .DragControlArea {
  float: left ;
  width: 24px ; height: 15px ;
  margin: 4px 0px 0px 5px ;
  background: url('background/DragBg2x2.gif');
  cursor: move ;
}

.UIPortlet .ViewPortletIcon {
  float: left;
  width: 16px; height: 16px; 
  margin: 3px 5px 0px 0px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueBoxLight.gif') no-repeat;
  cursor: pointer;
}

.UIPortlet .EditPortletPropertiesIcon {
	float: right;
	width: 22px; height: 16px;
	background: url('background/ContainerIcon.gif') no-repeat top;
  margin: 4px 3px 2px 0px;
}

.UIPortlet .DeletePortletIcon {
	float:right;
	width: 22px; height:16px; 
  background: url('background/ContainerIcon.gif') no-repeat bottom;
  margin: 4px 4px 2px 0px;
}

/*##############################- PortletLayoutDecorator  -################################*/
.PortletLayoutDecorator {
}

.PortletLayoutDecorator .TopLeft {
  height: 6px ;
  background: url('background/PortletLayoutDecorator.gif') no-repeat left top;
  padding-left: 7px ;
}

.PortletLayoutDecorator .TopMiddle {
  height: 6px ;
  background: url('background/PortletLayoutDecorator.gif') repeat-x center -6px;
}

.PortletLayoutDecorator .TopRight {
  height: 6px ;
  background: url('background/PortletLayoutDecorator.gif') no-repeat right top;
  padding-right: 7px ;
}

.PortletLayoutDecorator .MiddleLeft {
  background: url('background/MiddlePortletLayout.gif') repeat-y left -22px;
  padding: 0px 0px 0px 7px ;
}

.PortletLayoutDecorator .MiddleRight {
  background: url('background/MiddlePortletLayout.gif') repeat-y right -22px;
  padding-right: 7px ;
}

.PortletLayoutDecorator .CenterBackground {
  background: white;
}

.PortletLayoutDecorator .GardientBackground {
  height: 64px;
  background: url('background/LayoutCBg1x56.gif') repeat-x bottom;
  padding: 6px;
}

.PortletLayoutDecorator .BottomLeft {
  height: 5px ;
  background: url('background/PortletLayoutDecorator.gif') no-repeat left -12px;
  padding-left:7px ;
}

.PortletLayoutDecorator .BottomMiddle {
  height: 5px ;
  background: url('background/PortletLayoutDecorator.gif') repeat-x center -17px;
}

.PortletLayoutDecorator .BottomRight {
  background: url('background/PortletLayoutDecorator.gif') no-repeat right -12px;
  padding-right: 7px;
}
/*############### End Decorator ###################################################*/

.UIContainer {
	padding: 5px;
}

.LAYOUT-CONTAINER .UIContainer {
  height: 100%;
	/*
	 fix bug dragdrop in IE6
	*/
}


.UIContainer .LAYOUT-CONTAINER {
  background: #f5f5f5;
  border: solid 1px #38acf3;
  padding: 8px;
  margin: 0px 1px;
  min-height: 60px;
}

* html .UIContainer .LAYOUT-CONTAINER {
	height: 60px ;
}

.UIContainer .CONTROL-CONTAINER .DragControlArea {
  float: left ; 
  width: 24px ; height: 15px ; 
  background: url('background/DragBg2x2.gif');
  cursor: move ;
  margin: 4px 0px 0px 5px ;
}

.UIContainer .LAYOUT-CONTAINER  .UITableColumnContainer {
  background: none ;
  border: none ;
}

.UIContainer .EditContainerIcon {
	float: right;
	width: 22px; height: 16px;
	background: url('background/ContainerIcon.gif') no-repeat top;
  margin: 4px 2px 2px 0px;
}

.UIContainer .DeleteContainerIcon {
	float: right;
	width: 22px; height:16px; 
  background: url('background/ContainerIcon.gif') no-repeat bottom;
  margin: 4px 4px 2px 0px;
}

.UIContainer .ContainerIcon {
	float: left;
  width: 18px; height: 16px;
  margin: 4px 0px 0px 5px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DefaultContainerIcon.gif') no-repeat ;
}

.UIPortal .LAYOUT-PORTAL {
  background: url('background/PortalBackground4x4.gif');
  padding: 8px;
  margin: auto;
}

.DragAndDropPreview {
  width: auto ; height: 80px ;
	background: url('background/DragAndDropPreview4x4.gif');
  border: 1px solid #c4c4c4;
  margin: 0px 12px 10px 12px;
}

