.UIPortlet {	
	padding: 5px;
}

.UIPortlet .CONTROL-PORTLET {
}

.UIPortlet .CONTROL-PORTLET .Login {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ToolIcons/Key.gif') no-repeat center;
}

.UIPortlet .CONTROL-PORTLET .DragControlArea {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 10px; height: 10px;
	margin: 7px 0px 0px 5px; /* orientation=lt */
	margin: 7px 5px 0px 0px; /* orientation=rt */
	background: url('background/DragBg2x2.gif');
	cursor: move;
}

.UIPortlet .ViewPortletIcon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 16px; height: 16px; 
	margin: 3px 5px 0px 0px; /* orientation=lt */
	margin: 3px 0px 0px 5px; /* orientation=rt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueBoxLight.gif') no-repeat;
	cursor: pointer;
}

.UIPortlet .EditPortletPropertiesIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 20px; height: 20px;
	background: url('background/Pen.png') no-repeat top;
	margin: 4px 3px 2px 5px;
}

.UIPortlet .DeletePortletIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 20px; height:20px; 
	background: url('background/close.png') no-repeat bottom;
	margin: 4px 4px 2px 0px; /* orientation=lt */
	margin: 4px 0px 2px 4px; /* orientation=rt */
}

.UIPortlet .SelectedContainerBlock {
	background: white;
	border-top: 1px solid #91bcdd;
}

.UIPortlet .SelectedContainerBlock .LeftContainerBlock {
	background: url('background/BgContainerBlock.gif') no-repeat left top;
	padding-left: 1px;
}

.UIPortlet .SelectedContainerBlock .RightContainerBlock {
	background: url('background/BgContainerBlock.gif') no-repeat right top;
	padding: 4px;
}

.UIPortlet .NewLayer {
	background: #93c0e2; 
	filter: alpha(opacity=40);
	opacity: 0.4;
	width: 100%; height: 100%;
}

/*##############################- PortletLayoutDecorator	-################################*/

.PortletLayoutDecorator {
}

.PortletLayoutDecorator .TopLeft {
	background: url('background/PortletLayoutDecorator.gif') no-repeat left top;
	padding-left: 7px;
}

.PortletLayoutDecorator .TopMiddle {
	background: url('background/PortletLayoutDecorator.gif') repeat-x center -6px;
}

.PortletLayoutDecorator .TopRight {
	background: url('background/PortletLayoutDecorator.gif') no-repeat right top;
	padding-right: 7px;
}

.PortletLayoutDecorator .TopLeft .FixHeight {
	height: 6px;
}

.PortletLayoutDecorator .MiddleLeft {
	background: url('background/MiddlePortletLayout.gif') repeat-y left -22px;
	padding: 0px 0px 0px 7px;
}

.PortletLayoutDecorator .MiddleRight {
	background: url('background/MiddlePortletLayout.gif') repeat-y right -22px;
	padding-right: 7px;
}

.PortletLayoutDecorator .CenterBackground {
	background: white;
}

.PortletLayoutDecorator .GardientBackground {
	height: 64px;
	background: url('background/LayoutCBg1x56.gif') repeat-x bottom;
	padding: 6px;
}

.PortletLayoutDecorator .BottomLeft {
	background: url('background/PortletLayoutDecorator.gif') no-repeat left -12px;
	padding-left:7px;
}

.PortletLayoutDecorator .BottomMiddle {
	background: url('background/PortletLayoutDecorator.gif') repeat-x center -17px;
}

.PortletLayoutDecorator .BottomRight {
	background: url('background/PortletLayoutDecorator.gif') no-repeat right -12px;
	padding-right: 7px;
}

.PortletLayoutDecorator .BottomLeft .FixHeight {
	height: 5px;
}

/*############### End Decorator ###################################################*/

.LAYOUT-CONTAINER .UIContainer {
	height: 100%;
	/*
	 fix bug dragdrop in IE6
	*/
}

.LAYOUT-CONTAINER .TDContainer {
	padding: 0px 2px;
}


.UIContainer .LAYOUT-BLOCK .UIRowContainer {
	min-height: 86px;
	_height: 86px;
}

.UIContainer .EditPortletPropertiesIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 20px; height: 20px;
	background: url('background/Pen.png') no-repeat top;
	margin: 4px 3px 2px 5px;
}

.UIContainer .DeletePortletIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 20px; height:20px; 
	background: url('background/close.png') no-repeat bottom;
	margin: 4px 4px 2px 0px; /* orientation=lt */
	margin: 4px 0px 2px 4px; /* orientation=rt */
}

.UIContainer .NewLayer {
	background: #93c0e2; 
	filter: alpha(opacity=40);
	opacity: 0.4;
	width: 100%; height: 100%;
}

/*
.UIContainer .LAYOUT-CONTAINER {
	background: #f5f5f5;
 	border: solid 1px #38acf3;
	padding: 5px;
	margin: 0px 1px;
	min-height: 60px;
}

* html .UIContainer .LAYOUT-CONTAINER {
	height: 60px;
}

.UIContainer .UIInfoBar .BlueRoundedStyle {
	padding: 0px; margin: 0px;
	height: 22px;
}
*/

.UIContainer .CONTROL-CONTAINER .DragControlArea {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 10px; height: 10px;
	background: url('background/DragBg2x2.gif');
	cursor: move;
	margin: 6px 0px 0px 2px; /* orientation=lt */
	margin: 6px 2px 0px 0px; /* orientation=rt */
}

.UIContainer .LAYOUT-CONTAINER	.UITableColumnContainer {
	background: none;
	border: none;
	margin: auto;
}

.UIContainer .EditContainerIcon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 22px; height: 16px;
	background: url('background/Pen.png') no-repeat top;
	margin: 1px 2px 2px 0px; /* orientation=lt */
	margin: 1px 0px 2px 2px; /* orientation=rt */
}

.UIContainer .DeleteContainerIcon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 22px; height: 16px; 
	background: url('background/close.png') no-repeat bottom;
	margin: 4px 0px 2px 0px; /* orientation=lt */
	margin: 4px 0px 2px 0px; /* orientation=rt */
}

.UIContainer .ContainerIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 16px; line-height: 16px;
	padding-left: 24px; /* orientation=lt */
	padding-right: 24px; /* orientation=rt */
	margin: 3px 0px 0px 5px; /* orientation=lt */
	margin: 3px 5px 0px 0px; /* orientation=rt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DefaultContainerIcon.gif') no-repeat;
}

.UIPortal .LAYOUT-PORTAL {
	/* background: url('background/PortalBackground4x4.gif');*/
	background: white;
	padding: 8px;
	_padding: 8px 0px; /* orientation=rt */
	margin: auto;
	_margin: 0px; /* orientation=rt */
	_width: 99%; /* orientation=rt */
}

.DragAndDropPreview {
	width: auto; height: 80px;
	background: url('background/DragAndDropPreview4x4.gif');
	border: 1px solid #c4c4c4;
	margin: 0px 12px 10px 12px;
}

.PortletBlockDecorator {

}

.EdittingContainer {
	padding: 3px;
}

.EdittingContainer .NormalContainerBlock {
	background: white;
	border: 1px dashed #a2a2a2;
}

.EdittingContainer .NormalContainerBlock .LeftContainerBlock, .EdittingContainer .OverContainerBlock .NormalContainerBlock .LeftContainerBlock {
	background: none;
}

.EdittingContainer .NormalContainerBlock .RightContainerBlock, .EdittingContainer .OverContainerBlock .NormalContainerBlock .RightContainerBlock {
	padding: 2px;
	background: none;
}

.UIContainer .UIPortlet {
	padding: 0px;
}

.EdittingContainer .OverContainerBlock {
	border: none;
	border-top: 1px solid #91bcdd;
}

.EdittingContainer .OverContainerBlock .LeftContainerBlock {
	background: url('background/BgContainerBlock.gif') no-repeat left top;
	padding-left: 1px;
}

.EdittingContainer .OverContainerBlock .RightContainerBlock {
	background: url('background/BgContainerBlock.gif') no-repeat right top;
	padding: 2px;
}

.UIPortalComposer .UIContainerConfigOptions {
	margin: 0px;
}

.UIPortalComposer .UIContainerConfigOptions .OneRowContainerLayout	{
	background: transparent url(background/OneRowContainerLayout.gif) no-repeat left top;
	height: 40px;
}

.UIPortalComposer .UIContainerConfigOptions .TwoRowContainerLayout	{
	background: transparent url(background/TwoRowContainerLayout.gif) no-repeat;
	height: 48px;
}

.UIPortalComposer .UIContainerConfigOptions .ThreeRowContainerLayout	{
	background: transparent url(background/ThreeRowContainerLayout.gif) no-repeat;
	height: 48px;
}

.UIPortalComposer .UIContainerConfigOptions .TwoColumnContainerLayout	{
	background: transparent url(background/TwoColumnContainerLayout.gif) no-repeat;
	height: 48px;
}

.UIPortalComposer .UIContainerConfigOptions .ThreeColumnContainerLayout	{
	background: transparent url(background/ThreeColumnContainerLayout.gif) no-repeat;
	height: 48px;
}

.UIPortalComposer .UIContainerConfigOptions .TwoTabContainerLayout	{
	background: transparent url(background/TwoTabContainerLayout.gif) no-repeat;
	height: 48px;
}

.UIPortalComposer .UIContainerConfigOptions .ThreeTabContainerLayout	{
	background: transparent url(background/ThreeTabContainerLayout.gif) no-repeat;
	height: 48px;
}

.UIPortalComposer .UIContainerConfigOptions .TwoColumnOneRowContainerLayout	{
	background: transparent url(background/TwoColumnOneRowContainerLayout.gif) no-repeat;
	height: 48px;
}

.UIPortalComposer .UIContainerConfigOptions .OneRowTwoColumnContainerLayout	{
	background: transparent url(background/OneRowTwoColumnContainerLayout.gif) no-repeat;
	height: 48px;
}

.UIPortalComposer .UIContainerConfigOptions .OneRow2Column1RowContainerLayout	{
	background: transparent url(background/OneRow2Column1RowContainerLayout.gif) no-repeat;
	height: 48px;
}
