.UIDescription {	
	margin: 5px;
}

.UIDescription .DecoratorBox .DecoratorBackground{
	background: #efefef;
}

.UIDescription .DecriptionContainer {
	padding: 0px 8px;
}

.UIDescription .DescriptionContent {
	padding: 5px;
	border-top: 1px #bdbcbc solid; 
	border-left: 1px #bdbcbc solid; 
	border-right: 1px #929292 solid; 
	border-bottom: 1px #929292 solid; 
	background: #f2f2f2;
}

.UIDescription .DescriptionContentContainer {
	line-height: 18px;
	border-top: 1px #929292 solid;
	border-left: 1px #929292 solid;
	border-right: 1px #bdbcbc solid;
	border-bottom: 1px #bdbcbc solid;
	background: white;
}

.UIDescription .DescriptionContentMaxHeight {
	padding: 5px;
	height: 350px;
}