.UIPageDesktop {
	position: relative ;
  overflow: hidden ;
  background: url('background/eXoDesktopBG.jpg') no-repeat left bottom ;
}

.UIPageDesktop .UIDockBar {
  position: absolute;
  bottom: 0px;
  margin: auto ;
  z-index: 30 ;
  cursor: pointer ;
}

.UIPageDesktop .UIDockBar .Icon {
  width: 40px ; height: 40px ;
}

.UIPageDesktop .UIDockBar .IconControl {
  width: 40px ; height: 40px ;
}

.UIPageDesktop .UIDockBar .DockbarLeft {
  background: url('background/DockbarLeft2x47.gif') no-repeat left bottom ;
  padding: 0px 0px 0px 2px ;
}

.UIPageDesktop .UIDockBar .DockbarRight {
  background: url('background/DockbarRight2x47.gif') no-repeat right bottom ;
  padding: 0px 2px 0px 0px ;
}

.UIPageDesktop .UIDockBar .DockbarCenter {
  height: 47px ;
  background: url('background/DockbarCenterBG1x47.gif') repeat-x bottom ;
}

.UIPageDesktop .UIDockBar .IconContainer {
  vertical-align: bottom ;
	padding: 3px 0px 0px 0px;
  margin: auto ;
}

.UIPageDesktop .UIDockBar .Separator {
	width: 2px; height: 40px; 
	margin: 0px 5px ;
}

.UIPageDesktop .UIDockBar .Tooltip {
	background: white ;
	line-height: 20px ;
	white-space: nowrap ;
	position: absolute ;
	padding: 0px 5px ;
	border: solid 1px black ;
}

.UIPageDesktop .MoveResizeArea {
  float: right ;
  width: 12px ; height: 18px ;
  background: blue ; 
  cursor: nw-resize ;
}

.UIPageDesktop .UIWindow .UIFormInputSet {
	width: 100%;
}
/*=============================Right Click DockBar Menu=========================*/

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopLeftRightClickPopupMenu {
  background: url('background/TopLeftDefault3x3.gif') left no-repeat ;
  padding-left: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopRightRightClickPopupMenu {
  background: url('background/TopRightDefault3x3.gif') right no-repeat ;
  padding-right: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopCenterRightClickPopupMenu {
  background: url('background/TopCenterDefault1x3.gif') repeat-x ;
  height: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MiddleLeftRightClickPopupMenu {
  background: url('background/MiddleLeftDefault3x1.gif') repeat-y left ;
  padding-left: 3px;
	height: 100%;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MiddleRightRightClickPopupMenu {
  background: url('background/MiddleRightDefault3x1.gif') repeat-y right ;
  padding-right: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomLeftRightClickPopupMenu {
  background: url('background/BottomLeftDefault3x3.gif') left no-repeat top;
  padding-left: 3px;
  height: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomRightRightClickPopupMenu {
  background: url('background/BottomRightDefault3x3.gif') right no-repeat top ;
  padding-right: 3px;
  height: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomCenterRightClickPopupMenu {
  background: url('background/BottomCenterDefault1x3.gif') repeat-x top ;
  height: 3px; 
  line-height: 3px; 
}

.UIDockBar .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	background:#DFEAF6 none repeat scroll 0% 50%;
	margin:0px;
	padding: 0px;
	border: 1px solid #9ba9bf;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .ClickCenterBottom {
	background: url('background/ClickCenterBottom14x10.gif') no-repeat ;
	width: 14px;  height: 10px;
	margin: 0px 0px 0px 35px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer {
	border: none;
	background: none;
	width: 165px;
}

.UIDockBar .UIRightClickPopupMenu .CloseDockBarIcon {
	background: url('icons/24x24/CloseDockbarIcon24x24.gif') no-repeat left ;
}

.UIDockBar .UIContextMenuContainer {
	position: absolute; 
	left: -40px; 
	top: -10px;
}

