.UIPageDesktop {
	position: relative ;
  overflow: hidden ;
  background: url('background/eXoDesktopBG.jpg') no-repeat left bottom ;
}

.UIPageDesktop .UIWindow {
	width: 800px ; 
}
	
.UIPageDesktop .UIWindow .UIApplication {
	height: 350px ;
}

.UIPageDesktop .UIDockBar {
  position: absolute;
  bottom: 0px;
  margin: auto;
  z-index: 9999;
  cursor: pointer;
}

.UIPageDesktop .UIDockBar .Icon {
  width: 40px ; height: 40px ;
}

.UIPageDesktop .UIDockBar .IconControl {
  width: 40px ; height: 40px ;
}

.UIPageDesktop .UIDockBar .DockbarLeft {
  background: url('background/LeftDockbar.png') no-repeat left bottom;
  padding: 0px 0px 0px 24px ;
}

.UIPageDesktop .UIDockBar .DockbarRight {
  background: url('background/RightDockbar.png') no-repeat right bottom;
  padding: 0px 24px 0px 0px ;
}

.UIPageDesktop .UIDockBar .DockbarCenter {
  height: 47px ;
  background: url('background/CenterDockbar.png') repeat-x bottom;
}

.UIPageDesktop .UIDockBar .IconContainer {
  vertical-align: bottom ;
  padding: 3px 35px 0px 0px;
	_padding: 3px 0px 0px 0px;
  margin: auto ;
}

.UIPageDesktop .UIDockBar .Separator {
	width: 1px; height: 35px; 
	margin: 0px 5px ;
}

.UIPageDesktop .UIDockBar .Tooltip {
	background: white ;
	line-height: 20px ;
	white-space: nowrap ;
	position: absolute ;
	padding: 0px 5px ;
	border: solid 1px black ;
}

.UIPageDesktop .MoveResizeArea {
  float: right ;
  width: 12px ; height: 18px ;
  background: blue ; 
  cursor: nw-resize ;
}

.UIPageDesktop .UIWindow .UIFormInputSet {
	width: 100%;
}
/*=============================Right Click DockBar Menu=========================*/

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopLeftRightClickPopupMenu {
  background: url('background/PageDesktop.gif') left no-repeat -4px;
  padding-left: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopRightRightClickPopupMenu {
  background: url('background/PageDesktop.gif') right no-repeat -4px;
  padding-right: 3px;
}

.UIPageDesktop .UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopCenterRightClickPopupMenu {
  background: url('background/PageDesktop.gif') repeat-x top left;
  height: 3px;
	width: 222px;
	_width: 224px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MiddleLeftRightClickPopupMenu {
  background: url('background/PageDesktopRepeat.gif') repeat-y left ;
  padding-left: 3px;
  height: 100%;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MiddleRightRightClickPopupMenu {
  background: url('background/PageDesktopRepeat.gif') repeat-y right ;
  padding-right: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomLeftRightClickPopupMenu {
  background: url('background/PageDesktop.gif') left no-repeat -19px;
  padding-left: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomRightRightClickPopupMenu {
  background: url('background/PageDesktop.gif') right no-repeat -19px ;
  padding-right: 3px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomCenterRightClickPopupMenu {
  background: url('background/PageDesktop.gif') repeat-x center -8px ;
  line-height: 10px; 
}

.UIDockBar .UIRightClickPopupMenu .UIRightPopupMenuContainer {
	background:#DFEAF6 none repeat scroll 0% 50%;
	margin:0px;
	padding: 0px;
	border: 1px solid #9ba9bf;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .ClickCenterBottom {
	background: url('background/PageDesktop.gif') no-repeat left -30px;
	width: 14px;  height: 10px;
	margin: 0px 0px 0px 35px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer {
	border: none;
	background: none;
	_width: 230px;
}

.UIDockBar .UIRightClickPopupMenu .CloseDockBarIcon {
	background: url('background/PageDesktop.gif') no-repeat left -40px;
}

.UIDockBar .UIContextMenuContainer {
	position: absolute; 
	left: -40px; 
	top: -10px;
}

