
/* /// TAG \\\*/

body {
	background: white;
	font-family: Verdana, Arial, Verdana, sans-serif;
	font-weight: normal;
	color: #464646;
	margin: 0 auto;
	font-size: 13px;
	height: 100%;
}

p {
	color: #464646;
	font-weight: normal;
}

img {border: none;}

a {
	text-decoration: none;
	color: #0868b9;
}

h1,h2,h3,h4,h5,h6, p, ul, li {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: Arial, Verdana, sans-serif;
	font-size: 42px;
}

h2 {font-size: 24px;}
h3 {font-size: 19px;}
h4 {font-size: 14px;}
h5 {font-size: 13px;}
h6 {font-size: 12px;}

input {
	font-size: 20px;
	color: #b9b9b9;
}

input.Text{
	background-color: #FAFAFA;
    border: 1px solid #E6E6E6;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
    height: 34px;
	margin-left: 15px;
    padding: 0 5px;
    vertical-align: middle;
    width: 406px;
}

li {
	list-style-type: none;
}

.Gras {font-weight: bold;}

.CenterContent {
 text-align: center;
 line-height: 25px;
 padding-top: 30px;
}

.CenterTitle {
 text-align: center;
 line-height: 30px;
}

.YellowColor {color: #ffcb08;}

.FL {
	float: left;
}

.FR {
	float: right;
}

.ClearFix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.ClearFix {
	!display: inline-block;
	!zoom: 1;
	!display: block; 
}


/* /// BANNER \\\ */

.UIBanner {
	background: url("../background/bgBanner.png") repeat-x;
	height: 142px;
}

.UIBanner .BannerContent {
	width: 768px;
	margin: 0 auto;
	color: white;
	padding-top: 50px;
}

.UIBanner .BannerContent .BannerTitle {
	padding-top: 6px;
}


/* /// BODY \\\ */

.UIContent {
    font-size: 13px;
    margin: 50px auto;
	padding: 0;
	height: 100%;
    width: 768px;
	min-height: 500px;
}

.UIContent .Container {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #D7D7D7;
    border-radius: 0 3px 3px 3px;
	-moz-border-radius: 0 3px 3px 3px;
	-webkit-border-radius: 0 3px 3px 3px;
    box-shadow: 0 0 5px 0 #D7D7D7 inset;
	-moz-box-shadow: 0 0 5px 0 #D7D7D7 inset;
	-webkit-box-shadow: 0 0 5px 0 #D7D7D7 inset;
    margin: 34px auto;
	min-height: 35px;
	padding: 17px 0;
	position: relative;
    width: 766px;
}
 
.UIContent .Container .TextContainer {
	padding-left: 65px;
	display: table-cell;
	vertical-align: middle;
	height: 32px;
	width: 475px;
}

.UIContent .FormContainer{
	margin: 40px auto;
	width: 700px;
}

.UIContent .FormContainer .TextForm,
.UIContent .Container .TextContainer {
	font-size: 14px;
	color: #666666;
}

.UIContent .Container .Botton {
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 19px;
    font-weight: normal;
	line-height: 33px;
	text-align: center;
	width: 193px;
	margin-right: 17px;
	vertical-align: middle;
}

.UIContent .Container .GreenRect{
	background: url("../background/bgSubmit.png") repeat-x scroll left top transparent;
}

.UIContent .Container .OrangeRect{
	background: url("../background/bgSubmit.png") repeat-x scroll left -40px transparent;
}

.UIContent .Container .GrayRect{
	background: url("../background/bgSubmit.png") repeat-x scroll left -125px transparent;
}

.UIContent .Container .BlueRect{
	background: url("../background/bgSubmit.png") repeat-x scroll left -80px transparent;
}

.UIContent .Container .TriangleItem {	
    float: left;
    height: 33px;
    margin: -1px 0 -1px -1px;
	position: absolute; top: 0; left: 0;
    width: 33px;
}

.UIContent .Container .OrangeIcon {
	background: url("../background/IconBox.png") no-repeat scroll left top transparent;
}

.UIContent .Container .GreenIcon {
	background: url("../background/IconBox.png") no-repeat scroll left -40px transparent;
}

.UIContent .Container .GrayIcon {
	background: url("../background/IconBox.png") no-repeat scroll left -80px transparent;
}

.UIContent .Container .BlueIcon {
	background: url("../background/IconBox.png") no-repeat scroll left -120px transparent;
}

.UIContent .FormContainer .FormSubmit {
	border: medium none;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
	font-size: 19px;
	margin-left: 5px;
    padding: 3px 0 5px;
	height: 36px;
    width: 98px;
}

.UIContent .FormContainer .BlueFormRect{
	background: url("../background/bgSubmit.png") repeat-x scroll left -80px transparent;
}


/* /// FOOTER \\\ */

.UIFooter {
	background: none repeat scroll 0 0 #474848;
	height: 61px;
	position: fixed;
	bottom: 0; left: 0;
	width: 100%;
}

.UIFooter .FooterText {
	color: #a3a4a4;
	padding-top: 15px;
}