/* --- DropDown Control Format --- */
.UIDropDownControl {
	position: relative ;
}
.UIDropDownControl .UIDropDownTitle {
	cursor:pointer;
	height: 100% ;
}

.UIDropDownControl .UIOptionContainer {
	display: block ;
	background: url(background/MLItemSelector3x1.png) repeat-y left center;
	padding-left:3px;
}
.UIDropDownControl .UIItemListContainer {
	background: url(background/MRItemSelector3x1.png) repeat-y right center;
	padding-right:3px;
}
.UIDropDownControl .UIItemList {
	background:white url(/eXoMacSkin/skin/MacSkin/background/Background1x4.png) repeat;
}

.UIDropDownControl .UIOptionItem {
	text-decoration:none ;
	display: block ;
	padding: 4px 4px 4px 17px ;
	color: black ;
	border-bottom: 1px solid #e0e0e0 ;
	border-top: 1px solid #ffffff ;
	height: 100% ;
}

.UIDropDownControl .BLItemSelector {
	background: url(background/BLItemSelector4x4.png) no-repeat left center;
	padding-left:4px;
}

.UIDropDownControl .BRItemSelector {
	background: url(background/BRItemSelector4x4.png) no-repeat right center;
	padding-right:4px;
}

.UIDropDownControl .BCItemSelector {
	background: url(background/BCItemSelector1x4.png) repeat-x ;
	height: 4px;
}


.UIDropDownControl .UIDropDownLeftTitle {
	background: url(background/LeftItemInfoBar4x24.png) no-repeat left center;
	padding-left: 4px;
}

.UIDropDownControl .UIDropDownRightTitle {
	background: url(background/RightItemInfoBar3x24.png) no-repeat right center;
	padding-right: 3px;
}

.UIDropDownControl .UIDropDownMiddleTitle {
	background: url(background/ItemInfoBarBG1x24.png) repeat-x center;
	cursor: pointer;
	height: 24px;
}

.UIDropDownControl .UIDropDownMiddleTitle .Icon {
	float:left;
}

.UIDropDownControl .DropDownSelectIcon {
	background: url(background/DropDownButton.gif) no-repeat right center;
	cursor:pointer;
	float:right;
	height:22px;
	width:16px;
}

.UIDropDownControl .DropDownSelectLabel {
	float:left;
	font-size: 10px;
	font-weight: bold;
	line-height: 22px;
	margin-left: 5px;
	overflow: hidden;
	color: #3F7FBF;
}

.UIDropDownControl .EditIcon {
	background:transparent url(icons/ManageButton.gif) no-repeat center top;
	cursor:pointer;
	height:21px;
	width:20px;
	float: right;
}

.UIDropDownControl .UIOptionItem {
	height: 100%;
	background: transparent url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif) no-repeat;
}

.UIDropDownControl .UIOptionItem:hover {
	background: #7aafe5 ;
	color: white;
}

.UIDropDownControl .UIPopupControl {
	position: absolute;
	right: -93px ;
	width: 120px ;
	top: 20px ;
}

/* -- top ---*/
.UIPopupControl .UIPopupControlTL {
	background: url(background/PopupControlTL29x16.gif) no-repeat left ;
	padding-left: 29px ;
}

.UIPopupControl .UIPopupControlTR {
	background: url(background/PopupControlTR8x6.gif) no-repeat right bottom ;
	padding-right: 8px ;
}

.UIPopupControl .UIPopupControlTC {
	background: url(background/PopupControlTC1x16.gif) repeat-x ;
	height: 16px ;
}
/* -- end top --*/

/* -- middle --*/
.UIPopupControl .UIPopupControlML {
	background: url(background/PopupControlML6x1.gif) repeat-y left ;
	padding-left: 6px ;
}
.UIPopupControl .UIPopupControlMR {
	background: url(background/PopupControlMR8x1.gif) repeat-y right ;
	padding-right: 8px ;
}

.UIPopupControl .UIPopupControlMC {
	background: #EFEFEF repeat;
}

/* -- menu Item --*/
.UIPopupControl .MenuItem {
	color: #333 ;
  background: #efefef ;
  border-bottom: 1px #cdcdcd solid ;
  cursor: pointer ;
  display: block ;
}

.UIPopupControl .MenuItem:hover {
	background: #cbcff2;
  color: #2569dc;
}

.UIPopupControl .MenuItem .ItemLabel {
	padding-left: 18px;
  height: 22px;
  line-height: 22px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left center;
}
/* -- end menuItem --*/

/* -- end midle --*/

/* -- bottom --*/
.UIPopupControl .UIPopupControlBL {
	background: url(background/PopupControlBL6x7.gif) no-repeat left;
	padding-left: 6px ;
}

.UIPopupControl .UIPopupControlBR {
	background: url(background/PopupControlBR8x7.gif) no-repeat right;
	padding-right: 8px ;
}

.UIPopupControl .UIPopupControlBC {
	background: url(background/PopupControlBC1x7.gif) repeat-x bottom;
	height: 7px;
}
/* --end bottom --*/

.UIPageNodeSelector .UIContainerConfigOptions .ComponentIcon {
	width: 16px; height: 24px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/NavigationIcon.gif') no-repeat center;
}
