/**
 * Created by The eXo Platform SARL
 * Author : Luong Trung Hieu 
 *          hieu2b1@yahoo.com         
 * March, 6 , 2007
 * version: $Id$
 */
 
 /*===================Start Calendar Table===========================*/
.UIMonthControl .MonthSelector {
	height: 20px;
}

.UIMonthControl .PreviousSelectorButton {
	float: left;
	width: 25px; height: 20px;
	background: url('DefaultSkin/background/Back25x20.gif') no-repeat;
	cursor: pointer;
}

.UIMonthControl .NextSelectorButton {
	float: right;
	width: 25px; height: 20px;
	background: url('DefaultSkin/background/Next25x20.gif') no-repeat;
	cursor: pointer;
}

.UIMonthControl .CurrentSelectedMonth {
  float: left;
  width: 184px; height: 18px;
	font-weight: bold; color: #1475e1; 
	text-align: center; 
  line-height: 18px;
	background: white;
	border-top: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
	
}

.UIMonthControl .MyCalendarBlueTitle {
	float: left;
	font-weight: bold;
	line-height: 20px;
	color: #1475e1;
	margin: 0px 0px 0px 4px;  
}

.UIMonthControl .MyCalendarBlackTitle {
	float: left;
	font-weight: bold;
	line-height: 20px;
	color: #555555; 
	cursor: pointer;
	margin: 0px 0px 0px 4px; 
}

.UIMonthControl .PrivateBlackTitle {
	float: left;
	line-height: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;  
}

.UIMonthControl .ButtonBlackTitle {
	float: left;
	line-height: 20px;
	cursor: pointer;
	margin: 3px 0px 0px 7px;  
}

.UIMonthControl .CalendarBlackTitle {
	font-size: 15px; font-weight: bold; font-family: arial;
	line-height: 20px;
	text-align: center;
	color: #555555;
	cursor: pointer;  
}

.UIMonthControl .SelectedFlatStyle {
  height: 21px;
	background: url('DefaultSkin/background/MyCalendarBar1x21.gif') repeat-x;
	margin: 0px 5px 0px 5px;
	border: solid 1px #8a8a8a;
}

.UIMonthControl .NomalFlatStyle {
  height: 21px;
	background: url('DefaultSkin/background/NomalFlatStyleBar1x21.gif') repeat-x;
	margin: 3px 5px 3px 5px;
	border: solid 1px #b7b7b7;
}

 