.UIPopupMenu {
	display: none;
	background: #e4e4fc;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	border: 1px solid #232e8d;
	cursor: default;
}

.UIPopupMenu a:hover {
	color: #1a03fa;
}

.UIPopupMenu .MiddleBar {
	margin: 1px;
	border: solid 1px #fcfcfd;
	border-top: 0px;
}

.UIPopupMenu .MenuItem {
	border-top: 1px solid #fcfcfd;
	border-bottom: 1px solid #232e8d;
	height: 26px;
	line-height: 26px;
}

.UIPopupMenu .MenuItem .MenuItemLeftIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	height: 16px;
	padding: 5px;
}

.UIPopupMenu .MenuItem .MenuItemText {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIPopupMenu .MenuItem .MenuItemRightIcon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 16px;	height: 16px;
	padding: 5px 0px;
}

.UIPopupMenu .MenuItem .MenuItemExpand {
	overflow: visible;
}

/*Use	float: left to align the popup block with this block*/

.UIPopupMenu .MenuItem .MenuItemEntry {
	overflow: hidden;	width: 100%;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	cursor: pointer;	
}

/*###################-ITEM SELECTED STYLE-#################*/

.UIPopupMenu .MenuItemSelected {
	border-top: 1px solid white;
	border-bottom: 1px solid #232e8d;
	height: 26px;
	line-height: 26px;
	background: #6daad9;
}

.UIPopupMenu .MenuItemSelected .MenuItemLeftIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	height: 16px;
	padding: 5px;
}

.UIPopupMenu .MenuItemSelected .MenuItemText {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	color: white;
}

.UIPopupMenu .MenuItemSelected .MenuItemRightIcon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 16px;	height: 16px;
	padding: 5px 0px;
}

.UIPopupMenu .MenuItemSelected .MenuItemExpand {
	overflow: visible;
}

/*Use	float: left to align the popup block with this block*/

.UIPopupMenu .MenuItemSelected .MenuItemEntry {
	overflow: hidden;	width: 100%;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	cursor: pointer;	
}

/*###################-END ITEM SELECTED STYLE-#################*/
