.UIConsoleApplication {
  overflow: auto;
	border: 0px solid green;
  height: 94%;
  min-height: 222px;
}
	
.UIConsoleApplication .UIInnerMaskLayer {
	background: #000000;
	width: 100%;
	height: 80%;
}

.UIConsoleApplication .ConsoleResult {
	color: #0098ff;
	font-size: 14px;
	font-weight: normal;
	padding: 0px 10px 0px 10px;
	height: 100%;
}

.UIConsoleApplication .CommandType {
	z-index: 1;
	border-top: 4px #dddddd ridge;
	background: #ffffff;
	width: 100%;
	height: 35px;	
}

.UIConsoleApplication .CommandType .Prompt {
	vertical-align: top;
	line-height: 100%;
	height: 100%;
	margin-right: 2px;
}

.UIConsoleApplication .CommandType .ConsoleCursor {
	height: 2px;
	width: 5px;
	border: solid 1px blue;
	font-size: 2px;
}

.UIConsoleApplication .UIMaskWindowConsole {
	display: none;
	position: absolute;
	top: 50px;
	left: 15%;
	padding: 5px;
	width: 70%;
	height: 40%;
	background-color: #ffffff;
	filter: alpha(opacity=92);
	opacity: 0.92;
}

.UIConsoleApplication .UIMaskWindowConsole .ConsoleQuickHelp {
	font-size: 14px;
	background-color: #5C5C5C;
	color: #FBB906;
	width: 100%;
	height: 100%;
	overflow: auto;
	filter: alpha(opacity=92);
	opacity: 0.92;
}

.UIConsoleApplication .UIMaskWindowConsole .ConsoleQuickHelp div {
	padding: 15px 10px 15px 10px;
}