/*##########################################################*/
.UIPageDesktop .UIWindow {
  width: 780px ;	
}

.UIPageDesktop .UIWindow .UIAccountPortlet{
  margin: 0px ;
  border: none;
}

.UIPageDesktop .UIWindow .UIApplication {
  height: 360px ;
}

.UIWindow .UIApplication {
	overflow: auto;
}

/**************************** UIPageBody ************************************/

.UIPageBody .UIWindow {
  width: auto ; height: auto;
}

.UIPageBody .UIWindow .UIContentPortlet{
  border: none;
  margin: 0px;
}

.UIPageBody .UIWindow .UIApplication {
  height: auto ;
}

.UIPageBody .UIApplicationRegistryPortlet {
	width: 99%;
	margin: auto;
	margin-bottom: 10px;
}

.UIPortal .VIEW-PORTLET .UIWindow {
  width: 99% ; height: auto;
  margin: auto; 
}

.UIPageBody .UIWindow .ResizeArea {
  float: right ;
  width: 0px ; height: 0px ;
  background: url('null') repeat bottom right;
}

.UIPageBody .Empty {
  width: 500px;
  margin: 30px auto 30px auto;
}

.UIPageBody .UIPortalWarning {
  font-family: tahoma;
  font-size: 12px;
}

.UIPageBody .UIPortalWarning .LeftTopWarning {
  background: url('/eXoResources/skin/sharedImages/LeftTopWarning7x58.gif') no-repeat left top;	
  height: 40px;
  padding-left: 7px;
}

.UIPageBody .UIPortalWarning .RightTopWarning {
  background: url('/eXoResources/skin/sharedImages/RightTopWarning7x58.gif') no-repeat right top;	
  height: 40px;
  padding-right: 7px;
}

.UIPageBody .UIPortalWarning .CenterTopWaring {
  background: url('/eXoResources/skin/sharedImages/CenterTopWarning1x58.gif') repeat-x top;	
  height: 40px;
  line-height: 40px;
}

.UIPageBody .UIPortalWarning .CenterTopWaring  .TitleWaring {
  background: url('/eXoResources/skin/sharedImages/WarningIcon.gif') no-repeat left center;	
  padding-left: 50px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-align: left;
  margin-left: 20px;
}

.UIPageBody .UIPortalWarning .LeftMiddleWarning {
  background: white url('/eXoResources/skin/sharedImages/LeftMiddleWarning7x1.gif') repeat-y left;	
  padding-left: 7px; 
}

.UIPageBody .UIPortalWarning .RightMiddleWarning {
  background: url('/eXoResources/skin/sharedImages/RightMiddleWarning7x1.gif') repeat-y right;	
  text-align: left;
  padding: 30px 30px 50px 30px;
}

.UIPageBody .UIPortalWarning .RightMiddleWarning .Icon {
  background: url('/eXoResources/skin/sharedImages/BlueNextArrow.gif') no-repeat left 5px;	
  padding: 6px 0px 6px 20px;
  text-align: left;
}

.UIPageBody .UIPortalWarning .LeftBottomWarning {
  background: url('/eXoResources/skin/sharedImages/LeftBottomWarning7x7.gif') no-repeat left center;	
  height: 7px;
  padding-left: 7px;
}

.UIPageBody .UIPortalWarning .RightBottomWarning {
  background: url('/eXoResources/skin/sharedImages/RightBottomWarning7x7.gif') no-repeat right center;	
  height: 7px;
  padding-right: 7px;
}

.UIPageBody .UIPortalWarning .CenterBottomWaring {
  background: url('/eXoResources/skin/sharedImages/CenterBottomWarning1x7.gif') repeat-x center;	
  height: 7px;
}


/********************* Icon InfoBar ************************************/
.UIWindow .OrganizationPortletIcon {
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/AddNodeIcon.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Content {
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/RSS.gif') no-repeat center;
  width: 26px; height:16px;
}

.UIWindow .WindowPortletInfo .Account {
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/UserAccount.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Registry-Portlet {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/RegistryPortlet.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Site {
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/SiteMap.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Login {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ToolIcons/Key.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Mail {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/OfficeIcons/Mail.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Forum {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ForumIcon.gif') no-repeat center;
}


.UIWindow .WindowPortletInfo .ECMAdminIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ECMAdmin.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .ExplorerIcon{
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/JCRExplorer.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Dialog{
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DialogIcon.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Browse{
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Workflow{
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/WorkflowIcon.gif') no-repeat center;
}
/********************* End Icon InfoBar ************************************/

