.UIBreadcumbsPortlet {
	padding: 0px 8px;
	height: 28px; 
}

.UIBreadcumbs {
  height: 28px ;
}

.UIBreadcumbs a {
	float: left ; /* orientation=lt */
	float: right ; /* orientation=rt */
}

.UIBreadcumbs a.Selected {
	color: #0073A9 ;  
}

.UIBreadcumbs .HomeIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  margin: 5px 7px 0px 3px ; /* orientation=lt */
  margin: 5px 3px 0px 7px ; /* orientation=rt */
  width: 16px; height: 16px;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/HomeIcon.gif') no-repeat center;
}

.UIBreadcumbs .LeftBreadcumbsBar {
  padding: 0 9px;
  background: url('background/BreadcumbsBg.gif') repeat-x left top;
}

.UIBreadcumbs .BreadcumbsInfoBar {
  height: 28px; 
  line-height: 28px; 
  vertical-align: middle;
  white-space: nowrap;
}

.UIBreadcumbs .RightBlackGridArrowIcon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  margin: 3px 5px;
}