.loginHistoryContent {height:100px; overflow:auto;}
.loginHistoryItem {color:#484848;}
.loginHistoryItemDetail {font-size:9px; margin-left:3px; color:#757575;}
.customLink:hover {text-decoration:underline; color:#226ab4; cursor:pointer;}

#accordion .ui-icon { display: none; }
#accordion .ui-accordion-header a { padding-left: 8px; }
#accordion .ui-accordion-content { padding-left: 16px; }

