.UICreatePage {
  padding: 8px 5px 5px 5px;
}

.UICreatePage .UIContainerConfigOptions {
  margin: 0px 6px;
}

.UICreatePage .CreatePageContainer {
	border: solid 1px #bcbcbc;
	background: #f2f2f2;
	padding-bottom: 5px;
}

.UICreatePage .TopTitleBar {
  margin-bottom: 10px;
  padding: 0px 10px ;
}

.UICreatePage .PageLayoutModeIcon {
  float: left;
  width: 24px; height: 22px;
  margin: 6px 18px 0px 30px;
  background: url('DefaultSkin/icons/PageLayout.gif') no-repeat ;
  cursor: pointer ;
}

.UICreatePage .PagePreviewIcon {
  float: left;
  width: 24px; height: 22px;
  margin: 6px 18px 0px 30px;
  background: url('DefaultSkin/icons/PagePreview.gif') no-repeat ;
}

.UICreatePage .EditContainerIcon {
  float: left;
  width: 27px; height: 22px;
  margin: 6px 18px 0px 18px;
  background: url('DefaultSkin/icons/EditContainer.gif') no-repeat ;
}

.UICreatePage .EditPortletIcon {
  float: left;
  width: 27px; height: 22px;
  margin: 6px 0px 0px 24px;
  background: url('DefaultSkin/icons/EditPortlet.gif') no-repeat ;
}

.UICreatePage .NavigationPortalIcon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/MiniOrangeBoxPage.gif') ;
}

.UICreatePage .UITree {
  padding: 3px;
  background: white;
  border: 1px #5f90ba solid;
}

.UICreatePage .UITree .TreeContainer {
  padding: 6px 0px 6px 0px ;
  border: 1px #b7b7b7 solid;
}
 
.UICreatePage .UITree .TreeContainer .TreeLevelContainer {
  margin: 6px 0px 3px 0px;
}

.UICreatePage .UITree .TreeContainer .Node {
  margin: 5px 0px 4px 0px ;
  padding-left: 5px;
  width: auto;
  height: 20px;
  color: black;
}

.UICreatePage .UITree .TreeContainer .Node a {
  color: black;
}

.UICreatePage .UITree .TreeContainer .Node a:hover {
  color: orange;
}

.UICreatePage .UITree .TreeContainer .NodeSelected {
  background: #d8def4;
  height: 16px ; line-height: 16px; vertical-align: middle;
  border: 1px solid #b0c7e9;
  font-weight: bold; color: blue; 
  margin-left: 0px;
}

.UICreatePage .UITree .TreeContainer .Node .ExpandIcon {
  margin: 2px 2px 0px 0px ;
}

.UICreatePage .UITree .TreeContainer .Node .ColapseIcon {
  margin: 2px 2px 0px 0px ;
}

.UICreatePage .UITree .TreeContainer .Node .Icon {
  width: 16px;  height: 16px ;
  margin: 2px 0px 0px 2px;
}

.UICreatePage .UITree .TreeContainer .Node .NoteLabel {
  cursor: pointer ;
  margin: 0px 0px 0px 2px ;
  float: left ;
  height: 16px; line-height: 16px; 
  vertical-align: middle ;
  color: black; font-weight: bold;
}

.UICreatePage .UIToolbar .EditToolbar {
  padding: 0px 6px;
}

.UICreatePage .UIToolbar .EditToolbar .Icon{
	margin: 5px 12px 0px 27px;
}

.UICreatePage .CreatePageContainer .CreatePageLabel {
	color:#656565;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}

.UICreatePage .UIPortletOptions {
	margin: 0px 6px;
}

.BackNavigationContent {
	padding: 5px 0px 0px 15px;
}

.BackNavigationContent .BackNavigationIcon {
	height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/BackIcon.gif') no-repeat;
	padding-left: 22px;
	cursor: pointer ;
}

.BackNavigationContent .BackNavigationLabel {
	line-height: 16px;
}