.UIItemSelector {
  margin: 2px 0px 2px 2px;
}

.UIItemSelector .ItemDetailList {
  margin-right: 250px;
  padding: 25px 0px 10px 0px;
  border: 1px #b7b7b7 solid;
  background: white;
   border: solid 1px red;
}

.UIItemSelector .ItemDetailList .TemplateContainer .PortalOfficeImage {
  height: 230px;
  background: url('DefaultSkin/background/OfficeImage.jpg') no-repeat center;
}

.UIItemSelector .ItemDetailList .TemplateContainer .PortalDefaultImage {
  height: 230px;
  background: url('DefaultSkin/background/DefaultImage.jpg') no-repeat center;
}

.UIItemSelector .ItemDetailList .TemplateContainer .PageDefaultImage {
  height: 230px;
  background: url('DefaultSkin/background/Default.jpg') no-repeat center;
}
.UIItemSelector .ItemDetailList .TemplateContainer .PageDesktopImage {
  height: 230px;
  background: url('DefaultSkin/background/DesktopImage.jpg') no-repeat center;
}

.UIItemSelector .ItemDetailList .TemplateContainer .DefaultImage {
  height: 230px;
  background: url('DefaultSkin/background/DefaultImage.jpg') no-repeat center;
}

.UIItemSelector .ItemDetailList .ItemDescription {
  height: 100px; 
  background: white;
  border: solid 1px #b7b7b7;
  padding: 2px;
}

.UIItemSelector .ItemDetailList .ItemDetail .ItemValueDescription {
  width: 50%; height: 53px; 
  font-size: 11px;
  padding-left: 15px; margin-top: 12px; 
  overflow: auto;
  border: none;
}

/*#######################################-----Normal Style-----####################################*/

.UIItemSelector .NormalStyle {
  width: 100%;
  overflow: hidden;
}

.UIItemSelector .NormalStyle .ItemListContainer{
  width: 240px;
  float: right;
}

.UIItemSelector .NormalStyle .ItemListContainer .ItemList {
  background: white;
  border: solid 1px #b7b7b7;
  padding: 3px;
  height: 235px;
}

.UIItemSelector .NormalStyle .ItemListContainer .ItemListBg {
  margin-bottom: 10px;
  background: url('DefaultSkin/background/ItemSelectorBBg1x120.gif') repeat-x bottom;
}

.UIItemSelector .NormalStyle .ItemListContainer .ItemListBgIcon {
  height: 265px;
  padding-top: 10px;
  
  background: url('DefaultSkin/background/IconsBoxBg100x65.gif') no-repeat bottom right;
}

.UIItemSelector .NormalStyle .ItemListContainer .ItemListTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  font-size: 11px; text-align: center; color: #262626;
  border: solid 1px #b7b7b7; 
  background: url('DefaultSkin/background/TitleBG1x24.gif') repeat-x;
  margin-bottom: 2px; 
}

/*###########################- Item Default -#############################*/
.UIItemSelector .NormalStyle .ItemList .Item {
  margin: 12px 4px 0px 4px;
  height: 24px;
  cursor: pointer;
}

.UIItemSelector .NormalStyle .ItemList .Item .ItemIcon {
  height: 24px;
  background: url('DefaultSkin/background/NormalItemL21x24.gif') no-repeat left;
  padding-left: 21px;
}

.UIItemSelector .NormalStyle .ItemList .Item .ItemName {
  height: 24px; line-height: 24px;
  vertical-align: middle;
  background: url('DefaultSkin/background/NormalItemR11x24.gif') no-repeat right;
  padding-right: 11px;
}

.UIItemSelector .NormalStyle .ItemList .Item .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  background: url('DefaultSkin/background/NormalItemM1x24.gif') repeat-x ;
  font-size: 11px; color: #526791;
  padding-left: 10px;
}

/*###########################- End Item Default -##########################*/

/*###########################- Item Selected -#############################*/
.UIItemSelector .NormalStyle .ItemList .ItemSelected {
  margin: 12px 4px 0px 4px;
  height: 24px;
  cursor: pointer;
}

.UIItemSelector .NormalStyle .ItemList .ItemSelected .ItemIcon {
  height: 24px;
  background: url('DefaultSkin/background/SelectedItemL21x24.gif') no-repeat left;
  padding-left: 21px;
}

.UIItemSelector .NormalStyle .ItemList .ItemSelected .ItemName {
  height: 24px; line-height: 24px; vertical-align: middle;
  background: url('DefaultSkin/background/SelectedItemR11x24.gif') no-repeat right;
  padding-right: 11px;
}

.UIItemSelector .NormalStyle .ItemList .ItemSelected .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  background: #d3d3eb ;
  font-size: 11px; color: black;
  padding-left: 10px;
}

/*###########################- End Item Selected -#########################*/

/*###########################- Item Over -#################################*/
.UIItemSelector .NormalStyle .ItemList .ItemOver {
  margin: 12px 4px 0px 4px;
  height: 24px;
  cursor: pointer;
}

.UIItemSelector .NormalStyle .ItemList .ItemOver .ItemIcon {
  height: 24px;
  background: url('DefaultSkin/background/OverItemL21x24.gif') no-repeat left;
  padding-left: 21px;
}


.UIItemSelector .NormalStyle .ItemList .ItemOver .ItemName {
  height: 24px; line-height: 24px;  vertical-align: middle;
  background: url('DefaultSkin/background/OverItemR11x24.gif') no-repeat right;
  padding-right: 11px;
}

.UIItemSelector .NormalStyle .ItemList .ItemOver .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  background: #e5e3fc;
  font-size: 11px; color: blue;
  padding-left: 10px;
}

/*###########################- Item Over -#################################*/

/*#######################################-----End Normal Style-----##################################*/



/*#######################################-----Big Style-----####################################*/

.UIItemSelector .BigStyle {
  overflow: hidden;
  width: 99.5%;
}

.UIItemSelector .BigStyle .ItemListContainer {
  float: right;
  width: 210px;
}

.UIItemSelector .BigStyle .ItemListContainer .ItemList {
  border: 1px #b7b7b7 solid;
  font-weight: bold; color: #484d52;
  background: white;
  padding-top: 15px;
}

.UIItemSelector .BigStyle .ItemDetailList {
  border: 1px #b7b7b7 solid;
  background: white;
  padding: 1px; margin-right: 220px;
}


.UIItemSelector .BigStyle .ItemListContainer .ItemListTitle {
  font-size: 12px; text-align: center;
  height: 20px; line-height: 20px;
  border: solid 1px #b7b7b7;
  font-size: 11px; font-weight: bold; 
  margin-bottom: 2px;
  background: url('DefaultSkin/background/TitleBG1x20.gif') repeat-x;
}

.UIItemSelector .BigStyle .ImageDecorator {
  background: url('DefaultSkin/background/BigStyleDecorator166x130.gif') no-repeat right bottom ;
  height: 273px;
  padding: 5px;
}

/*###########################- Item Default -#############################*/
.UIItemSelector .BigStyle .ItemList .Item {
  margin: 13px 6px;
  height: 32px;
  cursor: pointer;
}

.UIItemSelector .BigStyle .ItemList .Item .UserAccountIcon { 
  height: 32px;
  background: url('DefaultSkin/background/BigStyleUserAccountItem.gif') no-repeat;
}

.UIItemSelector .BigStyle .ItemList .Item .MembershipIcon {  
   height: 32px;
  background: url('DefaultSkin/background/BigStyleMembershipItem.gif') no-repeat;
}

.UIItemSelector .BigStyle .ItemList .Item .UserProfileIcon {  
  height: 32px;
  background: url('DefaultSkin/background/BigStyleProfileItem.gif') no-repeat;
  padding-left: 30px;
}

.UIItemSelector .BigStyle .ItemList .Item .UserHomeInfoIcon {    
  height: 32px;
  background: url('DefaultSkin/background/BigStyleUserHomeItem.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .BigStyle .ItemList .Item .UserBusinessInfoIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleBusinessItem.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .BigStyle .ItemList .Item .ItemName {
  height: 32px; line-height: 32px;
  vertical-align: middle;  color: #526791;
  background: url('DefaultSkin/background/BigStyleItemNormalR.gif') no-repeat right;
  padding-right: 15px; 
}

.UIItemSelector .BigStyle .ItemList .Item .ItemTitle {
  height: 32px; line-height: 32px; vertical-align: middle;
  font-size: 11px; font-weight: bold; color: #3e3d3d;
  background: url('DefaultSkin/background/BigStyleNormalRepeatBG.gif') repeat-x ;
  padding-left: 10px;
}

/*###########################- End Item Default -##########################*/

/*###########################- Item Selected -#############################*/
.UIItemSelector .BigStyle .ItemList .ItemSelected {
  height: 32px;
  margin: 13px 6px;
  cursor: pointer;
}

.UIItemSelector .BigStyle .ItemList .ItemSelected .UserAccountIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleUserAccountSelected.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .BigStyle .ItemList .ItemSelected .MembershipIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleMembershipSelected.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .BigStyle .ItemList .ItemSelected .UserProfileIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleProfileSelected.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .BigStyle .ItemList .ItemSelected .UserHomeInfoIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleUserHomeSelected.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .BigStyle .ItemList .ItemSelected .UserBusinessInfoIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleBusinessSelected.gif') no-repeat left;
}

.UIItemSelector .BigStyle .ItemList .ItemSelected .ItemName {
  height: 32px; line-height: 32px; vertical-align: middle;
  color: black;
  background: url('DefaultSkin/background/BigStyleItemSelectedR.gif') no-repeat right;
  padding-right: 15px;
}

.UIItemSelector .BigStyle .ItemList .ItemSelected .ItemTitle {
  height: 32px; line-height: 32px; vertical-align: middle;
  background: #d3d3eb;
  font-size: 11px; font-weight: bold; color: black;
  padding-left: 10px;
}

/*#####################- End Item Selected && END BIG STYLE -#########################*/

/*###########################- FloatRightStyle -#########################*/

.UIItemSelector .FloatRightStyle {
  width: 99.5%;
  overflow: hidden;
}

.UIItemSelector .FloatRightStyle .ItemListContainer {
  float: left;
  width: 210px;
}

.UIItemSelector .FloatRightStyle .ItemListContainer .ItemList {
  border: 1px #b7b7b7 solid;
  border-top: 0px ;
  font-weight: bold; color: #484d52;
  background: #f6f6f6;
  padding: 5px 0px ;
}

.UIItemSelector .FloatRightStyle .ItemDetailList {
  height: auto;
  background: #f6f6f6;
  border: 1px #b7b7b7 solid ;
  margin-left: 220px;
  padding: 1px ;
}

.UIItemSelector .FloatRightStyle .ItemListContainer .ItemListTitle {
  font-size: 12px; text-align: center;
  height: 20px; line-height: 20px;
  border: solid 1px #b7b7b7;
  font-size: 11px; font-weight: bold;
  background: url('DefaultSkin/background/TitleBG1x20.gif') repeat-x;
}

/*##########################- Item Defaul -#########################*/

.UIItemSelector .FloatRightStyle .ItemList .Item {
  height: 23px ;
  margin: 8px 4px ;
  cursor: pointer ;
}

.UIItemSelector .FloatRightStyle .ItemList .Item .ItemIcon {
  height: 23px;
  background: url('DefaultSkin/background/RightItemL32x23.gif') no-repeat left;
  padding-left: 32px;
}

.UIItemSelector .FloatRightStyle .ItemList .Item .ItemName {
  height: 23px; line-height: 23px; vertical-align: middle;
  background: url('DefaultSkin/background/RightItemR11x23.gif') no-repeat right;
  padding-right: 11px;
}

.UIItemSelector .FloatRightStyle .ItemList .Item .ItemTitle {
  height: 23px; line-height: 23px; vertical-align: middle;
  background: url('DefaultSkin/background/RightItemM1x23.gif') repeat-x ;
  font-size: 11px; color: #526791;
  padding-left: 10px;
}

/*###########################- Item Over -############################*/

.UIItemSelector .FloatRightStyle .ItemList .ItemOver {
  margin: 8px 4px ;
  height: 23px ;
  cursor: pointer ;
}

.UIItemSelector .FloatRightStyle .ItemList .ItemOver .ItemIcon {
  height: 23px;
  background: url('DefaultSkin/background/RightItemOverL32x23.gif') no-repeat left;
  padding-left: 32px;
}


.UIItemSelector .FloatRightStyle .ItemList .ItemOver .ItemName {
  height: 23px; line-height: 23px;  vertical-align: middle;
  background: url('DefaultSkin/background/RightItemOverR32x23.gif') no-repeat right;
  padding-right: 11px;
}

.UIItemSelector .FloatRightStyle .ItemList .ItemOver .ItemTitle {
  height: 23px; line-height: 23px; vertical-align: middle;
  background: url('DefaultSkin/background/RightItemOverM1x23.gif') repeat-x ;
  font-size: 11px; color: #059ce2;
  padding-left: 10px;
}

/*##########################- Item Selected -#########################*/

.UIItemSelector .FloatRightStyle .ItemList .ItemSelected {
  height: 23px ;
  margin: 8px 4px ;
  cursor: pointer ;
}

.UIItemSelector .FloatRightStyle .ItemList .ItemSelected .ItemIcon {
  height: 23px;
  background: url('DefaultSkin/background/RightItemSelectedL33x23.gif') no-repeat left;
  padding-left: 33px;
}

.UIItemSelector .FloatRightStyle .ItemList .ItemSelected .ItemName {
  height: 23px; line-height: 23px; vertical-align: middle ;
  background: url('DefaultSkin/background/RightItemSelectedR11x23.gif') no-repeat right;
  padding-right: 11px;
}

.UIItemSelector .FloatRightStyle .ItemList .ItemSelected .ItemTitle {
  height: 23px; line-height: 23px; vertical-align: middle;
  font-size: 11px; color: black;
  background: url('DefaultSkin/background/RightItemSelectedM1x23.gif') repeat-x ;
  padding-left: 10px;
}

/*###########################- End RightItemListStyle -#########################*/

/*###########################- Layout Template -#########################*/

.UIItemSelector .DefaultTemplate {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/PageFormDefault.jpg') no-repeat center;
}  

.UIItemSelector .EmptyLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/EmptyLayout.jpg') no-repeat;
}
.UIItemSelector .DesktopLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/DesktopLayout.jpg') no-repeat;
}

.UIItemSelector .TwoColumnsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/TwoColumnsLayout.jpg') no-repeat;
}

.UIItemSelector .ThreeColumnsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/ThreeColumnsLayout.jpg') no-repeat;
}

.UIItemSelector .TwoColumnsOneRowLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/TwoColumnsOneRowLayout.jpg') no-repeat;
}

.UIItemSelector .TwoColumnsTwoRowsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/TwoColumnsTwoRowsLayout.jpg') no-repeat;
}

.UIItemSelector .TwoRowsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/TwoRowsLayout.jpg') no-repeat;
}

.UIItemSelector .ThreeRowsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/ThreeRowsLayout.jpg') no-repeat;
}

.UIItemSelector .OneRowTwoColumnsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/OneRowTwoColumnsLayout.jpg') no-repeat;
}

.UIItemSelector .TwoTabsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/TwoTabsLayout.jpg') no-repeat;
}

.UIItemSelector .ThreeTabsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/ThreeTabsLayout.jpg') no-repeat;
}

.UIItemSelector .ThreeRowsTwoColumnsLayout {
  width: 250px; height: 170px;
  background: url('DefaultSkin/background/ThreeRowsTwoColumnsLayout.jpg') no-repeat;
}