.UIItemSelector {
  margin: 2px 0px 2px 2px;
}

.UIItemSelector .ItemDetailList .TemplateContainer .PortalOfficeImage {
  height: 230px;
  background: url('MacSkin/background/OfficeImage.jpg') no-repeat center;
}

.UIItemSelector .ItemDetailList .TemplateContainer .PortalDefaultImage {
  height: 230px;
  background: url('MacSkin/background/DefaultImage.jpg') no-repeat center;
}

.UIItemSelector .ItemDetailList .TemplateContainer .PageDefaultImage {
  height: 230px;
  background: url('MacSkin/background/DefaultImage.jpg') no-repeat center;
}
.UIItemSelector .ItemDetailList .TemplateContainer .PageDesktopImage {
  height: 230px;
  background: url('MacSkin/background/DesktopImage.jpg') no-repeat center;
}

.UIItemSelector .TemplateContainer .DefaultImage {
  height: 230px;
  background: url('MacSkin/background/DefaultImage.jpg') no-repeat center;
  margin-top: 3px;
}

.UIItemSelector .TemplateContainer .DesktopImage {
  background: url('MacSkin/background/DesktopImage.jpg') no-repeat center;
  height: 230px;
  margin-top: 3px;
}

.UIItemSelector .ItemDetailList .LayoutHolder .DesktopImage {
  background: url('MacSkin/background/DesktopImage.gif') no-repeat center;
  width: 250px;
  height: 173px;
}

.UIItemSelector .ItemDetailList .ItemDescription {
  height: 100px; 
  background: white;
  border: solid 1px #b7b7b7;
  padding: 2px;
}

.UIItemSelector .ItemDetailList .ItemDetail .ItemValueDescription {
  width: 50%; height: 53px; 
  font-size: 11px;
  padding-left: 15px; margin-top: 12px; 
  overflow: auto;
  border: none;
}
/*=================Right Column Style======================*/
.UIItemSelector .RightColumnStyle {
  width: 99.5%;
  overflow: hidden;
}

.UIItemSelector .RightColumnStyle .ItemListContainer {
  float: right;
  width: 220px;
}

.UIItemSelector .RightColumnStyle .ItemList {
  border: 1px #a4a4a4 solid;
  background: white url('DefaultSkin/background/ItemListBg165x127.gif') no-repeat right bottom;
  height: 240px;
}

.UIItemSelector .RightColumnStyle .ItemListContainer .ItemListBackground {
  background: white url('DefaultSkin/background/ItemListBg165x127.gif') no-repeat right bottom;
  height: 260px;
}

.UIItemSelector .RightColumnStyle .ItemDetailList {
  height: auto;
  margin-right: 225px;
  padding: 1px ;
}

.UIItemSelector .RightColumnStyle .ItemDetailList .ItemDetail {
  height: 240px;
  background: white;
  border: 1px #a4a4a4 solid ;
}

.UIItemSelector .RightColumnStyle .ItemDetailList .ItemDetailTitle{
  height: 22px;
}

.UIItemSelector .RightColumnStyle .ItemDetailList .ItemDetailContainer{
 	background: #ffffff;
}

.UIItemSelector .RightColumnStyle .ItemListTitle .ArrowS1Down16x16Icon {
  margin: 3px 0px 0px 50px;
  background: url('/eXoResources/icons/16x16/MacSkin/GrayAquaDownArrow.png') no-repeat;
  width: 18px; height: 18px;
}

.UIItemSelector .RightColumnStyle .ItemListTitle {
	height: 23px;
}

.UIItemSelector .RightColumnStyle .TitleIcon {
  float: left;
  margin: 0px 5px 0px 5px;
}

.UIItemSelector .RightColumnStyle .Title {
  line-height: 22px; vertical-align: middle;
  font-weight: bold; color: #5c5c5c; font-size: 11px;
  float: left;
}

.UIItemSelector .RightColumnStyle .ItemListIcon {
	width: 16px; height: 16px;
	background: url('MacSkin/icon/16x16/ItemListIcon.png') no-repeat;
	margin-top: 3px;
}

.UIItemSelector .RightColumnStyle .ViewListIcon {
	width: 16px; height: 16px;
	background: url('MacSkin/icon/16x16/ViewListIcon.png') no-repeat;
	margin-top: 3px;
}

/*##########################- Default Item  -#########################*/

.UIItemSelector .RightColumnStyle .ItemList .Item {
  height: 24px ; 
  cursor: pointer ;
}

.UIItemSelector .RightColumnStyle .ItemList .Item .LeftItem {
  height: 24px;
  background: url('MacSkin/background/LeftDefaultItem13x24.gif') no-repeat left;
  padding-left: 13px;
}

.UIItemSelector .RightColumnStyle .ItemList .Item .RightItem {
  height: 24px; line-height: 24px; vertical-align: middle;
  background: url('MacSkin/background/RightDefaultItem1x24.gif') repeat-x;
}

.UIItemSelector .RightColumnStyle .ItemList .Item .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  font-size: 11px;
  padding-left: 8px;
}

/*###########################- Over Item (When mouse over on this item) -############################*/

.UIItemSelector .RightColumnStyle .ItemList .OverItem {
  height: 24px ;
  cursor: pointer ;
}

.UIItemSelector .RightColumnStyle .ItemList .OverItem .LeftItem {
  height: 24px;
  background: url('MacSkin/background/LeftOverItem13x24.gif') no-repeat left;
  padding-left: 13px;
}

.UIItemSelector .RightColumnStyle .ItemList .OverItem .RightItem {
  height: 24px; line-height: 24px;  vertical-align: middle;
  background: url('MacSkin/background/RightOverItem1x24.gif') repeat-x;
}

.UIItemSelector .RightColumnStyle .ItemList .OverItem .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  font-size: 11px; color: #F7810F;
  padding-left: 8px;
}

/*##########################- Selected Item  (When Item is selected)-#########################*/

.UIItemSelector .RightColumnStyle .ItemList .SelectedItem {
  height: 24px ;
  cursor: pointer ;
}

.UIItemSelector .RightColumnStyle .ItemList .SelectedItem .LeftItem {
  height: 24px;
  background: url('MacSkin/background/LeftSelectedItem13x24.gif') no-repeat left;
  padding-left: 13px;
}

.UIItemSelector .RightColumnStyle .ItemList .SelectedItem .RightItem {
  height: 24px; line-height: 24px; vertical-align: middle ;
  background: url('MacSkin/background/RightSelectedItem1x24.gif') repeat-x;
}

.UIItemSelector .RightColumnStyle .ItemList .SelectedItem .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  font-size: 11px; 
  padding-left: 8px;
}

/*#######################################-----RightColumnBigItemStyle-----####################################*/

.UIItemSelector .RightColumnBigItemStyle {
  overflow: hidden;
  width: 99.5%;
}

.UIItemSelector .RightColumnBigItemStyle .ItemListContainer {
  float: right;
  width: 210px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemListContainer .ItemList {
  border: 1px #b7b7b7 solid;
  background: #ffffff url('MacSkin/background/ProfileImage.jpg') no-repeat bottom center;
  height: 290px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemDetailList {
  border: 1px #b7b7b7 solid;
  background: white;
  padding: 1px; margin-right: 220px;
  height: 311px;
}


.UIItemSelector .RightColumnBigItemStyle .ItemListContainer .ItemListTitle {
  font-size: 12px; text-align: center;
  height: 19px; line-height: 19px;
  border: solid 1px #b7b7b7;
  font-size: 11px; font-weight: bold; 
  margin-bottom: 2px;
  background: url('/eXoResources/background/MacSkin/TitleBG1x19.gif') repeat-x;
}

.UIItemSelector .RightColumnBigItemStyle .ImageDecorator {
  height: 230px;
  padding: 5px;
}

/*###########################- Item Default -#############################*/
.UIItemSelector .RightColumnBigItemStyle .ItemList .Item {
  margin: 13px 6px;
  height: 32px;
  cursor: pointer;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .Item .UserAccountIcon { 
  height: 32px;
  background: url('DefaultSkin/background/BigStyleUserAccountItem.gif') no-repeat;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .Item .MembershipIcon {  
   height: 32px;
  background: url('DefaultSkin/background/BigStyleMembershipItem.gif') no-repeat;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .Item .UserProfileIcon {  
  height: 32px;
  background: url('DefaultSkin/background/BigStyleProfileItem.gif') no-repeat;
  padding-left: 30px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .Item .UserHomeInfoIcon {    
  height: 32px;
  background: url('DefaultSkin/background/BigStyleUserHomeItem.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .Item .UserBusinessInfoIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleBusinessItem.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .Item .ItemName {
  height: 32px; line-height: 32px;
  vertical-align: middle;
  background: url('DefaultSkin/background/BigStyleItemNormalR.gif') no-repeat right;
  padding-right: 15px; color: #526791;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .Item .ItemTitle {
  height: 32px; line-height: 32px; vertical-align: middle;
  background: url('DefaultSkin/background/BigStyleNormalRepeatBG.gif') repeat-x ;
  color: gray;
  padding-left: 10px;
}


/*###########################- Item Selected -#############################*/
.UIItemSelector .RightColumnBigItemStyle .ItemList .SelectedItem {
  margin: 13px 6px;
  height: 32px;
  cursor: pointer;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .SelectedItem .UserAccountIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleUserAccountSelected.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .SelectedItem .MembershipIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleMembershipSelected.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .SelectedItem .UserProfileIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleProfileSelected.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .SelectedItem .UserHomeInfoIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleUserHomeSelected.gif') no-repeat left;
  padding-left: 30px;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .SelectedItem .UserBusinessInfoIcon {
  height: 32px;
  background: url('DefaultSkin/background/BigStyleBusinessSelected.gif') no-repeat left;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .SelectedItem .ItemName {
  height: 32px; line-height: 32px; vertical-align: middle;
  background: url('DefaultSkin/background/BigStyleItemSelectedR.gif') no-repeat right;
  padding-right: 15px;
  color: black;
}

.UIItemSelector .RightColumnBigItemStyle .ItemList .SelectedItem .ItemTitle {
  height: 32px; line-height: 32px; vertical-align: middle;
  background: #d3d3eb;
  font-weight: bold; color: black;
  padding-left: 10px;
}

/*#####################- End Item Selected && END BIG STYLE -#########################*/

/*###########################- LeftColumnStyle (The Item List is on the left side) -#########################*/

.UIItemSelector .LeftColumnStyle {
  width: 99.5%;
  overflow: hidden;
}

.UIItemSelector .LeftColumnStyle .ItemListContainer {
  float: left;
  width: 175px;
}

.UIItemSelector .LeftColumnStyle .ItemListContainer .ItemList {
  border: 1px #a4a4a4 solid;
}

.UIItemSelector .LeftColumnStyle .ItemDetailList {
  height: auto;
  margin-left: 180px;
  padding: 1px ;
}

.UIItemSelector .LeftColumnStyle .ItemDetailList .ItemDetail {
  height: 240px;
  background: white;
  border: 1px #a4a4a4 solid ;
}

.UIItemSelector .LeftColumnStyle .ItemDetailList .ItemDetailTitle{
  height: 22px;

}

.UIItemSelector .LeftColumnStyle .ItemListContainer .ItemListTitle {
	height: 23px;
}

.UIItemSelector .LeftColumnStyle .TitleIcon {
  float: left;
  margin: 0px 5px 0px 5px;
}

.UIItemSelector .LeftColumnStyle .Title {
  line-height: 22px; vertical-align: middle;
  font-weight: bold; font-size: 11px;
  float: left;
}

.UIItemSelector .LeftColumnStyle .ItemListIcon {
	width: 16px; height: 16px;
	background: url('MacSkin/icon/16x16/ItemListIcon.png') no-repeat;
	margin-top: 3px;
}

.UIItemSelector .LeftColumnStyle .ViewListIcon {
	width: 16px; height: 16px;
	background: url('MacSkin/icon/16x16/ViewListIcon.png') no-repeat;
	margin-top: 3px;
}

/*##########################- Default Item  -#########################*/

.UIItemSelector .LeftColumnStyle .ItemList .Item {
  height: 24px ;
  cursor: pointer ;
}

.UIItemSelector .LeftColumnStyle .ItemList .Item .LeftItem {
  height: 24px;
  background: url('MacSkin/background/LeftDefaultItem13x24.gif') no-repeat left;
  padding-left: 13px;
}

.UIItemSelector .LeftColumnStyle .ItemList .Item .RightItem {
  height: 24px; line-height: 24px; vertical-align: middle;
  background: url('MacSkin/background/RightDefaultItem1x24.gif') repeat-x;
}

.UIItemSelector .LeftColumnStyle .ItemList .Item .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  font-size: 11px;
  padding-left: 8px;
}

/*###########################- Over Item (When mouse over on this item) -############################*/

.UIItemSelector .LeftColumnStyle .ItemList .OverItem {
  height: 24px ;
  cursor: pointer ;
}

.UIItemSelector .LeftColumnStyle .ItemList .OverItem .LeftItem {
  height: 24px;
  background: url('MacSkin/background/LeftOverItem13x24.gif') no-repeat left;
  padding-left: 13px;
}


.UIItemSelector .LeftColumnStyle .ItemList .OverItem .RightItem {
  height: 24px; line-height: 24px;  vertical-align: middle;
  background: url('MacSkin/background/RightOverItem1x24.gif') repeat-x;
}

.UIItemSelector .LeftColumnStyle .ItemList .OverItem .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  font-size: 11px; color: #F7810F;
  padding-left: 8px;
}

/*##########################- Selected Item  (When Item is selected)-#########################*/

.UIItemSelector .LeftColumnStyle .ItemList .SelectedItem {
  height: 24px ;
  cursor: pointer ;
}

.UIItemSelector .LeftColumnStyle .ItemList .SelectedItem .LeftItem {
  height: 24px;
  background: url('MacSkin/background/LeftSelectedItem13x24.gif') no-repeat left;
  padding-left: 13px;
}

.UIItemSelector .LeftColumnStyle .ItemList .SelectedItem .RightItem {
  height: 24px; line-height: 24px; vertical-align: middle ;
  background: url('MacSkin/background/RightSelectedItem1x24.gif') repeat-x;
}

.UIItemSelector .LeftColumnStyle .ItemList .SelectedItem .ItemTitle {
  height: 24px; line-height: 24px; vertical-align: middle;
  font-size: 11px; 
  padding-left: 8px;
}

/*###########################- End LeftColumnItemList -#########################*/

/*###########################- Layout Template -#########################*/

.UIItemSelector .DefaultTemplate {
  width: 250px; height: 170px;
  background: url('MacSkin/background/Default.jpg') no-repeat center;
}  

.UIItemSelector .EmptyLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/EmptyPage.gif') no-repeat;
}

.UIItemSelector .DesktopLayout {
  width: 250px; height: 170px;
  background: url('MacSkin/background/DesktopImage.jpg') no-repeat;
}

.UIItemSelector .TwoColumnsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/2Columns.gif') no-repeat;
}

.UIItemSelector .ThreeColumnsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/3Columns.gif') no-repeat;
}

.UIItemSelector .TwoColumnsOneRowLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/2Columns1Row.gif') no-repeat;
}

.UIItemSelector .TwoColumnsTwoRowsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/2Columns2Rows.gif') no-repeat;
}

.UIItemSelector .TwoRowsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/2Rows.gif') no-repeat;
}

.UIItemSelector .ThreeRowsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/3Rows.gif') no-repeat;
}

.UIItemSelector .OneRowTwoColumnsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/1Row2Columns.gif') no-repeat;
}

.UIItemSelector .TwoTabsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/2Tabs.gif') no-repeat;
}

.UIItemSelector .ThreeTabsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/3Tabs.gif') no-repeat;
}

.UIItemSelector .ThreeRowsTwoColumnsLayout {
  width: 270px; height: 170px;
  background: url('MacSkin/background/2Columns3Rows.gif') no-repeat;
}