.UIBarStyle {
}

/*###########################-RoundedBarStyle-###########################*/
.UIBarStyle .RoundedBarStyle {
  height: 25px;
}

.UIBarStyle .RoundedBarStyle .LeftBar {
  background: url('background/Rounded3BarL8x25.gif') no-repeat left;
  padding: 0px 0px 0px 8px;
  border: solid 1px blue;
}

.UIBarStyle .RoundedBarStyle .RightBar {
  background: url('background/Rounded3BarR8x25.gif') no-repeat right;
  padding: 0px 8px 0px 0px ;
}

.UIBarStyle .RoundedBarStyle .MiddleBar {
  height: 25px;
  line-height: 25px;
  background: url('background/Rounded3BarM1x25.gif') repeat-x;  
}

/*###########################-GrayRoundedBarStyle-###########################*/
.UIBarStyle .GrayRoundedBarStyle {
  height: 26px;
}

.UIBarStyle .GrayRoundedBarStyle .LeftBar {
  background: url('background/Rounded2BarLeft12x26.gif') no-repeat left;
  padding: 0px 0px 0px 12px;
}

.UIBarStyle .GrayRoundedBarStyle .RightBar {
  background: url('background/Rounded2BarRight12x26.gif') no-repeat right;
  padding: 0px 12px 0px 0px ;
}

.UIBarStyle .GrayRoundedBarStyle .MiddleBar {
  height: 26px;
  line-height: 26px;
  background: url('background/Rounded2BarCenter1x26.gif') repeat-x;  
}

/*###########################-WhiteRoundedBarStyle-###########################*/
.UIBarStyle .WhiteRoundedBarStyle {
  height: 26px;
}

.UIBarStyle .WhiteRoundedBarStyle .LeftBar {
  background: url('background/WhiteRoundedBarLeft12x26.gif') no-repeat left;
  padding: 0px 0px 0px 12px;
}

.UIBarStyle .WhiteRoundedBarStyle .RightBar {
  background: url('background/WhiteRoundedBarRight12x26.gif') no-repeat right;
  padding: 0px 12px 0px 0px ;
}

.UIBarStyle .WhiteRoundedBarStyle .MiddleBar {
  height: 24px;
  line-height: 24px;
  background: white;
  border-top: solid 1px #c0bfbf;
  border-bottom: solid 1px #c0bfbf;  
}

/*###########################-GrayPolygonBigBarStyle-###########################*/
.UIBarStyle .GrayPolygonBigBarStyle {
  height: 36px;
}

.UIBarStyle .GrayPolygonBigBarStyle .LeftBar {
  background: url('background/Polygon2BigBarLeft4x36.gif') no-repeat left;
  padding: 0px 0px 0px 4px;
}

.UIBarStyle .GrayPolygonBigBarStyle .RightBar {
  background: url('background/Polygon2BigBarRight4x36.gif') no-repeat right;
  padding: 0px 4px 0px 0px;
}

.UIBarStyle .GrayPolygonBigBarStyle .MiddleBar {
  height: 36px;
  line-height: 36px;
  background: url('background/Polygon2BigBarCenter1x36.gif') repeat-x;
}

/*###########################-BluePolygonBigBarStyle-###########################*/
.UIBarStyle .BluePolygonBigBarStyle {
  height: 36px;
}

.UIBarStyle .BluePolygonBigBarStyle .LeftBar {
  background: url('background/Polygon1BigBarLeft4x36.gif') no-repeat left;
  padding: 0px 0px 0px 4px;
}

.UIBarStyle .BluePolygonBigBarStyle .RightBar {
  background: url('background/Polygon1BigBarRight4x36.gif') no-repeat right;
  padding: 0px 4px 0px 0px ;
}

.UIBarStyle .BluePolygonBigBarStyle .MiddleBar {
  height: 36px;
  line-height: 36px;
  background: url('background/Polygon1BigBarCenter1x36.gif') repeat-x;
}

/*###########################-BluePolygonBarStyle-###########################*/
.UIBarStyle .BluePolygonBarStyle {
  height: 36px;
}

.UIBarStyle .BluePolygonBarStyle .LeftBar {
  background: url('background/BluePolygonBarLeft5x36.gif') no-repeat left;
  padding: 0px 0px 0px 5px;
}

.UIBarStyle .BluePolygonBarStyle .RightBar {
  background: url('background/BluePolygonBarRight5x36.gif') no-repeat right;
  padding: 0px 5px 0px 0px ;
}

.UIBarStyle .BluePolygonBarStyle .MiddleBar {
  height: 36px;
  line-height: 36px;
  background: url('background/BluePolygonBarCenter1x36.gif') repeat-x;
}

/*###########################-BarStyle2-###########################*/
.UIBarStyle .BarStyle2 {
  height: 39px;
}

.UIBarStyle .BarStyle2 .LeftBar {
  background: url('background/BlueRoundedL6x39.gif') no-repeat left;
  padding: 0px 0px 0px 6px;
  height: 39px;
}

.UIBarStyle .BarStyle2 .RightBar {
  background: url('background/BlueRoundedR6x39.gif') no-repeat right;
  padding: 0px 6px 0px 0px ;
  height: 39px;
}

.UIBarStyle .BarStyle2 .MiddleBar {
  height: 39px;
  line-height: 39px;
  background: url('background/BlueRoundedM1x39.gif') repeat-x;
}

/*###########################-NavyBluePolygonBar32Style-###########################*/
.UIBarStyle .NavyBluePolygonBar32Style {
  height: 32px;
}

.UIBarStyle .NavyBluePolygonBar32Style .LeftBar {
  background: url('background/NavyBlueBar32Left3x32.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIBarStyle .NavyBluePolygonBar32Style .RightBar {
  background: url('background/NavyBlueBar32Right3x32.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIBarStyle .NavyBluePolygonBar32Style .MiddleBar {  
  line-height: 32px;
  background: url('background/NavyBlueBar32Center1x32.gif') repeat-x;
}

/*###########################-GrayRoundedFlatBarStyle-###########################*/
.UIBarStyle .GrayRoundedFlatBarStyle {
  height: 35px;
}

.UIBarStyle .GrayRoundedFlatBarStyle .LeftBar {
  background: url('background/GrayRoundedFlatLeft16x35.gif') no-repeat left;
  padding: 0px 0px 0px 16px;
}

.UIBarStyle .GrayRoundedFlatBarStyle .RightBar {
  background: url('background/GrayRoundedFlatRight16x35.gif') no-repeat right;
  padding: 0px 16px 0px 0px ;
}

.UIBarStyle .GrayRoundedFlatBarStyle .MiddleBar {
  height: 33px;
  line-height: 33px;
  background: #f3f3f3;
  border-top: solid 1px #c6c6c9;
  border-bottom: solid 1px #c6c6c9;
}

/*###########################-NavyBluePolygonBar32Style-###########################*/
.UIBarStyle .NavyBluePolygonBar32Style {
  height: 32px;
}

.UIBarStyle .NavyBluePolygonBar32Style .LeftBar {
  background: url('background/NavyBluePolygonLeft3x32.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIBarStyle .NavyBluePolygonBar32Style .RightBar {
  background: url('background/NavyBluePolygonRight3x32.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIBarStyle .NavyBluePolygonBar32Style .MiddleBar {
  height: 32px;
  line-height: 32px;
  background: url('background/NavyBluePolygonCenter1x32.gif') repeat-x;
}

/*###########################-Style3Bar-###########################*/
.UIBarStyle .Style3 {
  height: 26px;
}

.UIBarStyle .Style3 .LeftBar {
  background: url('background/SmoothRoundedLeftBar3x26.gif') no-repeat left ;
  padding: 0px 0px 0px 3px ;
}

.UIBarStyle .Style3 .RightBar {
  background: url('background/SmoothRoundedRightBar3x26.gif') no-repeat right ;
  padding: 0px 3px 0px 0px ;
}

.UIBarStyle .Style3 .MiddleBar {
  height: 26px ;
  line-height: 26px ;
  vertical-align: middle ;
  background: url('background/SmoothRoundedRepeatBar1x26.gif') repeat-x ;
}

/*###########################-Style4Bar-###########################*/
.UIBarStyle .Style4 {
  height: 22px;
  padding-right: 45px;
}

.UIBarStyle .Style4 .RightBar {
  background: url('background/Style4BarRight11x22.gif') no-repeat right ;
  padding-right: 11px;
}

.UIBarStyle .Style4 .MiddleBar {
  height: 22px ;
  line-height: 22px ;
  color: white; font-weight: bold;
  padding-left: 15px;
  background: url('background/Style4BarMiddle1x22.gif') repeat-x ;
}

/*###########################-Style5Bar-###########################*/
.UIBarStyle .Style5 {
  height: 43px;
}

.UIBarStyle .Style5 .LeftBar {
  background: url('background/Style5BarL6x34.gif') no-repeat left ;
  padding: 0px 0px 0px 6px ;
}

.UIBarStyle .Style5 .RightBar {
  background: url('background/Style5BarR6x34.gif') no-repeat right ;
  padding: 0px 6px 0px 0px ;
}

.UIBarStyle .Style5 .MiddleBar {
  height: 34px ;
  line-height: 26px ;
  vertical-align: middle ;
  text-align: center; font-weight: bold;
  background: url('background/Style5BarM1x34.gif') repeat-x ;
}

.UIBarStyle .Style5 .MiddleBar a{
  color: black;
  cursor: pointer;
}

.UIBarStyle .Style5 .MiddleBar a:hover{
  color: blue;
}

.UIBarStyle .Style5 .Icon {
  float: left;
}

.UIBarStyle .Style5 .Label {
  float: left;
  font-weight: bold;
  margin: 4px 0px 0px 8px;
}

.UIBarStyle .Style5 .SeparateLine{
  float: left;
  width: 2px; height: 23px;
  background: url('background/SeparateLine2x1.gif') repeat-y ;
  margin: 5px 2px 0px 10px;
}

/*###########################-SmoothNavy40Style-###########################*/
.UIBarStyle .SmoothNavy40Style {
  height: 40px;
}

.UIBarStyle .SmoothNavy40Style .LeftBar {
  background: url('background/SmoothNavy40StyleLeft13x40.gif') no-repeat left ;
  padding: 0px 0px 0px 13px ;
}

.UIBarStyle .SmoothNavy40Style .RightBar {
  background: url('background/SmoothNavy40StyleRight14x40.gif') no-repeat right ;
  padding: 0px 14px 0px 0px ;
}

.UIBarStyle .SmoothNavy40Style .MiddleBar {
  height: 40px ;
  line-height: 40px ;
  vertical-align: middle ;
  background: url('background/SmoothNavy40StyleCenter1x40.gif') repeat-x ;
}

/*###########################-GrayBevelRoundedBar35Style-###########################*/
.UIBarStyle .GrayBevelRoundedBar35Style {
  height: 35px;
}

.UIBarStyle .GrayBevelRoundedBar35Style .LeftBar {
  background: url('background/Bevel4Left15x35.gif') no-repeat left ;
  padding: 0px 0px 0px 15px ;
}

.UIBarStyle .GrayBevelRoundedBar35Style .RightBar {
  background: url('background/Bevel4Right15x35.gif') no-repeat right ;
  padding: 0px 15px 0px 0px ;
}

.UIBarStyle .GrayBevelRoundedBar35Style .MiddleBar {
  height: 35px ;
  line-height: 35px ;
  vertical-align: middle ;
  background: url('background/Bevel4Center1x35.gif') repeat-x ;
}

.UIBarStyle .GrayBevelRoundedBar35Style .Button {
  float: left;
  height: 33px ; 
  line-height: 33px ;
  vertical-align: middle ;
}

.UIBarStyle .GrayBevelRoundedBar35Style .ButtonLabel {
  height: 33px ; 
  line-height: 33px ;
  vertical-align: middle ;
  font-weight: bold; color: black; 
}

/*###########################-GrayBevelRoundBar40-###########################*/
.UIBarStyle .GrayBevelRoundBar40 {
  height: 40px;
}

.UIBarStyle .GrayBevelRoundBar40 .LeftBar {
  background: url('background/Bevel3BarL9x40.gif') no-repeat left ;
  padding: 0px 0px 0px 9px ;
}

.UIBarStyle .GrayBevelRoundBar40 .RightBar {
  background: url('background/Bevel3BarR9x40.gif') no-repeat right ;
  padding: 0px 9px 0px 0px ;
}

.UIBarStyle .GrayBevelRoundBar40 .MiddleBar {
  height: 40px ;
  line-height: 40px ;
  vertical-align: middle ;
  background: url('background/Bevel3BarRepeat1x40.gif') repeat-x ;
}

/*###########################-GrayBevelRoundBar36-###########################*/
.UIBarStyle .GrayBevelRoundBar36 {
  height: 36px;
}

.UIBarStyle .GrayBevelRoundBar36 .LeftBar {
  background: url('background/Bevel2BarL9x36.gif') no-repeat left ;
  padding: 0px 0px 0px 9px ;
}

.UIBarStyle .GrayBevelRoundBar36 .RightBar {
  background: url('background/Bevel2BarR9x36.gif') no-repeat right ;
  padding: 0px 9px 0px 0px ;
}

.UIBarStyle .GrayBevelRoundBar36 .MiddleBar {
  height: 36px ;
  line-height: 36px ;
  vertical-align: middle ;
  background: url('background/Bevel2BarRepeat1x36.gif') repeat-x ;
}

/*###########################-BlueBevelRoundBar36-###########################*/
.UIBarStyle .BlueBevelRoundBar36 {
  height: 36px;
}

.UIBarStyle .BlueBevelRoundBar36 .LeftBar {
  background: url('background/Bevel1BarL9x36.gif') no-repeat left ;
  padding: 0px 0px 0px 9px ;
}

.UIBarStyle .BlueBevelRoundBar36 .RightBar {
  background: url('background/Bevel1BarR9x36.gif') no-repeat right ;
  padding: 0px 9px 0px 0px ;
}

.UIBarStyle .BlueBevelRoundBar36 .MiddleBar {
  height: 36px ;
  line-height: 36px ;
  vertical-align: middle ;
  background: url('background/Bevel1BarRepeat1x36.gif') repeat-x ;
}

/*###########################-ControlBar-###########################*/
.WidgetNavigator .UIBarStyle {
   margin: 0px 0px 0px 0px;
}

.UIBarStyle .ControlBar .LeftBar {
  background: url('background/LeftControlBar12x27.gif') no-repeat left ;
  padding: 0px 0px 0px 12px ;
}

.UIBarStyle .ControlBar .RightBar {
  padding: 0px ;
}

.UIBarStyle .ControlBar .MiddleBar {
  background: url('background/MiddleControlBar1x27.gif') repeat-x ;
  padding: 0px 5px 0px 0px;
  height: 27px;
}

/*============================== Title Bar ========================================*/
.UIBarStyle .TitleBar .LeftBar {
  background: url('background/LeftTitleBar11x30.gif') no-repeat left ;
  padding-left: 11px ;
  height: 30px;
}

.UIBarStyle .TitleBar .RightBar {
  padding-right: 11px ;
  background: url('background/RightTitleBar11x30.gif') no-repeat right ;
  height: 30px;
}

.UIBarStyle .TitleBar .MiddleBar {
  background: url('background/CenterTitleBar1x30.gif') repeat-x;
  padding-left: 8px;
  height: 30px; line-height: 30px;
  color: #058ee6; font-weight: bold;
  font-size: 14px; font-family: arial;
}

/*======================================== NormalBarStyle ==================================*/

.UIBarStyle .NormalBarStyle {
  height: 38px;
}

.UIBarStyle .NormalBarStyle .LeftBar {
  background: url('background/LeftNormalBar6x38.gif') no-repeat left;
  padding: 0px 0px 0px 6px;
}

.UIBarStyle .NormalBarStyle .RightBar {
  background: url('background/RightNormalBar6x38.gif') no-repeat right;
  padding: 0px 6px 0px 0px ;
}

.UIBarStyle .NormalBarStyle .MiddleBar {
  background: url('background/CenterNormalBar1x38.gif') repeat-x;
  height: 38px;
  line-height: 38px;
}



