/*###########################-RoundedBarStyle-###########################*/
	
.UIBarStyle .RoundedBarStyle {
	height: 25px;
}

.UIBarStyle .RoundedBarStyle .LeftBar {
	background: url('background/RoundedBarStyle.gif') no-repeat top left;
	padding: 0px 0px 0px 8px;
}

.UIBarStyle .RoundedBarStyle .RightBar {
	background: url('background/RoundedBarStyle.gif') no-repeat top right;
	padding: 0px 8px 0px 0px;
}

.UIBarStyle .RoundedBarStyle .MiddleBar {
	height: 25px;
	line-height: 25px;
	background: url('background/RoundedBarStyle.gif') repeat-x bottom;	
}

/*###########################-WhiteRoundedBarStyle-###########################*/

.UIBarStyle .WhiteRoundedBarStyle {
	height: 25px;
}

.UIBarStyle .WhiteRoundedBarStyle .LeftBar {
	background: url('background/WhiteRoundedBarStyle.gif') no-repeat left;
	padding: 0px 0px 0px 12px;
}

.UIBarStyle .WhiteRoundedBarStyle .RightBar {
	background: url('background/WhiteRoundedBarStyle.gif') no-repeat right;
	padding: 0px 12px 0px 0px;
}

.UIBarStyle .WhiteRoundedBarStyle .MiddleBar {
	height: 25px;
	line-height: 25px;
	background: white;
	border-top: solid 1px #c0bfbf;
	border-bottom: solid 1px #c0bfbf;	
}

/*###########################-BarStyle2-###########################*/

.UIBarStyle .BarStyle2 {
	height: 39px;
}

.UIBarStyle .BarStyle2 .LeftBar {
	background: url('background/BarStyle2.gif') no-repeat top left;
	padding: 0px 0px 0px 6px;
	height: 39px;
}

.UIBarStyle .BarStyle2 .RightBar {
	background: url('background/BarStyle2.gif') no-repeat top right;
	padding: 0px 6px 0px 0px;
	height: 39px;
}

.UIBarStyle .BarStyle2 .MiddleBar {
	height: 39px;
	line-height: 39px;
	background: url('background/BarStyle2.gif') repeat-x bottom;
}

/*###########################-NavyBluePolygonBar32Style-###########################*/

.UIBarStyle .NavyBluePolygonBar32Style {
	height: 32px;
}

.UIBarStyle .NavyBluePolygonBar32Style .LeftBar {
	background: url('background/NavyBluePolygonBar32Style.gif') no-repeat top left;
	padding: 0px 0px 0px 3px;
}

.UIBarStyle .NavyBluePolygonBar32Style .RightBar {
	background: url('background/NavyBluePolygonBar32Style.gif') no-repeat top right;
	padding: 0px 3px 0px 0px;
}

.UIBarStyle .NavyBluePolygonBar32Style .MiddleBar {	
	line-height: 32px;
	background: url('background/NavyBluePolygonBar32Style.gif') repeat-x bottom;
}

/*###########################-Style3Bar-###########################*/

.UIBarStyle .Style3 {
	height: 26px;
}

.UIBarStyle .Style3 .LeftBar {
	background: url('background/Style3.gif') no-repeat top left;
	padding: 0px 0px 0px 3px;
}

.UIBarStyle .Style3 .RightBar {
	background: url('background/Style3.gif') no-repeat top right;
	padding: 0px 3px 0px 0px;
}

.UIBarStyle .Style3 .MiddleBar {
	height: 26px;
	line-height: 26px;
	background: url('background/Style3.gif') repeat-x bottom;
}

/*###########################-SmoothNavy40Style-###########################*/

.UIBarStyle .SmoothNavy40Style {
	height: 40px;
}

.UIBarStyle .SmoothNavy40Style .LeftBar {
	background: url('background/SmoothNavy40Style.gif') no-repeat top left;
	padding: 0px 0px 0px 13px;
}

.UIBarStyle .SmoothNavy40Style .RightBar {
	background: url('background/SmoothNavy40Style.gif') no-repeat top right;
	padding: 0px 14px 0px 0px;
}

.UIBarStyle .SmoothNavy40Style .MiddleBar {
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	background: url('background/SmoothNavy40Style.gif') repeat-x bottom;
}

/*###########################-ControlBar-###########################*/

.UIBarStyle .ControlBar .LeftBar {
	background: url('background/ControlBar.gif') no-repeat top left;
	padding: 0px 0px 0px 12px;
}

.UIBarStyle .ControlBar .RightBar {
	padding: 0px;
}

.UIBarStyle .ControlBar .MiddleBar {
	background: url('background/ControlBar.gif') repeat-x bottom;
	padding: 0px 5px 0px 0px;
	height: 27px;
}

/*============================== Title Bar ========================================*/

.UIBarStyle .TitleBar .LeftBar {
	background: url('background/TitleBar.gif') no-repeat top left;
	padding-left: 11px;
	height: 30px;
}

.UIBarStyle .TitleBar .RightBar {
	padding-right: 11px;
	background: url('background/TitleBar.gif') no-repeat top right;
	height: 30px;
}

.UIBarStyle .TitleBar .MiddleBar {
	background: url('background/TitleBar.gif') repeat-x bottom;
	padding-left: 8px;
	height: 30px; line-height: 30px;
	color: #058ee6; font-weight: bold;
	font-size: 14px; font-family: arial;
}

/*======================================== NormalBarStyle ==================================*/

.UIBarStyle .NormalBarStyle {
	height: 38px;
}

.UIBarStyle .NormalBarStyle .LeftBar {
	background: url('background/NormalBarStyle.gif') no-repeat top left;
	padding: 0px 0px 0px 6px;
}

.UIBarStyle .NormalBarStyle .RightBar {
	background: url('background/NormalBarStyle.gif') no-repeat top right;
	padding: 0px 6px 0px 0px;
}

.UIBarStyle .NormalBarStyle .MiddleBar {
	background: url('background/NormalBarStyle.gif') repeat-x bottom;
	height: 38px;
	line-height: 38px;
}