.UIInfoBar {
}

/*######################-Rounded Style-######################*/
.UIInfoBar .RoundedStyle .LeftBar {
	height: 27px;
	margin: 0px;
}	
	
.UIInfoBar .RoundedStyle .LeftBar {
	background: url('background/RoundedStyle.gif') no-repeat left;
	padding: 0px 0px 0px 29px;
}

.UIInfoBar .RoundedStyle .RightBar {
	background: url('background/RoundedStyle.gif') no-repeat right -29px;
	padding: 0px 9px 0px 0px;
}

.UIInfoBar .RoundedStyle .MiddleBar {
	height: 27px;
	background: url('background/RoundedStyle.gif') repeat-x bottom;
}

.UIInfoBar .RoundedStyle .Title {
	float: left;
	height: 26px; 
	line-height: 26px; 
	overflow: visible;
	margin: 0px 0px 0px 5px;
}

/*######################-Blue Rounded Style-######################*/

.UIInfoBar .BlueRoundedStyle {
	padding: 0px; margin: 0px;
}

.UIInfoBar .BlueRoundedStyle .LeftBar {
	background: url('background/BlueRoundedStyle.png') no-repeat left top;	/* orientation=lt */
	background: url('background/BlueRoundedStyle-rt.png') no-repeat right top;	/* orientation=rt */
	padding-left: 10px;	/* orientation=lt */
	padding-right: 10px;	/* orientation=rt */
	_width: 230px;
}

.UIInfoBar .BlueRoundedStyle .RightBar {
	background: url('background/BlueRoundedStyle.png') no-repeat right -22px;	/* orientation=lt */
	background: url('background/BlueRoundedStyle-rt.png') no-repeat left -22px;	/* orientation=rt */
	padding-right: 10px;	/* orientation=lt */
	padding-left: 10px;	/* orientation=rt */
}

.UIInfoBar .BlueRoundedStyle .FixHeight {
	height: 22px;
	overflow: hidden;
}

.UIInfoBar .BlueRoundedStyle .MiddleBar {
	background: url('background/BlueRoundedStyle.png') repeat-x bottom;
}

.UIInfoBar .BlueRoundedStyle .Title {
	color: black;
	line-height: 22px; 
	float: left;	/* orientation=lt */
	float: right;	/* orientation=rt */
	text-align: left; /* orientation=lt */
	text-align: right;	/* orientation=rt */
	text-overflow: ellipsis;
}

.UIInfoBar .BlueRoundedStyle .Icon {
	float: left;	/* orientation=lt */
	float: right;	/* orientation=rt */
	width: 16px; height: 16px;
	margin: 4px 5px 0px 5px;
}

/*######################-Simple Style-######################*/
.UIInfoBar .SimpleStyle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIInfoBar/background/MRoundedStyle1x21.gif') repeat-x;
	border-right: solid 1px #5f90ba; border-left: solid 1px #5f90ba;
	overflow: hidden; 
}

.UIInfoBar .SimpleStyle .LeftBar {
	float: left;
	height: 21px;
	background: none;
	border-left: solid 1px #4e7180;
}

.UIInfoBar .SimpleStyle .RightBar {
	float: right;
	height: 21px;
	background: none;
	border-right: solid 1px #4e7180;
}

.UIInfoBar .SimpleStyle .MiddleBar {
	height: 21px;
	text-align: left;
	padding: 0px 0px 0px 10px;
}

.UIInfoBar .SimpleStyle .Title {
	float: left;
	height: 21px; line-height: 21px;	
	vertical-align: middle; text-align: left;
	margin: 0px 0px 0px 5px;
}

/*######################-Polygon Navyblue Style-######################*/
.UIInfoBar .PolygonNavyBlueStyle {
	height: 26px;
}

.UIInfoBar .PolygonNavyBlueStyle .LeftBar {
	padding-left: 3px;
	background: url('background/PolygonNavyBlueStyle.gif') no-repeat left top;
}

.UIInfoBar .PolygonNavyBlueStyle .RightBar {
	padding-right: 3px;
	background: url('background/PolygonNavyBlueStyle.gif') no-repeat right top;
}

.UIInfoBar .PolygonNavyBlueStyle .MiddleBar {
	padding-left: 2px;
	height: 26px;
	background: url('background/PolygonNavyBlueStyle.gif') repeat-x bottom;
}

/*######################-Smooth Style-######################*/

.UIInfoBar .SmoothStyle {
	height: 22px;
	border-left: 1px solid #7c7c7c;
	border-right: 1px solid #7c7c7c;
}

.UIInfoBar .SmoothStyle .MiddleBar {
	height: 22px;
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIInfoBar/background/MSmoothStyle1x22.gif') repeat-x;
}

/*######################-Smooth Style 26 -######################*/

.UIInfoBar .SmoothStyle26 {
	height: 26px;	
}

.UIInfoBar .SmoothStyle26 .LeftBar {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIInfoBar/background/SmoothStyle26.gif') no-repeat left top;
	padding: 0px 0px 0px 1px;
}

.UIInfoBar .SmoothStyle26 .RightBar {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIInfoBar/background/SmoothStyle26.gif') no-repeat right top;
	padding: 0px 1px 0px 0px;
}

.UIInfoBar .SmoothStyle26 .MiddleBar {
	height: 26px;
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIInfoBar/background/SmoothStyle26.gif') repeat-x center bottom;
}