/**
 * Created by The eXo Platform SARL
 * Modifile: Vu Duy Tu
 *					 duytucntt@gmail.com
 * December 13, 2006
 * version: $Id$
 */
 
.UIPortalToolPanel {
	_height: 100%; /* orientation=rt */
}

.UIPortalToolPanel .Body {
	padding: 1px;
	_height: 100%;
}

.UIPortalToolPanel .Body .PageDecoratorContainer {
	background: #f7f7f7;
	padding: 5px;
	margin: 5px;
	border: 1px #a5a5a5 solid;
	border-bottom: 1px #d0d0d0 solid;
	border-right: 1px #d0d0d0 solid;
}
 
.UIPortalToolPanel .Body .PageDecoratorContent {
	min-width: 100px;
	overflow: auto;
}

.UIPortalToolPanel .Body .UIPage {
}

.UIPortalToolPanel .UIItemSelector .NormalStyle {
	height: 100%;
}

.UIPortalToolPanel .UIItemSelector .NormalStyle .ItemListContainer {
	height: 100%;
	width: 247px;
}

.UIPortalToolPanel .UIItemSelector .NormalStyle .ItemListContainer .ItemList {
	border: 1px #b7b7b7 solid;
	height: 264px;	
}

.UIPortalToolPanel .UIItemSelector .NormalStyle .ItemListContainer .TemplateImage {
	height: 240px; 
}

.UIPortalToolPanel .UIItemSelector .NormalStyle .ItemListContainer .ItemListTitle {
	height: 28px; 
	line-height: 27px; 
	margin: 0px 0px 0px 0px;
	background: url('background/MenuBackground1x27.gif') repeat-x;
}