.UIContainerConfigOptions {
	border: solid 1px white;
	margin: 0px 6px;
}

.UIContainerConfigOptions .ContainerConfigOptions {
	background: url('background/PortletBG.gif');	
	border: solid 1px #afaeae;
	padding: 5px;
	 /*Lamjs comment to show Dropdown above*/
  /*overflow: hidden;*/
}

.UIContainerConfigOptions .ScrollArea {
	border:solid 1px #b7b7b7; 
}

.UIContainerConfigOptions .CategoryContainer {
	background: white; 
	padding: 10px 0px 20px 0px;
	margin: 1px;
}
	
.UIContainerConfigOptions .Title {
	background: url('background/TitleBG1x25.png') repeat-x;
	height: 25px;
}

.UIContainerConfigOptions .Title .TitleContainer {
	height: 23px;
	border-left: solid 1px #9d9d9d;
	border-right: solid 1px #9d9d9d;
}

.UIContainerConfigOptions .Title .TitleContainer .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 5px 0px 7px; /* orientation=lt */
	margin: 3px 7px 0px 5px; /* orientation=rt */
	width: 16px; 
	height: 16px;
}

.UIContainerConfigOptions .Title .TitleContainer .LabelText {
	padding-left: 12px; /* orientation=lt */
	padding-right: 12px; /* orientation=rt */
	height: 22px; line-height: 22px; 
}

.UIContainerConfigOptions .Title .TitleContainer .ArrowButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	cursor: pointer;
}

.UIContainerConfigOptions .UIDropDownControl {
	width: 224px;
	margin-bottom: 2px;
}		

.UIContainerConfigOptions .OneRowContainerLayout {
	width: 109px;	height: 60px;
	margin: auto;	margin-top: 9px;
	background: url('background/ContainerConfigOptions.png') no-repeat top;
	cursor: move;
}

.UIContainerConfigOptions .TwoRowContainerLayout {
	width: 109px;	height: 60px;
	margin: auto;	margin-top: 9px;
	background: url('background/ContainerConfigOptions.png') no-repeat center -60px;
	cursor: move;
}

.UIContainerConfigOptions .ThreeRowContainerLayout {
	width: 109px;	height: 60px;
	margin: auto; margin-top: 9px;
	background: url('background/ContainerConfigOptions.png') no-repeat center -120px;
	cursor: move;
}

.UIContainerConfigOptions .TwoColumnContainerLayout {
	width: 109px;	height: 60px;
	margin:auto;	margin-top: 10px;
	background: url('background/ContainerConfigOptions.png') no-repeat center -180px;
	cursor: move;
}

.UIContainerConfigOptions .ThreeColumnContainerLayout {
	width: 109px;	height: 60px;
	margin:auto;	margin-top: 10px;
	background: url('background/ContainerConfigOptions.png') no-repeat center -240px;
	cursor: move;
}

.UIContainerConfigOptions .TwoTabContainerLayout {
	width: 109px;	height: 60px;
	margin: auto;	margin-top: 10px;
	background: url('background/ContainerConfigOptions.png') no-repeat center -300px;
	cursor: move;
}

.UIContainerConfigOptions .ThreeTabContainerLayout {
	width: 109px;	height: 60px;
	margin:auto; margin-top: 10px;
	background: url('background/ContainerConfigOptions.png') no-repeat center -360px;
	cursor: move;
}

.UIContainerConfigOptions .TwoColumnOneRowContainerLayout {
	width: 109px;	height: 60px;
	margin:auto; margin-top: 10px;
	background: url('background/ContainerConfigOptions.png') no-repeat center -420px;
	cursor: move;
}

.UIContainerConfigOptions .OneRowTwoColumnContainerLayout {
	width: 109px; height: 60px;
	margin:auto; margin-top: 10px;
	background: url('background/ContainerConfigOptions.png') no-repeat center -480px;
	cursor: move;
}

.UIContainerConfigOptions .OneRow2Column1RowContainerLayout {
	width: 109px; height: 60px;
	margin:auto; margin-top: 10px;
	background: url('background/ContainerConfigOptions.png') no-repeat bottom;
	cursor: move;
}