.UIWidgets {
	padding: 10px 0px;
}

.UIWidgets .ItemSelectorContainer .EditIcon {
	float: left;
	width: 28px; height: 25px;
	background: url('MacSkin/icons/EditWidgetCategoryButton.png') no-repeat right;
	cursor: pointer;
}

.UIWidgets .ItemSelectorContainer .UIDropDownItemSelector{
	width: 208px;
	float: left;
}

.UIWidgets .ItemSelectorContainer .UIDropDownItemSelector .RightItemInfoBar{
	background: none;
	padding-right: 0px;
}

.UIWidgets .UIDropDownItemSelector .ComponentIcon {
	background: url('MacSkin/icons/WidgetIcon.png') no-repeat center;
}

.UIWidgets .WidgetDecorator {
	width: 230px;
	margin-left: 2px;
	border: 1px white solid;
}

.UIWidgets .WidgetDecorator .WidgetsDecoratorBackground{
	padding: 5px;
	border: 1px #5a8ac1 solid;
	background: url('MacSkin/background/WidgetDecoratorBG1x85.png') repeat-x bottom;
}

/***************************************  UIWidgetContainer   **************************************/
.UIWidgetContainer {
}

.UIWidgetContainer .WidgetNavigator {
	height: 33px;
	width: 113px;
	float: right;
}

.UIWidgetContainer .LeftWidgetNavBar {
	height: 33px;
	background: url('MacSkin/background/LeftWidgetNavBar15x33.png') no-repeat left;
	padding-left: 15px;	
}

.UIWidgetContainer .RightWidgetNavBar {
	height: 33px;
	background: url('MacSkin/background/RightWidgetNavBar17x33.png') no-repeat right;
	padding-right: 17px;	
}

.UIWidgetContainer .CenterWidgetNavBar {
	height: 33px;
	background: url('MacSkin/background/CenterWidgetNavBar1x33.png') repeat-x;
}

.UIWidgetContainer .WidgetNavigator .Icon{
	height: 22px;
	width: 22px;
	float: left;
	margin: 4px 0px 0px 4px;
	cursor: pointer;
}	

.UIWidgetContainer .WidgetNavigator .DisableScrollDownButton{
	background: url('MacSkin/icons/DisableScrollDownButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .ScrollDownButton{
	background: url('MacSkin/icons/ScrollDownButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .ScrollUpButton{
	background: url('MacSkin/icons/ScrollUpButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .DisableScrollUpButton{
	background: url('MacSkin/icons/DisableScrollUpButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .AddWidgetButton{
	background: url('MacSkin/icons/AddWidgetButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetControlBar {
  float: right;
	width: 94px; height: 23px;
	padding-right: 3px;
}

.UIWidgetContainer .WidgetControl {
	width: 94px; height: 23px;
}

.UIWidgetContainer .WidgetApplication {
	padding: 0px 0px 5px 0px;
}

.UIWidgetContainer .WidgetControl .LeftControlBar{
	height: 23px;
	background: url('MacSkin/background/LeftWidgetControlBar10x23.png') no-repeat left;	
	padding-left: 10px;
}

.UIWidgetContainer .WidgetControl .RightControlBar{
	height: 23px;
	background: url('MacSkin/background/RightWidgetControlBar10x23.png') no-repeat right;	
	padding-right: 10px;
}

.UIWidgetContainer .WidgetControl .CenterControlBar{
	height: 23px;
	background: url('MacSkin/background/CenterWidgetControlBar1x23.png') repeat-x;	
}

.UIWidgetContainer .WidgetControl .WidgetDragHandleArea {
	float: left;
	width: 17px; height: 13px;
	cursor: move;
	margin: 4px 3px 0px 3px;
	background: url('MacSkin/background/WidgetDragArea2x2.gif');
}

.UIWidgetContainer .WidgetControl .SeparatorLine {
	float: left;
	width: 2px; height: 15px;
	margin: 3px 3px 0px 3px;
	background: url('MacSkin/background/SeparatorLine2x1.gif') repeat-y;
	
}

.UIWidgetContainer .WidgetControl .EditWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 3px 5px 0px 2px;
	background: url('MacSkin/icons/EditWidgetIcon.gif');	
}

.UIWidgetContainer .WidgetControl .CloseWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 3px 0px 0px 2px;
	background: url('MacSkin/icons/CloseWidgetIcon.gif');	
}

/*================eXo Info Widget=======================================*/
.UIWidgetContainer .UIInfoWidget{
	width: 220px; height: 204px;
	background: url('DefaultSkin/background/eXoInfoWidgetBackground.png') no-repeat center top;	
}

.UIWidgetContainer .UIInfoWidget .eXoInfoWidgetTitle{
	margin: auto;
	padding: 30px 0px 5px 0px;
	width: 192px;
	color: #ab6c17; font-weight: bold;
	font-family: arial; font-size: 14px;
	text-align: center;
	border-bottom: 1px solid #e5df99;
}

.UIWidgetContainer .UIInfoWidget .InfoTitle{
	margin: auto;
	padding-top: 10px;
	width: 192px;
	color: #ab6c17;
	font-size: 11px;
	text-align: center;
} 

.UIWidgetContainer .UIInfoWidget .BrowserIconContainer {
	margin: auto;
	padding-top: 10px;
	width: 180px;
	height: 32px;
} 

.UIWidgetContainer .UIInfoWidget .BrowserIconContainer .BrowserIcon {
	float: left;
	width: 32px; height: 32px;
	margin-left: 10px;
	cursor: pointer;
}

.UIWidgetContainer .UIInfoWidget .BrowserIconContainer .FirefoxIcon {
	background: url('DefaultSkin/icons/FirefoxIcon.gif') no-repeat center;	
}

.UIWidgetContainer .UIInfoWidget .BrowserIconContainer .IE7Icon {
	background: url('DefaultSkin/icons/IE7Icon.gif') no-repeat center;	
}

.UIWidgetContainer .UIInfoWidget .BrowserIconContainer .IE6Icon {
	background: url('DefaultSkin/icons/IE6Icon.gif') no-repeat center;	
}

.UIWidgetContainer .UIInfoWidget .BrowserIconContainer .SafariIcon {
	background: url('DefaultSkin/icons/SafariIcon.gif') no-repeat center;	
}

.UIWidgetContainer .UIInfoWidget .DownloadButton {
	width: 120px; height: 22px;
	margin: auto;
	margin-top: 23px;
}

.UIWidgetContainer .UIInfoWidget .DownloadButton .LeftButton{
	height: 22px;
	padding-left: 11px;
	background: url('DefaultSkin/background/LeftDownloadButton11x22.gif') no-repeat left;	
}

.UIWidgetContainer .UIInfoWidget .DownloadButton .RightButton{
	height: 22px;
	padding-right: 11px;
	background: url('DefaultSkin/background/RightDownloadButton11x22.gif') no-repeat right;	
}

.UIWidgetContainer .UIInfoWidget .DownloadButton .MiddleButton{
	height: 22px;
	background: url('DefaultSkin/background/CenterDownloadButton1x22.gif') repeat-x;
	text-align:center;
}

.UIWidgetContainer .UIInfoWidget .DownloadButton a{
	line-height: 22px; vertical-align: middle;
	color: #ab6c17;
	font-size: 11px; font-weight: bold;
}

.UIWidgetContainer .UIInfoWidget .DownloadButton a:hover{
	color: #d79a2f;
}

