.UIWidgets {
	padding: 10px 0px;
}

.UIWidgets .ItemSelectorContainer .EditIcon {
	float: left;
	width: 28px; height: 25px;
	background: url('MacSkin/icons/EditWidgetCategoryButton.png') no-repeat right;
	cursor: pointer;
}

.UIWidgets .ItemSelectorContainer .UIDropDownItemSelector{
	width: 208px;
	float: left;
}

.UIWidgets .ItemSelectorContainer .UIDropDownItemSelector .RightItemInfoBar{
	background: none;
	padding-right: 0px;
}

.UIWidgets .UIDropDownItemSelector .ComponentIcon {
	background: url('MacSkin/icons/WidgetIcon.png') no-repeat center;
}

.UIWidgets .WidgetDecorator {
	width: 230px;
	margin-left: 2px;
	border: 1px white solid;
}

.UIWidgets .WidgetDecorator .WidgetsDecoratorBackground{
	padding: 5px;
	border: 1px #5a8ac1 solid;
	background: url('MacSkin/background/WidgetDecoratorBG1x85.png') repeat-x bottom;
}

/***************************************  UIWidgetContainer   **************************************/
.UIWidgetContainer {
}

.UIWidgetContainer .WidgetNavigator {
	height: 33px;
	width: 117px;
	float: right;
}

.UIWidgetContainer .LeftWidgetNavBar {
	height: 33px;
	background: url('MacSkin/background/LeftWidgetNavBar15x33.png') no-repeat left;
	padding-left: 15px;	
}

.UIWidgetContainer .RightWidgetNavBar {
	height: 33px;
	background: url('MacSkin/background/RightWidgetNavBar17x33.png') no-repeat right;
	padding-right: 17px;	
}

.UIWidgetContainer .CenterWidgetNavBar {
	height: 33px;
	background: url('MacSkin/background/CenterWidgetNavBar1x33.png') repeat-x;
}

.UIWidgetContainer .WidgetNavigator .Icon{
	height: 22px;
	width: 22px;
	float: left;
	margin: 4px 0px 0px 4px;
	cursor: pointer;
}	

.UIWidgetContainer .WidgetNavigator .DisableScrollDownButton{
	background: url('MacSkin/icons/DisableScrollDownButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .ScrollDownButton{
	background: url('MacSkin/icons/ScrollDownButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .ScrollUpButton{
	background: url('MacSkin/icons/ScrollUpButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .DisableScrollUpButton{
	background: url('MacSkin/icons/DisableScrollUpButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .AddWidgetButton{
	background: url('MacSkin/icons/AddWidgetButton.gif') no-repeat center;
}

.UIWidgetContainer .WidgetControlBar {
  float: right;
	width: 94px; height: 23px;
	padding-right: 3px;
}

.UIWidgetContainer .WidgetControl {
	width: 94px; height: 23px;
}

.UIWidgetContainer .WidgetApplication {
	padding: 0px 0px 5px 0px;
}

.UIWidgetContainer .WidgetControl .LeftControlBar{
	height: 23px;
	background: url('MacSkin/background/LeftWidgetControlBar10x23.png') no-repeat left;	
	padding-left: 10px;
}

.UIWidgetContainer .WidgetControl .RightControlBar{
	height: 23px;
	background: url('MacSkin/background/RightWidgetControlBar10x23.png') no-repeat right;	
	padding-right: 10px;
}

.UIWidgetContainer .WidgetControl .CenterControlBar{
	height: 23px;
	background: url('MacSkin/background/CenterWidgetControlBar1x23.png') repeat-x;	
}

.UIWidgetContainer .WidgetControl .WidgetDragHandleArea {
	float: left;
	width: 17px; height: 13px;
	cursor: move;
	margin: 4px 3px 0px 3px;
	background: url('MacSkin/background/WidgetDragArea2x2.gif');
}

.UIWidgetContainer .WidgetControl .SeparatorLine {
	float: left;
	width: 2px; height: 15px;
	margin: 3px 3px 0px 3px;
	background: url('MacSkin/background/SeparatorLine2x1.gif') repeat-y;
	
}

.UIWidgetContainer .WidgetControl .EditWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 3px 5px 0px 2px;
	background: url('MacSkin/icons/EditWidgetIcon.gif');	
}

.UIWidgetContainer .WidgetControl .CloseWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 3px 0px 0px 2px;
	background: url('MacSkin/icons/CloseWidgetIcon.gif');	
}
