.UIPageIterator {	
	margin: 5px auto 0px auto;
	width: 99%;
}

.UIPageIterator a {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	color: #333333;
	display: block;
}

.UIPageIterator .Number {
	border: 1px solid #DFDFDF;
	padding: 0 5px;
	margin-left: 3px; /* orientation=lt */
	margin-right: 3px; /* orientation=rt */
	cursor: pointer;
	line-height: 15px;
}

.UIPageIterator .Number:hover {
	color: #0183F1;
	border: 1px solid #B6B6B6;
}
.UIPageIterator .PageSelected {
	color: #F16701;
	font-weight: bold;
}

.UIPageIterator .Icon {
	margin-left: 3px; /* orientation=lt */
	margin-right: 3px; /* orientation=rt */
	width: 18px;
	height: 17px;
	cursor: pointer;
}

.UIPageIterator .PagesTotalNumber {
	color: #0183F1;
	margin: 0 10px 0 5px; /* orientation=lt */
	margin: 0 5px 0 10px; /* orientation=rt */
	line-height: 19px;	
	font-size: 12px;
}

.UIPageIterator .TotalPages {
	font-size: 12px;
	line-height: 19px;
}

.UIPageIterator .LastTopPageIcon {
	background: url('background/ArrowPageIterator.gif') no-repeat left -17px; /* orientation=lt */
	background: url('background/ArrowPageIterator-rt.gif') no-repeat right -17px; /* orientation=rt */
}

.UIPageIterator .NextTopPageIcon {
	background: url('background/ArrowPageIterator.gif') no-repeat left -51px; /* orientation=lt */
	background: url('background/ArrowPageIterator-rt.gif') no-repeat right -51px; /* orientation=rt */
}

.UIPageIterator .LastPageIcon {
	background: url('background/ArrowPageIterator.gif') no-repeat left -119px; /* orientation=lt */
		background: url('background/ArrowPageIterator-rt.gif') no-repeat right -119px; /* orientation=rt */
}

.UIPageIterator .NextPageIcon {
	background: url('background/ArrowPageIterator.gif') no-repeat left -85px;	/* orientation=lt */
	background: url('background/ArrowPageIterator-rt.gif') no-repeat right -85px;	/* orientation=rt */
}

.UIPageIterator .DisableLastTopPageIcon {
	background: url('background/ArrowPageIterator.gif') no-repeat left top; /* orientation=lt */
	background: url('background/ArrowPageIterator-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIPageIterator .DisableNextTopPageIcon {
	background: url('background/ArrowPageIterator.gif') no-repeat left -34px; /* orientation=lt */
	background: url('background/ArrowPageIterator-rt.gif') no-repeat right -34px; /* orientation=rt */
}

.UIPageIterator .DisableLastPageIcon {
	background: url('background/ArrowPageIterator.gif') no-repeat left -102px; /* orientation=lt */
	background: url('background/ArrowPageIterator-rt.gif') no-repeat right -102px; /* orientation=rt */
}

.UIPageIterator .DisableNextPageIcon {
	background: url('background/ArrowPageIterator.gif') no-repeat left -68px; /* orientation=lt */
	background: url('background/ArrowPageIterator-rt.gif') no-repeat right -68px; /* orientation=rt */
}


