.UICalculatorWidget {
	width: 217px;
	margin: auto;
	padding: 1px;
}

.UICalculatorWidget .TLCalculator {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat left -21px;
	padding-left: 10px;
}

.UICalculatorWidget .TRCalculator {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat right -42px;
	padding-right: 10px;
}

.UICalculatorWidget .TMCalculator {
	background: #aac3fb url('DefaultSkin/background/CalculatorWidget.gif') repeat-x;
	height: 19px;
	padding-top: 1px;
}

.UICalculatorWidget .BGCalculator {
	background: #aac3fb url('DefaultSkin/background/CenterCalculator174x1.gif') repeat-y center;
	height: 100%;
}

.UICalculatorWidget .BGTopCalculator {
	background: url('DefaultSkin/background/CalculatorNoRepeatWidget.gif') no-repeat top center;
	height: 100%;
}

.UICalculatorWidget .BGBottomCalculator {
	background: url('DefaultSkin/background/CalculatorNoRepeatWidget.gif') no-repeat bottom center;
	height: 100%;
}

.UICalculatorWidget .MLCalculator {
	background: url('DefaultSkin/background/CalculatorRepeatYWidget.gif') repeat-y left;
	padding-left: 10px;
}

.UICalculatorWidget .MRCalculator {
	background: #aac3fb url('DefaultSkin/background/CalculatorRepeatYWidget.gif') repeat-y right;
	padding-right: 10px;
}

.UICalculatorWidget .BLCalculator {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat left -144px;
	padding-left: 10px;
}

.UICalculatorWidget .BRCalculator {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat right -156px;
	padding-right: 10px;
}

.UICalculatorWidget .BMCalculator {
	background: #aac3fb url('DefaultSkin/background/CalculatorWidget.gif') repeat-x center -168px;
	height: 9px;
	padding-bottom: 2px;
}

.UICalculatorWidget .ViewBox {
	padding: 2px 3px 0px 3px;
}

.UICalculatorWidget .LeftViewBox {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat left -63px;
	padding-left: 3px;
}

.UICalculatorWidget .RightViewBox {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat right -90px;
	padding-right: 3px;
}

.UICalculatorWidget .MiddleViewBox {
	background: #8ab4db url('DefaultSkin/background/CalculatorWidget.gif') repeat-x center -117px;
	height: 26px;
	line-height: 26px;
	text-align: right;
	padding: 0px 5px;
	overflow: hidden ;
}

.UICalculatorWidget .Line {
	background: url('DefaultSkin/background/Line209x2.gif') no-repeat center;
	height: 2px;
	width: 209px;
	margin: auto;
}

.UICalculatorWidget .ButtonContainer {
	padding: 4px 0px 0px 5px;
}

.UICalculatorWidget .ButtonContainer a {
	display: block;
	font-weight: bold;
	font-family: verdana;
	text-align: center;
	margin: 6px 2px 0px 0px;
	float: left;
	color: #0039a0;
}

.UICalculatorWidget .ButtonContainer a.NormalButton {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat left -207px;
	width: 55px;
	height: 26px;
	line-height: 26px;
}

.UICalculatorWidget .ButtonContainer a.SmallButton {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat left -180px;
	width: 36px;
	height: 26px;
	line-height: 26px;
}

.UICalculatorWidget .ButtonContainer a.LargeButton {
	background: url('DefaultSkin/background/CalculatorWidget.gif') no-repeat bottom left;
	width: 74px;
	height: 26px;
	line-height: 26px;
}

