body, table, form{
 font-family: Lucida Sans, Arial, Helvetica, sans-serif;
 font-size: 11px;
 color: #484848;
}

.ThemeColor {
 color: #226ab4;
}

a {
 color: #226ab4;
 text-decoration: none;
}

a:link {text-decoration: none; color: #226ab4;}
a:visited {text-decoration: none; color: #226ab4;}
a:active {text-decoration: none; color: #226ab4;}
a:hover {text-decoration: underline; color: #226ab4;}

.ClearFix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}

.ClearFix {
 !display: inline-block;
 !zoom: 1;
 !display: block;
}

.UIGadgetThemes .TitGad {
 line-height: 25px;
 padding: 0 5px 0 8px;
 background: #f8f8f8;
 border: 1px solid #e1e1e1;
 border-radius: 3px;
 -moz-border-radius: 3px;
 -webkit-border-radius: 3px;
 color: #2f3334;
}

.UIGadgetThemes .TitGad .ContTit {
 margin-right: 45px;
 font-size: 14px;
}

.UIGadgetThemes .GadCont {
 padding: 10px 8px;
 font-size: 12px;
}

.UIGadgetThemes .IconDropDown {
 background: url('images/IconDropDown.gif') no-repeat right 7px;
 float: right;
 padding-right: 12px;
 font-size: 11px;
 color: #484848;
 display: block;
}

.UIGadgetThemes .IconLink {
  color: #000000;
  margin-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
  background: url('images/IconLink.gif') no-repeat left 4px;
}

.UIGadgetThemes .SettingButton{
 float:right;
 margin-top:2px;
 margin-right:10px;
 display:none;
 background:url('images/settings.png') no-repeat right 3px;
}

.UIGadgetThemes .SettingButton a{
 display:block;
 width:16px;
 height:16px;
}
