.UIPopupCategory {
/*
	filter:alpha(opacity=50);
	-moz-opacity: 0.5 ;
	opacity: 0.5; For Mozilla FireFox
	khtml-opacity: 0.5;
*/
}

.UIPopupCategory .PopupCategoryDecorator {
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryTL {
  background: url('DefaultSkin/background/PopupCategoryTL6x16.gif') no-repeat left;
  padding-left: 6px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryTC {
  height: 16px;
  background: url('DefaultSkin/background/PopupCategoryTC1x16.gif') repeat-x;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryTR {
  background: url('DefaultSkin/background/PopupCategoryTR35x16.gif') no-repeat right;
  padding-right: 35px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryML {
  background: url('DefaultSkin/background/PopupCategoryML6x1.gif') repeat-y left;
  padding-left: 6px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryMC {
  background: #efefef;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryMR {
  background: url('DefaultSkin/background/PopupCategoryMR8x1.gif') repeat-y right;
  padding-right: 8px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryBL {
  background: url('DefaultSkin/background/PopupCategoryBL6x7.gif') no-repeat left;
  padding-left: 6px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryBC {
  height: 7px;
  background: url('DefaultSkin/background/PopupCategoryBC1x7.gif') repeat-x;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryBR {
  background: url('DefaultSkin/background/PopupCategoryBR8x7.gif') no-repeat right;
  padding-right: 8px;
}

.UIPopupCategory .CategoryItem {
  height: 22px; line-height: 22px;
  background: url('DefaultSkin/background/NormalItemBG1x22.png') repeat-x;
  border-bottom: 1px #cdcdcd solid;
  cursor: pointer ;
}

.UIPopupCategory .CategoryItem .Icon {
  width: 16px; height: 16px;
  float: left;
  margin: 3px 3px 0px 7px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/BlackRightArrow.gif') no-repeat;
}

.UIPopupCategory .CategoryItem .ModifiedIcon {
	margin-left: 0px;
}

.UIPopupCategory .CategoryItem .CategoryItemLabel {
  height: 22px; line-height: 22px;
}

.UIPopupCategory .CategoryItem a {
  color: black;
  text-decoration: none ;
  cursor: pointer;
}

.UIPopupCategory .CategoryItem a:hover {
  color: blue;
}

.UIPopupCategory .OverCategoryItem {
	background: url('DefaultSkin/background/OverItemBG1x22.png') repeat-x;
}
