/**
 * Cated by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 10, 2007
 * version: $Id$
 */

.UIWindow .UISitemapPortlet {
	border: none;
	margin: 0px;
}

.UISitemapPortlet {
	margin: 10px;
  background: white;
  border: 1px solid #b7b7b7;
  overflow: auto;
}

.UISitemap {
  padding: 10px;
}

.UISitemap .TitleBar {
  background:  #dbe4f8 url(DefaultSkin/background/SitemapItemBoxTitle150x1.gif) repeat-y right;
  height: 22px; line-height: 22px;
  overflow: hidden;
  padding-left: 5px; /* orientation=lt */
  padding-right: 5px; /* orientation=rt */
    
}

.UISitemap .TitleBar a:hover {
  color: blue;
}

.UISitemap .TitleBar a.Icon {
  margin-left: 5px;  /* orientation=lt */
  margin-right: 5px;  /* orientation=rt */
  width: auto; 
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */
  display: block;
	color: #1248ac;
	background-position: left; /* orientation=lt */
	background-position: right; /* orientation=rt */
}

.UISitemap .TitleBar .Title {
  margin-left: 6px;
  overflow: hidden;
  height: 22px;
  float: left;
  padding-right: 4px;
}

.UISitemap .SitemapContainer {
  width: 600px;
  margin: auto;
  border: 1px solid #d5d5d5;
}

.UISitemap .SitemapContainer .SitemapBackground{
  border: 1px solid white;
  background: #f2f2f2;
  padding: 10px 15px 10px 15px;
  width: auto;
  overflow: auto;
}

.UISitemap .SitemapItemBox {
  width: 270px;
  margin: 5px 0px;
}

.UISitemap .SitemapItemBox .SitemapItemContainer{
  border: 1px solid #b5b5b5;
  padding: 1px;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox {
  border: solid 1px #d6d6d6; background: white;
  padding: 8px 10px 10px 10px;
  margin: 2px 1px 1px 1px;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox .SitemapItemBoxSelector {
  border-bottom: none;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox .BorderBox {
	padding: 8px 10px 10px 10px;
	line-height: 16px;
}

.UISitemap .SitemapItemBox .Item a {
  color: black; 
  display: block;
}

.UISitemap .SitemapItemBox .Item a:hover {
  color: blue; 
}

.UISitemap .SitemapItemBox .Item .Label {
  float: left;
  line-height: 22px;
}

.UISitemap .SitemapItemBox .Item .Icon {
  width: auto; height: auto;
  margin: 4px 5px 0px 5px;
  background-repeat: no-repeat;
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */
  color: #a5a5a5;
  width: 170px;
  text-align: center;	
}

.UISitemap .SitemapItemBox .Item .IconItem {
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	background-position: left 4px; /* orientation=lt */
	background-position: right 4px; /* orientation=rt */
	line-height: 25px;
}

.UISitemap .SitemapItemBox .Level1 {
  border: solid 1px #d9d9d9; 
  background: #f3f3f3;
  margin-top: 3px;
  padding: 0px 4px;
}

.UISitemap .SitemapItemBox .Level2 {
  background: #fafafa;
  padding: 2px 0px 1px 20px;
  border: 1px solid #d9d9d9;
  border-top: none;
}

.UISitemap .SitemapItemBox .Level3 {
  background: white;
  padding: 0px 0px 3px 40px;
  border: 1px solid #d9d9d9;
  border-top: none;
}

.UISitemap .SitemapItemBox .Level4 {
  background: white;
  padding: 0px 0px 3px 60px;
  border: 1px solid #d9d9d9;
  border-top: none;
}
