/**
 * Cated by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 10, 2007
 * version: $Id$
 */

.UIWindow .UISitemapPortlet {
  padding: 10px;
}

.UIWindow .UISitemap {
	border: none;
	padding: 10px 0px;
}

.UISitemapPortlet {
  padding: 10px;
} 

.UISitemap {
  background: white;
  border: 1px solid #b7b7b7;
}

.UISitemap .TitleBar {
  height: 22px; line-height: 22px;
  padding-left: 5px;
  background: #dbe4f8 url(DefaultSkin/background/SitemapItemBoxTitle150x1.gif) repeat-y right;
}

.UISitemap .TitleBar a {
  font-weight: bold; 
  color: #1248ac;
}

.UISitemap .TitleBar a:hover {
  color: #058ee6;
}

.UISitemap .TitleBar .Icon {
  margin-top: 3px;
  width: 16px; height: 16px;
	float: left;
}

.UISitemap .TitleBar .Title {
  margin-left: 6px;
  overflow: hidden;
  height: 22px;
  float: left;
}

.UISitemap .SitemapContainer {
  width: 600px;
  margin: auto;
  border: 1px solid #d5d5d5;
}

.UISitemap .SitemapContainer .SitemapBackground{
  border: 1px solid white;
  background: #f2f2f2;
  padding: 10px 15px 10px 15px;
  width: auto;
}

.UISitemap .SitemapItemBox {
  width: 270px ;
  float: left;
  margin: 5px 0px;
}

.UISitemap .SitemapItemBox .SitemapItemContainer{
  border: 1px solid #b5b5b5;
  padding: 1px;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox {
  border: solid 1px #d6d6d6 ; background: white ;
  padding: 8px 10px 10px 10px;
  margin: 2px 1px 1px 1px;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox .SitemapItemBoxSelector {
  border-bottom: none;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox .BorderBox {
	padding: 8px 10px 10px 10px;
}

.UISitemap .SitemapItemBox .Item a {
  color: black; 
  display: block;
}

.UISitemap .SitemapItemBox .Item a:hover {
  color: blue; 
}

.UISitemap .SitemapItemBox .Item .Label {
  float: left ;
  line-height: 22px ;
}

.UISitemap .SitemapItemBox .Item .Icon {
  float: left ;
  width: 16px ;  height: 16px ;
  margin: 4px 5px 0px 5px ;
}

.UISitemap .SitemapItemBox .Item .IconItem {
	padding-left: 20px;
	background-position: left 4px;
	line-height: 25px;
}

.UISitemap .SitemapItemBox .Message {
  float: left; margin-left: 10px; 
  width: 170px;
  text-align: center; color: #a5a5a5;
}

.UISitemap .SitemapItemBox .Level1 {
  border: solid 1px #d9d9d9 ; 
  background: #f3f3f3 ;
  margin-top: 3px;
  padding: 0px 4px;
}

.UISitemap .SitemapItemBox .Level2 {
  background: #fafafa;
  padding: 2px 0px 1px 20px ;
  border: 1px solid #d9d9d9;
  border-top: none;
  padding: 0px 4px;
}

.UISitemap .SitemapItemBox .Level3 {
  background: white ;
  padding: 0px 0px 3px 40px ;
  border: 1px solid #d9d9d9;
  border-top: none;
  padding: 0px 4px;
}