/**
 * Cated by The eXo Platform SAS
 * Modifile : Vu Duy Tu
 *           duytucntt@gmail.com
 * January 10, 2007
 * version: $Id$
 */

.UIWindow .UISitemapPortlet {
  border: none;
  margin: 0px;
}

.UISitemapPortlet {
  border: 1px solid #b7b7b7;
  margin: 10px;
  background: white;
  overflow: auto;
} 

.UISitemap {
	padding: 10px;
}

.UISitemap .TitleBar {
  background: url('MacSkin/background/TitleBG1x22.gif') repeat-x;
  height: 22px; line-height: 22px;
  border: 1px solid #aeaeae;
  border-bottom: none;
  overflow: hidden;
  padding-right: 4px;
}

.UISitemap .TitleBar a:hover {
  color: blue;
}

.UISitemap .TitleBar a.Icon {
  margin-left: 5px;  /* orientation=lt */
  margin-right: 5px;  /* orientation=rt */
  width: auto; height: 22px;
  line-height: 22px;
  overflow: hidden;
  padding-left: 20px; /* orientation=lt */
  padding-right: 20px; /* orientation=rt */
  display: block;
}

.UISitemap .SitemapContainer {
  width: 600px;
  margin: auto;
  border: 1px solid #d5d5d5;
}

.UISitemap .SitemapContainer .SitemapBackground{
  border: 1px solid white;
  background: url(/eXoSkinMac/skin/MacSkin/background/BgItemSelector1x4.png) repeat;
  padding: 10px 15px 10px 15px;
  overflow: hidden;
  width: auto;
}

.UISitemap .SitemapItemBox {
  width: 270px;
  float: left;
  margin: 5px 0px;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox {
  border: solid 1px #aeaeae; background: #efefef;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox .SitemapItemBoxSelector {
  background: white;
  border: 1px solid white;
  padding: 1px 4px 4px;
}

.UISitemap .SitemapItemBox .NestedSitemapItemBox .BorderBox {
	padding: 5px;
}

.UISitemap .SitemapItemBox .Item a {
  display: block;
}

.UISitemap .SitemapItemBox .Item a:hover {
  color: blue;
}

.UISitemap .SitemapItemBox .Item .Label {
  float: left;
  line-height: 22px;
}

.UISitemap .SitemapItemBox .Item .Icon {
  width: 200px; height: auto;
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	margin: auto;
	text-align: center;
	color: gray;
	line-height: 20px;
}

.UISitemap .SitemapItemBox .Item .IconItem {
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	background-position: left 4px; /* orientation=lt */
	background-position: right 4px; /* orientation=rt */
	line-height: 25px;
}

.UISitemap .SitemapItemBox .Level1 {
  border: solid 1px #cecece;
  background: url(/eXoSkinMac/skin/MacSkin/background/BgItemSelector1x4.png) repeat;
  margin-top: 3px;
  padding: 0px 5px;
}

.UISitemap .SitemapItemBox .Level2 {
  border: solid 1px #cecece; border-top: none;
  background: #f7f7f7;
  padding-left: 20px;
}

.UISitemap .SitemapItemBox .Level3 {
  border: solid 1px #cecece; border-top: none;
  background: white;
  padding-left: 40px;
}
	
.UISitemap .SitemapItemBox .Level4 {
	border: solid 1px #cecece; border-top: none;
	background: white;
	padding-left: 60px;
}