/* --- DropDown Control Format --- */
.UIDropDownControl {
	margin-bottom: 2px;
}

.UIDropDownControl .UIDropDownAnchor {
	width: 100%;
}

.UIDropDownControl .UIDropDownTitle {
	background:white url(background/DropDownItemSelectorBG1x2.gif) repeat-x scroll center top;
	border:1px solid #929292;
	cursor:pointer;
	padding-left:5px;/* orientation=lt */
	padding-right:5px;/* orientation=rt */
	height: 19px ;
}

.UIDropDownControl .LeftMiddelItem {
	display: block ;
	background: white ;
}
.UIDropDownControl .RightMiddelItem {
	border:1px solid gray ;
	border-top:0px ;
	padding: 4px ;
}

.UIDropDownControl .RightMiddelItem .ItemListContent {
	width: 100%;
	overflow: hidden;
}

.UIDropDownControl .ItemListContent {
	border: 1px solid #e0e0e0  ;
	border-bottom: 0px ;
	background: #f3f3f3 ;
	height: 100%;
}

.ItemListContent .TopItemContainer {
	height: 15px;
	background: #e3e3e3 url('background/UpNaviArrow.gif') no-repeat center;
	border-bottom: 1px solid #E0E0E0;
}

.ItemListContent .MiddleItemContainer {
	overflow: hidden;
}

.ItemListContent .BottomItemContainer {
	height: 15px;
	background: #e3e3e3 url('background/DownNaviArrow.gif') no-repeat center;
	border-top: 1px solid white;
	border-bottom: 1px solid #E0E0E0;
}

.UIDropDownControl .UIDropDownMiddleTitle .Icon {
	width: auto;
}

.UIDropDownControl .DropDownSelectIcon {
	background: url('background/DropDownControl.gif') no-repeat scroll right top;/* orientation=lt */
	background: url('background/DropDownControl-rt.gif') no-repeat scroll left top;/* orientation=rt */
	cursor: pointer;
	height: 19px;
}

.UIDropDownControl .DropDownSelectLabel {
	font-weight: bold ;
	font-size: 10px ;
	overflow: hidden;
	line-height: 19px;
	height: 19px;
	margin-left: 5px;/* orientation=lt */
	margin-right: 5px;/* orientation=rt */
	width: 88%;
}


.UIDropDownControl .OptionItem {
	display: block ;
	padding: 0px 4px 0px 17px ;/* orientation=lt */
	padding: 0px 17px 0px 4px ;/* orientation=rt */
	border-bottom: 1px solid #e0e0e0 ;
	border-top: 1px solid #ffffff ;
	line-height: 20px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left center;/* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow-rt.gif') no-repeat right center;/* orientation=rt */
}

.UIDropDownControl .OptionItem:hover {
	background: #7aafe5 url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left center;/* orientation=lt */
	background: #7aafe5 url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow-rt.gif') no-repeat right center;/* orientation=rt */
	color: white;
}

.UIDropDownControl .UIPopupControl {
	position: absolute;
	right: -93px ;
	width: 120px ;
	top: 20px ;
}

/* -- menu Item --*/
.UIPopupControl .MenuItem {
	color: #333 ;
  background: #efefef ;
  border-bottom: 1px #cdcdcd solid ;
  cursor: pointer ;
  display: block ;
}

.UIPopupControl .MenuItem:hover {
	background: #cbcff2;
  color: #2569dc;
}

.UIPopupControl .MenuItem .ItemLabel {
	padding-left: 18px;/* orientation=lt */
	padding-right: 18px;/* orientation=rt */
  height: 22px;
  line-height: 22px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left center;/* orientation=lt */
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat right center;/* orientation=rt */
}
/* -- end menuItem --*/


.UIPageNodeSelector .UIContainerConfigOptions .UIDropDownControl .ComponentIcon {
	height: 16px;
	padding-left: 16px;/* orientation=lt */
	padding-right: 16px;/* orientation=rt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/NavigationIcon.gif') no-repeat left center;/* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/NavigationIcon.gif') no-repeat right center;/* orientation=rt */
}

.UIContainerConfigOptions .UIDropDownControl .ComponentIcon {
	height: 16px;
	padding-left: 16px;/* orientation=lt */
	padding-right: 16px;/* orientation=rt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DefaultContainerIcon.gif') no-repeat left center;/* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DefaultContainerIcon.gif') no-repeat right center;/* orientation=rt */
}