@import url(UIWidgets/DefaultStylesheet.css) ;

.UILogged {
  padding: 5px 0px 0px 0px ;
}

.UILogged .ImageContent {  
  padding: 0px 0px 0px 25px;
  height: 32px;
}

.UILogged .ImageContents {  
  padding: 0px 0px 0px 25px;
  height: 32px;
}

.UILogged .DecoratorBox {
	margin: 1px 5px 8px 5px;
}

.UILogged .DecoratorBox .TopDecoratorLeft {
	background: url('DefaultSkin/background/TopDecoratorLeft6x6.gif') no-repeat left top;
	padding: 0px 0px 0px 6px;
}

.UILogged .DecoratorBox .TopDecoratorRight {
	background: url('DefaultSkin/background/TopDecoratorRight6x6.gif') no-repeat right top;
	padding: 0px 6px 0px 0px;
}

.UILogged .DecoratorBox .MiddleTopDecorator {
	background: url('DefaultSkin/background/MiddleTopDecorator1x6.gif') repeat-x top;
	height: 6px;
}

.UILogged .DecoratorBox .CenterDecoratorLeft {
	padding: 0px 0px 0px 6px;
	background: url('DefaultSkin/background/DecoratorCenterLeft6x1.gif') repeat-y left;
}

.UILogged .DecoratorBox .CenterDecoratorRight {
	padding: 0px 6px 0px 0px;
	background: url('DefaultSkin/background/DecoratorCenterRight6x1.gif') repeat-y right;
}

.UILogged .DecoratorBox .BottomDecoratorLeft {
	padding: 0px 0px 0px 6px;
	background: url('DefaultSkin/background/BottomDecoratorLeft6x5.gif') no-repeat left bottom;
}

.UILogged .DecoratorBox .BottomDecoratorRight {
	padding: 0px 6px 0px 0px;
	background: url('DefaultSkin/background/BottomDecoratorRight6x5.gif') no-repeat bottom right;
}

.UILogged .DecoratorBox .MiddleBottomDecorator {
  height: 5px;
	background: url('DefaultSkin/background/MiddleBottomDecorator1x5.gif') repeat-x bottom;
}

.UILogged .DecoratorBox .DecoratorBackground{
  width: auto; height: auto;
  background: #e6eef7;
}

.UILogged .StyleContent .AvatarImageContent {
	float: left;
	width: 90px; height: 88px;
	padding: 12px 0px 0px 10px;
}

.UILogged .AvatarImageContent .AvatarImage {
	width: 63px; height: 70px;
	background: url('DefaultSkin/background/AvatarImage63x70.gif') no-repeat center;
	border: solid 1px #ffffff;
}

.UILogged .StyleContent .WelcomeBox {
	margin: 0px 0px 0px 95px;
}

.UILogged .StyleContent .UserWelcomeBox {
  padding: 5px 0px 7px 0px;
  background: #e6eef7;
  line-height: 30px; 
  height: 65px;
}

.UILogged .StyleContent .UserWelcomeBox .StateMessage {
  font-size: 11px; 
  text-align: center;
  line-height: 25px; 
}

.UILogged .StyleContent .UserWelcomeBox .LoggedUserName {
  color: #5aa5f8 ;
  text-align: center;
  line-height: 20px;
  font-weight: bold; 
}

.UILogged .StyleContent .LabelSignout {
	text-align: right;
	color: #f98e03;
	font-weight: bold;
	padding-right: 20px;
	text-decoration: underline;
	cursor: pointer;
}

.UILogged .StyleContent {
	height: 100px;
}

.UILogged .StyleContent .IconContent {
	width: 90%;
	margin: auto;
}

.UILogged .StyleContent .UserLabel {
	text-align: center;
	font-weight: bold; font-size: 11px;
	line-height: 20px;
}

.UILogged .StyleContent .UserLabel span {
	text-align: center;
	font-weight: bold; font-size: 11px;
	line-height: 20px;
	color: #f98e03;
}

/****************************** Icon *********************************/
.UILogged .SelectedBG {
	float: left;
	background: url('DefaultSkin/background/SelectedBG.gif') no-repeat center;
}

.UILogged .NormalBG {
	float: left;
}

.UILogged .UserIcon {  
	height: 32px; width: 32px;
	cursor: pointer;
	background: url('DefaultSkin/background/UserIcon.gif') no-repeat center;
}

.UILogged .WelcomeIcon {  
	height: 32px; width: 32px;
	cursor: pointer;
	background: url('DefaultSkin/background/WelcomeIcon.gif') no-repeat center;
}

.UILogged .EMailIcon {
	width: 36px; height: 36px;
	margin: auto;
	background: url('DefaultSkin/background/EMailIcon.gif') no-repeat bottom;
}
