

.UILogged {
  padding: 5px 0px 0px 0px ;
}

.UILogged .ImageContent {  
  padding: 0px 0px 0px 25px;
  height: 32px;
}

.UILogged .ImageContents {  
  padding: 0px 0px 0px 25px;
  height: 32px;
}

.UILogged .DecoratorBox {
	margin: 1px 5px 8px 5px;
}

.UILogged .DecoratorBox .TopDecoratorLeft {
	background: url('VistaSkin/background/TopDecoratorLeft10x8.png') no-repeat left top;
	padding: 0px 0px 0px 10px;
}

.UILogged .DecoratorBox .TopDecoratorRight {
	background: url('VistaSkin/background/TopDecoratorRight10x8.png') no-repeat right top;
	padding: 0px 10px 0px 0px;
}

.UILogged .DecoratorBox .MiddleTopDecorator {
	background: url('VistaSkin/background/MiddleTopDecorator1x8.png') repeat-x top;
	height: 8px;
}

.UILogged .DecoratorBox .CenterDecoratorLeft {
	padding: 0px 0px 0px 5px;
	background: url('VistaSkin/background/DecoratorCenterLeft5x1.png') repeat-y left;
}

.UILogged .DecoratorBox .CenterDecoratorRight {
	padding: 0px 5px 0px 0px;
	background: url('VistaSkin/background/DecoratorCenterRight5x1.png') repeat-y right;
}

.UILogged .DecoratorBox .BottomDecoratorLeft {
	padding: 0px 0px 0px 10px;
	background: url('VistaSkin/background/BottomDecoratorLeft10x12.png') no-repeat left bottom;
}

.UILogged .DecoratorBox .BottomDecoratorRight {
	padding: 0px 10px 0px 0px;
	background: url('VistaSkin/background/BottomDecoratorRight10x12.png') no-repeat bottom right;
}

.UILogged .DecoratorBox .MiddleBottomDecorator {
  height: 12px;
	background: url('VistaSkin/background/MiddleBottomDecorator1x12.png') repeat-x bottom;
}

.UILogged .DecoratorBox .DecoratorBackground{
  width: auto; height: 92px;
  background: url('VistaSkin/background/DecoratorBackground1x92.png') repeat-x;
}

.UILogged .StyleContent .AvatarContainer {
	float: left;
	width: 70px; height: 72px;
	padding: 20px 0px 0px 20px;
}

.UILogged .StyleContent .LeftAvatarContainer {
	width: 50px;
	padding: 0px 0px 0px 5px;
	background: url('VistaSkin/background/LeftAvatarContainer5x48.png') no-repeat left;
}

.UILogged .StyleContent .RightAvataContainer {
	padding: 0px 6px 0px 0px;
	background: url('VistaSkin/background/RightAvataContainer6x48.png') no-repeat right;
}

.UILogged .StyleContent .CenterAvataContainer {
	height: 48px ;
	background: url('VistaSkin/background/CenterAvataContainer1x48.png') repeat-x;
}

.UILogged .AvatarContainer .AvatarImage {
	width: 38px; height: 41px;
	background: url('VistaSkin/background/AvatarImage38x41.png') no-repeat center;
}

.UILogged .StyleContent .WelcomeBox {
	margin: 0px 0px 0px 85px;
}

.UILogged .StyleContent .UserWelcomeBox {
  padding: 5px 0px 7px 0px;
  line-height: 30px; 
  height: 65px;
}

.UILogged .StyleContent .UserWelcomeBox .StateMessage {
  font-size: 11px; 
  text-align: center;
  line-height: 25px; 
}

.UILogged .StyleContent .UserWelcomeBox .LoggedUserName {
  color: #5aa5f8 ;
  text-align: center;
  line-height: 20px;
  font-weight: bold; 
}

.UILogged .StyleContent .LabelSignout {
	text-align: right;
	color: #f98e03;
	font-weight: bold;
	padding-right: 25px;
	text-decoration: underline;
	cursor: pointer;
}

.UILogged .StyleContent {
	height: 92px;
}

.UILogged .StyleContent .IconContent {
	width: 90%;
	margin: auto;
}

.UILogged .StyleContent .UserLabel {
	text-align: center;
	font-weight: bold; font-size: 11px;
	line-height: 20px;
}

.UILogged .StyleContent .UserLabel span {
	text-align: center;
	font-weight: bold; font-size: 11px;
	line-height: 20px;
	color: #f98e03;
}

/****************************** Icon *********************************/
.UILogged .SelectedBG {
	float: left;
	background: url('VistaSkin/background/SelectedBG.png') no-repeat center;
}

.UILogged .NormalBG {
	float: left;
	background: url('VistaSkin/background/NormalBG.png') no-repeat center;
}

.UILogged .UserIcon {  
	height: 36px; width: 36px;
	cursor: pointer;
	background: url('VistaSkin/background/UserIcon.png') no-repeat center;
}

.UILogged .WelcomeIcon {  
	height: 36px; width: 36px;
	cursor: pointer;
	background: url('VistaSkin/background/WelcomeIcon.png') no-repeat center;
}

.UILogged .EMailIcon {
	width: 36px; height: 36px;
	margin: auto;
	background: url('DefaultSkin/background/EMailIcon.gif') no-repeat bottom;
}
