.UIPortalManagement {
  padding: 0px 1px 1px 1px ;
}

.UIPortalManagement .TopTitleBar {
  padding: 15px 0px;
}

.UIPortalManagement .ViewModeIcon {
  float: left ;
  width: 30px ; height: 25px ;
  margin: 5px 10px 4px 20px ;
  background: url('VistaSkin/background/ViewMode.gif') no-repeat ;
}

.UIPortalManagement .EditModeIcon {
  float: left; 
  width: 30px;  height: 25px;
  margin: 5px 10px 4px 14px;
  background: url('VistaSkin/background/EditMode.gif') no-repeat;
}
.UIPortalManagement .RollbackBar {
  width: 125px;
  margin: auto;
  margin-top: 15px;
}

.UIPortalManagement .BrowserPortalIcon {
  float: left; 
  width: 31px;  height: 25px;
  margin: 5px 10px 4px 14px;
  background: url('VistaSkin/background/BrowsePortal.gif') no-repeat;
}

.UIPortalManagement .UIToolbar .ControlToolbar {
	margin: 10px 2px 0px 95px; 
}

.UIPortalManagement .RollbackIcon {
  float: left;
  width: 30px;  height: 25px;
  margin: 2px 0px 0px 0px;
  background: url('VistaSkin/background/BlueCircleBackArrow.png') no-repeat;

}

.UIPortalManagement .UIPortalManagementEditBar {
  padding: 0px 10px;
}

.UIPortalManagement .UIPortalManagementEditBar .EditContainerIcon {
	margin: 8px 11px 0px 11px;
  width: 30px;  height: 24px;
  background: url('/eXoResources/icons/24x24/VistaSkin/ShowContainerControlIcon.png') no-repeat;
}


.UIPortalManagement .UIPortalManagementEditBar .EditPortletIcon {
	margin: 8px 11px 0px 11px;
  width: 30px;  height: 24px;
  background: url('/eXoResources/icons/24x24/VistaSkin/ShowPortletControlIcon.png') no-repeat;
}

.UIPortalManagement .UIPortalManagementEditBar .LayoutModeIcon {
  float: left;
  margin: 8px 11px 0px 11px;
  width: 24px;  height: 24px;
  cursor : pointer;
  background: url('/eXoResources/icons/24x24/VistaSkin/LayoutMode.gif') no-repeat;
}


.UIPortalManagement .UIPortalManagementEditBar .PreviewIcon {
  margin: 8px 11px 0px 11px;
  width: 30px;  height: 24px;  
  background: url('/eXoResources/icons/24x24/VistaSkin/Preview.png') no-repeat;
}

.UIPortalManagement .UIPortalManagementEditBar .EditPortalIcon { 
  margin: 8px 11px 0px 11px;
  width: 30px;  height: 24px;
  background: url('/eXoResources/icons/24x24/VistaSkin/ShowPortalControl.png');
}

.UIPortalManagement .UIPortalManagementEditBar .SavePortalIcon {
  float: left;
  width: 30px;  height: 24px;
  margin: 4px 7px;
  background: url('/eXoResources/icons/24x24/VistaSkin/BlackFloppyDisk.png') no-repeat;
}

.UIPortalManagement .UIToolbar .PolyToolbar .MiddleBar {
  padding: 2px 0px 0px 20px;
}

.UIPortalManagement .MiddleLeftContainerOptions {
	background: url('VistaSkin/background/MiddleLeftContainerOptions4x1.png') repeat-y left;
	padding-left: 4px;
	margin: 0px 10px;
}

.UIPortalManagement .MiddleRightContainerOptions {
	background: url('VistaSkin/background/MiddleRightContainerOptions5x1.png') repeat-y right;
	padding-right: 5px;
}

.UIPortalManagement .BottomLeftContainerOptions {
	background: url('VistaSkin/background/BottomLeftContainerOptions7x9.png') no-repeat left;
	padding-left: 7px;
	margin: 0px 10px;
}

.UIPortalManagement .BottomRightContainerOptions {
	background: url('VistaSkin/background/BottomRightContainerOptions8x9.png') no-repeat right;
	padding-right: 8px;
}

.UIPortalManagement .BottomCenterContainerOptions {
	background: url('VistaSkin/background/BottomCenterContainerOptions1x9.png') repeat-x ;
	height: 9px;
}
