.UITabPane {
	height: 100%;
}

.UITabPane .TabPaneContent {
	padding: 8px;
}

.UITabPane .UITabContentContainer {
	border: solid 1px #aeaeae; border-top: none;
	background: white;
}

.UITabPane .UITabContentContainer .UITabContent {
	background: #f7f7f7;
	border: solid 1px white; border-top: none;
	padding: 10px;
}

.UITabPane .UIForm .HorizontalLayout {
	border: none;
	background: none;
	padding: 0px;
}

.UITabPane .UIFormWithTitle .HorizontalLayout {
	border: 1px solid #b7b7b7;
	border-top: none;
	padding: 10px;
}