.UIPopupWindow {
  position: absolute;
}

.UIPopupWindow .PopupTitleIcon {
  float: left;
  margin-top: 10px;
  width: 16px; height: 16px;
  background: url('MacSkin/background/PopupWindowIcon.gif') no-repeat;
}

.UIPopupWindow .PopupTitleIconRight {
  float: right;
  margin: 5px 3px 0px 0px;
  width: 19px; height: 15px;
  background: url('DefaultSkin/background/PopupWindowIcon16x16.gif') no-repeat;
}

.UIPopupWindow .PopupTitle {
  margin: 5px 20px 0px 20px;
  text-align: center;
  font-weight: bold; 
  height: 24px; line-height: 22px; vertical-align: middle;
  cursor: move;
}

.UIPopupWindow .CloseButton {
  float: right;
  margin-top: 10px;
  cursor: pointer;
  width: 16px; height: 16px;
  background: url('MacSkin/background/CloseButtonIcon.gif') no-repeat;
}

.UIPopupWindow .TopLeftCornerDecorator {
  background: url('MacSkin/background/PopupWindowTL15x29.png') no-repeat left;
  padding-left: 15px;
}

.UIPopupWindow .TopCenterDecorator {
  background: url('MacSkin/background/PopupWindowTC1x29.png') repeat-x;
  height: 29px; 
}

.UIPopupWindow .TopRightCornerDecorator {
  background: url('MacSkin/background/PopupWindowTR15x29.png') no-repeat right ;
  padding-right: 15px;
}

.UIPopupWindow .MiddleLeftSideDecorator {
  background: url('MacSkin/background/PopupWindowML8x16.png') repeat-y left;
  padding-left: 8px ;  
}

.UIPopupWindow .MiddleCenterDecorator {
  background: url('MacSkin/background/PopupWindowMC1x16.png');
}

.UIPopupWindow .MiddleRightSideDecorator {
  background: url('MacSkin/background/PopupWindowMR8x16.png') repeat-y right;
  padding-right: 8px ;  
}

.UIPopupWindow .UIWindowContent {
  padding: 0px 5px 1px 5px;
  
}

.UIPopupWindow .Content {
  background: white;
  border: 1px solid #cdcdcd;
  border-right: 1px solid #949494;
  border-bottom: 1px solid #949494;
  overflow: auto;
}

.UIPopupWindow .BottomBar {
  height:11px;
  padding:1px;
  width: auto;
}

.UIPopupWindow .ResizeButton{
  width: 10px; height:10px; 
  float: right;
  background: url('MacSkin/background/ResizeBG.gif') no-repeat ;
  cursor: nw-resize;
  display: none;
}

.UIPopupWindow .BottomLeftCornerDecorator {
  background: url('MacSkin/background/LeftBottomPopupWindow10x24.png') no-repeat left ;
  padding-left: 10px;
}

.UIPopupWindow .BottomCenterDecorator {
  background: url('MacSkin/background/CenterBottomPopupWindow1x24.png') repeat-x;
  height: 24px;
}

.UIPopupWindow .BottomRightCornerDecorator {
  background: url('MacSkin/background/RightBottomPopupWindow11x24.png') no-repeat right ;
  padding-right: 11px ;  
}

.UIPopupWindow .Content .UIPageBrowser {
  padding: 7px 2px 0px 8px;
}

/***************************Begin PoupWindow Caledar**********************************/
.UIPopupWindow .CaledarStyle .TopLeftCornerDecorator {
	background: url('DefaultSkin/background/PopupCreatEventTL12x25.gif') no-repeat left; 
	padding-left: 12px;
}

.UIPopupWindow .CaledarStyle .TopRightCornerDecorator {
	background: url('DefaultSkin/background/PopupCreatEventTR3x25.gif') no-repeat right; 
	padding-right: 3px;
}

.UIPopupWindow .CaledarStyle .TopCenterDecorator {
	background: url('DefaultSkin/background/PopupCreatEventTC1x25.gif') repeat-x ; 
	height: 25px;
}

.UIPopupWindow .CaledarStyle .PopupTitle {
	background: none;
}

.UIPopupWindow .CaledarStyle .PopupTitleIcon {
	width: 16px;	height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/AddNewEventIcon.gif') no-repeat;
	float: left;
	margin: 5px 0px 0px 4px;
}

.UIPopupWindow .CaledarStyle .MiddleLeftSideDecorator {
	background: url('DefaultSkin/background/PopupCreatEventML3x1.gif') repeat-y left; 
	padding-left: 3px;
}

.UIPopupWindow .CaledarStyle .MiddleRightSideDecorator {
	background: url('DefaultSkin/background/PopupCreatEventMR3x1.gif') repeat-y right; 
	padding-right: 3px;
}

.UIPopupWindow .CaledarStyle .MiddleCenterDecorator {
	background: #ffffff;
	padding: 0px;
}

.UIPopupWindow .CaledarStyle .UIWindowContent {
	padding: 0px; margin:0px;
	background: url('null') no-repeat;
}

.UIPopupWindow .CaledarStyle .UIWindowContent .Content {
	padding: 0px; margin:0px;
	border: none;
	background: url('null') no-repeat;
}

.UIPopupWindow .CaledarStyle .BottomBar {
	height: 0px; 
	padding: 0px; margin:0px;
}

.UIPopupWindow .CaledarStyle .BottomBar .ResizeButton {
	background: url('null') no-repeat;
	height: 0px;
}

.UIPopupWindow .CaledarStyle .BottomLeftCornerDecorator {
	background: url('DefaultSkin/background/PopupCreatEventBL12x12.gif') no-repeat left; 
	padding-left: 12px; height: 12px;
}

.UIPopupWindow .CaledarStyle .BottomRightCornerDecorator {
	background: url('DefaultSkin/background/PopupCreatEventBR12x12.gif') no-repeat right; 
	padding-right: 12px;height: 12px;
}

.UIPopupWindow .CaledarStyle .BottomCenterDecorator {
	background: url('DefaultSkin/background/PopupCreatEventBC1x12.gif') repeat-x ; 
	height: 12px;
}
/***************************End PoupWindow Caledar**********************************/

.UIPopupWindow .Content .UIPageBrowser {
  padding: 7px 4px 0px 8px;
}
/***************************Begin PoupWindow ExoMessage**********************************/
.UIPopupWindow .ExoMessageDecorator {
}

.UIPopupWindow .ExoMessageDecorator .TopLeftCornerDecorator {
	background: url('MacSkin/background/TLMessageDecorator17x32.png') no-repeat left bottom; 
	padding-left: 17px;
	height: 31px;
}

.UIPopupWindow .ExoMessageDecorator .TopRightCornerDecorator {
	background: url('MacSkin/background/TRMessageDecorator18x32.png') no-repeat right bottom; 
	padding-right: 18px;
	height: 31px;
}

.UIPopupWindow .ExoMessageDecorator .TopCenterDecorator {
	background: url('MacSkin/background/TCMessageDecorator1x32.png') repeat-x bottom ; 
	line-height: 31px;
	height: 31px;
}

.UIPopupWindow .ExoMessageDecorator .PopupTitle {
	background: none;
	line-height: 30px;
}

.UIPopupWindow .ExoMessageDecorator .CloseButton {
	margin-top: 13px;
}

.UIPopupWindow .ExoMessageDecorator .PopupTitleIcon {
	width: 25px;	height: 24px;
	background: url('MacSkin/background/MessageIcon.gif') no-repeat center;
	float: left;
	margin: 9px 0px 0px 4px;
}

.UIPopupWindow .ExoMessageDecorator .MiddleLeftSideDecorator {
	background: url('MacSkin/background/MLMessageDecorator10x1.png') repeat-y left; 
	padding-left: 10px;
}

.UIPopupWindow .ExoMessageDecorator .MiddleRightSideDecorator {
	background: url('MacSkin/background/MRMessageDecorator10x1.png') repeat-y right; 
	padding-right: 10px;
}

.UIPopupWindow .ExoMessageDecorator .MiddleCenterDecorator {
	background: #ffffff;
	padding: 0px;
}

.UIPopupWindow .ExoMessageDecorator .BottomLeftCornerDecorator {
	background: url('MacSkin/background/BLMessageDecorator17x19.png') no-repeat left; 
	padding-left: 17px; 
}

.UIPopupWindow .ExoMessageDecorator  .UIWindowContent {
	padding: 0px; margin:0px;
	background: url('null') no-repeat;
}

.UIPopupWindow .ExoMessageDecorator  .UIWindowContent .Content {
	padding: 0px; margin:0px;
	border: none;
	background: url('null') no-repeat;
}

.UIPopupWindow .ExoMessageDecorator .BottomRightCornerDecorator {
	background: url('MacSkin/background/BRMessageDecorator19x19.png') no-repeat right; 
	padding-right: 19px; 
}

.UIPopupWindow .ExoMessageDecorator .BottomCenterDecorator {
	background: url('MacSkin/background/BCMessageDecorator1x19.png') repeat-x ; 
	height: 19px;
}

.UIPopupWindow .UIPageBrowser .UIGrid .ActionContainer {
  width: 20px;
}
