.eXoBrowser {
	border: solid 0px gray ;
}

.eXoBrowser .UIToolbar {
  background: url("VistaSkin/background/UIToolbarBG1x68.png") repeat-x ;
	margin: 0px;
	padding: 0px 0px 0px 5px ;
	border: solid 1px #454545 ;
	border-bottom:none ;
}

.eXoBrowser .ButtonContainer {
	float: left ;
}

.eXoBrowser .ToolbarButton {
	float: left ;
	width: 32px ; height: 32px ;
	cursor: pointer ;
}

.eXoBrowser .ToolbarButtonOver {
	float: left ;
	width: 32px ; height: 32px ;
	background: url("VistaSkin/background/ToolbarButtonOver.png") no-repeat center ;
	cursor: pointer ;
}

.eXoBrowser .Separators {
	float: left ;
	width: 2px ; height: 32px ;
	background: url("VistaSkin/background/Separator.png") no-repeat center ;
}

.eXoBrowser .TabContainer .Separator {
	float: left ;
	height: 25px;
	background: none;
	border-left: solid 1px #7bab7b;
}

.eXoBrowser .BackButton {
	float: left ;
	width: 32px ; height: 32px ;
	background: url("VistaSkin/icons/24x24/Back.png") no-repeat center ;
}

.eXoBrowser .FowardButton {
	width: 28px ; height: 32px ;
	background: url("VistaSkin/icons/24x24/Foward.png") no-repeat center ;	
}

.eXoBrowser .RefreshButton{
	width: 32px ; height: 32px ;
	background: url("VistaSkin/icons/24x24/Refresh.png") no-repeat center ;
}

.eXoBrowser .StopButton {
	width: 32px ; height: 32px ;
	background: url("VistaSkin/icons/24x24/StopBlue.png") no-repeat center ;
}

.eXoBrowser .HomeButton {
	width: 32px ; height: 32px ;
	background: url("VistaSkin/icons/24x24/Home.png") no-repeat center ;
}

.eXoBrowser .RightAddressBarContainer {
	padding: 2px 0px 0px 0px ;
	margin: 0px 0px 0px 170px ;
}

.eXoBrowser .StatusButton {
  float: right ;
	width: 25px ; height: 31px ;
	background: url("VistaSkin/icons/24x24/Status.png") no-repeat center;
}

.eXoBrowser .GoButton {
  float: right ;
  width:29px; height: 22px ;
	background: url("VistaSkin/icons/24x24/Go.png") no-repeat left ;
	cursor: pointer ;
	line-height: 22px ; 
	padding: 0px 5px 0px 33px ;
	margin: 3px 0px 0px 0px ;
}

.eXoBrowser .RightAddressBarContainer a:hover {
	background: url("VistaSkin/icons/24x24/OverGo.png") no-repeat left ;
}

.eXoBrowser .AddressBarContainer {
  height: 20px ;
	background: url("VistaSkin/icons/24x24/ActiveGlobal.png") white no-repeat left ;
	padding: 0px 2px 0px 17px ;
	margin: 3px 80px 0px 5px ;
	border: solid 1px #8c8c94 ;

}

.eXoBrowser .ArrowDownButton {
  float: right ;
	width: 16px ; height: 16px ;
	background: url("VistaSkin/icons/16x16/ArrowDownButton.png") no-repeat center;
}

.eXoBrowser .TextBox {
	margin: 0px 17px 0px 0px ;
}

.eXoBrowser .BrowserContent {
	width: 100%;
}

.eXoBrowser .TabBackground {
	background: url("VistaSkin/background/TabContainerBG1x34.png") repeat-x ;
	padding: 0px 0px 0px 5px ;
	border: solid 1px #454545;
	border-top: none;
	border-bottom: solid 1px #ffffff ;
	margin: 0px;
}

.eXoBrowser .TabContainer {
	overflow: hidden ;
}

.eXoBrowser .ActiveTabDetailBackground {
  float: left ;
	width: 150px ; height: 25px ;
	background: url("VistaSkin/background/ActiveTabDetail1x25.png") repeat-x ;
}

.eXoBrowser .TabDetailBackground {
  float: left ;
	width: 150px ; height: 25px ;
	background: url("VistaSkin/background/TabDetail1x25.png") repeat-x ;
}

.eXoBrowser .TabDetail {
	width: 150px ; height: 20px ;
	background: url("DefaultSkin/icons/16x16/InactiveGlobal.gif") no-repeat left ;
	padding: 2px 5px 0px 21px ;
}

.eXoBrowser .ActiveTabDetail {
  height: 20px ;
  background: url("VistaSkin/icons/24x24/ActiveGlobal.png") no-repeat left ;
	padding: 2px 5px 0px 21px ;
	margin: 0px 0px 0px 3px ;
}

.eXoBrowser .TabSeparator {
  float: left ;
  width: 2px ; height: 20px ;
	background: url("DefaultSkin/icons/16x16/TabSeparator2x20.jpg") no-repeat ;
}

.UIWindow .TabContent {
	width: 100% ;
	border: none ; 
}

.eXoBrowser .TabLabel {
	cursor: pointer ;
	font-size: 11px ;
	text-align: center ;
	overflow: hidden ;
	text-overflow: ellipsis ;
	line-height: 18px ;
	vertical-align: middle ;
}

.eXoBrowser .CloseButton {
  float: right ;
	width:13px ; height:21px ;
	background: url("VistaSkin/icons/16x16/InactiveClose.png") no-repeat center ;
	cursor: pointer ;
}

.eXoBrowser .ActiveCloseButton {
	float: right ;
	width: 13px ; height: 21px ;
	background: url("VistaSkin/icons/16x16/ActiveClose.png") no-repeat center ;
	cursor: pointer ;
	
}

.eXoBrowser .NewTabButtonOver {
	float: left ;
	width: 30px ; height: 20px ;
	background: url("VistaSkin/background/NewTabButtonOver.png") repeat-x ;
	cursor: pointer ;
	margin: 5px 0px 0px 0px ;
}

.eXoBrowser .NewTabButton {
	float: left ;
	width: 30px ; height: 20px ;
	background: url("VistaSkin/background/NewTabBG1x20.png") repeat-x ;
	cursor: pointer ;
  margin: 5px 0px 0px 0px ;
}

.eXoBrowser .RightNewTab {
	height: 20px ;
	background: url("VistaSkin/background/RightNewTab2x20.jpg") no-repeat right ;
}

.eXoBrowser .MiddleNewTab {
	height: 20px ;
	background: url("DefaultSkin/icons/16x16/NewTab.gif") no-repeat center ;
}

.eXoBrowser .ClipTabIcon {
	float: right ;
	width: 20px ; height: 20px ;
	background: url("VistaSkin/icons/16x16/ClipTab.png") no-repeat center ;
	cursor: pointer ;
}
