.UIChangeLanguageForm {
}

.UIChangeLanguageForm .UIFormTabPane .TabPaneContent .UITabContentContainer {
}

.UIChangeLanguageForm .UIItemSelector .RightColumnStyle .ItemListContainer {
	float: left;
	width: 175px;
}

.UIChangeLanguageForm .UIItemSelector .ItemListContainer .ItemList {
  background: white url('background/ItemListBg157x99.gif') no-repeat right bottom;
}

.UIChangeLanguageForm .UIItemSelector .RightColumnStyle .ItemDetailList {
	margin: 0px 0px 0px 180px;
}

.UIChangeLanguageForm .UIItemSelector .ItemDetail .TemplateContainer {
	padding-top: 10px;
}

.UIChangeLanguageForm .UIItemSelector .RightColumnStyle .ItemDetailList {
	padding: 0px;
}

.UIChangeLanguageForm .UIItemSelector .ItemDetailContainer {
	background: #ffffff;
	border: solid 1px #a4a4a4;
	padding: 6px; 
}

.UIChangeLanguageForm .UIItemSelector .RightColumnStyle .ItemDetailList .ItemDetail {
	border: solid 1px #d2d2d2;
	height: 227px;
	margin: 0px;
}

.UIChangeLanguageForm .ItemDetail .NormalItem {
	height: 24px;
	border-bottom: solid 1px #e9e7e7;
	cursor: pointer ;
	color: black;
}

.UIChangeLanguageForm .ItemDetail .NormalItem a:hover {
	color: blue;
}

.UIChangeLanguageForm .ItemDetail .SelectedItem {
	height: 24px;
	color: #f27e01;
	border-bottom: solid 1px #e9e7e7;
}

.UIChangeLanguageForm .ItemDetail .NormalItem .Icon {
	float: left;
	height: 24px; width: 24px;
}

.UIChangeLanguageForm .ItemDetail .SelectedItem .Icon {
	float: left;
	height: 24px; width: 24px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueCheckerIcon.gif') no-repeat center;
}

.UIChangeLanguageForm .ItemDetail .NodeLabel {
	float: left;
	line-height: 24px;
	text-align: left;
}

.UIChangeLanguageForm .ItemDetail .PercentLabel {
	line-height: 24px;
	text-align: right;
	padding-right: 20px;
}

.UIChangeLanguageForm .UITabPane .TabPaneContent {
	padding: 0px;
}

.UIChangeLanguageForm .UITabPane .TabPaneContent .UITabContentContainer { 
	border: 1px solid #d4d4d4;
	border-top: none;
}
