<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Bonita Console</display-name>
	<filter>
		<filter-name>BPMURLSupportFilter</filter-name>
		<filter-class>org.bonitasoft.forms.server.filter.BPMURLSupportFilter</filter-class>
	</filter>
	<filter>
		<filter-name>BPMURLSupportFilterAdmin</filter-name>
		<filter-class>org.bonitasoft.forms.server.filter.BPMURLSupportFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ThreadLocalFilter</filter-name>
		<filter-class>org.bonitasoft.console.security.server.filter.ThreadLocalFilter</filter-class>
	</filter>
	<!-- Cache Filter Start -->
	<filter>
		<filter-name>CacheFilter</filter-name>
		<filter-class>org.bonitasoft.forms.server.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>js</param-name>
			<param-value>604800</param-value>
		</init-param>
		<init-param>
			<param-name>gif</param-name>
			<param-value>604800</param-value>
		</init-param>
		<init-param>
			<param-name>png</param-name>
			<param-value>604800</param-value>
		</init-param>
		<init-param>
			<param-name>jpg</param-name>
			<param-value>604800</param-value>
		</init-param>
		<init-param>
			<param-name>css</param-name>
			<param-value>604800</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>ApplicationResourceCacheFilter</filter-name>
		<filter-class>org.bonitasoft.forms.server.filter.ApplicationResourceCacheFilter</filter-class>
		<init-param>
			<param-name>js</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>gif</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>png</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>jpg</param-name>
			<param-value>3600</param-value>
		</init-param>
		<init-param>
			<param-name>css</param-name>
			<param-value>3600</param-value>
		</init-param>
	</filter>
	<!-- Cache Filter End -->
	<filter>
		<filter-name>Web Authentication Filter</filter-name>
		<filter-class>org.exoplatform.bonitasoft.filter.SetCredentialsInSessionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Web Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>

	</filter-mapping>
	<filter-mapping>
		<filter-name>ThreadLocalFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BPMURLSupportFilter</filter-name>
		<url-pattern>/console/BonitaConsole.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BPMURLSupportFilterAdmin</filter-name>
		<url-pattern>/console/admin.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>BPMURLSupportFilter</filter-name>
		<url-pattern>/console/homepage</url-pattern>
	</filter-mapping>
	<!-- Cache Filter Mapping Start -->
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping> 
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping> 
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ApplicationResourceCacheFilter</filter-name>
		<url-pattern>/console/applicationResource</url-pattern>
	</filter-mapping> 
	<filter-mapping>
		<filter-name>ApplicationResourceCacheFilter</filter-name>
		<url-pattern>/console/themeResource</url-pattern>
	</filter-mapping> 
	<!-- Cache Filter Mapping End -->
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.security.server.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.security.server.CredentialsEncryptionServletExt/security/credentialsencryption</servlet-name>
		<servlet-class>org.bonitasoft.console.security.server.CredentialsEncryptionServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.bam.BonitaWebReportExt/console/bam/run</servlet-name>
		<servlet-class>org.bonitasoft.console.server.bam.BonitaWebReportExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>net.sf.jasperreports.j2ee.servlets.ImageServlet/console/bam/image</servlet-name>
		<servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.ImageRendererServlet/console/image/renderer</servlet-name>
		<servlet-class>org.bonitasoft.console.server.ImageRendererServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.bam.ReportingServletExtconsole/reporting</servlet-name>
		<servlet-class>org.bonitasoft.console.server.bam.ReportingServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.users.UserServletconsole/user</servlet-name>
		<servlet-class>org.bonitasoft.console.server.users.UserServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.forms.server.ApplicationResourceServletconsole/applicationResource</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.ApplicationResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.ConsoleResourceServletconsole/consoleResource</servlet-name>
		<servlet-class>org.bonitasoft.console.server.ConsoleResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.servlet.AttachmentImageServletconsole/attachmentImage</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.AttachmentImageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.security.server.LoginServletExtconsole/loginservice</servlet-name>
		<servlet-class>org.bonitasoft.console.security.server.LoginServletExt</servlet-class>
	</servlet>
	<servlet> 
		<servlet-name>org.bonitasoft.forms.server.login.FormLoginServletExtconsole/formlogin</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.login.FormLoginServletExt</servlet-class> 
	</servlet>  
	<servlet>
		<servlet-name>org.bonitasoft.console.server.login.ConsoleLoginServletExtconsole/login</servlet-name>
		<servlet-class>org.bonitasoft.console.server.login.ConsoleLoginServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.identity.IdentityServletExtconsole/identity</servlet-name>
		<servlet-class>org.bonitasoft.console.server.identity.IdentityServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.servlet.AttachmentDownloadServletconsole/attachmentDownload</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.AttachmentDownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.steps.StepServletExtconsole/step</servlet-name>
		<servlet-class>org.bonitasoft.console.server.steps.StepServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.steps.EventServletconsole/event</servlet-name>
		<servlet-class>org.bonitasoft.console.server.steps.EventServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.forms.server.FormsServletExtconsole/formsservice</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.FormsServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.servlet.FileUploadServletconsole/fileUpload</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.categories.CategoryServletconsole/category</servlet-name>
		<servlet-class>org.bonitasoft.console.server.categories.CategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.deployment.RemoteDeploymentServletconsole/remotedeployment</servlet-name>
		<servlet-class>org.bonitasoft.console.server.deployment.RemoteDeploymentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.licensing.LicensingServletconsole/licensing</servlet-name>
		<servlet-class>org.bonitasoft.console.server.licensing.LicensingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.processes.ProcessServletExtconsole/process</servlet-name>
		<servlet-class>org.bonitasoft.console.server.processes.ProcessServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.privileges.PrivilegesServletExtconsole/privilege</servlet-name>
		<servlet-class>org.bonitasoft.console.server.privileges.PrivilegesServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.cases.CaseServletExtconsole/case</servlet-name>
		<servlet-class>org.bonitasoft.console.server.cases.CaseServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.labels.LabelServletconsole/label</servlet-name>
		<servlet-class>org.bonitasoft.console.server.labels.LabelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.server.documents.DocumentsServletExt/document</servlet-name>
		<servlet-class>org.bonitasoft.console.server.documents.DocumentsServletExt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>themes</servlet-name>
		<servlet-class>org.bonitasoft.console.server.themes.ThemesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.common.themes.ThemeUploadServlet/console/themeUpload</servlet-name>
		<servlet-class>org.bonitasoft.console.common.themes.ThemeUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.common.themes.ThemeResourceServletconsole/themeResource</servlet-name>
		<servlet-class>org.bonitasoft.console.common.themes.ThemeResourceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>monitoring</servlet-name>
		<servlet-class>org.bonitasoft.console.server.monitoring.MonitoringServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.console.servlet.PDFServletconsole/PDFServlet</servlet-name>
		<servlet-class>org.bonitasoft.console.servlet.PDFServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>org.bonitasoft.forms.server.HomepageServletExtconsole/homepage</servlet-name>
		<servlet-class>org.bonitasoft.forms.server.HomepageServletExt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/console/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.security.server.CredentialsEncryptionServletExt/security/credentialsencryption</servlet-name>
		<url-pattern>/security/credentialsencryption</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.bam.BonitaWebReportExt/console/bam/run</servlet-name>
		<url-pattern>/console/bam/run</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>net.sf.jasperreports.j2ee.servlets.ImageServlet/console/bam/image</servlet-name>
		<url-pattern>/console/bam/image</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.ImageRendererServlet/console/image/renderer</servlet-name>
		<url-pattern>/console/image/renderer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.bam.ReportingServletExtconsole/reporting</servlet-name>
		<url-pattern>/console/reporting</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.users.UserServletconsole/user</servlet-name>
		<url-pattern>/console/user</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.forms.server.ApplicationResourceServletconsole/applicationResource</servlet-name>
		<url-pattern>/console/applicationResource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.ConsoleResourceServletconsole/consoleResource</servlet-name>
		<url-pattern>/console/consoleResource</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.servlet.AttachmentImageServletconsole/attachmentImage</servlet-name>
		<url-pattern>/console/attachmentImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.security.server.LoginServletExtconsole/loginservice</servlet-name>
		<url-pattern>/console/loginservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping> 
		<servlet-name>org.bonitasoft.forms.server.login.FormLoginServletExtconsole/formlogin</servlet-name> 
		<url-pattern>/console/formlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.login.ConsoleLoginServletExtconsole/login</servlet-name>
		<url-pattern>/console/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.identity.IdentityServletExtconsole/identity</servlet-name>
		<url-pattern>/console/identity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.servlet.AttachmentDownloadServletconsole/attachmentDownload</servlet-name>
		<url-pattern>/console/attachmentDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.steps.StepServletExtconsole/step</servlet-name>
		<url-pattern>/console/step</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.steps.EventServletconsole/event</servlet-name>
		<url-pattern>/console/event</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.forms.server.FormsServletExtconsole/formsservice</servlet-name>
		<url-pattern>/console/formsservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.servlet.FileUploadServletconsole/fileUpload</servlet-name>
		<url-pattern>/console/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.categories.CategoryServletconsole/category</servlet-name>
		<url-pattern>/console/category</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.deployment.RemoteDeploymentServletconsole/remotedeployment</servlet-name>
		<url-pattern>/console/remotedeployment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.licensing.LicensingServletconsole/licensing</servlet-name>
		<url-pattern>/console/licensing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.processes.ProcessServletExtconsole/process</servlet-name>
		<url-pattern>/console/process</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.privileges.PrivilegesServletExtconsole/privilege</servlet-name>
		<url-pattern>/console/privilege</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.cases.CaseServletExtconsole/case</servlet-name>
		<url-pattern>/console/case</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.labels.LabelServletconsole/label</servlet-name>
		<url-pattern>/console/label</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.server.documents.DocumentsServletExt/document</servlet-name>
		<url-pattern>/console/document</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>themes</servlet-name>
		<url-pattern>/console/themes</url-pattern>
	</servlet-mapping> 
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.common.themes.ThemeUploadServlet/console/themeUpload</servlet-name>
		<url-pattern>/console/themeUpload</url-pattern>
	</servlet-mapping>  
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.common.themes.ThemeResourceServletconsole/themeResource</servlet-name>
		<url-pattern>/console/themeResource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.forms.server.HomepageServletExtconsole/homepage</servlet-name>
		<url-pattern>/console/homepage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>monitoring</servlet-name>
		<url-pattern>/console/monitoring</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>org.bonitasoft.console.servlet.PDFServletconsole/PDFServlet</servlet-name>
		<url-pattern>/console/PDFDownload</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>