
.UITabContainer .UIHorizontalTabs {
	padding: 0px;
	margin: 0px;
}

.UITabContainer .HorizontalLayout {
	background: #ffffff;
	border: solid 1px #7b7b7b;
	border-top: none;
}

.UITabContainer .TabLabel {
	float: left;
	padding: 0px 10px 0px 2px;
}

.UITabContainer .SelectedTab .EditIcon {
	float: left;
	width: 16px; height: 20px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SelectedEditTab.gif') no-repeat bottom;
}

.UITabContainer .NormalTab .EditIcon {
	float: left;
	width: 16px; height: 20px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/NormalEditTab.gif') no-repeat bottom;
}

.UITabContainer .SelectedTab .CloseIcon {
	float: left;
	width: 16px; height: 20px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/SelectedCloseTab.gif') no-repeat bottom;
}

.UITabContainer .NormalTab .CloseIcon {
	float: left;
	width: 16px; height: 20px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/NormalCloseTab.gif') no-repeat bottom;
}