.UITabContainer {
	padding: 2px 7px 7px 7px;
}

.UITabContainer .UIHorizontalTabs {
}

.UITabContainer .HorizontalLayout {
	background: #ffffff;
	border: solid 1px #7b7b7b;
	border-top: none;
}

.UITabContainer .HorizontalLayout .UIContainer .LAYOUT-CONTAINER{
	margin: 0px 5px 5px 5px;
}

.UITabContainer .HorizontalLayout .UIContainer .CONTROL-CONTAINER{
	margin: 0px 2px 0px 2px;
}

.UITabContainer .HorizontalLayout .UIPortlet .CONTROL-PORTLET{
	margin: 0px;
}

.UITabContainer .HorizontalLayout .UIPortlet .LAYOUT-PORTLET{
	margin: 0px;
}

.UITabContainer .HorizontalLayout .UIPortlet .VIEW-PORTLET{
	margin-left: 4px;
}

.UITabContainer .SelectedTab .TabLabel {
	float: left;
	padding: 0px 10px 0px 2px;
}

.UITabContainer .NormalTab .TabLabel {
	float: left;
	padding: 0px 10px 0px 2px;
}

.UITabContainer .SelectedTab .EditIcon {
	float: left;
	width: 16px; height: 20px;
  background: url('/eXoResources/icons/16x16/MacSkin/EditIcon.png') no-repeat bottom;
}

.UITabContainer .NormalTab .EditIcon {
	float: left;
	width: 16px; height: 20px;
	background: url('/eXoResources/icons/16x16/MacSkin/DisableEditIcon.gif') no-repeat bottom;
}

.UITabContainer .SelectedTab .CloseIcon {
	float: left;
	width: 16px; height: 20px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/SelectedCloseTab.gif') no-repeat bottom;
}

.UITabContainer .NormalTab .CloseIcon {
	float: left;
	width: 16px; height: 20px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/NormalCloseTab.gif') no-repeat bottom;
}