/**
 * Created by The eXo Platform SARL
 * Modifile : Nguyen Ngoc Thuy
 * May 8, 2007
 * version: $Id$
 */
 
.UIWindow .UIApplicationRegistryPortlet {
	border: none;
	margin: 0px;
	overflow: visible;
}

.UIApplicationRegistryPortlet {
	border: 1px solid #b7b7b7;
	margin: 5px;
	letter-spacing: 0.4px;
	background: #fff;
	overflow: auto;
	padding: 10px;
}

.UIApplicationRegistryPortlet .UIControlbar {
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-x center -222px;
	border: 1px solid #b7b7b7;
	height: 23px; line-height: 23px;
	padding: 0px 10px;
	margin: 5px 0px;
}

.UIApplicationRegistryPortlet .UIControlbar .IconControl {
	float: left;
	cursor: pointer;
	background-image: url('DefaultSkin/background/ControlIcon.gif');
	background-repeat: no-repeat;
	padding-left: 25px;
	line-height: 23px;
	margin: 0px 15px 0px 7px;
}

.UIApplicationRegistryPortlet .UIControlbar .AddNewIcon {
	background-position: left top;
}

.UIApplicationRegistryPortlet .UIControlbar .AddCategoryIcon {
	background-position: left -46px;
}

.UIApplicationRegistryPortlet .UIControlbar .CreateNewIcon {
	background-position: left -23px;
}

.UIApplicationRegistryPortlet .UIControlbar .ImportIcon {
	background-position: left -69px;
	float: right;
}

.UIApplicationRegistryPortlet .AppRegistryContainer {
	border: 1px solid #b7b7b7;
}

.UIApplicationRegistryPortlet .AppRegistryContainer .AppRegistryControl {
	float: left;
	width: 245px;
	height: 300px;
}

.UIApplicationRegistryPortlet .AppRegistryContainer .WorkingArea {
	border: 1px solid white;
	border-right: none;
	background: #f5f5f5;
	height: 288px;
	width: 220px;
	float: left;
	padding: 5px 2px 5px 5px;
}

.UIApplicationRegistryPortlet .Slidebar {
	float: left;
	width: 14px;
	background: url('DefaultSkin/background/AppRegistryControl.gif') repeat-y -16px 0px;
	cursor: pointer;
	height: 100%;
}

.UIApplicationRegistryPortlet .Slidebar .SlidebarControl {
	background: url('DefaultSkin/background/AppRegistryControl.gif') no-repeat left center;
	height: 100%;
	width: 14px;
}

.UIApplicationRegistryPortlet .AppRegistryControl .CategoryContent {
	padding: 1px;
	background: white;
	border: 1px solid #d7d7d7;
}

.UIApplicationRegistryPortlet .AppRegistryControl .TitleCategory {
	background: url('DefaultSkin/background/AppRegistryControl.gif') repeat-y -32px top;
	height: 17px;
	padding: 10px 5px 0px 5px;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
}

.UIApplicationRegistryPortlet .CategoryContent .ListContent {
	border: 1px solid #d7d7d7;
	margin: 5px;
}

.UIApplicationRegistryPortlet .CategoryContent .ItemContent {
	line-height: 26px;
	height: 26px;
	background: url('DefaultSkin/background/AppRegistryControl.gif') repeat-y -485px -20px;
	padding: 0px 5px;
}

.UIApplicationRegistryPortlet .CategoryContent a.TabLabel {
	display: block;
	float: left;
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-y left -92px;
	padding-left: 20px;
}

.UIApplicationRegistryPortlet .CategoryContent .ControlIcon {
	display: block;
	float: right;
	margin: 3px;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
}

.UIApplicationRegistryPortlet .CategoryContent a.ControlIcon:hover {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
}

.UIApplicationRegistryPortlet .ListItem .SelectedItem a.TabLabel {
	font-weight: bold;
	padding-left: 3px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs {
	margin: 1px 1px 1px 0px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .NormalTab a.TabLabel {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left center;
	padding: 0px 0px 0px 18px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .SelectedTab a.TabLabel {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayDownArrow.gif') no-repeat left center;
	padding: 0px 0px 0px 18px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .NormalTab .ControlIcon {
	float: right;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .SelectedTab .ControlIcon {
	float: right;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .UIVTabContent .ItemLabel {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -170px;
	padding-left: 10px;
	display: block;
	float: left;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .VTabSimpleStyle .UIVTabContent {
	padding: 5px;
	margin: 0px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .UIVTabContent .SelectedItem .ItemLabel {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -196px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .UIVTabContent .ControlIcon {
	float: right;
}

.UIApplicationRegistryPortlet .AppWorkingArea {
	margin-left: 260px;
}

.UIApplicationRegistryPortlet .UIBreadcumbs {
	padding: 10px 0px;
}

.UIApplicationRegistryPortlet .UIBreadcumbs .LeftBreadcumbsBar {
	background: none;
}

.UIApplicationRegistryPortlet .UIBreadcumbs .RightBreadcumbsBar {
	background: none;
}

.UIApplicationRegistryPortlet .UIBreadcumbs .BreadcumbsInfoBar {
	background: none;
}

.UIApplicationRegistryPortlet .UIBreadcumbs .HomeIcon {
	background: none;
	width: 0px;
}

.UIApplicationRegistryPortlet .UIBreadcumbs .RightBlackGridArrowIcon {
	background-position: center;
	float: left;
	height: 7px;
	margin: 10px 0px 0px;
}

.UIApplicationRegistryPortlet .UIBreadcumbs a.Selected  {
	color: #4b4b4b;
	font-weight: bold;
}

/********************************* UIOrganizerManagement *****************************/
.UIApplicationRegistryPortlet .AppWorkingArea {

}

