/**
 * Created by The eXo Platform SARL
 * Modifile : Nguyen Ngoc Thuy
 * May 8, 2007
 * version: $Id$
 */
 
.UIWindow .UIApplicationRegistryPortlet {
	border: none;
	margin: 0px;
	overflow: visible;
}

.UIApplicationRegistryPortlet {
	border: 1px solid #b7b7b7;
	margin: 5px;
	background: #fff;
	overflow: auto;
	padding: 10px;
}

.UIApplicationRegistryPortlet .CategoryContainer .EditIcon  {
	float: none;
}

.UIApplicationRegistryPortlet .UIControlbar {
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-x center -222px;
	border: 1px solid #b7b7b7;
	height: 23px; line-height: 23px;
	padding: 0px 10px;
	margin: 5px 0px;
}

.UIApplicationRegistryPortlet .UIControlbar .IconControl {
	float: left;
	cursor: pointer;
	background-image: url('DefaultSkin/background/ControlIcon.gif');
	background-repeat: no-repeat;
	padding-left: 25px;
	line-height: 23px;
	margin: 0px 15px 0px 7px;
	width: auto; height: auto;
}

.UIApplicationRegistryPortlet .UIControlbar .AddNewIcon {
	background-position: left top;
}

.UIApplicationRegistryPortlet .AddIcon {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -247px;
	width: 19px;
	height: 20px;
}

.UIApplicationRegistryPortlet .ReloadIcon {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -273px;
	width: 19px;
	height: 20px;
}

.UIApplicationRegistryPortlet .UIControlbar .AddCategoryIcon {
	background-position: left -46px;
}

.UIApplicationRegistryPortlet .CreateNewIcon {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -25px;
	width: 19px;
	height: 20px;
}

.UIApplicationRegistryPortlet .UIControlbar .ImportIcon {
	background-position: left -69px;
	float: right;
}

.UIApplicationRegistryPortlet .CopyGadgetIcon {
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-x left -69px;
	width: 23px;
	height: 22px;
}

.UIApplicationRegistryPortlet .AppRegistryContainer {
	border: 1px solid #b7b7b7;
	background: url('DefaultSkin/background/Repeat-Y16x2.gif') repeat-y left top;
}

.UIApplicationRegistryPortlet .AppRegistryContainer .AppRegistryControl {
	float: left;
	width: 239px;
}

.UIApplicationRegistryPortlet .AppRegistryContainer .ControlArea {
	padding: 5px 2px 5px 5px;
}

.UIApplicationRegistryPortlet .AppRegistryControl .CategoryContent {
	padding: 1px;
	background: white;
	border: 1px solid #d7d7d7;
}

.UIApplicationRegistryPortlet .AppRegistryControl .Border {
	border: 1px solid #d7d7d7;	
	padding: 1px; margin: 1px;
}

.UIApplicationRegistryPortlet .AppRegistryControl .TitleCategory {
	background: url('DefaultSkin/background/AppRegistryControl.gif') repeat-y left top;
	height: 17px;
	padding: 10px 5px 0px 5px;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.UIApplicationRegistryPortlet .CategoryContent .ItemContent {
	line-height: 26px;
	height: 26px;
	background: url('DefaultSkin/background/AppRegistryControl.gif') no-repeat -453px bottom;
	padding: 2px 5px 0px;
	cursor: pointer;
}

.UIApplicationRegistryPortlet .CategoryContent .ItemContent:hover {
	background-color: #9d9d9d;
}

.UIApplicationRegistryPortlet .CategoryContent .ItemContent:hover a {
	color: white;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs {
	margin: 1px 1px 1px 0px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs a:hover {
	color: #058ee6;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .SelectedTab .TabLabel {
	width: 100px;
	overflow: hidden;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .TabLabel {
	width: 160px;
	overflow: hidden;
	white-space: nowrap;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .NormalTab .ControlIcon {
	float: right;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .SelectedTab .ControlIcon {
	float: right;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .UIVTabContent .ItemLabel {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -170px;
	padding-left: 10px;
	display: block;
	float: left;
	cursor: pointer;
	width: 144px; overflow: hidden;
	white-space: nowrap;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .VTabSimpleStyle .UIVTabContent {
	padding: 5px;
}

.UIApplicationRegistryPortlet .UIVTabContent .SelectedItem .ItemLabel {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -196px;
	display: block;
	color: #058ee6;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .UIVTabContent .ControlIcon {
	float: right;
}

/**************************** AppWorkingArea *****************************/

.UIApplicationRegistryPortlet .AppWorkingArea {
	margin-left: 260px;
	padding: 10px;
}

.UIApplicationRegistryPortlet .UIBreadcumb {
	padding: 0px 10px;
	border-bottom: 1px solid #b7b7b7;
	height: 22px;
	color: #4b4b4b;
	font-weight: bold;
}

.UIApplicationRegistryPortlet .UIBreadcumb .RightBlackGridArrow16x16Icon {
	background-position: center;
	float: left;
	height: 6px;
	margin: 5px 0px 0px;
}

.UIApplicationRegistryPortlet .UIBreadcumb .Selected {
	float: left;
	color: #058ee6;
}


.UIApplicationRegistryPortlet .UIBreadcumb .ControlIcon {
	float: right;
	margin: 0px 5px;
}

.UIApplicationRegistryPortlet .UIBreadcumb .DownLoadIcon {
	background: url('DefaultSkin/background/DownLoadIcon.gif') no-repeat;
	width: 16px; height: 16px;
}

.UIApplicationRegistryPortlet .ApplicationContainer {
  padding: 10px 0px;
}

.UIApplicationRegistryPortlet .ApplicationContent {
  margin-left: 90px;
  padding: 15px;
}

.UIApplicationRegistryPortlet .TitleBarApplication {
	background: none;
  font-weight: bold ; font-size: 12px; color: #1553B9;
}

.UIApplicationRegistryPortlet .ApplicationContentLabel {
  line-height: 16px;
  margin: auto;
}

.UIApplicationRegistryPortlet .ApplicationContent .LeftLabel {
	font-weight: bold;
	font-size: 11px;
	color: black;
}

.UIApplicationRegistryPortlet .ApplicationContentLabel .RightLabel {
	padding: 0px 5px;
}

.UIApplicationRegistryPortlet .PortletIcons {
	float: left;
	width: 80px; height: 80px;
	cursor: pointer ;
	margin-top: 2px;
}

/*******************************UIAcessPermissions******************************/

.UIApplicationRegistryPortlet .UIAcessPermissions {
	margin: 20px 0px;
	width: auto;
	height: 100%;
}

.UIApplicationRegistryPortlet .UIAcessPermissions .UIForm .HorizontalLayout {
	padding: 0px;
	border: none;
}

.UIApplicationRegistryPortlet .UIAcessPermissions .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIAcessPermissions .PublicCheck .UIFormGrid {
	width: auto;
}

/**************************** UIOrganizerManagement ***************************/

.UIApplicationRegistryPortlet .UIAddApplicationForm .UIFormGrid {
	width: 99%;
}

.UIOrganizerManagement .UIFormInputSet .UIFormGrid {
	width: 100%;
}

.UIOrganizerManagement .UIFormInputSet .PublicCheck .UIFormGrid {
	width: auto;
}

/***************************** UIPortletManagement ***************************/

.UIPortletManagement .UIVerticalSlideTabs .VTabSimpleStyle .UIVTabContent {
	background: none;
}

.UIPortletManagement .BoxContent {
	padding: 1px;
	border: 1px solid #d7d7d7;
	margin: 1px;
}

.UIPortletManagement .BoxContent .TitleCategory {
	cursor: pointer;
	text-transform: capitalize;
}

.UIPortletManagement .UIGrid .FieldLable {
	width: 30%;
	text-align: right;
}

.UIPortletManagement .UIGrid .FieldComponent {
	padding: 4px 0px;
}

.UIPortletManagement .UIVerticalSlideTabs .VTabSimpleStyle .UIVTabContent {
	margin: 0px;
	border: none;
}
/******************************** UIGadgetManagement ******************************/
.UIApplicationRegistryPortlet .UIGadgetManagement .PortletIcons {
	width: 150px; height: 120px;
	padding-top: 20px;
}

.UIGadgetManagement .url .UIFormInputSet {
	padding: 0px;
	width: auto;
}

.UIGadgetManagement .url table {
	width: 100%;
}

.UIGadgetManagement .url table td.FieldComponent {
	padding: 0px;
}

.UIGadgetManagement .CategoryContent .ListContent {
	border: 1px solid #d7d7d7;
	margin: 5px;
}

.UIGadgetManagement .CategoryContent .SelectedItem .TabLabel {
	color: #058ee6;
}

.UIGadgetManagement .CategoryContent a.TabLabel {
	display: block;
	float: left;
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-y left -92px;
	padding-left: 20px;
	cursor: pointer;
}

.UIGadgetManagement .CategoryContent .ControlIcon {
	display: block;
	float: right;
	margin: 3px 3px 0px;
}

.UIGadgetManagement .ListItem .SelectedItem a.TabLabel {
	font-weight: bold;
	padding-left: 3px;
}

.UIGadgetManagement .UIGadgetEditor .HorizontalLayout textarea {
	height: 250px; 
	width: 99%; 
	padding: 0px;
	overflow: auto;
}

.UIGadgetManagement .UIGadgetEditor td.FieldComponent {
	width: 100%;
}

.UIGadgetManagement .UIGadgetEditor .HorizontalLayout input {
	width: 99%;
}

.UIGadgetManagement .URL .LeftLabel {
	float: left;
}

.UIGadgetManagement .URL .RightLabel {
	float: left;
	width: 80%; overflow: hidden;
}
