/**
 * Created by The eXo Platform SARL
 * Modifile : Nguyen Ngoc Thuy
 * May 8, 2007
 * version: $Id$
 */
 
.UIWindow .UIApplicationRegistryPortlet {
	border: none;
	margin: 0px;
	overflow: visible;
}

.UIApplicationRegistryPortlet {
	border: 1px solid #b7b7b7;
	margin: 5px;
	overflow: auto;
	background: white;
}

.UIApplicationRegistryPortlet .CategoryContainer .EditIcon  {
	float: none;
}

.UIApplicationRegistryPortlet .UIControlbar {
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-x center -222px;
	border: 1px solid #b7b7b7;
	height: 23px; line-height: 23px;
	padding: 0px 10px;
	margin: 5px 0px;
}

.UIApplicationRegistryPortlet .UIControlbar .IconControl {
	float: left;			/* orientation=lt */
	float: right;			/* orientation=rt */
	cursor: pointer;
	background-image: url('DefaultSkin/background/ControlIcon.gif');			/* orientation=lt */
	background-image: url('DefaultSkin/background/ControlIcon-rt.gif');		/* orientation=rt */
	background-repeat: no-repeat;
	padding-left: 25px;			/* orientation=lt */
	padding-right: 25px;		/* orientation=rt */
	line-height: 23px;
	margin: 0px 15px 0px 7px;		/* orientation=lt */
	margin: 0px 7px 0px 15px;		/* orientation=rt */
	width: auto; 
	height: auto;
}

.UIApplicationRegistryPortlet .UIControlbar .AddNewIcon {
	background-position: left top;		/* orientation=lt */
	background-position: right top;		/* orientation=rt */
}


.UIApplicationRegistryPortlet .AddIcon {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -247px;				/* orientation=lt */
	background: url('DefaultSkin/background/ControlIcon-rt.gif') no-repeat right -247px;		/* orientation=rt */
	width: 19px;
	height: 20px;
}

.UIApplicationRegistryPortlet .ReloadIcon {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -273px;				/* orientation=lt */
	background: url('DefaultSkin/background/ControlIcon-rt.gif') no-repeat right -273px;		/* orientation=rt */
	width: 19px;
	height: 20px;
}

.UIApplicationRegistryPortlet .UIControlbar .AddCategoryIcon {
	background-position: left -46px;		/* orientation=lt */
	background-position: right -46px;		/* orientation=rt */
}

.UIApplicationRegistryPortlet .CreateNewIcon {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -25px;				/* orientation=lt */
	background: url('DefaultSkin/background/ControlIcon-rt.gif') no-repeat right -25px;		/* orientation=rt */
	width: 19px;
	height: 20px;
}

.UIApplicationRegistryPortlet .UIControlbar .ImportIcon {
	background-position: left -69px;		/* orientation=lt */
	background-position: right -69px;		/* orientation=rt */
	float: right;		/* orientation=lt */
	float: left;		/* orientation=rt */
}

.UIApplicationRegistryPortlet .CopyGadgetIcon {
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-x left -69px;
	width: 23px;
	height: 22px;
}

.UIApplicationRegistryPortlet .AppRegistryContainer {
	height: 100%;
	border: 1px solid #b7b7b7;
	background: url('DefaultSkin/background/Repeat-Y16x2.gif') repeat-y left top;				/* orientation=lt */
	background: url('DefaultSkin/background/Repeat-Y16x2-rt.gif') repeat-y right top;		/* orientation=rt */
}

.UIApplicationRegistryPortlet .AppRegistryContainer .AppRegistryControl {
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
	width: 239px;
}

.UIApplicationRegistryPortlet .AppRegistryContainer .ControlArea {
	padding: 5px 2px 5px 5px;		/* orientation=lt */
	padding: 5px 5px 5px 2px;		/* orientation=rt */
}

.UIApplicationRegistryPortlet .AppRegistryControl .CategoryContent {
	padding: 1px;
	background: white;
	border: 1px solid #d7d7d7;
}

.UIApplicationRegistryPortlet .AppRegistryControl .Border {
	border: 1px solid #d7d7d7;	
	padding: 1px; margin: 1px;
}

.UIApplicationRegistryPortlet .AppRegistryControl .TitleCategory {
	background: url('DefaultSkin/background/AppRegistryControl.gif') repeat-y left top;				/* orientation=lt */
	background: url('DefaultSkin/background/AppRegistryControl-rt.gif') repeat-y right top;		/* orientation=rt */
	height: 17px;
	padding: 10px 5px 0px 5px;
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.UIApplicationRegistryPortlet .CategoryContent .ListContent {
	border:1px solid #D7D7D7;
	margin:5px;
}

.UIApplicationRegistryPortlet .CategoryContent .ItemContent {
	line-height: 26px;
	height: 26px;
	background: url('DefaultSkin/background/AppRegistryControl.gif') no-repeat -453px bottom;
	padding: 2px 5px 0px;
	cursor: pointer;
}

.UIApplicationRegistryPortlet .CategoryContent .UIVerticalSlideTabs a.TabLabel {
	background: none;
	padding: 0px;
}

.UIApplicationRegistryPortlet .CategoryContent a.TabLabel {
	display: block;
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-y left -92px;		/* orientation=lt */
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-y right -92px;		/* orientation=rt */
	padding: 0px 0px 0px 20px;		/* orientation=lt */
	padding: 0px 20px 0px 0px;		/* orientation=rt */
	cursor: pointer;
	width: 160px; overflow: hidden;
	white-space: nowrap;
}

.UIApplicationRegistryPortlet .CategoryContent .ControlIcon {
	display: block;
	float: right;		/* orientation=lt */
	float: left;		/* orientation=rt */
	margin: 3px;
}

.UIApplicationRegistryPortlet .CategoryContent .ItemContent:hover {
	background-color: #9d9d9d;
}

.UIApplicationRegistryPortlet .CategoryContent .ItemContent:hover a {
	color: white;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs {
	margin: 1px 1px 1px 0px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs a:hover {
	color: #058ee6;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .SelectedTab .TabLabel {
	width: 100px;
	overflow: hidden;
	background: none;
	padding: 0px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .TabLabel {
	width: 160px;
	overflow: hidden;
	white-space: nowrap;
	background: none;
	padding: 0px;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .NormalTab .ControlIcon {
	float: right;		/* orientation=lt */
	float: left;		/* orientation=rt */
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .SelectedTab .ControlIcon {
	float: right;		/* orientation=lt */
	float: left;		/* orientation=rt */
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .UIVTabContent .ItemLabel {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -170px;				/* orientation=lt */
	background: url('DefaultSkin/background/ControlIcon-rt.gif') no-repeat right -170px;		/* orientation=rt */
	padding-left: 10px;			/* orientation=lt */
	padding-right: 10px;		/* orientation=rt */
	display: block;
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
	cursor: pointer;
	width: 144px; overflow: hidden;
	white-space: nowrap;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .VTabSimpleStyle .UIVTabContent {
	padding: 5px;
}

.UIApplicationRegistryPortlet .UIVTabContent .SelectedItem .ItemLabel {
	background: url('DefaultSkin/background/ControlIcon.gif') no-repeat left -196px;				/* orientation=lt */
	background: url('DefaultSkin/background/ControlIcon-rt.gif') no-repeat right -196px;		/* orientation=rt */
	display: block;
	color: #058ee6;
}

.UIApplicationRegistryPortlet .UIVerticalSlideTabs .UIVTabContent .ControlIcon {
	float: right;		/* orientation=lt */
	float: left;		/* orientation=rt */
}

/**************************** AppWorkingArea *****************************/

.UIApplicationRegistryPortlet .AppWorkingArea {
	margin-left: 260px;			/* orientation=lt */
	margin-right: 260px;		/* orientation=rt */
	padding: 10px;
}

.UIApplicationRegistryPortlet .UIBreadcumb {
	padding: 0px 10px;
	border-bottom: 1px solid #b7b7b7;
	height: 22px;
	color: #4b4b4b;
	font-weight: bold;
}

.UIApplicationRegistryPortlet .UIBreadcumb .RightBlackGridArrow16x16Icon {
	background-position: center;
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
	height: 6px;
	margin: 5px 0px 0px;
}

.UIApplicationRegistryPortlet .UIBreadcumb .Selected {
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
	color: #058ee6;
}


.UIApplicationRegistryPortlet .UIBreadcumb .ControlIcon {
	float: right;		/* orientation=lt */
	float: left;		/* orientation=rt */
	margin: 0px 5px;
}

.UIApplicationRegistryPortlet .UIBreadcumb .DownLoadIcon {
	background: url('DefaultSkin/background/DownLoadIcon.gif') no-repeat;
	width: 16px; height: 16px;
}

.UIApplicationRegistryPortlet .ApplicationContainer {
  padding: 10px 0px;
}

.UIApplicationRegistryPortlet .ApplicationContent {
  margin-left: 90px;		/* orientation=lt */
  margin-right: 90px;		/* orientation=rt */
  padding: 15px;
}

.UIApplicationRegistryPortlet .TitleBarApplication {
	background: none;
  font-weight: bold ; font-size: 12px; color: #1553B9;
}

.UIApplicationRegistryPortlet .ApplicationContentLabel {
  line-height: 16px;
  margin: auto;
}

.UIApplicationRegistryPortlet .ApplicationContent .LeftLabel {
	font-weight: bold;
	font-size: 11px;
	color: black;
}

.UIApplicationRegistryPortlet .ApplicationContentLabel .RightLabel {
	padding: 0px 5px;
}

.UIApplicationRegistryPortlet .PortletIcons {
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
	width: 80px; height: 80px;
	cursor: pointer ;
	margin-top: 2px;
}

/*******************************UIAcessPermissions******************************/

.UIApplicationRegistryPortlet .UIAcessPermissions {
	margin: 20px 0px;
	width: auto;
	height: 100%;
}

.UIApplicationRegistryPortlet .UIAcessPermissions .UIForm .HorizontalLayout {
	padding: 0px;
	border: none;
}

.UIApplicationRegistryPortlet .UIAcessPermissions .UIFormGrid {
	width: 100%;
}

.UIApplicationRegistryPortlet .UIAcessPermissions .PublicCheck .UIFormGrid {
	width: auto;
}

/**************************** UIOrganizerManagement ***************************/

.UIApplicationRegistryPortlet .UIAddApplicationForm .UIFormGrid {
	width: 99%;
}

.UIOrganizerManagement .UIFormInputSet .UIFormGrid {
	width: 100%;
}

.UIOrganizerManagement .UIFormInputSet .PublicCheck .UIFormGrid {
	width: auto;
}

.UIOrganizerManagement .UIAddApplicationForm .UIFormGrid td.text {
	white-space: normal;
}

/***************************** UIPortletManagement ***************************/

.UIPortletManagement .ListCategory .CategoryLable {
	background: url(DefaultSkin/background/ControlIcon.gif) no-repeat scroll 5px -170px;			/* orientation=lt */
	background: url(DefaultSkin/background/ControlIcon-rt.gif) no-repeat scroll right -170px;		/* orientation=rt */
	padding: 0px 0px 0px 15px;			/* orientation=lt */
	padding: 0px 15px 0px 0px;			/* orientation=rt */
	display: block;
	line-height: 25px;
	border-bottom: 1px solid #dddddd;
}

.UIPortletManagement .SelectedCategory .CategoryLable {
	background: #b7b7b7 url(DefaultSkin/background/ControlIcon.gif) no-repeat scroll 5px -196px;			/* orientation=lt */
	background: #b7b7b7 url(DefaultSkin/background/ControlIcon-rt.gif) no-repeat scroll right -196px;		/* orientation=rt */
	color: white;
	font-weight: bold;
}

.UIPortletManagement .ListCategory .ListItem {
	background: #f7f7f7;
	border-bottom: 1px solid #dddddd;
}

.UIPortletManagement .ListCategory .Item {
	display: block;
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-y left -92px;		/* orientation=lt */
	background: url('DefaultSkin/background/ControlIcon.gif') repeat-y right -92px;		/* orientation=rt */
	padding-left: 20px;			/* orientation=lt */
	padding-right: 20px;		/* orientation=rt */
	cursor: pointer;
	width: 160px; 
	overflow: hidden;
	white-space: nowrap;
	line-height: 25px;
}

.UIPortletManagement .UIVerticalSlideTabs .VTabSimpleStyle .UIVTabContent {
	background: none;
	border: none;
	margin: 0px;
}

.UIPortletManagement .BoxContent {
	padding: 1px;
	border: 1px solid #d7d7d7;
	margin: 1px;
}

.UIPortletManagement .BoxContent .TitleCategory {
	cursor: pointer;
	text-transform: capitalize;
}

.UIPortletManagement .UIGrid .FieldLable {
	width: 30%;
	text-align: right;
}

.UIPortletManagement .UIGrid .FieldComponent {
	padding: 4px 0px;
}

/******************************** UIGadgetManagement ******************************/
.UIApplicationRegistryPortlet .UIGadgetManagement .PortletIcons {
	width: 150px; height: 120px;
	padding-top: 20px; text-align: center;
}

.UIApplicationRegistryPortlet .UIGadgetManagement .ApplicationContent {
	margin-left: 150px; /* orientation=lt */
	margin-right: 150px; /* orientation=rt */
}

.UIApplicationRegistryPortlet .UIGadgetManagement .URL table {
	width: 99%;
	table-layout: fixed;
}

.UIApplicationRegistryPortlet .UIGadgetManagement .URL .RightLabel {
	overflow: hidden;
}

.UIGadgetManagement .UIGadgetEditor table.UIFormGrid {
	width: 99%;
	table-layout: fixed;
}

.UIGadgetManagement .UIGadgetEditor .HorizontalLayout textarea {
	height: 250px; 
	padding: 0px;
	width: 97%; 
	overflow: auto;
}

.UIGadgetManagement .UIGadgetEditor td.FieldComponent {
	width: 90%;
}

.UIGadgetManagement .UIGadgetEditor .HorizontalLayout input {
	width: 99%;
}