.UIPermissionSelector {
 padding: 10px;
}

.UIPermissionSelector .PermissionSelectorTitleBar {
  margin: 5px 0px 0px 5px; 
}

.UIPermissionSelector .PermissionSelectorTitleBar .PermissionIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/PermissionIcon.png') no-repeat;
  width: 24px; height: 22px;
  margin: 0px 10px 0px 10px;
  float: left;
}

.UIPermissionSelector .PermissionSelectorTitleBar .Title {
  height: 24px; line-height: 24px;
  font-size: 12px; font-weight: bold; color: #0a80d2;
  float: left;
}

.UIPermissionSelector .PermissionInfoContainer .InfoContentContainer {
  padding: 5px 0px 0px 0px;
}

.UIPermissionSelector .PermissionInfoContainer .PermissionTypeBar {
  height: 20px; line-height: 20px;
  background: url('background/TitleBG1x20.gif') repeat-x; 
  border: solid 1px #cdcdcd ; border-bottom: none;
  margin: 0px 10px; 
}

.UIPermissionSelector .PermissionTypeBar .SeparateLine {
  float: left;
  width: 2px; height: 20px;
  background: url('background/GrayLine2x2.gif') repeat-y ;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo {
  border: solid 1px #cdcdcd;
  background: white ;
  margin: 0px 10px;
  padding: 15px 0px 15px 0px ;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Icon{
  margin: 0px 5px 0px 15px ;
  float: left;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .PermissionInfoTitle{
  margin-left: 5px ;
  float: left;
  font-weight: bold;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Label {
  margin: 8px 0px 5px 0px ;
  float: left ;
  width: 150px ;
  text-align: right;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Info {
  float: left ;
  background: none;
  margin: 8px 0px 5px 15px ;
  color: #0749c4 ;
  width: 320px;
  overflow: hidden;
  white-space: nowrap;
}

.UIPermissionSelector .PermissionInfoContainer .FloatBlockHidden {
	filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30;
}

.UIPermissionSelector .PermissionInfoContainer a.FloatBlockHidden {
	cursor: default;
}

.UIPermissionSelector .PermissionInfoContainer a:hover.FloatBlockHidden {
	color: black;
}

.UIPermissionSelector .PermissionInfoContainer .DeletePermissionIcon  {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DeleteIcon.gif') no-repeat left 2px;
  line-height: 21px;
  padding-left: 25px;
  height: auto; width: auto;
} 

.UIPermissionSelector .PermissionInfoContainer .SelectPermissionIcon  {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/SelectPermissionIcon.png') no-repeat left 2px;
  line-height: 21px;
  padding-left: 25px;
  height: auto; width: auto;
} 