.UIPortalManagement {}

.UIPortalManagement .UIPortletOptions .UIDropDownControl {
	width: 221px;
}

.UIPortalManagement .TopTitleBar {
  padding: 15px 85px 15px 0px;
}

.UIPortalManagement .UIPortalManagementEditBar {
	padding: 0px 6px;
}

.UIPortalManagement .UIToolbar .EditToolbar .Icon {
  margin: 4px 11px 0px 13px;
}
