.UIPortalManagement {}

.UIPortalManagement .UIPortletOptions .UIDropDownControl {
	width: 221px;
}

.UIPortalManagement .TopTitleBar {
	padding: 15px 60px 15px 0px; /* orientation=lt */
	padding: 15px 0px 15px 60px; /* orientation=rt */
}

.UIPortalManagement .UIPortalManagementEditBar {
	padding: 0px 6px;
}

.UIPortalManagement .UIToolbar .EditToolbar .Icon {
	margin: 4px 11px 0px 13px; /* orientation=lt */
	margin: 4px 13px 0px 11px; /* orientation=rt */
}
  	