.UIGadgetPortlet {
	padding: 1px;
	height: 100%;
}
.UIGadgetPortlet .UIGadgetEditMode{
	padding: 50px 0;
}
.UIGadgetPortlet .UIGadgetViewMode {
	height: 100%;
}

.UIGadgetPortlet .gadgets-gadget-content {
	height: 100%;
}

.UIGadgetPortlet .UIGadgetContent {
	height: 100%;
}

.UIGadgetPortlet .gadgets-gadget {
	width: 100%;
}