.UIMaskWorkspace {
  background: #f5f5f5 ;
  border: none;
  width: 650px;
}

.UIMaskWorkspace .TopLeftDecorator {
  background: url('DefaultSkin/background/TopLeftDecorator6x6.gif') left no-repeat;
  padding: 0px 0px 0px 4px ;
}

.UIMaskWorkspace .TopRightDecorator {
  background: url('DefaultSkin/background/TopRightDecorator6x6.gif') right no-repeat;
  padding: 0px 4px 0px 0px ;
}

.UIMaskWorkspace .TopLeftDecorator .TopCenterDecorator {
  height: 4px ;
  background: url('DefaultSkin/background/TopCenterDecorator1x6.gif') repeat-x;
}

.UIMaskWorkspace .MiddleLeftDecorator {
  background: url('DefaultSkin/background/MiddleLeftDecorator6x1.gif') repeat-y left;
  padding: 0px 0px 0px 4px ;
}

.UIMaskWorkspace .MiddleRightDecorator {
  background: url('DefaultSkin/background/MiddleRightDecorator6x1.gif') repeat-y right;
  padding: 0px 4px 0px 0px ;
}

.UIMaskWorkspace .BottomLeftDecorator {
  background: url('DefaultSkin/background/BottomLeftDecorator6x6.gif') left no-repeat;
  padding: 0px 0px 0px 4px ;
}

.UIMaskWorkspace .BottomRightDecorator {
  padding: 0px 4px 0px 0px ;
  background: url('DefaultSkin/background/BottomRightDecorator6x6.gif') right no-repeat;
}

.UIMaskWorkspace .BottomLeftDecorator .BottomCenterDecorator {
  height: 4px ;
  background: url('DefaultSkin/background/BottomCenterDecorator1x6.gif') repeat-x;
}

.UIMaskWorkspace .UIAddApplication .UIItemSelector .ItemDetailList {
  margin-right: 0px; 
  height: auto;
}
/***********************************  UITabContent  ************************************/
.UIMaskWorkspace .UIHorizontalTabs {
  height: 26px;
}

.UIMaskWorkspace .UIFormTabPane {
	padding: 10px;
}

.UIMaskWorkspace .UITabContentContainer {
  background: #f2f2f2 ;
  border: solid 1px #a4a4a4; border-top:none;
}

.UIMaskWorkspace .UITabContent {
	overflow: auto;
	height: 273px;
}
/*********************************** End UITabContent  ************************************/

.UIMaskWorkspace .IconLayout {
	float: left ;
	margin: 3px 5px 0px 5px ;
}

.UIMaskWorkspace .UIAction {
  width: 160px;
}

.UIMaskWorkspace .UIFormWithTitle {
  width: 550px;
	margin: auto;
	padding: 50px 0px;
}

/**************************** UIAddApplication ******************************************/

.UIAddApplication {
  padding: 10px;
}

.UIAddApplication .UITabContentContainer {
  border: none;
}

.UIAddApplication .TitleBarContainer {
	background: #f6f6f6;
	font-size: 11px; 
}

.UIAddApplication .UITabContent {
  overflow: hidden;
}

.UIAddApplication .UITabContentContainer {
	padding-bottom: 5px;
}

.UIAddApplication .ContentContainerDetail {
  border: 1px solid #d4d4d4;
  border-top: none;  
}

.UIAddApplication .ContentContainerDetail .CategoryContainer {
  border: 1px solid white;
  border-top: none;
}

.UIAddApplication .ApplicationListContainer {
	height: 240px;
	border: 1px solid #c3c3c3;
	background: white;
	overflow: auto;
	padding: 0px 10px;
}

.UIAddApplication .TitleBarContainer .LeftTitleBar {
  background: url('DefaultSkin/background/LeftTitleBar15x32.gif') no-repeat left;
  padding: 0px 0px 0px 11px ;
}

.UIAddApplication .TitleBarContainer .RightTitleBar {
  background: url('DefaultSkin/background/RightTitleBar15x32.gif') no-repeat right;
  padding: 0px 11px 0px 0px ;
}

.UIAddApplication .TitleBarContainer .CenterTitleBar {
  line-height: 30px ; vertical-align: middle ;
  font-weight: bold ; font-family: arial; color: #0786e7; font-size: 14px;
  background: url('DefaultSkin/background/CenterTitleBar1x32.gif') repeat-x;
  padding-left: 20px;
}

.UIAddApplication .Application {
  margin: 10px 0px 0px 0px ;
	border: solid 1px #e4e4e4 ;
	padding: 10px;
}

.UIAddApplication .ApplicationContent {
  padding: 0px 0px 0px 12px;
  width: 280px ;
  overflow: hidden;
}

.UIAddApplication .TitleBarApplication {
	background: none;
	height: 21px;
	font-weight: bold ; font-size: 13px; color: #1553B9; font-family: arial;
}

.UIAddApplication .ApplicationContentLabel {
  font-size: 11px;
  line-height: 16px;
}

.UIAddApplication .ApplicationContentLabel .RightLabel {
  color: #058ee6;
}

.UIAddApplication .PortletIcon {
	float: left;
	width: 80px; height: 80px;
	cursor: pointer ;
	margin-top: 2px;
}

.UIAddApplication .ApplicationDescription {
  margin-right: 30px;
}

.UIAddApplication .ApplicationButton {
  float: right;
  width: 28px;
  padding: 4px 0px 0px 0px;
}

.UIAddApplication .AddButton {
	float: none;
	width: 20px ; height: 24px ;
	background: url("DefaultSkin/icons/16x16/AddIcon.gif") no-repeat center;
	cursor: pointer ;
	margin: auto;
}

.UIAddApplication .SelectButton {
	width: 20px ; height: 24px ;
	background: url("DefaultSkin/icons/16x16/SelectButton.gif") no-repeat center;
	margin: auto;
	cursor: pointer ;
}


.UIAddApplication .UIItemSelector .LeftColumnStyle {
  width: auto;
}

.UIAddApplication .UIItemSelector .ItemListContainer .ItemList {
  height: 240px ;
  overflow: auto ;
  background: #ffffff;
  border: 1px solid #c3c3c3;
}

.UIAddApplication .UIItemSelector .ItemDetailList .ItemDetail {
  background: none;
  border: none;
  height: auto;
}

.UIAddApplication .UIItemSelector {
	padding: 7px 5px 8px 7px;
	margin: 0px;
	background: #f7f7f7;
}

.UIAddApplication .ApplicationItemIcon {
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/DarkBlueNextArrow.gif') no-repeat ;
	float: left;
	margin: 3px 5px 0px 5px;
}

.UIAddApplication .LeftColumnStyle .ItemListIcon {
  background: none;
  width: 0px;
}

.UIAddApplication .LeftColumnStyle .ViewListIcon {
  background: none;
  width: 0px;
}

/************************************ Select Permission *******************************/

.UIAccessGroup .UIGrid .ActionContainer {
  width: 30px;
}

.UIAccessGroup .UIAction {
  width: 200px;
}

.UIAccessGroup .UIAction .SimpleStyle .Icon {
  float: left;
  margin: 3px 0px;
}

.UIAccessGroup .UIAction .ActionButton .SimpleStyle a {
}

.UIGroupSelector {
  padding: 10px;
}

.UIGroupSelector .SelectedGroupPath { 
  padding: 5px 0px;
}

.UIGroupSelector .UIBreadcumbs {
  border: 1px solid white;
  padding: 0px;
}

.UIGroupSelector .UIBreadcumbs .LeftBreadcumbsBar {
  background: white;
  border: 1px solid #b7b7b7;
}

.UIGroupSelector .UIBreadcumbs .RightBreadcumbsBar {
  background: white;
}

.UIGroupSelector .UIBreadcumbs .BreadcumbsInfoBar {
  background: white;
}

.UIGroupSelector .UIBreadcumbs .BCHome16x16Icon {
  width: 16px ; height: 16px ;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SmallGroup.gif') no-repeat left center;
}

.UIGroupSelector .UIBreadcumbs a.Selected {
  color: #058ee6;
}

.UIGroupSelector .GroupSelector {
  padding: 10px;
  background: #f4f4f4;
  border: 1px solid #e4e4e4;
}

.UIGroupSelector .TitleGroupSelector {
  background: url("DefaultSkin/background/ThGridRepeatBg1x19.jpg") repeat-x;
  line-height: 19px; height: 19px;
  border: 1px solid #b7b7b7;
  border-bottom: 1px solid #cfcfcf;
  padding: 0px 10px;
  font-size: 11px;
  
}

.UIGroupSelector .LeftGroupSelector {
  float: left;
  width: 220px; height: 210px;
  border: 1px solid white;
}

.UIGroupSelector .LeftGroupSelector .UITree {
  height: 190px; width: 218px;
  overflow: auto; overflow-x: hidden;
  border: 1px solid #b7b7b7;
  border-top: none;
  background: white;
}

.UIGroupSelector .LeftGroupSelector .UITree .TreeContainer {
  padding: 10px 7px;
}

.UIGroupSelector .RightGroupSelector {
  margin-left: 225px;
  height: 210px;
  border: 1px solid white;
}

.UIGroupSelector .RightGroupSelector .Content {
  border: 1px solid #b7b7b7; border-top: none;
  height: 170px; 
  font-size: 11px; color: #058ee6;
  padding: 10px;
}

.UIGroupSelector .RightGroupSelector .Content div {
  padding: 3px 0px;
}

.UIGroupSelector .RightGroupSelector .Content span {
  color: #2c2c2c;
}