.UIMaskWorkspace {
  background: white ;
  border: 1px solid black;
  padding: 2px;
  width: 650px;
}

.UIMaskWorkspace .ContentContainer {
  background: white ;
  border: 1px solid #a9a9a9;
}

.UIMaskWorkspace .TitleBarContainer {
  padding: 10px 13px 0px 10px;
}

.UIMaskWorkspace .TitleBarContainer .LeftTitleBar {
  height: 37px;
  background: url('MacSkin/background/LeftTitleBar68x37.gif') no-repeat left;
  padding: 0px 0px 0px 68px ;
}

.UIMaskWorkspace .TitleBarContainer .RightTitleBar {
  height: 37px;
  background: url('MacSkin/background/RightTitleBar43x37.gif') no-repeat right;
  padding: 0px 43px 0px 0px ;
}

.UIMaskWorkspace .TitleBarContainer .CenterTitleBar {
  height: 37px;
  line-height: 37px ; vertical-align: middle ;
  font-weight: bold ; text-align: center ; color: #565656; font-size: 13px;
  background: url('MacSkin/background/CenterTitleBar1x37.gif') repeat-x;
}

.UIMaskWorkspace .ContentContainerDetail {
  padding: 15px ;
}

.UIMaskWorkspace .UITabContentContainer {
  padding: 6px 0px 0px 2px;
  border: solid 1px #a4a4a4; border-top:none;
  background: url('/eXoResources/background/MacSkin/Background1x4.png');
}

.UIMaskWorkspace .UITabContentContainer .UITabContent {
  height: 273px ; 
  overflow: auto;
}

.UIMaskWorkspace .ApplicationListContainer {
	height: 240px;
	border: 1px solid #a4a4a4;
	background: white;
	overflow: auto;
}

.UIMaskWorkspace .Application {
  margin: 10px 10px 5px 10px ;
	border: solid 1px #d6d6d6 ;
}

.UIMaskWorkspace .TitleBarApplication {
	height: 21px ;
	background: url('MacSkin/background/ApplicationTitleBar1x22.gif') repeat-x ;
}

.UIMaskWorkspace .IconLayout {
	float: left ;
	margin: 3px 5px 0px 5px ;
}

.UIMaskWorkspace .ApplicationLabel {
	float: left ;
	height: 21px ;
	line-height: 21px; 
	font-weight: bold ; font-size: 11px; color: black;
	vertical-align: middle ;
}

.UIMaskWorkspace .AddButton {
	float: right ; 
	width: 16px ; height: 16px ;
	background: url('MacSkin/icons/AddIcon.png') no-repeat center;
	margin: 2px 10px ;
	cursor: pointer ;
}

.UIMaskWorkspace .ApplicationDescription {
	background: white ;
	padding: 10px;
	font-size: 11px;
}

.UIMaskWorkspace .UIAction {
  width: 160px ;
}

.UIMaskWorkspace .UIFormTabPane {
	padding: 10px 10px 5px 10px ;
}

.UIMaskWorkspace .UIFormWithTitle {
	padding: 10px 0px;
}


/**************************** UIAddApplication ******************************************/
.UIAddApplication .UIItemSelector .ItemListContainer .ItemList {
  height: 240px ;
  overflow: auto ;
  background: white url('MacSkin/background/ApplicationBackground165x65.gif') no-repeat left bottom;
}

.UIAddApplication .UIItemSelector .ItemDetailList .ItemDetail {
  background: none;
  border: none;
}


.UIAddApplication .ContentContainerDetail .TabsContainer .RefreshButtonContent {
	float: right;
	width: 90px;
}

.UIAddApplication .RefreshButtonContent .RefreshButtonLeft {
	background:url('MacSkin/background/LeftRefreshButton22x22.png') no-repeat top left; 
	padding: 0px 0px 0px 22px;
}

.UIAddApplication .RefreshButtonContent .RefreshButtonRight {
	background:url('MacSkin/background/RightRefreshButton13x22.png') no-repeat top right; 
	padding: 0px 13px 0px 0px ;
}

.UIAddApplication .RefreshButtonContent .MiddleRefreshButton {
	height: 22px;
	background:url('MacSkin/background/CenterRefreshButton1x22.png') repeat-x top; 
}

.UIAddApplication .RefreshButtonContent .RefreshButtonLabel {
	line-height: 21px;
	padding: 0px 5px;
	cursor: pointer ;	
	text-align: center;
	font-size: 11px;
}

.UIAddApplication  .UITabContent {
	width: 653px;
	padding-left: 3px;
}

.UIAddApplication .RefreshButtonContent a:hover {
	color: #0575CA;
}

.UIAddApplication .UIAction {
	width: 120px;
}

.UIAddApplication .ApplicationItemIcon {
	width: 10px; height: 10px;
	background: url('MacSkin/icons/ApplicationItemIcon.png') no-repeat ;
	float: left;
	margin: 6px 5px 0px 5px;
}