.UIMaskWorkspace {
  background: white ;
  border: 1px solid black;
  padding: 2px;
  width: 650px;
}

.UIMaskWorkspace .ContentContainer {
  background: white ;
  border: 1px solid #a9a9a9;
}

.UIMaskWorkspace .TitleBarContainer {
  padding: 10px 13px 0px 10px;
}

.UIMaskWorkspace .TitleBarContainer .LeftTitleBar {
  height: 37px;
  background: url('MacSkin/background/LeftTitleBar68x37.gif') no-repeat left;
  padding: 0px 0px 0px 68px ;
}

.UIMaskWorkspace .TitleBarContainer .RightTitleBar {
  height: 37px;
  background: url('MacSkin/background/RightTitleBar43x37.gif') no-repeat right;
  padding: 0px 43px 0px 0px ;
}

.UIMaskWorkspace .TitleBarContainer .CenterTitleBar {
  height: 37px;
  line-height: 37px ; vertical-align: middle ;
  font-weight: bold ; color: #565656; font-size: 14px;
  background: url('MacSkin/background/CenterTitleBar1x37.gif') repeat-x;
  padding-left: 20px;
}

.UIMaskWorkspace .ContentContainerDetail {
  padding: 15px 15px 2px 15px;
}

.UIMaskWorkspace .UITabContentContainer {
  padding: 6px 0px 0px 2px;
  border: solid 1px #a4a4a4; border-top:none;
  background: url('/eXoResources/background/MacSkin/Background1x4.png');
}

.UIMaskWorkspace .UITabContentContainer .UITabContent {
  height: 273px ; 
  overflow: auto;
}

.UIMaskWorkspace .IconLayout {
	float: left ;
	margin: 3px 5px 0px 5px ;
}

.UIMaskWorkspace .UIAction {
  width: 170px ;
}

.UIMaskWorkspace .UIFormTabPane {
	padding: 10px 10px 5px 10px ;
}

.UIMaskWorkspace .UIFormWithTitle {
	margin: 50px auto;
}


/**************************** UIAddApplication ******************************************/
.UIAddApplication .ApplicationListContainer {
  background: white none repeat scroll 0%;
  border: 1px solid #C3C3C3;
  height: 240px;
  overflow: auto;  
  padding: 0px 12px;
}

.UIAddApplication .UITabContentContainer {
  border: 1px solid #a4a4a4;
}

.UIAddApplication .Application {
  margin: 12px 0px 0px 0px ;
	border: solid 1px #e4e4e4 ;
	padding: 10px;
}

.UIAddApplication .ApplicationDescription {
  margin-right: 30px;
}

.UIAddApplication .UIItemSelector .ItemListContainer .ItemList {
  height: 240px ;
  overflow: auto ;
  border: 1px solid #C3C3C3;
  background: white url('MacSkin/background/ApplicationBackground165x65.gif') no-repeat left bottom;
}

.UIAddApplication .TitleBarApplication {
	background: none; 
	height: 21px;
	font-weight: bold ; font-size: 13px; color: #0987d7; font-family: arial;
}

.UIAddApplication .ApplicationContentLabel {
  font-size: 11px;
  line-height: 16px;
}

.UIAddApplication .PortletIcon {
  cursor: pointer;
  float: left;
  height: 80px; width: 80px;
  margin-top: 2px;  
}

.UIAddApplication .ApplicationContent {
  padding: 0px 0px 0px 12px;
  width: 270px ;
  overflow: hidden;
}

.UIAddApplication .ApplicationButton {
  float: right;
  width: 28px;
  padding: 3px 0px 0px 0px;
}

.UIAddApplication .UIItemSelector .ItemDetailList .ItemDetail {
  background: none;
  border: none;
}

.UIAddApplication .AddButton {
	float: none ; 
	width: 24px ; height: 24px ;
	background: url('MacSkin/icons/AddIcon.png') no-repeat center;
  margin: 5px auto;
	cursor: pointer ;
}

.UIAddApplication .SelectButton {
	float: none ; 
	width: 24px ; height: 24px ;
	background: url("MacSkin/icons/SelectButton.png") no-repeat center;
  margin: auto;
	cursor: pointer ;
}

.UIAddApplication  .UITabContent {
	width: 653px;
	padding-left: 3px;
}

.UIAddApplication .RefreshButtonContent a:hover {
	color: #0575CA;
}

.UIAddApplication .ApplicationItemIcon {
	width: 10px; height: 10px;
	background: url('MacSkin/icons/ApplicationItemIcon.png') no-repeat ;
	float: left;
	margin: 6px 5px 0px 5px;
}

.UIAddApplication .LeftColumnStyle .ItemListIcon {
  background: none;
  width: 0px;
}

.UIAddApplication .LeftColumnStyle .ViewListIcon {
  background: none;
  width: 0px;
}

.UIAddApplication .eXoBrowserIcon {
  background: url(/eXoResources/skin/portal/webui/component/view/UIPageDesktop/DefaultSkin/icons/80x80/Register.png) no-repeat;
}

.UIAddApplication .eXoMailIcon {
  background: url(/eXoResources/skin/portal/webui/component/view/UIPageDesktop/DefaultSkin/icons/80x80/eXoMail.png) no-repeat;
}

.UIAddApplication .eXoCalendarIcon {
  background: url(/eXoResources/skin/portal/webui/component/view/UIPageDesktop/DefaultSkin/icons/80x80/eXoCalendar.png) no-repeat;
}

.UIAddApplication .eXoForumIcon {
  background: url(/eXoResources/skin/portal/webui/component/view/UIPageDesktop/DefaultSkin/icons/80x80/DefaultPortlet.png) no-repeat;
}

/************************************ Select Permission *******************************/
.UIAccessGroup .UIGrid .ActionContainer {
  width: 20px;
}

.UIAccessGroup .UIAction {
  width: 200px;
}

.UIAccessGroup .UIAction .SimpleStyle .Icon {
  float: left;
  margin: 3px 0px;
  border: 1ps solid red;
}

.UIAccessGroup .UIAction .ActionButton .SimpleStyle a {
}

.UIGroupSelector {
  padding: 10px;
}

.UIGroupSelector .SelectedGroupPath { 
  padding: 5px 0px;
}

.UIGroupSelector .UIBreadcumbs {
  border: 1px solid white;
  padding: 0px;
  height: 27px;
}

.UIGroupSelector .UIBreadcumbs .LeftBreadcumbsBar {
  background: white;
  border: 1px solid #b7b7b7;
  height: 27px;
}

.UIGroupSelector .UIBreadcumbs .RightBreadcumbsBar {
  background: white;
  height: 27px;
}

.UIGroupSelector .UIBreadcumbs .BreadcumbsInfoBar {
  background: white;
  height: 27px;
}

.UIGroupSelector .UIBreadcumbs .BCHome16x16Icon {
  width: 19px ; height: 19px ;
  background: url('/eXoResources/icons/16x16/MacSkin/NormalGroup.png') no-repeat left center;
  margin-top: 4px;
}

.UIGroupSelector .UIBreadcumbs a.Selected {
  color: #058ee6;
}

.UIGroupSelector .GroupSelector {
  padding: 10px;
  background: url(/eXoResources/background/MacSkin/Background1x4.png) repeat;
  border: 1px solid #e4e4e4;
}

.UIGroupSelector .TitleGroupSelector {
  background: url("MacSkin/background/ThGridRepeatBg1x19.gif") repeat-x;
  line-height: 19px; height: 19px;
  border: 1px solid #b7b7b7;
  border-bottom: 1px solid #cfcfcf;
  padding: 0px 10px;
  font-size: 11px;
  
}

.UIGroupSelector .LeftGroupSelector {
  float: left;
  width: 220px; height: 210px;
  border: 1px solid white;
}

.UIGroupSelector .LeftGroupSelector .UITree {
  height: 188px; width: 216px;
  overflow: auto; overflow-x: hidden;
  border: 1px solid #b7b7b7;
  border-top: none;
  background: white;
}

.UIGroupSelector .LeftGroupSelector .UITree .TreeContainer {
  padding: 10px 7px;
  border: none;
}

.UIGroupSelector .RightGroupSelector {
  margin-left: 225px;
  height: 210px;
  border: 1px solid white;
}

.UIGroupSelector .RightGroupSelector .Content {
  border: 1px solid #b7b7b7; border-top: none;
  height: 170px; 
  font-size: 11px; color: #058ee6;
  padding: 10px;
}

.UIGroupSelector .RightGroupSelector .Content div {
  padding: 3px 0px;
}

.UIGroupSelector .RightGroupSelector .Content span {
  color: #2c2c2c;
}