 .UIFormInputDecoratorSelector .UIItemSelector .NormalStyle .ItemList {
	height: 380px ; width: 200px;
	overflow: auto ;
	padding: 5px;
}

 .UIFormInputDecoratorSelector .UIItemSelector .ItemDetailList {
  margin-right: 220px; /* orientation=lt */
  margin-left: 220px; /* orientation=rt */
  height: 380px;
}

 .UIFormInputDecoratorSelector .UIItemSelector .Template {
	padding: 15px ; 
	margin-bottom: 3px; 
	background: url('background/LinedBG1x4.gif'); 
	height: 200px;
	border: 1px #c7c7c7 solid ;
}

 .UIFormInputDecoratorSelector .UIItemSelector .DecoratorDescription {
	height: 135px;
	background: white ;
	border: 1px #c7c7c7 solid;
	overflow: auto;
	padding: 10px;
}

 .UIFormInputDecoratorSelector .SampleBackground {
	background: white; border: 1px solid #c7c7c7;
	height: 180px; 
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .MiddleBackground {
	background: none ;
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .TopLeftCorner {
	background: none ;
	height: 10px;
	padding-left: 10px;
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .TopCenter {
	background: none ;
	height: 10px;
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .TopRightCorner {
	background: none ;
	padding-right: 10px;
	height: 10px;
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .MiddleLeftSide {
	background: none ;
	padding-left: 10px;	
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .MiddleRightSide {
	background: none ;
	padding-right: 10px;	
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .BottomRightCorner {
	background: none ;
	padding-right: 10px;
	height: 10px;	
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .BottomCenter {	
	background: none ;	
	height: 10px;
}

 .UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .BottomLeftCorner {
	background: none ;
	padding-left: 10px;
	height: 10px;
}