#PeopleGadget {
    border: dashed 1px #E2DDC7;
    margin-right: 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 15px 5px 15px;
}




#PeopleGadget ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}


#PeopleGadget ul li{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.peopleList img{
    width: 24px;
    height: 24px;
    border-width: 0px;
}

.peopleHeader {
    font-weight: bold;
    margin-bottom: 12px;
    padding-top: 5px;
}

.peopleInviteName {
    font-weight: bold;
}
.name {
    width:157px;
    float:left;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.actionInviteAppears {
    width:40px;
    float:left;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.peopleInvitePosition {
    width:157px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}


.peopleInviteAction {
    white-space:nowrap;
    font-size: 10px;
}

.peopleInviteInfo {
    padding-left: 10px;
    width: 157px;
    overflow: hidden;
}

.peopleInvitePicture {
    float: left;
    padding-top: 2px;
}

.peopleInvitePicture img {
    width: 50px;
}

#emptyInviteMessage {
    padding: 5px;
    font-weight: bold;
}

