/*===========================Misc Icons Stylesheet=======================*/
.AcrobatFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/AcrobatFile.gif') no-repeat;
}

.AdminView {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/AdminView.gif') no-repeat;
}

.AllTags {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/AllTags.gif') no-repeat;
}

.AmericanExpress {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/AmericanExpress.gif') no-repeat;
}

.AmericanExpressCard {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/AmericanExpressCard.gif') no-repeat;
}

.ApplicationGallery {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ApplicationGallery.gif') no-repeat;
}

.ApplicationLink {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ApplicationLink.gif') no-repeat;
}

.ApplicationList {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ApplicationList.gif') no-repeat;
}

.ApplicationSize {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ApplicationSize.gif') no-repeat;
}

.ApplicationTerminal {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ApplicationTerminal.gif') no-repeat;
}

.ApplicationWorldWide {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ApplicationWorldWide.png') no-repeat;
}

.BlueInfo {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/BlueInfo.gif') no-repeat;
}

.Bomb {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Bomb.png') no-repeat;
}

.BookmarkPage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/BookmarkPage.gif') no-repeat;
}

.BreakLink {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/BreakLink.gif') no-repeat;
}

.Brick {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Brick.gif') no-repeat;
}

.CategoryList {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/CategoryList.gif') no-repeat;
}

.Checkout {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Checkout.gif') no-repeat;
}

.CheckPage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/CheckPage.gif') no-repeat;
}

.Comment {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Comment.gif') no-repeat;
}

.ComponentsList {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ComponentsList.gif') no-repeat;
}

.Config {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Config.gif') no-repeat;
}

.CSS {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/CSS.gif') no-repeat;
}


.DiskDrive {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/DiskDrive.gif') no-repeat;
}

.DownloadApplication {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/DownloadApplication.gif') no-repeat;
}

.DreamweaverApplication {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/DreamweaverApplication.gif') no-repeat;
}

.DynamicContentPage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/DynamicContentPage.gif') no-repeat;
}

.Extension {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Extension.gif') no-repeat;
}

.Factory {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Factory.gif') no-repeat;
}

.Feature {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Feature.gif') no-repeat;
}

.Flash {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Flash.gif') no-repeat;
}

.FlashFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/FlashFile.gif') no-repeat;
}

.FolderLock {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/FolderLock.gif') no-repeat;
}

.FontFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/FontFile.gif') no-repeat;
}

.Glove {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Glove.gif') no-repeat;
}

.Home {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Home.gif') no-repeat;
}

.HTML {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/HTML.gif') no-repeat;
}

.Humer {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Humer.gif') no-repeat;
}

.IconsView {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/IconsView.gif') no-repeat;
}

.ImagesFrame {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ImagesFrame.gif') no-repeat;
}

.Images {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Images.gif') no-repeat;
}

.ImagesFolder {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ImagesFolder.gif') no-repeat;
}

.ImagesSize {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ImagesSize.gif') no-repeat;
}

.ImagesList {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/ImagesList.gif') no-repeat;
}

.Info {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Info.png') no-repeat;
}

.InstallerProgress {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/InstallerProgress.gif') no-repeat;
}

.JavaPge {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/JavaPge.gif') no-repeat;
}

.Layout {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Layout.gif') no-repeat;
}

.Link {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Link.gif') no-repeat;
}

.LockPage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/LockPage.gif') no-repeat;
}

.MasterCard {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/MasterCard.gif') no-repeat;
}

.Music {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Music.gif') no-repeat;
}

.MusicDownload {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/MusicDownload.gif') no-repeat;
}

.New {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/New.gif') no-repeat;
}

.PackagesList {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/PackagesList.gif') no-repeat;
}

.PageCategory {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/PageCategory.gif') no-repeat;
}

.PhotoshopFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/PhotoshopFile.gif') no-repeat;
}

.Printer {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Printer.gif') no-repeat;
}

.Puzzle {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Puzzle.gif') no-repeat;
}

.QuicktimeMovieFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/QuicktimeMovieFile.gif') no-repeat;
}

.Rainbow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Rainbow.gif') no-repeat;
}

.RefeshPage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/RefeshPage.gif') no-repeat;
}

.RSS {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/RSS.gif') no-repeat;
}

.RSSFeed {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/RSSFeed.gif') no-repeat;
}

.SearchFolder {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/RSSFeed.gif') no-repeat;
}

.Security {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/RSSFeed.gif') no-repeat;
}

.Software {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/RSSFeed.gif') no-repeat;
}

.Speaker {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/RSSFeed.gif') no-repeat;
}

.Speaker2 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Speaker2.gif') no-repeat;
}

.StarAward {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/StarAward.gif') no-repeat;
}

.StarPage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/StarPage.gif') no-repeat;
}

.Stats {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Stats.gif') no-repeat;
}

.TagPage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/TagPage.gif') no-repeat;
}

.TagSign {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/TagSign.gif') no-repeat;
}

.Ticket {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Ticket.gif') no-repeat;
}

.TrueTypeFont {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/TrueTypeFont.gif') no-repeat;
}

.Tux {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Tux.gif') no-repeat;
}

.Vector {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Vector.gif') no-repeat;
}

.Version {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/Version.gif') no-repeat;
}

.VisaCard {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/VisaCard.gif') no-repeat;
}

.WeatherClouds {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/WeatherClouds.gif') no-repeat;
}

.WeatherCloudy {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/WeatherCloudy.gif') no-repeat;
}

.WeatherLightning {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/WeatherLightning.gif') no-repeat;
}

.WeatherRain {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/WeatherRain.gif') no-repeat;
}

.WeatherSnow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/WeatherSnow.gif') no-repeat;
}

.WeatherSun {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/WeatherSun.gif') no-repeat;
}

.World {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/World.gif') no-repeat;
}

.XHTML {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/XHTML.gif') no-repeat;
}

.YellowStar {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/MiscIcons/YellowStar.png') no-repeat;
}
/*===========================End Misc Icons Stylesheet=======================*/

/*===========================Navigation Icons Stylesheet=======================*/
.BlackDownSolidArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlackDownSolidArrow.gif') no-repeat;
}

.BlackLeftSolidArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlackLeftSolidArrow.gif') no-repeat;
}

.BlackRightSolidArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlackRightSolidArrow.gif') no-repeat;
}

.BlackUpSolidArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlackUpSolidArrow.gif') no-repeat;
}

.BlueAquaBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueAquaBallBullet.gif') no-repeat;
}

.BlueArrowIn {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueArrowIn.gif') no-repeat;
}

.BlueArrowInOut {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueArrowInOut.gif') no-repeat;
}

.BlueBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueBallBullet.gif') no-repeat;
}

.BlueBranchArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueBranchArrow.gif') no-repeat;
}

.BlueDividedArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueDividedArrow.gif') no-repeat;
}

.BlueDownArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueDownArrow.gif') no-repeat;
}

.BlueJoinArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueJoinArrow.gif') no-repeat;
}

.BlueRedoArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueRedoArrow.gif') no-repeat;
}

.BlueRotateRightArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueRotateRightArrow.gif') no-repeat;
}

.BlueSquareBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueSquareBullet.gif') no-repeat;
}

.BlueSwitchArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueSwitchArrow.gif') no-repeat;
}

.BlueTriangleBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueTriangleBullet.gif') no-repeat;
}

.BlueUndoArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueUndoArrow.gif') no-repeat;
}

.BlueUpArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/BlueUpArrow.gif') no-repeat;
}

.Check {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/Check.png') no-repeat;
}

.Check2 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/Check2.gif') no-repeat;
}

.Delete {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/Delete.gif') no-repeat;
}

.Forward {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/Forward.gif') no-repeat;
}

.GrassGreenBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GrassGreenBallBullet.gif') no-repeat;
}

.GreenBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GreenBallBullet.gif') no-repeat;
}

.GreenSquareBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GreenSquareBullet.gif') no-repeat;
}

.GreenTriangleBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GreenTriangleBullet.gif') no-repeat;
}

.GreyAquaBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GreyAquaBallBullet.gif') no-repeat;
}

.GreyBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GreyBallBullet.gif') no-repeat;
}

.GreyLeftShapeArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GreyLeftShapeArrow.gif') no-repeat;
}

.GreySquareBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GreySquareBullet.gif') no-repeat;
}

.GreyTriangleBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/GreyTriangleBullet.gif') no-repeat;
}

.RedAquaBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/RedAquaBallBullet.gif') no-repeat;
}

.RedBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/RedBallBullet.gif') no-repeat;
}

.RedSquareBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/RedSquareBullet.gif') no-repeat;
}

.RedTriangleBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/RedTriangleBullet.gif') no-repeat;
}

.Reply {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/Reply.gif') no-repeat;
}

.RightShapeArrow {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/RightShapeArrow.gif') no-repeat;
}

.YellowAquaBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/YellowAquaBallBullet.gif') no-repeat;
}

.YellowBallBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/YellowBallBullet.gif') no-repeat;
}

.YellowSquareBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/YellowSquareBullet.gif') no-repeat;
}

.YellowTriangleBullet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/NavigationIcons/YellowTriangleBullet.gif') no-repeat;
}
/*===========================End Navigation Icons Stylesheet=======================*/

/*===========================Office Icons Stylesheet=======================*/
.AddressBook {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/AddressBook.gif') no-repeat;
}

.ArticleDocument {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/ArticleDocument.gif') no-repeat;
}

.At {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/At.png') no-repeat;
}

.Attachment {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Attachment.gif') no-repeat;
}

.Book {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Book.gif') no-repeat;
}

.Chair {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Chair.gif') no-repeat;
}

.ChartBar {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/ChartBar.gif') no-repeat;
}

.ChartLine {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/ChartLine.gif') no-repeat;
}

.CoffeeCup {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/CoffeeCup.gif') no-repeat;
}

.CoinsCurency {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/CoinsCurency.gif') no-repeat;
}

.Computer {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Computer.gif') no-repeat;
}

.Conference {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Conference.gif') no-repeat;
}

.Date {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Date.gif') no-repeat;
}

.DocumentBox {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/DocumentBox.gif') no-repeat;
}

.Door {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Door.gif') no-repeat;
}

.DreamweaverFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/DreamweaverFile.gif') no-repeat;
}

.Email {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Email.gif') no-repeat;
}

.Envelope {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Envelope.gif') no-repeat;
}

.ExeFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/ExeFile.gif') no-repeat;
}

.FloppyDisk {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/FloppyDisk.gif') no-repeat;
}

.Floppy1 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Floppy1.gif') no-repeat;
}

.Floppy2 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Floppy2.gif') no-repeat;
}

.Floppy3 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Floppy3.gif') no-repeat;
}

.Floppy4 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Floppy4.gif') no-repeat;
}

.Floppy5 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Floppy5.gif') no-repeat;
}

.HomePage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/HomePage.gif') no-repeat;
}

.HotNews {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/HotNews.gif') no-repeat;
}

.IDCard {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/IDCard.gif') no-repeat;
}

.IllustratorFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/IllustratorFile.gif') no-repeat;
}

.IndesignFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/IndesignFile.gif') no-repeat;
}

.Index {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Index.gif') no-repeat;
}

.Keyboard {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Keyboard.gif') no-repeat;
}

.Letter {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Letter.gif') no-repeat;
}

.MacOSXFolder {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/MacOSXFolder.gif') no-repeat;
}

.Mail {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Mail.gif') no-repeat;
}

.Map {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Map.gif') no-repeat;
}

.Monitor {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Monitor.gif') no-repeat;
}

.Mouse {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Mouse.gif') no-repeat;
}

.Newspaper {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Newspaper.gif') no-repeat;
}

.Newspaper2 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Newspaper2.gif') no-repeat;
}

.NotePage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/NotePage.gif') no-repeat;
}

.OpenBook {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/OpenBook.gif') no-repeat;
}

.OpenEmail {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/OpenEmail.gif') no-repeat;
}

.OpenFolder {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/OpenFolder.gif') no-repeat;
}

.Page {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Page.gif') no-repeat;
}

.PagerList {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/PagerList.gif') no-repeat;
}

.PastePalate {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/PastePalate.gif') no-repeat;
}

.Picture {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Picture.gif') no-repeat;
}

.Purchase {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Purchase.gif') no-repeat;
}

.Script {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Script.gif') no-repeat;
}

.SearchPage {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/SearchPage.gif') no-repeat;
}

.ShoppingBag {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/ShoppingBag.gif') no-repeat;
}

.Sitemap {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Sitemap.gif') no-repeat;
}

.Stats2 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Stats2.gif') no-repeat;
}

.Tag {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Tag.gif') no-repeat;
}

.Telephone {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/Telephone.gif') no-repeat;
}

.TextFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/TextFile.gif') no-repeat;
}

.YellowFolder {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/YellowFolder.gif') no-repeat;
}

.YellowPen {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/YellowPen.gif') no-repeat;
}
.ZipFile {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/OfficeIcons/ZipFile.gif') no-repeat;
}
/*===========================End Office Icons Stylesheet=======================*/

/*===========================Tool Icons Stylesheet=======================*/
.Alarm {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Alarm.gif') no-repeat;
}

.Anchor {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Anchor.gif') no-repeat;
}

.BasketBall {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/BasketBall.gif') no-repeat;
}

.Bell {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Bell.gif') no-repeat;
}

.Billards {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Billards.gif') no-repeat;
}

.BlueActionWheel {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/BlueActionWheel.gif') no-repeat;
}

.BlueFlag {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/BlueFlag.gif') no-repeat;
}

.Box {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Box.gif') no-repeat;
}

.BriefCase {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/BriefCase.gif') no-repeat;
}

.Calculator {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Calculator.gif') no-repeat;
}

.Calendar {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Calendar.gif') no-repeat;
}

.Cart {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Cart.gif') no-repeat;
}

.CD {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/CD.gif') no-repeat;
}

.Clock {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Clock.gif') no-repeat;
}

.Component {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Component.gif') no-repeat;
}

.CropTool {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/CropTool.gif') no-repeat;
}

.DeskPhone {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/DeskPhone.gif') no-repeat;
}

.EmptyBox {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/EmptyBox.gif') no-repeat;
}

.Entertainment {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Entertainment.gif') no-repeat;
}

.FileBox {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/FileBox.gif') no-repeat;
}

.FirefoxBrowser {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/FirefoxBrowser.gif') no-repeat;
}

.FolderExport {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/FolderExport.gif') no-repeat;
}

.FolderImport {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/FolderImport.gif') no-repeat;
}

.Football {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Football.gif') no-repeat;
}

.Gear {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Gear.gif') no-repeat;
}

.Golf {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Golf.gif') no-repeat;
}

.GrayWallet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/GrayWallet.gif') no-repeat;
}

.GreenFlag {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/GreenFlag.gif') no-repeat;
}

.GreyFlag {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/GreyFlag.gif') no-repeat;
}

.HardDisk {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/HardDisk.gif') no-repeat;
}

.HourGlass {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/HourGlass.gif') no-repeat;
}

.Key {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Key.gif') no-repeat;
}

.Light {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Light.gif') no-repeat;
}

.Lock {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Lock.gif') no-repeat;
}

.MacApplicationTool {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/MacApplicationTool.gif') no-repeat;
}

.MacMonitor {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/MacMonitor.gif') no-repeat;
}

.Magnifier {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Magnifier.gif') no-repeat;
}

.MoveTool {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/MoveTool.gif') no-repeat;
}

.Movie {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Movie.gif') no-repeat;
}

.Network {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Network.gif') no-repeat;
}

.Paste {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Paste.gif') no-repeat;
}

.PCMonitor {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/PCMonitor.gif') no-repeat;
}

.Pencil {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Pencil.gif') no-repeat;
}

.Raquet {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Raquet.gif') no-repeat;
}

.RedFlag {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/RedFlag.gif') no-repeat;
}

.Ruler {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Ruler.gif') no-repeat;
}

.Search {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Search.png') no-repeat;
}

.Shield {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Shield.png') no-repeat;
}

.Shuttlecock {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Shuttlecock.gif') no-repeat;
}

.Soccer {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Soccer.gif') no-repeat;
}

.Sound {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Sound.gif') no-repeat;
}

.Switcher {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Switcher.gif') no-repeat;
}

.Tennis {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Tennis.gif') no-repeat;
}

.ToolBoxOpen {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/ToolBoxOpen.gif') no-repeat;
}

.UnLock {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/UnLock.gif') no-repeat;
}

.VolumeControl {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/VolumeControl.gif') no-repeat;
}

.Wand {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Wand.gif') no-repeat;
}

.Warning {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Warning.gif') no-repeat;
}

.Webcam {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Webcam.gif') no-repeat;
}

.Wrench {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Wrench.gif') no-repeat;
}

.YellowBulb {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/YellowBulb.gif') no-repeat;
}

.YellowFlag {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/YellowFlag.gif') no-repeat;
}
/*===========================End Tool Icons Stylesheet=======================*/

/*===========================User Icons Stylesheet=======================*/
.Comment {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/UserIcons/Comment.gif') no-repeat;
}

.Contact {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/UserIcons/Contact.gif') no-repeat;
}

.Eye {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/UserIcons/Eye.gif') no-repeat;
}

.Finger {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/UserIcons/Finger.gif') no-repeat;
}

.FolderHolder {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/FolderHolder.gif') no-repeat;
}

.Hand {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Hand.png') no-repeat;
}

.HandPoint {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/HandPoint.png') no-repeat;
}

.Help {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Help.png') no-repeat;
}

.Personal {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Personal.png') no-repeat;
}

.Public {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Public.gif') no-repeat;
}

.User {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/User.gif') no-repeat;
}

.VIPCard {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/VIPCard.gif') no-repeat;
}

.Woman1 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Woman1.png') no-repeat;
}

.Woman2 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Woman2.png') no-repeat;
}

.Woman3 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Woman3.png') no-repeat;
}

.Woman4 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Woman4.png') no-repeat;
}

.Worker1 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Worker.png') no-repeat;
}

.Worker2 {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/Worker2.png') no-repeat;
}

.YellowComment {
  width: 16px; height: 16px;
  background: url('DefaultSkin/icons/16x16/ToolIcons/YellowComment.gif') no-repeat;
}
/*===========================End User Icons Stylesheet=======================*/
