.UIPortletOptions {
	background: #efefef;	
	border: solid 1px #bdbcbc;
	border-right: solid 1px #929292;
	border-bottom: solid 1px #929292;
	padding: 5px;
	margin: 0px 10px;
}

.UIPortletOptions .UIVerticalSlideTabs {
	padding: 5px;
}

.UIPortletOptions .UIVerticalSlideTabs .NormalTab {
	margin: 5px 5px 0px 5px;
}

.UIPortletOptions .UIVerticalSlideTabs .SelectedTab {
	margin: 5px 5px 0px 5px;
}

.UIPortletOptions .UIVerticalSlideTabs .UIVTab .UIVTabContent {
	margin: 1px 6px 5px 6px;
	padding: 10px 0px 9px 10px; /* orientation=lt */
	padding: 10px 10px 9px 0px; /* orientation=rt */
	border: solid 1px #a6a0a0;
	overflow: hidden;
}

.UIPortletOptions .CategoryContainer {
	border: solid 1px #b7b7b7; 
	background: white;
	overflow-y: auto;
	overflow-x: hidden;
}