/**
         * Copyright ( C ) 2012 eXo Platform SAS.
         *
         * This is free software; you can redistribute it and/or modify it
         * under the terms of the GNU Lesser General Public License as
         * published by the Free Software Foundation; either version 2.1 of
         * the License, or (at your option) any later version.
         *
         * This software is distributed in the hope that it will be useful,
         * but WITHOUT ANY WARRANTY; without even the implied warranty of
         * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
         * Lesser General Public License for more details.
         *
         * You should have received a copy of the GNU Lesser General Public
         * License along with this software; if not, write to the Free
         * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
         * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
         */

.calendarPortlet .calendarPortletData  a {
	color: #333333;
}

.calendarPortlet .calendarPortletData .uiContentBox {
	padding: 15px;
}
.calendarPortlet .calendarPortletData .title  .actionIcon {
	line-height: 14px;
    padding: 1px;
}
.calendarName {
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 11px;
	padding: 2px 10px;
	margin: 0 5px 8px 0;
}
.calendarPortlet .calendarPortletData .eventsList li  {
	border-radius: 3px;
	background-color: #f0f0f0;
	border: 1px solid transparent;
	padding: 5px 8px;
	margin: 0 0 8px 0;	
}

.calendarPortlet .calendarPortletData  .eventsList li  .eventSummary {
	width: 50%;
	text-overflow: ellipsis;
	overflow: hidden;
    white-space: nowrap;
}
.calendarPortlet .calendarPortletData  .eventsList li .time {
	width: 50%;
	font-size: 12px;
}
.calendarPortlet .calendarPortletData  .pastEvent {
	opacity: 0.75;
}
.calendarPortlet .calendarPortletData  .eventsList li:hover  {
	border: 1px solid #cccccc;
	cursor: pointer;
}

.calendarPortlet .calendarPortletData .taskCompleted {
	text-decoration:line-through;
}

.calendarPortlet .calendarPortletData  .tasksList li {
	padding: 0 0 0 20px;
	margin: 0 0 5px 0;
	cursor: pointer;
	background: url(/homepage-portlets/style/images/calendar/calendar-porlet.png) no-repeat;
}
.calendarPortlet .calendarPortletData  .tasksList li  ,.calendarPortlet .calendarPortletData  .tasksList li  a ,.eventsList  li a{
	color: #333333;
}

.calendarPortlet .calendarPortletData  .tasksList .taskCompleted {
	background-position: 0 5px;
}

.calendarPortlet .calendarPortletData  .tasksList .taskNotCompleted {
	background-position: 0 -43px;
}

.calendarPortlet .calendarPortletData  .tasksList .taskLateNotCompleted {
	background-position: 0 -91px;
}

.settingsContainerPage {
	margin:0px 10px 10px 10px ;
}
/*============== ColorPicker ================*/

.asparagus {
    background-color: #909958;
}

.munsell_blue {
    background-color: #319AB3;
}

.navy_blue {
    background-color: #4273C8;
}

.purple {
    background-color: #774EA9;
}

.red {
    background-color: #FF5933;
}

.brown {
    background-color: #BB8E62;
}

.laurel_green {
    background-color: #BED67E;
}

.sky_blue {
    background-color: #4DBED9;
}

.blue_gray {
    background-color: #8EB0EA;
}

.light_purple {
    background-color: #BC99E7;
}

.hot_pink {
    background-color: #F97575;
}

.light_brown {
    background-color: #C5B294;
}

.moss_green {
    background-color: #98CC81;
}

.powder_blue {
    background-color: #9EE4F5;
}

.light_blue {
    background-color: #B3CFFF;
}

.pink {
    background-color: #FFC8F0;
}

.orange {
    background-color: #FDB519;
}

.gray {
    background-color: #A39594;
}

.green {
    background-color: #89D4B3;
}

.baby_blue {
    background-color: #B2E2FF;
}

.light_gray {
    background-color: #CDCDCD;
}
.beige {
    background-color: #FFE1BE;
}

.yellow {
    background-color: #FFE347;
}

.plum_purple {
    background-color: #CEA6AC;
}