.SelectFileFrame {
	margin: 10px 0px 10px 0px;
}

.SelectFileLabel {
	float: left;
	text-align: right ;
	margin-right: 15px;
}

.UploadButton {
  width: 27px; height: 21px; 
	cursor: pointer; vertical-align: bottom;
	background: url('background/UpArrow16x16.png') no-repeat left;
}

.ProgressBarFrame {
	width: 400px;
	margin: 10px 0px 10px 0px;
}

.ProgressBar {
	float: left;
	width: 230px;
}

.ProgressBarLeft {
	padding: 1px ;
	border: solid 1px gray;
}

.ProgressBarMiddle {
}

.BlueProgressBar {
	width: 0%; height: 14px;
	background: url('background/BlueBg1x14.gif') repeat-x;
	position: relative;
}

.ProgressBarLabel {
	width: 15px; height: 15px;
	position: absolute;
	left: 110px;
}

.ProgressBarLabel {
	text-align: center;
}

.DeleteFileFrame {
	float: left;
	background: url('background/Round18x18.gif') no-repeat;
	cursor: pointer;
	padding-left: 23px;
	margin-left: 5px;
}

.DeleteFileLable {
	font-family: verdana;
	line-height: 18px;
}

.FileName {
	float: left;
}

.FileNameLabel {
	font-weight: bold;
	line-height: 14px;
	width: 215px;
}

.RemoveFile {
	float: left;
	height: 21px; line-height: 21px;
	width: 24px;
	background: url('background/RemoveIcon.png') no-repeat;
	cursor: pointer;
	margin-left: 10px;
	color: blue;
}

.TestIframe {
	width: 260px;
}