.UIChagnePortalForm {
  padding: 20px 15px 10px 15px;
}

.UIChagnePortalForm .TabPaneContent {
  border: 1px solid #d4d4d4;
  border-top: none;
  padding: 0px 3px 3px 3px;
}

.UIChagnePortalForm .WorkingArea {
  border: 1px solid #d9d9d9;
  padding: 15px 15px 25px 15px;
  background: white;
  height: 250px;
  overflow: auto;
}

.UIChagnePortalForm .Button .UIAction {
  width: 65px;
  margin: auto;
}

.UIChagnePortalForm .UIGrid .ActionContainer {
  width: 20px;
}

.UIChagnePortalForm .UITabPane .TabPaneContent .UITabContentContainer { 
	border: 1px solid #d4d4d4;
	border-top: none;
}