.UIChagnePortalForm {
  padding: 20px 15px 10px 15px;
}

.UIChagnePortalForm .UIBarStyle .TitleBar {
  margin: 15px 5px 0px 5px;
}

.UIChagnePortalForm .MiddleFormTitle {
	background: url('VistaSkin/background/MiddleFormTitle1x29.png') repeat-x;
	height: 29px;
	color:#0786E7;
	line-height: 29px;
	font-weight: bold;
	padding-left: 8px;
	margin: 0px 5px;
	border: 1px solid #a4a4a4;
	border-bottom: none;
}
.UIChagnePortalForm .TabPaneContent {
  border: 1px solid #a4a4a4;
  border-top: none;
  padding: 0px 3px 3px 3px;
}

.UIChagnePortalForm .WorkingArea {
  border: 1px solid #d9d9d9;
  padding: 15px 15px 25px 15px;
  background: white;
  height: 250px;
  overflow: auto;
}

.UIChagnePortalForm .Button .UIAction {
  width: 65px;
  margin: auto;
}

.UIChagnePortalForm .UIGrid .ActionContainer {
  width: 20px;
}

.UIChangeLanguageForm .UIBarStyle .TitleBar {
	padding: 15px 5px 0px 5px; 
}