.DecoratorBox {}


/*##############################- GrayRoundedFillBox Style -################################*/
.DecoratorBox .GrayRoundedFillBoxStyle {
border: 1px solid red;
}

.DecoratorBox .GrayRoundedFillBoxStyle .TopLeftCornerBoxDecorator {
  background: url('background/GrayRounded.png') no-repeat left top;
  padding: 0px 0px 0px 10px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .TopRightCornerBoxDecorator {
  background: url('background/GrayRounded.png') no-repeat right -11px;
  padding: 0px 14px 0px 0px ;
}

.DecoratorBox .GrayRoundedFillBoxStyle .TopCenterBoxDecorator {
  height: 11px; 
  line-height: 11px;
  background: url('background/GrayRounded.png') repeat-x left -22px ;
}

.DecoratorBox .GrayRoundedFillBoxStyle .MiddleLeftSideBoxDecorator {
  padding-left: 10px;
  background: url('background/MiddleLeftSide10x1.png') repeat-y left ;  
}

.DecoratorBox .GrayRoundedFillBoxStyle .CenterBoxDecorator {
  height: auto;
  background: url('background/CenterBoxDecoratorBG.png') repeat;
  padding: 10px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .MiddleRightSideBoxDecorator {
  background: url('background/MiddleRightSide14x1.png') repeat-y right ;
  padding: 0px 14px 0px 0px ;
}

.DecoratorBox .GrayRoundedFillBoxStyle .BottomLeftCornerBoxDecorator {
  background: url('background/GrayRounded.png') no-repeat left -33px ;
  padding: 0px 0px 0px 10px;
}

.DecoratorBox .GrayRoundedFillBoxStyle .BottomRightCornerBoxDecorator {
  background: url('background/GrayRounded.png') no-repeat right -48px;
  padding: 0px 14px 0px 0px ;
}

.DecoratorBox .GrayRoundedFillBoxStyle .BottomCenterBoxDecorator {
  height: 15px; 
  line-height:15px;
  background: url('background/GrayRounded.png') repeat-x bottom;
}


/* ====================DecoratorContainer Options=================*/
.TopLeftContainerOptions {
	background: url('background/DecoratorContainer.png') no-repeat left top;
	padding-left: 4px;
	margin: 0px 5px;
}

.TopRightContainerOptions {
	background: url('background/DecoratorContainer.png') no-repeat right -2px;
	padding-right: 5px;
}

.TopCenterContainerOptions {
	background: url('background/DecoratorContainer.png') repeat-x left -4px;
	height: 2px;
}

.MiddleLeftContainerOptions {
	background: url('background/MiddleLDecoratorContainer.png') repeat-y left;
	padding-left: 4px;
	margin: 0px 5px;
}

.MiddleRightContainerOptions {
	background: url('background/MiddleRDecoratorContainer.png') repeat-y right;
	padding-right: 4px;
}

.BottomLeftContainerOptions {
	background: url('background/DecoratorContainer.png') no-repeat left -6px;
	padding-left: 7px;
	margin: 0px 5px;
}

.BottomRightContainerOptions {
	background: url('background/DecoratorContainer.png') no-repeat right -15px;
	padding-right: 8px;
}

.BottomCenterContainerOptions {
	background: url('background/DecoratorContainer.png') repeat-x bottom;
	height: 9px;
}

/*##############################- View box style-################################*/

.DecoratorBox .ViewBoxStyle .MiddleCenterViewBoxStyle {
  background: #ffffff ;
}

.DecoratorBox .ViewBoxStyle .TopLeftViewBoxStyle {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 8px;
}

.DecoratorBox .ViewBoxStyle .TopCenterViewBoxStyle {
  height: 8px ;
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') repeat-x left -8px;
}

.DecoratorBox .ViewBoxStyle .TopRightViewBoxStyle {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') no-repeat right top;
  padding: 0px 8px 0px 0px ;
}

.DecoratorBox .ViewBoxStyle .MiddleLeftViewBoxStyle {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/MiddleViewBoxStyle.gif') repeat-y left;
  padding: 0px 0px 0px 4px ;
}

.DecoratorBox .ViewBoxStyle .MiddleRightViewBoxStyle {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/MiddleViewBoxStyle.gif') repeat-y right;
  padding: 0px 4px 0px 0px ;
}

.DecoratorBox .ViewBoxStyle .BottomLeftViewBoxStyle {
  width: auto; 
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') no-repeat left bottom;
  padding: 0px 0px 0px 8px ;
}

.DecoratorBox .ViewBoxStyle .BottomCenterViewBoxStyle {
  height: 8px ;
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif')repet-x left -16px;
}

.DecoratorBox .ViewBoxStyle .BottomRightViewBoxStyle {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIBoxDecorator/background/ViewBoxStyle.gif') no-repeat right bottom;
  padding: 0px 8px 0px 0px ;
}

/*##############################- Bar Decorator-################################*/

.DecoratorBox .BarDecorator .TopRightBar {
  background: url('background/BarDecorator.png') no-repeat right top; 	/* orientation=lt */
  background: url('background/BarDecorator-rt.png') no-repeat left top; 	/* orientation=rt */
  padding-right: 7px; 	/* orientation=lt */
  padding-left: 7px; 	/* orientation=rt */
  height: 5px;
}

.DecoratorBox .BarDecorator .TopCenterBar {
  background: url('background/BarDecorator.png') repeat-x left -5px ; 	/* orientation=lt */
  background: url('background/BarDecorator-rt.png') repeat-x right -5px ; 	/* orientation=rt */
  height: 5px;
}

.DecoratorBox .BarDecorator .MiddleRightBar {
  background: url('background/MRBarDecorator4x1.png') repeat-y right; 	/* orientation=lt */
  background: url('background/MRBarDecorator4x1-rt.png') repeat-y left; 	/* orientation=rt */
  padding-right: 4px; 	/* orientation=lt */
  padding-left: 4px; 	/* orientation=rt */
}

.DecoratorBox .BarDecorator .MiddleCenterBar {
  background: url('background/MCBarDecorator1x8.png') repeat-x top;  	/* orientation=lt */
  background: url('background/MCBarDecorator1x8-rt.png') repeat-x top;  	/* orientation=rt */
  padding: 1px 4px 2px 5px;
  color: #151209;
  font-weight: bold;
}

.DecoratorBox .BarDecorator .BottomCenterBar {
  background: url('background/BarDecorator.png') repeat-x left -18px;  	/* orientation=lt */
  background: url('background/BarDecorator.png') repeat-x right -18px;  	/* orientation=rt */
  height: 8px;
}

.DecoratorBox .BarDecorator .BottomRightBar {
  background: url('background/BarDecorator.png') no-repeat right bottom;  	/* orientation=lt */
  background: url('background/BarDecorator-rt.png') no-repeat left bottom;  	/* orientation=rt */
  padding-right: 7px;  	/* orientation=lt */
  padding-left: 7px;  	/* orientation=rt */
  height: 8px;
}

