.UIFooterPortlet {
  background: url('DefaultSkin/background/FooterBG.gif') repeat-x top left;
  margin: 0;
  padding: 14px 0 0 20px;
}

.UIFooterPortlet .RepeatFooter {
  padding: 0px;
  margin: 0px;
}

.UIFooterPortlet .FooterInfoContainer {
  line-height: 25px ;
}

.UIFooterPortlet .CopyrightInfo {
  background: url('DefaultSkin/background/FooterLogo.gif') no-repeat top left;
  text-align: left;
  color: #395c88;
  padding-left: 80px;
  line-height: 30px;
}
