.UIFooterPortlet {
  background: url('DefaultSkin/background/FooterBG.gif') repeat-x top left; /* orientation=lt */
  background: url('DefaultSkin/background/FooterBG.gif') repeat-x top right; /* orientation=rt */
  margin: 0;
  padding: 14px 0 0 20px; /* orientation=lt */
  padding: 14px 20px 0 0; /* orientation=rt */
}
	
.UIFooterPortlet .RepeatFooter {
	padding: 0px;
	margin: 0px;
}

.UIFooterPortlet .FooterInfoContainer {
	line-height: 25px;
}

.UIFooterPortlet .CopyrightInfo {
	background: url('DefaultSkin/background/FooterLogo.gif') no-repeat top left; /* orientation=lt */
	background: url('DefaultSkin/background/FooterLogo.gif') no-repeat top right; /* orientation=rt */
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	color: #395c88;
	padding-left: 80px; /* orientation=lt */
	padding-right: 80px; /* orientation=rt */
	line-height: 30px;
	height: 30px;
}
