 .NoMouseEvent64x58 {
  width: 64px;
  height: 58px;
  line-height: 58px;
  vertical-align: middle;
  margin: auto;
}

 .Over64x58 {
  width: 64px;
  height: 58px;
  line-height: 58px;
  vertical-align: middle;
  margin: auto;
  background: url('background/OverBackground64x58.gif') no-repeat;
}

 .Selected64x58 {
  width: 64px;
  height: 58px;
  line-height: 58px;
  vertical-align: middle;
  margin: auto;
  background: url('background/SelectedBackground64x58.gif') no-repeat;
}

 .NoMouseEvent32x32 {
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin: auto;
}

 .Over32x32 {
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin: auto;
  background: url('background/OverBackground32x32.gif') no-repeat;
}

 .Selected32x32 {
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  margin: auto;
  background: url('background/SelectedBackground32x32.gif') no-repeat;
}

 .NoMouseEvent32x28 {
  width: 32px;
  height: 28px;
  line-height: 22px;
  vertical-align: middle;
  margin: auto;
}

 .Over32x28 {
  width: 32px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  margin: auto;
  background: url('background/OverBackground32x28.gif') no-repeat;
}

 .Selected32x28 {
  width: 32px;
  height: 28px;
  line-height: 28px;
  vertical-align: middle;
  margin: auto;
  background: url('background/SelectedBackground32x28.gif') no-repeat;
}