/*##############################-Page Layout Decorator-################################*/
.UIPageBody .PageLayoutDecorator  {
  padding: 0px;
  margin: 0px 2px auto 2px;
}

.UIPageBody .PageLayoutDecorator .MiddlePageBG {
  background: white;
	height: 80px; 
}

.UIPageBody .PageLayoutDecorator .TopLeftPage {
  background: url('background/ViewPage.gif') no-repeat left -113px; /* orientation=lt */
  background: url('background/ViewPage-rt.gif') no-repeat right -113px; /* orientation=rt */
  padding: 0px 0px 0px 143px; /* orientation=lt */
  padding: 0px 143px 0px 0px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .TopRightPage {
  background: url('background/ViewPage.gif') no-repeat right -226px; /* orientation=lt */
  background: url('background/ViewPage-rt.gif') no-repeat left -226px; /* orientation=rt */
  padding: 0px 47px 0px 0px;  /* orientation=lt */
  padding: 0px 0px 0px 47px;  /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .TopCenterPage {
  height: 112px; line-height: 98px;  
  background: url('background/ViewPage.gif') repeat-x center top;  
  color: #525252; text-align: center;
  font-weight: bold;
  padding: 0px; white-space: nowrap;
}

.UIPageBody .PageLayoutDecorator .MiddleLeftPage {
  background: url('background/ViewPageRepeat.gif') repeat-y left; /* orientation=lt */
  background: url('background/ViewPageRepeat-rt.gif') repeat-y right; /* orientation=rt */
  padding: 0px 0px 0px 22px; /* orientation=lt */
  padding: 0px 22px 0px 0px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .MiddleRightPage {
 background: url('background/ViewPageRepeat.gif') repeat-y right; /* orientation=lt */
 background: url('background/ViewPageRepeat-rt.gif') repeat-y left; /* orientation=rt */
 padding: 0px 23px 0px 0px; /* orientation=lt */
 padding: 0px 0px 0px 23px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .BottomLeftPage {  
  background: url('background/ViewPage.gif') no-repeat left -378px; /* orientation=lt */
  background: url('background/ViewPage-rt.gif') no-repeat right -378px; /* orientation=rt */
  padding: 0px 0px 0px 46px; /* orientation=lt */
  padding: 0px 46px 0px 0px; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .BottomRightPage {
  background: url('background/ViewPage.gif') no-repeat right -378px; /* orientation=lt */
  background: url('background/ViewPage-rt.gif') no-repeat left -378px; /* orientation=rt */
  padding: 0px 35px 0px 0px;  /* orientation=lt */
  padding: 0px 0px 0px 35px;  /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .BottomCenterPage {
  line-height: 38px;
  background: url('background/ViewPage.gif') repeat-x center -339px; 
}

.UIPageBody .PageLayoutDecorator .BottomCenterPage .FixBug {
  height: 38px;   
}

.UIPage .UIRowContainer {
	padding: 1px;
}

.UIPage .VIEW-PAGE {
  padding: 0px;
}