.UIPortalManagement {	
}

.UIPortalManagement .UIPortletOptions .UIDropDownControl {
	width: 218px;
}

.UIPortalManagement .UIToolbar .EditToolbar .Icon {
	margin: 3px 13px 0px 15px; /* orientation=lt */
	margin: 3px 15px 0px 13px; /* orientation=rt */
}