.UITree {
  border: solid #707070 1px ;
}

.UITree .BottomDecorator {
	border-top: 1px solid #626262 ;
}

.UITree .TreeContainer {
  background: #ffffff;
  padding: 3px 0px 7px 0px;
}

.UITree .TreeLevelContainer {
  padding-left: 7px;
}

.UITree .TreeLevelContainer .LevelUpArrowIcon {
  float: left;
  width: 29px; line-height: 18px;
  background: url('background/AquaBlueUpLevelIcon.gif') no-repeat;
  margin: 3px 0px 5px 0px;
}

.UITree .TreeContainer .Node {
  margin: 3px 0px 0px 0px ;
  overflow: hidden ;
  padding-left: 9px;
  width: 95%;
  clear: both ;
}

.UITree .TreeContainer .Node .ExpandIcon {
  cursor: pointer ;
  margin-top: 3px ;
  float: left ;
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/GreenArrowTree.png') no-repeat ;
  width: 16px ;  height: 16px ;
}
  
.UITree .TreeContainer .Node .ColapseIcon {
  cursor: pointer ;
  margin-top: 3px ;
  float: left ;
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/GreenArrowTree.png') no-repeat ;
  width: 16px ;  height: 16px ;
}

.UITree .TreeContainer .Node .EmptyIcon {
  margin-right: 1px ;
  float: left ;
  width: 16px ;  height: 16px ;
}

.UITree .TreeContainer .Node .Icon {
  float: left ;
  width: 24px ;  height: 24px ;
  margin: 0px 0px 0px 3px;
}

.UITree .TreeContainer .Node .NodeLabel a {
  cursor: pointer ;
  margin-left: 4px ; margin-top: 5px;
  float: left ;
  height: 16px ;  line-height: 16px ;
  color: black; 
}

.UITree .TreeContainer .Node .NodeLabel a:hover {
  color: orange; 
}

.UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  color: blue; 
}

/** ################# Icons ###################*/
.UITree .TreeContainer .GroupAdminIcon {
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/24x24/icons/NormalGroup.png') no-repeat ;
 
}

.UITree .TreeContainer .PortalIcon {
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/24x24/icons/SelectedGroup.png') no-repeat ; 
   
}

/** ################# UIPageNodeSelector.UITree.Controlbar ###################*/
.UIWizard .UITree .Controlbar {
	display: none;
}

.UITree .Controlbar {
	border: solid 1px #ffffff;
	background: #f2f2f2;
	height: 25px;
	padding-left: 3px;
}

.UITree .Controlbar .IconBar {
	float: left;
	width: 24px;	height: 22px;
	background-repeat: no-repeat;
	background-position: center;
	margin: 1px;
	cursor: pointer;
}

.UITree .Controlbar .Separator {
	float: left;
	border-left: 1px #d0d0d0 solid;
	border-right: 1px #ffffff solid;
	height: 20px;
	margin: 2px;
}