/*#######################################-----UIWizard-----##################################*/
.UIWizard {
	width: 98.5%;	
	margin: auto;
	overflow: hidden;
}

/*========================== Wizard Content ==============================*/
.UIWizard .UIWizardContent {
  padding: 7px;
  border: solid 1px #7e8284;
  background: url('background/LayoutPortalBG.png') repeat;
  height: 100%;
}

.UIWizard .UIWizardContent .WizardStepTitleBar {
  height: 28px;
  background: url('background/Background1x28.png')  repeat-x;
  border: solid 1px #aeaeae; border-bottom: none; 
}

.UIWizard .UIWizardContent .WizardStepTitleBar .WizardIcon {
	float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 28px; height: 27px; 
  background: url('background/WizardIcon.png') no-repeat top;
  margin: 1px 8px 0px 8px;
}

.UIWizard .UIWizardContent .WizardStepTitleBar .WizardTitle {
 	float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 28px; line-height: 28px;  vertical-align: middle;
  font-weight: bold;
}

.UIWizard .UIWizardContent .WizardStepTitleBar .HelpIcon {
  float: right;
  width: 30px; height: 30px;
  background:  url('background/WizardIcon.png') no-repeat center -27px;
  margin: 1px 10px 0px 0px;
  cursor: pointer;
}

.UIWizard .UIWizardContent .WizardStepTitleBar .StepTitle {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  height: 28px; line-height: 28px; vertical-align: middle;
  color: #393939;
  padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
  font-size:11px;
}

.UIWizard .UIWizardContent .WizardStepContent {
  background: url('background/WizardStepContentBG.png') repeat-x bottom;
  background-color: white;  
  border: solid 1px #aeaeae; border-bottom: none;
  height: 100%;
}

.UIWizard .UIWizardContent .WizardControlBar {
  height: 36px;
  background: transparent;
  border: solid 1px #b7b7b7;
  border-top:none;
}

.UIWizard .UIWizardContent .WizardControlBar .StepNavigationBar {
  float: left; 	/* orientation=lt */
	float: right; 	/* orientation=rt */
  height: 34px; line-height: 34px; vertical-align: middle;
}

.UIWizard .UIWizardContent .WizardControlBar .StepNavigationBar a {
  float: left;
  width: 18px; height: 18px; 
  line-height: 18px;
  font-weight: bold; text-align: center;
  border: solid 1px gray;
  margin: 7px 3px 0px 3px;
}

.UIWizard .UIWizardContent .WizardControlBar .StepNavigationBar a:hover {
  height: 18px; line-height: 18px; 
  background: #f8f8f8;
  border: solid 1px #fdb913 ;
  color: orange;
}

.UIWizard .UIWizardContent .WizardControlBar .StepNavigationBar a.SelectedStep {
  color: red;
}

.UIWizard .UIWizardContent .WizardControlBar .StepNavigationTitle {
  float: left;	/* orientation=lt */
  float: right;		/* orientation=rt */
  height: 33px; line-height: 33px; 
  font-weight: bold;
  margin: 0px 10px 0px 15px;
}

.UIWizard .UIWizardContent .UIDropDownControl {
	width: 220px;
	position: static;
}

.UIWizard .UIWizardContent .UIDropDownControl .UIDropDownAnchor {
	width: 220px;
}

/*========================== End Wizard Content ==============================*/

/*========================== Start ActionBar ==============================*/
.UIWizard .UIWizardContent .WizardControlBar .OverflowContainer {
  overflow: visible;
}

.UIWizard .UIWizardContent .WizardControlBar .ActionBar {
	width: 50%;
	float: right;	/* orientation=lt */
	float: left;	/* orientation=rt */
	padding-right: 7px;
}

.UIWizard .WizardControlBar .UIAction .ActionButton{
	float: right;	/* orientation=lt */
	float: left;	/* orientation=rt */
}

.UIWizard .WizardControlBar .UIAction .ActionContainer{
	width: 100%;
}

/*========================== Start UIWizard Welcome ==============================*/
.UIWizard .UIWizardWelcome {
  height: 245px;
  background: url('background/WelcomeImage197x233.png') no-repeat left top; 	/* orientation=lt */
  background: url('background/WelcomeImage197x233-rt.png') no-repeat right top; 	/* orientation=rt */
  padding: 0px 0px 0px 210px ; 	/* orientation=lt */
  padding: 0px 210px 0px 0px ; 	/* orientation=rt */
  margin: 0px;
}

.UIWizard .UIWizardWelcome .WelcomeText {
  line-height: 20px;
  padding: 20px 40px 20px 15px; /* orientation=lt */
  padding: 20px 15px 20px 40px; /* orientation=rt */
}

/*========================== Start UIWizard Step2 ==============================*/
.UIWizard .UIWizardPageSetInfo {
  padding: 15px 10px 20px 10px;
}

.UIWizard .UIWizardPageSetInfo .PageNodeContainer {
  float: left;	/* orientation=lt */
  float: right;		/* orientation=rt */
  width: 250px;
}

.UIWizard .UIWizardPageSetInfo .SelectedPageInfo {
  border: solid 1px #939393 ;
  padding: 1px;
  margin-left: 250px;	/* orientation=lt */
  margin-right: 250px;		/* orientation=rt */

}

.UIWizard .UIWizardPageSetInfo .SelectedPageInfo .PageInfoContainer {
  background: #f4f4f4;
  padding: 12px;
}

.UIWizard .UIWizardPageSetInfo .SelectedPageInfo .PageNodeInfo {
  width: 90%;
  height: 26px; line-height:26px; vertical-align: middle;
  background: white;
  border: solid 1px #9d9d9d;
  margin: auto;
  overflow: hidden;
}

.UIWizard .UIWizardPageSetInfo .SelectedPageInfo .Icon {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 24px; height: 24px;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/24x24/icons/MiniOrangeBoxPage.png') no-repeat;
  margin: 0px 5px 0px 5px;
}

.UIWizard .UIWizardPageSetInfo .SelectedPageInfo .Label {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  font-weight: bold;
  padding: 0px 5px;
}

.UIWizard .UIWizardPageSetInfo .SelectedPageInfo .Info {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  background: #ffffff;
  color: blue; 
  padding: 0px 5px;
  background: none;
}

.UIWizard .UIWizardPageSetInfo .UIFormWithTitle {
  margin: auto;
  margin-top: 5px;
  width: 90%;
  overflow: hidden;
}

.UIWizard .UIWizardPageSetInfo .UIFormWithTitle .UIAction {
  display: none;
}

.UIWizard .UIWizardPageSetInfo .UIFormWithTitle .HorizontalLayout {
  padding: 1px;
}

.UIWizard .UIWizardPageSetInfo .UIFormWithTitle .FormContainer {
  padding: 10px 0px 15px 0px;
  background: #ffffff;
  height: 192px;
}

.UIWizard .UIWizardPageSetInfo .UIFormWithTitle .FormContainer .UIFormGrid {
	width: 500px;
	margin: auto;
}

.UIWizard .UIWizardPageSetInfo .UIFormWithTitle .FieldContainer {
	width: 380px;
	margin-left: auto; margin-right: auto;
	border: 1px solid red;
}

/*========================== Start UIWizard Step 3 ==============================*/

.UIWizard .UIItemSelector .RightColumnStyle .ItemListContainer {
  width: 220px;
}

.UIWizard .UIItemSelector {
  padding: 10px;
  margin: 0px;
}

.UIWizard .UIItemSelector .RightColumnStyle .ItemDetailList {
  background: white url(background/ItemListBg1x13.png) repeat-x bottom;
  margin-right: 225px; 	/* orientation=lt */
  margin-left: 225px; 		/* orientation=rt */
  padding: 2px 2px 0px 2px;
  border: 1px solid #b7b7b7;
	height: 262px;
}

.UIWizard .UIItemSelector .RightColumnStyle .ItemDetailList .ItemDetail {
	background: none;
  border: none;
}

.UIWizard .LayoutHolder {
  width: 250px; 
  height: 200px; 
  text-align: center; 
  margin: auto; 
  margin-top: 20px;
}

.UIWizard .LayoutHolder .LayoutLabel {
  height: 30px;  line-height: 30px; 
  text-align: center;
  margin: auto;
}

.UIWizard .UITrees {
	overflow: hidden;
}

.UIWizard .TreeContainer {
	height: 251px;
}