.UIDebug {
	padding: 8px;
	width: auto;
}

.UIDebug .UIApplicationTreeNavigation {
	width: 250px;
	float: left;
}

.UIDebug .UIApplicationTreeNavigation .NavigationContainer{
	border: 1px #b7b7b7 solid;
	padding: 1px;
	background: #efefef;
}

.UIDebug .UIApplicationTreeNavigation .UIApplicationTreeList{
	border: 1px #cdcdcd solid;
	padding: 6px;
	background: white;
}

.UIDebug .UIApplicationTreeNavigation .UIApplicationTreeList a{
	color: black;
	font-size: 11px;
}

.UIDebug .UIApplicationTreeNavigation .UIApplicationTreeList a:hover{
	color: blue;
}

.UIDebug .UIApplicationTreeNavigation .NavigationUpArrowIcon {
  width: 24px; height: 19px;
  background: url('/eXoResources/icons/24x24/DefaultSkin/UpFolder.gif') no-repeat ;
  margin-top: 2px;
  float: left;
}


.UIDebug .UIApplicationTreeDetail {
	border: 1px #b7b7b7 solid;
	padding: 1px;
	margin-left: 260px;
	background: #efefef;
	width: 498px;
}

.UIDebug .UIApplicationTreeDetail .UIComponentInfo {
	overflow: auto;
	border: 1px #cdcdcd solid;
	border-right: 1px white solid;
	border-bottom: 1px white solid;
	width: 486px;
	padding: 5px;
}

