.UIManagement {
	padding: 10px;
	background: white;
}

.UIManagement .ManagementBlock {
	height: 75px;
	background: white url('background/ContentBg.gif') repeat-x bottom;
}

.UIManagement table.ManagementBlock td {
	vertical-align: middle;
	white-space: nowrap;
}

.UIManagement table.ManagementBlock td.Content {
	vertical-align: top;
	background: url('background/LineBg.gif') no-repeat right center;
	padding: 20px 10px 0px;
	width: 37%;
	overflow: hidden;
	white-space: normal;
}

.UIPortalNavigationPortlet .UIManagement table.ManagementBlock td.Content {
	width: 14%;
}

.UIManagement table.ManagementBlock td.Content strong {
	margin-right: 7px;
}

.UIManagement .ManagementBlock .Image {
	width: 103px;
	line-height: 75px;
	padding: 0px 10px 0px 20px;
}

.UIManagement .ManagementBlock .Image img {
	width: 80px;
}

.UIManagement .ManagementBlock .Label {
	color: #0077d4;
	font-size: 14px;
	font-weight: bold;
	padding: 0px 0px 3px 0px;
}

.UIManagement .ManagementBlock .ActionBlock {
	padding-left: 50px;
	width: 70%;
}

.UIManagement .ManagementBlock .ActionBlock a {
	line-height: 16px;
	width: auto;
	padding: 1px 0px 2px 25px;
	margin: 0px 50px 0px 0px;
}

.UIManagement .ManagementBlock .EditLayoutIcon {
	background: url('background/MiniIcon.gif') no-repeat left 0px;
}

.UIManagement .ManagementBlock .EditNavIcon {
	background: url('background/MiniIcon.gif') no-repeat left -17px;
}

.UIManagement .ManagementBlock .DeleteIcon {
	background: url('background/MiniIcon.gif') no-repeat left -34px;
}

/***********************UIAddGroupNavigation************************/

.UIAddGroupNavigation {
	background: white; 
	padding: 0px; 
}

.UIAddGroupNavigation .AddGroupIcon {
	background: url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueCirclePlus.gif) no-repeat left center;
	height: 20px; line-height: 20px;
	padding: 3px 0px 3px 20px;
	color: #1d1d1d;
}

.UIPageNavigationForm {
	margin: 20px auto;
}

/********************UINavigationManagement****************/
.UINavigationManagement {
}

