/**
 * Created by The eXo Platform SARL
 * Author : Hoang Van Anh
 *          hoanganhites@yahoo.com.vn
 * March, 6 , 2007
 * version: $Id$
 */
 
.UIComposeForm {
  font-size: 11px;
}

.UIComposeForm .MailComposeContainer {
  border: solid 1px #929292;
  padding: 1px;
}

.UIComposeForm .MailComposeContainer .MailComposeContainerBorder {
  padding: 1px;
  border: solid 1px #c3c3c3;	
}

.UIComposeForm .ComposeControlBar {
  height: 33px;
  background: url('DefaultSkin/background/ControlBar1x33.gif') repeat-x top;
}

.UIComposeForm .ComposeControlBar .ComposeDiscard {
  float: left;
  padding: 9px 0px 0px 20px;
}

.UIComposeForm .ComposeDiscard .DiscardLabel {
  padding: 0px 10px 0px 0px;
  cursor: pointer;
}

.UIComposeForm .ComposeControlBar .SeperatorLine {
  float: left;
  width: 2px; height: 22px;
  background: url('DefaultSkin/background/TopMailNew2x22.gif') no-repeat center;
  padding: 5px 15px 5px 15px;
}

.UIComposeForm .ComposeControlBar .ComposeControlAction {
  float: left;
  padding: 0px 20px 0px 5px;
}

.UIComposeForm .ComposeControlAction .LabelMail {
  float: left;
  font-weight: bold;
  padding: 10px 0px 0px 0px;
  cursor: pointer;
}

.UIComposeForm .MailComposeContainerBorder .ComposeWorkingArea {
  margin: 3px;
}

.UIComposeForm .ComposeWorkingArea .WorkingAreaContent {
  margin: 0px 0px 0px 8px;
}

.UIComposeForm .ComposeWorkingArea .WorkingAreaContent .WorkingAreaMRContainer {
  padding: 4px 0px;
}

.UIComposeForm .ComposeWorkingArea .WorkingAreaContent .InputAddCCContent {
  padding: 4px 0px;
}

.UIComposeForm .ComposeWorkingArea .WorkingAreaContent .InputAddBBCContent {
  padding: 4px 0px;
}

.UIComposeForm .WorkingAreaContent .InputLabel {
  float: left;
  width: 95px;
  text-align: right;
  font-weight: bold;
  line-height: 18px;
  margin: 0px 8px 0px 0px;
}

.UIComposeForm .WorkingAreaMRContainer .InPutContent input {
  float: left;
	width: 500px;
	padding: 0px 0px 0px 4px;
}

.UIComposeForm .WorkingAreaContent .InPutAddContent input {
  float: left;	
	width: 500px; height: 40px;
	padding: 0px 0px 0px 4px;
}

.UIComposeForm .WorkingAreaMRContainer .ButtonBrowser {
  float: left;
  width: 225px;
}

.UIComposeForm .WorkingAreaMRContainer .WorkingAreaLink {
  padding: 0px 0px 0px 110px;
  font-size: 10px;
  color: blue;
  text-decoration: underline;	
}

.UIComposeForm .WorkingAreaMRContainer .WorkingAreaLink .CCLabel {
  float: left;
  cursor: pointer;
  padding: 0px 5px;
}

.UIComposeForm .WorkingAreaMRContainer .WorkingAreaLink .BBCLabel {
  float: left;
  cursor: pointer;
  padding: 0px 5px;
}

.UIComposeForm .WorkingAreaMRContainer .WorkingAreaLink .CCBoldLabel {
  float: left;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 5px;
}

.UIComposeForm .WorkingAreaMRContainer .WorkingAreaLink .BBCBoldLabel {
  float: left;
  font-weight: bold;
  cursor: pointer;
  padding: 0px 5px;
}

.UIComposeForm .SeperatorLineLink {
  float: left;
  width: 1px; height: 10px;
  background: url('DefaultSkin/background/LableLink1x1.gif') repeat-y center;
  margin: 2px 0px 0px 0px;
}

.UIComposeForm  .WorkingAreaMRContainerAttach {
  padding: 4px 0px 2px 90px;
}

.UIComposeForm .WorkingAreaMRContainer .WorkingAreaAttach {
  float: left;
  width: 176px;
	padding: 1px 13px; 
}
.UIComposeForm .WorkingAreaMRContainerAttach .WorkingAreaAttach {
  float: left;
  width: 140px;
	padding: 3px 15px; 
}
.UIComposeForm .WorkingAreaAttach .WorkingAreaAttachLeft {
  background: url('DefaultSkin/background/LeftCompose9x20.gif') no-repeat left;
  padding: 0px 0px 0px 9px;
}

.UIComposeForm .WorkingAreaAttach .WorkingAreaAttachRight {
  background: url('DefaultSkin/background/RightCompose9x20.gif') no-repeat right;
  padding: 0px 9px 0px 0px;
}

.UIComposeForm .WorkingAreaAttach .WorkingAreaAttachMiddle {
  height: 18px;
  padding: 0px 8px;
  border-top: solid 1px #b7b7b7;
  border-bottom: solid 1px #b7b7b7;
  background: #ffffff;
}

.UIComposeForm .Label {
	line-height: 16px;
	cursor: pointer;
}

.UIComposeForm .Label a {
	color: black;
}

.UIComposeForm .Label a:hover {
	color: blue;
}

.UIComposeForm .ComposeAreaMessage { 
  margin: 4px 0px 0px 0px;
  border: solid 1px #b7b7b7;
}

.UIComposeForm .ComposeAreaMessage .ComposeAreaMessageBar {
  background: #e1e7f9;
  border-bottom: solid 1px #b7b7b7;
  padding: 0px 0px 0px 10px;
}

.UIComposeForm .ComposeAreaMessageBar .ComposeAMBarOne {
  float: left;
}

.UIComposeForm .ComposeAreaMessage .ComposeAreaMessageWorking textarea {
  width: 675px; height: 255px;
  margin: 0px 2px 0px 0px;
}

.UIComposeForm .SeperatorLineCompose { 
  float: left;
  width: 2px; height: 22px;
  background: url('DefaultSkin/background/TopMail2x2.gif') repeat-y center;
  margin: 5px 0px 0px 0px;
  padding: 0px 6px;
}
/***************************** Icons *************************************/
.UIComposeForm .ComposeDiscard .BackIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('../DefaultSkin/icons/16x16/BackBlue.gif') no-repeat;
  cursor: pointer;
  padding: 0px 10px 0px 0px; 
}

.UIComposeForm .WorkingAreaMRContainer .ContainerButtonBrowser .RecycleMailIcon {
  float: left;
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/DustBin.gif') no-repeat;
  cursor: pointer;
  margin: 4px 0px 0px 4px; 
}

.UIComposeForm .AttachFileMailIcon {
  float: left;
  width: 16px; height: 16px;
  line-height: 16px;
  background: url('../DefaultSkin/icons/16x16/AttachFile.gif') no-repeat center;
  cursor: pointer;
  padding: 2px 5px 0px 0px;
}

.UIComposeForm .ComposeAMBarOne .TextLinkIcon {
  float: left;
  width: 16px; height: 16px; 
  background: url('../DefaultSkin/icons/16x16/LinkCompose.gif') no-repeat;
  cursor: pointer;
  margin: 6px 0px 0px 0px;
  padding: 0px 6px 0px 0px;
}

.UIComposeForm .WorkingAreaMRContainer .WorkingAreaOpenIcon {
  float: left;
  width: 24px; height: 24px;
  background: url('../DefaultSkin/icons/24x24/WorkingAreaOpen.gif') no-repeat;
  cursor: pointer;
  margin: 0px 0px 0px 3px; 
}

.UIComposeForm .ComposeAMBarOne .TextBoldIcon {
  float: left;
  width: 24px; height: 24px; 
  background: url('../DefaultSkin/icons/24x24/TextBold.gif') no-repeat;
  cursor: pointer;
  margin: 4px 5px 0px 5px;
}

.UIComposeForm .ComposeAMBarOne .TextUnderLineIcon {
  float: left;
  width: 24px; height: 24px; 
  background: url('../DefaultSkin/icons/24x24/TextUnderLine.gif') no-repeat;
  cursor: pointer;
  margin: 4px 5px 0px 5px;
}

.UIComposeForm .ComposeAMBarOne .TextItalicIcon {
  float: left;
  width: 24px; height: 24px; 
  background: url('../DefaultSkin/icons/24x24/TextItalic.gif') no-repeat;
  cursor: pointer;
  margin: 4px 5px 0px 5px;
}

.UIComposeForm .ComposeControlAction .SendMailIcon {
	float: left; 
	width: 32px; height: 32px;
	background: url('../DefaultSkin/icons/32x32/MailComposeIconSendMail.gif') no-repeat left;
	cursor: pointer;
	margin: 0px 10px 0px 0px; 
}

.UIComposeForm .ComposeControlAction .SaveMailIcon {
  float: left;
  width: 32px; height: 32px;
  background: url('../DefaultSkin/icons/32x32/MailComposeIconSaveMail.gif') no-repeat left;
  cursor: pointer;
  margin: 0px 10px 0px 0px; 
}

.UIComposeForm .ComposeAMBarOne .TextTIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/MessageTextT.gif') no-repeat;
  cursor: pointer;
}
.UIComposeForm .ComposeAMBarOne .TextFIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/MessageTextF.gif') no-repeat;
  cursor: pointer;
}
.UIComposeForm .ComposeAMBarOne .TextFColorIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/MessageTextFcolor.gif') no-repeat;
  cursor: pointer;
}

.UIComposeForm .ComposeAMBarOne .TextABCIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/MessageTextABC.gif') no-repeat;
  cursor: pointer;
}

.UIComposeForm .ComposeAMBarOne .TextCenterIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/TextCenter.gif') no-repeat;
  cursor: pointer;
  padding: 0px 5px;
}

.UIComposeForm .ComposeAMBarOne .TextLineIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/TextCenter.gif') no-repeat;
  cursor: pointer;
  padding: 0px 5px;
}

.UIComposeForm .ComposeAMBarOne .TextLeftIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/TextLeft.gif') no-repeat;
  cursor: pointer;
}

.UIComposeForm .ComposeAMBarOne .TextContainerLeftIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/TextContainerLeft.gif') no-repeat;
  cursor: pointer;
  padding: 0px 5px;
}

.UIComposeForm .ComposeAMBarOne .TextContainerRightIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/TextContainerRight.gif') no-repeat;
  cursor: pointer;
  padding: 0px 5px 0px 0px;
}

.UIComposeForm .ComposeAMBarOne .ScreenshotIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/Screenshot].gif') no-repeat;
  cursor: pointer;
}

.UIComposeForm .ComposeAMBarOne .YahooSmileIcon {
  float: left;
  width: 32px; height: 32px; 
  background: url('../DefaultSkin/icons/32x32/YahooSmile.gif') no-repeat;
  cursor: pointer;
}