.UIPortletForm {
  padding: 10px ;
}

.UIPortletForm .UITabPane {
  background: white ;
  border: solid 1px black ;
  padding: 7px ;
}

.UIPortletForm .SaveIcon {
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Save.gif') no-repeat ;
  border: 1px solid red;
}

.UIPortletForm .BackIcon {
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/BackArrowBlue.gif') no-repeat ; 
}