.UIPageSelector {
	padding: 10px;
	width: 500px;
	margin: auto;
}

.UIPageSelector .PageSelectorTitle  {
  height: 20px; line-height: 20px;
  margin-bottom: 5px;
  padding-left: 15px;
}

.UIPageSelector .PageSelectorTitle .Icon {
  float: left;
  margin: 2px 2px 0px 0px;
}

.UIPageSelector .PageSelectorTitle .Title {
  float: left;
  font-weight: bold; 
  margin-left: 10px;
}

.UIPageSelector .UIFormInfo {
  background:url(background/UIFormInfoBG1x21.png) repeat-x scroll center top;
  border: 1px solid #b7b7b7;
  margin-top: 1px;
}

.UIPageSelector .FormInfoBG {
  padding-right: 30px; /* orientation=lt */
  padding-left: 30px; /* orientation=rt */
}

.UIPageSelector .FormInfoIcon {
  background: url('background/FormInfoIcon80x80.gif') no-repeat center right; /* orientation=lt */
  background: url('background/FormInfoIcon80x80-rt.gif') no-repeat center left; /* orientation=rt */
  padding: 15px 15px 20px 15px;
}

.UIPageSelector .UIFormInfo .SelectedPageText {
  font-weight: bold;
  margin-top: 2px;
}

.UIPageSelector .UIFormInfo .PropertyName {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  padding: 6px 10px 6px 23px;		/* orientation=lt */
	padding: 6px 23px 6px 10px;		/* orientation=rt */
  width: 80px;
	text-align: right;  /* orientation=lt */
	text-align: left;  /* orientation=rt */
}

.UIPageSelector .UIFormInfo .PropertyValue {
  color: #3176e3;
  padding: 6px 0px;
}

.UIPageSelector .FloatBlockHidden {
	filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30;
	cursor: default;
}