.UIWidgetContainerManagement {
	padding: 15px 15px 5px 15px;
}

.UIWidgetContainerManagement .ContainerManagementBlock {
	border: 1px solid #d4d4d4;
	border-top: none;
}

.UIWidgetContainerManagement .ContainerManagementDetail {
	border: 1px solid #ffffff;
	border-top: none;
	padding: 5px; 
	background: #f7f7f7;
}

.UIWidgetContainerManagement .CategoryTitleBar {
	height: 25px;
	background: url('background/BgCategoryTitle1x25.gif') repeat-x;
	border-bottom: 1px #b7b7b7 solid;
	padding: 0px 5px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 5px; /* orientation=rt */
}

.UIWidgetContainerManagement .CategoryTitleBar .Title {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	line-height: 25px;
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
	color: #424242; font-weight: bold;
}

.UIWidgetContainerManagement .Icon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 16px; height: 16px;
	margin: 4px 4px;;
}

.UIWidgetContainerManagement .AddContainer {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueCirclePlus.gif');
}

.UIWidgetContainerManagement .EditContainer {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/EditIcon.gif');
}

.UIWidgetContainerManagement .RemoveContainer{
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat center;
}

.UIWidgetContainerManagement .CategoryTitle {
	background: url('background/HLineSeparator193x1.gif') no-repeat left bottom ; /* orientation=lt */
	background: url('background/HLineSeparator193x1.gif') no-repeat right bottom ; /* orientation=rt */
	padding: 8px 0px 4px 10px; /* orientation=lt */
	padding: 8px 10px 4px 0px; /* orientation=rt */
}

.UIWidgetContainerManagement .ContainerList {
	padding: 5px;
}

.UIWidgetContainerManagement .ContainerList .EmptyListMessage {
	padding: 10px;
	color: #797979;
}

.UIWidgetContainerManagement .ContainerList .NormalItem {
	cursor: pointer ;
	color: #000000;
	text-decoration: none;
	line-height: 21px;
	padding-left: 24px; /* orientation=lt */
	padding-right: 24px; /* orientation=rt */
}

.UIWidgetContainerManagement .ContainerList .SelectedItem {
	cursor: pointer ;
	color: #058ee6;
	text-decoration: none;
	line-height: 21px;
	background: #dbdef5 url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueCheckerIcon.gif') no-repeat 5px 3px; /* orientation=lt */
	background: #dbdef5 url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueCheckerIcon-rt.gif') no-repeat right 3px; /* orientation=rt */
	padding-left: 24px; /* orientation=lt */
	padding-right: 24px; /* orientation=rt */
}

.UIWidgetContainerManagement .ContainerList a:hover {
	color: #058ee6;
}

/*===================== Begin the Widget Container Category ==========================*/

.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerCategory {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 252px; height: 275px;
	background: white; 
	overflow-x: hidden;
	overflow-y: auto;
	border: 1px solid #b7b7b7;
}

/*===================== Begin the Widget Container View ==========================*/

.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerView {
	margin-left: 260px; /* orientation=lt */
	margin-right: 260px; /* orientation=rt */
	border: 1px #b7b7b7 solid;
}

.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerView .WidgetContainerDetail {
	height: 275px;
	overflow-x: hidden;
	overflow-y: auto;
	background: #ffffff;
}

.UIWidgetContainerManagement .ContainerManagementDetail .ContainerDetail {
	padding: 10px 10px 0px 0px; /* orientation=lt */
	padding: 10px 0px 0px 10px; /* orientation=rt */
	width: 90%;
}

.UIWidgetContainerManagement .ContainerManagementDetail .Empty {
	color: #797979;
	width: 100%;
	line-height: 20px;
	text-align: center;	
	padding: 20px 0px;	
}

.UIWidgetContainerManagement .ContainerManagementDetail .HeadTitle {
	color: #4b4b4b;
	font-weight: bold;
	padding: 5px 0px 0px 8px; /* orientation=lt */
	padding: 5px 8px 0px 0px; /* orientation=rt */
	text-align: center;
}

.UIWidgetContainerManagement .WidgetContainerView .RemoveContainerAction{
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat left center; /* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat right center; /* orientation=rt */
	padding: 0px 55px 0px 23px; /* orientation=lt */
	padding: 0px 23px 0px 55px; /* orientation=rt */
	height: 22px; line-height: 22px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	color: #000000;
	display: block; cursor: pointer;
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent {
	padding: 20px 0px 20px 0px ;
	margin: auto;
	width: 99.9%;
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent .Label {
	width: 150px;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	line-height: 20px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent .FieldComponent {
	margin-left: 155px;	/* orientation=lt */
	margin-right: 155px;	/* orientation=rt */
	line-height: 20px;
	color: #058ee6;
	font-size: 12px;
}

.UIWidgetContainerManagement .WidgetContainerView .Detail .InfoContent .FieldComponent {
	/*modified by tan.pham.dinh
	 * to break long string (container description) in widget containers management in IE6+
	 */
	*word-wrap: break-word;
}