
.uiBreadcumbsNavigationPortlet {
	background: #E6E6E6;
	border-bottom: 1px solid #C7C7C7;
	color: #505050;
	padding: 11px;
	height: 90px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.35) inset;
}

.uiBreadcumbsNavigationPortlet img {
	border: 1px solid white;
	border-radius: 5px 5px 5px 5px;
	float: left;
	height: 68px;
	width: 68px;
}

.uiBreadcumbsNavigationPortlet .breadcumbEntry {
	margin-left: 75px;
	display: table-cell;
	vertical-align: middle;
}

.uiBreadcumbsNavigationPortlet .name {
	padding: 0 0 0 7px;
	text-transform: uppercase;
}

.uiBreadcumbsNavigationPortlet .changeAvatar {
	color: #2f5e92;
	margin-left: 5px;
	font-size: 12px;
}