.UIChangeSkinForm {
}

.UIChangeSkinForm .UITabPane .TabPaneContent {
	padding: 0px;
}	

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemListContainer {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 170px;
	background: #ffffff url('background/ItemListBg.gif') repeat-x top left;
	-moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemDetailList {
	margin: 0px 0px 0px 178px; /* orientation=lt */
	margin: 0px 178px 0px 0px; /* orientation=rt */
	background: url('background/ItemListBg.gif') repeat-x;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border: 1px solid #cdcdcd;
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemDetailList .ItemDetail {
	background: none;
	border: none;
	height: 221px;
}

.UIChangeSkinForm .UIItemSelector .ItemDetail .TemplateContainer {
	padding-top: 5px;
}
		
.UIChangeSkinForm .UIItemSelector .ItemListContainer .ItemList {
	height:180px;
	padding:20px 0;
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .DefaultImage {
	margin: auto; 
	width: 310px; height:186px; 
	background: url('background/thumbnail.png') no-repeat top; 
	cursor: pointer ; 
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .MacImage {
	margin: auto; 
	width: 310px; height: 186px; 
	background: url('background/thumbnail.png') no-repeat center -375px; 
	cursor: pointer ; 
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .VistaImage {
	margin: auto; 
	width: 310px; height: 186px; 
	background: url('background/thumbnail.png') no-repeat center -186px; 
	cursor: pointer ; 
}
