.UIGroupInfoContainer {
	padding: 5px 25px;
}

.UIOrganizationPortlet .UIGroupManagement .UIGroupInfoContainer .TitleBar {
	background: none;
	border: none;
}
	
.UIGroupInfoContainer .HorizontalLayout {
	border: none;
}

.UIGroupInfoContainer .HorizontalLayout .FormContainer {
}

.UIGroupInfoContainer .TitleBar {
	font-weight: bold;
	padding: 0px 0px 0px 15px; 		/* orientation=lt */
	padding: 0px 15px 0px 0px; 		/* orientation=rt */
}
