.UIGroupInfoContainer {
}

.UIGroupInfoContainer .HorizontalLayout {
	border: solid 1px #b7b7b7;
	padding: 1px;
	border-top: none;
}

.UIGroupInfoContainer .HorizontalLayout .FormContainer {
	padding: 8px 5px;
}

.UIGroupInfoContainer .TitleBar {
	font-weight: bold;
	padding: 0px 0px 0px 15px; 		/* orientation=lt */
	padding: 0px 15px 0px 0px; 		/* orientation=rt */
}
