body {
	background:transparent url(../background/BannerRepeat.gif) repeat-x top;
	font-family:Lucida Sans;
	font-size:12px;
	height:100%;
	margin:0 auto;
	overflow-x:hidden;
	padding:0px;
        max-width: 860px;
}

/* ClearFix */	
.ClearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.ClearFix {display: inline-block;}

/* Hides from IE-mac \*/
* html .ClearFix {height: 1%;}
.ClearFix {display: block;}
/* End hide from IE-mac */ 

/*.UIWikiBooks body > div {
	width: 860px;
	margin: auto;
} */

/* ######################## Navigation ######################## */

.docnav {
 list-style: none outside none;
 position: relative;
 text-align: center;
 margin-bottom: 35px;
}

.docnav li {
 list-style: none outside none;
 display: inline;
}

.docnav .previous, .docnav .next {
 position: absolute;
}

.docnav .previous {
 left: 0;
 text-align: left;
}

.docnav .next {
 right: 0;
 text-align: right;
}

.docnav .up, .docnav .home {
 margin: 0 1.5em;
}

.docnav .up {

}

.docnav .home {

}

/*######################### Banner #############################*/

.Banner {
	background:transparent url(../background/BannerBG.gif) no-repeat left top;
	height: 125px;
       /* padding-top: 125px; */
}


.Banner .VersionInfo{
	color: #fac943;
	font-weight: bold;
	font-size: 24px;
	padding: 40px 0px 0px 124px;
}


.WikiBooksContainer{
	padding: 8px 0px;
	border-bottom: 1px solid #ececec;
}

h1{
	font-size: 14px;
	margin: 4px 0px;
}

h2{
	font-size: 16px;
}

h3{
	font-size: 18px;
}

h4{
	font-size: 20px;
}

.BlueText{
	color:#314572;
}

.OrangeText{
	color:#e54c10;
}

.GreenText{
	color:#5384ad;
}

.DarkGreenText{
	color:#422ea6;
}

.GrayText{
	color: #464646;
}

.NormalText{
	font-weight: normal;
}

.BoldText{
	font-weight: bold;
	font-size: 14px;
}

.ItalicText{
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
}

.UnderlineText{
	text-decoration:underline;
	font-weight: normal;
	font-size: 14px;
}

.ChildenContent{
	margin-left: 14px;
	padding: 4px 0px;
}

a{
	color: #314572;
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
}

a:hover{
	color: #e47b00;
	text-decoration: underline;
}

ul{
	padding-left: 24px;
	margin-left: 0px;
}

ul li{
	color:#314572;
	font-size:14px;
	font-weight:bold;
	list-style:decimal outside none;
}

ul li ul{
	padding-left: 0px;
	margin-left: 0px;
}

ul li ul li{
	list-style:none;
}

ul li ul li ul{
	padding-left: 16px;
}


th{
	width: 33%; 
	padding:0px 0px 4px 7px; 
	text-align: left;
	font-size: 14px;
	color: #464646;
	border-right: 1px solid #e1e1e1;
}

td{
	padding-left: 7px; 
	text-align: left;
	color: #464646;
	border-right: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
}

.TextForm{
	background: #f3f5e9;
	padding: 0px 12px;
	border: 1px solid #cccccc;
}

.footer{
	padding: 8px 0px;
	text-align: right;
	color: #898989;
}

hr {
 display: none;
}
