.UITree {
  border: solid #b7b7b7 1px ;    
  background: url('MacSkin/background/GrayLinedBG.gif');
  padding: 1px;
}

.UITree .TreeContainer {
  overflow: auto ;
  background: white; border: 1px #b7b7b7 solid;
  padding-bottom: 7px ; padding-top: 7px ;
}

.UITree .TreeLevelContainer {
  height: 18px; line-height: 18px;
  padding-left: 12px;
  margin-bottom: 10px;
}

.UITree .TreeLevelContainer .LevelUpArrowIcon {
  background: url('MacSkin/background/AquaBlueUpLevel.gif') no-repeat;
  width: 26px; line-height: 18px;
  float: left;
}

.UITree .TreeContainer .Node {
  margin: 3px 0px 5px 0px ;
  overflow: hidden ;
  padding-left: 9px;
  width: 93% ;
  clear: both ;
}

.UITree .TreeContainer .Node .ExpandIcon {
  cursor: pointer ;
  margin-top: 2px ;
  float: left ;
  background: url('/eXoResources/icons/16x16/MacSkin/GrayNextArrow.gif') no-repeat ;
  width: 16px ;  height: 16px ;
}
  
.UITree .TreeContainer .Node .ColapseIcon {
  cursor: pointer ;
  margin-top: 2px ;
  float: left ;
  background: url('/eXoResources/icons/16x16/MacSkin/BlackDownArrow.gif') no-repeat ;
  width: 16px ;  height: 16px ;
}

.UITree .TreeContainer .Node .EmptyIcon {
  margin-right: 1px ;
  float: left ;
  width: 16px ;  height: 16px ;
}

.UITree .TreeContainer .Node .Icon {
  width: 24px ;  height: 24px ;
  float: left ;
  margin-left: 3px;
}

.UITree .TreeContainer .Node .NoteLabel a {
  cursor: pointer ;
  margin-left: 1px ; padding-left: 4px ; padding-right: 5px;
  float: left ;
  height: 20px ; vertical-align: middle ; line-height: 20px ;
  color: black;
}

.UITree .TreeContainer .Node .NoteLabel a:hover{
  color: blue;
  background: #e2e6ea;
  padding-left: 4px ; padding-right: 5px;
  margin-left: 1px ;
}

.UITree .TreeContainer .NodeSelected {
  height: 20px ; 
  color: blue;
}

.UITree .TreeContainer .Node .NoteLabel .NodeSelected {
  height: 20px ; line-height: 20px; vertical-align: middle;
  margin-left: 1px ;
  color: blue;
}

/** ################# Icons ###################*/
.UITree .TreeContainer .GroupAdminIcon {
  background: url('/eXoResources/icons/24x24/MacSkin/NormalGroup.gif') no-repeat ;
}

.UITree .TreeContainer .PortalIcon {
  background: url('/eXoResources/icons/24x24/MacSkin/SelectedGroup.gif') no-repeat ;
}



