
.UIToolbarContainer {
	.NormalContainerBlock .ToolbarContainer {
		#gradient > .vertical(#5b5b5b, #474747);
		height: 41px;
		border: none;
		.TRContainer {
			height: 41px;
		}
		.ToolbarContainer a.TBIcon {
			color: white;
		}
	}
}