.UIPermissionSelector {
  padding: 10px;
}

.UIPermissionSelector .PermissionSelectorTitleBar {
  margin: 5px 0px 0px 5px; 
}

.UIPermissionSelector .PermissionSelectorTitleBar .PermissionIcon {
  background: url('/eXoResources/icons/24x24/PermissionIcon.gif') no-repeat;
  width: 24px; height: 24px;
  margin: 0px 5px 0px 10px;
  float: left;
}

.UIPermissionSelector .PermissionSelectorTitleBar .Title {
  height: 24px; line-height: 24px; 
  font-weight: bold;
  float: left;
}

.UIPermissionSelector .PermissionInfoContainer .InfoContentContainer {
  padding: 5px 0px 0px 0px;
}

.UIPermissionSelector .PermissionInfoContainer .PermissionTypeBar {
  height: 21px; line-height: 21px;
  background: url('background/TypeBarBG1x22.gif') repeat-x; 
  border: solid 1px #b7b7b7; border-bottom: none;
  margin: 0px 10px;
}

.UIPermissionSelector .PermissionTypeBar .SeparateLine {
  float: left;
  width: 2px; height: 22px;
  background: url('background/GrayLine2x2.gif') repeat-y ;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo {
  border: solid 1px #d5d5d5 ;
  background: white ;
  margin: 0px 10px;
  padding: 15px 0px 15px 0px ;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Icon{
  margin: 0px 5px 0px 15px ;
  float: left;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .PermissionInfoTitle{
  margin-left: 5px ;
  float: left;
  font-weight: bold;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Label {
  margin: 8px 0px 5px 40px ;
  float: left ;
  width: 150px ;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Info {
  float: left ;
  margin: 8px 0px 5px 15px ;
  color: #0749c4 ;
  background: none;
}

.UIPermissionSelector .PermissionInfoContainer .FloatBlockHidden {
	filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30;
}

.UIPermissionSelector .PermissionInfoContainer a.FloatBlockHidden {
	cursor: default;
}

.UIPermissionSelector .PermissionInfoContainer a:hover.FloatBlockHidden {
	color: black;
}

.UIPermissionSelector .PermissionInfoContainer .DeletePermissionIcon  {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat left center;
  padding-left: 22px;
  line-height: 21px;
}
 
.UIPermissionSelector .PermissionInfoContainer .SelectPermissionIcon  {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SelectPermission.gif') no-repeat left center;
  padding-left: 22px;
  line-height: 21px;
  height: auto; width: auto;
<<<<<<< .mine
} =======
} 

.UIPermissionSelector .PermissionInfoContainer .PermissionButton  a{
  font-weight: bold; color: black;
  text-decoration: none;
}

.UIPermissionSelector .PermissionInfoContainer .PermissionButton  a:hover{
  color: #0a80d2;
}

/************************************ List Permission Selector *******************************/
.UIAccessGroup {
  padding: 10px;
}

.UIAccessGroup .UIGrid {
  width: 555px;
  margin: auto;
}

.UIAccessGroup .UIGrid .ActionContainer {
  width: 30px;
}

.UIAccessGroup .UIPageIterator {
	width: 90%;
}

.UIAccessGroup .PublicCheck {
	margin: 5px 0px 20px 0px;
	width: 555px;
	height: 30px;
  margin: auto;
  text-align: left;
  border: 1px red solid;
}

.UIAccessGroup .UIFormGrid {
	padding-bottom: 10px;
}

.UIAccessGroup .UIFormGrid td.FieldLabel {
	text-align: left;
	
}

.UIForm .HorizontalLayout .UIAccessGroup input.checkbox {
	margin: 2px;
}>>>>>>> .r19707
