.UIPermissionSelector {	
	padding: 10px;
}

.UIPermissionSelector .PermissionSelectorTitleBar {
	margin: 5px 0px 0px 5px; /* orientation=lt */
	margin: 5px 5px 0px 0px; /* orientation=rt */
}

.UIPermissionSelector .PermissionSelectorTitleBar .PermissionIcon {
	background: url('/eXoResources/icons/24x24/PermissionIcon.gif') no-repeat;
	width: 24px; height: 24px;
	margin: 0px 5px 0px 10px; /* orientation=lt */
	margin: 0px 10px 0px 5px; /* orientation=rt */
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIPermissionSelector .PermissionSelectorTitleBar .Title {
	height: 24px; line-height: 24px; 
	font-weight: bold;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIPermissionSelector .PermissionInfoContainer .InfoContentContainer {
	padding: 5px 0px 0px 0px;
}

.UIPermissionSelector .PermissionInfoContainer .PermissionTypeBar {
	height: 21px; line-height: 21px;
	background: url('background/TypeBarBG1x22.gif') repeat-x; 
	border: solid 1px #b7b7b7; border-bottom: none;
	margin: 0px 10px;
}

.UIPermissionSelector .PermissionTypeBar .SeparateLine {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 2px; height: 22px;
	background: url('background/GrayLine2x2.gif') repeat-y;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo {
	border: solid 1px #d5d5d5;
	background: white;
	margin: 0px 10px;
	padding: 15px 0px 15px 0px;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Icon{
	margin: 0px 5px 0px 15px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .PermissionInfoTitle{
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	font-weight: bold;
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Label {
	margin: 8px 0px 5px 0px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 100px;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
}

.UIPermissionSelector .PermissionInfoContainer .SelectedPermissionInfo .Info {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 8px 0px 5px 10px; /* orientation=lt */
	margin: 8px 10px 5px 0px; /* orientation=rt */
	color: #058ee6;
	background: none;
	width: 320px;
	overflow: hidden;
	white-space: nowrap;
}

.UIPermissionSelector .PermissionInfoContainer .FloatBlockHidden {
	filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30;
}

.UIPermissionSelector .PermissionInfoContainer a.FloatBlockHidden {
	cursor: default;
}

.UIPermissionSelector .PermissionInfoContainer a:hover.FloatBlockHidden {
	color: black;
}

.UIPermissionSelector .PermissionInfoContainer .DeletePermissionIcon	{
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat left center; /* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DustBin.gif') no-repeat right center; /* orientation=rt */
	padding-left: 22px; /* orientation=lt */
	padding-right: 22px; /* orientation=rt */
	line-height: 21px;
}
 
.UIPermissionSelector .PermissionInfoContainer .SelectPermissionIcon	{
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SelectPermission.gif') no-repeat left center; /* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SelectPermission.gif') no-repeat right center; /* orientation=rt */
	padding-left: 22px; /* orientation=lt */
	padding-right: 22px; /* orientation=rt */
	line-height: 21px;
	height: auto; width: auto;
} 
