.UIMaskWorkspace {
   width: 700px ;
}

.UIMaskWorkspace .MaskContainer {
  background:#ffffff;
  border: solid 1px #6c6d6f ;
}

.UIMaskWorkspace .TopLeftDecorator {
  background: url('background/MaskDecorator.png') no-repeat left top;
  padding: 0px 0px 0px 12px ;
}

.UIMaskWorkspace .TopRightDecorator {
  background: url('background/MaskDecorator.png') no-repeat right -10px;
  padding: 0px 14px 0px 0px ;
}

.UIMaskWorkspace .TopLeftDecorator .TopCenterDecorator {
  height: 10px ;
  background: url('background/MaskDecorator.png') repeat-x left -20px;
}

.UIMaskWorkspace .MiddleLeftDecorator {
  background: url('background/MiddleMaskDecorator.png') repeat-y left;
  padding: 0px 0px 0px 12px ;
}

.UIMaskWorkspace .MiddleRightDecorator {
  background: url('background/MiddleMaskDecorator.png') repeat-y right;
  padding: 0px 14px 0px 0px ;
}

.UIMaskWorkspace .BottomLeftDecorator {
  background: url('background/MaskDecorator.png') no-repeat left -30px;
  padding: 0px 0px 0px 12px ;
}

.UIMaskWorkspace .BottomRightDecorator {
  background: url('background/MaskDecorator.png') no-repeat right -45px;
  padding: 0px 14px 0px 0px ;
}

.UIMaskWorkspace .BottomLeftDecorator .BottomCenterDecorator {
  height: 15px ;
  background: url('background/MaskDecorator.png') repeat-x bottom;
}
/***************************************************************************/

.UIMaskWorkspace .UITabContentContainer .UITabContent {
  overflow-y: auto;
  overflow-x: hidden;
	height: 280px;
}

.UIMaskWorkspace .UIForm .HorizontalLayout .SelectedIconInfo .UIFormInputSet {
  margin: auto;
}

.UIMaskWorkspace .UIAccessGroup .PublicCheck .UIFormGrid td.FieldComponent {
  _padding: 0px;
}

.UIMaskWorkspace .UIItemSelector .FloatRightStyle .ItemListContainer .ItemList {
  height: 206px ;
  overflow: auto ;
}

.UIMaskWorkspace .IconLayout {
	float: left ;
	margin: 8px 5px 0px 5px ;
}

.UIMaskWorkspace .UIFormWithTitle {
  width: 550px;
	margin: auto;
	padding: 50px 0px;
	border: none;
}

.UIMaskWorkspace .UINodeIconSelector .LeftColumnStyle .ItemDetailList {
  height: auto;
}


.UIMaskWorkspace .UIFormInputSet .UIFormGrid .SelectGroup {
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/SmallGroup.gif') no-repeat center;
	width: 20px; height: 20px;
}

/********************************** UIPageNavigationForm *************************************/

/**********************************UITabSelector*****************************************/

.UIMaskWorkspace .UITabPane .TabPaneContent .CSSContent {
	border: 1px solid #d4d4d4;
}

.UIMaskWorkspace .UITabPane .TabPaneContent .CSSContent .UITabContent {
  height: auto;
  margin: auto;
  overflow: hidden;
}

/**************************** UIAddApplication ******************************************/

.UIAddApplication .UITabContentContainer {
  border: 1px solid #999999;
  border-top: none;
  background: none;
  padding: 10px 10px 0px 10px;
}

.UIAddApplication .UIItemSelector .LeftColumnStyle {
  width: auto;
}

.UIAddApplication .LeftColumnStyle .ItemListContainer {
}

.UIAddApplication .LeftColumnStyle .ItemListContainer .ItemListTitle {
	height: 26px;
	line-height: 26px;
	background: none;
	border: none;
}

.UIAddApplication .LeftColumnStyle .ItemDetailList .ItemDetailTitle {
	height: 26px;
	line-height: 26px;
}

.UIAddApplication .ApplicationListContainer {
	height: 240px; 
	border: 1px solid #b7b7b7;
	background: white;
	overflow: auto;
	font-family: arial;
	color: #555555;
	padding: 0px 10px;
}

.UIAddApplication .UITabContentContainer .NoneAppsMessage {
	padding: 10px;
	text-align: center;
	color: gray;
	width: 300px;
	margin: 40px auto 0px auto;
}

.UIAddApplication .Application {
  margin: 10px 0px 0px 0px ;
	border: solid 1px #e4e4e4 ;
	border-bottom: none;
	background: white url('background/AddApplicationrBG1x20.gif') repeat-x bottom;
	padding: 10px;
}

.UIAddApplication .ContentContainerDetail {
	padding: 0px 10px;
	border-top: none;
}

.UIAddApplication .TitleBarContainer {
  padding: 10px 0px 0px 0px; 
  margin: auto 15px;
}

.UIAddApplication .ApplicationContent {
  padding: 0px 0px 0px 85px; /* orientation=lt */
  padding: 0px 85px 0px 0px; /* orientation=rt */
}

.UIAddApplication .ApplicationButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */ 
  width: 25px;
}

.UIAddApplication .ApplicationContentLabel {
  line-height: 16px;
}

.UIAddApplication .ApplicationContentLabel .RightLabel {
  color: #70A3D7;
}

.UIAddApplication .PortletIcon {
  cursor: pointer;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
  height: 80px;
  width: 80px;
}

.UIAddApplication .TitleBarApplication {
	height: 24px ;
  color: #1465B9; vertical-align: middle ;	font-weight:bold; font-size: 13px;
  border-bottom: 1px solid #b7b7b7;
}

.UIAddApplication .UIItemSelector {
	margin: 0px;
}

.UIAddApplication .TitleBarContainer .LeftTitleBar {
  background: url('background/TitleBarContainer.gif') no-repeat left top;
  padding: 0px 0px 0px 15px ;
}

.UIAddApplication .TitleBarContainer .RightTitleBar {
  background: url('background/TitleBarContainer.gif') no-repeat right top;
  padding: 0px 10px 0px 0px ;
}

.UIAddApplication .TitleBarContainer .CenterTitleBar {
  height: 32px ;
  line-height: 32px ; vertical-align: middle ;
  font-weight: bold ; font-family: arial; color: #0575CA; font-size: 14px;
  background: url('background/TitleBarContainer.gif') repeat-x left -32px;
}

.UIAddApplication .UIItemSelector .ItemListContainer .ItemList {
  height: 230px ; 
  overflow: auto ;
  background: #ffffff;
  border: 1px solid #b7b7b7;
  text-transform: capitalize;
  background: white;
}

.UIAddApplication .UIItemSelector .ItemDetailList {
  background: none;
  border: none;
}

.UIAddApplication .UIItemSelector .ItemDetailList .ItemDetail {
  background: none;
  border: none;
}

.UIAddApplication .ItemDetailTitle {
	height: 26px ;
	line-height: 26px; 
	font-weight: bold ; color: #5c5c5c;
	vertical-align: middle ;
}

.UIAddApplication .SelectButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 20px ; height: 20px ;
	background: url('background/AddApplicationButton.png') no-repeat top;
	margin: 0px 3px ;
	cursor: pointer ;
}

.UIAddApplication .AddButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 20px ; height: 20px ;
	background: url('background/AddApplicationButton.png') no-repeat bottom;
	margin: 0px 3px ;
	cursor: pointer ;
}

.UIAddApplication .ApplicationItemIcon {
	width: 16px; height: 16px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/DarkBlueNextArrow.gif') no-repeat ;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 5px 0px 5px;
}

/********************************  UIAddApplication.80x80Icon **********************************/
.UIGroupSelector {
  padding: 10px;
}

.UIGroupSelector .SelectedGroupPath { 
  padding: 5px 0px;
}

.UIGroupSelector .UIBreadcumbs {
  border: 1px solid white;
  padding: 0px;
  height: 27px;
}

.UIGroupSelector .UIBreadcumbs .LeftBreadcumbsBar {
  background: white;
  border: 1px solid #b7b7b7;
  height: 27px;
}

.UIGroupSelector .UIBreadcumbs .RightBreadcumbsBar {
  background: white;
  height: 27px;
}

.UIGroupSelector .UIBreadcumbs .BreadcumbsInfoBar {
  background: white;
  height: 27px;
}

.UIGroupSelector .UIBreadcumbs .BCHome16x16Icon {
  width: 19px ; height: 19px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/24x24/icons/NormalGroup.png') no-repeat left center;
  margin-top: 4px;
}

.UIGroupSelector .UIBreadcumbs a.Selected {
  color: #058ee6;
}

.UIGroupSelector .GroupSelector {
  padding: 10px;
  background: white;
  border: 1px solid #e4e4e4;
}

.UIGroupSelector .UIAction {
}

.UIGroupSelector .TitleGroupSelector {
  background: url('background/TitleBarContainer.gif') repeat-x bottom;
  line-height: 19px; height: 19px;
  border: 1px solid #b7b7b7;
  border-bottom: 1px solid #cfcfcf;
  padding: 0px 10px;
}

.UIGroupSelector .LeftGroupSelector {
  float: left;
  width: 220px; height: 210px;
  border: 1px solid white;
}

.UIGroupSelector .RightGroupSelector {
  margin-left: 225px;
  height: 210px;
  border: 1px solid white;
}

.UIGroupSelector .RightGroupSelector .Content {
  border: 1px solid #b7b7b7; border-top: none;
  height: 168px; 
  color: #058ee6;
  padding: 10px;
}

.UIGroupSelector .RightGroupSelector .Content div {
  padding: 3px 0px;
}

.UIGroupSelector .RightGroupSelector .Content span {
  color: #2c2c2c;
}