.UIPortletDecorator {}

/*#######################################-----DefaultStyle-----##################################*/
.UIPortletDecorator .DefaultDecorator .MiddleBackground {
	background: none ;
}

.UIPortletDecorator .DefaultDecorator .TopLeftCorner {
	background: none ;
	height: 0px;
	padding-left: 0px;
}

.UIPortletDecorator .DefaultDecorator .TopCenter {
	background: none ;
	height: 0px;
}

.UIPortletDecorator .DefaultDecorator .TopRightCorner {
	background: none ;
	padding-right: 0px;
	height: 0px;
}

.UIPortletDecorator .DefaultDecorator .MiddleLeftSide {
	background: none ;
	padding: 0px;	
}

.UIPortletDecorator .DefaultDecorator .MiddleRightSide {
	background: none ;
	padding-right: 0px;	
}

.UIPortletDecorator .DefaultDecorator .BottomRightCorner {
	background: none ;
	padding-right: 0px;
	height: 0px;	
}

.UIPortletDecorator .DefaultDecorator .BottomCenter {	
	background: none ;	
	height: 0px;
}

.UIPortletDecorator .DefaultDecorator .BottomLeftCorner {
	background: none ;
	padding-left: 0px;	
	height: 0px;
	
}

/*#######################################-----RoundedTopCornerLinedStyle-----##################################*/
.UIPortletDecorator .RoundedTopCornerLinedStyle {}

.UIPortletDecorator .RoundedTopCornerLinedStyle .MiddleBackground {
	background: url('background/RoundTopCornerLinedBgMC.gif');
}

.UIPortletDecorator .RoundedTopCornerLinedStyle .TopLeftCorner {
	background: url('background/RoundTopCornerLinedBgTL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .RoundedTopCornerLinedStyle .TopCenter {
	background: url('background/RoundTopCornerLinedBgTC.gif') repeat-x center ;
	height:10px ; line-height: 10px;
}

.UIPortletDecorator .RoundedTopCornerLinedStyle .TopRightCorner {
	background: url('background/RoundTopCornerLinedBgTR.gif') no-repeat right ;
	padding-right: 10px ;
}

.UIPortletDecorator .RoundedTopCornerLinedStyle .MiddleRightSide {
	background: url('background/RoundTopCornerLinedBgMR.gif') repeat-y right ;
	padding-right: 10px ;
}

.UIPortletDecorator .RoundedTopCornerLinedStyle .BottomRightCorner {	
	background: url('background/RoundTopCornerLinedBgBR.gif') no-repeat right;
	padding-right: 10px ;
}

.UIPortletDecorator .RoundedTopCornerLinedStyle .BottomCenter {	
	background: url('background/RoundTopCornerLinedBgBC.gif') repeat-x center;
	height: 10px ;
}

.UIPortletDecorator .RoundedTopCornerLinedStyle .BottomLeftCorner {
	background: url('background/RoundTopCornerLinedBgBL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .RoundedTopCornerLinedStyle .MiddleLeftSide {
	background: url('background/RoundTopCornerLinedBgML.gif') repeat-y left ;
	padding-left: 10px ;
}

/*#######################################-----GrayBorderRoundedCornerStyle-----##################################*/
.UIPortletDecorator .GrayBorderRoundedCornerStyle {}

.UIPortletDecorator .GrayBorderRoundedCornerStyle .MiddleBackground {
	background: #ebe8fd ;
}

.UIPortletDecorator .GrayBorderRoundedCornerStyle .TopLeftCorner {
	background: url('background/CornerLeftTop11x11.gif') no-repeat left ;
	padding-left: 11px ;
}

.UIPortletDecorator .GrayBorderRoundedCornerStyle .TopCenter {
	background: url('background/CornerTopCenter1x11.gif') repeat-x;
	height: 11px ;
}

.UIPortletDecorator .GrayBorderRoundedCornerStyle .TopRightCorner {
	background: url('background/CornerRightTop11x11.gif') no-repeat right ;
	padding-right: 11px;
}

.UIPortletDecorator .GrayBorderRoundedCornerStyle .MiddleRightSide {
	background: url('background/CornerRightMiddle11x1.gif') repeat-y right ;
	padding-right: 11px ;
}

.UIPortletDecorator .GrayBorderRoundedCornerStyle .BottomRightCorner {	
	background: url('background/CornerRightBottom11x11.gif') no-repeat right;
	padding-right: 11px ;
}

.UIPortletDecorator .GrayBorderRoundedCornerStyle .BottomCenter {	
	background: url('background/CornerBottomCenter1x11.gif') repeat-x center;
	height: 11px ;
}

.UIPortletDecorator .GrayBorderRoundedCornerStyle .BottomLeftCorner {
	background: url('background/CornerLeftBottom11x11.gif') no-repeat left ;
	padding-left: 11px ;
}


.UIPortletDecorator .GrayBorderRoundedCornerStyle .MiddleLeftSide {
	background: url('background/CornerLeftMiddle11x1.gif') repeat-y left ;
	padding-left: 11px ;
}

/*#######################################-----BlueCloudBackgroundStyle-----##################################*/
.UIPortletDecorator .BlueCloudBackgroundStyle {

}

.UIPortletDecorator .BlueCloudBackgroundStyle .MiddleBackground {
	background: url('background/CloudBg.gif');
}

.UIPortletDecorator .BlueCloudBackgroundStyle .TopLeftCorner {
	background: url('background/CloudBgTL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .BlueCloudBackgroundStyle .TopCenter {
	background: url('background/CloudBgTC.gif') repeat-x center ;
	height: 10px ;
}

.UIPortletDecorator .BlueCloudBackgroundStyle .TopRightCorner {
	background: url('background/CloudBgTR.gif') no-repeat right ;
	padding-right: 10px ;
}

.UIPortletDecorator .BlueCloudBackgroundStyle .MiddleRightSide {
	background: url('background/CloudBgMR.gif') repeat-y right ;
	padding-right: 10px ;
}

.UIPortletDecorator .BlueCloudBackgroundStyle .BottomRightCorner {	
	background: url('background/CloudBgBR.gif') no-repeat right;
	padding-right: 10px ;
}

.UIPortletDecorator .BlueCloudBackgroundStyle .BottomCenter {	
	background: url('background/CloudBgBC.gif') repeat-x center;
	height: 10px ;
}

.UIPortletDecorator .BlueCloudBackgroundStyle .BottomLeftCorner {
	background: url('background/CloudBgBL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .BlueCloudBackgroundStyle .MiddleLeftSide {
	background: url('background/CloudBgML.gif') repeat-y left ;
	padding-left: 10px ;
}

/*#######################################-----CuttedShapeCornerStyle-----##################################*/
.UIPortletDecorator .CuttedShapeCornerStyle {
	margin: auto ;	
}

.UIPortletDecorator .CuttedShapeCornerStyle .MiddleBackground {
	background: #b5c8d5 ;
}

.UIPortletDecorator .CuttedShapeCornerStyle .TopLeftCorner {
	background: url('background/CuttedShapeCornerTL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .CuttedShapeCornerStyle .TopCenter {
	background: url('background/CuttedShapeCornerTC.gif') repeat-x center ;
	height: 10px ;
}

.UIPortletDecorator .CuttedShapeCornerStyle .TopRightCorner {
	background: url('background/CuttedShapeCornerTR.gif') no-repeat right ;
	padding-right: 10px ;
}

.UIPortletDecorator .CuttedShapeCornerStyle .MiddleRightSide {
	background: url('background/CuttedShapeCornerMR.gif') repeat-y right ;
	padding-right: 10px ;
}

.UIPortletDecorator .CuttedShapeCornerStyle .BottomRightCorner {	
	background: url('background/CuttedShapeCornerBR.gif') no-repeat right;
	padding-right: 10px ;
}

.UIPortletDecorator .CuttedShapeCornerStyle .BottomCenter {	
	background: url('background/CuttedShapeCornerBC.gif') repeat-x center;
	height: 10px ;
}

.UIPortletDecorator .CuttedShapeCornerStyle .BottomLeftCorner {
	background: url('background/CuttedShapeCornerBL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .CuttedShapeCornerStyle .MiddleLeftSide {
	background: url('background/CuttedShapeCornerML.gif') repeat-y left ;
	padding-left: 10px ;
}

/*#######################################-----DottedShapeCornerStyle-----##################################*/
.UIPortletDecorator .DottedShapeCornerStyle {
	margin: auto ;	
}

.UIPortletDecorator .DottedShapeCornerStyle .MiddleBackground {
	background: #e2e5f9 ;
}

.UIPortletDecorator .DottedShapeCornerStyle .TopLeftCorner {
	background: url('background/DottedCornerTL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .DottedShapeCornerStyle .TopCenter {
	background: url('background/DottedCornerTC.gif') repeat-x center ;
	height: 10px ;
}

.UIPortletDecorator .DottedShapeCornerStyle .TopRightCorner {
	background: url('background/DottedCornerTR.gif') no-repeat right ;
	padding-right: 10px ;
}

.UIPortletDecorator .DottedShapeCornerStyle .MiddleRightSide {
	background: url('background/DottedCornerMR.gif') repeat-y right ;
	padding-right: 10px ;
}

.UIPortletDecorator .DottedShapeCornerStyle .BottomRightCorner {	
	background: url('background/DottedCornerBR.gif') no-repeat right;
	padding-right: 10px ;
}

.UIPortletDecorator .DottedShapeCornerStyle .BottomCenter {	
	background: url('background/DottedCornerBC.gif') repeat-x center;
	height: 10px ;
}

.UIPortletDecorator .DottedShapeCornerStyle .BottomLeftCorner {
	background: url('background/DottedCornerBL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .DottedShapeCornerStyle .MiddleLeftSide {
	background: url('background/DottedCornerML.gif') repeat-y left ;
	padding-left: 10px ;
}

/*#######################################-----LightBlueDoubleDotLineBorderBoxStyle-----##################################*/
.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle {
	margin: auto ;  
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .MiddleBackground {
	background: #e1ddfd ;
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .TopLeftCorner {
	background: url('background/DottedBorderTL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .TopCenter {
	background: url('background/DottedBorderTC.gif') repeat-x center ;
	height: 10px ;
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .TopRightCorner {
	background: url('background/DottedBorderTR.gif') no-repeat right ;
	padding-right: 10px ;
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .MiddleRightSide {
	background: url('background/DottedBorderMR.gif') repeat-y right ;
	padding-right: 10px ;
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .BottomRightCorner {	
	background: url('background/DottedBorderBR.gif') no-repeat right;
	padding-right: 10px ;
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .BottomCenter {	
	background: url('background/DottedBorderBC.gif') repeat-x center;
	height: 10px ;
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .BottomLeftCorner {
	background: url('background/DottedBorderBL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .LightBrownDoubleDotLineBorderBoxStyle .MiddleLeftSide {
	background: url('background/DottedBorderML.gif') repeat-y left ;
	padding-left: 10px ;
}

/*#######################################-----BlueBorderRoundedCornerBoxStyle-----##################################*/
.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle {
	margin: auto ;  
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .MiddleBackground {
	background: #e1ddfd ;
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .TopLeftCorner {
	background: url('background/BorderRoundCornerTL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .TopCenter {
	background: url('background/BorderRoundCornerTC.gif') repeat-x center ;
	height: 10px ;
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .TopRightCorner {
	background: url('background/BorderRoundCornerTR.gif') no-repeat right ;
	padding-right: 10px ;
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .MiddleRightSide {
	background: url('background/BorderRoundCornerMR.gif') repeat-y right ;
	padding-right: 10px ;
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .BottomRightCorner {	
	background: url('background/BorderRoundCornerBR.gif') no-repeat right;
	padding-right: 10px ;
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .BottomCenter {	
	background: url('background/BorderRoundCornerBC.gif') repeat-x center;
	height: 10px ;
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .BottomLeftCorner {
	background: url('background/BorderRoundCornerBL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .BlueBorderRoundedCornerBoxStyle .MiddleLeftSide {
	background: url('background/BorderRoundCornerML.gif') repeat-y left ;
	padding-left: 10px ;
}

/*#######################################-----RoundedCornerInnerGlowStyle-----##################################*/
.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle {
	margin: auto ;  
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .MiddleBackground {
	background: #e1ddfd ;
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .TopLeftCorner {
	background: url('background/RoundCornerInnerGlowTL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .TopCenter {
	background: url('background/RoundCornerInnerGlowTC.gif') repeat-x center ;
	height: 10px ;
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .TopRightCorner {
	background: url('background/RoundCornerInnerGlowTR.gif') no-repeat right ;
	padding-right: 10px ;
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .MiddleRightSide {
	background: url('background/RoundCornerInnerGlowMR.gif') repeat-y right ;
	padding-right: 10px ;
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .BottomRightCorner {	
	background: url('background/RoundCornerInnerGlowBR.gif') no-repeat right;
	padding-right: 10px ;
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .BottomCenter {	
	background: url('background/RoundCornerInnerGlowBC.gif') repeat-x center;
	height: 10px ;
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .BottomLeftCorner {
	background: url('background/RoundCornerInnerGlowBL.gif') no-repeat left ;
	padding-left: 10px ;
}

.UIPortletDecorator .RoundedCornerInnerGlowBoxStyle .MiddleLeftSide {
	background: url('background/RoundCornerInnerGlowML.gif') repeat-y left ;
	padding-left: 10px ;
}

.UIPageBody .UIOrganizationPortlet {
	margin: 0px 6px;
}