.UIToolbarContainer {
	padding: 0px;
}

.UIToolbarContainer .LAYOUT-CONTAINER {
	overflow: hidden;
}

.UIToolbarContainer .ToolbarContainer .TRContainer {
	height: 30px;
}

.UIToolbarContainer .UIContainer {
	padding: 0px;
}

.ToolbarContainer {	
	background: url('icons/IconToolBar.gif') repeat-x scroll 0 0;	
	height: 32px;
}

.UIToolbarContainer .ToolbarContainer a {
	display: block;
	padding-left: 30px;
	white-space: nowrap;
}

.UIToolbarContainer a:hover {
	color: white;
}

.UIToolbarContainer .UIHorizontalTabs .TabsContainer {
    height: 30px;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
	line-height: 30px;	
	float: left;
	background: url('icons/IconToolBar.gif') no-repeat right -320px;
	padding-right: 2px;
	text-align: left;
}

.UIToolbarContainer .TBItemHover {
	line-height: 30px;	
	float: left;
	background: #a4a4a4 url('icons/IconToolBar.gif') no-repeat right -320px;
	padding-right: 2px;
}

.UIToolbarContainer .TBItemHover a.TBIcon {
	color: white;
}

.UIToolbarContainer .TBExoLogo {
	background:none;
}

.UIToolbarContainer .TBIcon {
	padding: 0px 13px 0px 35px;
	line-height: 30px;	
}

.UIToolbarContainer .OnOffAction {
	background: url('icons/BackgroundOnOff.gif') repeat-x scroll 0 0;	
	float: right; 
	line-height:32px; 
	white-space: nowrap;
	padding: 0px 10px;
	font-weight:bold;
}

.UIToolbarContainer .OnOffAction a {
	float: left;
}

.UIToolbarContainer .OnOffAction div {
	float: left;
}

.UIToolbarContainer .BoxOnOff {
	height: 20px;
	padding: 6px 8px 6px 19px;
	float: right;
	/*float: left;*/
	margin-left: 20px;
}

/****** Select On *******/
.UIToolbarContainer .SelectOn .LeftSelect {
	background: url('icons/onoff.gif') no-repeat left top;
	padding-left: 27px;
	width: 33px;
}

.UIToolbarContainer .SelectOn .RightSelect {
	background: url('icons/onoff.gif') no-repeat right top;
	padding-right: 3px;
}

.UIToolbarContainer .SelectOn .CenterSelect {
	background: url('icons/onoff.gif') repeat-x left -17px;
	text-align: center;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #767676;
	cursor: pointer;
}

/****** Select Off *******/
.UIToolbarContainer .SelectOff .LeftSelect {
	background: url('icons/onoff.gif') no-repeat left -34px;
	padding-left: 3px;
	width: 57px;
}

.UIToolbarContainer .SelectOff .RightSelect {
	background: url('icons/onoff.gif') no-repeat right -34px;
	padding-right: 27px;
}

.UIToolbarContainer .SelectOff .CenterSelect {
	background: url('icons/onoff.gif') repeat-x left -51px;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

/****************************/
.UIToolbarContainer .MenuItemContainer {	
	position: absolute;
	border: 1px solid #9d9d9d;
	z-index: 100;
}

.UIToolbarContainer .TitleBar {
	background: url('icons/IconToolBar.gif') repeat-x left -664px;
	height: 23px;
	line-height: 23px;
	color: #5e5e5e;
	font-weight: bold;
	padding: 0px 5px;
	white-space: nowrap;
}

.UIToolbarContainer .MenuItem {	
	height: 28px;
	line-height: 28px;
	border: 1px solid white;
	width: 98.5%;
}


.UIToolbarContainer .MenuItem .MenuItemHover {
	background-color: #a4a4a4;
}

.UIToolbarContainer .MenuItem .ArrowIcon {
	background-image: url('icons/IconToolBar.gif');
	background-position: right -290px;
	background-repeat: no-repeat;
}

.UIToolbarContainer .MenuItem a {	
	padding-right: 15px;
}

.UIToolbarContainer .OddItem {	
	background: #f3f2f2;
}

.UIToolbarContainer .EvenItem {	
	background: #e5e4e4;
}

.UIToolbarContainer .MenuItem .DefaultPageIcon {	
	background-position: 5px center;
}


/**********************************/
.UIToolbarContainer .DashboardIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -544px;
}

.UIToolbarContainer .SitesIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -574px;
}

.UIToolbarContainer .GroupsIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -604px;
}

.UIToolbarContainer .EditorIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -160px;
}

.UIToolbarContainer .AdministratorIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -634px;
}

.UIToolbarContainer .SiteIcon {
	background: url('icons/IconSite.gif') no-repeat 5px center;
	padding-left: 25px;
	text-transform: capitalize;
}

.UIToolbarContainer .EditPageAndNavIcon {	
	background: url('icons/IconToolBar.gif') no-repeat left -512px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -512px; /* orientation=rt */
}

.UIToolbarContainer .AddContentIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -256px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -256px; /* orientation=rt */
}

.UIToolbarContainer .SkinSettingsIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -352px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -352px; /* orientation=rt */
}

.UIToolbarContainer .BrowsePortalIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -448px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -448px; /* orientation=rt */
}

.UIToolbarContainer .BrowsePageIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -480px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -480px; /* orientation=rt */
}

.UIToolbarContainer .AddPageIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -128px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -128px; /* orientation=rt */  
}

.UIToolbarContainer .EditPageIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -160px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -160px; /* orientation=rt */
}

.UIToolbarContainer .EditPortalIcon {	
	background: url('icons/IconToolBar.gif') no-repeat left -192px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -192px; /* orientation=rt */
}

.UIToolbarContainer .CreatePortalIcon{
	background: url('icons/IconToolBar.gif') no-repeat left -224px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -224px; /* orientation=rt */
}

.UIToolbarContainer .LanguageSettingsIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -384px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -384px; /* orientation=rt */
}

.UIToolbarContainer .AccountSettingsIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -416px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -416px; /* orientation=rt */
}

.UIToolbarContainer .LogoutIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -64px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -64px; /* orientation=rt */	
	cursor: pointer;
}

.UIToolbarContainer .ChangePortalIcon {
	background: url('icons/IconToolBar.gif') no-repeat left -96px; /* orientation=lt */
	background: url('icons/IconToolBar.gif') no-repeat right -96px; /* orientation=rt */	
	cursor: pointer;
}

/***************UIStarToolBarPortlet*****************/
.UIStarToolBarPortlet {
	background: url('background/Logo.gif') left center;
	width: 66px;
	height: 30px;
}

.UIStarToolBarPortlet .UITab {
    height: 30px;
}

.UIToolbarContainer .UITableColumnContainer .UITab .HighlightNavigationTab{
	margin-top: 2px;
}

.UIToolbarContainer .UITableColumnContainer .UITab .NormalNavigationTab{
	margin-top: 2px;
}