/*########################- UIPageNodeSelector -######################*/
.UIPageNodeSelector {}

.UIPageNodeSelector .UIVerticalSlideTabs {
  padding-bottom: 0px;
  margin: 0px;
  border: none;
}

.UIPageNodeSelector .UIVerticalSlideTabs .TreeContainer {
	_width: 92%; 
}

/*###############################-  -############################*/

.UIPageNodeSelector .OrganizationIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/Organization.gif') no-repeat;  
}

.UIPageNodeSelector .PortalAdminIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/PortalAdmin.gif') no-repeat;
}

.UIPageNodeSelector .NavigationPortalIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/PageNode.gif') no-repeat;
}

/***********************/
.UIPageManagement .UIPageNodeSelector .AddNavigationIcon {
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/AddNavigationButton.png') no-repeat left top;
	cursor: pointer;
	float: left; margin-left: -2px;
	height: 24px; width: 24px;
	display: block;
}

.AddNavigationIcon {
	display: none;
}

.UIControlWorkspace .UIPageNodeSelector .UIDropDownControl {
  float: left; 
  width: 200px;
}