/*########################- UIPageNodeSelector -######################*/
.UIPageNodeSelector {}

.UIPageNodeSelector .UIVerticalSlideTabs {
  padding-bottom: 0px;
  margin: 0px;
  border: none;
}

/*###############################-  -############################*/

.UIPageNodeSelector .OrganizationIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/Organization.gif') no-repeat;  
}

.UIPageNodeSelector .PortalAdminIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/PortalAdmin.gif') no-repeat;
}

.UIPageNodeSelector .NavigationPortalIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/PageNode.gif') no-repeat;
}

/***********************/
.UIPageManagement .UIPageNodeSelector .AddNavigationIcon {
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/AddNavigationButton.png') no-repeat left top; /* orientation=lt */
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/AddNavigationButton-rt.png') no-repeat right top; /* orientation=rt */
	cursor: pointer;
	/*Lam comment to fix bug PORTAL-2604*/
  float: right; /* orientation=lt */
  float: left; /* orientation=rt */ 
  /*float: left; /* orientation=lt */
  /*float: right; /* orientation=rt */
	margin-left: -2px; /* orientation=lt */
	margin-right: -2px; /* orientation=rt */
	height: 24px; 
	width: 24px;
	display: block;
}

.AddNavigationIcon {
	display: none;
}

.UIControlWorkspace .UIPageNodeSelector .UIDropDownControl {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  width: 200px;
}