.UIChagnePortalForm {
}

.UIChagnePortalForm #PortalSelector {
  width: 95%;
  margin: auto;
}

.UIChagnePortalForm .UITabPane .UITabContentContainer .UITabContent {
	padding: 15px 0px;
}

.UIChagnePortalForm .MiddleFormTitle {
	background: url('background/MiddleFormTitle1x29.png') repeat-x;
	height: 29px;
	color:#0786E7;
	line-height: 29px;
	font-weight: bold;
	padding-left: 8px;
	margin: 0px 5px;
	border: 1px solid #a4a4a4;
	border-bottom: none;
}

.UIChagnePortalForm .TabPaneContent {
  margin: 0px 10px;
  border: 1px solid #A4A4A4;
  border-top: none;
	padding: 0px 3px 3px;
}

.UIChagnePortalForm .UITabPane .UITabContentContainer {
	border: 1px solid #D9D9D9;
}
