

.UIPortalNavigationPortlet {
  !position: relative;
}

.UIPortalNavigationPortlet .UINavigationBar {
  white-space: nowrap;
}

.UIPortalNavigationPortlet .UINavigationBar .UIHorizontalTabs {
  height: 33px;
}

.UIPortalNavigationPortlet .UINavigationBar .UIHorizontalTabs .TabsContainer {
  float: none;
  _position: relative; /* orientation=rt */
}

.UIPortalNavigationPortlet .UINavigationBar .LeftNavigationBar {
  line-height: 33px;
  background: url('DefaultSkin/background/Navigation.gif') repeat-x top center;
  padding-left: 3px; /* orientation=lt */
  padding-right: 3px; /* orientation=rt */
  border-top: 1px solid white;
	!background-position: center 1px;
}

.UIPortalNavigationPortlet .UITab a.TabLabel {
	display: block;
	padding: 0px 0px 0px 20px; /* orientation=lt */
  padding: 0px 20px 0px 0px; /* orientation=rt */
  background-position: left; /* orientation=lt */
  background-position: right; /* orientation=rt */
}

.UIPortalNavigationPortlet .MenuItemContainer {
	white-space: nowrap;
	border: solid #b7b7b7 1px;
	background: #f3f3f3;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
}

.UIPortalNavigationPortlet .MenuItemContainer .MenuItemDecorator {
  border: 1px solid #fcfcfc;
  background: #f3f3f3;
  padding-bottom: 6px;
}

.UIPortalNavigationPortlet .MenuItemContainer .MenuItem {
  border-bottom: 1px solid #fff;
	cursor: pointer;
	line-height: 24px;
	height: 24px; width: auto;
	display: block;
	white-space: nowrap;
	font-weight: normal;
	padding-left: 5px; /* orientation=lt */
	padding-right: 5px; /* orientation=rt */
}

.UIPortalNavigationPortlet .MenuItemContainer .MenuItem a {
	padding: 0px 20px 0px 25px; /* orientation=lt */
	padding: 0px 25px 0px 20px; /* orientation=rt */
	display: block;
}

.UIPortalNavigationPortlet .MenuItemContainer .MenuItem a:hover {
	color: #3e8df0;
	background: url('DefaultSkin/background/HoverItem.gif') repeat-x bottom;
}

.UIPortalNavigationPortlet .MenuItemContainer .SelectedItem {
	line-height: 24px;
	width: auto; 
	background: url('DefaultSkin/background/HoverItem.gif') repeat-x bottom;
	color: #3e8df0;
}

.UIPortalNavigationPortlet .MenuItemContainer .SelectedItem a {
	color: #3e8df0;
}

.UIPortalNavigationPortlet .MenuItemContainer  .SelectedItem .NormalItem a {
	color: #000;
}

.UIPortalNavigationPortlet .MenuItemContainer  .SelectedItem .NormalItem a:hover {
	color: #3e8df0;
}

.UIPortalNavigationPortlet .MenuItemContainer  .NormalItem .SelectedItem a {
	color: #3e8df0;
}

.UIPortalNavigationPortlet .MenuItemContainer .ItemIcon {
  height: 24px; width: auto;
}

.UIPortalNavigationPortlet .MenuItemContainer .MenuItem .ArrowIcon {
  height: 24px; 
  width: auto;
  background: url('DefaultSkin/background/Button.gif') no-repeat right -48px; /* orientation=lt */ 
  background: url('DefaultSkin/background/Button-rt.gif') no-repeat left -48px; /* orientation=rt */ 
}	

/*============ Scroll Buttons =====================*/

.UIPortalNavigationPortlet .ScrollButtons {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding-top: 10px;
	display: none;
}

.UIPortalNavigationPortlet .ScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat left -15px; /* orientation=lt */
  background: url('DefaultSkin/background/Button-rt.gif') no-repeat right -15px; /* orientation=rt */
  width: 17px;
  height: 15px;
  padding-left: 18px; /* orientation=lt */
  padding-right: 18px; /* orientation=rt */
  margin: 0px 5px;
}

.UIPortalNavigationPortlet .ScrollRightButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat right -15px; /* orientation=lt */
  background: url('DefaultSkin/background/Button-rt.gif') no-repeat left -15px; /* orientation=rt */
  width: 15px;
  height: 15px;
}

.UIPortalNavigationPortlet .DisableScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat left -30px; /* orientation=lt */
  background: url('DefaultSkin/background/Button-rt.gif') no-repeat right -30px; /* orientation=rt */
  width: 17px;
  height: 15px;
  padding-left: 18px; /* orientation=lt */
  padding-right: 18px; /* orientation=rt */
  margin: 0px 5px;
}

.UIPortalNavigationPortlet .DisableScrollRightButton { 
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat right -30px; /* orientation=lt */
  background: url('DefaultSkin/background/Button-rt.gif') no-repeat left -30px; /* orientation=rt */
  width: 15px;
  height: 15px;
}

.UIPortalNavigationPortlet .HighlightScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat left top; /* orientation=lt */
  background: url('DefaultSkin/background/Button-rt.gif') no-repeat right top; /* orientation=rt */
  width: 17px;
  height: 15px;
  padding-left: 18px; /* orientation=lt */
  padding-right: 18px; /* orientation=rt */
  margin: 0px 5px;
}

.UIPortalNavigationPortlet .HighlightScrollRightButton {
  cursor: pointer;
  background: url('DefaultSkin/background/Button.gif') no-repeat right top; /* orientation=lt */
  background: url('DefaultSkin/background/Button-rt.gif') no-repeat left top; /* orientation=rt */
  width: 15px;
  height: 15px;
}
