.UITabPane {
}

.UITabPane .UITabContentContainer {
  background: white url('background/TabContainerBG1x11.png') repeat-x top;
  border: 1px #868686 solid;
}

.UITabPane .UITabContent {
  padding: 6px 7px 12px 8px;
}

.UITabPane .TabPaneContent .UIQuickHelp {
  float: right ;
  width: 25% ;
}