@import url(UILoginForm/DefaultStylesheet.css) ;
@import url(/eXoResources/skin/webui/component/UIToolbar/DefaultStylesheet.css) ;

.UIWindow .UIAccountPortlet {
  overflow: auto ;
}

.UIAccountPortlet {
}

.UIAccountPortlet .UIFormTabPane .UITabPane {
  padding: 3px 3px 0px 3px;
}

.UIAccountPortlet .UIFormTabPane .UITabPaneTitle {
  padding: 3px 3px 8px 3px;
  font-weight: bold; font-size: 15px; color: blue;
}

.UIAccountPortlet .UIAction  {
  width: 60px;
}

.UIAccountPortlet .UIMembership .UIAction  {
  width: 160px;
} 

/*########################-UIPersonalInfo-###########################*/

.UIAccountPortlet .UIFormTabPane {
  padding: 5px; 
}

.UIAccountPortlet .UITabContent .UIFormInputSet .FieldContainer {
  width: 400px;
  overflow: hidden;
  margin-left: auto; margin-right: auto;
}

.UIAccountPortlet .UITabContent .UIFormInputSet .FieldContainer label {
  margin-left: 0px; width: 140px; text-align: left;
  float: left; font-size: 11px;
}

.UIAccountPortlet .UITabContent .UIFormInputSet .FieldContainer input{
  border: 1px gray solid;
  width: 220px; height: 18px;
  font-size: 11px;
  padding-left: 5px;
}

.UIAccountPortlet .UIItemSelector .ItemDetail .UIFormInputSet {
  padding-top: 7px;
  font-size: 11px;
  border: none;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .UIFormInputSet .FieldContainer {
  width: 370px;
  margin: 7px auto 5px auto;  padding: 0px;
  overflow: hidden;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .UIFormInputSet label {
  float: left;
  height: 20px; line-height: 20px; vertical-align: middle;
  padding-left: 10px; margin-right: 0px;
  white-space: nowrap; 
  width: 120px;
  font-size: 11px;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .UIFormInputSet input {
  width: 230px;
  float: left;
  font-size: 11px;
  margin-left: 0px;
  padding-left: 5px;
}

/*########################-Template Selector-###########################*/

.UIAccountPortlet .UIFormTabPane .UIItemSelector .RightColumnStyle .ItemList {
  height: 240px;
}

.UIAccountPortlet .UIItemSelector .RightColumnStyle .ItemDetailList .Template {
  background: white;
  height: 240px;
  margin: auto;
}

.UIAccountPortlet .UIItemSelector .RightColumnBigItemStyle .ItemDetailList {
  background: white;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .DefaultAccountImage{
  width: 330px;
  height: 195px;
  margin: auto;
  background: url('DefaultSkin/background/DefaultAccountImage.jpg') no-repeat;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .AdminAccountImage{
  width: 330px;
  height: 195px;
  margin: auto;
  background: url('DefaultSkin/background/AdminAccountImage.jpg') no-repeat;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .CommunityAccountImage{
  width: 330px;
  height: 195px;
  margin: auto;
  background: url('DefaultSkin/background/CommunityAccountImage.jpg') no-repeat;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .CompanyAccountImage{
  width: 330px;
  height: 195px;
  margin: auto;
  background: url('DefaultSkin/background/CompanyAccountImage.jpg') no-repeat;
}

