.UIWindow .UIAccountPortlet {
  border: none;
  margin: 0px;
}

.UIAccountPortlet {
  background: white;
  padding: 5px;
  margin: 5px;
  border: 1px solid #b7b7b7;
}

.UIAccountPortlet .UIFormTabPane{
  width: 670px;
  margin: auto;
  padding: 0px 6px;
}

.UIAccountPortlet .UIFormTabPane .UITabPane {
  background: none; 
  padding-top: 5px;
}

.UIAccountPortlet .UIForm .HorizontalLayout .UIFormInputSet {
  height: 280px; width: 410px;
  padding: 10px 20px 0px 20px; margin: auto;
}

.UIAccountPortlet .UIFormTabPane .WorkingArea .UIForm {
	padding: 0px;
}

/*########################-Template Selector-###########################*/

.UIPersonalInfo {
  padding: 6px;
}

.UIAccountPortlet .UIForm .HorizontalLayout .RightColumnBigItemStyle .UIFormInputSet {
	padding: 10px 0px 0px 0px;
	width: auto;
}

.UIAccountPortlet .UIItemSelector .RightColumnBigItemStyle .ItemDetailList {
  background: white;
  height: 300px;
}

.UIAccountPortlet .UIFormTabPane .UIItemSelector .RightColumnBigItemStyle .ItemList {
  height: 280px;
}

.UIAccountPortlet .AccountInputSet .SearchIcon {
	background-repeat: no-repeat;
	margin-left: 5px;
}