.UIWindow .UIAccountPortlet {
  overflow: auto ;
  background: none;
  border: none;
  margin: 0px;
}

.UIAccountPortlet {
  background: white;
  padding: 5px;
  margin: 5px;
  border: 1px solid #b7b7b7;
}

.UIAccountPortlet .UIFormTabPane{
  width: 700px;
  margin: 15px auto;
  padding: 6px; padding-bottom: 0px;
}

.UIAccountPortlet .UIFormTabPane .UITabPane {
  background: none; 
  padding-top: 5px;
}

.UIAccountPortlet .UIAction  {
  width: 160px;
}

.UIAccountPortlet .UIMembership .UIAction {
  width: 140px;
}

.UIAccountPortlet .UIForm .HorizontalLayout .UIFormInputSet {
  height: 280px; width: auto;
  padding-top: 20px;
}

/*########################-UIPersonalInfo-###########################*/
.UIAccountPortlet .UITabContent .UIFormInputSet .FieldContainer {
  width: 500px;
}

.UIAccountPortlet .UIItemSelector .ItemDetail .UIFormInputSet {
  padding-top: 7px;
}

/*########################-Template Selector-###########################*/

.UIAccountPortlet .UIItemSelector .ItemDetailList .Template {
  margin: auto;
}

.UIPersonalInfo {
  padding: 6px;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .Template .DefaultAccountImage{
  width: 330px; height: 225px;
  margin: auto;
  background: url('MacSkin/background/DefaultAccountImage.jpg') no-repeat;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .Template .AdminAccountImage{
  width: 330px; height: 225px;
  margin: auto;
  background: url('MacSkin/background/AdminAccountImage.jpg') no-repeat;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .Template .CommunityAccountImage{
  width: 330px;  height: 225px;
  margin: auto;
  background: url('MacSkin/background/CommunityAccountImage.jpg') no-repeat;
}

.UIAccountPortlet .UIItemSelector .ItemDetailList .Template .CompanyAccountImage{
  width: 330px;  height: 225px;
  margin: auto;
  background: url('MacSkin/background/CompanyAccountImage.jpg') no-repeat;
}


