.UITrees {
  border: 1px solid #b7b7b7;
  background: white;
}

.UITrees .TreeContainer {
  overflow-y: auto;
  overflow-x: hidden;
  width: 99.5%;
}

.UITrees a {
	display: block;
} 

.UITrees a:hover {
	color: #058ee6;
}

.UITrees .LevelUpArrowIcon {
  height: 20px;
  background: url(/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/BlueUpLevelArrow.gif) no-repeat 10px center;
}

.UITrees a.LevelUpArrowIcon:hover {
  background: url(/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/OverBlueUpLevelArrow.gif) no-repeat 10px center;
}

.UITrees .Node {
	line-height: 18px;
	padding-top: 7px;
	padding-left: 15px;
	white-space: nowrap;
  background: url('background/Dotted.gif') repeat-y 15px;
}

.UITrees .LastNode {
  background: url('background/Dotted.gif') no-repeat 15px top;
}

.UITrees .Node .NodeIcon {
	background-position: left top;
	padding-left: 20px;
	width: auto;
	height: auto;
	font-weight: bold;
}

.UITrees .Node .ExpandIcon {
	padding-left: 18px;
  background: url('background/SmallGrayMinus.gif') no-repeat left top;
  width: auto; height: auto;
}
  
.UITrees .Node .CollapseIcon {
	padding-left: 18px;
  background: url('background/SmallGrayPlus.gif') no-repeat left top;
  width: auto; height: auto;
}

.UITrees .Node .NodeSelected {
  font-weight: bold;
  color: #058ee6;
  cursor: pointer;
}

/** ################# Icons ###################*/
.UITrees .TreeContainer .GroupAdminIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/NormalGroup.gif') no-repeat ;
  padding-left: 25px;
}

.UITrees .TreeContainer .PortalIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/SelectedGroup.gif') no-repeat ;  
  padding-left: 25px;
}
