.UITree {
  border: solid #526d82 1px ;
}

.UITree .BottomDecorator {
	border-top: 1px solid #526d82 ;
}

.UITree .TreeContainer {
  background: white ;
  padding: 3px 0px 7px 0px;
}

.UITree .TreeLevelContainer {
  height: 18px; line-height: 18px;
  padding-left: 12px;
  margin: 0px 0px 10px 0px ;
}

.UITree .TreeLevelContainer .LevelUpArrowIcon {
  float: left;
  width: 26px; line-height: 18px;
  background: url(/eXoResources/icons/24x24/BlueUpLevelArrow.gif) no-repeat;
}

.UITree .TreeContainer .Node {
  margin: 3px 0px 0px 0px ;
  padding-left: 9px;
  clear: both ;
  width: 90%;
}

.UITree .TreeContainer .Node .ExpandIcon {
  cursor: pointer ;
  margin-top: 3px ;
  float: left ;
  background: url('/eXoResources/icons/16x16/SmallGrayMinus.gif') no-repeat ;
  width: 16px ;  height: 16px ;
}
  
.UITree .TreeContainer .Node .ColapseIcon {
  cursor: pointer ;
  margin-top: 3px ;
  float: left ;
  background: url('/eXoResources/icons/16x16/SmallGrayPlus.gif') no-repeat ;
  width: 16px ;  height: 16px ;
}

.UITree .TreeContainer .Node .EmptyIcon {
  margin-right: 1px ;
  float: left ;
  width: 16px ;  height: 16px ;
}

.UITree .TreeContainer .Node .Icon {
  width: 24px ;  height: 24px ;
  float: left ;
  margin: 0px 0px 0px 3px;
}

.UITree .TreeContainer .Node .NodeLabel a {
  cursor: pointer ;
  margin: 2px 0px 0px 2px ; 
  float: left ;
  line-height: 16px ;
  color: black; font-weight: bold;
}

.UITree .TreeContainer .Node .NodeLabel a:hover {
  color: orange; 
}

.UITree .TreeContainer .NodeSelected {
  height: 20px ; line-height: 20px;
  font-weight: bold; color: blue; 
}

/** ################# Icons ###################*/
.UITree .TreeContainer .GroupAdminIcon {
  background: url('/eXoResources/icons/24x24/NormalGroup.gif') no-repeat ;
}

.UITree .TreeContainer .PortalIcon {
  background: url('/eXoResources/icons/24x24/SelectedGroup.gif') no-repeat ;  
}