.UIWidgetContainerManagement {
}

.UIWidgetContainerManagement .ContainerManagementBlock {
	border: 1px solid #999999;
  border-top: none;
  margin: 0px 10px 5px 10px;
}

.UIWidgetContainerManagement .ContainerManagementDetail {
	border: 1px solid #ffffff;
  border-top: none;
  padding: 5px; 
  background: #ffffff;
}

.UIWidgetContainerManagement .CategoryTitleBar {
	height: 22px;
	background: url('/eXoSkinVista/skin/VistaSkin/background/TitleBar1x22.png') repeat-x;
	border-bottom: 1px #b7b7b7 solid;
	padding-right: 6px;
}

.UIWidgetContainerManagement .CategoryTitleBar .Title {
	float: left;
	font-weight: bold;
	line-height: 20px;
	padding-left: 8px;
}

.UIWidgetContainerManagement .AddContainerIcon {
	width: 15px;
	height: 16px;
	background: url(/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/CirclePlus.png);
	float: right;
	margin: 2px 5px;
	display: inline;
}

.UIWidgetContainerManagement .ContainerList {
	padding: 5px;
}

.UIWidgetContainerManagement .ContainerList .EmptyListMessage {
	padding: 10px 15px;
	color: #797979;
}

.UIWidgetContainerManagement .ContainerList .NormalItem {
	cursor: pointer ;
	color: #000000;
	text-decoration: none;
	line-height: 21px;
	padding-left: 27px;
}

.UIWidgetContainerManagement .ContainerList .SelectedItem {
	cursor: pointer ;
	color: #0e3fa8;
	text-decoration: none;
	line-height: 21px;
	background: #e0e8fa url(/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/BlueCheckerIcon.png) no-repeat 10px 4px;
	padding-left: 27px;
}

.UIWidgetContainerManagement .ContainerList a:hover{
	color: #058ee6;
}

.UIWidgetContainerManagement .Icon {
	float: right;
	width: 18px; height: 18px;
	margin: 2px 3px 0px 3px;
}

.UIWidgetContainerManagement .AddContainer {
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/BlueCirclePlus.png') no-repeat center;
}

.UIWidgetContainerManagement .EditContainer {
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil.png') no-repeat center;
}

.UIWidgetContainerManagement .RemoveContainer{
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/DustBin.png') no-repeat center;
}

.UIWidgetContainerManagement .CategoryTitle {
	background: url('/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UIWidgetContainerManagement/background/HLineSeparator193x1.gif') no-repeat left bottom ;
	padding: 8px 0px 4px 10px;
}

/*===================== Begin the Widget Container Category ==========================*/
.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerCategory {
	float: left;
	width: 255px;
	background: #ffffff;
	border: 1px #b7b7b7 solid;
	height: 275px; 
	overflow-x: hidden;
	overflow-y: auto;
}

/*===================== Begin the Widget Container View ==========================*/
.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerView {
	margin-left: 260px;
	height: 275px;
	background: #ffffff;
	border: 1px #b7b7b7 solid;
}

.UIWidgetContainerManagement .ContainerManagementDetail .WidgetContainerView .WidgetContainerDetail {
  height: 275px;
  overflow-x: hidden;
  overflow-y: auto;
}

.UIWidgetContainerManagement .WidgetContainerView .ContainerDetail {
	padding: 10px 0px 0px 0px;
	width: 93%; margin: auto;
}

.UIWidgetContainerManagement .WidgetContainerView .HeadTitle {
	color: #4b4b4b;
	font-weight: bold;
	padding-left: 8px;
	text-align: center;
}

.UIWidgetContainerManagement .WidgetContainerView .RemoveContainerAction{
	background: url(/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/DustBin.png) no-repeat left center;
	padding:0px 55px 0px 23px;
	height: 22px; line-height: 22px;
	float: right;
	color: #000000;
	display: block; cursor: pointer;
}

.UIWidgetContainerManagement .ContainerManagementDetail .Empty {
	color: #797979;
	width: 100%;
	line-height: 20px;
	text-align: center;	
	padding: 20px 0px;
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent {
	padding: 20px 0px;
	margin: auto; width: 99.9%;
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent .Label {
	width: 140px;
	text-align: right;
	line-height: 20px;
	float: left;
}

.UIWidgetContainerManagement .WidgetContainerView .InfoContent .FieldComponent {
	margin-left: 143px;	
	line-height: 20px;
	color: #058ee6;
	font-size: 12px;
}

.UIWidgetContainerManagement .WidgetContainerView .Detail .InfoContent .FieldComponent {
	/*modified by tan.pham.dinh
	 * to break long string (container description) in widget containers management in IE6+
	 */
	*word-wrap: break-word;
}