.UIGadgetThemes .TitGad {
  line-height: 22px;
  border-top: 1px solid #ffd400;
  border-bottom: 6px solid #ffd400;
  color: #484848;
  font-size: 12px;
  padding: 0px 15px;
  font-weight: bold;
}

.UIGadgetThemes .TitGad .ContTit {
  margin-right: 45px;
}

.UIGadgetThemes .GadCont {
  padding: 10px 15px;
  font-size: 12px;
}

.UIGadgetThemes .GadCont .IconLink {
  background: url('/style/background/IconLink.gif') no-repeat scroll left center transparent;
  display: block;
  text-decoration: none;
}

.UIGadgetThemes .List .IconLink {
  padding-left: 10px;
  margin-bottom: 5px;
  color: #484848;
  text-decoration: none;
}

.GadCont .ProfilePicture {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0px;
  padding: 0px;
}

.GadCont .ProfileInfo {
  margin-left: 55px;
  padding: 2px;
  height: 50px;
}
