.UINavigationPortlet {
}
	
.UINavigationPortlet .UINavigationBar {
	white-space: nowrap;
	padding: 0 2px;
}

.UINavigationPortlet .UINavigationBar .UIHorizontalTabs {
	height: 32px;
}

.UINavigationPortlet .UINavigationBar .UIHorizontalTabs .TabsContainer {
	float: none;
	!position: relative;
} 

.UINavigationPortlet .UINavigationBar .LeftNavigationBar {
	background: url('VistaSkin/background/NavBg.png') no-repeat left top;
	padding-left: 9px;
}

.UINavigationPortlet .UINavigationBar .RightNavigationBar {
	background: url('VistaSkin/background/NavBg.png') no-repeat right -32px;
	padding-right: 9px;
}

.UINavigationPortlet .UINavigationBar .MiddleNavigationBar {
	height: 32px;
	background: url('VistaSkin/background/NavBg.png') repeat-x center -64px;
}

.UINavigationPortlet .UITab a.DefaultPageIcon {
	background: none;
	padding: 0;
}

/*###########################--NavigationTabTab--############################*/

.UINavigationPortlet .UITab .NormalNavigationTab {
	line-height: 26px; 
	margin: 5px 8px 0px 0px; 
}

.UINavigationPortlet .UITab .NormalNavigationTab .LeftTab {
	line-height: 21px;
	padding-left: 3px;
}

.UINavigationPortlet .UITab .NormalNavigationTab .RightTab {
	line-height: 21px; 
	padding-right: 3px;
}

.UINavigationPortlet .UITab .NormalNavigationTab .MiddleTab {
	line-height: 21px;
	text-align: center;
	padding: 0px 10px;
}

.UINavigationPortlet .UITab .NormalNavigationTab .TabIcon {
	color: #fff;
	line-height: 21px;
}

.UINavigationPortlet .UITab .NormalNavigationTab a {
	color: #fff;
}

.UINavigationPortlet .UITab .NormalNavigationTab .DropDownArrowIcon {
	padding-right: 16px; /* orientation=lt */
	padding-left: 16px; /* orientation=rt */
	background: url('VistaSkin/background/NavDownArrow.gif') no-repeat right; /* orientation=lt */
	background: url('VistaSkin/background/NavDownArrow.gif') no-repeat left; /* orientation=rt */
	cursor: pointer;
}

/*###############-Hightlight Navigation Tab	-################*/

.UINavigationPortlet .UITab .HighlightNavigationTab {
	line-height: 26px;  
	margin: 5px 8px 0px 0px; 
}

.UINavigationPortlet .UITab .HighlightNavigationTab .LeftTab {
	line-height: 26px; 
	padding-left: 3px;
	background: url('VistaSkin/background/NavigationTab.gif') no-repeat left -108px;
}

.UINavigationPortlet .UITab .HighlightNavigationTab .RightTab {
	line-height: 26px; 
	padding-right: 3px;
	background: url('VistaSkin/background/NavigationTab.gif') no-repeat right -130px;
}

.UINavigationPortlet .UITab .HighlightNavigationTab .MiddleTab {
	height: 21px; 
	text-align: center;
	padding: 0px 10px;
	background: #6d94c8;
	margin-bottom: 4px;
}

.UINavigationPortlet .UITab .HighlightNavigationTab .TabIcon {
	color: #fff;
	line-height: 21px;
}

.UINavigationPortlet .UITab .HighlightNavigationTab a {
	color: #fff;
}

.UINavigationPortlet .UITab .HighlightNavigationTab .DropDownArrowIcon {
	padding-right: 16px; /* orientation=lt */
	padding-left: 16px; /* orientation=rt */
	background: url('VistaSkin/background/NavDownArrow.gif') no-repeat right; /* orientation=lt */
	background: url('VistaSkin/background/NavDownArrow.gif') no-repeat left; /* orientation=rt */
	cursor: pointer;
}

/*###############-Selected Navigation Tab-################*/

.UINavigationPortlet .UITab .SelectedNavigationTab {
	line-height: 26px; 
	margin: 5px 8px 0px 0px; 
}

.UINavigationPortlet .UITab .SelectedNavigationTab .LeftTab {
	line-height: 21px; 
	background: url('VistaSkin/background/NavigationTab.gif') no-repeat left -28px;
	padding-left: 3px;
}

.UINavigationPortlet .UITab .SelectedNavigationTab .RightTab {
	line-height: 21px; 
	background: url('VistaSkin/background/NavigationTab.gif') no-repeat right -55px;
	padding-right: 3px;
}

.UINavigationPortlet .UITab .SelectedNavigationTab .MiddleTab {
	line-height: 21px;
	background: url('VistaSkin/background/NavigationTab.gif') repeat-x;
	text-align: center;
	padding: 0px 6px;
}

.UINavigationPortlet .UITab .SelectedNavigationTab .TabIcon {
	color: #f57a00;
	line-height: 21px;
	padding-bottom: 5px;
	background: url('VistaSkin/background/NavigationTab.gif') no-repeat center -82px;;
}

.UINavigationPortlet .UITab .SelectedNavigationTab a {
	color: #f57a00;
}

.UINavigationPortlet .UITab .SelectedNavigationTab .DropDownArrowIcon {
	padding-right: 16px; /* orientation=lt */
	padding-left: 16px; /* orientation=rt */
	background: url('VistaSkin/background/NavDownArrow.gif') no-repeat right center;	/* orientation=lt */
	background: url('VistaSkin/background/NavDownArrow.gif') no-repeat left center; /* orientation=rt */
	cursor: pointer;
}

/* Portal Navigation sub menus */

.UINavigationPortlet .UINavigationBar .MenuItemContainer {
	/*overflow: visible;*/
	white-space: nowrap;
}

.UINavigationPortlet .UINavigationBar .MenuItem {
	white-space: nowrap;
	cursor: pointer;
}

/*======================== Menu Item Container ===================*/
.UINavigationPortlet .MenuItemContainer {
	text-align: left;	/* orientation=lt */
	text-align: right;	/* orientation=rt */
	border: 0px; /*fix for IE*/
}

.UINavigationPortlet .MenuItemContainer .ItemIcon {
	line-height: 24px; width: auto;
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
}

.UINavigationPortlet .MenuItemContainer .ArrowIcon {
	height: 24px; width: auto;
	padding-right: 20px; /* orientation=lt */
	padding-left: 20px; /* orientation=rt */
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat right -177px; /* orientation=lt */
	background: url('VistaSkin/background/NavigationPortlet-rt.png') no-repeat left -177px; /* orientation=rt */
}

.UINavigationPortlet .MenuItemContainer .MenuItem a {
	color: #4f4f4f;
	display: block;
	padding: 0px 20px 0px 25px; /* orientation=lt */
	padding: 0px 25px 0px 20px; /* orientation=rt */
	line-height: 24px;
}

.UINavigationPortlet .MenuItemContainer .MenuItem a:hover {
	color: #3e8df0;
	line-height: 24px;
}

.UINavigationPortlet .MenuItemContainer .SelectedItem {
	color: #3e8df0;
	line-height: 24px;	
}

.UINavigationPortlet .MenuItemContainer .SelectedItem a {
	color: #3e8df0; 
}

.UINavigationPortlet .MenuItemContainer .SelectedItem .NormalItem a {
	color: #4F4F4F;
}

.UINavigationPortlet .MenuItemContainer .SelectedItem .NormalItem a:hover {
	color: #3E8DF0;
}

.UINavigationPortlet .MenuItemContainer .NormalItem .SelectedItem a {
	color: #3E8DF0;
}

/*================ Menu Item Decorator =====================*/
.UINavigationPortlet .MenuItemContainer .MenuItemDecorator {
	padding: 0px;
}

.UINavigationPortlet .MenuItemDecorator .LeftTopMenuDecorator {
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat left -162px;
	padding-left: 12px;
}

.UINavigationPortlet .MenuItemDecorator .RightTopMenuDecorator {
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat right -169px;
	padding-right: 14px;
}

.UINavigationPortlet .MenuItemDecorator .CenterTopMenuDecorator {
	background: url('VistaSkin/background/NavigationPortlet.png') repeat-x center -113px;
	height: 6px;
	width: 100%;
}

.UINavigationPortlet .MenuItemDecorator .LeftMiddleMenuDecorator {
	background: url('VistaSkin/background/LeftMiddleMenuDecorator12x1.png') repeat-y left;
	padding-left: 12px;
}

.UINavigationPortlet .MenuItemDecorator .RightMiddleMenuDecorator {
	background: url('VistaSkin/background/RightMiddleMenuDecorator14x1.png') repeat-y right;
	padding-right: 14px;
}

.UINavigationPortlet .MenuItemDecorator .CenterMiddleMenuDecorator {
	background: #ffffff;
}

.UINavigationPortlet .MenuItemDecorator .LeftBottomMenuDecorator {
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat left -134px;
	padding-left: 12px;
}

.UINavigationPortlet .MenuItemDecorator .RightBottomMenuDecorator {
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat right -148px;
	padding-right: 14px;
}

.UINavigationPortlet .MenuItemDecorator .CenterBottomMenuDecorator {
	background: url('VistaSkin/background/NavigationPortlet.png') repeat-x center -120px;
	height: 13px;	
	width: 100%;
}
/***********************/
/*** Scroll Buttons ***/

.UINavigationPortlet .ScrollButtons {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	padding: 9px;
	display: none;
}

.UINavigationPortlet .ScrollLeftButton {
	cursor: pointer;
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat left -36px; /* orientation=lt */
	background: url('VistaSkin/background/NavigationPortlet-rt.png') no-repeat right -36px; /* orientation=rt */
	width: 14px;
	height: 13px;
	padding-left: 14px; /* orientation=lt */
	padding-right: 14px; /* orientation=rt */
	margin: 0px 5px;
}

.UINavigationPortlet .ScrollRightButton {
	cursor: pointer;
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat left -48px; /* orientation=lt */
	background: url('VistaSkin/background/NavigationPortlet-rt.png') no-repeat right -48px; /* orientation=rt */
	width: 14px;
	height: 13px;
	margin: 0px 5px;
}

.UINavigationPortlet .DisableScrollLeftButton {
	cursor: pointer;
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat left -61px; /* orientation=lt */
	background: url('VistaSkin/background/NavigationPortlet-rt.png') no-repeat right -61px; /* orientation=rt */
	width: 14px;
	height: 13px;
	padding-left: 14px; /* orientation=lt */
	padding-right: 14px; /* orientation=rt */
	margin: 0px 5px;
}

.UINavigationPortlet .DisableScrollRightButton { 
	cursor: pointer;
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat left -75px; /* orientation=lt */
	background: url('VistaSkin/background/NavigationPortlet-rt.png') no-repeat right -75px; /* orientation=rt */
	width: 14px;
	height: 13px;
	margin: 0px 5px;
}

.UINavigationPortlet .HighlightScrollLeftButton {
	cursor: pointer;
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat left -88px; /* orientation=lt */
	background: url('VistaSkin/background/NavigationPortlet-rt.png') no-repeat right -88px; /* orientation=rt */
	width: 14px;
	height: 13px;
	padding-left: 14px; /* orientation=lt */
	padding-right: 14px; /* orientation=rt */
	margin: 0px 5px;
}

.UINavigationPortlet .HighlightScrollRightButton {
	cursor: pointer;
	background: url('VistaSkin/background/NavigationPortlet.png') no-repeat left -100px; /* orientation=lt */
	background: url('VistaSkin/background/NavigationPortlet-rt.png') no-repeat right -100px; /* orientation=rt */
	width: 14px;
	height: 13px;
	margin: 0px 5px;
}