.UICreatePage {	
	padding: 8px 5px 5px 5px;
}

.UICreatePage .UIContainerConfigOptions {
	margin: 0px 6px;
}

.UICreatePage .CreatePageContainer {
	border: solid 1px #bcbcbc;
	background: #f2f2f2;
	padding-bottom: 5px;
}

.UICreatePage .TopTitleBar {
	margin-bottom: 10px;
	padding: 0px 10px; 
}

.UICreatePage .UIToolbar .EditToolbar {
	padding: 0px 6px;
}

.UICreatePage .UIToolbar .EditToolbar .Icon{
	margin: 3px 12px 0px 27px; /* orientation=lt */
	margin: 3px 27px 0px 12px; /* orientation=rt */
}

.UICreatePage .CreatePageContainer .CreatePageLabel {
	color: #656565;
	font-weight: bold;
	line-height: 22px;
	text-align: center;
}

.UICreatePage .UIDropDownControl {
	width: 212px;
}

.UICreatePage .UIPortletOptions {
	margin: 0px 6px;
}

.BackNavigationContent {
	padding: 5px 0px 0px 15px; /* orientation=lt */
	padding: 5px 15px 0px 0px; /* orientation=rt */
}

.BackNavigationContent .BackNavigationIcon {
	height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BackIcon.gif') no-repeat;
	padding-left: 22px; /* orientation=lt */
	padding-right: 22px; /* orientation=rt */
	cursor: pointer; 
}

.BackNavigationContent .BackNavigationLabel {
	line-height: 16px;
}

