/**
 * Created by The eXo Platform SARL
 * Author : Luong Trung Hieu 
 *          hieu2b1@yahoo.com         
 * March, 6 , 2007
 * version: $Id$
 */
 
 .UICalendarCreatEvent {
	width: 450px;
	background: url('null') no-repeat;
	margin: 20px auto 10px auto;
}

.UICalendarCreatEvent .FieldContainer {
	padding: 5px;
}

.UICalendarCreatEvent .FieldContainer .AddEventFormLabel {
	float: left;
	width: 80px;
	line-height: 20px;
  text-align:	right;
}

.UICalendarCreatEvent .FieldContainer .AddEventToLabel {
	float: left;
	width: 20px;
	line-height: 20px;
  text-align:	center;
}

.UICalendarCreatEvent .TextareaCreatEvent {
	background:white none repeat scroll 100%;
	border:1px solid gray;
	height:75px;	width:322px;
	margin: 0px 3px;
}

.UICalendarCreatEvent .selectbox {
	float: left;
	margin: 0px 3px;
}

.UICalendarCreatEvent .selectboxCreatOn {
	margin: 0px 3px;
	width: 324px;
}

.UICalendarCreatEvent .EditEventLink {
	color: #0660cc; font-size: 11px;
	line-height: 25px;	
	text-align: right; text-decoration: underline;
	cursor: pointer; 
	padding-right: 40px;
}

.UICalendarCreatEvent .ActionContainer {
	width: 190px;
	margin: 5px 5px 5px 130px;;
}

.UICalendarCreatEvent .ActionContainer .ActionButton {
	width: 85px;
}

.UICalendarCreatEvent .LeftIcon {
	background: url('/eXoResources/icons/16x16/DefaultSkin/AddNewEventIcon.gif') no-repeat;
}