body {
	background:transparent url(../background/BannerRepeat.gif) repeat-x top;
	font-family:Lucida Sans,Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:0;
	padding:0px;
}

.UIPageBody {	
	width: 860px;
	margin: auto;
}

.chapter > .section {
 color: black;
 text-decoration: none; 
}

.chapter > .section a {
 color: black;
}

/* ClearFix */	
.ClearFix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.ClearFix {display: inline-block;}

/* Hides from IE-mac \*/
* html .ClearFix {height: 1%;}
.ClearFix {display: block;}
/* End hide from IE-mac */ 

/*.UIWikiBooks body > div {
	width: 860px;
	margin: auto;
} */

/* ######################## Navigation ######################## */

.docnav {
 list-style: none outside none;
 position: relative;
 text-align: center;
 margin-bottom: 35px;
}

.docnav li {
 list-style: none outside none;
 display: inline;
}

.docnav .previous, .docnav .next {
 position: absolute;
}

.docnav .previous {
 left: 0;
 text-align: left;
}

.docnav .next {
 right: 0;
 text-align: right;
}

.docnav .up, .docnav .home {
 margin: 0 1.5em;
}

.docnav .up {

}

.docnav .home {

}

/*######################### Banner #############################*/

.Banner {
	background:transparent url(../background/BannerBG.gif) no-repeat left top;
	height: 125px;
       /* padding-top: 125px; */
}


.Banner .VersionInfo{
	color: #fac943;
	font-weight: bold;
	font-size: 24px;
	padding: 40px 0px 0px 124px;
}


.WikiBooksContainer{
	padding: 8px 0px;
	border-bottom: 1px solid #ececec;
}

/* ##################### TOC ################### */

h4 {
	font-size: 14px;
}

h3 {
	font-size: 16px;
}

h2, .title a {
	font-size: 18px;
    text-decoration: none;
}

h1 {
	font-size: 20px;
	margin: 4px 0px;
    text-decoration: none;
}

.toc .book a {
	font-size: 20px;
	margin: 4px 0px;
    text-decoration: none;
}

.toc .chapter a {
	font-size: 18px;
    text-decoration: none;
}

.toc a {
  text-decoration: none;
}

.toc a:hover { text-decoration: underline; }

/** **/

/** **/

.BlueText{
	color:#314572;
}

.OrangeText{
	color:#e54c10;
}

.GreenText{
	color:#5384ad;
}

.DarkGreenText{
	color:#422ea6;
}

.GrayText{
	color: #464646;
}

.NormalText{
	font-weight: normal;
}

.BoldText{
	font-weight: bold;
	font-size: 14px;
}

.ItalicText{
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
}

.UnderlineText{
	text-decoration:underline;
	font-weight: normal;
	font-size: 14px;
}

.ChildenContent{
	margin-left: 14px;
	padding: 4px 0px;
}

a{
	color: #314572;
	font-size: 12px;
	font-weight: normal;
}

a:hover{
	color: #e47b00;
/*	text-decoration: underline;*/
}

ul{
	padding-left: 24px;
	margin-left: 0px;
}

ul li{
	color:#314572;
	font-size:14px;
	font-weight:bold;
	list-style:decimal outside none;
}

ul li ul{
	padding-left: 0px;
	margin-left: 0px;
}

ul li ul li{
	list-style:none;
}

ul li ul li ul{
	padding-left: 16px;
}

.section table {
 border-collapse: collapse;
}

th{
	background:#FFCC66;
	color:#22579F;
	font-size:14px;
	text-align:center;
	width:33%;
}



.TextForm, .programlistingco, .screen {
	background: #f3f5e9;
	padding: 0px 12px;
	border: 1px solid #cccccc;
    overflow-x: auto;
}

.footer{
	padding: 8px 0px;
	text-align: right;
	color: #898989;
}

hr {
 display: none;
}

/* ======================= Chapter ===========================*/

.chapter .titlepage h2 , .titlepage .title a{
	font-size: 28px;
	font-weight: bold;
	color: #22579f;
}

.chapter .section .titlepage h2 , .section .titlepage .title a{
	font-size: 26px;
	font-weight: bold;
	color: #22579f;
}

.chapter .section .titlepage h3 a{
	font-size: 20px;
	font-weight: bold;
	color: #22579f;
}

.chapter .section .titlepage h4 a{
	font-size: 16px;
	font-weight: bold;
	color: #22579f;
}

.chapter .section .titlepage h5 a{
	font-size: 14px;
	font-weight: bold;
	color: #22579f;
}

.chapter .section .titlepage h6 a{
	font-size: 12px;
	font-weight: bold;
	color: #22579f;
}

.chapter .toc .section{
	border-top: none;
}

.chapter .section{
	border-top: 1px solid #e4e4e4;
}

.chapter ul{
	padding-left: 0px;
}

.chapter ul li{
	background:transparent url(../background/LIIcon.png) no-repeat left 5px;
	list-style: none;
	padding-left: 20px;
	font-size: 12px;
	color: black;
	font-weight: normal;
}

.chapter ol{
	padding-left: 0px;
}

.chapter ol li{
	background:transparent url(../background/LIIcon.png) no-repeat left 5px;
	list-style: none;
	padding-left: 20px;
	font-size: 12px;
	color: black;
	font-weight: normal;
}

.chapter .note{
	border: 1px solid #ababab;
	background: #d2d1d1 url(../background/NoteIcon.png) no-repeat 5px 5px;
	padding:8px 10px 8px 3px;
	margin: 4px 0px;
}

.chapter .note .title{
	float:left;
	padding:5px 10px 0px 42px;
	font-size: 14px;
	margin: 0px;
	font-weight: normal;
}

.chapter .note p{
	border-left:1px solid #A3A3A3;
	margin:0px 0px 0px 90px;
	padding-left: 12px;
	*padding: 0px 0px 12px 12px;
}

.chapter .note p a{
	padding: 6px 0px;
	display: block;
}

.chapter .note .title a{
	font-size: 14px;
	font-weight: normal;
}

.chapter .warning{
	border: 1px solid #ababab;
	background: #d2d1d1 url(../background/WarningIcon.png) no-repeat 5px 7px;
	padding:8px 10px 8px 3px;
	margin: 4px 0;
}

.chapter .warning .title{
	float:left;
	padding:0 10px 0 38px;
	font-size: 14px;
	margin: 0;
	font-weight: normal;
}

.chapter .warning p{
	border-left:1px solid #A3A3A3;
	margin:2px 0 2px 100px;
	padding-left: 10px;
	*padding: 0 0 12px 12px;
}

.chapter .warning p a{
	padding: 6px 0;
	display: block;
}

.chapter .warning .title a{
	font-size: 14px;
	font-weight: normal;
}


.docnav a{
	border:1px solid #c8c8c8;
	padding:5px 14px;
    text-decoration: none;
}

.chapter .itemizedlist ul li ul li{
	background:url("../background/LIIcon.png") no-repeat scroll left 5px transparent;
	list-style:none outside none;
}

