.UIVerticalSlideTabs {
}

/*#######################-VTabSimpleStyle VerticalSlideTabs-######################*/
.UIVerticalSlideTabs .VTabSimpleStyle .NormalTab {
	line-height: 25px; height: 25px;
	cursor: pointer;
	margin: 2px 1px;
	background: url(background/VTabSimpleStyle.gif) repeat-x top;
	border: 1px solid #d6d6d6;
}

.UIVerticalSlideTabs .VTabSimpleStyle .NormalTab .LeftIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlackNextArrow.gif') no-repeat;
	margin: 5px 2px 0px 3px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .NormalTab .TabLabel {
	float: left;			/* orientation=lt */
	float: right;		/* orientation=rt */
	height: 25px; 
	line-height: 25px;	
	color: #5c5c5c; 
	font-weight: bold; 
	text-transform: capitalize;
}
	
/****-SelectedTab VerticalSlideTabs-****/
.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab {
	height: 25px;
	cursor: pointer;
	margin: 2px 1px 0px 1px;
	background: url(background/VTabSimpleStyle.gif) repeat-x bottom;
	border: 1px solid #8bc0e4;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .LeftIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlackDownArrow.gif') no-repeat;
	margin: 5px 2px 0px 3px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .TabLabel {
	float: left;	 	/* orientation=lt */
	float: right;	 	/* orientation=rt */
	height: 25px; line-height: 25px; 
	color: #1e5bfb; font-weight: bold; text-transform: capitalize;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .ControlContainer {
	float: right;	 	/* orientation=lt */
	float: left; 		/* orientation=rt */
	padding-right: 2px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .ControlIcon {
	float: left;	 	/* orientation=lt */
	float: right;	 	/* orientation=rt */
	margin: 4px 2px 0px 2px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .EditIcon{
	width: 16px;	height: 17px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/EditIcon.png') no-repeat left top;				/* orientation=lt */
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/EditIcon-rt.png') no-repeat right top;		/* orientation=rt */
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .DeleteIcon{
	width: 20px;	height: 17px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DeleteIcon.png') no-repeat;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .UIVTabContent {
	border: 1px solid #d6d6d6; border-top: none;
	padding: 10px;
	margin: 0px 2px 3px 2px;
	background: white;
	text-transform: capitalize;
}

.UIVerticalSlideTabs .VTabSimpleStyle .UIVTabContent {
	border: 1px solid #d6d6d6; border-top: none;
	padding: 10px;
	margin: 0px 1px;
	background: white;
	text-transform:capitalize;
}

/*#######################-VTabStyle3 Style VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .VTabStyle3 .NormalTab	{
	cursor: pointer;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .TabLeft {
	padding: 0px 0px 0px 4px;
	background: transparent url('background/VTabStyle3.gif') no-repeat left top;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .TabRight {
	background: transparent url('background/VTabStyle3.gif') no-repeat right top;
	padding: 0px 4px 0px 0px;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .TabRepeat {
	height: 27px;
	background: url('background/VTabStyle3.gif') repeat-x left -27px;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .LeftIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px;	height: 16px;
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/BlackNextArrow.gif') no-repeat; /* orientation=lt */
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/BlackNextArrow-rt.gif') no-repeat right; /* orientation=rt */
	margin: 6px 2px 0px 3px; /* orientation=lt */
	margin: 6px 3px 0px 2px; /* orientation=rt */
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .TabLabel {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	line-height: 27px;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .SwitchButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 16px;	height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat;
	margin: 6px 3px 0px 0px; /* orientation=lt */
	margin: 6px 0px 0px 3px; /* orientation=rt */
	cursor: pointer;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .UIVTabContent {
	background: #ffffff;
	border: solid 1px #b2b1b1;
	margin: 1px 0px;
	padding: 5px;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .NavigationIcon {
	margin: 6px 0px 0px 0px;
}
/*#######################-SeltectedVTabStyle3 VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab {
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .TabLeft {
	padding: 0px 0px 0px 4px;
	background: url('background/VTabStyle3.gif') no-repeat left -54px;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .TabRight {
	width: auto;
	padding: 0px 4px 0px 0px;
	background: url('background/VTabStyle3.gif') no-repeat right -54px;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .TabRepeat {
	height: 27px;
	background: url('background/VTabStyle3.gif') repeat-x bottom;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .LeftIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlackDownArrow.gif') no-repeat;
	margin: 8px 2px 0px 3px;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .TabLabel {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */;
	line-height: 27px;	vertical-align: middle;
	color: blue;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .SwitchButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 16px;	height: 16px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlackDownArrow.gif') no-repeat;
	margin: 6px 3px 0px 0px;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .UIVTabContent {
	background: #ffffff;
	border: solid 1px #b2b1b1;
	margin: 1px 0px;
	padding: 5px;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .NavigationIcon {
	margin-top: 6px;
}