.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	margin: 0px 5px 5px 5px;
	border: 1px solid #fff;
}

.UIHomePagePortlet .PortletDecoration {	
	padding: 7px 7px 10px 7px;
	border: 1px solid #c6c6c6;
	background: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround {	
	background: #fff url('DefaultSkin/background/BgRepeat.jpg') repeat-x top;
}

.UIHomePagePortlet .AdImageLeft {
	background: url('DefaultSkin/background/LeftHome.jpg') no-repeat left;
}

.UIHomePagePortlet .AdImageRight {
	background: url('DefaultSkin/background/RightHome.gif') no-repeat right;
	text-align: right;
	height: 240px; oveflow: hidden;
	padding: 0px 22% 0px 0px;
	letter-spacing: 1px;
}

.UIHomePagePortlet .AdImageLeft .EmptyBlock {
	height: 100px;
}

.UIHomePagePortlet .AdImageLeft .ProductSlogan {
	font-size: 22px; font-weight: bold;
	height: 45px;
	color: #689a00;
}

.UIHomePagePortlet .AdImageLeft .ProductIntro {
	font-size: 14px;
	color: #315d8f;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContent {
	margin-top: 20px;
}

.UIHomePagePortlet .HomePortletContent .LeftAccountsContainer {
	padding-left: 3px;
	background: url('DefaultSkin/background/BoxLeft.gif') no-repeat left center;
}

.UIHomePagePortlet .HomePortletContent .RightAccountsContainer {
	background: url('DefaultSkin/background/BoxMiddle.gif') repeat-x center;
}

.UIHomePagePortlet .HomePortletContent .MiddleAccountsContainer {
	background: url('DefaultSkin/background/BoxRight.gif') no-repeat right center;
	height: 127px;
	padding: 0px 15px 0px;
}

.UIHomePagePortlet .HomePortletContent .AccountsContainerDeco {
	height: 105px;
	overflow: hidden;
}

.UIHomePagePortlet .HomePortletContent .InstructionTitle {
	font-size: 12px;
	line-height: 22px;
	color: #808185;
}

.UIHomePagePortlet .HomePortletContent .AccountBlock {
	height: 105px;
	float: left;
	padding: 0px 90px 0px 0px;
	text-align: right;
}

.UIHomePagePortlet .HomePortletContent .AdministratorUser {
	background: url('DefaultSkin/background/AdministratorUser.gif') no-repeat right top;
}

.UIHomePagePortlet .HomePortletContent .ManagerUser {
	background: url('DefaultSkin/background/ManagerUser.gif') no-repeat right top;
}

.UIHomePagePortlet .HomePortletContent .NormalUser {
	background: url('DefaultSkin/background/NormalUser.gif') no-repeat right top;
}

.UIHomePagePortlet .HomePortletContent .DemoUser {
	background: url('DefaultSkin/background/DemoUser.gif') no-repeat right top;
}

.UIHomePagePortlet .HomePortletContent .SeparatorLine {
	height: 100px;
	width: 9px;
	float: left;
	padding: 0px 10px 0px;
	background: url('DefaultSkin/background/SeparatorLine.gif') no-repeat;
}

.UIHomePagePortlet .HomePortletContent .AccountInfos {
}

.UIHomePagePortlet span {
	font-weight: bold;
	color: #2c6fbd;
	padding-left: 3px;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContent .AccountTitle {
	font-size: 16px;
	color: #454e56;
	line-height: 44px;
}