.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	margin: 0px 5px 5px 5px;
	border: 1px solid #fff;
}

.UIHomePagePortlet .PortletDecoration {	
	padding: 7px 7px 10px 7px;
	border: 1px solid #c6c6c6;
	background: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround {	
	background: #fff url('DefaultSkin/background/BgRepeat.jpg') repeat-x top;
}

.UIHomePagePortlet .AdImageLeft {
	background: url('DefaultSkin/background/LeftHome.jpg') no-repeat left; /* orientation=lt */
	background: url('DefaultSkin/background/LeftHome-rt.jpg') no-repeat right; /* orientation=rt */
}

.UIHomePagePortlet .AdImageRight {
	background: url('DefaultSkin/background/RightHome.gif') no-repeat right; /* orientation=lt */
	background: url('DefaultSkin/background/RightHome-rt.gif') no-repeat left; /* orientation=rt */
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	height: 240px; oveflow: hidden;
	padding: 0px 22% 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 22%; /* orientation=rt */
	letter-spacing: 1px;
}

.UIHomePagePortlet .AdImageLeft .EmptyBlock {
	height: 100px;
}

.UIHomePagePortlet .AdImageLeft .ProductSlogan {
	font-size: 22px; font-weight: bold;
	height: 45px;
	color: #689a00;
}

.UIHomePagePortlet .AdImageLeft .ProductIntro {
	font-size: 14px;
	color: #315d8f;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContent {
	margin-top: 8px;
}

.UIHomePagePortlet .HomePortletContent .LeftAccountsContainer {
	padding-left: 3px;
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat left -516px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat right -516px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .RightAccountsContainer {
	background: url('DefaultSkin/background/HomePagePortlet.gif') repeat-x center -389px;
}

.UIHomePagePortlet .HomePortletContent .MiddleAccountsContainer {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right -643px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat left -880px; /* orientation=rt */
	height: 127px;
	padding: 0px 15px 0px;
}

.UIHomePagePortlet .HomePortletContent .AccountsContainerDeco {
	height: 105px;
	overflow: hidden;
}

.UIHomePagePortlet .HomePortletContent .InstructionTitle {
	font-size: 12px;
	line-height: 22px;
	color: #808185;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AccountBlock {
	height: 105px; 
	width: 120px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 0px 90px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 90px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AdministratorUser {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right top; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat 10px top; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .ManagerUser {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right -95px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat 10px -95px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .NormalUser {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right -185px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat 10px -185px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .DemoUser {
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat right -275px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat 10px -275px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .SeparatorLine {
	height: 100px;
	width: 9px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 0px 10px 0px;
	background: url('DefaultSkin/background/HomePagePortlet.gif') no-repeat left -770px; /* orientation=lt */
	background: url('DefaultSkin/background/HomePagePortlet-rt.gif') no-repeat right -770px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AccountInfos {
	padding-top: 8px;
}

.UIHomePagePortlet .AccountInfos .Lable {
	line-height: 16px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	display: block;
}

.UIHomePagePortlet .AccountInfos span {
	font-weight: bold;
	color: #2c6fbd;
	padding: 0px 3px;
	line-height: 16px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	display: block;
}

.UIHomePagePortlet .HomePortletContent .AccountTitle {
	font-size: 16px;
	color: #454e56;
	line-height: 40px;
}