.UIChangeLanguageForm {
}

.UIChangeLanguageForm .UIFormTabPane .TabPaneContent {
	padding: 0px;
}

.UIChangeLanguageForm .UIItemSelector .RightColumnStyle .ItemListContainer {
	float: left;
	width: 175px;
}

.UIChangeLanguageForm .UIItemSelector .RightColumnStyle .Title {
 color: #585858;
}

.UIChangeLanguageForm .UIItemSelector .ItemListContainer .ItemList {
  background: white url('background/ItemListBg157x69.gif') no-repeat right bottom;
}

.UIChangeLanguageForm .UIItemSelector .RightColumnStyle .ItemDetailList {
	margin: 0px 0px 0px 180px;
	padding: 0px;
}

.UIChangeLanguageForm .UIItemSelector .ItemDetail .TemplateContainer {
	padding-top: 10px;
}

.UIChangeLanguageForm .UIItemSelector .ItemDetailContaier {
	background: #ffffff;
	border: solid 1px #c3c3c3;
	padding: 6px;
}

.UIChangeLanguageForm .ItemDetail .NormalItem {
	height: 24px;
	border-bottom: solid 1px #e9e7e7;
	cursor: pointer ;
	color: black;
}

.UIChangeLanguageForm .ItemDetail .NormalItem a:hover {
	height: 24px;
	color: blue;
}

.UIChangeLanguageForm .ItemDetail .SelectedItem {
	height: 24px;
	color: #f27e01;
	border-bottom: solid 1px #e9e7e7;
}

.UIChangeLanguageForm .ItemDetail .SelectedItem a {
	color: #f27e01;
}

.UIChangeLanguageForm .ItemDetail .NormalItem .Icon {
	float: left;
	height: 24px; width: 24px;
}

.UIChangeLanguageForm .ItemDetail .SelectedItem .Icon {
	float: left;
	height: 24px; width: 24px;
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/CheckerIcon.gif') no-repeat center;
}

.UIChangeLanguageForm .ItemDetail .NodeLabel {
	float: left;
	line-height: 24px;
	text-align: left;
}

.UIChangeLanguageForm .ItemDetail .PercentLabel {
	line-height: 24px;
	text-align: right;
	padding-right: 20px;
}