.UIContainerConfigOptions {
  background:url('background/UIContainerConfigOptions.png');
  padding: 5px ;
}

.UIContainerConfigOptions .ContainerConfigOptions {
	overflow: hidden;
}

.UIContainerConfigOptions .ScrollArea {
  border: solid 1px #929292;
  border-bottom: solid 1px #c3c3c3; border-right: solid 1px #c3c3c3;
}

.UIContainerConfigOptions .CategoryContainer {
  padding: 10px 0px 20px 0px;
  background: white;
}

.UIContainerConfigOptions .TabContent {
  border:solid 1px #5f90ba; 
  background: white; 
  padding-bottom: 10px;
}

.UIContainerConfigOptions .Title {
  text-align: center; 
  font-weight: bold ;
  height: 20px ; line-height: 20px ;
  border: 1px solid #6c767c;
  background: url('/eXoSkinVista/skin/VistaSkin/background/IconLabelContentBG1x1.png') repeat;  
 }
 
.UIContainerConfigOptions .Title .TitleContainer {
	height: 20px;
}

.UIContainerConfigOptions .Title .TitleContainer .Icon {
	float: left;
	width: 16px; height: 16px;
	margin: 3px 5px 0px 7px;
}

.UIContainerConfigOptions .Title .TitleContainer .LabelText {
	padding-left: 3px;
	height: 20px; line-height: 20px; 
}

.UIContainerConfigOptions .Title .TitleContainer .ArrowButton {
	float: right;
	cursor: pointer ;
}

.UIContainerConfigOptions .UIVTabContent {
  overflow:auto;
  padding:1px;
  background:#ffffff;
}

.UIContainerConfigOptions .OneRowContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move ;
  background:url('background/ContainerConfigOptions.png') no-repeat top;
}

.UIContainerConfigOptions .TwoRowContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat center -56px;
}

.UIContainerConfigOptions .ThreeRowContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat center -112px;
}

.UIContainerConfigOptions .TwoColumnContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat center -168px;
}

.UIContainerConfigOptions .ThreeColumnContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat center -224px;
}

.UIContainerConfigOptions .TwoTabContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat center -280px;
}

.UIContainerConfigOptions .ThreeTabContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat center -336px;
}

.UIContainerConfigOptions .TwoColumnOneRowContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat center -392px;
}

.UIContainerConfigOptions .OneRowTwoColumnContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat center -448px;
}

.UIContainerConfigOptions .OneRow2Column1RowContainerLayout {
  width: 105px;
	height: 56px;
  margin: auto;
	margin-top: 10px;
  cursor: move;
  background:url('background/ContainerConfigOptions.png') no-repeat bottom;
}