.UIPopupMenu {
  display: none;
  background: #e4e4fc ;
  text-align: left ; 
  border: 1px solid #232e8d ;
  cursor: default ;
}

.UIPopupMenu a:hover {
  color: #1a03fa;
}

.UIPopupMenu .MiddleBar {
  margin: 1px;
  border: solid 1px #fcfcfd;
  border-top: 0px;
}

.UIPopupMenu .MenuItem {
  border-top: 1px solid #fcfcfd;
  border-bottom: 1px solid #232e8d;
  height: 26px;
  line-height: 26px;
}

.UIPopupMenu .MenuItem .MenuItemLeftIcon {
  float: left ;
  width: 16px ;  height: 16px ;
  padding: 5px;
}

.UIPopupMenu .MenuItem .MenuItemText {
  float: left ;
}

.UIPopupMenu .MenuItem .MenuItemRightIcon {
  float: right ;
  width: 16px ;  height: 16px ;
  padding: 5px 0px;
}

.UIPopupMenu .MenuItem .MenuItemExpand {
  overflow: visible ;
}

/*Use  float: left to align the popup block with this block*/
.UIPopupMenu .MenuItem .MenuItemEntry {
  overflow: hidden ;  width: 100% ;
  float: left ;
  cursor: pointer;  
}

/*###################-ITEM SELECTED STYLE-#################*/
.UIPopupMenu .MenuItemSelected {
  border-top: 1px solid white;
  border-bottom: 1px solid #232e8d;
  height: 26px;
  line-height: 26px;
  background: #6daad9;
}

.UIPopupMenu .MenuItemSelected .MenuItemLeftIcon {
  float: left ;
  width: 16px ;  height: 16px ;
  padding: 5px;
}

.UIPopupMenu .MenuItemSelected .MenuItemText {
  float: left ;
  color: white;
}

.UIPopupMenu .MenuItemSelected .MenuItemRightIcon {
  float: right ;
  width: 16px ;  height: 16px ;
  padding: 5px 0px;
}

.UIPopupMenu .MenuItemSelected .MenuItemExpand {
  overflow: visible ;
}

/*Use  float: left to align the popup block with this block*/
.UIPopupMenu .MenuItemSelected .MenuItemEntry {
  overflow: hidden ;  width: 100% ;
  float: left ;
  cursor: pointer;  
}

/*###################-END ITEM SELECTED STYLE-#################*/

