.UIChangeSkinForm {
}

.UIChangeSkinForm .MiddleFormTitle {
	background: url('background/MiddleFormTitle1x29.png') repeat-x;
	height: 29px;
	color:#0786E7;
	line-height: 29px;
	font-weight: bold;
	padding-left: 5px;
}

.UIChangeSkinForm .UITabPane .TabPaneContent {
	padding: 0px 10px;
}

.UIChangeSkinForm .UITabPane .UITabContent {
	padding: 0px;
}

.UIChangeSkinForm .UITabPane .UITabContentContainer {
	border: 1px solid #999999;
	border-top: none;
	background: none;
	padding: 0px 5px;
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemListContainer {
  float: left;	/* orientation=lt */
  float: right;		/* orientation=rt */
	width: 205px;
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemDetailList {
	margin: 0px 0px 0px 210px;	/* orientation=lt */
	margin: 0px 210px 0px 0;		/* orientation=rt */
	border: none;
}

.UIChangeSkinForm .UIItemSelector .ItemDetail .TemplateContainer {
	padding-top: 15px;
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .DefaultImage {
	margin: auto; 
	width: 329px; height:204px; 
	background: url('background/ChangeSkinForm.jpg') no-repeat top; 
	cursor: pointer ; 
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .MacImage {
	margin: auto; 
	width: 329px; height: 204px; 
	background: url('background/ChangeSkinForm.jpg') no-repeat center -209px; 
	cursor: pointer ; 
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .VistaImage {
	margin: auto; 
	width: 329px; height: 204px; 
	background: url('background/ChangeSkinForm.jpg') no-repeat center -406px; 
	cursor: pointer ; 
}