.UIExoStart {
}

.UIExoStart a:hover {
  color: #a90920 ;
}

.UIExoStart .StartBarContainer {
  height: 35px ;
  background: url('background/ExoStart.png') repeat-x center -654px;
}

.UIExoStart .ExoStartButton {
  float: left ;
  background-image: url('background/ExoStart.png');	
  width: 50px ; height: 34px;
  cursor: pointer ;
}

.UIExoStart .ButtonNormal {
	background-position: left -112px;
}

.UIExoStart .ButtonOver {
	background-position: left -76px;
}

.UIExoStart .ButtonClicked {
	background-position: left -148px;
}

.UIExoStart .VLineSeparator {
  float: right ;
  width: 2px ; height: 34px ;
  background: url('background/ExoStart.png') no-repeat left -760px;
  margin: 0px 4px 0px 4px ;
}

.UIExoStart .DigitalClockContainer {
  float: right ;
  text-align: center ;
  margin: 0px 9px 0px 0px;
}

.UIExoStart .DigitalClock {
  color: white ;
  line-height: 34px;
  padding-left: 7px;
}

.UIExoStart .StartMenuContainer {
	visibility: visible;
}

.UIExoStart .StartMenuContainer .LoginContainer {
  height: 35px ;
  border: solid 1px #cdcdcd;
}

.UIExoStart .StartMenuContainer .LabelItem {
  cursor: pointer ;
  display: inherit;
  visibility: inherit;
}

.UIExoStart .StartMenuContainer .PortalIcon {
  height: 35px ;
  background: url('background/Portal.png') no-repeat left ;
  padding: 0px 0px 0px 32px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .AdministrationIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat left -445px;
  padding: 0px 0px 0px 42px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .PageCreationWizardIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat left -480px;
  padding: 0px 0px 0px 42px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .EditCurrentPageIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat left -515px;
  padding: 0px 0px 0px 42px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .EditCurrentPortalIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat left -550px;
  padding: 0px 0px 0px 42px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .BrowsePortalsIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat left -584px;
  padding: 0px 0px 0px 42px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .EditNavigationIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat left -515px;
  padding: 0px 0px 0px 42px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .BrowsePagesIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat left -620px;
  padding: 0px 0px 0px 32px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .PageIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat left -655px;
  padding: 0px 0px 0px 28px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .LabelText {
  white-space: nowrap ;
  padding: 0px 5px 0px 4px ;
  line-height: 35px;
}

.UIExoStart .StartMenuContainer .LabelText a {
  color: #201e1e ;
  display: block;
}

.UIExoStart .StartMenuContainer .LabelText a:hover {
  color: #ca0f29 ;
}

.UIExoStart .StartMenuContainer .LogoutIcon {
  height: 35px ;  
  background: url('background/ExoStart.png') no-repeat left -802px;
  padding: 0px 0px 0px 34px ;
  margin-right: 10px;
  float: right;
}

.UIExoStart .StartMenuContainer .HLineSeparator {
  height: 1px ;
  background: url('background/ExoStartDecorator.png') no-repeat bottom;
  margin: 3px 0px 5px 0px ;
}

.UIExoStart .StartMenuContainer .BlackArrowIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat right -690px;
  padding: 0px 25px 0px 0px ;
  display: inherit;
  visibility: inherit;
}

.UIExoStart .StartMenuContainer .NavigationBackground {
  padding: 0px 10px 0px 0px  ;
}

.UIExoStart .StartMenuContainer .NavigationBackground .LabelText {
  font-weight: bold ;
  text-align: right ;
  padding: 0px 15px 0px 0px ;
}

.UIExoStart .StartMenuContainer .NavigationArrowIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat right -725px;
  padding: 0px 24px 0px 0px ;
}

.UIExoStart .StartMenuContainer .MenuContainer {
	padding: 3px 0px 6px 0px;
	position: relative ;
  visibility: visible;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItem {
  background: transparent;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .Icon {
  padding: 0px 0px 0px 35px;
  margin: 0px 0px 0px 6px;
	width: auto;
	height: 35px;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItemOver {
  background: #cbdaf4;
  color: #ca0f29;
}

.UIExoStart .StartMenuContainer .PageNavigationBlock {
  padding: 2px 4px;
}

.UIExoStart .StartMenuContainer .DecoratorBlock .PageOwnerContainer {
  background: white url('background/AddApplicationrBG1x20.gif') repeat-x top;
  background-position: 0px 23px;
  border: solid 1px #b7b7b7 ;
  width: 100%;
  _width: 99%;
}

.UIExoStart .StartMenuContainer .StartMenuContent {
  background: white;
}

.UIExoStart .StartMenuContainer .TopNavigator {
  background: url('background/ExoStart.png') repeat-x center -200px;
	border-bottom: 1px solid #b7b7b7;
	border-left: 1px solid white;
	border-right: 1px solid white;
	cursor: pointer;
}

.UIExoStart .StartMenuContainer .UpNavigatorIcon {
	background: url('icons/16x16/UpNaviArrow.gif') no-repeat center ;
	height: 12px;
	width: 100%;
}

.UIExoStart .StartMenuContainer .DownNavigatorIcon {
	background: url('icons/16x16//DownNaviArrow.gif') no-repeat center ;
	height: 12px;
	width: 100%;
}

.UIExoStart .StartMenuContainer .BottomNavigator {
  background: url('background/ExoStart.png') repeat-x center -183px;
	border-top: 1px solid #b7b7b7;
	border-left: 1px solid white;
	border-right: 1px solid white;
	cursor: pointer;
}

.UIExoStart .StartMenuContainer .NavigationBackground .LabelText {
  font-weight: bold ;
  text-align: right ;
  padding: 0px 15px 0px 0px ;
}

.UIExoStart .StartMenuContainer .NavigationArrowIcon {
  height: 35px ;
  background: url('background/ExoStart.png') no-repeat right -725px;
  padding: 0px 24px 0px 0px ;
}

.UIExoStart .StartMenuContainer .MenuItemContainer {
  visibility: visible;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItem {
	background: transparent;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItemOver {
	background: #cccfff;
	color: #1d61c4;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItemContainer {
  position: absolute ;
  display: none;
	color: #201E1E;
}

.UIExoStart .StartMenuContainer .DecoratorBlock {
  background: #efefef;
}

.UIExoStart .StartMenuContainer .DecoratorBlock .TitleBar {
  line-height: 23px ;
  background: url('background/ExoStart.png') repeat-x center -212px;
  padding: 0px 0px 0px 10px ;
  white-space: nowrap;
  color: #000111;
}

.UIExoStart .StartMenuContainer .BasicIcon {
  height: 35px ;
  background: url(background/ExoStart.png) no-repeat left -235px;
  padding: 0px 0px 0px 32px ;
}

.UIExoStart .StartMenuContainer .AdvancedIcon {
  height: 35px ;  
  background: url(background/ExoStart.png) no-repeat left -270px;
  padding: 0px 0px 0px 32px ;
}

.UIExoStart .StartMenuContainer .SkinSettingIcon {
  height: 35px ;  
  background: url(background/ExoStart.png) no-repeat left -305px;
  padding: 0px 0px 0px 32px;
}

.UIExoStart .StartMenuContainer .LanguageSettingIcon {
  background: url(background/ExoStart.png) no-repeat left -339px;
  padding: 0px 0px 0px 42px ;
  height: 35px;
}

.UIExoStart .StartMenuContainer .ChangePortalIcon {
  background: url(background/ExoStart.png) no-repeat left -375px;
  padding: 0px 0px 0px 32px ;
  height: 35px;
}

.UIExoStart .StartMenuContainer .AccountSettingIcon {
  background: url(background/ExoStart.png) no-repeat left -445px;
  padding: 0px 0px 0px 32px ;
  height: 35px;
}

/*========================Start Menu Decorator======================*/
.UIExoStart .StartMenuDecorator {
}

.UIExoStart .StartMenuDecorator .TopDecorator {
  width: 238px ; height: 40px ;
  background: url('background/ExoStartDecorator.png') no-repeat top;
}

.UIExoStart .StartMenuDecorator .StartMenuTL {
  height:10px;
  background: url('background/ExoStart.png') no-repeat left -24px;
  padding: 0px 0px 0px 11px;
  width: auto;
}

.UIExoStart .StartMenuDecorator .StartMenuTC {
  height: 10px;
  background: url('background/ExoStart.png') repeat-x top;
}

.UIExoStart .StartMenuDecorator .StartMenuTR {
  height: 10px;
  background: url('background/ExoStart.png') no-repeat right -34px;
  padding: 0px 15px 0px 0px;
}

.UIExoStart .StartMenuDecorator .StartMenuML {
  background: url('background/MenuDecoratorML11x1.png') repeat-y left;
  padding: 0px 0px 0px 11px;
}

.UIExoStart .StartMenuDecorator .StartMenuMR {
  background: url('background/MenuDecoratorMR15x1.png') repeat-y right;
  padding: 0px 15px 0px 0px;
}

.UIExoStart .StartMenuDecorator .StartMenuBG {
  background: white;	
  width: 100%;
}

.UIExoStart .StartMenuDecorator .StartMenuBL {
  height: 14px;
  background: url('background/ExoStart.png') no-repeat left -44px;
  padding: 0px 0px 0px 11px;
}

.UIExoStart .StartMenuDecorator .StartMenuBR {
  height: 14px;
  background: url('background/ExoStart.png') no-repeat right -58px;
  padding: 0px 15px 0px 0px ;
}

.UIExoStart .StartMenuDecorator .StartMenuBC {
  height: 14px;
  background: url('background/ExoStart.png') repeat-x center -10px;
}