/* --- DropDown Control Format --- */
.UIDropDownControl {
	margin-bottom: 2px;
}

.UIDropDownControl .UIDropDownAnchor {
	width: 100%;
}

.UIDropDownControl .UIDropDownTitle {
	cursor: pointer;
	height: 100% ;
	border-right: medium none;	/* orientation=lt */
	border-left: medium none;	/* orientation=rt */
	border-top: 1px solid #959595;
	height: 20px;
}

.UIDropDownControl .LeftMiddelItem {
	background: url('background/DropDownControlRepeatY.png') repeat-y left top;
	padding-left: 9px;
}
.UIDropDownControl .RightMiddelItem {
	background: url('background/DropDownControlRepeatY.png') repeat-y right top;
	padding-right: 12px;
}

.UIDropDownControl .RightMiddelItem .ItemListContent {
	width: 100%;
	overflow: hidden;
}

.UIDropDownControl .UIDropDownAnchor .ItemListOption {
	background: url('background/DropDownControl.png') repeat-x left -72px ; 
	cursor: pointer;
	overflow: hidden;
	height: 22px;
	line-height: 22px;
	border-bottom: 1px solid #CDCDCD;
	display: block;
}

.ItemListContent .TopItemContainer {
	height: 15px;
	background: white url('background/UpNaviArrow.gif') no-repeat center;
	border-bottom: 1px solid #cdcdcd;
}

.ItemListContent .MiddleItemContainer {
	overflow: hidden;
}

.ItemListContent .BottomItemContainer {
	height: 15px;
	background: white url('background/DownNaviArrow.gif') no-repeat center;
}

.UIDropDownControl .LeftTopItem {
	background: url('background/DropDownControl.png') no-repeat left top;
	padding-left: 14px;
}

.UIDropDownControl .RightTopItem {
	background:  url('background/DropDownControl.png') no-repeat right -10px;
	padding-right: 18px;
}

.UIDropDownControl .CenterTopItem {
	background: url('background/DropDownControl.png') repeat-x left -20px;
	height: 10px;
}

.UIDropDownControl .LeftBottomItem {
  background: url('background/DropDownControl.png') no-repeat left -30px;
  padding-left: 13px;
}

.UIDropDownControl .RightBottomItem {
  padding-right: 17px;
  background: url('background/DropDownControl.png') no-repeat right -44px;
}

.UIDropDownControl .CenterBottomItem {
  height: 14px;
  background: url('background/DropDownControl.png') repeat-x left -58px;
}

.UIDropDownControl .UIDropDownLeftTitle {
	background: url(/eXoSkinVista/skin/VistaSkin/background/IconLabelContentBG1x1.png) repeat center;
	border: 1px solid #959595 ;
	border-top: none;
	cursor: pointer;
	padding-left: 8px; 	/* orientation=lt */
	padding-right: 8px; 	/* orientation=rt */
	height: 20px;
}

.UIDropDownControl .UIDropDownMiddleTitle .ComponentIcon {
  height: 20px;
	padding-left: 16px; 	/* orientation=lt */
	padding-right: 23px; 	/* orientation=rt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ImagesList.gif') no-repeat center left;	/* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ImagesList.gif') no-repeat center right;	/* orientation=rt */
}

.UIDropDownControl .UIDropDownMiddleTitle .Icon {
	width: auto;
}

.UIDropDownControl .DropDownSelectIcon {
	background: url('background/SelectedIcon.png') no-repeat right center;		/* orientation=lt */
	background: url('background/SelectedIcon-rt.png') no-repeat left center;		/* orientation=rt */
	cursor: pointer;
	height: 20px;
	padding-right: 20px; 	/* orientation=lt */
	padding-left: 20px; 	/* orientation=rt */	
}

.UIDropDownControl .DropDownSelectLabel {
	font-size: 10px;
	font-weight: bold;
	line-height: 19px;
	height: 19px;
	margin-left: 6px;
	overflow: hidden;
	margin-left: 5px;
	width: 97%;
}

.UIDropDownControl .OptionItem {
	background: transparent url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif) no-repeat left 3px; 	/* orientation=lt */
	background: transparent url(/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow-rt.gif) no-repeat right; 	/* orientation=rt */	
	padding: 0px 4px 0px 17px;	/* orientation=lt */
	padding: 0px 17px 0px 4px; /* orientation=rt */	
	display: block;
}

.UIDropDownControl .OptionItem:hover {
	color: blue;
}

.UIDropDownControl .UIPopupControl {
	position: absolute;
	right: -93px ;
	width: 120px ;
	top: 20px ;
}

/* -- menu Item --*/
.UIPopupControl .MenuItem {
	color: #333 ;
  background: #efefef ;
  border-bottom: 1px #cdcdcd solid ;
  cursor: pointer ;
  display: block ;
}

.UIPopupControl .MenuItem:hover {
	background: #cbcff2;
  color: #2569dc;
}

.UIPopupControl .MenuItem .ItemLabel {
	padding-left: 18px;
  height: 22px;
  line-height: 22px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left center;
}
/* -- end menuItem --*/
