.UIPageDesktop {
  position: relative ;
  z-index: 0 ;
  top: 0px; left: 0px ;
  overflow: hidden ;
}

.UIPageDesktop .UIDockBar {
  margin: auto ;
  height: auto ;
  z-index: 30 ;
  cursor: pointer ;
}

.UIPageDesktop .UIDockBar .Icon {
  width: 40px ; height: 40px ;
}

.UIPageDesktop .UIDockBar .DockbarLeft {
  background: url('MacSkin/background/LeftDockbar2x47.png') no-repeat left bottom ;
  padding: 0px 0px 0px 2px ;
}

.UIPageDesktop .UIDockBar .DockbarRight {
  background: url('MacSkin/background/RightDockbar2x47.png') no-repeat right bottom ;
  padding: 0px 2px 0px 0px ;
}

.UIPageDesktop .UIDockBar .DockbarCenter {
  height: 47px ;
  background: url('MacSkin/background/CenterDockbar1x47.png') repeat-x bottom ;
}

.UIPageDesktop .UIDockBar .IconContainer {
  vertical-align: bottom ;
	padding: 3px 0px 0px 0px ;
  margin: auto ;
}

.UIPageDesktop .UIDockBar .Separator { 
	width: 2px; height: 42px;
	margin: 0px 5px ;
}

.UIPageDesktop .UIDockBar .Tooltip {
	height: 20px ;
	position: absolute ;
	background: #ededed ; white-space: nowrap ;
	padding: 2px 5px 0px 5px ;
	border: solid 1px black ;
}

.UIPageDesktop .MoveResizeArea {
  float: right ;
  width: 12px ; height: 18px ; 
  background: blue ;
  cursor: nw-resize ;
}

.UIPageDesktop .UIApplication {
  overflow: auto ;
}