.UIWidgets {
	padding: 4px 0px;
}

.UIWidgets .TopLeftWidgets {
	background: url('VistaSkin/background/TopLeftWidgets7x14.png') no-repeat left bottom;
	padding: 0px 0px 0px 7px;
}

.UIWidgets .TopRightWidgets {
	background: url('VistaSkin/background/TopRightWidgets7x14.png') no-repeat right bottom;
	padding: 0px 7px 0px 0px;
}

.UIWidgets .TopMiddleWidgets {
	background: url('VistaSkin/background/TopMiddleWidgets1x14.png') repeat-x bottom;
	height: 14px;
}

.UIWidgets .CenterLeftWidgets {
	background: url('VistaSkin/background/CenterLeftWidgets4x1.png') repeat-y left;
	padding: 0px 0px 0px 4px;
}

.UIWidgets .CenterRightWidgets {
	background: url('VistaSkin/background/CenterRightWidgets5x1.png') repeat-y right;
	padding: 0px 5px 0px 0px;
}

.UIWidgets .BottomLeftWidgets {
	background: url('VistaSkin/background/BottomLeftWidgets6x9.png') no-repeat left bottom;
	padding: 0px 0px 0px 6px;
}

.UIWidgets .BottomRightWidgets {
	background: url('VistaSkin/background/BottomRightWidgets7x9.png') no-repeat right bottom;
	padding: 0px 7px 0px 0px;
}

.UIWidgets .BottomMiddleWidgets {
	background: url('VistaSkin/background/BottomMiddleWidgets1x9.png') repeat-x bottom;
	height: 9px;
}

/******************************* UICaegorySelector  **********************************/
.UICaegorySelector {
}

.UIWidgets .UICaegorySelector {
	border-bottom: 1px solid #ffffff;
}

.UICaegorySelector .IconLabelContent {
	background: url('/eXoResources/background/VistaSkin/IconLabelContentBG1x1.png') repeat;
	padding-left: 8px;
	border: 1px solid #6c767c;
	height: 20px;
}

.UICaegorySelector .IconLabelContent .WidgetIcon {
	float: left;
	padding: 2px 0px 0px 0px;
	height: 16px; width: 16px; 
	background: url('VistaSkin/icon/IconWidget.png') no-repeat center;
}

.UICaegorySelector .IconLabelContent .WidgetLabel {
	float: left;
	line-height: 19px;
	font-size: 11px; font-weight: bold;
	margin-left: 8px;
}


.UIWidgets .EditIcon {
	float: left;
	width: 19px; height: 21px;
	background: url('VistaSkin/icon/EditIcon.png') no-repeat center;
	cursor: pointer;		
}

.UIWidgets .UIDropDownItemSelector {
	float: left;
	width: 208px;
}

.UIWidgets .UIDropDownItemSelector .ComponentIcon {
	background: url('VistaSkin/icon/IconWidget.png') no-repeat center;
}

/***************************************  UIWidgetContainer   **************************************/
.UIWidgetContainer {
	padding-top: 5px;
}

.UIWidgetContainer .eXoInfoWidgetImage {
	margin: auto;
	padding: 3px 0px 0px 0px;
	width: 185px; height: 206px;
	background: url('VistaSkin/background/InfoImage185x203.png') no-repeat center;	
}

.UIWidgetContainer .eXoInfoWidgetImage .TopWidgetImage {
  height:157px;
}

.UIWidgetContainer .eXoInfoWidgetImage .Download {
	margin: auto;
	width: 120px; height: 20px;
	cursor: pointer;	
}

.UIWidgetContainer .WidgetControl {
  height: 21px;
  padding-right: 15px;
}

.UIWidgetContainer .WidgetControl .WidgetControlContent {
  float: right;
	width: 57px; height: 21px;
	background: url('VistaSkin/background/WidgetControl57x21.png') no-repeat center;
}

.UIWidgetContainer .WidgetControl .CloseWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 2px 0px 0px 5px;
}

.UIWidgetContainer .WidgetControl .EditWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	margin: 2px 0px 0px 10px;
	cursor: pointer;	
}

.UIWidgetContainer .WidgetNavigator {
	height: 27px;
	margin: 2px 0px 0px 0px;
}

.UIWidgets .ContentIcon {
	padding-top: 1px;
}

.UIWidgets .ControlBar {
	width: 93px;
	float: right;
}

.UIWidgets .ControlBar .Icon24x24 {
	float: right;
	width: 24px; height: 24px;
	cursor: pointer;
}

.UIWidgets .ControlBar .AddIcon {
	background: url('VistaSkin/icon/AddIcon.png') no-repeat center;
	margin: 1px 0px 0px 0px;
}

.UIWidgets .ControlBar .DownBrownArrowIcon {
	background: url('VistaSkin/icon/DownNomalIcon.png') no-repeat center;
}

.UIWidgets .ControlBar .DownBlueArrowIcon {
	background: url('VistaSkin/icon/DownSelectIcon.png') no-repeat center;
}

.UIWidgets .ControlBar .UpBlueArrowIcon {
	background: url('VistaSkin/icon/UpSelectIcon.png') no-repeat center;
}

.UIWidgets .ControlBar .UpBrownArrowIcon {
	background: url('VistaSkin/icon/UpNomalIcon.png') no-repeat center;
}