/*##############################-Page Layout Decorator-################################*/
.UIPageBody .PageLayoutDecorator {
	padding: 0px;
}

.UIPageBody .PageLayoutDecorator .TopLeftPage {
  background: url('background/PageLayout.png') no-repeat left top; /* orientation=lt */
  background: url('background/PageLayout-rt.png') no-repeat right top; /* orientation=rt */
  padding: 0px 0px 0px 98px ; /* orientation=lt */
  padding: 0px 98px 0px 0px ; /* orientation=rt */
  _padding: 0px 0px 0px 95px ; /* orientation=lt */
  _padding: 0px 95px 0px 0px ; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .TopRightPage {
  background: url('background/PageLayout.png') no-repeat right -78px; /* orientation=lt */
  background: url('background/PageLayout-rt.png') no-repeat left -78px; /* orientation=rt */
  padding-right: 15px ; /* orientation=lt */
  padding-left: 15px ;  /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .TopCenterPage {
  line-height: 78px;
  height: 78px;
  background: url('background/PageLayout.png') repeat-x center -156px ; 
  color: #3b3b3b; 
  font-weight: bold;
	text-align: center; white-space: nowrap;
}

.UIPageBody .PageLayoutDecorator .TopCenterPage .PageContent {
	height: 78px;
}

.UIPageBody .PageLayoutDecorator .MiddleLeftPage {
  background: url('background/MiddlePageLayout.png') repeat-y left ; /* orientation=lt */
  background: url('background/MiddlePageLayout-rt.png') repeat-y right ; /* orientation=rt */
  padding: 0px 0px 0px 12px ;  /* orientation=lt */
  padding: 0px 12px 0px 0px ;  /* orientation=rt */  
}

.UIPageBody .PageLayoutDecorator .MiddleRightPage {
  background: url('background/MiddlePageLayout.png') repeat-y right; /* orientation=lt */
  background: url('background/MiddlePageLayout-rt.png') repeat-y left; /* orientation=rt */
  padding: 0px 15px 0px 0px ; /* orientation=lt */
  padding: 0px 0px 0px 15px ; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .MiddlePageBG {
  background: url('background/PageContentBG1x108.png'); 
}

.UIPageBody .PageLayoutDecorator .MiddlePageBG .FixBug {
  height: 108px; 
}

.UIPageBody .PageLayoutDecorator .BottomLeftPage {
  background: url('background/PageLayout.png') no-repeat left -234px; /* orientation=lt */
  background: url('background/PageLayout-rt.png') no-repeat right -234px; /* orientation=rt */
  padding: 0px 0px 0px 12px ; /* orientation=lt */
  padding: 0px 12px 0px 0px ; /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .BottomRightPage {
  background: url('background/PageLayout.png') no-repeat right -249px; /* orientation=lt */
  background: url('background/PageLayout-rt.png') no-repeat left -249px; /* orientation=rt */
  padding: 0px 15px 0px 0px;  /* orientation=lt */
  padding: 0px 0px 0px 15px;  /* orientation=rt */
}

.UIPageBody .PageLayoutDecorator .BottomCenterPage {
    background: url('background/PageLayout.png') repeat-x bottom; 
}

.BottomDecoratorHome .BottomDecoratorLeft{
	background: url('background/BottomDecoratorHome.png') no-repeat left;
	padding-left: 7px;
}

.BottomDecoratorHome .BottomDecoratorRight{
	background: url('background/BottomDecoratorHome.png') no-repeat right;
	padding-right: 7px;
}

.BottomDecoratorHome .BottomDecoratorMiddle{
	background: white;
	height: 7px;
}

.UIPageBody .PageLayoutDecorator .BottomCenterPage .FixBug {
  height: 15px;
}

.UIPage .VIEW-PAGE {
  padding: 0px;
}

.UIPageBody .VIEW-PAGEBODY .UIPage {
	padding: 0 8px;
}