.UIAccountSetting {
  padding: 15px 15px 10px 15px;
}

.UIAccountSetting .ContentContainer {
}

.UIAccountSetting .WorkingArea {
  padding: 15px 15px 25px 15px;
}

.UIAccountSetting .UIHorizontalTabs {
  color: #202020; font-weight: normal;
  height: 32px;
}

.UIAccountSetting .UIHorizontalTabs .LeftHorizontalTabs {
  padding-left: 11px; 
  background: url('background/LeftTitleBar11x32.gif') no-repeat left top;
  height: 32px;
}

.UIAccountSetting .UIHorizontalTabs .RightHorizontalTabs {
  padding-right: 11px;
  background: url('background/RightTitleBar11x32.gif') no-repeat right top;
  height: 32px;
}

.UIAccountSetting .UIHorizontalTabs .CenterHorizontalTabs {
  background: url('background/CenterTitleBar1x32.gif') repeat-x top;
  cursor: pointer;
  height: 32px;
  line-height: 32px;
}

.UIAccountSetting .UIHorizontalTabs .UITab a.Icon {
	padding-left: 20px;
	display: block;
	line-height: 26px;
}

.UIAccountSetting .UIHorizontalTabs .UITab .AccountProfiles {
	background: url('icons/AccountProfileIcon.gif') no-repeat left center;
}

.UIAccountSetting .UIHorizontalTabs .UITab .ChangePass {
	background: url('icons/ChangePassIcon.gif') no-repeat left center;
}

.UIAccountSetting .UIHorizontalTabs .UITab .NormalTab a {
	font-weight: bold;
	color: gray; 
	margin-top: 2px;
}

.UIAccountSetting .UIHorizontalTabs .NormalTab .MiddleTab {
  cursor: pointer;
  padding: 0px 6px;
}

.UIAccountSetting .UIHorizontalTabs .UITab .HighlightTab a {
	font-weight: bold;
	color: #058ee6; 
	margin-top: 2px;
}

.UIAccountSetting .UIHorizontalTabs .UITab .SelectedTab a {
	font-weight: bold;
	color: #058ee6; 
	margin-top: 2px;
}

.UIAccountSetting .UIHorizontalTabs .SelectedTab .MiddleTab {
  line-height: 30px;
  background: url('background/LeftSelectedFlatTabStyle1x29.gif') repeat-x bottom;
  cursor: pointer;
  padding: 0px 6px;
}

.UIAccountSetting .UIHorizontalTabs .LineSeparator {
  float: left;
  background: url('background/LineSeparator2x29.gif') no-repeat left;
  height: 22px;  width: 2px;
  margin-top: 5px;
}

.UIAccountSetting .UITabPane .WorkingAreaWithHelp .UITabContentContainer {
	border-top: none;
}

.UIAccountSetting .UITabPane .UITabContentContainer .UITabContent {
	background: transparent;
	border: none;
}

.UIAccountSetting .UIForm .HorizontalLayout {
	border: none;
	height: 190px;
	padding: 20px 0px;
}

.UIAccountSetting .UIFormGrid td.FieldLabel {
	width: 200px;
}

