.UIExoStart {}

#StartMenuContainer {
  position: absolute;
}

.UIExoStart .StartBarContainer {
  height: 38px;
  background: url('background/ControlBg1x38.gif') repeat-x top;
}

.UIExoStart .ExoStartButton {
  float: left ;
  width: 103px ; height: 38px ;
  margin: 0px ;
  cursor: pointer ;
}

.UIExoStart .ButtonNormal {
  background: url('background/ExoStartNormal.gif') ;
}

.UIExoStart .ButtonOver {
  background: url('background/ExoStartOver.gif') ;
}

.UIExoStart .ButtonClicked {
  background: url('background/ExoStartSelected.gif') ;
}

.UIExoStart .VLineSeparator {
  float: right ;
  width: 2px ; height: 38px ;
  background: url('background/LineSeparator2x38.gif') no-repeat ;
  margin: 0px 4px;
}

.UIExoStart .DigitalClockContainer {
  float: right ;
  text-align: center ;
  margin: 0px 9px;
}

.UIExoStart .DigitalClock {
  margin: 0px ;
  line-height: 37px;
}

.UIExoStart .StartMenuContainer .LoginContainer {
  height: 35px ;
  background: url('background/LoginBg1x35.gif') repeat-x ;
  border-top: solid 1px #b7b7b7;
}

.UIExoStart .StartMenuContainer .LabelItem {
  padding: 0px 5px 0px 2px ;
  cursor: pointer ;
}

.UIExoStart .StartMenuContainer .PortalIcon {
  height: 33px ;
  background: url('icons/32x32/Portal.gif') no-repeat left ;
  display: inherit;
  visibility: inherit;
}

.UIExoStart .StartMenuContainer .AdministrationIcon {
  background: url('icons/32x32/Administration.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .PageCreationWizardIcon {
  background: url('icons/32x32/PageCreation.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .EditCurrentPageIcon {
  background: url('icons/32x32/EditPage.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .EditCurrentPortalIcon {
  background: url('icons/32x32/EditPortal.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .CreateNavigationIcon {
  background: url('icons/32x32/EditPage.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .EditNavigationIcon {
  background: url('icons/32x32/EditPage.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .BrowsePortalsIcon {
  background: url('icons/32x32/ManagePortal.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .BrowsePagesIcon {
  background: url('icons/32x32/ManagePage.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .PageIcon {
  background: url('icons/32x32/Page.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .PageNodeIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DefaultPageIcon.gif') no-repeat left ;
  padding: 0px 0px 0px 18px ;
  margin: 0px 0px 0px 5px ;
}

.UIExoStart .StartMenuContainer .SystemIcon {
  background: url('icons/32x32/System.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .LabelText {
  white-space: nowrap ;
  padding: 10px 5px 0px 6px ;
}

.UIExoStart .StartMenuContainer .LabelText a {
  color: #201e1e ;
}

.UIExoStart .StartMenuContainer .LabelText a:hover {
  color: blue ;
}

.UIExoStart .StartMenuContainer .SupportIcon {
  background: url('icons/24x24/HelpIcon.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .RefreshIcon {
  background: url('icons/32x32/Refresh.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .LogoutIcon {
  height: 33px ;  
  background: url('icons/32x32/LogoutIcon.gif') no-repeat left ;
  padding: 0px 0px 0px 32px ;
  margin: 0px 0px 0px 120px ;
}

.UIExoStart .StartMenuContainer .LoginIcon {
  height: 33px ;  
  background: url('icons/24x24/BlueLoginIcon.gif') no-repeat left ;
  padding: 0px 0px 0px 32px ;
  margin: 0px 0px 0px 120px ;
}

.UIExoStart .StartMenuContainer .HLineSeparator {
  height: 1px ;
  background: url('background/HLineSeparator165x1.jpg') no-repeat center ;
  margin: 3px 0px 5px 0px ;
}

.UIExoStart .StartMenuContainer .BlackArrowIcon {
  height: 33px ;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat right ;
  padding: 0px 25px 0px 0px ;
  display: inherit;
  visibility: inherit;
}

.UIExoStart .StartMenuContainer .NavigationBackground {
  padding: 3px 30px 0px 0px;
}

.UIExoStart .StartMenuContainer .NavigationBackground .LabelText {
  font-weight: bold ;
  text-align: right ;
  padding: 7px 0px 0px 0px ;
  width: auto;
}

.UIExoStart .StartMenuContainer .NavigationArrowIcon {
  height: 30px ;
  background: url('icons/24x24/GreenArrow.gif') no-repeat right ;
  padding: 0px 35px 0px 0px ;
}

.UIExoStart .StartMenuContainer .MenuItemContainer {
  position: relative ;
  visibility: visible;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItem {
	background: transparent;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .Icon {
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 0px 5px;
  height: 35px; width: auto;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItemOver {
	background: #cbd3f2;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItemContainer {
  position: absolute ;
  display: none;
}

.UIExoStart .StartMenuContainer .NavigationContainer {
  width: 220px ;
}

.UIExoStart .StartMenuContainer .DecoratorBlock {
  padding: 2px 0px;
}

.UIExoStart .StartMenuContainer .DecoratorBlock .PageOwnerContainer{
  background: #efeefa ;
  border: solid 1px #b7b7b7 ;
}

.UIExoStart .StartMenuContainer .DecoratorBlock .TitleBar {
  height: 20px ; line-height: 20px;
  background: url('background/TitleBar1x20.gif') repeat-x ;
  padding-left: 10px ;
}

.UIExoStart .StartMenuContainer .BasicIcon {
  background: url('icons/32x32/BasicCustomization.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .AdvancedIcon {
  background: url('icons/32x32/AdvancedCustomization.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .ChangeSkinIcon {
  background: url('icons/32x32/ChangeSkin.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .SkinSettingIcon {
  background: url('icons/32x32/ChangeSkin.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .DefaultSkinIcon {
  background: url('icons/32x32/ExoSkin.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .MacSkinIcon {
  background: url('icons/32x32/MacSkin.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .VistaSkinIcon {
  background: url('icons/32x32/VistaSkin.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .ChangeLanguageIcon {
  background: url('icons/32x32/ChangeLanguage.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .LanguageSettingIcon {
  background: url('icons/32x32/ChangeLanguage.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .LanguageItemIcon {
  background: url('icons/16x16/LanguageIcon.gif') no-repeat left ;
}

.UIExoStart .StartMenuContainer .ChangePortalIcon {
  background: url('icons/32x32/ChangePortal.gif') no-repeat left ;
}
/*========================Start Menu Decorator======================*/
.UIExoStart .StartMenuDecorator {
	width: 100%;
	display: inherit;
	visibility: inherit;
}

.UIExoStart .StartMenuDecorator .TopDecorator {
  width: 238px ; height: 35px ;
  background: url('background/TopMenuDecorator238x35.gif') bottom no-repeat ;
}

.UIExoStart .StartMenuDecorator .StartMenuTL {
  background: url('background/StartMenuTL3x6.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIExoStart .StartMenuDecorator .StartMenuTC {
  height:6px;
  background: url('background/StartMenuTC1x6.gif') repeat-x;
}

.UIExoStart .StartMenuDecorator .StartMenuTR {
  background: url('background/StartMenuTR3x6.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIExoStart .StartMenuDecorator .StartMenuML {
  background: url('background/StartMenuML3x1.gif') repeat-y left;
  padding: 0px 0px 0px 3px;
}

.UIExoStart .StartMenuDecorator .StartMenuMR {
  background: url('background/StartMenuMR3x1.gif') repeat-y right;
  padding: 0px 3px 0px 0px ;
}

.UIExoStart .StartMenuDecorator .StartMenuBG {
  background: white;
}

.UIExoStart .StartMenuDecorator .StartMenuBL {
  background: url('background/StartMenuBL3x3.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
  width: auto;
}

.UIExoStart .StartMenuDecorator .StartMenuBR {
  background: url('background/StartMenuBR3x3.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIExoStart .StartMenuDecorator .StartMenuBC {
  height: 3px;
  background: url('background/StartMenuBC1x3.gif') repeat-x ;
}