.UIExoStart {
}
	
#StartMenuContainer {
	position: absolute; 
}

.UIExoStart .StartBarContainer {
	height: 38px;
	background: url('background/StartMenuContainer.gif') repeat-x center -35px;
}

.UIExoStart .ExoStartButton {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 94px; 
	height: 38px;
	margin: 0px;
	cursor: pointer;
}

.UIExoStart .ButtonNormal {
	background: url('background/Exostart.gif') no-repeat -4px -45px;
}

.UIExoStart .ButtonOver {
	background: url('background/Exostart.gif') -98px -45px;
}

.UIExoStart .ButtonClicked {
	background: url('background/Exostart.gif') no-repeat -4px -84px;
}

.UIExoStart .VLineSeparator {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 2px; height: 38px;
	background: url('background/Exostart.gif') no-repeat right -84px;
	margin: 0px 4px;
}

.UIExoStart .DigitalClockContainer {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	text-align: center;
	margin: 0px 9px;
}

.UIExoStart .DigitalClock {
	margin: 0px;
	line-height: 37px;
}

.UIExoStart .StartMenuContainer .LoginContainer {
	height: 35px;
	background: url('background/StartMenuContainer.gif') repeat-x top;
	border-top: solid 1px #b7b7b7;
}

.UIExoStart .StartMenuContainer .LabelItem {
	padding: 0px 0px 0px 2px;
	cursor: pointer;
}

.UIExoStart .StartMenuContainer .Icon {
	padding: 0px 0px 0px 30px; /* orientation=lt */
	padding: 0px 30px 0px 0px; /* orientation=rt */
	margin: 0px 0px 0px 5px; /* orientation=lt */
	margin: 0px 5px 0px 0px; /* orientation=rt */
	background-position: left; /* orientation=lt */
	background-position: right; /* orientation=rt */
	height: 32px; 
	width: auto;
}

.UIExoStart .StartMenuContainer .AdministrationIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -152px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -152px; /* orientation=rt */
	
}

.UIExoStart .StartMenuContainer .PageCreationWizardIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -376px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -376px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .EditCurrentPageIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -408px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -408px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .EditCurrentPortalIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -440px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -440px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .EditNavigationIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -408px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -408px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .BrowsePortalsIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -536px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -536px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .BrowsePagesIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -472px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -472px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .LabelText {
	white-space: nowrap;
	padding: 0px 5px 0px 6px;
	line-height: 32px;
	height: auto;
}

.UIExoStart a {
	color: #1b1b1b;
	display: block;
}

.UIExoStart a:hover {
	color: #058ee6;
}

.UIExoStart .StartMenuContainer .LogoutIcon {
	height: 33px;	
	background: url('background/StartMenuContainer.gif') no-repeat left -91px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -91px; /* orientation=rt */
	padding: 0px 0px 0px 34px; /* orientation=lt */
	padding: 0px 34px 0px 0px; /* orientation=rt */
	float: right;/* orientation=lt */
	float: left;/* orientation=rt */
	margin-right: 10px;/* orientation=lt */
	margin-left: 10px;/* orientation=rt */
}

.UIExoStart .StartMenuContainer .LogoutIcon a {
	line-height: 32px;
}

.UIExoStart .StartMenuContainer .HLineSeparator {
	height: 1px;
	background: url('background/Exostart.gif') no-repeat center -36px;
	margin: 3px 0px 5px 0px;
}

.UIExoStart .StartMenuContainer .BlackArrowIcon {
	background: url('background/StartMenuContainer.gif') no-repeat right -184px; /* orientation=lt */
	background: url('background/StartMenuContainer-rt.gif') no-repeat left -184px; /* orientation=rt */
	padding: 0px 25px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 25px; /* orientation=rt */
	margin-right: 5px; /* orientation=lt */
	margin-left: 5px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .NavigationBackground {
	padding: 0px 10px 0px 0px;
}

.UIExoStart .StartMenuContainer .NavigationBackground .LabelText {
	font-weight: bold;
	text-align: right;
}

.UIExoStart .StartMenuContainer .NavigationArrowIcon {
	height: 30px;
	background: url('background/StartMenuContainer.gif') no-repeat right -122px; /* orientation=lt */
	background: url('background/StartMenuContainer-rt.gif') no-repeat left -122px; /* orientation=rt */
	padding: 0px 25px 0px 0px; /* orientation=lt */
	padding: 0px 0px 0px 25px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .MenuItemContainer {
	visibility: visible;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItem {
	background: transparent;
	color: #1b1b1b;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItemOver {
	background: #cbd3f2;
	color: #058ee6;
}

.UIExoStart .StartMenuContainer .MenuItemContainer .MenuItemContainer {
	position: absolute;
	display: none;
}

.UIExoStart .StartMenuContainer .MenuContainer {
	padding: 2px 0px 5px 0px;
}

.UIExoStart .StartMenuContainer .PageNavigationBlock {
	padding: 2px 4px;
}

.UIExoStart .StartMenuContainer .DecoratorBlock {
	border: 1px solid #d0d0d0;
}

.UIExoStart .StartMenuContainer .DecoratorBlock .PageOwnerContainer {
	background: #f5f4ff;
	padding-bottom: 5px;
	width: 100%;
	*border-right: 1px solid #D0D0D0; /* orientation=lt */
	_border-right: 1px solid none; /* orientation=lt */
}

.UIExoStart .StartMenuContainer .DecoratorBlock .TitleBar {
	line-height: 18px;
	background: url('background/StartMenuContainer.gif') repeat-x center -73px;
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
	color: #125aad;
	white-space: nowrap;
}

.UIExoStart .StartMenuContainer .StartMenuContent {
	padding: 5px;
	background: white;
}

.UIExoStart .StartMenuContainer .TopNavigator {
	height: 10px;
	background: url('background/UpNaviArrow.gif') no-repeat center;
	cursor: pointer;
	border-bottom: 1px solid #797979;
}

.UIExoStart .StartMenuContainer .BottomNavigator {
	height: 10px;
	background: url('background/DownNaviArrow.gif') no-repeat center;
	cursor: pointer;
	border-top: 1px solid #797979;
}

.UIExoStart .StartMenuContainer .BasicIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -344px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -344px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .AdvancedIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -312px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -312px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .SkinSettingIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -504px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -504px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .LanguageSettingIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -280px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -280px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .ChangePortalIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -248px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -248px; /* orientation=rt */
}

.UIExoStart .StartMenuContainer .AccountSettingIcon {
	background: url('background/StartMenuContainer.gif') no-repeat left -216px; /* orientation=lt */
	background: url('background/StartMenuContainer.gif') no-repeat right -216px; /* orientation=rt */
}

/*========================Start Menu Decorator======================*/

.UIExoStart .StartMenuDecorator {
	width: 100%;
}

.UIExoStart .StartMenuDecorator .TopDecorator {
	width: 238px; height: 35px;
	background: url('background/Exostart.gif') no-repeat top;
}

.UIExoStart .StartMenuDecorator .StartMenuTL {
	background: url('background/Exostart.gif') no-repeat left -46px;
	padding: 0px 0px 0px 3px;
}

.UIExoStart .StartMenuDecorator .StartMenuTC {
	height: 3px;
	line-height: 3px;
	width: 100%;
	background: url('background/Exostart.gif') repeat-x center -38px;
}

.UIExoStart .StartMenuDecorator .StartMenuTR {
	background: url('background/Exostart.gif') no-repeat right -46px;
	padding: 0px 3px 0px 0px;
	height: 3px;
	line-height: 3px;
}

.UIExoStart .StartMenuDecorator .StartMenuML {
	background: url('background/MiddleStartMenu.gif') repeat-y left;
	padding: 0px 0px 0px 3px;
}

.UIExoStart .StartMenuDecorator .StartMenuMR {
	background: url('background/MiddleStartMenu.gif') repeat-y right;
	padding: 0px 3px 0px 0px;
}

.UIExoStart .StartMenuDecorator .StartMenuBG {
	background: white;
	width: 100%;
}

.UIExoStart .StartMenuDecorator .StartMenuBL {
	background: url('background/Exostart.gif') no-repeat left -50px;
	padding: 0px 0px 0px 3px;
	height: 3px;
	line-height: 3px;
}

.UIExoStart .StartMenuDecorator .StartMenuBR {
	background: url('background/Exostart.gif') no-repeat right -50px;
	padding: 0px 3px 0px 0px;
	height: 3px;
	line-height: 3px;
}

.UIExoStart .StartMenuDecorator .StartMenuBC {
	height: 3px;
	background: url('background/Exostart.gif') repeat-x center -42px;
}