.UIPageIterator {    
  width: 400px ;  height: 24px ;
  font-size: 11px ;  
  margin-top: 2px ;
  margin-left: auto ;
  border: 1px solid #afafaf;
  background: #f4f4f4;
}

.UIPageIterator .PageIteratorContainer {    
  float: right ;
  line-height: 24px ;  vertical-align: middle ;
  height: 24px ;
  padding: 0px 5px 0px 5px ;
  
}

.UIPageIterator .Icon {
  float: left ;
  width: 17px ;  height: 17px ;
}

.UIPageIterator .RefreshIcon {
  margin: 3px 10px ;
  background: url('/eXoResources/icons/16x16/MacSkin/Refresh.gif') no-repeat ;
  line-height: 16px ;
  vertical-align: middle ;
  cursor: pointer ;
}

.UIPageIterator .LastTopPageIcon {
  vertical-align: middle ;
  background: url('MacSkin/background/DoubleArrowLeft.gif') no-repeat ;
  margin: 4px 5px 0px 7px ;
  cursor: pointer ;
}

.UIPageIterator .NextTopPageIcon {
  margin: 4px 5px 0px 7px ;
  vertical-align: middle ;
  background: url('MacSkin/background/DoubleArrowRight.gif') no-repeat ;
  cursor: pointer ;
}

 .UIPageIterator .LastPageIcon {
  vertical-align: middle ;
  background: url('MacSkin/background/SingleArrowLeft.gif') no-repeat ;
  margin: 4px 5px 0px 7px ;
  cursor: pointer ; 
}

.UIPageIterator .NextPageIcon {
  margin: 4px 5px 0px 7px ;
  vertical-align: middle ;
  background: url('MacSkin/background/SingleArrowRight.gif') no-repeat ;
  cursor: pointer ;
}

.UIPageIterator .Text {
  padding-left: 10px ; 
}
.UIPageIterator .Number {
  float: left ;
  padding: 0px 4px 0px 4px ;
  color: blue ;
}

.UIPageIterator .Number a.PageSelected {
  color: red;
}

.UIPageIterator .Number a {
  margin: 0px 3px 0px 3px ;
  color: black ;
}
