.UIPageIterator {    
  margin-top: 3px ;
}

.UIPageIterator .PageIteratorContainer {    
  float: right ;
  line-height: 24px ;  vertical-align: middle ;
  padding: 0px 5px 0px 5px ;
  overflow: hidden; 
}

.UIPageIterator .PageIteratorContainer .LeftPageIteratorBlock{    
  float: right ;
  margin-right: 15px;
}

.UIPageIterator .PageIteratorContainer .RightPageIteratorBlock{    
  float: right ;
}

.UIPageIterator .PageIteratorContainer .RightPageIteratorBlock a:hover{    
   background: url('MacSkin/background/HoverBorder.gif') no-repeat top;
   width: 18px; height: 17px;
}

.UIPageIterator .Icon {
  float: left ;
  margin: 4px 5px 0px 5px ;
  width: 18px ;  height: 17px ;
}

.UIPageIterator .TotalPages {
  float: left ;
  line-height: 22px ; vertical-align: middle;
  font-size: 11px ; 
}

.UIPageIterator .PagesTotalNumber {
  float: left ;
  line-height: 22px ; vertical-align: middle;
  color: #f16701;
  margin-left: 5px;
}

.UIPageIterator .LastTopPageIcon {
  vertical-align: middle ;
  background: url('MacSkin/background/DoubleBackArrows.gif') no-repeat ;
  cursor: pointer ;
}

.UIPageIterator .NextTopPageIcon {
  background: url('MacSkin/background/DoubleNextArrows.gif') no-repeat ;
  cursor: pointer ;
}

 .UIPageIterator .LastPageIcon {
  background: url('MacSkin/background/SingleBackArrow.gif') no-repeat ;
  cursor: pointer ; 
}

.UIPageIterator .NextPageIcon {
  background: url('MacSkin/background/SingleNextArrow.gif') no-repeat ;
  cursor: pointer ;
}

.UIPageIterator .Number {
  float: left ;
  padding: 0px 4px 0px 4px ;
  color: blue ;
}

.UIPageIterator .Number a.PageSelected {
  color: #F58C04;
  font-weight: bold;
  border: 1px solid #F58C04;
}

.UIPageIterator .Number a {
  margin: 0px 2px 0px 2px ;
  padding: 0px 4px 0px 4px ;
  color: #333333 ;
  border: 1px solid #dfdfdf;
  background: url('MacSkin/background/NumberBackground1x15.gif') repeat-x top;
}

.UIPageIterator .Number a:hover {
  color: #0585D7 ;
  border: 1px solid #0585D7;
  background:white;
}