.UIVerticalSlideTabs {
  margin: 3px 7px 10px 7px ;
  padding-bottom: 12px;
}

/*####################################- VerticalSlideTabs - FlatStyle -#################################*/
.UIVerticalSlideTabs .UIVFlatTab {
  height: 24px ; line-height: 24px; vertical-align: middle;
  border: solid 1px #3b1094 ;
  margin-bottom: 1px;
  background: url('MacSkin/background/BlueAquaBG1x24.gif') repeat-x ;
}

.UIVerticalSlideTabs .UIVFlatTab .LeftIcon {
  float: left;
  height: 16px ; width: 16px;
  margin: 4px 6px 0px 7px;
}

.UIVerticalSlideTabs .UIVFlatTab .TabLabel {
  float: left;
  font-size: 12px;
  height: 22px; width: 110px;
  line-height: 22px; vertical-align: middle;  text-align: center;
}

.UIVerticalSlideTabs .UIVFlatTab .RightIcon {
  float: right ;
  width: 16px; height: 16px;
}

.UIVerticalSlideTabs .UIVFlatTab .ExpandButton {  
  cursor: pointer ;
  float: right;
  margin: 5px 7px 0px 5px ;
  width: 15px;  height: 15px;
  background: url('MacSkin/background/AquaExpandButton.gif') no-repeat;
}

.UIVerticalSlideTabs .UIVFlatTab .CollapseButton {  
  float: right;
  cursor: pointer ;
  margin: 5px 7px 0px 5px ;
  width: 15px ; height: 15px ;
  background: url('MacSkin/background/AquaCollapseButton.gif') no-repeat;
}

/*#######################-PolygonNavyBlue Style VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .PolygonNavyBlueStyle {
}

.UIVerticalSlideTabs .PolygonNavyBlueStyle .UIVTab {
  margin: 2px 0px ;
  background: none ;
}

.UIVerticalSlideTabs .PolygonNavyBlueStyle .UIVTab .TabLeft {
  height: 28px ; 
  padding-left: 4px ;
  /*background: url('MacSkin/background/BluePolyStyleL4x28.gif') no-repeat left ;*/
}

.UIVerticalSlideTabs .PolygonNavyBlueStyle .UIVTab .TabRight {
  height: 28px ; width: auto ;
  padding-right: 4px ;
  /*background: url('MacSkin/background/BluePolyStyleR4x28.gif') no-repeat right ;*/
}

.UIVerticalSlideTabs .PolygonNavyBlueStyle .UIVTab .TabRepeat {
  height: 28px ;
  /*background: url('MacSkin/background/BluePolyStyleRepeat1x28.gif') repeat-x ;*/
}

.UIVerticalSlideTabs .PolygonNavyBlueStyle .UIVTab .TabLabel {
  float: left ;
  line-height: 28px ;  vertical-align: middle ;
  height: 28px ;
}

.UIVerticalSlideTabs .PolygonNavyBlueStyle .UIVTab .CollapseButton {
  margin: 6px 3px 0px 0px ;
  cursor: pointer ;
  width: 16px;  height: 16px ;
  /*background: url('/eXoResources/icons/16x16/MacSkin/CyanDownArrow.gif') ;*/
}

.UIVerticalSlideTabs .PolygonNavyBlueStyle .UIVTab .ExpandButton {
  margin: 6px 3px 0px 0px ;
  cursor: pointer ;
  width: 16px;  height: 16px;
  /*background: url('/eXoResources/icons/16x16/MacSkin/CyanUpArrow.gif') ;*/
}

.UIVerticalSlideTabs .PolygonNavyBlueStyle .UIVTab .UIVTabContent {
  margin: 1px 0px ;
  border: solid 1px #b2b1b1 ;
  background: #ffffff ;
  padding: 5px ;
}
/*#######################-PolygonNavyViolet Style VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .PolygonNavyVioletStyle {
}

.UIVerticalSlideTabs .PolygonNavyVioletStyle .UIVTab {
  margin: 4px 0px ;
  background: none ;
}

.UIVerticalSlideTabs .PolygonNavyVioletStyle .UIVTab .TabLeft {
  float: none ;  /*Override LeftBar class properties*/
  height: 26px;  width: auto;
  padding-left: 2px ;
  background: url('MacSkin/background/LightBottomDottedLBg2x26.gif') no-repeat left ;
}

.UIVerticalSlideTabs .PolygonNavyVioletStyle .UIVTab .TabRight {
  float: none ;  /*Override LeftBar class properties*/
  height: 26px; width: auto;
  padding-right: 2px ;
  background: url('MacSkin/background/LightBottomDottedRBg2x26.gif') no-repeat right ;
}

.UIVerticalSlideTabs .PolygonNavyVioletStyle .UIVTab .TabRepeat {
  height: 26px ;
  background: url('MacSkin/background/LightBottomDottedRepeatBg2x26.gif') repeat-x ;
}

.UIVerticalSlideTabs .PolygonNavyVioletStyle .UIVTab .TabLabel {
  float: left ;
  line-height: 26px ;  vertical-align: middle ;
  height: 26px ;
}

.UIVerticalSlideTabs .PolygonNavyVioletStyle .UIVTab .CollapseButton {
  margin: 5px 5px 0px 0px ;
  cursor: pointer ;
  width: 16px ;
  height: 16px ;
  background: url('/eXoResources/icons/16x16/MacSkin/GrayGridDownArrow.gif') ;
}

.UIVerticalSlideTabs .PolygonNavyVioletStyle .UIVTab .ExpandButton {
  margin: 5px 5px 0px 0px ;
  cursor: pointer ;
  width: 16px ;
  height: 16px ;
  background: url('/eXoResources/icons/16x16/MacSkin/GrayGridUpArrow.gif') ;
}

.UIVerticalSlideTabs .PolygonNavyVioletStyle .UIVTab .UIVTabContent {
  margin: 1px 0px ;
  background: #ffffff ;
}

/*#######################-Smooth Style VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .SmoothRoundedStyle {
  padding: 5px ;
  background: #d0cbcb ;
}

.UIVerticalSlideTabs .SmoothRoundedStyle .UIVTab {
  margin: 2px 0px ;
  background: none ;
}

.UIVerticalSlideTabs .SmoothRoundedStyle .UIVTab .TabLeft {
  float: none ;  /*Override LeftBar class properties*/
  height: 26px ;
  width: auto ;
  padding-left: 3px ;
  /*background: url('MacSkin/background/SmoothRoundedBarLBg3x26.gif') no-repeat left ;*/
}

.UIVerticalSlideTabs .SmoothRoundedStyle .UIVTab .TabRight {
  float: none ;  /*Override RightBar class properties*/
  height: 26px ;
  width: auto ;
  padding-right: 3px ;
  /*background: url('MacSkin/background/SmoothRoundedBarRBg3x26.gif') no-repeat right ;*/
}

.UIVerticalSlideTabs .SmoothRoundedStyle .UIVTab .TabRepeat {
  height: 26px ;
  /*background: url('MacSkin/background/SmoothRoundedBarRepeatBg1x26.gif') repeat-x ;*/
}

.UIVerticalSlideTabs .SmoothRoundedStyle .UIVTab .CollapseButton {
  margin: 5px 5px 0px 0px ;
  cursor: pointer ;
  width: 16px ;
  height: 16px ;
  /*background: url('/eXoResources/icons/16x16/MacSkin/GrayFillDownArrow.gif') ;*/
}

.UIVerticalSlideTabs .SmoothRoundedStyle .UIVTab .ExpandButton {
  margin: 5px 5px 0px 0px ;
  cursor: pointer ;
  width: 16px ;
  height: 16px ;
  /*background: url('/eXoResources/icons/16x16/MacSkin/GrayFillUpArrow.gif') ;*/
}

.UIVerticalSlideTabs .SmoothRoundedStyle .UIVTab .UIVTabContent {
  border: solid 1px red ;
  background: #ffffff ;
  font-size: 11px ;
}

/*#######################-NormalCustomizationTab VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .UIVTab {
  
}

.UIVerticalSlideTabs .UIVTab .NormalCustomizationTab {
  margin-top: 2px;
  height: 50px;
  background: none ;
}

.UIVerticalSlideTabs .NormalCustomizationTab .TabLeft {
  height: 48px ;
  padding-left: 11px ;
  background: url('MacSkin/background/NormalVTabL11x48.gif') no-repeat left ;
}

.UIVerticalSlideTabs .NormalCustomizationTab .TabRight {
  height: 48px ;
  padding-right: 11px ;
  background: url('MacSkin/background/NormalVTabR11x48.gif') no-repeat right ;
}

.UIVerticalSlideTabs .NormalCustomizationTab .TabRepeat {
  height: 48px ;
  line-height: 48px;
  vertical-align: middle;
  background: url('MacSkin/background/NormalVTabM1x48.gif') repeat-x ;
}

.UIVerticalSlideTabs .NormalCustomizationTab .TabName {
  float: left;
  cursor: pointer ;
}

.UIVerticalSlideTabs .NormalCustomizationTab .TabName a {
  color: black ;
  text-decoration: none;
}

.UIVerticalSlideTabs .NormalCustomizationTab .CollapseButton {
  float: right;
  margin: 18px 3px 0px 0px;
  cursor: pointer ;
  width: 17px ; height: 17px ;
  background: url('MacSkin/background/CollapseButton.gif') ;
}

.UIVerticalSlideTabs .NormalCustomizationTab .UIVTabContent {
  border: solid 1px #958f8f ;
  background: #ffffff ;
  font-size: 11px ;
}

/*#######################-SelectedCustomizationTab VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .UIVTab {
}

.UIVerticalSlideTabs .UIVTab .SelectedCustomizationTab {
  margin-top: 2px;
  height: 48px;
  background: none ;
}

.UIVerticalSlideTabs .UIVTab .SelectedCustomizationTab .TabLeft {
  height: 48px ;
  padding-left: 11px ;
  background: url('MacSkin/background/SelectedVTabL11x48.gif') no-repeat left ;
}

.UIVerticalSlideTabs .UIVTab .SelectedCustomizationTab .TabRight {
  height: 48px ;
  padding-right: 11px ;
  background: url('MacSkin/background/SelectedVTabR11x48.gif') no-repeat right ;
}

.UIVerticalSlideTabs .UIVTab .SelectedCustomizationTab .TabRepeat {
  height: 48px ;
  line-height: 48px;
  vertical-align: middle;
  background: url('MacSkin/background/SelectedVTabM1x48.gif') repeat-x ;
}

.UIVerticalSlideTabs .UIVTab .SelectedCustomizationTab .TabName {
  float: left;
  cursor: pointer ;
  color: black;
}

.UIVerticalSlideTabs .UIVTab .SelectedCustomizationTab .TabName a {
  color: black;
  text-decoration: none;
}

.UIVerticalSlideTabs .UIVTab .SelectedCustomizationTab .ExpandButton {
  float: right;
  margin: 18px 3px 0px 0px;  
  cursor: pointer ;
  width: 17px ;
  height: 17px ;
  background: url('MacSkin/background/ExpandButton.gif') no-repeat;
}

.UIVerticalSlideTabs .UIVTab .SelectedCustomizationTab .UIVTabContent {
  border: solid 1px #958f8f ;
  background: #ffffff ;
  font-size: 11px ;
}

/*#######################- FlatStyle VerticalSlideTabs- ######################*/
.UIVerticalSlideTabs .UIVTab .FlatStyle {
  background:url('MacSkin/background/PortletTemplateBG1x30.gif') repeat-x;
  border:solid 1px gray;
  height: 28px; line-height: 28px; vertical-align: middle;
  margin-top: 8px;
}

.UIVerticalSlideTabs .UIVTab .FlatStyle .CollapseExpand {
  width: 16px;
  height: 16px;
  background: url('/eXoResources/icons/16x16/MacSkin/BlackDownArrow.gif') no-repeat;
  float: right;
  margin: 5px 6px;
  cursor: pointer;
}

.UIVerticalSlideTabs .UIVTab .FlatStyle .LeftIcon { 
  width: 16px;
  height: 16px;
  float: left;
  margin: 6px 0px 5px 4px;
}

.UIVerticalSlideTabs .UIVTab .FlatStyle .TabName {
  color: black; font-size: 11px;
  margin-left: 5px; text-align: center;
}

/*#######################- SelectedFlatStyle VerticalSlideTabs- ######################*/
.UIVerticalSlideTabs .UIVTab .SelectedFlatStyle {
  background:url('MacSkin/background/PortletTemplateSBG1x30.gif') repeat-x;
  border:solid 1px gray;
  height:28px; line-height:28px; vertical-align:middle;
  margin-top: 8px ;
}

.UIVerticalSlideTabs .UIVTab .SelectedFlatStyle .CollapseExpand {
  width: 16px;
  height: 16px;
  background: url('/eXoResources/icons/16x16/MacSkin/BlackUpArrow.gif') no-repeat;
  float: right;
  margin: 6px 6px;
  cursor: pointer;
}

.UIVerticalSlideTabs .UIVTab .SelectedFlatStyle .LeftIcon { 
  width: 16px;
  height: 16px;
  float: left;
  margin: 6px 0px 5px 4px;
}

.UIVerticalSlideTabs .UIVTab .SelectedFlatStyle .TabName {
  color: blue; font-size: 11px; text-align: center;
  margin-left: 5px;
}

/*#######################-PolygonNavyBlue Style VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .UIVTab .VTabStyle3 {
}

.UIVerticalSlideTabs .UIVTab .VTabStyle3 .TabLeft {
  height: 27px ; 
  padding: 0px 0px 0px 4px ;
  background: url('MacSkin/background/LeftSmoothRoundedBarS4x27.gif') no-repeat left ;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle3 .TabRight {
  height: 27px ; width: auto ;
  padding: 0px 4px 0px 0px ;
  background: url('MacSkin/background/RightSmoothRoundedBarS4x27.gif') no-repeat right ;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle3 .TabRepeat {
  height: 27px ;
  background: url('MacSkin/background/MiddleSmoothRoundedBarS1x27.gif') repeat-x ;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle3 .LeftIcon {
  float: left ;
  margin: 8px 5px 0px 5px;
  width: 16px;
  height: 16px;
  background: url('/eXoResources/icons/16x16/MacSkin/BlackNextArrow.gif') no-repeat;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle3 .TabLabel {
  float: left ;
  line-height: 27px ;  vertical-align: middle ;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle3 .SwitchButton {
  margin: 5px 3px 0px 0px ;
  cursor: pointer ;
  width: 16px;  height: 16px ;
  background: url('/eXoResources/icons/16x16/MacSkin/BlackNextArrow.gif') no-repeat;
  float: right;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle3 .UIVTabContent {
  margin: 1px 0px ;
  border: solid 1px #b2b1b1 ;
  background: #ffffff ;
  padding: 5px ;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle3 .NavigationIcon {
  margin-top: 6px;
}
/*#######################-SeltectedVTabStyle3 VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 {
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 .TabLeft {
  height: 27px ; 
  padding: 0px 0px 0px 4px ;
  background: url('MacSkin/background/LeftSmoothRoundedBar4x27.gif') no-repeat left ;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 .TabRight {
  height: 27px ; width: auto ;
  padding: 0px 4px 0px 0px;
  background: url('MacSkin/background/RightSmoothRoundedBar4x27.gif') no-repeat right ;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 .TabRepeat {
  height: 27px ;
  background: url('MacSkin/background/MiddleSmoothRoundedBar1x27.gif') repeat-x ;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 .LeftIcon {
  float: left ;
  margin: 6px 5px 0px 5px;
  width: 16px;
  height: 16px;
  background: url('/eXoResources/icons/16x16/MacSkin/BlackDownArrow.gif') no-repeat ;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 .TabLabel {
  float: left ;
  line-height: 27px ;  vertical-align: middle ;
  color: blue;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 .SwitchButton {
  margin: 5px 3px 0px 0px ;
  cursor: pointer ;
  width: 16px;  height: 16px ;
  background: url('/eXoResources/icons/16x16/MacSkin/BlackDownArrow.gif') no-repeat;
  float: right;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 .UIVTabContent {
  margin: 1px 0px ;
  border: solid 1px #b2b1b1 ;
  background: #ffffff ;
  padding: 5px ;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle3 .NavigationIcon {
  margin-top: 6px;
}

/*#######################-VTabStyle4 VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .UIVTab .VTabStyle4 {

}

.UIVerticalSlideTabs .UIVTab .VTabStyle4 .LeftIcon {
  float: left ;
  margin: 5px 5px 0px 5px;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle4 .TabLabel {
  float: left ;
  color: #373737 ;
  margin: 3px 0px 0px 0px ;
  line-height: 26px ; vertical-align: middle ;
  font-weight: bold ;
  font-size: 11px ;
  cursor: pointer ;
}

.UIVerticalSlideTabs .UIVTab .VTabStyle4 .UIVTabContent {
  margin: 1px 0px ;
  border: solid 1px #b2b1b1 ;
  padding: 5px ;
}

/*#######################-SelectedVTabStyle4 VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle4 {
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle4 .LeftIcon {
  float: left ;
  margin: 5px 5px 0px 5px;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle4 .TabLabel {
  float: left ;
  margin: 3px 0px 0px 0px ;
  line-height: 26px ; vertical-align: middle ;
  color: #e78505 ;
  font-weight: bold ;
  font-size: 11px ;
  cursor: pointer ;
}

.UIVerticalSlideTabs .UIVTab .SelectedVTabStyle4 .UIVTabContent {
  margin: 1px 0px ;
  border: solid 1px #b2b1b1 ;
  padding: 5px ;
}
