.UIForumApplication .UIForumThreads {  
}

.UIForumApplication .UIForumThreads .PageToolBar {
  height: 28px;
  margin-top: 3px;
}
/*##################### Begin NewThreadButton ################################*/
.UIForumApplication .UIForumThreads .PageToolBar .NewThreadButton {
  height: 25px;
  float: left; 
  border: solid 1px red;
}

UIForumPortlet .NewThreadButton .NewThreadButtonLeft {
  height: 24px;
  padding-left: 7px;
  background: url('DefaultSkin/background/NewThreadButtonLeft7x24.gif') no-repeat left;
}

UIForumPortlet .NewThreadButton .MiddleNewThreadButton .PlusIcon {
  height: 24px;
  width: 24px;
  background: url('DefaultSkin/background/PlusIcon22x24.gif') no-repeat left;
  float: left;
}

UIForumPortlet .NewThreadButton .NewThreadButtonRight {
  height: 24px;
  padding-right: 7px;
  background: url('DefaultSkin/background/NewThreadButtonRight7x24.gif') no-repeat right;
}

UIForumPortlet .NewThreadButton .MiddleNewThreadButton {
  height: 24px;
  background: url('DefaultSkin/background/NewButtonMiddle1x24.gif') repeat-x;
}

UIForumPortlet .NewThreadButton .MiddleNewThreadButton .ButtonLabel {
  font-weight: regular;
  font-size: 11px;
  line-height: 24px;  
  text-align: center;  
}
/*######################## End NewThreadButton #################################*/

/*######################## Begin PageSwitch ####################################*/
.UIForumApplication .UIForumThreads .PageToolBar .PageSwitch {
  width: 403px;
  height: 25px;
  float: right;
}

.PageSwitch .PageSwitchLeft {
  padding-left: 3px;
  height: 24px;
  background: url('DefaultSkin/background/PageSwitchLeft3x24.gif') no-repeat left;
}

.PageSwitch .PageSwitchLeft .PageSwitchRight {
  padding-right: 4px;
  height: 24px;
  background: url('DefaultSkin/background/PageSwitchRight4x24.gif') no-repeat right;
}

.PageSwitch .PageSwitchLeft .PageSwitchRight .PageSwitchRepeat {
  height: 24px;
  background: url('DefaultSkin/background/PageSwitchRepeat1x24.gif') repeat-x;
}
/*######################## End PageSwitch ####################################*/

/*######################## Begin ForumThreads ####################################*/

.UIForumApplication .UIForumThreads .ActionMenu {
  height: 18px;
  padding-left: 7px;
  background: url('DefaultSkin/background/ActionButtonLeft7x18.gif') no-repeat left;
}

.UIForumApplication .UIForumThreads .ActionMenuRight {
  height: 18px;
  padding-right: 6px;
  background: url('DefaultSkin/background/ActionButtonRight6x18.gif') no-repeat right;
}

.UIForumApplication .UIForumThreads .ActionMenuMiddle {
  height: 18px;
  line-height: 18px;
  background: url('DefaultSkin/background/ActionButtonRepeat1x18.gif') repeat-x;
}

.UIForumApplication .UIForumThreads .ActionMenuLabel {
  font: normal normal 11px verdana;
  text-align: left;
  float: left;
}

.UIForumApplication .UIForumThreads .ActionMenu .DropDownIcon {
  float: right;
  height: 14px;
  width: 14px;  
  cursor: pointer;
  background: url('/eXoResources/icons/16x16/DefaultSkin/DropIcon16x16.gif') no-repeat right;
}

.UIForumApplication .UIForumThreads .ThreadIcon {
  width: 36px;
}

.UIForumApplication .UIForumThreads .ColumnWidth {
  width: 77px;
}

.UIForumApplication .UIForumThreads .ColumnWidth1 {
  width: 97px;
}  
/*######################## End ForumThreads ####################################*/



/*####################### INHERIT FROM UIGrid ####################################*/
.UIForumApplication .UIForumThreads .UIGrid .ThreadName {
  font-weight: bold;
  font-size: 11px;
}

.UIForumApplication .UIForumThreads .UIGrid .ThreadDescription {
  margin-top: 4px;
  font-size: 11px;
}


