@import url("/eXoResources/skin/webui/component/UIPopupWindow/Stylesheet.css") ;

.UIPopupMessages {
}

.UIPopupMessages .UIHorizontalTabs {
	height: 35px;
	background: url(background/MessageTabBar1x35.gif) repeat-x top;
	padding: 1px 4px 0px 4px;
}

.UIPopupMessages .UITabContent {
	border: none;
}

.UIPopupMessages .PopupMessageBox {
  padding: 5px;
  height: 200px;
  overflow: auto;
}

.UIPopupMessages .WarningMessage .MessageContainer  {
  color: orange;
  padding: 4px 0px 4px 10px;
  border-bottom: 1px dotted #c3c3c3;
}

.UIPopupMessages .ErrorMessage .MessageContainer  {
  color: red;
  padding: 4px 0px 4px 10px;
  border-bottom: 1px dotted #c3c3c3;
}

.UIPopupMessages .InfoMessage .MessageContainer {
  padding: 4px 0px 4px 10px;
  border-bottom: 1px dotted #c3c3c3;
}

.UIPopupMessages .PopupMessageContainer .PopupIcon {
  float: left;
  width: 25px; height: 17px;
  margin-top: 5px;
}

.UIPopupMessages .PopupMessageContainer .InfoMessageIcon {
	background: url(background/InfoIcon.gif) no-repeat center ;
}

.UIPopupMessages .PopupMessageContainer .WarningMessageIcon {
	background: url(background/WarningIcon.gif) no-repeat center;
}

.UIPopupMessages .PopupMessageContainer .ErrorMessageIcon {
	background: url(background/ErrorIcon.gif) no-repeat center;
}

.UIPopupMessages .PopupMessageContainer .PopupMessage {
  line-height: 16px;
  vertical-align: middle;
  padding: 5px 0px;
  margin-left: 35px;
}

.UIPopupMessages .MessageActionBar {
	background: url(background/MessageActionBar1x35.gif) repeat-x;
	height: 35px;
}

.UIPopupMessages .UIAction {
	padding: 8px 0px 0px 0px;
}

.UIPopupMessages .UIAction .ActionContainer{
	float: none;
}

.UIPopupMessages .UIAction .ActionContainer .ActionButton{
	width: 70px;
	margin:auto;
	float: none;
}
