.UIHomePagePortlet {	
	margin: 7px;
	border: 1px solid #fff;
}

.UIHomePagePortlet .HomePortletDecor{	
	padding: 7px;
	border: 1px solid #94989e;
	background: #fff;
}

.UIHomePagePortlet .HomePageBanner {
	background-color: #0B0B0B;
	height: 318px;	
	margin-bottom: 9px;
	border-top: 5px solid #4E7DBA;
	border-bottom: 5px solid #4E7DBA;
}

.UIHomePagePortlet .AdImage {
	background: url('DefaultSkin/background/PortalAdvertising.jpg') no-repeat center;
	height: 308px;	
	margin-bottom: 6px;	
}
.UIHomePagePortlet .HomePageContent {
	height: 133px;
	border: 1px solid #CFCFCF;
}
.UIHomePagePortlet .HomePageContent .ExoPortal {
	width: 33.3%;	
	float: left;	
}
.UIHomePagePortlet .HomePageContent .ExoECM {
	width: 33.3%;	
	float: left;
}
.UIHomePagePortlet .HomePageContent .ExoCS {
	width: 33.4%;
	_width: 33.36%;
	float: left;
}

.UIHomePagePortlet .HomePageContent .MiddleContent {
	background: url(DefaultSkin/background/BackgroundContent1x131.gif) repeat-x bottom;	
	height: 133px;
}
.UIHomePagePortlet .HomePageContent .LeftExoPortal {
	background: url(DefaultSkin/background/LeftContent183x131.gif) no-repeat left bottom;	
	height: 133px;	
	padding: 0px 0px 0px 83px;
}
.UIHomePagePortlet .HomePageContent .RightExoPortal {
	background: url(DefaultSkin/background/Seperator1x131.gif) no-repeat right bottom;	
	height: 133px;	
	padding: 0px 1px 0px 0px;
}

.UIHomePagePortlet .HomePageContent .LeftExoECM {
	background: url(DefaultSkin/background/LeftContent283x131.gif) no-repeat left bottom;	
	height: 133px;	
	padding: 0px 0px 0px 83px;
}
.UIHomePagePortlet .HomePageContent .RightExoECM {
	background: url(DefaultSkin/background/Seperator1x131.gif) no-repeat right bottom;	
	height: 133px;	
	padding: 0px 1px 0px 0px;
}

.UIHomePagePortlet .HomePageContent .LeftExoCS {
	background: url(DefaultSkin/background/BackgroundContent1x131.gif) no-repeat left bottom;	
	height: 133px;	
	padding: 0px 0px 0px 1px;
}
.UIHomePagePortlet .HomePageContent .RightExoCS {
	background: url(DefaultSkin/background/RightContent370x131.gif) no-repeat right bottom;	
	height: 133px;	
	padding: 0px 70px 0px 0px;
}

.UIHomePagePortlet .HomePageContent .LinkExoPortal {
	background: url(DefaultSkin/background/LinkExoPortal.gif) no-repeat left bottom;
	height: 35px;
	width: 112px;
	margin-left:  10px;
}

.UIHomePagePortlet .HomePageContent .DescriptionExoPortal {
	font-family: Verdana;
	font-size: 12px;
	margin: 10px 10px 0px 10px;
}

.UIHomePagePortlet .HomePageContent .LinkExoECM {
	background: url(DefaultSkin/background/LinkExoECM.gif) no-repeat left bottom;
	height: 35px;
	width: 103px;
	margin-left: 10px;
}
.UIHomePagePortlet .HomePageContent .DescriptionExoECM {
	font-family: Verdana;
	font-size: 12px;
	margin: 10px 10px 0px 10px;
}

.UIHomePagePortlet .HomePageContent .LinkExoCS {
	background: url(DefaultSkin/background/LinkExoCS.gif) no-repeat left bottom;
	height: 35px;
	width: 86px;
	margin-left: 10px;
}
.UIHomePagePortlet .HomePageContent .DescriptionExoCS {
	font-family: Verdana;
	font-size: 12px;	
	margin: 10px 10px 0px 10px;
}