.UIRightClickPopupMenu {
  width: 150px;
  display: none;
  position: absolute;
  background: #c4c4c4;
  border: 1px solid #7e7e7f;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer {
  margin: 1px; padding: 5px 0px;
  background: white url('background/BgItemSelector1x4.png') repeat;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer a{
  color: black;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer a:hover{
  color:#EF5604;
}

.UIRightClickPopupMenu .MenuItem {
  clear: both;
  cursor: pointer;
  line-height: 26px;
}

.UIRightClickPopupMenu .SelectedMenuItem {
  clear: both;
  cursor: pointer;
  line-height: 26px;
  background: #dee4f2;
}

.UIRightClickPopupMenu .ItemIcon {
  margin: 5px 7px 0px 7px;
  float: left;
}

.UIRightClickPopupMenu .ItemLabel {}

.UIRightClickPopupMenu .AddNode16x16Icon {
  width: 16px;
  height: 16px;
  background: url('icons/AddIcon.gif') no-repeat;
}

.UIRightClickPopupMenu .EditPageNode16x16Icon{
  width: 16px;
  height: 16px;
  background: url('icons/EditPage.png') no-repeat;
}

.UIRightClickPopupMenu .EditSelectedNode16x16Icon {
  width: 16px;
  height: 16px;
  background: url('icons/EditNode.png') no-repeat;
}

.UIRightClickPopupMenu .EditNavigation16x16Icon {
  width: 16px;
  height: 16px;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/EditIcon.png') no-repeat;
}

.UIRightClickPopupMenu .CutNode16x16Icon {
  width: 16px;
  height: 16px;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/Cut.gif') no-repeat;
}

.UIRightClickPopupMenu .CopyNode16x16Icon {
  width: 16px;
  height: 16px;
  background: url('icons/Copy.gif') no-repeat;
}

.UIRightClickPopupMenu .PasteNode16x16Icon {
  width: 16px;
  height: 16px;
  background: url('icons/Paste.gif') no-repeat;
}

.UIRightClickPopupMenu .DeleteNode16x16Icon {
  width: 17px;
  height: 18px;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/DeleteIcon.png') no-repeat;
}

.UIRightClickPopupMenu .DeleteNavigation16x16Icon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/Delete.gif') no-repeat;
  width: 17px; height: 17px;
}

.UIRightClickPopupMenu .PasteNavigation16x16Icon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/PasteIcon.gif') no-repeat;
  width: 16px; height: 16px;
}

.UIRightClickPopupMenu .SaveNavigation16x16Icon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/FloppyDisk.gif') no-repeat center;
  width: 16px; height: 16px;
}