
#PreviewImg{
max-width:100%; 
max-height:100%;
margin:auto;
}


#PreviewImgDiv
{
	font-weight: bold;
	text-align: center;
	color: #555;
	border: 1px solid #555;
	cursor: default;
	height: 34px;
    width: 300px;
}

#PreviewImgDiv.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}