.UIQuickHelp {
}

.UIQuickHelp .TopBar {
	height: 26px;
}

.UIQuickHelp .TopBar .TopBarLeft {
	padding-left: 7px; /* orientation=lt */
	padding-left: 2px; /* orientation=rt */
	background: url('background/QuickHelp.gif') no-repeat left top; /* orientation=lt */
	background: url('background/QuickHelp-rt.gif') no-repeat left top; 2px; /* orientation=rt */
}

.UIQuickHelp .TopBar .TopBarRight {
	padding-right: 2px; /* orientation=lt */
	padding-right: 7px; /* orientation=rt */
	background: url('background/QuickHelp.gif') no-repeat right top; /* orientation=lt */
	background: url('background/QuickHelp-rt.gif') no-repeat right top; 2px; /* orientation=rt */
}
	
.UIQuickHelp .TopBar .TopBarMiddle {
	height: 26px;
	background: url('background/QuickHelp.gif') repeat-x left -26px;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 140px; height: 26px;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .BarLeft {
	padding-left: 1px; /* orientation=lt */
	padding-left: 27px; /* orientation=rt */
	background: url('background/QuickHelp.gif') no-repeat left -78px; /* orientation=lt */
	background: url('background/QuickHelp-rt.gif') no-repeat left -52px; /* orientation=rt */
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .BarRight {
	padding-right: 27px; /* orientation=lt */
	padding-right: 1px; /* orientation=rt */
	background: url('background/QuickHelp.gif') no-repeat right -52px; /* orientation=lt */
	background: url('background/QuickHelp-rt.gif') no-repeat right -78px; /* orientation=rt */
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .BarMiddle {
	height: 26px;
	line-height: 26px;
	background: url('background/QuickHelp.gif') repeat-x left -78px;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .Title {
	height: 26px;
	line-height: 26px;
	vertical-align: middle;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 24px;	width: 24px;
	margin: 1px 7px 0px 3px; /* orientation=lt */
	margin: 1px 3px 0px 7px; /* orientation=rt */
	background: url('/eXoSkinMac/skin/MacSkin/skinIcons/24x24/icons/HelpBox.gif') no-repeat;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .BrownBook16x16Icon {
	display: none;
}

.UIQuickHelp .ContentContainer {
	background-color: white;
	border-right: solid #323ec7 1px;
	border-left: solid #323ec7 1px;
}

.UIQuickHelp .Content {
	padding: 3px;
}

.UIQuickHelp .ContentContainer .Content .ScrollArea {
	overflow: auto;
	border:	solid 1px #6aa4d5;
}

.UIQuickHelp .ContentContainer .Content .ScrollArea {
	padding: 8px;
}

.UIQuickHelp .BottomBar {
	height: 27px;
	border: none;
}

.UIQuickHelp .BottomBar .BottomBarLeft {
	padding-left: 2px; /* orientation=lt */
	padding-left: 5px; /* orientation=rt */
	background: url('background/QuickHelp.gif') no-repeat left -104px; /* orientation=lt */
	background: url('background/QuickHelp-rt.gif') no-repeat left -104px; /* orientation=rt */
}

.UIQuickHelp .BottomBar .BottomBarRight {
	padding-right: 5px; /* orientation=lt */
	padding-right: 2px; /* orientation=rt */
	background: url('background/QuickHelp.gif') no-repeat right -104px; /* orientation=lt */
	background: url('background/QuickHelp-rt.gif') no-repeat right -104px; /* orientation=rt */
}

.UIQuickHelp .BottomBar .BottomBarMiddle {
	height: 27px;
	background: url('background/QuickHelp.gif') repeat-x left -131px;
}

.UIQuickHelp .BottomBar .ButtonBar {
	margin-left: auto;
	width: 90px;
	height: 20px;
}

.UIQuickHelp .BottomBar .ButtonBar .ButtonBarLeft {
	height: 20px;
	padding-left: 23px;
	background: url('background/QuickHelp.gif') no-repeat left -158px;
}

.UIQuickHelp .BottomBar .ButtonBar .ButtonBarRight {
	height: 20px;
	padding-right: 1px;
	background: url('background/QuickHelp.gif') repeat-x bottom;
}

.UIQuickHelp .BottomBar .BackButton {
	width: 25px; height: 19px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 4px 0px 0px 5px;
}

.UIQuickHelp .BottomBar .ForwardButton {
	width: 25px; height: 19px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin: 4px 5px 0px 0px;
}

.UIQuickHelp .UIQuickHelpContentPage .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIQuickHelp .UIQuickHelpContentPage ul {
	 list-style-image: url('background/BlueSquareBg.gif');
}

.UIQuickHelp .UIQuickHelpContentPage li {
	 margin-top: 10px;
	 margin-left: -20px; /* orientation=lt */
	 margin-right: -20px; /* orientation=rt */
}

.UIQuickHelp .UIQuickHelpContentPage a{
	 font-weight: bold;
}