.UIDashboardPortlet {
}


/*----------------------UIGadgetsSelectorForm-------------------*/
.UIGadgetsSelectorForm {
	float: left;
	width: 200px;
}

.ItemGadget {
	border: 1px solid pink;
	background: aqua;
	margin: 3px 5px 3px 5px;
}

.ItemLabel {
	line-height: 18px;
}

/*----------------------UIGadgetsContainer-------------------*/
.UIGadgetsContainer {
	margin-left: 203px;
	border: 1px solid green;
}

.GadgetsContainer {
}

.UIColumn {
	border: 1px solid pink;
	float: left;
	height:350px;
	padding: 10px 10px 0px 10px;
}

.UIGadget {
	border: 1px solid red;
	margin: 0px 0px 10px 0px;
}

.GadgetMenuBar {
	height: 18px;
	background: aqua;
	cursor: move;
}

.GadgetContent  {
	height: 100px;
}

.UITarget {
	border: 1px dotted green;
	margin: 0px 0px 10px 0px;
}

.Dragging {
	margin: 3px 0px 0px 3px;
}