.UIDashboardPortlet {
	
}


/*----------------------UIGadgetsSelectorForm-------------------*/
.UIDashboardSelectForm {
	float: left;
}

.UIDashboardSelectForm .UIDashboardItemContainer{
	float: left;
	width: 198px;
}

.UIDashboardSelectForm .UIGadget {
	margin: 3px 0px 3px 2px;
	border: 1px solid gray;
}

.UIDashboardSelectForm .UIDashboardSlideBar{
	border: 1px solid red;
	float: left;
	height: 400px;
	margin: 0px 2px;
	cursor: pointer;
}

/*----------------------UIGadgetsContainer-------------------*/
.UIDashboardContainer {
	margin-left: 3px;
	border: 1px solid red;
}

.DashboardContainer {
	overflow: auto;
}

.DashboardContainer .UIColumns {
	height: 400px;
}

.UIColumn {
	float: left;
	padding: 10px 10px 0px 10px;
	border: 1px solid green;
}

.UIDashboardContainer .UIGadget {
	margin: 0px 0px 10px 0px;
}

.UIDashboardContainer .UITarget {
	border: 1px dotted red;
	margin: 0px 0px 10px 0px;
}

.UIDashboardPortlet .Dragging {
	margin: 3px 0px 0px 3px;
}
