.UIDashboardPortlet {
	border: 1px solid #b7b7b7;
	margin: 5px;
}

.UIDashboardPortlet .GadgetTitle {
	float: left;
	padding: 0px 5px;
	color: #5b5b5b;
	font-weight: bold;
	cursor: move;
}

/*----------------------UIGadgetsSelectorForm-------------------*/
.UIDashboardSelectForm {
	float: left;
	width: 210px;
	border-right: 1px solid #b7b7b7;
}

.UIDashboardSelectForm .DashboardControlBar {
	height: 23px;
	background: url('background/Dashboard.gif') repeat-x top;
	border-bottom: 1px solid #b7b7b7;
}

.UIDashboardSelectForm .TitleControlBar {
	color: black;
	font-weight: bold;
	line-height: 23px;
	float: left;
	padding-left: 20px;
}

.UIDashboardSelectForm .CloseIcon {
	float: right;
	background: url('background/Dashboard.gif') no-repeat bottom;
	height: 20px;
	width: 20px;
}

.UIDashboardSelectForm .UIDashboardItemContainer {
	border: 1px solid white;
	background: #ececec;
	padding: 5px;
}

.UIDashboardSelectForm .UIDashboardItemContainer .GadgetItemsContainer {
	border: 1px solid #b7b7b7;
	background: white;
	font-weight: bold;
}

.UIDashboardSelectForm .UIDashboardItemContainer .TopItemContainer {
	background: url('background/Dashboard.gif') repeat-x center -37px;
	height: 11px;
	padding: 1px;
	border-bottom: 1px solid #b7b7b7;
}

.UIDashboardSelectForm .UIDashboardItemContainer .UpArrowIcon {
	background: url('background/Dashboard.gif') repeat-x center -98px;
	height: 11px; width: 15px;
	margin: auto;
	cursor: pointer;
}

.UIDashboardSelectForm .UIDashboardItemContainer .DisableArrowIcon {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
}

.UIDashboardSelectForm .UIDashboardItemContainer .MiddleItemContainer {
	overflow: hidden;
}
	
.UIDashboardSelectForm .UIDashboardItemContainer .BottomItemContainer {
	background: url('background/Dashboard.gif') repeat-x center -37px;
	height: 11px;
	padding: 1px;
	border-top: 1px solid #b7b7b7;
}

.UIDashboardSelectForm .UIDashboardItemContainer .DownArrowIcon {
	background: url('background/Dashboard.gif') repeat-x center -114px;
	height: 11px; width: 15px;
	margin: auto;
	cursor: pointer;
}

.UIDashboardSelectForm .UIDashboardItemContainer .DisableContainer {
	background:	url('background/Dashboard.gif') repeat-x center -23px;
}

.UIDashboardSelectForm .UIDashboardItemContainer .GadgetCategory {
	padding: 5px 10px;
}

.UIDashboardSelectForm .GadgetCategory .GadgetTab .LeftCategoryTitleBar {
	padding-left: 8px;
	background: url('background/Catalogue.gif') no-repeat left top;
}

.UIDashboardSelectForm .GadgetCategory .GadgetTab .RightCategoryTitleBar {
	padding-right: 8px;
	background: url('background/Catalogue.gif') no-repeat right top;
}

.UIDashboardSelectForm .GadgetCategory .GadgetTab .MiddleCategoryTitleBar {
	padding-right: 8px;
	background: url('background/Catalogue.gif') repeat-x center -26px;
	height: 26px;
}

.UIDashboardSelectForm .GadgetCategory .GadgetTab .ArrowIcon {
	background: url('background/Catalogue.gif') no-repeat left -102px;
	line-height: 26px;
	overflow: hidden;
	padding-left: 18px;
	color: #286f9b;
}

.UIDashboardSelectForm .GadgetCategory .SelectedTab .ArrowIcon {
	background: url('background/Catalogue.gif') no-repeat left -76px;
}

.UIDashboardSelectForm .GadgetCategory .ItemsContainer {
	border: 1px solid #a2c2e2;
	padding: 0px 1px;
	margin-top: 2px;
}

.UIDashboardSelectForm .GadgetCategory .UIGadget {
	background: url('background/Catalogue.gif') repeat-x left -52px;
	margin: 2px 0px;
	height: 24px;
	line-height: 24px;
	color: #7d7d7d;
	padding: 0px 5px;
}

.UIDashboardPortlet .UIDashboardSelectForm .GadgetTitle {
	width: 150px;	
	float: none;
}

/*----------------------UIGadgetsContainer-------------------*/

.UIDashboardPortlet .UIGadget .GadgetControl {
	float: none;
	margin: auto;
	height: auto; width: auto;
}

.UIDashboardPortlet .UIGadget .GadgetControl .LeftControlBar {
	background: url('background/Dashboard.gif') no-repeat left -51px;
	padding-left: 3px;
}

.UIDashboardPortlet .UIGadget .GadgetControl .RightControlBar {
	background: url('background/Dashboard.gif') no-repeat right -51px;
	padding-right: 3px;
}

.UIDashboardPortlet .UIGadget .GadgetControl .CenterControlBar {
	background: url('background/Dashboard.gif') repeat-x center -73px;
	height: 22px;
	line-height: 22px;
}

.UIDashboardPortlet .UIGadget .GadgetControl .GadgetDragHandleArea {
	display: none;
}	

.UIDashboardPortlet .UIGadget .TLGadget {
	display: none;
}

.UIDashboardPortlet .UIGadget .MLGadget {
	background: none;
	border: 1px solid #81a7c6;
	border-top: none;
}

.UIDashboardPortlet .UIGadget .MRGadget {
	background: none;
}

.UIDashboardPortlet .UIGadget .BLGadget {
	display: none;
}

.UIDashboardContainer {
	background: white;
}

.UIDashboardPortlet .UIDashboardContainer .GadgetTitle {
	width: 230px;	
}

.UIDashboardContainer .DashboardContainer {
	overflow: auto;
}

.UIDashboardContainer .DashboardContainer .ContainerControlBarL {
	background: lightgray;
	padding: 3px 0px 3px 5px;
	width: 150px;
	cursor: pointer;
}

.UIDashboardContainer .DashboardContainer .AddIcon {
	height: 15px;
	width: 15px;
	border: 1px solid green;
	text-align: center;
	float: left;
}

.UIDashboardContainer .DashboardContainer .AddLabel {
	line-height: 18px;
	padding-left: 20px;
}

.DashboardContainer .UIColumns {
}

.DashboardContainer .UIColumn {
	float: left;
	width: 320px;
	padding: 2px 0px;
}

.UIDashboardContainer .UIGadget {
	margin: 0px 5px 10px 5px;
}
.UIDashboardContainer .UIGadget .GadgetMenuBar{
	text-align:left;
}

.UIDashboardContainer .UITarget {
	border: 2px dashed red;
	margin: 0px 5px 10px 5px;
}

.UIDashboardPortlet .Dragging {
	margin: 3px 0px 0px 3px;
}

