.UIGadgetThemes .TodosList .ReadPost {
 color:#cccccc;
}

.UIGadgetThemes .GadCont span {
    color: #1A1A1A;
    font-weight: bold;
}

.UIGadgetThemes .GadCont .customLink {
	text-decoration:underline;
	color:#226ab4; 
	cursor:pointer;
	font-weight: normal;
}

.UIGadgetThemes .TodosList .CreatedDate {
 color:#707070;
 font-style: italic;
 padding-left: 25px;
 padding-top: 2px;
}

.UIGadgetThemes .Icon {
  color: #000000;
  margin-bottom: 5px;
  padding-left: 25px;
  text-decoration: none;
}
.link_0 {
background: url('images/minor.png') no-repeat left center;
margin-bottom: 5px;
padding-left: 14px;
text-decoration: none;
display: block;
}

.link_1 {
background: url('images/major.png') no-repeat left center;
margin-bottom: 5px;
padding-left: 14px;
text-decoration: none;
display: block;  
}

.link_2 {
background: url('images/critical.png') no-repeat left center;
margin-bottom: 5px;
padding-left: 14px;
text-decoration: none;
display: block;
}

