.UIFormInputDecoratorSelector .UIItemSelector .NormalStyle .ItemListContainer {	
	width: 230px;
	overflow: auto;
}

.UIFormInputDecoratorSelector .UIItemSelector .NormalStyle .ItemList {
	height: 272px;
	overflow: auto;
	padding-top: 15px;
}

.UIFormInputDecoratorSelector .UIItemSelector .ItemDetailList {
	margin-right: 0px;
	padding: 1px;
	border: 1px #b7b7b7 solid;
	background: white;
}

.UIFormInputDecoratorSelector .UIItemSelector .DecoratorTemplateContainer {
	border: 1px #c7c7c7 solid;
}

.UIFormInputDecoratorSelector .UIItemSelector .Template {
	padding: 20px 20px 0px 20px; 
	height: 190px;
}

.UIFormInputDecoratorSelector .SampleBackground {
	background: white; border: 1px solid #c7c7c7;
	height: 160px; 
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .MiddleBackground {
	background: none;
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .TopLeftCorner {
	background: none;
	height: 10px;
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .TopCenter {
	background: none;
	height: 10px;
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .TopRightCorner {
	background: none;
	padding-right: 10px; /* orientation=lt */
	padding-left: 10px; /* orientation=rt */
	height: 10px;
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .MiddleLeftSide {
	background: none;
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .MiddleRightSide {
	background: none;
	padding-right: 10px; /* orientation=lt */
	padding-left: 10px; /* orientation=rt */
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .BottomRightCorner {
	background: none;
	padding-right: 10px; /* orientation=lt */
	padding-left: 10px; /* orientation=rt */
	height: 10px;	
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .BottomCenter {	
	background: none;	
	height: 10px;
}

.UIFormInputDecoratorSelector .UIPortletDecorator .DefaultDecorator .BottomLeftCorner {
	background: none;
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
	height: 10px;
}

.UIFormInputDecoratorSelector .SelectedInfo {
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	padding-bottom: 15px;
	width: 90%;
}

.UIFormInputDecoratorSelector .SelectedInfo .UIFormInputSet .Title {
	margin-left: 20px; /* orientation=lt */
	margin-right: 20px; /* orientation=rt */
	font-weight: bold; 
	color: black;
	padding-left: 5px; /* orientation=lt */
	padding-right: 5px; /* orientation=lt */
}

.UIFormInputDecoratorSelector .SelectedInfo .UIFormInputSet {
	margin-top: 0px;
}

.UIFormInputDecoratorSelector .SelectedInfo .UIFormInputSet .FieldContainer{
	margin-top: 8px;
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	white-space: nowrap;
}

.UIFormInputDecoratorSelector .SelectedInfo .UIFormInputSet .Icon{
	margin-right: 3px; /* orientation=lt */
	margin-left: 3px; /* orientation=rt */
	margin-top: 10px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}


.UIFormInputDecoratorSelector .SelectedInfo .UIFormInputSet .FieldContainer .ItemLabel{
	font-size: 12px; font-weight: normal;
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
}

.UIFormInputDecoratorSelector .SelectedInfo .UIFormInputSet .FieldContainer .ItemValue{
	font-size: 12px; 
	margin-left: 10px; /* orientation=lt */
	margin-right: 10px; /* orientation=rt */
}

