/******************************* UICaegorySelector  **********************************/
.UIDropDownItemSelector {}

.UIDropDownItemSelector .ItemInfoBar .LeftItemInfoBar {
  background: url('MacSkin/background/LeftItemInfoBar4x24.png') no-repeat left;
  padding: 0px 0px 0px 4px;
}

.UIDropDownItemSelector .ItemInfoBar .MiddleItemInfoBar {
  background: url('MacSkin/background/ItemInfoBarBG1x24.png') repeat-x center;
  height: 24px;
}

.UIDropDownItemSelector .ItemInfoBar .RightItemInfoBar {
  background: url('MacSkin/background/RightItemInfoBar3x24.png') no-repeat right;
  padding-right: 3px;
}

.ComponentIcon {
  width: 22px; height: 23px;
	background: url('/eXoResources/icons/16x16/DefaultSkin/ImagesList.gif') no-repeat center;
}

.UIDropDownItemSelector .ItemInfoBar .Icon {
	float: left;
}

.UIDropDownItemSelector .ItemInfoBar .SelectedItemLabel {
	float: left;
	line-height: 22px;
	font-size: 11px; font-weight: bold; color: #3f7fbf;
	margin-left: 6px;
}

.UIDropDownItemSelector .DropDownSelectIcon {
	float: right; 
	width: 15px; height: 21px;
	background: url('MacSkin/background/DropDownButton.gif') no-repeat;
	cursor: pointer;
}

/********************************   UIItemList   ****************************************/
.UIItemList {
}

.UIItemList .ItemSelector {
  height: 25px;
  padding: 0px 20px 0px 5px ;
  border-bottom: 1px solid #d1d1d1;
}

.UIItemList .ItemSelector .Icon {
  float: left;
  background: url('/eXoResources/icons/16x16/DefaultSkin/GrayNextArrow.gif') no-repeat;
  height: 16px; width: 16px;
  margin: 4px 2px 0px 0px;
}

.UIItemList .OverItemSelector {
  height: 25px;
	background:#387fd1;
	color: white;
  padding: 0px 20px 0px 5px;
  border-bottom: 1px solid #d1d1d1;
}

.UIItemList .OverItemSelector .Icon {
  float: left;
  background: url('/eXoResources/icons/16x16/MacSkin/WhiteNextArrow.gif') no-repeat;
  height: 16px; width: 16px;
  margin: 4px 2px 0px 0px;
}

.UIItemList .ItemSelectorLabel {
  line-height: 26px;
  font-size: 11px;
  cursor: pointer ;
}

.UIItemList .ItemSelector a {
  color: black;
  text-decoration: none ;
  cursor: pointer;
}

.UIItemList .ItemSelector a:hover {
  color: blue;
}

/*=================================Popup Category Decorator====================================*/
.UIItemList .LTItemSelector {
  background: url('MacSkin/background/TLItemSelector3x2.png') no-repeat left;
  padding-left: 3px;
}

.UIItemList .TCItemSelector {
  height:2px;
  background: url('MacSkin/background/TCItemSelector1x2.gif') repeat-x;
}

.UIItemList .TRItemSelector {
  background: url('MacSkin/background/TRItemSelector3x2.png') no-repeat right;
  padding-right:3px;
}

.UIItemList .MLItemSelector {
  background: url('MacSkin/background/MLItemSelector3x1.png') repeat-y left;
  padding-left: 3px;
}

.UIItemList .MRItemSelector {
  background: url('MacSkin/background/MRItemSelector3x1.png') repeat-y right;
  padding-right:3px;
}

.UIItemList .BLItemSelector {
  background: url('MacSkin/background/BLItemSelector4x4.png') no-repeat left;
  padding-left: 4px;
}

.UIItemList .BRItemSelector {
  padding-right: 4px;
  background: url('MacSkin/background/BRItemSelector4x4.png') no-repeat right;
}

.UIItemList .BCItemSelector {
  height: 4px;
  background: url('MacSkin/background/BCItemSelector1x4.png') repeat-x;
  
}

.UIItemList .MCItemSelector {
  background: white url('/eXoResources/background/MacSkin/Background1x4.png') repeat;
}

/*  Supply footnotes to:
		TL: Top Left.
		TR: Top Right.
		TC: Top Center.
		ML: Middle Left.
		MR: Middle Right.
		MC: Middle Center.
		BL: Bottom Left.
		BR: Bottom Right.
		BC: Bottom Center.
		BG: Background.
		*/