.UITestFormPortlet .UIFormWithTitle {	
	margin: 0px;
}

.UIFormWithTitle {
	width: 500px;
	margin: auto;
}

.UIFormWithTitle .TitleBar {
	padding-left: 15px; /* orientation=lt */
	padding-right: 15px; /* orientation=rt */
	background: url('background/TitleBG1x20.gif') repeat-x;
	height: 19px;
	vertical-align: middle;	line-height: 19px;
	border: solid 1px #b7b7b7;
}

.UIFormWithTitle .HorizontalLayout {
	background: #efefef;
	border: 1px #b7b7b7 solid;
	border-top: none;
}