@import "../variables.less";
@import "../mixins.less";
// -------------------------
.uiNotificationPopoverToolbarPortlet {
	.badgeNotification {
		font-style: normal;
	}
	.badgeNotification {
		position: absolute;
		top: 3px; right: 3px; 
		display:none;
	}
	.dropdown-menu {
		padding: 0;
	}
	.actionMark {
		display:none;
		text-align: right;
		padding: 5px 10px;
		border-bottom: 1px solid  @borderColor;
		> a {
			display: inline-block;
			color: @linkColor;
			padding: 0!important;
			&:hover {
				background: none;
				color: @linkColorHover;
			}
		}
	}
	.actionMark.markAll {
		display: block;
		+ li .displayItems {
			li:first-child {
				.border-radius(0);
			}
		}
	}
	.actionLink {
		vertical-align: middle;
		text-align: center;
		border-top: 1px solid @borderColor;
		padding: 10px;
	}
	.dropdown-menu {
		> li {
			&.no-items {
				padding: 25px 10px 25px;
				text-align: center;
				color: @textLightColor;
				background: url("/platformNavigation/skin/images/UINotificationPopoverToolbarPortlet/iconBell.png") no-repeat center center transparent;
			}
		}
	}
	.displayItems {
		min-width: 300px;
		max-width: 300px;
		max-height: 500px;
		.text-bold {
			font-weight: bold;
		}
		> li {
			display: block;
			padding: 6px 25px 6px 10px;
			border-top: 1px solid @borderColor;
			border-top: none;
			position: relative;
			> .remove-item {
				position: absolute;
				top: 7px;
				right: 5px;
				padding: 0px;
				margin: 0px;
				cursor: pointer;
				> .uiIconClose {
					margin: 0px;
					.opacity(80);
					&:hover {
						.opacity(100);
					}
				}
			}
			.status {
				display: block;
				max-height: 40px;
				overflow: hidden;
			}
			.content {
				font-weight: bold;
				.text-overflow;
				font-size: 12px;
				.confirm {
					margin: 3px 0;
				}
			}
			.avatarXSmall {
				margin-top: 4px;
			}
			.lastUpdatedTime {
				color: @textLightColor;
				font-size: 12px;
			}
			[class^="uiIcon"] {
				vertical-align: -3px;
				margin-right: 7px;
			}
			&.unread {
				background-color: @quoteSecondBackground;
			}
			&:hover {
				#gradient > .vertical(@dropdownLinkBackgroundHover, darken(@dropdownLinkBackgroundHover, 15%));
				color: @white;
				cursor: pointer;
				> .remove-item {
					> .uiIconClose, > .uiIconClose:hover {
						background-image: url("@{images-path}/Icons/uiIconsWhite.png")!important;
					}
				}
				a {
					color: @white!important;
				}
				.btn {
					color: @textColor!important;
					&.btn-primary {
						color: @white!important;
					}
				}
				.lastUpdatedTime {
					color: @white;
				}
				.uiIconLightGray {
					background-image: url("@{images-path}/Icons/uiIconsWhite.png");
				}
				.uiIconSocLightGray	{
					background-image: url("/social-resources/skin/images/Icons/uiIconsSocWhite.png");
				}
			}
			&:first-child {
				.border-top-radius(@borderRadiusSmall);
			}
		}
	}
}