.LineDecorator4px {
	height: 4px;
	background: url('background/LineDecorator.gif') repeat-x top;
}

.LineDecorator6px {
	height: 6px;
	background: url('background/LineDecorator.gif') repeat-x left -4px;
}

.LineDecorator8px {
	height: 8px;
	background: url('background/LineDecorator.gif') repeat-x left -6px;
}

.LineDecorator23px {
	height: 23px;	
	background: url('background/LineDecorator.gif') repeat-x bottom;
	margin: 1px 0px 0px 0px;
	border: solid 1px #5f90ba;
}