
.onlineHeader {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #E1E1E1;
    border-radius: 3px 3px 3px 3px;
    color: #2F3334;
    line-height: 25px;
    padding: 0 5px 0 8px;
    font-weight: bold;
    margin-bottom: 5px;
}

#OnlinePortlet ul {
 list-style-type: none;
 padding-left: 10px;
 padding-right:0px;
  
}

#OnlinePortlet .gallery li {
        display: inline;
        list-style: none;
        width: 26px;
        height: 40px;
        margin: 0 5px 5px 0;
        text-align: center;
  }

#OnlinePortlet .gallery li img {
 margin-bottom: 5px;
 height: 40px;
 width: 26px;
}

.tooltip{ 
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  border: 0 none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #115EAD;
  max-width: 100px;
  width: auto;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border: solid 1px #115EAD;
}

.tooltip div{
    color: #115EAD; 
}

#tipName {
 font-weight: bold; 
}

#OnlinePortlet {

    margin-right: 3px;

}


