.UIStickerWidget {
	background: url('VistaSkin/background/Sticker.png') no-repeat top;
	height: 187px ;
	width: 213px ;	
	margin: auto;
}

.UIStickerWidgetTitle {
	height: 45px ;
}

.UIStickerWidgetContentArea {
	border: 0px ;
	width: 165px ;
	height: 127px ;
	margin: 0px 0px 0px 20px;
	background: transparent ;
	overflow: hidden ;
	font-family: Verdana ;
	font-size: 11px ;
}