.Save24x24Icon {
	background: url('icons/FloppyDisk.gif') no-repeat;
	width: 24px; height: 24px;
}

.Delete24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/Delete.gif') no-repeat;
}

.DustBin24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DustBin.gif') no-repeat;
}

.RedDustBin24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/RedDustBin.gif') no-repeat;
}

.LightBlueFolder24x24Icon {
	background: url('icons/LightBlueFolder.gif') no-repeat;
	width: 24px; height: 24px;
}

.VioletFolder24x24Icon {
	background: url('icons/VioletFolder.gif') no-repeat;
	width: 24px; height: 24px;
}

.LightBlueOpenFolder24x24Icon {
	background: url('icons/LightBlueOpenFolder.gif') no-repeat;
	width: 24px; height: 24px;
}

.LightBlueFolderHome24x24Icon {
	background: url('icons/LightBlueFolderHome.gif') no-repeat;
	width: 24px; height: 24px;
}

.Paste24x24Icon {
	background: url('icons/Paste.gif') no-repeat	;
	width: 24px; height: 24px;
}

.BlackMagnifier24x24Icon {
	background: url('icons/BlackMagnifier.gif') no-repeat;
	width: 24px; height: 24px;
}

.BlueFloppyDisk24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueFloppyDisk.gif') no-repeat;
	margin: auto;
}

.UpLevel24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueUpLevelArrow.gif') no-repeat;
	margin: auto;
}

.DiamondCircleRoundedArrows24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DiamondCircleRoundedArrows.gif') no-repeat;
	margin: auto;
}

.NavyBlueRecycleBin24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/NavyBlueRecycleBin.gif') no-repeat;
	margin: auto;
	cursor: pointer; 
}

.DusBinFull24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DusBinFull.gif') no-repeat;
	margin: auto;
	cursor: pointer; 
}

.BoxBlueArrowDown24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BoxBlueArrowDown.gif') no-repeat;
}

.BlueInfoBox24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueInfoBox.gif') no-repeat;
}

.BoxGreenPlus24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BoxGreenPlus.gif') no-repeat;
}

.BoxPencil24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BoxPencil.gif') no-repeat;
}

.PointedHandBrownBox24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/PointedHandBrownBox.gif') no-repeat;
	margin: auto;
}

.Selected24x24Icon {
	width: 32px; height: 28px;
	background: url('icons/SelectedBlock.gif') no-repeat center left;
	margin: auto;
}

.BlueArrowBox24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueArrowBox.gif') no-repeat;
	margin: auto;
}

.DiskArrow24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DiskArrow.gif') no-repeat;
	margin: auto;
}

.ColorGridSquare24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/ColorGridSquare.gif') no-repeat;
	margin: auto;
}

.OnMouseOver24x24Icon {
	width: 32px; height: 28px;
	background: url('icons/OnmouseOverBlock.gif') no-repeat center;
	margin: auto;	
}

.GreenPlusDataBox24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/GreenPlusDataBox.gif') no-repeat;
	margin: auto;
	cursor: pointer; 	
}
.GreenPlusBrownBox24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/GreenPlusBrownBox.gif') no-repeat;
	margin: auto;
	cursor: pointer; 	
}

.YellowPenBrownBox24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/YellowPenBrownBox.gif') no-repeat;
	margin: auto;
	cursor: pointer; 
}

.NavyBlueRecycleBin24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/NavyBlueRecycleBin.gif') no-repeat;
	margin: auto;
	cursor: pointer;
}

.NavyBlueDocument24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/NavyBlueDocument.gif') no-repeat;
	margin: auto;
	cursor: pointer; 
}

.DataBoxDusBin24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DataBoxDusBin.gif') no-repeat;
	margin: auto;
	cursor: pointer; 
}

.LevelUpArrowIcon {
	width: 24px; height: 24px;
	background: url('icons/BlueUpLevelArrow.gif') no-repeat;
}

.BlueNavigation24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueIconNavigation.gif') no-repeat;
}

.BlueSyncArrow24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueSync.gif') no-repeat;
}

.SiteMap24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/SiteMap.gif') no-repeat;
}

.YellowHammer24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/YellowHammer.gif') no-repeat;
	margin: auto;
	cursor: pointer; 	
}

.Refresh24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/Refresh.gif') no-repeat;
}

.AddCategory24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/AddCategory.gif') no-repeat center;
}

.Catergory24x24Icon {
	width: 16px; height: 16px;
	background: url('icons/Catergory.gif') no-repeat center;
}

.EditCategory24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/EditCategory.gif') no-repeat center;
}

.ImportCategory24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/ImportCategory.gif') no-repeat center;
}

.DeleteCategory24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DeleteCategory.gif') no-repeat center;
}

.Delete24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/NavyBlueTrashBin.gif') no-repeat	;
}

.DeleteAll24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DeleteAll.gif') no-repeat;
}

.Rollback24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueBackArrow.gif') no-repeat;
}

.UIListPermissionSelector24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/IconAccessPermission.gif') no-repeat;
}

.UIPermissionSelector24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/IconEditPermission.gif') no-repeat;
}