
.SelectFileFrame {
	width: 400px;
	margin: 10px 0px 10px 0px;
}

.SelectFileLabel {
	float: left;
	text-align: right ;
	margin-right: 15px;
}

.UploadButton {
	float: right;
	background: url("DefaultSkin/Background/UpArrow16x16.gif") no-repeat left;
	cursor: pointer;
	padding-left: 16px;
	color: #058ee6;
	font-weight: bold;
}

.ProgressBarFrame {
	width: 400px;
	margin: 10px 0px 10px 0px;
}

.ProgressBar {
	float: left;
	width: 230px;
	margin-left: 10px;
}

.ProgressBarLeft {
	padding: 1px ;
	border: solid 1px gray;
}

.ProgressBarMiddle {
}

.BlueProgressBar {
	width: 0%; height: 14px;
	background: url("DefaultSkin/Background/BlueBg1x14.gif") repeat-x;
	position: relative;
}

.ProgressBarLabel {
	width: 15px; height: 15px;
	position: absolute;
	left: 110px;
}

.ProgressBarLabel {
	font-size: 11px;  text-align: center;
}

.DeleteFileFrame {
	float: left;
	background: url("MacSkin/background/Delete.gif") no-repeat;
	cursor: pointer;
	padding-left: 23px;
	margin-left: 5px;
}
.DeleteFileLable {
	font-size: 11px;
	font-family: verdana;
	line-height: 18px;
}
.FileName {
	float: left;
}

.FileNameLabel {
	font-weight: bold;
	font-size: 11px;
	line-height: 12px;
	vertical-align: middle;
	width: 215px;
	padding: 0px 0px 0px 8px;
}

.RemoveFile {
	float: left;
	padding-left: 25px;
	background:  url("MacSkin/background/DustBin.gif") no-repeat;
	height: 16px;
	cursor: pointer;
	margin-left: 10px;
}