#InvitationsPortlet {
    border: dashed 1px #E2DDC7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 10px 15px 5px 15px;
}

#InvitationsPortlet ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

#InvitationsPortlet ul li{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.InviteList img{
    width: 24px;
    height: 24px;
    border-width: 0px;
}

.InviteHeader {
    font-weight: bold;
    margin-bottom: 12px;
    padding-top: 5px;
}

.peopleInviteName {
    font-weight: bold;
}

.name {
    width:172px;
    float:left;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.actionInviteAppears {
    width:68px;
    float:left;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.peopleInvitePosition {
    width:172px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.peopleInviteAction {
    white-space:nowrap;
    font-size: 10px;
}

.peopleInviteInfo {
    padding-left: 10px;
    width: 172px;
    overflow: hidden;
}

.peopleInvitePicture {
    float: left;
    padding-top: 2px;
}

.spaceInviteName {
    font-weight: bold;
}

.spaceInviteAction {
    white-space:nowrap;
    font-size: 10px;
}

.spaceInviteInfo {
    /*float: left;*/
    padding-left: 10px;
    width: 172px;
    overflow: hidden;
}

.spaceInvitePicture {
    float: left;
    padding-top: 2px;
}

.spacevisibility{
    width:172px;
    float:left;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}

.actionSpaceAppears {
    width:68px;
    float:left;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}