.Next16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/BlueNextArrow.gif') ;
}

.BCHome16x16Icon {	
  width: 16px ; height: 16px ;
  background: url('icons/Home.gif') ;
}

.DownArrow1Icon {
	background: url('icons/BlueDownArrow.gif') no-repeat right;
}

.NextArrow1Icon {
	background: url('icons/BlueNextArrow.gif') no-repeat right;
}

.RightBlackGridArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/BreadcumbsArrowIcon.gif') ;
}

.DefaultContainer16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/BlueContainer.gif') ;
}

.AddNewNodeIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/BlueCirclePlus.gif') ;
}

.BlueCirclePlusIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/BlueCirclePlus.gif') ;
}

.SelectPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/SelectPage.gif') ;
}

.PermissionSettingIcon {
  width: 17px ; height: 17px ;
  background: url('icons/PermissionSetting.gif') no-repeat center;
}

.PreviewIcon {
  width: 16px ; height: 16px ;
  background: url('icons/LightBulbOn.gif') ;
}

.SaveIcon {
  background: url('icons/FloppyDisk.gif') ;
}

.OrangeBoxPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/MiniOrangeBoxPage.gif') ;
}

.CancelIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/Cancel.gif') ;
}

.AddPage16x16Icon{
  width: 16px ; height: 16px ;
  background: url('icons/AddPage.gif') ;
}

.GreenArrowPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/GreenRightArrowPage.gif') ;
}

.GreenPlusPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/GreenPlusPage.gif') ;
}

.SelectPageIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/SelectIcon.gif') ;
  margin: auto;
}

.SelectPortalIcon {
  width: 16px ;  height: 16px ; margin: auto;
  background: url('icons/SelectIcon.gif') ;
}

.SearchIcon {
  width: 16px ;  height: 16px ; margin: auto;
  background: url('icons/SearchIcon.png') no-repeat;
}

.DeletePortalIcon {
  width: 16px ;  height: 16px ; margin: auto;
  background: url('icons/DustBin.gif') ;
}

.OnLightPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/OrangeLightPage.gif') ;
}

.Save16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/FloppyDisk.gif') ;
}

.Cancel16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/RedCrossCircle.gif') ;
}

.Close16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/RedCrossCircle.gif') ;
}

.Refresh16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/RefreshIcon.gif') ;
}

.Update16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/Refresh.gif') ;
}

.Back16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/BlueBackArrow.gif') ;
}

.CloseFolder16x16Icon {
	width: 16px ;	height: 16px ;
	background: url('icons/CloseFolder.gif') ;
}

.OpenFolder16x16Icon {
	width: 16px ; height: 16px ;
	background: url('icons/OpenFolder.gif') ;
}

.Pencil16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/Pencil.gif') ;
}

.DustBin16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/DustBin.gif') ;   
}

.Level116x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/SmallArrowBox.gif') ;
}

.Level216x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/BlueSquare.gif') ;
}

.Level316x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/GreenMiniBox.gif') ;
}

.CircleInfo16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/CircleInfo.gif') ;
}

.Lock16x16Icon {
	width: 16px ;  height: 16px ;
  background: url('icons/Lock.gif') ;
}

.PastePalate16x16Icon {
	width: 16px ;  height: 16px ;
  background: url('icons/PastePalate.gif') ;
}

.BlueNote16x16Icon {
	width: 16px ;  height: 16px ;
  background: url('icons/BlueNote.gif') ;
}

.DoublePaper16x16Icon {
	width: 16px ;  height: 16px ;
  background: url('icons/DoublePaper.gif') ;
}

.LoadingInfo16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/LoadingInfo.gif') ;
}

.ScissorsEraser16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/ScissorsEraser.gif') ;
}

.ScissorsEraserWarning16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/ScissorsEraserWarning.gif') ;
}

.OrangeNote16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/OrangeNote.gif') ;
}

/********************* Icon PortletIcon************************************/

.PortletIcon {
  background: url('icons/Earth.gif') no-repeat center;
}

.Organization {
  background: url('icons/Earth.gif') no-repeat center;
}

.Fast {
  background: url('icons/EditIcon.gif') no-repeat center;
}

.Account {
  background: url('icons/UserAccount.gif') no-repeat center;
}

.Registry-Portlet {
  background: url('icons/RegistryPortlet.gif') no-repeat center;
}

.Site {
  background: url('icons/SiteMap.gif') no-repeat center;
}

.Login {
  background: url('icons/ToolIcons/Key.gif') no-repeat center;
}

.Mail {
  background: url('icons/OfficeIcons/Email.gif') no-repeat center;
}

.Forum {
  background: url('icons/ForumIcon.gif') no-repeat center;
}

.ECMAdminIcon {
  background: url('icons/ECMAdmin.gif') no-repeat center;
}

.ExplorerIcon {
  background: url('icons/JCRExplorer.gif') no-repeat center;
}

.Dialog {
  background: url('icons/DialogIcon.gif') no-repeat center;
}

.Browse{
  background: url('icons/BrowseContent.gif') no-repeat center;
}

.Workflow {
  background: url('icons/WorkflowIcon.gif') no-repeat center;
}

/*##############- Misc Icons -#############*/
.BlueArrowFloppy16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/BlueArrowBlackFloppy.gif') ;
}

.BlueInfoBox16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Info.gif') ;
}

.Config16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Config.gif') ;
}

.SelectPermissionIcon {
  width: 16px ; height: 16px ;
  background: url('icons/SelectPermission.gif') ;
}

.Node16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Node.gif') ;
}

.Level16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Level.gif') ;
}

.Feature16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Feature.gif') ;
}

.RSS16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/RSS.gif') ;
}

.Earth16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Earth.gif') ;
}

.AdminView16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/AdminView.gif') ;
}

.Briefcase16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Briefcase.gif') ;
}

.AddNode16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/BlueCirclePlus.gif') ;
}

.EditIcon {
  width: 16px ; height: 16px ;
  background: url('icons/EditIcon.gif') ;
}

.Organization16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Organization.gif') ;
}

.UserRegistration16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/UserRegistration.gif') ;
}

.Management16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/Management.gif') ;
}

.PortalAdmin16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/PortalAdmin.gif') ;
}

.Duplicate16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/Duplicate.gif') ;
}

.Portal16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/Portal.gif') ;
}

.Administration16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/Monitor.gif') ;
}

.SiteMap16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/SiteMap.gif') ;
}

.SearchPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/SearchPage.gif') ;
}

.BlueCirclePlus16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/BlueCirclePlus.gif') ;
}

.ShieldGreenPlus16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/ShieldGreenPlus.gif') ;
}

.InfoMessage16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/BlueSquare.gif') ;
}

.WarningMessageSquare16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/YellowSquare.gif') ;
}

.ErrorMessage16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/RedSquare.gif') ;
}

.DoubleBrownNoteIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/DoubleBrownNote.gif') ;
}

.Execute16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/Execute.gif') ;
}

.OrangePencilSourceBox16x16Icon {
	width: 16px ; height: 16px ;
	background: url('icons/OrangePencilSourceBox.gif') ;	
}

.Home16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/Home.gif') ;
}

.ColorPen16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/ColorPen.gif') ;
}

.NestedSquare16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/NestedSquare.gif') ;
}

.VioletInfoWindow16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/VioletInfoWindow.gif') ;
}

.PageTicker16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/PageTicker.gif') ;
}

.GreenPlusPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/GreenPlusPage.gif') ;
}

.BlackBorderSquareBlueBall16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/BlackBorderSquareBlueBall.gif') ;
}

.GreenPlusDataBox16x16Icon {
	height: 16px ;
	width: 16px ;	
	background: url('icons/GreenPlusDatabox.gif') ;
}

/* TODO: Change image'name to "BlueShapeLeftArrow" */
.BlueBackArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/BlueBackArrow.gif') ;
  cursor: pointer;
}

/* TODO: Change image'name to "BlueShapeRightArrow" */
.BlueNextArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/BlueNextArrow.gif') ;
  cursor: pointer;  
}

.Remove16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/DustBin.gif') ;   
}

.GrayBackArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/GrayShapeLeftArrow.gif') ;
  cursor: pointer;  
}

.GrayNextArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/GrayShapeRightArrow.gif') ;
}

.BlueCircleLeftArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/BlueCircleLeftArrow.gif') ;
}

.BlueCircleRightArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/BlueCircleRightArrow.gif') ;
}

.BlueGridRightArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/BlueGridRightArrow.gif') ;
}

.GrayDoubleGridDownArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/GrayDoubleGridDownArrow.gif') ;
}

.GrayFillRightArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/GrayFillRightArrow.gif') ;  
}

.BlueSquareRightArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/BlueSquareRightArrow.gif') ;  
}

.DotArrowRight16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/DotArrowRight.gif') ;  
}

.BlackGridRightArrow16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/BlackGridRightArrow.gif') ;  
}

.BlueCloseButton16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/BlueCloseButton.gif') ;
}

.Logout16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/RedLogoutIcon.gif') ;
}

.TreeNode16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/TreeNodeIcon.gif') ;
}

.Scissors16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/Scissors.gif') ;
}

.HotNews16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/HotNews.gif') ;
}

.ArrowS1Down16x16Icon {
  width: 22px ; height: 17px ;
  background: url('icons/ArrowSLDown.gif') no-repeat center;
}

.ArrowS1Up16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/WhiteArrowUp.gif') ;
}

.Portlet16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/DefaultPortletIcon.gif') ;
}

.Container16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/DefaultContainerIcon.gif') ;
}

.SmallGroup16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/SmallGroup.gif') ;
}

.DefaultPageIcon {
  background: url('icons/DefaultPageIcon.gif') no-repeat left center;
}

.MoveUp16x16Icon {
	background: url('icons/MoveUp.gif') no-repeat left center;
}

.MoveDown16x16Icon {
	background: url('icons/MoveDown.gif') no-repeat left center;
}

/*/////////////////////////////////////Icon Stylesheet for IconSelector///////////////////////////*/

/*===========================Misc Icons Stylesheet=======================*/
.AcrobatFile {
  background: url('icons/IconSelector.gif') no-repeat top left;
}

.AdminView {
  background: url('icons/IconSelector.gif') no-repeat -16px top;
}

.AllTags {
  background: url('icons/IconSelector.gif') no-repeat -32px top;
}

.AmericanExpressCard {
  background: url('icons/IconSelector.gif') no-repeat -48px top;
}

.ApplicationGallery {
  background: url('icons/IconSelector.gif') no-repeat -64px top;
}

.ApplicationLink {
  background: url('icons/IconSelector.gif') no-repeat -80px top;
}

.ApplicationList {
  background: url('icons/IconSelector.gif') no-repeat -96px top;
}

.ApplicationSize {
 background: url('icons/IconSelector.gif') no-repeat -112px top;
}

.ApplicationTerminal {
  background: url('icons/IconSelector.gif') no-repeat -128px top;
}

.ApplicationWorldWide {
  background: url('icons/IconSelector.gif') no-repeat -144px top;
}

.BlueInfo {
  background: url('icons/IconSelector.gif') no-repeat -160px top;
}

.Bomb {
  background: url('icons/IconSelector.gif') no-repeat -176px top;
}

.BookmarkPage {
  background: url('icons/IconSelector.gif') no-repeat -192px top;
}

.BreakLink {
  background: url('icons/IconSelector.gif') no-repeat -208px top;
}

.Brick {
  background: url('icons/IconSelector.gif') no-repeat -224px top;
}

.CategoryList {
  background: url('icons/IconSelector.gif') no-repeat -240px top;
}

.Checkout {
  background: url('icons/IconSelector.gif') no-repeat -256px top;
}

.CheckPage {
  background: url('icons/IconSelector.gif') no-repeat -272px top;
}

.Comment {
  background: url('icons/IconSelector.gif') no-repeat -288px top;
}

.ComponentsList {
  background: url('icons/IconSelector.gif') no-repeat -304px top;
}

.Config {
  background: url('icons/IconSelector.gif') no-repeat left -16px;
}

.CSS {
   background: url('icons/IconSelector.gif') no-repeat -16px -16px;
}


.DiskDrive {
  background: url('icons/IconSelector.gif') no-repeat -32px -16px;
}

.DownloadApplication {
  background: url('icons/IconSelector.gif') no-repeat -48px -16px;
}

.DreamweaverApplication {
  background: url('icons/IconSelector.gif') no-repeat -64px -16px;
}

.DynamicContentPage {
  background: url('icons/IconSelector.gif') no-repeat -80px -16px;
}

.Extension {
  background: url('icons/IconSelector.gif') no-repeat -96px -16px;
}

.Factory {
  background: url('icons/IconSelector.gif') no-repeat -112px -16px;
}

.Feature {
  background: url('icons/IconSelector.gif') no-repeat -128px -16px;
}

.Flash {
  background: url('icons/IconSelector.gif') no-repeat -144px -16px;
}

.FlashFile {
  background: url('icons/IconSelector.gif') no-repeat -160px -16px;
}

.FolderLock {
  background: url('icons/IconSelector.gif') no-repeat -176px -16px;
}

.FontFile {
  background: url('icons/IconSelector.gif') no-repeat -192px -16px;
}

.Glove {
  background: url('icons/IconSelector.gif') no-repeat -208px -16px;
}

.Home {
   background: url('icons/IconSelector.gif') no-repeat -224px -16px;
}

.HTML {
  background: url('icons/IconSelector.gif') no-repeat -240px -16px;
}

.Humer {
  background: url('icons/IconSelector.gif') no-repeat -256px -16px;
}

.IconsView {
  background: url('icons/IconSelector.gif') no-repeat -272px -16px;
}

.ImageFrame {
  background: url('icons/IconSelector.gif') no-repeat -288px -16px;
}

.Images {
  background: url('icons/IconSelector.gif') no-repeat -304px -16px;
}

.ImagesFolder {
  background: url('icons/IconSelector.gif') no-repeat left -32px;
}

.ImageSize {
  background: url('icons/IconSelector.gif') no-repeat -16px -32px;
}

.ImagesList {
  background: url('icons/IconSelector.gif') no-repeat -32px -32px;
}

.Info {
  background: url('icons/IconSelector.gif') no-repeat -48px -32px;
}

.InstallerProgress {
  background: url('icons/IconSelector.gif') no-repeat -64px -32px;
}

.JavaPge {
  background: url('icons/IconSelector.gif') no-repeat -80px -32px;
}

.Layout {
  background: url('icons/IconSelector.gif') no-repeat -96px -32px;
}

.Link {
  background: url('icons/IconSelector.gif') no-repeat -112px -32px;
}

.LockPage {
  background: url('icons/IconSelector.gif') no-repeat -128px -32px;
}

.MasterCard {
  background: url('icons/IconSelector.gif') no-repeat -144px -32px;
}

.Music {
  background: url('icons/IconSelector.gif') no-repeat -160px -32px;
}

.MusicDownload {
  background: url('icons/IconSelector.gif') no-repeat -176px -32px;
}

.New {
  background: url('icons/IconSelector.gif') no-repeat -192px -32px;
}

.PackagesList {
  background: url('icons/IconSelector.gif') no-repeat -208px -32px;
}

.PageCategory {
  background: url('icons/IconSelector.gif') no-repeat -224px -32px;
}

.PhotoshopFile {
  background: url('icons/IconSelector.gif') no-repeat -240px -32px;
}

.Printer {
  background: url('icons/IconSelector.gif') no-repeat -256px -32px;
}

.Puzzle {
  background: url('icons/IconSelector.gif') no-repeat -272px -32px;
}

.QuicktimeMovieFile {
  background: url('icons/IconSelector.gif') no-repeat -288px -32px;
}

.Rainbow {
  background: url('icons/IconSelector.gif') no-repeat -304px -32px;
}

.RefeshPage {
  background: url('icons/IconSelector.gif') no-repeat left -48px;
}

.RSS {
  background: url('icons/IconSelector.gif') no-repeat -16px -48px;
}

.RSSFeed {
  background: url('icons/IconSelector.gif') no-repeat -32px -48px;
}

.SearchFolder {
  background: url('icons/IconSelector.gif') no-repeat -48px -48px;
}

.Security {
  background: url('icons/IconSelector.gif') no-repeat -64px -48px;
}

.Software {
  background: url('icons/IconSelector.gif') no-repeat -80px -48px;
}

.Speaker {
  background: url('icons/IconSelector.gif') no-repeat -96px -48px;
}

.Speaker2 {
  background: url('icons/IconSelector.gif') no-repeat -112px -48px;
}

.StarAward {
  background: url('icons/IconSelector.gif') no-repeat -128px -48px;
}

.StarPage {
  background: url('icons/IconSelector.gif') no-repeat -144px -48px;
}

.Stats {
  background: url('icons/IconSelector.gif') no-repeat -160px -48px;
}

.TagPage {
  background: url('icons/IconSelector.gif') no-repeat -176px -48px;
}

.TagSign {
  background: url('icons/IconSelector.gif') no-repeat -192px -48px;
}

.Ticket {
  background: url('icons/IconSelector.gif') no-repeat -208px -48px;
}

.TrueTypeFont {
  background: url('icons/IconSelector.gif') no-repeat -224px -48px;
}

.Tux {
  background: url('icons/IconSelector.gif') no-repeat -240px -48px;
}

.Vector {
  background: url('icons/IconSelector.gif') no-repeat -256px -48px;
}

.Version {
  background: url('icons/IconSelector.gif') no-repeat -272px -48px;
}

.VisaCard {
  background: url('icons/IconSelector.gif') no-repeat -288px -48px;
}

.WeatherClouds {
  background: url('icons/IconSelector.gif') no-repeat -304px -48px;
}

.WeatherCloudy {
  background: url('icons/IconSelector.gif') no-repeat left -64px;
}

.WeatherLightning {
  background: url('icons/IconSelector.gif') no-repeat -16px -64px;
}

.WeatherRain {
  background: url('icons/IconSelector.gif') no-repeat -32px -64px;
}

.WeatherSnow {
  background: url('icons/IconSelector.gif') no-repeat -48px -64px;
}

.WeatherSun {
  background: url('icons/IconSelector.gif') no-repeat -64px -64px;
}

.World {
  background: url('icons/IconSelector.gif') no-repeat -80px -64px;
}

.XHTML {
  background: url('icons/IconSelector.gif') no-repeat -96px -64px;
}

.YellowStar {
  background: url('icons/IconSelector.gif') no-repeat -112px -64px;
}
/*===========================End Misc Icons Stylesheet=======================*/

/*===========================Office Icons Stylesheet=======================*/
.AddressBook {
  background: url('icons/IconSelector.gif') no-repeat left -80px;
}

.ArticleDocument {
  background: url('icons/IconSelector.gif') no-repeat -16px -80px;
}

.At {
  background: url('icons/IconSelector.gif') no-repeat -32px -80px;
}

.Attachment {
  background: url('icons/IconSelector.gif') no-repeat -48px -80px;
}

.Book {
  background: url('icons/IconSelector.gif') no-repeat -64px -80px;
}

.Chair {
  background: url('icons/IconSelector.gif') no-repeat -80px -80px;
}

.ChartBar {
  background: url('icons/IconSelector.gif') no-repeat -96px -80px;
}

.ChartLine {
  background: url('icons/IconSelector.gif') no-repeat -112px -80px;
}

.CoffeeCup {
  background: url('icons/IconSelector.gif') no-repeat -128px -80px;
}

.CoinsCurency {
  background: url('icons/IconSelector.gif') no-repeat -144px -80px;
}

.Computer {
  background: url('icons/IconSelector.gif') no-repeat -160px -80px;
}

.Conference {
  background: url('icons/IconSelector.gif') no-repeat -176px -80px;
}

.Date {
  background: url('icons/IconSelector.gif') no-repeat -192px -80px;
}

.DocumentBox {
  background: url('icons/IconSelector.gif') no-repeat -208px -80px;
}

.Door {
  background: url('icons/IconSelector.gif') no-repeat -224px -80px;
}

.DreamweaverFile {
  background: url('icons/IconSelector.gif') no-repeat -240px -80px;
}

.Email {
  background: url('icons/IconSelector.gif') no-repeat -256px -80px;
}

.Envelope {
  background: url('icons/IconSelector.gif') no-repeat -272px -80px;
}

.ExeFile {
  background: url('icons/IconSelector.gif') no-repeat -288px -80px;
}

.FloppyDisk {
  background: url('icons/IconSelector.gif') no-repeat -304px -80px;
}

.Folder1 {
  background: url('icons/IconSelector.gif') no-repeat left -96px;
}

.Folder2 {
  background: url('icons/IconSelector.gif') no-repeat -16px -96px;
}

.Folder3 {
  background: url('icons/IconSelector.gif') no-repeat -32px -96px;
}

.Folder4 {
  background: url('icons/IconSelector.gif') no-repeat -48px -96px;
}

.Folder5 {
  background: url('icons/IconSelector.gif') no-repeat -64px -96px;
}

.HomePage {
  background: url('icons/IconSelector.gif') no-repeat -80px -96px;
}

.HotNews {
  background: url('icons/IconSelector.gif') no-repeat -96px -96px;
}

.IDCard {
  background: url('icons/IconSelector.gif') no-repeat -112px -96px;
}

.IllustratorFile {
  background: url('icons/IconSelector.gif') no-repeat -128px -96px;
}

.IndesignFile {
  background: url('icons/IconSelector.gif') no-repeat -144px -96px;
}

.Index {
  background: url('icons/IconSelector.gif') no-repeat -160px -96px;
}

.Keyboard {
  background: url('icons/IconSelector.gif') no-repeat -176px -96px;
}

.Letter {
  background: url('icons/IconSelector.gif') no-repeat -192px -96px;
}

.MacOSXFolder {
  background: url('icons/IconSelector.gif') no-repeat -208px -96px;
}

.Mail {
  background: url('icons/IconSelector.gif') no-repeat -224px -96px;
}

.Map {
  background: url('icons/IconSelector.gif') no-repeat -240px -96px;
}

.Monitor {
  background: url('icons/IconSelector.gif') no-repeat -256px -96px;
}

.Mouse {
  background: url('icons/IconSelector.gif') no-repeat -272px -96px;
}

.Newspaper {
  background: url('icons/IconSelector.gif') no-repeat -288px -96px;
}

.Newspaper2 {
  background: url('icons/IconSelector.gif') no-repeat -304px -96px;
}

.NotePage {
  background: url('icons/IconSelector.gif') no-repeat left -112px;
}

.OpenBook {
  background: url('icons/IconSelector.gif') no-repeat -16px -112px;
}

.OpenEmail {
  background: url('icons/IconSelector.gif') no-repeat -32px -112px;
}

.OpenFolder {
  background: url('icons/IconSelector.gif') no-repeat -48px -112px;
}

.Page {
  background: url('icons/IconSelector.gif') no-repeat -64px -112px;
}

.PaperList {
  background: url('icons/IconSelector.gif') no-repeat -80px -112px;
}

.PastePalate {
  background: url('icons/IconSelector.gif') no-repeat -96px -112px;
}

.Picture {
  background: url('icons/IconSelector.gif') no-repeat -112px -112px;
}

.Purchase {
  background: url('icons/IconSelector.gif') no-repeat -128px -112px;
}

.Script {
  background: url('icons/IconSelector.gif') no-repeat -144px -112px;
}

.SearchPage {
  background: url('icons/IconSelector.gif') no-repeat -160px -112px;
}

.ShoppingBag {
  background: url('icons/IconSelector.gif') no-repeat -176px -112px;
}

.Sitemap {
  background: url('icons/IconSelector.gif') no-repeat -192px -112px;
}

.Stats2 {
  background: url('icons/IconSelector.gif') no-repeat -208px -112px;
}

.Tag {
  background: url('icons/IconSelector.gif') no-repeat -224px -112px;
}

.Telephone {
  background: url('icons/IconSelector.gif') no-repeat -240px -112px;
}

.TextFile {
  background: url('icons/IconSelector.gif') no-repeat -256px -112px;
}

.YellowFolder {
  background: url('icons/IconSelector.gif') no-repeat -272px -112px;
}

.YellowPen {
  background: url('icons/IconSelector.gif') no-repeat -288px -112px;
}
.ZipFile {
  background: url('icons/IconSelector.gif') no-repeat -304px -112px;
}
/*===========================End Office Icons Stylesheet=======================*/

/*===========================Navigation Icons Stylesheet=======================*/
.BlackDownSolidArrow {
  background: url('icons/IconSelector.gif') no-repeat left -128px;
}

.BlackLeftSolidArrow {
  background: url('icons/IconSelector.gif') no-repeat -16px -128px;
}

.BlackRightSolidArrow {
  background: url('icons/IconSelector.gif') no-repeat -32px -128px;
}

.BlackUpSolidArrow {
  background: url('icons/IconSelector.gif') no-repeat -48px -128px;
}

.BlueAquaBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -64px -128px;
}

.BlueArrowIn {
  background: url('icons/IconSelector.gif') no-repeat -80px -128px;
}

.BlueArrowInOut {
  background: url('icons/IconSelector.gif') no-repeat -96px -128px;
}

.BlueBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -112px -128px;
}

.BlueBranchArrow {
  background: url('icons/IconSelector.gif') no-repeat -128px -128px;
}

.BlueDividedArrow {
  background: url('icons/IconSelector.gif') no-repeat -144px -128px;
}

.BlueDownArrow {
  background: url('icons/IconSelector.gif') no-repeat -160px -128px;
}

.BlueJoinArrow {
  background: url('icons/IconSelector.gif') no-repeat -176px -128px;
}

.BlueRedoArrow {
  background: url('icons/IconSelector.gif') no-repeat -192px -128px;
}

.BlueRotateRightArrow {
  background: url('icons/IconSelector.gif') no-repeat -208px -128px;
}

.BlueSquareBullet {
  background: url('icons/IconSelector.gif') no-repeat -224px -128px;
}

.BlueSwitchArrow {
  background: url('icons/IconSelector.gif') no-repeat -240px -128px;
}

.BlueTriangleBullet {
  background: url('icons/IconSelector.gif') no-repeat -256px -128px;
}

.BlueUndoArrow {
  background: url('icons/IconSelector.gif') no-repeat -272px -128px;
}

.BlueUpArrow {
  background: url('icons/IconSelector.gif') no-repeat -288px -128px;
}

.Check {
  background: url('icons/IconSelector.gif') no-repeat -304px -128px;
}

.Check2 {
  background: url('icons/IconSelector.gif') no-repeat left -144px;
}

.Delete {
  background: url('icons/IconSelector.gif') no-repeat -16px -144px;
}

.Forward {
  background: url('icons/IconSelector.gif') no-repeat -32px -144px;
}

.GrassGreenBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -48px -144px;
}

.GreenBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -64px -144px;
}

.GreenSquareBullet {
  background: url('icons/IconSelector.gif') no-repeat -80px -144px;
}

.GreenTriangleBullet {
  background: url('icons/IconSelector.gif') no-repeat -96px -144px;
}

.GreyAquaBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -112px -144px;
}

.GreyBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -128px -144px;
}

.GreyLeftShapeArrow {
  background: url('icons/IconSelector.gif') no-repeat -144px -144px;
}

.GreySquareBullet {
  background: url('icons/IconSelector.gif') no-repeat -160px -144px;
}

.GreyTriangleBullet {
  background: url('icons/IconSelector.gif') no-repeat -176px -144px;
}

.RedAquaBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -192px -144px;
}

.RedBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -208px -144px;
}

.RedSquareBullet {
  background: url('icons/IconSelector.gif') no-repeat -224px -144px;
}

.RedTriangleBullet {
  background: url('icons/IconSelector.gif') no-repeat -240px -144px;
}

.Reply {
  background: url('icons/IconSelector.gif') no-repeat -256px -144px;
}

.RightShapeArrow {
  background: url('icons/IconSelector.gif') no-repeat -272px -144px;
}

.YellowAquaBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -288px -144px;
}

.YellowBallBullet {
  background: url('icons/IconSelector.gif') no-repeat -304px -144px;
}

.YellowSquareBullet {
  background: url('icons/IconSelector.gif') no-repeat left -160px;
}

.YellowTriangleBullet {
  background: url('icons/IconSelector.gif') no-repeat -16px -160px;
}

/*===========================End Navigation Icons Stylesheet=======================*/

/*===========================Tool Icons Stylesheet=======================*/
.Alarm {
  background: url('icons/IconSelector.gif') no-repeat left -176px;
}

.Anchor {
  background: url('icons/IconSelector.gif') no-repeat -16px -176px;
}

.Basketball {
  background: url('icons/IconSelector.gif') no-repeat -32px -176px;
}

.Bell {
  background: url('icons/IconSelector.gif') no-repeat -48px -176px;
}

.Billards {
  background: url('icons/IconSelector.gif') no-repeat -64px -176px;
}

.BlueActionWheel {
  background: url('icons/IconSelector.gif') no-repeat -80px -176px;
}

.BlueFlag {
  background: url('icons/IconSelector.gif') no-repeat -96px -176px;
}

.Box {
  background: url('icons/IconSelector.gif') no-repeat -112px -176px;
}

.BriefCase {
  background: url('icons/IconSelector.gif') no-repeat -128px -176px;
}

.Calculator {
  background: url('icons/IconSelector.gif') no-repeat -144px -176px;
}

.Calendar {
  background: url('icons/IconSelector.gif') no-repeat -160px -176px;
  
}

.Cart {
  background: url('icons/IconSelector.gif') no-repeat -176px -176px;
}

.CD {
  background: url('icons/IconSelector.gif') no-repeat -192px -176px;
}

.Clock {
  background: url('icons/IconSelector.gif') no-repeat -208px -176px;
}

.Component {
  background: url('icons/IconSelector.gif') no-repeat -224px -176px;
}

.CropTool {
  background: url('icons/IconSelector.gif') no-repeat -240px -176px;
}

.DeskPhone {
  background: url('icons/IconSelector.gif') no-repeat -256px -176px;
}

.EmptyBox {
  background: url('icons/IconSelector.gif') no-repeat -272px -176px;
}

.Entertainment {
  background: url('icons/IconSelector.gif') no-repeat -288px -176px;
}

.FileBox {
  background: url('icons/IconSelector.gif') no-repeat -304px -176px;
}

.FirefoxBrowser {
  background: url('icons/IconSelector.gif') no-repeat left -192px;
}

.FolderExport {
  background: url('icons/IconSelector.gif') no-repeat -16px -192px;
}

.FolderImport {
  background: url('icons/IconSelector.gif') no-repeat -32px -192px;
}

.Football {
  background: url('icons/IconSelector.gif') no-repeat -48px -192px;
}

.Gear {
  background: url('icons/IconSelector.gif') no-repeat -64px -192px;
}

.Golf {
  background: url('icons/IconSelector.gif') no-repeat -80px -192px;
}

.GrayWallet {
  background: url('icons/IconSelector.gif') no-repeat -96px -192px;
}

.GreenFlag {
  background: url('icons/IconSelector.gif') no-repeat -112px -192px;
}

.GreyFlag {
  background: url('icons/IconSelector.gif') no-repeat -128px -192px;
}

.HardDisk {
  background: url('icons/IconSelector.gif') no-repeat -144px -192px;
}

.HourGlass {
  background: url('icons/IconSelector.gif') no-repeat -160px -192px;
}

.Key {
  background: url('icons/IconSelector.gif') no-repeat -176px -192px;
}

.Light {
  background: url('icons/IconSelector.gif') no-repeat -192px -192px;
}

.Lock {
  background: url('icons/IconSelector.gif') no-repeat -208px -192px;
}

.MacApplicationTool {
  background: url('icons/IconSelector.gif') no-repeat -224px -192px;
}

.MacMonitor {
  background: url('icons/IconSelector.gif') no-repeat -240px -192px;
}

.Magnifier {
  background: url('icons/IconSelector.gif') no-repeat -256px -192px;
}

.MoveTool {
  background: url('icons/IconSelector.gif') no-repeat -272px -192px;
}

.Movie {
  background: url('icons/IconSelector.gif') no-repeat -288px -192px;
}

.Network {
  background: url('icons/IconSelector.gif') no-repeat -304px -192px;
}

.Paste {
  background: url('icons/IconSelector.gif') no-repeat left -208px;
}

.PCMonitor {
  background: url('icons/IconSelector.gif') no-repeat -16px -208px;
}

.Pencil {
  background: url('icons/IconSelector.gif') no-repeat -32px -208px;
}

.Raquet {
  background: url('icons/IconSelector.gif') no-repeat -48px -208px;
}

.RedFlag {
  background: url('icons/IconSelector.gif') no-repeat -64px -208px;
}

.Ruler {
  background: url('icons/IconSelector.gif') no-repeat -80px -208px;
}

.Search {
  background: url('icons/IconSelector.gif') no-repeat -96px -208px;
}

.Shield {
  background: url('icons/IconSelector.gif') no-repeat -112px -208px;
}

.Shuttlecock {
  background: url('icons/IconSelector.gif') no-repeat -128px -208px;
}

.Soccer {
  background: url('icons/IconSelector.gif') no-repeat -144px -208px;
}

.Sound {
  background: url('icons/IconSelector.gif') no-repeat -160px -208px;
}

.Switcher {
  background: url('icons/IconSelector.gif') no-repeat -176px -208px;
}

.Tennis {
  background: url('icons/IconSelector.gif') no-repeat -192px -208px;
}

.ToolBoxOpen {
  background: url('icons/IconSelector.gif') no-repeat -208px -208px;
}

.UnLock {
  background: url('icons/IconSelector.gif') no-repeat -224px -208px;
}

.VolumeControl {
  background: url('icons/IconSelector.gif') no-repeat -240px -208px;
}

.Wand {
  background: url('icons/IconSelector.gif') no-repeat -256px -208px;
}

.Warning {
  background: url('icons/IconSelector.gif') no-repeat -272px -208px;
}

.Webcam {
  background: url('icons/IconSelector.gif') no-repeat -288px -208px;
}

.Wrench {
  background: url('icons/IconSelector.gif') no-repeat -304px -208px;
}

.YellowBulb {
  background: url('icons/IconSelector.gif') no-repeat left -224px;
}

.YellowFlag {
  background: url('icons/IconSelector.gif') no-repeat -16px -224px;
}
/*===========================End Tool Icons Stylesheet=======================*/

/*===========================User Icons Stylesheet=======================*/


.Contact {
	background: url('icons/IconSelector.gif') no-repeat -16px  -240px;
}

.Eye {
	background: url('icons/IconSelector.gif') no-repeat -32px -240px;
}

.Finger {
	background: url('icons/IconSelector.gif') no-repeat -48px -240px;
}

.FolderHolder {
	background: url('icons/IconSelector.gif') no-repeat -64px -240px;
}

.Hand {
	background: url('icons/IconSelector.gif') no-repeat -80px -240px;
}

.HandPoint {
	background: url('icons/IconSelector.gif') no-repeat -96px -240px;
}

.Help {
	background: url('icons/IconSelector.gif') no-repeat -112px -240px;
}

.Personal {
	background: url('icons/IconSelector.gif') no-repeat -128px -240px;
}

.Public {
	background: url('icons/IconSelector.gif') no-repeat -144px -240px;
}

.User {
	background: url('icons/IconSelector.gif') no-repeat -160px -240px;
}

.VIPCard {
	background: url('icons/IconSelector.gif') no-repeat -176px -240px;
}

.Woman1 {
	background: url('icons/IconSelector.gif') no-repeat -192px -240px;
}

.Woman2 {
	background: url('icons/IconSelector.gif') no-repeat -208px -240px;
}

.Woman3 {
	background: url('icons/IconSelector.gif') no-repeat -224px -240px;
}

.Woman4 {
	background: url('icons/IconSelector.gif') no-repeat -240px -240px;
}

.Worker1 {
	background: url('icons/IconSelector.gif') no-repeat -256px -240px;
}

.Worker2 {
	background: url('icons/IconSelector.gif') no-repeat -272px -240px;
}

.YellowComment {
	background: url('icons/IconSelector.gif') no-repeat -288px -240px;
}
/*===========================End User Icons Stylesheet=======================*/
