.Next16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/BlueNextArrow.gif') ;
}

.BCHome16x16Icon {	
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Home.gif') ;
}

.BlueDownArrowIcon {
	background: url('icons/16x16/BlueDownArrow.gif') no-repeat right;
}

.RightBlackGridArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/BreadcumbsArrowIcon.gif') ;
}

.DefaultContainer16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/BlueContainer.gif') ;
}

.AddNewNodeIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/BlueCirclePlus.gif') ;
}

.BlueCirclePlusIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/BlueCirclePlus.gif') ;
}

.SelectPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/SelectPage.gif') ;
}

.PermissionSettingIcon {
  width: 17px ; height: 17px ;
  background: url('icons/16x16/PermissionSetting.gif') no-repeat center;
}

.PreviewIcon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/LightBulbOn.gif') ;
}

.SaveIcon {
  background: url('icons/16x16/FloppyDisk.gif') ;
}

.OrangeBoxPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/MiniOrangeBoxPage.gif') ;
}

.CancelIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/Cancel.gif') ;
}

.AddPage16x16Icon{
  width: 16px ; height: 16px ;
  background: url('icons/16x16/AddPage.gif') ;
}
.GreenArrowPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/GreenRightArrowPage.gif') ;
}

.GreenPlusPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/GreenPlusPage.gif') ;
}

.SelectPageIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/SelectIcon.gif') ;
  margin: auto;
}

.SelectPortalIcon {
  width: 16px ;  height: 16px ; margin: auto;
  background: url('icons/16x16/SelectIcon.gif') ;
}

.DeletePortalIcon {
  width: 16px ;  height: 16px ; margin: auto;
  background: url('icons/16x16/DustBin.gif') ;
}

.OnLightPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/OrangeLightPage.gif') ;
}

.Save16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/FloppyDisk.gif') ;
}

.Cancel16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/RedCrossCircle.gif') ;
}

.Close16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/RedCrossCircle.gif') ;
}

.Refresh16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/RefreshIcon.gif') ;
}

.Update16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/Refresh.gif') ;
}

.Back16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/BlueBackArrow.gif') ;
}

.CloseFolder16x16Icon {
	width: 16px ;	height: 16px ;
	background: url('icons/16x16/CloseFolder.gif') ;
}

.OpenFolder16x16Icon {
	width: 16px ; height: 16px ;
	background: url('icons/16x16/OpenFolder.gif') ;
}

.Pencil16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/Pencil.gif') ;
}

.DustBin16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/DustBin.gif') ;   
}

.Level116x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/16x16/SmallArrowBox.gif') ;
}

.Level216x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/16x16/BlueSquare.gif') ;
}

.Level316x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/GreenMiniBox.gif') ;
}

.CircleInfo16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/CircleInfo.gif') ;
}

.Lock16x16Icon {
	width: 16px ;  height: 16px ;
  background: url('icons/16x16/Lock.gif') ;
}

.PastePalate16x16Icon {
	width: 16px ;  height: 16px ;
  background: url('icons/16x16/PastePalate.gif') ;
}

.BlueNote16x16Icon {
	width: 16px ;  height: 16px ;
  background: url('icons/16x16/BlueNote.gif') ;
}

.DoublePaper16x16Icon {
	width: 16px ;  height: 16px ;
  background: url('icons/16x16/DoublePaper.gif') ;
}

.LoadingInfo16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/LoadingInfo.gif') ;
}

.ScissorsEraser16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/ScissorsEraser.gif') ;
}

.ScissorsEraserWarning16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/ScissorsEraserWarning.gif') ;
}

.OrangeNote16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/OrangeNote.gif') ;
}

/*##############- Misc Icons -#############*/
.BlueArrowFloppy16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/BlueArrowBlackFloppy.gif') ;
}

.BlueInfoBox16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Info.gif') ;
}

.Config16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Config.gif') ;
}

.SelectPermissionIcon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/SelectPermission.gif') ;
}

.Node16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Node.gif') ;
}

.Level16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Level.gif') ;
}

.Feature16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Feature.gif') ;
}

.RSS16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/RSS.gif') ;
}

.Earth16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Earth.gif') ;
}

.AdminView16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/AdminView.gif') ;
}

.Briefcase16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Briefcase.gif') ;
}

.AddNode16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/BlueCirclePlus.gif') ;
}

.Organization16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Organization.gif') ;
}

.UserRegistration16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/UserRegistration.gif') ;
}

.Management16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/Management.gif') ;
}

.PortalAdmin16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/PortalAdmin.gif') ;
}

.Duplicate16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/Duplicate.gif') ;
}

.Portal16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/Portal.gif') ;
}

.Administration16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/Monitor.gif') ;
}

.SiteMap16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/SiteMap.gif') ;
}

.SearchPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/SearchPage.gif') ;
}

.BlueCirclePlus16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/BlueCirclePlus.gif') ;
}

.ShieldGreenPlus16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/ShieldGreenPlus.gif') ;
}

.InfoMessage16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/BlueSquare.gif') ;
}

.WarningMessageSquare16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/YellowSquare.gif') ;
}

.ErrorMessage16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/RedSquare.gif') ;
}

.DoubleBrownNoteIcon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/DoubleBrownNote.gif') ;
}

.Execute16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/Execute.gif') ;
}

.OrangePencilSourceBox16x16Icon {
	width: 16px ; height: 16px ;
	background: url('icons/16x16/OrangePencilSourceBox.gif') ;	
}

.Home16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/Home.gif') ;
}

.ColorPen16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/ColorPen.gif') ;
}

.NestedSquare16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/NestedSquare.gif') ;
}

.VioletInfoWindow16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/VioletInfoWindow.gif') ;
}

.PageTicker16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/PageTicker.gif') ;
}

.GreenPlusPage16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/GreenPlusPage.gif') ;
}

.BlackBorderSquareBlueBall16x16Icon {
  width: 16px ;  height: 16px ;
  background: url('icons/16x16/BlackBorderSquareBlueBall.gif') ;
}

.GreenPlusDataBox16x16Icon {
	height: 16px ;
	width: 16px ;	
	background: url('icons/16x16/GreenPlusDatabox.gif') ;
}

/* TODO: Change image'name to "BlueShapeLeftArrow" */
.BlueBackArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/16x16/BlueBackArrow.gif') ;
  cursor: pointer;
}

/* TODO: Change image'name to "BlueShapeRightArrow" */
.BlueNextArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/16x16/BlueNextArrow.gif') ;
  cursor: pointer;  
}

.Remove16x16Icon {
	width: 16px ; height: 16px ;
  background: url('icons/16x16/DustBin.gif') ;   
}

.GrayBackArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/16x16/GrayShapeLeftArrow.gif') ;
  cursor: pointer;  
}

.GrayNextArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/16x16/GrayShapeRightArrow.gif') ;
}

.BlueCircleLeftArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/16x16/BlueCircleLeftArrow.gif') ;
}

.BlueCircleRightArrow16x16Icon {
	width: 16px ;	height: 16px ;
  background: url('icons/16x16/BlueCircleRightArrow.gif') ;
}

.BlueGridRightArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/BlueGridRightArrow.gif') ;
}

.GrayDoubleGridDownArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/GrayDoubleGridDownArrow.gif') ;
}

.GrayFillRightArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/GrayFillRightArrow.gif') ;  
}

.BlueSquareRightArrow16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/BlueSquareRightArrow.gif') ;  
}

.DotArrowRight16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/16x16/DotArrowRight.gif') ;  
}

.BlackGridRightArrow16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/16x16/BlackGridRightArrow.gif') ;  
}

.BlueCloseButton16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/16x16/BlueCloseButton.gif') ;
}

.Logout16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/16x16/RedLogoutIcon.gif') ;
}

.TreeNode16x16Icon {
  width: 16px ; height: 16px ;  
  background: url('icons/16x16/TreeNodeIcon.gif') ;
}

.Scissors16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/Scissors.gif') ;
}

.HotNews16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/HotNews.gif') ;
}

.ArrowS1Down16x16Icon {
  width: 22px ; height: 17px ;
  background: url('icons/16x16/ArrowSLDown.gif') no-repeat center;
}

.ArrowS1Up16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/WhiteArrowUp.gif') ;
}

.Portlet16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/DefaultPortletIcon.gif') ;
}

.Container16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/DefaultContainerIcon.gif') ;
}

.SmallGroup16x16Icon {
  width: 16px ; height: 16px ;
  background: url('icons/16x16/SmallGroup.gif') ;
}
/*/////////////////////////////////////Icon Stylesheet for IconSelector///////////////////////////*/

/*===========================Misc Icons Stylesheet=======================*/
.AcrobatFile {
  background: url('icons/16x16/MiscIcons/AcrobatFile.gif') no-repeat center left;
}

.AdminView {
  background: url('icons/16x16/MiscIcons/AdminView.gif') no-repeat center left;
}

.AllTags {
  background: url('icons/16x16/MiscIcons/AllTags.gif') no-repeat center left;
}

.AmericanExpressCard {
  background: url('icons/16x16/MiscIcons/AmericanExpressCard.gif') no-repeat center left;
}

.ApplicationGallery {
  background: url('icons/16x16/MiscIcons/ApplicationGallery.gif') no-repeat center left;
}

.ApplicationLink {
  background: url('icons/16x16/MiscIcons/ApplicationLink.gif') no-repeat center left;
}

.ApplicationList {
  background: url('icons/16x16/MiscIcons/ApplicationList.gif') no-repeat center left;
}

.ApplicationSize {
  background: url('icons/16x16/MiscIcons/ApplicationSize.gif') no-repeat center left;
}

.ApplicationTerminal {
  background: url('icons/16x16/MiscIcons/ApplicationTerminal.gif') no-repeat center left;
}

.ApplicationWorldWide {
  background: url('icons/16x16/MiscIcons/ApplicationWorldWide.png') no-repeat center left;
}

.BlueInfo {
  background: url('icons/16x16/MiscIcons/BlueInfo.gif') no-repeat center left;
}

.Bomb {
  background: url('icons/16x16/MiscIcons/Bomb.png') no-repeat center left;
}

.BookmarkPage {
  background: url('icons/16x16/MiscIcons/BookmarkPage.gif') no-repeat center left;
}

.BreakLink {
  background: url('icons/16x16/MiscIcons/BreakLink.gif') no-repeat center left;
}

.Brick {
  background: url('icons/16x16/MiscIcons/Brick.gif') no-repeat center left;
}

.CategoryList {
  background: url('icons/16x16/MiscIcons/CategoryList.gif') no-repeat center left;
}

.Checkout {
  background: url('icons/16x16/MiscIcons/Checkout.gif') no-repeat center left;
}

.CheckPage {
  background: url('icons/16x16/MiscIcons/CheckPage.gif') no-repeat center left;
}

.Comment {
  background: url('icons/16x16/MiscIcons/Comment.gif') no-repeat center left;
}

.ComponentsList {
  background: url('icons/16x16/MiscIcons/ComponentsList.gif') no-repeat center left;
}

.Config {
  background: url('icons/16x16/MiscIcons/Config.gif') no-repeat center left;
}

.CSS {
  background: url('icons/16x16/MiscIcons/CSS.gif') no-repeat center left;
}


.DiskDrive {
  background: url('icons/16x16/MiscIcons/DiskDrive.gif') no-repeat center left;
}

.DownloadApplication {
  background: url('icons/16x16/MiscIcons/DownloadApplication.gif') no-repeat center left;
}

.DreamweaverApplication {
  background: url('icons/16x16/MiscIcons/DreamweaverApplication.gif') no-repeat center left;
}

.DynamicContentPage {
  background: url('icons/16x16/MiscIcons/DynamicContentPage.gif') no-repeat center left;
}

.Extension {
  background: url('icons/16x16/MiscIcons/Extension.gif') no-repeat center left;
}

.Factory {
  background: url('icons/16x16/MiscIcons/Factory.gif') no-repeat center left;
}

.Feature {
  background: url('icons/16x16/MiscIcons/Feature.gif') no-repeat center left;
}

.Flash {
  background: url('icons/16x16/MiscIcons/Flash.gif') no-repeat center left;
}

.FlashFile {
  background: url('icons/16x16/MiscIcons/FlashFile.gif') no-repeat center left;
}

.FolderLock {
  background: url('icons/16x16/MiscIcons/FolderLock.gif') no-repeat center left;
}

.FontFile {
  background: url('icons/16x16/MiscIcons/FontFile.gif') no-repeat center left;
}

.Glove {
  background: url('icons/16x16/MiscIcons/Glove.gif') no-repeat center left;
}

.Home {
  background: url('icons/16x16/MiscIcons/Home.gif') no-repeat center left;
}

.HTML {
  background: url('icons/16x16/MiscIcons/HTML.gif') no-repeat center left;
}

.Humer {
  background: url('icons/16x16/MiscIcons/Humer.gif') no-repeat center left;
}

.IconsView {
  background: url('icons/16x16/MiscIcons/IconsView.gif') no-repeat center left;
}

.ImageFrame {
  background: url('icons/16x16/MiscIcons/ImageFrame.gif') no-repeat center left;
}

.Images {
  background: url('icons/16x16/MiscIcons/Images.gif') no-repeat center left;
}

.ImagesFolder {
  background: url('icons/16x16/MiscIcons/ImagesFolder.gif') no-repeat center left;
}

.ImageSize {
  background: url('icons/16x16/MiscIcons/ImageSize.gif') no-repeat center left;
}

.ImagesList {
  background: url('icons/16x16/MiscIcons/ImagesList.gif') no-repeat center left;
}

.Info {
  background: url('icons/16x16/MiscIcons/Info.png') no-repeat center left;
}

.InstallerProgress {
  background: url('icons/16x16/MiscIcons/InstallerProgress.gif') no-repeat center left;
}

.JavaPge {
  background: url('icons/16x16/MiscIcons/JavaPge.gif') no-repeat center left;
}

.Layout {
  background: url('icons/16x16/MiscIcons/Layout.gif') no-repeat center left;
}

.Link {
  background: url('icons/16x16/MiscIcons/Link.gif') no-repeat center left;
}

.LockPage {
  background: url('icons/16x16/MiscIcons/LockPage.gif') no-repeat center left;
}

.MasterCard {
  background: url('icons/16x16/MiscIcons/MasterCard.gif') no-repeat center left;
}

.Music {
  background: url('icons/16x16/MiscIcons/Music.gif') no-repeat center left;
}

.MusicDownload {
  background: url('icons/16x16/MiscIcons/MusicDownload.gif') no-repeat center left;
}

.New {
  background: url('icons/16x16/MiscIcons/New.gif') no-repeat center left;
}

.PackagesList {
  background: url('icons/16x16/MiscIcons/PackagesList.gif') no-repeat center left;
}

.PageCategory {
  background: url('icons/16x16/MiscIcons/PageCategory.gif') no-repeat center left;
}

.PhotoshopFile {
  background: url('icons/16x16/MiscIcons/PhotoshopFile.gif') no-repeat center left;
}

.Printer {
  background: url('icons/16x16/MiscIcons/Printer.gif') no-repeat center left;
}

.Puzzle {
  background: url('icons/16x16/MiscIcons/Puzzle.gif') no-repeat center left;
}

.QuicktimeMovieFile {
  background: url('icons/16x16/MiscIcons/QuicktimeMovieFile.gif') no-repeat center left;
}

.Rainbow {
  background: url('icons/16x16/MiscIcons/Rainbow.gif') no-repeat center left;
}

.RefeshPage {
  background: url('icons/16x16/MiscIcons/RefeshPage.gif') no-repeat center left;
}

.RSS {
  background: url('icons/16x16/MiscIcons/RSS.gif') no-repeat center left;
}

.RSSFeed {
  background: url('icons/16x16/MiscIcons/RSSFeed.gif') no-repeat center left;
}

.SearchFolder {
  background: url('icons/16x16/MiscIcons/SearchFolder.gif') no-repeat center left;
}

.Security {
  background: url('icons/16x16/MiscIcons/Security.gif') no-repeat center left;
}

.Software {
  background: url('icons/16x16/MiscIcons/Software.gif') no-repeat center left;
}

.Speaker {
  background: url('icons/16x16/MiscIcons/Speaker.gif') no-repeat center left;
}

.Speaker2 {
  background: url('icons/16x16/MiscIcons/Speaker2.gif') no-repeat center left;
}

.StarAward {
  background: url('icons/16x16/MiscIcons/StarAward.gif') no-repeat center left;
}

.StarPage {
  background: url('icons/16x16/MiscIcons/StarPage.gif') no-repeat center left;
}

.Stats {
  background: url('icons/16x16/MiscIcons/Stats.gif') no-repeat center left;
}

.TagPage {
  background: url('icons/16x16/MiscIcons/TagPage.gif') no-repeat center left;
}

.TagSign {
  background: url('icons/16x16/MiscIcons/TagSign.gif') no-repeat center left;
}

.Ticket {
  background: url('icons/16x16/MiscIcons/Ticket.gif') no-repeat center left;
}

.TrueTypeFont {
  background: url('icons/16x16/MiscIcons/TrueTypeFont.gif') no-repeat center left;
}

.Tux {
  background: url('icons/16x16/MiscIcons/Tux.gif') no-repeat center left;
}

.Vector {
  background: url('icons/16x16/MiscIcons/Vector.gif') no-repeat center left;
}

.Version {
  background: url('icons/16x16/MiscIcons/Version.gif') no-repeat center left;
}

.VisaCard {
  background: url('icons/16x16/MiscIcons/VisaCard.gif') no-repeat center left;
}

.WeatherClouds {
  background: url('icons/16x16/MiscIcons/WeatherClouds.gif') no-repeat center left;
}

.WeatherCloudy {
  background: url('icons/16x16/MiscIcons/WeatherCloudy.gif') no-repeat center left;
}

.WeatherLightning {
  background: url('icons/16x16/MiscIcons/WeatherLightning.gif') no-repeat center left;
}

.WeatherRain {
  background: url('icons/16x16/MiscIcons/WeatherRain.gif') no-repeat center left;
}

.WeatherSnow {
  background: url('icons/16x16/MiscIcons/WeatherSnow.gif') no-repeat center left;
}

.WeatherSun {
  background: url('icons/16x16/MiscIcons/WeatherSun.gif') no-repeat center left;
}

.World {
  background: url('icons/16x16/MiscIcons/World.gif') no-repeat center left;
}

.XHTML {
  background: url('icons/16x16/MiscIcons/XHTML.gif') no-repeat center left;
}

.YellowStar {
  background: url('icons/16x16/MiscIcons/YellowStar.png') no-repeat center left;
}
/*===========================End Misc Icons Stylesheet=======================*/

/*===========================Navigation Icons Stylesheet=======================*/
.BlackDownSolidArrow {
  background: url('icons/16x16/NavigationIcons/BlackDownSolidArrow.gif') no-repeat center left;
}

.BlackLeftSolidArrow {
  background: url('icons/16x16/NavigationIcons/BlackLeftSolidArrow.gif') no-repeat center left;
}

.BlackRightSolidArrow {
  background: url('icons/16x16/NavigationIcons/BlackRightSolidArrow.gif') no-repeat center left;
}

.BlackUpSolidArrow {
  background: url('icons/16x16/NavigationIcons/BlackUpSolidArrow.gif') no-repeat center left;
}

.BlueAquaBallBullet {
  background: url('icons/16x16/NavigationIcons/BlueAquaBallBullet.gif') no-repeat center left;
}

.BlueArrowIn {
  background: url('icons/16x16/NavigationIcons/BlueArrowIn.gif') no-repeat center left;
}

.BlueArrowInOut {
  background: url('icons/16x16/NavigationIcons/BlueArrowInOut.gif') no-repeat center left;
}

.BlueBallBullet {
  background: url('icons/16x16/NavigationIcons/BlueBallBullet.gif') no-repeat center left;
}

.BlueBranchArrow {
  background: url('icons/16x16/NavigationIcons/BlueBranchArrow.gif') no-repeat center left;
}

.BlueDividedArrow {
  background: url('icons/16x16/NavigationIcons/BlueDividedArrow.gif') no-repeat center left;
}

.BlueDownArrow {
  background: url('icons/16x16/NavigationIcons/BlueDownArrow.gif') no-repeat center left;
}

.BlueJoinArrow {
  background: url('icons/16x16/NavigationIcons/BlueJoinArrow.gif') no-repeat center left;
}

.BlueRedoArrow {
  background: url('icons/16x16/NavigationIcons/BlueRedoArrow.gif') no-repeat center left;
}

.BlueRotateRightArrow {
  background: url('icons/16x16/NavigationIcons/BlueRotateRightArrow.gif') no-repeat center left;
}

.BlueSquareBullet {
  background: url('icons/16x16/NavigationIcons/BlueSquareBullet.gif') no-repeat center left;
}

.BlueSwitchArrow {
  background: url('icons/16x16/NavigationIcons/BlueSwitchArrow.gif') no-repeat center left;
}

.BlueTriangleBullet {
  background: url('icons/16x16/NavigationIcons/BlueTriangleBullet.gif') no-repeat center left;
}

.BlueUndoArrow {
  background: url('icons/16x16/NavigationIcons/BlueUndoArrow.gif') no-repeat center left;
}

.BlueUpArrow {
  background: url('icons/16x16/NavigationIcons/BlueUpArrow.gif') no-repeat center left;
}

.Check {
  background: url('icons/16x16/NavigationIcons/Check.png') no-repeat center left;
}

.Check2 {
  background: url('icons/16x16/NavigationIcons/Check2.gif') no-repeat center left;
}

.Delete {
  background: url('icons/16x16/NavigationIcons/Delete.gif') no-repeat center left;
}

.Forward {
  background: url('icons/16x16/NavigationIcons/Forward.gif') no-repeat center left;
}

.GrassGreenBallBullet {
  background: url('icons/16x16/NavigationIcons/GrassGreenBallBullet.gif') no-repeat center left;
}

.GreenBallBullet {
  background: url('icons/16x16/NavigationIcons/GreenBallBullet.gif') no-repeat center left;
}

.GreenSquareBullet {
  background: url('icons/16x16/NavigationIcons/GreenSquareBullet.gif') no-repeat center left;
}

.GreenTriangleBullet {
  background: url('icons/16x16/NavigationIcons/GreenTriangleBullet.gif') no-repeat center left;
}

.GreyAquaBallBullet {
  background: url('icons/16x16/NavigationIcons/GreyAquaBallBullet.gif') no-repeat center left;
}

.GreyBallBullet {
  background: url('icons/16x16/NavigationIcons/GreyBallBullet.gif') no-repeat center left;
}

.GreyLeftShapeArrow {
  background: url('icons/16x16/NavigationIcons/GreyLeftShapeArrow.gif') no-repeat center left;
}

.GreySquareBullet {
  background: url('icons/16x16/NavigationIcons/GreySquareBullet.gif') no-repeat center left;
}

.GreyTriangleBullet {
  background: url('icons/16x16/NavigationIcons/GreyTriangleBullet.gif') no-repeat center left;
}

.RedAquaBallBullet {
  background: url('icons/16x16/NavigationIcons/RedAquaBallBullet.gif') no-repeat center left;
}

.RedBallBullet {
  background: url('icons/16x16/NavigationIcons/RedBallBullet.gif') no-repeat center left;
}

.RedSquareBullet {
  background: url('icons/16x16/NavigationIcons/RedSquareBullet.gif') no-repeat center left;
}

.RedTriangleBullet {
  background: url('icons/16x16/NavigationIcons/RedTriangleBullet.gif') no-repeat center left;
}

.Reply {
  background: url('icons/16x16/NavigationIcons/Reply.gif') no-repeat center left;
}

.RightShapeArrow {
  background: url('icons/16x16/NavigationIcons/RightShapeArrow.gif') no-repeat center left;
}

.YellowAquaBallBullet {
  background: url('icons/16x16/NavigationIcons/YellowAquaBallBullet.gif') no-repeat center left;
}

.YellowBallBullet {
  background: url('icons/16x16/NavigationIcons/YellowBallBullet.gif') no-repeat center left;
}

.YellowSquareBullet {
  background: url('icons/16x16/NavigationIcons/YellowSquareBullet.gif') no-repeat center left;
}

.YellowTriangleBullet {
  background: url('icons/16x16/NavigationIcons/YellowTriangleBullet.gif') no-repeat center left;
}

/*===========================End Navigation Icons Stylesheet=======================*/

/*===========================Office Icons Stylesheet=======================*/
.AddressBook {
  background: url('icons/16x16/OfficeIcons/AddressBook.gif') no-repeat center left;
}

.ArticleDocument {
  background: url('icons/16x16/OfficeIcons/ArticleDocument.gif') no-repeat center left;
}

.At {
  background: url('icons/16x16/OfficeIcons/At.png') no-repeat center left;
}

.Attachment {
  background: url('icons/16x16/OfficeIcons/Attachment.gif') no-repeat center left;
}

.Book {
  background: url('icons/16x16/OfficeIcons/Book.gif') no-repeat center left;
}

.Chair {
  background: url('icons/16x16/OfficeIcons/Chair.gif') no-repeat center left;
}

.ChartBar {
  background: url('icons/16x16/OfficeIcons/ChartBar.gif') no-repeat center left;
}

.ChartLine {
  background: url('icons/16x16/OfficeIcons/ChartLine.gif') no-repeat center left;
}

.CoffeeCup {
  background: url('icons/16x16/OfficeIcons/CoffeeCup.gif') no-repeat center left;
}

.CoinsCurency {
  background: url('icons/16x16/OfficeIcons/CoinsCurency.gif') no-repeat center left;
}

.Computer {
  background: url('icons/16x16/OfficeIcons/Computer.gif') no-repeat center left;
}

.Conference {
  background: url('icons/16x16/OfficeIcons/Conference.gif') no-repeat center left;
}

.Date {
  background: url('icons/16x16/OfficeIcons/Date.gif') no-repeat center left;
}

.DocumentBox {
  background: url('icons/16x16/OfficeIcons/DocumentBox.gif') no-repeat center left;
}

.Door {
  background: url('icons/16x16/OfficeIcons/Door.gif') no-repeat center left;
}

.DreamweaverFile {
  background: url('icons/16x16/OfficeIcons/DreamweaverFile.gif') no-repeat center left;
}

.Email {
  background: url('icons/16x16/OfficeIcons/Email.gif') no-repeat center left;
}

.Envelope {
  background: url('icons/16x16/OfficeIcons/Envelope.gif') no-repeat center left;
}

.ExeFile {
  background: url('icons/16x16/OfficeIcons/ExeFile.gif') no-repeat center left;
}

.FloppyDisk {
  background: url('icons/16x16/OfficeIcons/FloppyDisk.gif') no-repeat center left;
}

.Folder1 {
  background: url('icons/16x16/OfficeIcons/Folder1.gif') no-repeat center left;
}

.Folder2 {
  background: url('icons/16x16/OfficeIcons/Folder2.gif') no-repeat center left;
}

.Folder3 {
  background: url('icons/16x16/OfficeIcons/Folder3.gif') no-repeat center left;
}

.Folder4 {
  background: url('icons/16x16/OfficeIcons/Folder4.gif') no-repeat center left;
}

.Folder5 {
  background: url('icons/16x16/OfficeIcons/Folder5.gif') no-repeat center left;
}

.HomePage {
  background: url('icons/16x16/OfficeIcons/HomePage.gif') no-repeat center left;
}

.HotNews {
  background: url('icons/16x16/OfficeIcons/HotNews.gif') no-repeat center left;
}

.IDCard {
  background: url('icons/16x16/OfficeIcons/IDCard.gif') no-repeat center left;
}

.IllustratorFile {
  background: url('icons/16x16/OfficeIcons/IllustratorFile.gif') no-repeat center left;
}

.IndesignFile {
  background: url('icons/16x16/OfficeIcons/IndesignFile.gif') no-repeat center left;
}

.Index {
  background: url('icons/16x16/OfficeIcons/Index.gif') no-repeat center left;
}

.Keyboard {
  background: url('icons/16x16/OfficeIcons/Keyboard.gif') no-repeat center left;
}

.Letter {
  background: url('icons/16x16/OfficeIcons/Letter.gif') no-repeat center left;
}

.MacOSXFolder {
  background: url('icons/16x16/OfficeIcons/MacOSXFolder.gif') no-repeat center left;
}

.Mail {
  background: url('icons/16x16/OfficeIcons/Mail.gif') no-repeat center left;
}

.Map {
  background: url('icons/16x16/OfficeIcons/Map.gif') no-repeat center left;
}

.Monitor {
  background: url('icons/16x16/OfficeIcons/Monitor.gif') no-repeat center left;
}

.Mouse {
  background: url('icons/16x16/OfficeIcons/Mouse.gif') no-repeat center left;
}

.Newspaper {
  background: url('icons/16x16/OfficeIcons/Newspaper.gif') no-repeat center left;
}

.Newspaper2 {
  background: url('icons/16x16/OfficeIcons/Newspaper2.gif') no-repeat center left;
}

.NotePage {
  background: url('icons/16x16/OfficeIcons/NotePage.gif') no-repeat center left;
}

.OpenBook {
  background: url('icons/16x16/OfficeIcons/OpenBook.gif') no-repeat center left;
}

.OpenEmail {
  background: url('icons/16x16/OfficeIcons/OpenEmail.gif') no-repeat center left;
}

.OpenFolder {
  background: url('icons/16x16/OfficeIcons/OpenFolder.gif') no-repeat center left;
}

.Page {
  background: url('icons/16x16/OfficeIcons/Page.gif') no-repeat center left;
}

.PaperList {
  background: url('icons/16x16/OfficeIcons/PaperList.gif') no-repeat center left;
}

.PastePalate {
  background: url('icons/16x16/OfficeIcons/PastePalate.gif') no-repeat center left;
}

.Picture {
  background: url('icons/16x16/OfficeIcons/Picture.gif') no-repeat center left;
}

.Purchase {
  background: url('icons/16x16/OfficeIcons/Purchase.gif') no-repeat center left;
}

.Script {
  background: url('icons/16x16/OfficeIcons/Script.gif') no-repeat center left;
}

.SearchPage {
  background: url('icons/16x16/OfficeIcons/SearchPage.gif') no-repeat center left;
}

.ShoppingBag {
  background: url('icons/16x16/OfficeIcons/ShoppingBag.gif') no-repeat center left;
}

.Sitemap {
  background: url('icons/16x16/OfficeIcons/Sitemap.gif') no-repeat center left;
}

.Stats2 {
  background: url('icons/16x16/OfficeIcons/Stats2.gif') no-repeat center left;
}

.Tag {
  background: url('icons/16x16/OfficeIcons/Tag.gif') no-repeat center left;
}

.Telephone {
  background: url('icons/16x16/OfficeIcons/Telephone.gif') no-repeat center left;
}

.TextFile {
  background: url('icons/16x16/OfficeIcons/TextFile.gif') no-repeat center left;
}

.YellowFolder {
  background: url('icons/16x16/OfficeIcons/YellowFolder.gif') no-repeat center left;
}

.YellowPen {
  background: url('icons/16x16/OfficeIcons/YellowPen.gif') no-repeat center left;
}
.ZipFile {
  background: url('icons/16x16/OfficeIcons/ZipFile.gif') no-repeat center left;
}
/*===========================End Office Icons Stylesheet=======================*/

/*===========================Tool Icons Stylesheet=======================*/
.Alarm {
  background: url('icons/16x16/ToolIcons/Alarm.gif') no-repeat center left;
}

.Anchor {
  background: url('icons/16x16/ToolIcons/Anchor.gif') no-repeat center left;
}

.Basketball {
  background: url('icons/16x16/ToolIcons/Basketball.gif') no-repeat center left;
}

.Bell {
  background: url('icons/16x16/ToolIcons/Bell.gif') no-repeat center left;
}

.Billards {
  background: url('icons/16x16/ToolIcons/Billards.gif') no-repeat center left;
}

.BlueActionWheel {
  background: url('icons/16x16/ToolIcons/BlueActionWheel.gif') no-repeat center left;
}

.BlueFlag {
  background: url('icons/16x16/ToolIcons/BlueFlag.gif') no-repeat center left;
}

.Box {
  background: url('icons/16x16/ToolIcons/Box.gif') no-repeat center left;
}

.BriefCase {
  background: url('icons/16x16/ToolIcons/BriefCase.gif') no-repeat center left;
}

.Calculator {
  background: url('icons/16x16/ToolIcons/Calculator.gif') no-repeat center left;
}

.Calendar {
  background: url('icons/16x16/ToolIcons/Calendar.gif') no-repeat center left;
}

.Cart {
  background: url('icons/16x16/ToolIcons/Cart.gif') no-repeat center left;
}

.CD {
  background: url('icons/16x16/ToolIcons/CD.gif') no-repeat center left;
}

.Clock {
  background: url('icons/16x16/ToolIcons/Clock.gif') no-repeat center left;
}

.Component {
  background: url('icons/16x16/ToolIcons/Component.gif') no-repeat center left;
}

.CropTool {
  background: url('icons/16x16/ToolIcons/CropTool.gif') no-repeat center left;
}

.DeskPhone {
  background: url('icons/16x16/ToolIcons/DeskPhone.gif') no-repeat center left;
}

.EmptyBox {
  background: url('icons/16x16/ToolIcons/EmptyBox.gif') no-repeat center left;
}

.Entertainment {
  background: url('icons/16x16/ToolIcons/Entertainment.gif') no-repeat center left;
}

.FileBox {
  background: url('icons/16x16/ToolIcons/FileBox.gif') no-repeat center left;
}

.FirefoxBrowser {
  background: url('icons/16x16/ToolIcons/FirefoxBrowser.gif') no-repeat center left;
}

.FolderExport {
  background: url('icons/16x16/ToolIcons/FolderExport.gif') no-repeat center left;
}

.FolderImport {
  background: url('icons/16x16/ToolIcons/FolderImport.gif') no-repeat center left;
}

.Football {
  background: url('icons/16x16/ToolIcons/Football.gif') no-repeat center left;
}

.Gear {
  background: url('icons/16x16/ToolIcons/Gear.gif') no-repeat center left;
}

.Golf {
  background: url('icons/16x16/ToolIcons/Golf.gif') no-repeat center left;
}

.GrayWallet {
  background: url('icons/16x16/ToolIcons/GrayWallet.gif') no-repeat center left;
}

.GreenFlag {
  background: url('icons/16x16/ToolIcons/GreenFlag.gif') no-repeat center left;
}

.GreyFlag {
  background: url('icons/16x16/ToolIcons/GreyFlag.gif') no-repeat center left;
}

.HardDisk {
  background: url('icons/16x16/ToolIcons/HardDisk.gif') no-repeat center left;
}

.HourGlass {
  background: url('icons/16x16/ToolIcons/HourGlass.gif') no-repeat center left;
}

.Key {
  background: url('icons/16x16/ToolIcons/Key.gif') no-repeat center left;
}

.Light {
  background: url('icons/16x16/ToolIcons/Light.gif') no-repeat center left;
}

.Lock {
  background: url('icons/16x16/ToolIcons/Lock.gif') no-repeat center left;
}

.MacApplicationTool {
  background: url('icons/16x16/ToolIcons/MacApplicationTool.gif') no-repeat center left;
}

.MacMonitor {
  background: url('icons/16x16/ToolIcons/MacMonitor.gif') no-repeat center left;
}

.Magnifier {
  background: url('icons/16x16/ToolIcons/Magnifier.gif') no-repeat center left;
}

.MoveTool {
  background: url('icons/16x16/ToolIcons/MoveTool.gif') no-repeat center left;
}

.Movie {
  background: url('icons/16x16/ToolIcons/Movie.gif') no-repeat center left;
}

.Network {
  background: url('icons/16x16/ToolIcons/Network.gif') no-repeat center left;
}

.Paste {
  background: url('icons/16x16/ToolIcons/Paste.gif') no-repeat center left;
}

.PCMonitor {
  background: url('icons/16x16/ToolIcons/PCMonitor.gif') no-repeat center left;
}

.Pencil {
  background: url('icons/16x16/ToolIcons/Pencil.gif') no-repeat center left;
}

.Raquet {
  background: url('icons/16x16/ToolIcons/Raquet.gif') no-repeat center left;
}

.RedFlag {
  background: url('icons/16x16/ToolIcons/RedFlag.gif') no-repeat center left;
}

.Ruler {
  background: url('icons/16x16/ToolIcons/Ruler.gif') no-repeat center left;
}

.Search {
  background: url('icons/16x16/ToolIcons/Search.png') no-repeat center left;
}

.Shield {
  background: url('icons/16x16/ToolIcons/Shield.png') no-repeat center left;
}

.Shuttlecock {
  background: url('icons/16x16/ToolIcons/Shuttlecock.gif') no-repeat center left;
}

.Soccer {
  background: url('icons/16x16/ToolIcons/Soccer.gif') no-repeat center left;
}

.Sound {
  background: url('icons/16x16/ToolIcons/Sound.gif') no-repeat center left;
}

.Switcher {
  background: url('icons/16x16/ToolIcons/Switcher.gif') no-repeat center left;
}

.Tennis {
  background: url('icons/16x16/ToolIcons/Tennis.gif') no-repeat center left;
}

.ToolBoxOpen {
  background: url('icons/16x16/ToolIcons/ToolBoxOpen.gif') no-repeat center left;
}

.UnLock {
  background: url('icons/16x16/ToolIcons/UnLock.gif') no-repeat center left;
}

.VolumeControl {
  background: url('icons/16x16/ToolIcons/VolumeControl.gif') no-repeat center left;
}

.Wand {
  background: url('icons/16x16/ToolIcons/Wand.gif') no-repeat center left;
}

.Warning {
  background: url('icons/16x16/ToolIcons/Warning.gif') no-repeat center left;
}

.Webcam {
  background: url('icons/16x16/ToolIcons/Webcam.gif') no-repeat center left;
}

.Wrench {
  background: url('icons/16x16/ToolIcons/Wrench.gif') no-repeat center left;
}

.YellowBulb {
  background: url('icons/16x16/ToolIcons/YellowBulb.gif') no-repeat center left;
}

.YellowFlag {
  background: url('icons/16x16/ToolIcons/YellowFlag.gif') no-repeat center left;
}
/*===========================End Tool Icons Stylesheet=======================*/

/*===========================User Icons Stylesheet=======================*/
.Comment {
  background: url('icons/16x16/UserIcons/Comment.gif') no-repeat center left;
}

.Contact {
  background: url('icons/16x16/UserIcons/Contact.gif') no-repeat center left;
}

.Eye {
  background: url('icons/16x16/UserIcons/Eye.gif') no-repeat center left;
}

.Finger {
  background: url('icons/16x16/UserIcons/Finger.gif') no-repeat center left;
}

.FolderHolder {
  background: url('icons/16x16/UserIcons/FolderHolder.gif') no-repeat center left;
}

.Hand {
  background: url('icons/16x16/UserIcons/Hand.gif') no-repeat center left;
}

.HandPoint {
  background: url('icons/16x16/UserIcons/HandPoint.gif') no-repeat center left;
}

.Help {
  background: url('icons/16x16/UserIcons/Help.gif') no-repeat center left;
}

.Personal {
  background: url('icons/16x16/UserIcons/Personal.png') no-repeat center left;
}

.Public {
  background: url('icons/16x16/UserIcons/Public.gif') no-repeat center left;
}

.User {
  background: url('icons/16x16/UserIcons/User.gif') no-repeat center left;
}

.VIPCard {
  background: url('icons/16x16/UserIcons/VIPCard.gif') no-repeat center left;
}

.Woman1 {
  background: url('icons/16x16/UserIcons/Woman1.png') no-repeat center left;
}

.Woman2 {
  background: url('icons/16x16/UserIcons/Woman2.png') no-repeat center left;
}

.Woman3 {
  background: url('icons/16x16/UserIcons/Woman3.png') no-repeat center left;
}

.Woman4 {
  background: url('icons/16x16/UserIcons/Woman4.png') no-repeat center left;
}

.Worker1 {
  background: url('icons/16x16/UserIcons/Worker.png') no-repeat center left;
}

.Worker2 {
  background: url('icons/16x16/UserIcons/Worker2.png') no-repeat center left;
}

.YellowComment {
  background: url('icons/16x16/UserIcons/YellowComment.gif') no-repeat center left;
}
/*===========================End User Icons Stylesheet=======================*/
