.UITabPane {
}

.UITabPane .TabPaneContent {
	padding: 8px;
}

.UITabPane .UITabContentContainer {
  border: solid 1px #b7b7b7;
  border-top: none;
}

.UITabPane .UITabContent {
  background: url('/eXoSkinMac/skin/MacSkin/background/Background1x4.png') repeat;
  border: solid 1px white;
  border-top: none;
  padding: 5px ;
}
