.UILoggedInfo {
  padding: 5px 0px 0px 0px ;
}

.UILoggedInfo .LoggedInfoItems {  
  height: 32px;
  padding: 0px 0px 0px 25px;
}

.UILoggedInfo .LoggedDecorator {
	margin: 1px 0px 8px 0px;
}

.UILoggedInfo .LoggedDecorator .LeftTopLoggedDecorator {
	background: url('MacSkin/background/LeftTopDecorator12x13.png') no-repeat left top;
	padding: 0px 0px 0px 12px;
}

.UILoggedInfo .LoggedDecorator .RightTopLoggedDecorator {
	background: url('MacSkin/background/RightTopDecorator12x13.png') no-repeat right top;
	padding: 0px 12px 0px 0px;
}

.UILoggedInfo .LoggedDecorator .CenterTopLoggedDecorator {
	height: 13px;
	background: url('MacSkin/background/CenterTopDecorator1x13.png') repeat-x top;
}

.UILoggedInfo .LoggedDecorator .LeftMiddleLoggedDecorator {
	padding: 0px 0px 0px 12px;
	background: url('MacSkin/background/LeftMiddleDecorator12x1.png') repeat-y left;
}

.UILoggedInfo .LoggedDecorator .RightMiddleLoggedDecorator {
	padding: 0px 12px 0px 0px;
	background: url('MacSkin/background/RightMiddleDecorator12x1.png') repeat-y right;
}

.UILoggedInfo .LoggedDecorator .LeftBottomLoggedDecorator {
	padding: 0px 0px 0px 12px;
	background: url('MacSkin/background/LeftBottomDecorator12x12.png') no-repeat left ;
}

.UILoggedInfo .LoggedDecorator .RightBottomLoggedDecorator {
	padding: 0px 12px 0px 0px;
	background: url('MacSkin/background/RightBottomDecorator12x12.png') no-repeat right;
}

.UILoggedInfo .LoggedDecorator .CenterBottomLoggedDecorator {
  height: 12px;
	background: url('MacSkin/background/CenterBottomDecorator1x12.png') repeat-x;
}

.UILoggedInfo .LoggedDecorator .DecoratorBackground{
  width: auto; height: auto;
  background: url('MacSkin/background/DecoratorBackground1x1.png') repeat ;
}

.UILoggedInfo .StyleContent .AvatarContainer {
	float: left;
	width: 90px; height: 88px;
	padding: 12px 0px 0px 10px;
}

.UILoggedInfo .AvatarContainer .AvatarImage {
	width: 69px; height: 76px;
	background: url('MacSkin/background/AvatarImage69x76.png') no-repeat center;
}

.UILoggedInfo .StyleContent .WelcomeBox {
	margin: 0px 0px 0px 95px;
}

.UILoggedInfo .StyleContent .UserWelcomeBox {
  height: 50px; line-height: 18px; 
  padding: 12px 20px 7px 0px;
}

.UILoggedInfo .StyleContent .UserWelcomeBox .StateMessage {
  line-height: 16px; 
  text-align: center;
  font-size: 11px; color: white; 
}

.UILoggedInfo .StyleContent .UserWelcomeBox .LoggedUserName {
  color: #84ccfc ;
  text-align: center;
  line-height: 26px;
  font-weight: bold; 
}

.UILoggedInfo .StyleContent .LabelSignout {
	color: #feb000;	text-align: center;
	font-weight: bold; text-decoration: underline;
	cursor: pointer;
	padding-right: 20px;
}

.UILoggedInfo .StyleContent {
	height: 100px;
}

.UILoggedInfo .StyleContent .IconContent {
	width: 90%;
	margin: auto;
}

.UILoggedInfo .StyleContent .UserLabel {
	line-height: 20px;
	text-align: center; color: white;
	font-weight: normal; font-size: 11px;
}

.UILoggedInfo .StyleContent .UserLabel span {
  line-height: 30px; text-align: center;
	font-weight: bold; font-size: 11px; 
	color: white;
}

/****************************** Icon *********************************/
.UILoggedInfo .SelectedBG {
	float: left;
	/*background: url('DefaultSkin/background/SelectedBG.gif') no-repeat center;*/
}

.UILoggedInfo .NormalBG {
	float: left;
	cursor: pointer;
}

.UILoggedInfo .UserIcon {  
	height: 32px; width: 32px;
	background: url('MacSkin/background/UserIcon.png') no-repeat center;
}

.UILoggedInfo .WelcomeIcon {  
	height: 32px; width: 32px;
	background: url('MacSkin/background/WelcomeIcon.png') no-repeat center;
}

.UILoggedInfo .EMailIcon {
	width: 38px; height: 36px;
	background: url('MacSkin/background/EMailIcon.png') no-repeat bottom;
	padding: 9px 0px 0px 0px;
	margin: auto;
}
