.UILoggedInfo {
  padding: 8px 0px 2px 0px ;
}

.UILoggedInfo .LoggedInfoItems {  
  padding: 0px 0px 3px 3px;
  height: 35px;
}

.UILoggedInfo .LoggedDecorator {
	padding: 1px 0px 3px 0px;
}

.UILoggedInfo .LoggedDecorator .LeftTopLoggedDecorator {
	background: url('VistaSkin/background/LeftTopDecorator10x16.png') no-repeat left top;
	padding: 0px 0px 0px 10px;
}

.UILoggedInfo .LoggedDecorator .RightTopLoggedDecorator {
	background: url('VistaSkin/background/RightTopDecorator10x16.png') no-repeat right top;
	padding: 0px 10px 0px 0px;
}

.UILoggedInfo .LoggedDecorator .CenterTopLoggedDecorator {
	background: url('VistaSkin/background/CenterTopDecorator1x16.png') repeat-x top;
	height: 16px;
}

.UILoggedInfo .LoggedDecorator .LeftMiddleLoggedDecorator {
	padding: 0px 0px 0px 10px;
	background: url('VistaSkin/background/LeftMiddleDecorator10x1.png') repeat-y left;
}

.UILoggedInfo .LoggedDecorator .RightMiddleLoggedDecorator {
	padding: 0px 10px 0px 0px;
	background: url('VistaSkin/background/RightMiddleDecorator10x1.png') repeat-y right;
}

.UILoggedInfo .LoggedDecorator .LeftBottomLoggedDecorator {
	padding: 0px 0px 0px 10px;
	background: url('VistaSkin/background/LeftBottomDecorator10x16.png') no-repeat left bottom;
}

.UILoggedInfo .LoggedDecorator .RightBottomLoggedDecorator {
	padding: 0px 10px 0px 0px;
	background: url('VistaSkin/background/RightBottomDecorator10x16.png') no-repeat bottom right;
}

.UILoggedInfo .LoggedDecorator .CenterBottomLoggedDecorator {
  height: 16px;
	background: url('VistaSkin/background/CenterBottomDecorator1x16.png') repeat-x bottom;
}

.UILoggedInfo .LoggedDecorator .DecoratorBackground {
  width: auto; height: 73px;
  background: url('VistaSkin/background/DecoratorBackground1x73.png') repeat-x;
  border:1px #888888 solid;
}

.UILoggedInfo .StyleContent .AvatarContainer {
	float: left;
	width: 60px; height: 60px;
	padding: 15px 0px 0px 18px;
}

.UILoggedInfo .StyleContent .LeftAvatarContainer {
	width: 50px;
	padding: 0px 0px 0px 5px;
	background: url('VistaSkin/background/LeftAvatarContainer5x48.png') no-repeat left;
}

.UILoggedInfo .StyleContent .RightAvataContainer {
	padding: 0px 6px 0px 0px;
	background: url('VistaSkin/background/RightAvataContainer6x48.png') no-repeat right;
}

.UILoggedInfo .StyleContent .CenterAvataContainer {
	height: 48px ;
	background: url('VistaSkin/background/CenterAvataContainer1x48.png') repeat-x;
}

.UILoggedInfo .AvatarContainer .AvatarImage {
	width: 38px; height: 41px;
	background: url('VistaSkin/background/AvatarImage38x41.png') no-repeat center;
	margin:0px 0px 0px 3px;
}

.UILoggedInfo .StyleContent .WelcomeBox {
	margin: 0px 0px 0px 85px;
}

.UILoggedInfo .StyleContent .UserWelcomeBox {
  padding: 15px 0px 0px 6px;
  line-height: 20px; 
  height:40px;
}

.UILoggedInfo .StyleContent .UserWelcomeBox .StateMessage {
  font-size: 11px; 
  text-align:left;
  line-height: 20px;
}

.UILoggedInfo .StyleContent .UserWelcomeBox .LoggedUserName {
  color: #5aa5f8 ;
  text-align:left;
  line-height: 15px;
  font-weight: bold;
}

.UILoggedInfo .StyleContent .LabelSignout {
	text-align: right;
	font-size: 10px;
	color: #f98e03;
	font-weight: bold;
	padding-right: 25px;
	text-decoration: underline;
	cursor: pointer;
}

.UILoggedInfo .StyleContent {
	height: 82px;
}

.UILoggedInfo .StyleContent .IconContent {
	width: 90%;
	margin: auto;
}

.UILoggedInfo .StyleContent .UserLabel {
	text-align: center;
	font-size: 11px;
	line-height: 16px;
}

.UILoggedInfo .StyleContent .UserLabel span {
	text-align: center;
	font-size: 10px;
	line-height: 15px;
	color: #f98e03;
}

/****************************** Icon *********************************/
.UILoggedInfo .SelectedBG {
	float: left;
	background: url('VistaSkin/background/SelectedBG.png') no-repeat center;
}

.UILoggedInfo .NormalBG {
	float: left;
	background: url('VistaSkin/background/NormalBG.png') no-repeat center;
	cursor: pointer;
}

.UILoggedInfo .UserIcon {  
	height: 36px; width: 36px;
	background: url('VistaSkin/background/UserIcon.png') no-repeat center;
}

.UILoggedInfo .WelcomeIcon {  
	height: 36px; width: 36px;
	background: url('VistaSkin/background/WelcomeIcon.png') no-repeat center;
}

.UILoggedInfo .EMailIcon {
	width: 36px; height: 36px;
	margin: auto;
	background: url('VistaSkin/background/EMailIcon.png') no-repeat bottom;
}
