.UIPageIterator {    
  margin-top: 3px ;
  width: 100%;  
}

.UIPageIterator .PageIteratorContainer {    
  float: right ; 		/* orientation=lt */
  float: left ; 		/* orientation=rt */
  line-height: 22px ;  vertical-align: middle ;
  padding: 0px 0px 0px 15px ; /* orientation=lt */
  padding: 0px 15px 0px 0px ; /* orientation=rt */
  overflow: hidden;
}

.UIPageIterator .PageIteratorContainer .LeftPageIteratorBlock{    
  float: right ; 		/* orientation=lt */
  float: left ; 		/* orientation=rt */
  margin-right: 15px; 	/* orientation=lt */
  margin-left: 15px; 		/* orientation=rt */
}

.UIPageIterator .PageIteratorContainer .RightPageIteratorBlock{    
  float: right ; 		/* orientation=lt */
  float: left ; 		/* orientation=rt */
}

.UIPageIterator .Icon {
  float: left ;			/* orientation=lt */
  float: right ;		/* orientation=rt */
  width: 20px ;  
  height: 20px ;
  margin: 2px 3px 0px 0px ;			/* orientation=lt */
  margin: 2px 0px 0px 3px ;			/* orientation=rt */
}

.UIPageIterator .TotalPages {
  float: left ;			/* orientation=lt */
  float: right ;		/* orientation=rt */
  line-height: 20px ; vertical-align: middle;
}

.UIPageIterator .PagesTotalNumber {
  float: left ;			/* orientation=lt */
  float: right ;		/* orientation=rt */
  line-height: 20px ; 
  vertical-align: middle;
  color: #0183f1;
  margin-left: 5px;			/* orientation=lt */
  margin-right: 5px;		/* orientation=rt */
}

/*
* Repair by Duy Tu 09/07/07
*/
.UIPageIterator .LastTopPageIcon {
  vertical-align: middle ;
  background: url('background/ArrowPageIterator.gif') no-repeat left top;				/* orientation=lt */
  background: url('background/ArrowPageIterator-rt.gif') no-repeat right top;		/* orientation=rt */
  cursor: pointer ;
}

.UIPageIterator .NextTopPageIcon {
  background: url('background/ArrowPageIterator.gif') no-repeat left -20px;				/* orientation=lt */
  background: url('background/ArrowPageIterator-rt.gif') no-repeat right -20px;		/* orientation=rt */
  cursor: pointer ;
}

 .UIPageIterator .LastPageIcon {
  background: url('background/ArrowPageIterator.gif') no-repeat left -40px;				/* orientation=lt */
  background: url('background/ArrowPageIterator-rt.gif') no-repeat right -40px;		/* orientation=rt */
  cursor: pointer ; 
}

.UIPageIterator .NextPageIcon {
  background: url('background/ArrowPageIterator.gif') no-repeat left -60px;				/* orientation=lt */
  background: url('background/ArrowPageIterator-rt.gif') no-repeat right -60px;		/* orientation=rt */
  cursor: pointer ;
}

.UIPageIterator .DisableLastTopPageIcon {
  vertical-align: middle ;
  background: url('background/ArrowPageIterator.gif') no-repeat left -80px;				/* orientation=lt */
  background: url('background/ArrowPageIterator-rt.gif') no-repeat right -80px;		/* orientation=rt */
  cursor: pointer ;
}

.UIPageIterator .DisableNextTopPageIcon {
  background: url('background/ArrowPageIterator.gif') no-repeat left -100px;				/* orientation=lt */
  background: url('background/ArrowPageIterator-rt.gif') no-repeat right -100px;			/* orientation=rt */
  cursor: pointer ;
}

 .UIPageIterator .DisableLastPageIcon {
  background: url('background/ArrowPageIterator.gif') no-repeat left -120px;				/* orientation=lt */
  background: url('background/ArrowPageIterator-rt.gif') no-repeat right -120px;		/* orientation=rt */
  cursor: pointer ; 
}

.UIPageIterator .DisableNextPageIcon {
  background: url('background/ArrowPageIterator.gif') no-repeat left -140px;				/* orientation=lt */
  background: url('background/ArrowPageIterator-rt.gif') no-repeat right -140px;		/* orientation=rt */
  cursor: pointer ;
}
/* End */


.UIPageIterator .Number {
  float: left ;			/* orientation=lt */
  float: right ;		/* orientation=rt */
  padding: 0px 4px 0px 4px ;
  margin: 0px 6px 0px 3px;		/* orientation=lt */
  margin: 0px 3px 0px 6px;		/* orientation=rt */
}

.UIPageIterator .Number a.PageSelected {
  color: #f16701;
  font-weight: bold;
  border: none;
  border: 1px solid #dfdfdf;
  padding: 0px 4px 3px 4px;
}

.UIPageIterator .Number a {
  padding: 0px 4px 3px 4px;
  color: #333333 ;
  border: 1px solid #dfdfdf;
  background: white;
}

.UIPageIterator .Number a:hover {
  color: #058ee6 ;
  border: 1px solid #b6b6b6;
}