.UIAction {
  padding: 8px 0px;
}

.UIAction .ActionContainer {
	width: auto;
	margin: auto;
}	



.UIAction .ActionButton {
	display: block;
	float: left;
	margin: 0px 3px;
}

.UIAction a {
	color: black;
}

.UIAction a:hover {
	color: #058ee6;
}


.UIAction .ActionButton .Icon {
	padding-left: 20px;
	width: auto;
  height: auto;
  background-position: left center;
  background-repeat: no-repeat;
}

/*##############################-Normal ActionButton-################################*/
.UIAction .NormalStyle {
}

.UIAction .NormalStyle .ButtonLeft {
  background: url('background/LeftNormalStyleButton3x22.gif') no-repeat left center;
  padding: 0px 0px 0px 3px;
}

.UIAction .NormalStyle .ButtonRight {
  background: url('background/RightNormalStyleButton3x22.gif') no-repeat right center;
  padding: 0px 3px 0px 0px ;
}

.UIAction .NormalStyle .ButtonMiddle {
  line-height: 22px;
	background: url('background/MiddleNormalStyleButton1x22.gif') repeat-x center;
	padding: 0px 12px;	
	display: table-cell;
}

/*##############################-Disabled ActionButton-################################*/

.UIAction .DisabledStyle {
}

.UIAction .DisabledStyle .ButtonLeft {
  background: url('background/LeftDisableButton3x22.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIAction .DisabledStyle .ButtonRight {
  background: url('background/RifghtDisableButton3x22.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .DisabledStyle .ButtonMiddle {
	height: 22px; text-align: center; 
	background: url('background/MiddleDisableButton1x22.gif') repeat-x;
	padding: 0px 12px;
	display: table-cell;
}


/*##############################-LightBlueStyle ActionButton-################################*/

.UIAction .LightBlueStyle .ButtonLeft {
  background: url('background/LeftLightStyleButton3x22.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIAction .LightBlueStyle .ButtonRight {
  background: url('background/RightLightStyleButton3x22.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .LightBlueStyle .ButtonMiddle {
 	line-height: 22px; text-align: center; 
	background: url('background/MiddleLightStyleButton1x22.gif') repeat-x;
	white-space: nowrap;
	display: table-cell;
	padding: 0px 12px;
}

/*##############################-SimpleStyle ActionButton-################################*/

.UIAction .SimpleStyle {
}

.UIAction .SimpleStyle .ButtonLeft {
  background: url('background/LeftSimpleButton10x21.gif') no-repeat left top;
  padding: 0px 0px 0px 10px;
}

.UIAction .SimpleStyle .ButtonRight {
  background: url('background/RightSimpleButton10x21.gif') no-repeat right top;
  padding: 0px 10px 0px 0px ;
}

.UIAction .SimpleStyle .ButtonMiddle {
  line-height: 21px;
	background: url('background/CenterSimpleButton1x21.gif') repeat-x top;
	text-align: center;	
	padding: 0px 12px;
	display: table-cell;	
}

.UIAction a.SimpleStyle {
  color: #313131;
  margin: 0px 6px; white-space: nowrap;
  line-height: 21px; 
}

.UIAction a:hover.SimpleStyle {
  color: #1273df;
}
