.UIAction {
  padding: 8px 0px;
}

.UIAction .ActionContainer {
	width: auto;
	margin: auto;
}	

.UIAction .ActionButton {
	display: block;
	float: left;
	margin: 0px 3px;
	cursor: pointer;
}

.UIAction a {
}

.UIAction a:hover {
	color: #058ee6;
}


.UIAction .ActionButton .Icon {
	padding-left: 20px;
	width: auto;
  height: auto;
  background-position: left center;
  background-repeat: no-repeat;
}

/*##############################-Normal ActionButton-################################*/
.UIAction .NormalStyle {
}

.UIAction .NormalStyle .ButtonLeft {
  background: url('background/NormalStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 3px;
}

.UIAction .NormalStyle .ButtonRight {
  background: url('background/NormalStyle.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIAction .NormalStyle .ButtonMiddle {
  line-height: 22px;
	background: url('background/NormalStyle.gif') repeat-x bottom;
	padding: 0px 12px;	
	display: table-cell;
	white-space: nowrap;
}

/*##############################-Disabled ActionButton-################################*/

.UIAction .DisabledStyle {
}

.UIAction .DisabledStyle .ButtonLeft {
  background: url('background/DisabledStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 3px;
}

.UIAction .DisabledStyle .ButtonRight {
  background: url('background/DisabledStyle.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIAction .DisabledStyle .ButtonMiddle {
	height: 22px; text-align: center; 
	background: url('background/DisabledStyle.gif') repeat-x bottom;
	padding: 0px 12px;
	display: table-cell;
}


/*##############################-LightBlueStyle ActionButton-################################*/

.UIAction .LightBlueStyle .ButtonLeft {
  background: url('background/LightBlueStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 3px;
}

.UIAction .LightBlueStyle .ButtonRight {
  background: url('background/LightBlueStyle.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIAction .LightBlueStyle .ButtonMiddle {
 	line-height: 22px; text-align: center; 
	background: url('background/LightBlueStyle.gif') repeat-x bottom;
	white-space: nowrap;
	display: table-cell;
	padding: 0px 12px;
}

/*##############################-SimpleStyle ActionButton-################################*/

.UIAction .SimpleStyle {
}

.UIAction .SimpleStyle .ButtonLeft {
  background: url('background/SimpleStyle.gif') no-repeat left top;
  padding: 0px 0px 0px 10px;
}

.UIAction .SimpleStyle .ButtonRight {
  background: url('background/SimpleStyle.gif') no-repeat right top;
  padding: 0px 10px 0px 0px ;
}

.UIAction .SimpleStyle .ButtonMiddle {
  line-height: 21px;
	background: url('background/SimpleStyle.gif') repeat-x bottom;
	text-align: center;	
	padding: 0px 12px;
	display: table-cell;	
}

.UIAction a.SimpleStyle {
  color: #313131;
  margin: 0px 6px; white-space: nowrap;
}

.UIAction a:hover.SimpleStyle {
  color: #1273df;
}
