.UIFormInputThemeSelector {	
}

.UIFormInputThemeSelector .LeftColumnStyle .ItemListContainer {
	width: 225px;
}

.UIFormInputThemeSelector .LeftColumnStyle .ItemDetailList {
	margin-left: 230px; /* orientation=lt */
	margin-right: 230px; /* orientation=rt */
}

.UIFormInputThemeSelector .LeftColumnStyle .ItemList .Item {
	height: auto;
	border: none;
}

.UIFormInputThemeSelector .UIThemeSelector .MiddleDecoratorCenter {
	background: url('background/MiddleTonicBlue1x88.gif') repeat-x;
}

.UIFormInputThemeSelector .ItemList .Item .MiddleDecoratorCenter {
	padding: 10px 0px;
}

.UIFormInputThemeSelector .LeftColumnStyle .ItemList .NameStyle {
	line-height: 20px;
	border: 1px solid #a4a4a4;
	width: 75%;
	text-align: center;
	margin: auto;
	color: #454545;
}

.UIFormInputThemeSelector .LeftColumnStyle .ItemList .UIThemeSelector {
	width: 180px;
	margin: auto;
}

.UIFormInputThemeSelector .LeftColumnStyle .SetDefault {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.UIFormInputThemeSelector .LeftColumnStyle .SetDefault a {
	color: black;
	line-height: 22px;
	text-decoration: underline;
}

.UIFormInputThemeSelector .LeftColumnStyle .SetDefault a:hover {
	color: #058EE6;
}

.UIFormInputThemeSelector .LeftColumnStyle .ItemDetailList .DetailView {
	border: 1px solid #a4a4a4;
	padding: 20px 10px;
	height: 200px;
	background: white;
}

.UIFormInputThemeSelector .ItemDetailList .DetailView .UIThemeSelector {
	width: 90%;
	margin: auto;
}

.UIFormInputThemeSelector .LeftColumnStyle .ItemDetailList .NameTheme {
	line-height: 30px;
	text-align: center;
	color: #454545;
	padding-top: 10px;
}

.UIFormInputThemeSelector .LeftColumnStyle .ItemList .Item {
	margin: 5px;
}