.UIWidgets {
	padding: 10px 0px 0px 0px;
}

.UIWidgets .ItemSelectorContainer .UIDropDownControl{
	width: 214px;
	float: left;
	margin: 0px 0px 2px 0px;
}

.UIWidgets .UIDropDownControl .ComponentIcon {
	background: url('icons/IconWidget.png') no-repeat center left;
	padding-left: 20px;
}

.UIWidgets .WidgetDecorator {
	width: 236px;
}

.UIWidgets .WidgetDecorator .TopLeftWidgetsDecorator {
	background: url('background/TopLeftWidgets3x2.png') no-repeat left bottom;
	padding: 0px 0px 0px 3px;
}

.UIWidgets .WidgetDecorator .TopRightWidgetsDecorator {
	background: url('background/TopRightWidgets4x2.png') no-repeat right bottom;
	padding: 0px 4px 0px 0px;
}

.UIWidgets .WidgetDecorator .TopCenterWidgetsDecorator {
	background: url('background/TopMiddleWidgets1x2.png') repeat-x bottom;
	height: 2px;
}

.UIWidgets .WidgetDecorator .MiddleLeftWidgetsDecorator {
	background: url('background/CenterLeftWidgets4x1.png') repeat-y left;
	padding: 0px 0px 0px 4px;
}

.UIWidgets .WidgetDecorator .MiddleRightWidgetsDecorator {
	background: url('background/CenterRightWidgets5x1.png') repeat-y right;
	padding: 0px 5px 0px 0px;
}

.UIWidgets .WidgetDecorator .MiddleCenterWidgetsDecorator {
	
}

/******************************* UICaegorySelector  **********************************/
.UICaegorySelector {
}

.UIWidgets .UICaegorySelector {
	border-bottom: 1px solid #ffffff;
}

.UICaegorySelector .IconLabelContent {
	background: url('/eXoVistaSkin/skin/VistaSkin/background/IconLabelContentBG1x1.png') repeat;
	padding-left: 8px;
	border: 1px solid #6c767c;
	height: 20px;
}

.UICaegorySelector .IconLabelContent .WidgetIcon {
	float: left;
	padding: 2px 0px 0px 0px;
	height: 16px; width: 16px; 
	background: url('icon/IconWidget.png') no-repeat center;
}

.UICaegorySelector .IconLabelContent .WidgetLabel {
	float: left;
	line-height: 19px;
	font-weight: bold;
	margin-left: 8px;
}

.UIWidgets .EditIcon {
	float: left;
	width: 19px; height: 22px;
	background: url('icons/EditIcon.png') no-repeat center;
	cursor: pointer;	
}

/***************************************  UIWidgetContainer   **************************************/
.UIWidgetContainer {
	padding: 5px 0px 8px 0px;
}

.UIWidgetContainer .WidgetContainerScrollArea {
	overflow: hidden ;	
}

.UIWidgetContainer .LeftWidgetNavBar {
	height: 28px;
	background: url('background/LeftWidgetNavBar12x28.png') no-repeat left;
	padding-left: 12px;	
}

.UIWidgetContainer .RightWidgetNavBar {
	height: 28px;
	background: url('background/RightWidgetNavBar5x28.png') no-repeat right;
	padding-right: 5px;	
}

.UIWidgetContainer .CenterWidgetNavBar {
	height: 28px;
	background: url('background/CenterWidgetNavBar1x28.png') repeat-x;
}

.UIWidgetContainer .WidgetNavigator .Icon{
	height: 24px;
	width: 24px;
	float: left;
	margin:2px 0px;
	cursor: pointer;
}	

.UIWidgetContainer .WidgetNavigator .DisableScrollDownButton{
	background: url('icons/DownNomalIcon.png') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .ScrollDownButton{
	background: url('icons/DownSelectIcon.png') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .ScrollUpButton{
	background: url('icons/UpSelectIcon.png') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .DisableScrollUpButton{
	background: url('icons/UpNomalIcon.png') no-repeat center;
}

.UIWidgetContainer .WidgetNavigator .AddWidgetButton{
	background: url('icons/AddWidgetButton.png') no-repeat center;
}

.UIWidgets .WidgetDecorator .BottomLeftWidgetsDecorator {
  background: url('background/BottomLeftWidgets6x12.png') no-repeat left bottom;
	padding: 0px 0px 0px 6px;
}

.UIWidgets .WidgetDecorator .BottomRightWidgetsDecorator {
  background: url('background/BottomRightWidgets7x12.png') no-repeat right bottom;
	padding: 0px 7px 0px 0px;
}

.UIWidgets .WidgetDecorator .BottomCenterWidgetsDecorator {
  background: url('background/BottomMiddleWidgets1x12.png') repeat-x bottom;
	height:12px;
}

.UIWidgetContainer .eXoInfoWidgetImage .TopWidgetImage {
  height:157px;
}

.UIWidgetContainer .eXoInfoWidgetImage .Download {
	margin: auto;
	width: 120px; height: 20px;
	cursor: pointer;	
}

.UIWidgetContainer .WidgetControlContainer {
  height: 21px;
  padding: 1px 15px 3px 0px;
}

.UIWidgetContainer .WidgetControlContainer .WidgetControl {
  float: right;
	width: 57px; height: 21px;
	background: url('background/WidgetControl57x21.png') no-repeat center;
}

.UIWidgetContainer .WidgetControlContainer .CloseWidgetIcon {
	float: left;
	width: 24px; height: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 2px;
}

.UIWidgetContainer .WidgetControlContainer .EditWidgetIcon {
	float: left;
	width: 24px; height: 20px;
	margin: 0px 0px 0px 3px;
	cursor: pointer;	
}

.UIWidgetContainer .WidgetNavigator {
	height: 27px;
	width: 90px;
	float: right;
}

.UIWidgets .ContentIcon {
	padding-top: 1px;
}

.UIWidgets .ControlBar {
	width: 100px;
	float: right;
}

.UIWidgets .ControlBar .Icon24x24 {
	float: right;
	width: 24px; height: 24px;
	cursor: pointer;
}

.UIWidgets .ControlBar .AddIcon {
	background: url('icons/AddIcon.png') no-repeat center;
	margin: 1px 0px 0px 0px;
}

.UIWidgets .ControlBar .DownBrownArrowIcon {
	background: url('icons/DownNomalIcon.png') no-repeat center;
}

.UIWidgets .ControlBar .DownBlueArrowIcon {
	background: url('icons/DownSelectIcon.png') no-repeat center;
}

.UIWidgets .ControlBar .UpBlueArrowIcon {
	background: url('icons/UpSelectIcon.png') no-repeat center;
}

.UIWidgets .ControlBar .UpBrownArrowIcon {
	background: url('icons/UpNomalIcon.png') no-repeat center;
}

.UIWidgets .UIWidgetContainer .ClockWidget {
	width: 185px; height: 203px;
	background:url('background/MarketStock.png') no-repeat center;
	margin: auto;
}

/***************************************  UIWidget   **************************************/

.UIWidget .WidgetControlBar {
  float: right;
	width: 76px; height: 20px;
	padding-right: 7px;
}

.UIWidget .WidgetControl {
	width: 74px; height: 20px;
}

.UIWidget .WidgetApplication {
	padding: 0px 0px 5px 0px;
}

.UIWidget .WidgetControl .LeftControlBar{
	height: 21px;
	background: url('background/LeftWidgetControlBar3x21.png') no-repeat left;	
	padding-left: 3px;
}

.UIWidget .WidgetControl .RightControlBar{
	height: 21px;
	background: url('background/RightWidgetControlBar3x21.png') no-repeat right;	
	padding-right:3px;
}

.UIWidget .WidgetControl .CenterControlBar{
	height: 21px;
	background: url('background/CenterWidgetControlBar1x21.png') repeat-x;	
}

.UIWidget .WidgetControl .WidgetDragHandleArea {
	float: left;
	width: 17px; height: 13px;
	cursor: move;
	margin: 4px 3px 0px 3px;
	background: url('background/WidgetDragArea3x2.gif');
}

.UIWidget .WidgetControl .SeparatorLine {
	float: left;
	width: 2px; height: 13px;
	margin: 3px 2px 0px 2px;
	background: url('DefaultSkin/background/SeparatorLine2x1.gif') repeat-y;
}

.UIWidget .WidgetControl .EditWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 2px 3px 0px 0px;
	background: url('icons/EditWidgetIcon.png');	
}

.UIWidget .WidgetControl .CloseWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 2px 0px 0px 0px;
	background: url('icons/CloseWidgetIcon.png');	
}
