.UIGroupMembershipSelector {
  padding: 10px;
}

.UIGroupMembershipSelector .SelectedGroupPath {
  background: white;
  border: 1px solid #b7b7b7;
  margin-bottom: 3px; padding: 0px;
}

.UIGroupMembershipSelector .UIBreadcumbs {
  font-weight: normal;
  height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs .LeftBreadcumbsBar {
  background: none;
  height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs .RightBreadcumbsBar {
  background: none;
  height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs .BreadcumbsInfoBar {
  background: none;
  height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs a.Selected {
  color: #058ee6;
}

.UIGroupMembershipSelector .UIBreadcumbs .HomeIcon {
	float: left;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGroup.gif') no-repeat;
}

.UIGroupMembershipSelector .UIBreadcumbs .RightBlackGridArrow16x16Icon {
	float: left;
  margin: 5px 2px 0px 1px ;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GridRightArrow.gif');
}

.UIGroupMembershipSelector .Container {
  padding: 10px;
  background: #f4f4f4;
  border: 1px solid #e4e4e4;
}

.UIGroupMembershipSelector .MembershipTitle{
  background: url('background/TitleBG1x20.gif') repeat-x;
  border: 1px #b7b7b7 solid; 
  height: 20px; line-height: 20px;
  padding-left: 15px;
}

.UIGroupMembershipSelector .GroupSelector {
  float: left;
  width: 230px;
  border: 1px solid white;
}

.UIGroupMembershipSelector .UITrees {
  border-top: none;  
  _width: 99%;
}

.UIGroupMembershipSelector .UITrees .TreeContainer {
  height: 160px;
}

.UIGroupMembershipSelector .BlueLevelUpArrow24x24Icon {
  margin-left: 7px;
}

.UIGroupMembershipSelector .MembershipSelector {
  background: #f4f4f4;
  border: 1px solid white; 
  margin-left: 240px; height: 183px;
}

.UIGroupMembershipSelector .MembershipSelector .OverflowContainer {
  border: #b7b7b7 1px solid;
  border-top: none;
  background: white;
  height: 148px; width: 91%;
  padding: 7px 10px 5px 10px;
  overflow: auto;
}

.UIGroupMembershipSelector .MembershipSelector .Label {
  line-height: 24px ;
}

.UIGroupMembershipSelector .MembershipSelector  a:hover {
  color: blue; 
}

.UIGroupMembershipSelector  .MembershipSelector .OddRow {
  line-height: 22px ;
}

.UIGroupMembershipSelector  .MembershipSelector .EvenRow {
  line-height: 22px ;
}

.UIGroupMembershipSelector .MembershipSelector .ItemIcon {
  margin: 0px 3px 0px 1px ;
  height: 22px; line-height: 22px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left;  
  padding-left: 20px;
}
