.UIGroupMembershipSelector {	
	padding: 10px;
}

.UIGroupMembershipSelector .SelectedGroupPath {
	background: white;
	border: 1px solid #b7b7b7;
	margin-bottom: 3px; padding: 0px;
}

.UIGroupMembershipSelector .UIBreadcumbs {
	font-weight: normal;
	height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs .LeftBreadcumbsBar {
	background: none;
	height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs .RightBreadcumbsBar {
	background: none;
	height: auto;
}

.UIGroupMembershipSelector .UIBreadcumbs .BreadcumbsInfoBar {
	background: none;
}

.UIGroupMembershipSelector .UIBreadcumbs a.Selected {
	color: #058ee6;
}

.UIGroupMembershipSelector .UIBreadcumbs .HomeIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGroup.gif') no-repeat left; /* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SmallGroup-rt.gif') no-repeat right; /* orientation=rt */
}

.UIGroupMembershipSelector .UIBreadcumbs .RightBlackGridArrow16x16Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 5px 2px 0px 1px; /* orientation=lt */
	margin: 5px 1px 0px 2px; /* orientation=rt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GridRightArrow.gif') no-repeat left; /* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GridRightArrow-rt.gif') no-repeat right; /* orientation=rt */
}

.UIGroupMembershipSelector .Container {
	padding: 10px;
	background: #f4f4f4;
	border: 1px solid #b7b7b7;
}

.UIGroupMembershipSelector .MembershipTitle {
	background: url('background/TitleBG1x20.gif') repeat-x;
	border-bottom: 1px #b7b7b7 solid; 
	height: 20px; 
	line-height: 20px;
	padding-left: 15px; /* orientation=lt */
	padding-right: 15px; /* orientation=rt */
}

.UIGroupMembershipSelector .GroupSelector {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 230px;
	border: 1px solid white;
}

.UIGroupMembershipSelector .UITrees {
	border: none;	
}

.UIGroupMembershipSelector .UITrees .TreeContainer {
	height: 160px;
}

.UIGroupMembershipSelector .BlueLevelUpArrow24x24Icon {
	margin-left: 7px; /* orientation=lt */
	margin-right: 7px; /* orientation=rt */
}

.UIGroupMembershipSelector .MembershipSelector {
	background: #f4f4f4;
	border: 1px solid white; 
	margin-left: 240px; /* orientation=lt */
	margin-right: 240px; /* orientation=rt */ 
	height: 183px;
}

.UIGroupMembershipSelector .ContentContainer {
	border: 1px solid #b7b7b7;
}

.UIGroupMembershipSelector .MembershipSelector .OverflowContainer {
	background: white;
	height: 146px; width: auto;
	padding: 7px 0px;
	overflow: auto;
}

.UIGroupMembershipSelector .MembershipSelector .Label {
	line-height: 24px;
}

.UIGroupMembershipSelector .MembershipSelector	a:hover {
	color: blue; 
}

.UIGroupMembershipSelector	.MembershipSelector .OddRow {
	line-height: 22px;
	padding: 0px 5px;
	width: 80.5%;
	overflow: hidden;
}

.UIGroupMembershipSelector	.MembershipSelector .EvenRow {
	line-height: 22px;
	padding: 0px 5px;
	width: 80.5%;
	overflow: hidden;
}

.UIGroupMembershipSelector .MembershipSelector .ItemIcon {
	height: 22px; 
	line-height: 22px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow.gif') no-repeat left; /* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/GrayNextArrow-rt.gif') no-repeat right; /* orientation=rt */	
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	display: block;
}
