.UIPageManagement {	
}

.UIPageManagement .TopTitleBar {
	margin-bottom: 10px;
	padding: 15px 10px 0px 0px; /* orientation=lt */
	padding: 15px 0px 0px 10px; /* orientation=rt */
}

.UIPageManagement .UIToolbar .EditToolbar .Icon {
	margin: 3px 10px 0px 10px;
}

.UIPageManagement .UIVerticalSlideTabs .TreeContainer {
	_width: 92%;
}
