
.Save24x24Icon {
	background: url('icons/FloppyDisk.gif') no-repeat;
	width: 24px;	height: 24px;
}

.DustBin24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DustBin.gif') no-repeat;
}

.RedDustBin24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/RedDustBin.gif') no-repeat;
}

.LightBlueFolder24x24Icon {
	background: url('icons/BlueClosedFolder.gif') no-repeat;
	width: 24px;	height: 24px;
}

.VioletFolder24x24Icon {
	background: url('icons/VioletFolder.gif') no-repeat;
	width: 24px;	height: 24px;
}

.LightBlueOpenFolder24x24Icon {
	background: url('icons/BlueOpenFolder.gif') no-repeat;
	width: 24px;	height: 24px;
}

.LightBlueFolderHome24x24Icon {
	background: url('icons/LightBlueFolderHome.gif') no-repeat;
	width: 24px;	height: 24px;
}

.Paste24x24Icon {
	background: url('icons/Paste.gif') no-repeat;
	width: 24px;	height: 24px;
}

.BlackMagnifier24x24Icon {
	background: url('icons/BlackMagnifier.gif') no-repeat;
	width: 24px;	height: 24px;
}

.BlueFloppyDisk24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueFloppyDisk.gif') no-repeat;
	margin: auto;
}

.DiamondCircleRoundedArrows24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/DiamondCircleRoundedArrows.gif') no-repeat;
	margin: auto;
}

.NavyBlueRecycleBin24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/NavyBlueRecycleBin.gif') no-repeat;
	margin:auto;
	cursor: pointer; 
}
.DusBinFull24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/DusBinFull.gif') no-repeat;
	margin:auto;
	cursor: pointer; 
}

/*##############- Misc Icons -#############*/

.BoxBlueArrowDown24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/BoxBlueArrowDown.gif') no-repeat;
}

.BlueInfoBox24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/BlueInfoBox.gif') no-repeat;
}

.BoxGreenPlus24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/BoxGreenPlus.gif') no-repeat;
}

.BoxPencil24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/BoxPencil.gif') no-repeat;
}

.DoubleWindowsUpArrow24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/DoubleWindowsUpArrow.gif') no-repeat;
	margin: auto;
}

.PointedHandBrownBox24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/PointedHandBrownBox.gif') no-repeat;
	margin: auto;
}

.HammerDataBox24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/HammerDataBox.gif') no-repeat;
	margin: auto;
}

.CogWheelBrownBox24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/CogWheelBrownBox.gif') no-repeat;
	margin: auto;
}

.MiscColorBevelRetangles24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/MiscColorBevelRetangles.gif') no-repeat;
	margin: auto;
}

.PageGreenArrowDown24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/PageGreenArrowDown.gif') no-repeat;
	margin: auto;
}

.PageGreenArrowUp24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/PageGreenArrowUp.gif') no-repeat;
	margin: auto;
}

.BlackMagnifier24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/BlackMagnifier.gif') no-repeat;
	margin: auto;
}

.GreenPlusBluePage24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/GreenPlusBluePage.gif') no-repeat;
	margin: auto;
}

.GreenPlusBlueTicket24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/GreenPlusBlueTicket.gif') no-repeat;
	margin: auto;
}

.GreenPlusFolder24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/GreenPlusFolder.gif') no-repeat;
	margin: auto;
}

.Paste24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/Paste.gif') no-repeat;
	margin: auto;
}

.GreenUpArrowDisk24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/GreenUpArrowDisk.gif') no-repeat;
	margin: auto;
}

.BlueBallMultiplePage24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/BlueBallMultiplePage.gif') no-repeat;
	margin: auto;
}

.GraySwitcher24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/GraySwitcher.gif') no-repeat;
	margin: auto;
}

.MiscColorRegtangleRing24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/MiscColorRegtangleRing.gif') no-repeat;
	margin: auto;
}

.SmallBallColorPlate24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/SmallBallColorPlate.gif') no-repeat;
	margin: auto;
}

.SmallBallFlyingPages24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/SmallBallFlyingPages.gif') no-repeat;
	margin: auto;
}

.SmallBallRedShield24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/SmallBallRedShield.gif') no-repeat;
	margin: auto;
}
.Selected24x24Icon {
	width: 32px;	height: 28px;
	background: url('icons/SelectedBlock.gif') no-repeat;
	margin: auto;
}

.BlueArrowBox24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/BlueArrowBox.gif') no-repeat;
	margin: auto;
}

.DiskArrow24x24Icon {
	width: 24px;	height: 24px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/DiskArrow.gif') no-repeat;
	margin: auto;
}

.ColorGridSquare24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/ColorGridSquare.gif') no-repeat;
	margin: auto;
}

.OnMouseOver24x24Icon {
	width: 32px;	height: 28px;
	background: url('icons/OnmouseOverBlock.gif') no-repeat; 
	margin: auto;	
}

.GreenPlusDataBox24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/GreenPlusDataBox.gif') no-repeat;
	margin:auto;
	cursor: pointer; 	
}
.GreenPlusBrownBox24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/GreenPlusBrownBox.gif') no-repeat;
	margin:auto;
	cursor: pointer; 	
}

.YellowPenBrownBox24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/YellowPenBrownBox.gif') no-repeat;
	margin: auto;
	cursor: pointer; 
}

.NavyBlueRecycleBin24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/NavyBlueRecycleBin.gif') no-repeat;
	margin: auto;
	cursor: pointer;
}

.NavyBlueDocument24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/NavyBlueDocument.gif') no-repeat;
	margin:auto;
	cursor: pointer; 
}

.DataBoxDusBin24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/DataBoxDusBin.gif') no-repeat;
	margin:auto;
	cursor: pointer; 
}

.LevelUpArrowIcon {
	width: 24px;	height: 26px;
	background: url('icons/AquaBlueUpLevel.gif') no-repeat	;
}

.BlueNavigation24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/BlueIconNavigation.gif') no-repeat;
}


.BlueSyncArrow24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/BlueSync.gif') no-repeat;
}

/*##############- Tool Icons -#############*/
.YellowHammer24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/YellowHammer.gif') no-repeat;
	margin:auto;
	cursor: pointer; 	
}

.Refresh24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/Refresh.gif') no-repeat;
}

.AddCategory24x24Icon {
	width: 31px;	height: 24px;
	background: url('icons/AddCategoryIcon.png') no-repeat bottom;
}

.Catergory24x24Icon {
	width: 24px;	height: 24px;
	background: url('icons/Category.gif') no-repeat;
}

.EditCategory24x24Icon {
	width: 31px; height: 24px;
	background: url('icons/EditCategoryIcon.png') no-repeat bottom;
}

.Delete24x24Icon {
	width: 24px; height: 24px;
	background: url('icons/GrayTrashBin.gif') no-repeat;
}

.DeleteAll24x24Icon {
	width: 24px; height: 24px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/DeleteAll.gif') no-repeat;
}

.ImportCategory24x24Icon {
	width: 24px; height: 24px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/ImportCategory.gif') no-repeat;
}

.DeleteCategory24x24Icon {
	width: 31px; height: 24px;
	background: url('icons/DeleteCategoryIcon.png') no-repeat	bottom center;
}

.UIListPermissionSelector24x24Icon {
	width: 24px; 
	height: 24px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/IconAccessPermission.gif') no-repeat; /* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/IconAccessPermission-rt.gif') no-repeat; /* orientation=rt */
}

.UIPermissionSelector24x24Icon {
	width: 24px; height: 24px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/IconEditPermission.gif') no-repeat; /* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/IconEditPermission-rt.gif') no-repeat; /* orientation=rt */
}

	