.CyanUpArrowDotted32x32Icon {
	background: url('icons/CyanUpArrowDotted.gif');
	width: 32px; height: 32px;
}

.ErrorMessage32x32Icon {
	background: url('icons/MinusSign.gif');
	width: 32px; height: 32px;
}

.WarningMessage32x32Icon {
	background: url('icons/WarningSign.gif');
	width: 32px; height: 32px;
}

.InfoMessage32x32Icon {
	background: url('icons/CircleInfo.gif');
	width: 32px; height: 32px;
}

.NavyWheelDataBox32x32Icon {
	background: url('icons/NavyWheelDataBox.gif');
	width: 32px; height: 32px;
}

.Yellowbulb32x32Icon {
	background: url('icons/Yellowbulb.gif');
	width: 32px; height: 32px;
}

.PageMagnifier32x32Icon {
	background: url('icons/PageMagnifier.gif');
	width: 32px; height: 32px;
}

.BoxMagnifier32x32Icon {
	background: url('icons/BoxMagnifier.gif');
	width: 32px; height: 32px;
}

.ImagePlain32x32Layout {
	width: 32px; height: 32px;
	background: url('icons/ImagePlainLayout.gif');
}

.ImageDouble32x32Layout {
	width: 32px; height: 32px;
	background: url('icons/ImageDoubleLayout.gif');
}

.ImageLeft32x32Layout {
	width: 32px; height: 32px;
	background: url('icons/ImageLeftLayout.gif');
}
.ImageRight32x32Layout {
	width: 32px; height: 32px;
	background: url('icons/ImageRightLayout.gif');
}

.ImageDoubleCol32x32Layout {
	width: 32px; height: 32px;
	background: url('icons/ImageDoubleColLayout.gif');
}

.ImageCenter32x32Layout {
	width: 32px; height: 32px;
	background: url('icons/ImageCenterLayout.gif');
}
