.UIControlWorkspace {
  width: 18px ; height: 100%;
  padding: 0px;
  top: 0px;
  background: url('background/ControlWorkspaceBG.gif') repeat-y center right; /* orientation=lt */
  background: url('background/ControlWorkspaceBG-rt.gif') repeat-y center left; /* orientation=rt */
}
	
.UIControlWorkspace .TopTitleBar{
	padding: 15px 60px 15px 0px; /* orientation=lt */
	padding: 15px 0px 15px 60px; /* orientation=rt */
}

.UIControlWorkspace .UIVerticalSlideTabs {
	padding: 3px;
}

.UIControlWorkspace .UserWorkspaceTitle {
	height: 23px;
	background: url('background/UserWorkspaceTitleBG1x23.png') repeat-x;
	color: #333333;
	font-weight: bold; 
	line-height: 22px;
	padding: 0px 0px 0px 13px; /* orientation=lt */
	padding: 0px 13px 0px 0px; /* orientation=rt */
	margin-right: 2px; /* orientation=lt */
	margin-left: 2px; /* orientation=rt */
}

.UIControlWorkspace .CloseControlWorkspace {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 18px;	
	height: 18px;
	margin: 3px 7px 0px 0px; /* orientation=lt */
	margin: 3px 0px 0px 7px; /* orientation=rt */
	background: url('background/CloseControlWorkspace.gif') no-repeat;
	cursor: pointer;
}

.UIControlWorkspace .UIWorkspaceControl { 
	margin-right: 2px; /* orientation=lt */
	margin-left: 2px; /* orientation=rt */
}

.UIControlWorkspace .UIDropDownControl { 
	width: 221px;
}

/*########################### Tab ###########################*/
.UIControlWorkspace .UIWorkspacePanel .ControlPanelExpandContainer {
	margin: 10px 4px;
}

.UIControlWorkspace .UIWorkspacePanel .HideContentVTab {
	display: none;
	border: solid 1px #a3abb6;
	margin: 2px 0px;
}

.UIControlWorkspace .UIWorkspacePanel .ShowContent {
	display: block;
	border: solid 1px #a3abb6;
	margin: 2px 0px;
}

/*===================== End Tab =================================*/
/*########################### Slidebar ###########################*/
.UIControlWorkspace .Slidebar {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 8px;
	height: 100%;
	background: url('background/SlidebarBackground8x1.gif') repeat-y right;
	cursor: pointer;
}

.UIControlWorkspace .SlidebarButton {
	height: 100%;
	width: 8px;
	background: url('background/SlidebarButton8x137.gif') no-repeat center center;
}

.UIControlWorkspace .UIWorkspaceContainer {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */	
	height: 100%;
}

/*########################### End Slidebar ###########################*/
.UIWorkingWorkspace {
	margin: 0px;
/*
 * minh.js.exo
 * bug : right click with IE7 in ECM
 */
}

.MaskLayer {
	background: green;
	text-align: center;
	position: absolute;
	overflow: auto; /* Fix for FF2 */
}

.WarningLayer {
	width: 300px;	height: 100px;
	line-height: 100px;	
	text-align: center;
	position: absolute;
	opacity: 0.5 !important;
	filter: alpha(opacity=50);
}

.PreviewMode {
	width: 146px;	height: 156px;
	background: url('background/PreviewModeImage146x156.png') no-repeat top right;
	position: absolute;
	cursor: pointer;
	top: 0px; right: 0px;
}