
.UIGadgetThemes .TitGad {
 padding: 0px 0px 0px 15px;
 text-align: right;
 height:22px;
}

.UIGadgetThemes .TitGad .ContTit {
 margin-right: 3px;
}

.UIGadgetThemes .TitGad .ContTit a{
 display: block;
 float: left;
 margin-right: 5px;
}

.UIGadgetThemes .WeeklyStatisticArea .ChartContent{
  clear: both;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
  width: 200px;
}

.UIGadgetThemes .TotalStatisticArea{
  min-height:150px;
}

.icon{
  cursor:pointer;
  height:20px;
}
.users li {
 list-style:none;
}

/* override css of chart jqplot */
.jqplot-yaxis {
  margin-right:7px;
}

.jqplot-xaxis {
  margin-top:7px;
}

