.UIAdminToolbarPortlet {
	position: relative;
}

.UIAdminToolbar {	
	background: url('DefaultSkin/icons/IconToolBar.gif') repeat-x scroll 0 0;	
	height: 32px;
}

.UIAdminToolbar a {
	display: block;
	padding-left: 30px;
	white-space: nowrap;
}

.UIAdminToolbar a:hover {
	color: white;
}

.UIAdminToolbar .ExoLogo {
	background: url('DefaultSkin/icons/eXoLogo.gif') no-repeat left top;
	height: 30px;
	width: 54px;
	display: block;
	padding: 0;
}

.UIAdminToolbar .TBItem {
	line-height: 30px;	
	float: left;
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -320px;
	padding-right: 2px;
}

.UIAdminToolbar .TBItemHover {
	line-height: 30px;	
	float: left;
	background: #a4a4a4 url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -320px;
	padding-right: 2px;
}

.UIAdminToolbar .TBItemHover a.TBIcon {
	color: white;
}

.UIAdminToolbar .TBExoLogo {
	background:none;
}

.UIAdminToolbar .TBIcon {
	padding: 0px 13px 0px 35px;
	line-height: 30px;	
}

.UIAdminToolbar .OnOffAction {
	background: url('DefaultSkin/icons/BackgroundOnOff.gif') repeat-x scroll 0 0;	
	float: right; 
	line-height:32px; 
	white-space: nowrap;
	padding: 0px 10px;
	font-weight:bold;
}

.UIAdminToolbar .OnOffAction a {
	float: left;
}


.UIAdminToolbar .OnOffAction div {
	float: left;
}

.UIAdminToolbar .BoxOnOff {
	height: 20px;
	padding: 6px 8px 6px 19px;
	float: right;
	/*float: left;*/
	margin-left: 20px;
}

/****** Select On *******/
.UIAdminToolbar .SelectOn .LeftSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat left top;
	padding-left: 27px;
	width: 33px;
}

.UIAdminToolbar .SelectOn .RightSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat right top;
	padding-right: 3px;
}

.UIAdminToolbar .SelectOn .CenterSelect {
	background: url('DefaultSkin/icons/onoff.gif') repeat-x left -17px;
	text-align: center;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #767676;
	cursor: pointer;
}

/****** Select Off *******/
.UIAdminToolbar .SelectOff .LeftSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat left -34px;
	padding-left: 3px;
	width: 57px;
}

.UIAdminToolbar .SelectOff .RightSelect {
	background: url('DefaultSkin/icons/onoff.gif') no-repeat right -34px;
	padding-right: 27px;
}

.UIAdminToolbar .SelectOff .CenterSelect {
	background: url('DefaultSkin/icons/onoff.gif') repeat-x left -51px;
	line-height: 17px;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

/****************************/
.UIAdminToolbar .MenuItemContainer {	
	position: absolute;
	border: 1px solid #9d9d9d;
	z-index: 100;
}

.UIAdminToolbar .TitleBar {
	background: url('DefaultSkin/icons/IconToolBar.gif') repeat-x left -664px;
	height: 23px;
	line-height: 23px;
	color: #5e5e5e;
	font-weight: bold;
	padding: 0px 5px;
	white-space: nowrap;
}

.UIAdminToolbar .MenuItem {	
	height: 28px;
	line-height: 28px;
	border: 1px solid white;
}

.UIAdminToolbar .MenuItem .MenuItemHover {
	background-color: #a4a4a4;
}

.UIAdminToolbar .MenuItem .ArrowIcon {
	background-image: url('DefaultSkin/icons/IconToolBar.gif');
	background-position: right -290px;
	background-repeat: no-repeat;
}

.UIAdminToolbar .MenuItem a {	
	padding-right: 15px;
}

.UIAdminToolbar .OddItem {	
	background: #f3f2f2;
}

.UIAdminToolbar .EvenItem {	
	background: #e5e4e4;
}

.UIAdminToolbar .MenuItem .DefaultPageIcon {	
	background-position: 5px center;
}


/**********************************/
.UIAdminToolbar .DashboardIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -544px;
}

.UIAdminToolbar .SitesIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -574px;
}

.UIAdminToolbar .GroupsIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -604px;
}

.UIAdminToolbar .EditorIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -160px;
}

.UIAdminToolbar .AdministratorIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -634px;
}

.UIAdminToolbar .SiteIcon {
	background: url('DefaultSkin/icons/IconSite.gif') no-repeat 5px center;
	padding-left: 25px;
	text-transform: capitalize;
}

.UIAdminToolbar .EditPageAndNavIcon {	
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -512px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -512px; /* orientation=rt */
}

.UIAdminToolbar .AddContentIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -256px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -256px; /* orientation=rt */
}

.UIAdminToolbar .SkinSettingsIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -352px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -352px; /* orientation=rt */
}

.UIAdminToolbar .BrowsePortalIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -448px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -448px; /* orientation=rt */
}

.UIAdminToolbar .BrowsePageIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -480px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -480px; /* orientation=rt */
}

.UIAdminToolbar .AddPageIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -128px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -128px; /* orientation=rt */  
}

.UIAdminToolbar .EditPageIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -160px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -160px; /* orientation=rt */
}

.UIAdminToolbar .EditPortalIcon {	
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -192px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -192px; /* orientation=rt */
}

.UIAdminToolbar .CreatePortalIcon{
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -224px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -224px; /* orientation=rt */
}


.UIAdminToolbar .LanguageSettingsIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -384px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -384px; /* orientation=rt */
}

.UIAdminToolbar .AccountSettingsIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -416px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -416px; /* orientation=rt */
}

.UIAdminToolbar .LogoutIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -64px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -64px; /* orientation=rt */	
	cursor: pointer;
}

.UIAdminToolbar .ChangePortalIcon {
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat left -96px; /* orientation=lt */
	background: url('DefaultSkin/icons/IconToolBar.gif') no-repeat right -96px; /* orientation=rt */	
	cursor: pointer;
}
