.UIQuickHelp {	
}

.UIQuickHelp .TopBar {
	height: 22px;
}

.UIQuickHelp .TopBar .TopBarLeft {
	padding-left: 7px;
	background: url('background/QuickHelp.gif') no-repeat left top;
}

.UIQuickHelp .TopBar .TopBarRight {
	padding-right: 9px;
	background: url('background/QuickHelp.gif') no-repeat right top;
}

.UIQuickHelp .TopBar .TopBarMiddle {
	height: 22px;
	background: url('background/QuickHelp.gif') repeat-x left -22px;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 130px;
	height: 20px;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .BarLeft {
	padding-left: 1px;
	background: url('background/QuickHelp.gif') no-repeat left -64px;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .BarRight {
	padding-right: 16px;
	margin-top: 1px;
	background: url('background/QuickHelp.gif') no-repeat right -44px;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .BarMiddle {
	height: 20px;
	line-height: 20px;
	background: url('background/QuickHelp.gif') repeat-x left -64px;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .Title {
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	font-weight: bold;
}

.UIQuickHelp .TopBar .TopBarMiddle .TitleBar .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 16px;
	width: 16px;
	margin: 2px 7px 0px 3px; /* orientation=lt */
	margin: 2px 3px 0px 7px; /* orientation=rt */
}

.UIQuickHelp .ContentContainer {
	background-color: white;
	border-right: solid #5f90ba 1px;
	border-left: solid #5f90ba 1px;
}

.UIQuickHelp .Content {
	padding: 3px;
}

.UIQuickHelp .ContentContainer .Content .ScrollArea {
	overflow: auto;
	border:	solid 1px #6aa4d5;
}

.UIQuickHelp .ContentContainer .Content .ScrollArea .UIQuickHelpContentContainer {
	padding: 8px;
}

.UIQuickHelp .BottomBar {
	height: 22px;
	border: none;
}

.UIQuickHelp .BottomBar .BottomBarLeft {
	padding-left: 3px;
	background: url('background/QuickHelp.gif') no-repeat left -84px;
}

.UIQuickHelp .BottomBar .BottomBarRight {
	padding-right: 3px;
	background: url('background/QuickHelp.gif') no-repeat right -84px;
}

.UIQuickHelp .BottomBar .BottomBarMiddle {
	height: 22px;
	background: url('background/QuickHelp.gif') repeat-x left -106px;
}

.UIQuickHelp .BottomBar .ButtonBar {
	margin-left: auto; /* orientation=lt */
	margin-right: auto; /* orientation=rt */
	width: 80px;
	height: 20px;
}

.UIQuickHelp .BottomBar .ButtonBar .ButtonBarLeft {
	height: 20px;
	padding-left: 16px;
	background: url('background/QuickHelp.gif') no-repeat left -128px;
}

.UIQuickHelp .BottomBar .ButtonBar .ButtonBarRight {
	height: 20px;
	padding-right: 1px;
	background: url('background/QuickHelp.gif') repeat-x bottom;
}

.UIQuickHelp .BottomBar .BackButton {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 7px 0px 5px; /* orientation=lt */
	margin: 3px 5px 0px 7px; /* orientation=rt */
}

.UIQuickHelp .BottomBar .ForwardButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin: 3px 7px 0px 5px; /* orientation=lt */
	margin: 3px 5px 0px 7px; /* orientation=rt */
}

.UIQuickHelp .UIQuickHelpContentPage .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIQuickHelp .UIQuickHelpContentPage ul {
	list-style-image: url('background/BlueSquareBg.gif');
}

.UIQuickHelp .UIQuickHelpContentPage li {
	margin-top: 10px;
	margin-left: -20px; /* orientation=lt */
	margin-right: -20px; /* orientation=rt */
}

.UIQuickHelp .UIQuickHelpContentPage a{
	font-weight: bold;
}