/**
 * Created by The eXo Platform SARL
 * Modifier : Nguyen Ngoc Thuy
 * April 23, 2007
 * version: $Id$
 */

.UINavigationPortlet {
  height: 28px;
  letter-spacing: 0.5px;
}

.UINavigationPortlet .UINavigationBar {
  height: 28px;
}

.UINavigationPortlet .UINavigationBar .UIHorizontalTabs {
  height: 28px;
  /*position: relative;*/
}

.UINavigationPortlet .UINavigationBar .UIHorizontalTabs .TabsContainer {
  float:none;
  overflow: visible;
}

.UINavigationPortlet .UINavigationBar .UIHorizontalTabs .PageNodeIcon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/DefaultPageIcon.gif') no-repeat left;
}

.UINavigationPortlet .UINavigationBar .LeftNavigationBar {
  line-height: 28px;
  background: url('DefaultSkin/background/MiddleNavTopBg1x28.gif') repeat-x top;
  padding-left: 4px;
}

.UINavigationPortlet .UINavigationBar .RightNavigationBar {
  line-height: 28px;
  background: url('DefaultSkin/background/MiddleNavTopBg1x28.gif') repeat-x top;
}

.UINavigationPortlet .UINavigationBar .MiddleNavigationBar {
  line-height: 28px;
  background: url('DefaultSkin/background/RightNavTop108x28.gif') no-repeat right top;
  padding-right: 10px;
}

.UINavigationPortlet .MenuItemContainer {
	white-space: nowrap;
	border: solid #b7b7b7 1px;
	background: #f3f3f3;
	text-align: left; 
}

.UINavigationPortlet .MenuItemContainer .MenuItemDecorator {
  border: 1px solid #fcfcfc;
  background: #f3f3f3;
  padding-bottom: 6px;
}

.UINavigationPortlet .MenuItemContainer .MenuItem {
  background: url('DefaultSkin/background/BottomMenuItem220x1.gif') no-repeat bottom center;
	white-space: nowrap;
	cursor: pointer;
	text-align: left;
}

.UINavigationPortlet .MenuItemContainer .NormalItem {
  background: url('DefaultSkin/background/BottomMenuItem220x1.gif') no-repeat bottom center;
	line-height: 24px;
	height: 24px; width: auto;
}

.UINavigationPortlet .MenuItemContainer .OverItem {
	background: #dfe0e0 url('DefaultSkin/background/BottomMenuItem220x1.gif') no-repeat bottom center;
 	line-height: 24px;
	width: auto; 
}

.UINavigationPortlet .MenuItemContainer .SelectedItem {
	background: #dfe0e0 url('DefaultSkin/background/BottomMenuItem220x1.gif') no-repeat bottom center;
	line-height: 24px;
	width: auto; 
}

.UINavigationPortlet .MenuItemContainer .ItemIcon {
  height: 24px; width: auto;
  padding-left: 20px;
  margin-left: 5px;
}

.UINavigationPortlet .MenuItemContainer .MenuItemLabel {
  line-height: 24px; 
  padding: 0px 5px 0px 3px; 
  font-weight: normal;
}

.UINavigationPortlet .MenuItemContainer .NormalItem a {
  color: #333333;
  line-height: 24px;
}

.UINavigationPortlet .MenuItemContainer .NormalItem .RightItemIcon {
  height: 24px; width: auto;
  padding-right: 20px;
  background: url('DefaultSkin/background/GreyItemArrow.gif') no-repeat right;
}

.UINavigationPortlet .MenuItemContainer .OverItem a {
  color: #3e8df0;
  line-height: 24px;
}

.UINavigationPortlet .MenuItemContainer .OverItem .RightItemIcon {
  height: 24px; width: auto;
  padding-right: 20px;
  background: url('DefaultSkin/background/GreyItemArrow.gif') no-repeat right;
}

.UINavigationPortlet .MenuItemContainer .PageNodeIcon {
  height: 24px ;
  background: url('/eXoResources/icons/16x16/DefaultSkin/DefaultPageIcon.gif') no-repeat left ;
  padding: 0px 0px 0px 20px ;
}

.UINavigationPortlet .MenuItemContainer .SelectedItem a {
  color: #3e8df0;
  line-height: 24px;
}

.UINavigationPortlet .MenuItemContainer .SelectedItem .RightItemIcon {
  height: 24px; width: auto;
  padding-right: 20px;
  background: url('DefaultSkin/background/GreyItemArrow.gif') no-repeat right;
}

/*============ Scroll Buttons =====================*/
.UINavigationPortlet .ScrollButtons {
	float: right;
	padding: 5px 0px;
	display: none;
}

.UINavigationPortlet .ScrollLeftButton {
	cursor: pointer;
  background: url('DefaultSkin/background/ScrollLeft13x15.gif') no-repeat left;
  width: 13px;
  height: 15px;
  padding-left: 13px;
  margin: 0px 2px;
  float: left;
}

.UINavigationPortlet .ScrollRightButton {
	cursor: pointer;
	background: url('DefaultSkin/background/ScrollRight13x15.gif') no-repeat right;
  width: 13px;
  height: 15px;
  margin: 0px 2px;
  float: left;
}

.UINavigationPortlet .DisableScrollLeftButton {
  cursor: pointer;
	background: url('DefaultSkin/background/DisableScrollLeft13x15.gif') no-repeat left;
  width: 13px;
  height: 15px;
  padding-left: 13px;
  margin: 0px 2px;
  float: left;
}

.UINavigationPortlet .DisableScrollRightButton { 
	cursor: pointer;
	background: url('DefaultSkin/background/DisableScrollRight13x15.gif') no-repeat right;
  width: 13px;
  height: 15px;
  margin: 0px 2px;
  float: left;
}

.UINavigationPortlet .HighlightScrollLeftButton {
  cursor: pointer;
	background: url('DefaultSkin/background/HighlightScrollLeft13x15.gif') no-repeat left;
  width: 13px;
  height: 15px;
  padding-left: 13px;
  margin: 0px 2px;
  float: left;
}

.UINavigationPortlet .HighlightScrollRightButton {
	cursor: pointer;
	background: url('DefaultSkin/background/HighlightScrollRight13x15.gif') no-repeat;
  width: 13px;
  height: 15px;
  margin: 0px 2px;
  float: left;
}