.UINavigationPortlet {
  !position: relative;
}

.UINavigationPortlet .UINavigationBar {
  height: 42px;
}

.UINavigationPortlet .UINavigationBar .UIHorizontalTabs  {
  height: 41px;
}

.UINavigationPortlet .UIHorizontalTabs .TabsContainer {
  float: none;
}
 
.UINavigationPortlet .UINavigationBar .PageNodeIcon {
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DefaultPageIcon.png') no-repeat left;
}

.UINavigationPortlet .MiddleTab .TabLabel{
  padding: 3px 0px 3px 20px ;
}

.UINavigationPortlet .UINavigationBar .MiddleNavigationBar {
  background: url('MacSkin/background/UINavigationPortlet.png') repeat-x top;
  height: 41px;
  padding-left: 8px;
}

/* Portal Navigation sub menus */

.UINavigationPortlet .MenuItemContainer {
	white-space: nowrap;
	text-align: left;
	border: 1px #333 solid;
}

.UINavigationPortlet .MenuItemContainer .MenuItemDecorator {
	padding: 0px;
	border: 1px #fff solid;
}

.UINavigationPortlet .MenuItemContainer .CenterMiddleMenuDecorator {
  background: url('MacSkin/background/MenuBG.png') repeat;
  border-top: 1px solid #b3b3b3;
}

.UINavigationPortlet .MenuItemContainer .MenuItem  a{
  white-space: nowrap;
  cursor: pointer;
  display: block;
  border-bottom: 1px solid #dbdbdb;
  color: #1d1d1d;
}

.UINavigationPortlet .MenuItemContainer .MenuItem a:hover {
  color: white;
  background-color: #3E83D3;
}

.UINavigationPortlet .MenuItemContainer .SelectedItem {
  background-color: #3E83D3;
  color: white;
}

.UINavigationPortlet .MenuItemContainer .ItemIcon {
  line-height: 25px; 
  padding-left: 20px;
  margin-left: 4px;
}

.UINavigationPortlet .MenuItemContainer .MenuItem .RightItemIcon {
  line-height: 25px; 
  padding-right: 20px;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat right -210px;
}

.UINavigationPortlet .MenuItemContainer .MenuItem a:hover .RightItemIcon {
  line-height: 25px; 
  padding-right: 20px;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat right -237px;
}

.UINavigationPortlet .MenuItemContainer .SelectedItem .RightItemIcon {
  line-height: 25px; 
  padding-right: 20px;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat right -237px;
}

.UINavigationPortlet .MenuItemContainer .PageNodeIcon {
  line-height: 25px ;
  background: url('/eXoSkinMac/skin/MacSkin/skinIcons/16x16/icons/DefaultPageIcon.png') no-repeat left center;
  padding: 0px 0px 0px 20px ;
}

.UINavigationPortlet .ScrollButtons {
  float: right;
  padding: 9px;
  display: none;
}

.UINavigationPortlet .ScrollLeftButton {
  cursor: pointer;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat left -42px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.UINavigationPortlet .ScrollRightButton {
  cursor: pointer;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat left -60px;
  width: 17px;
  height: 17px;
  margin: 0px 4px;
}

.UINavigationPortlet .DisableScrollLeftButton {
  cursor: pointer;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat left -78px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.UINavigationPortlet .DisableScrollRightButton { 
  cursor: pointer;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat left -96px;
  width: 17px;
  height: 17px;
  margin: 0px 4px;
}

.UINavigationPortlet .HighlightScrollLeftButton {
  cursor: pointer;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat left -114px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.UINavigationPortlet .HighlightScrollRightButton {
  cursor: pointer;
  background: url('MacSkin/background/UINavigationPortlet.png') no-repeat left -132px;
  width: 17px;
  height: 17px;
  margin: 0px 4px;
}		
