.UIBannerPortlet {
}

.UIBannerPortlet .LeftBanner {
	height: 73px ;
	padding: 0px 0px 0px 184px;
  background: url('DefaultSkin/background/LeftBanner186x73.jpg') no-repeat left;
}

.UIBannerPortlet .MiddleBanner {
	height: 73px;
  background: url('DefaultSkin/background/MiddleBanner10x73.jpg') repeat-x ;
}

.UIBannerPortlet .RightBanner {
	height: 73px;
  padding: 0px 30px 0px 0px ;
  background: url('DefaultSkin/background/RightBanner30x73.jpg') no-repeat right;
}

.UIBannerPortlet .BannerTitle {
  height: 39px;
  background: url('DefaultSkin/background/eXoWebOSSlogan160x16.gif') no-repeat left bottom;
  margin: 0px 0px 0px 15px;
}

.UIBannerPortlet .LoginContainer .LoginContent {
  float: right;
  line-height: 19px;
  font-size: 11px;
  padding: 6px 13px 0px 0px;
}

.UIBannerPortlet .LoginContent .LoginLabel {
	float: left;
  font-size: 11px; font-weight: normal;
  color: orange; text-decoration: none;
  cursor: pointer;
	padding: 0px 8px 0px 0px;
}

.UIBannerPortlet .LoginContent .LoginSeperatorLine {
  float: left;
  width: 2px; height: 21px;
  background: url('DefaultSkin/background/2x2.gif') repeat-y;
  padding: 0px 7px 0px 1px;
 }

.UIBannerPortlet .LoginContent .LoginIcon {
  float: left;
  width: 19px; height: 15px;
  background: url('DefaultSkin/background/SigninButton.gif') no-repeat top;
  cursor: pointer;
  margin: 3px 0px 0px 0px;
}