.UIBannerPortlet {
  height: 73px;
}

.UIBannerPortlet .LeftBanner {
	height: 73px;
	padding: 0px 0px 0px 186px;
  background: url('DefaultSkin/background/LeftBanner186x73.jpg') no-repeat left;
}

.UIBannerPortlet .MiddleBanner{
	height: 73px;
  background: url('DefaultSkin/background/MiddleBanner9x73.jpg') repeat-x ;
}

.UIBannerPortlet .RightBanner {
  height: 73px;
  padding: 0px 30px 0px 0px ;
  background: url('DefaultSkin/background/RightBanner30x73.jpg') no-repeat right;
}

.UIBannerPortlet .BannerTitle {
  height: 39px;
  background: url('DefaultSkin/background/eXoWebOSSlogan160x16.gif') no-repeat left bottom;
  margin: 0px 0px 0px 15px;
}

.UIBannerPortlet .LoginContainer .LoginContent {
  float: right;
  font-size: 11px;
  padding: 9px 13px 0px 0px;
}

.UIBannerPortlet .LoginContent .LoginLabel {
  font-size: 11px;
  color: orange;
  font-weight: bold;
	float: left;
  cursor: pointer;
  text-decoration: underline;
	padding: 0px 8px 0px 0px;
	
}

.UIBannerPortlet .LoginContent .LoginIcon {
  float: left;
  width: 19px; height: 15px;
  background: url('DefaultSkin/background/SigninButton.gif') no-repeat top;
  cursor: pointer;
}