.UIBannerPortlet {
  height: 74px;
	overflow: auto;
}

.UIBannerPortlet .LeftBanner {
	height: 74px;
	padding: 0px 0px 0px 157px;
  background: url('MacSkin/background/Banner.gif') no-repeat left top;
}

.UIBannerPortlet .MiddleBanner{
	height: 74px;
  background: url('MacSkin/background/Banner.gif') repeat-x bottom;
}

.UIBannerPortlet .RightBanner {
  height: 74px;
  padding: 0px 84px 0px 0px ;
  background: url('MacSkin/background/Banner.gif') no-repeat right -75px;
}

.UIBannerPortlet .BannerTitle {
  height: 35px;
  background: url('MacSkin/background/Banner.gif') no-repeat left -150px;
  padding: 8px 0px 0px 3px;
}

.UIBannerPortlet .LoginContainer {
}

.UIBannerPortlet .LoginContainer .LoginContent {
  float: right;
  padding: 2px 10px 0px 0px;
  line-height: 22px;
}

.UIBannerPortlet .LoginContainer .LoginContent a {
  color: #cd0101;
  display: block;
}

.UIBannerPortlet .LoginContent .LogoutIcon {
  float: left;
  height: 24px;
  background: url('MacSkin/background/Banner.gif') no-repeat left -120px;
  cursor: pointer;
  margin: 1px 2px 0px 0px;
  padding-left: 28px;
}

 .UIBannerPortlet .LoginContent .SettingIcon {
  height: 22px;
  background: url('MacSkin/background/Banner.gif') no-repeat left -50px;
  margin-right: 2px;
  padding-left: 26px;
  cursor: pointer;
	float: right;
	display: block;
}

.UIBannerPortlet .LoginContent .LoginIcon {
  height: 24px;
  background: url('MacSkin/background/Banner.gif') no-repeat left -50px;
  cursor: pointer;
  padding-left: 28px;
  margin: 1px 2px 0px 0px;
  float: right;
} 