.UIBannerPortlet {
	overflow: auto;
  height: 74px;
}

.UIBannerPortlet .LeftBanner {
	height: 74px;
	padding: 0px 0px 0px 264px;
  background: url('VistaSkin/background/LeftBanner264x74.jpg') no-repeat left;
}

.UIBannerPortlet .MiddleBanner{
	height: 74px;
  background: url('VistaSkin/background/MiddleBanner1x74.jpg') repeat-x ;
}

.UIBannerPortlet .RightBanner {
  height: 74px;
  padding: 0px 60px 0px 0px ;
  background: url('VistaSkin/background/RightBanner60x74.jpg') no-repeat right;
}

.UIBannerPortlet .BannerTitle {
  height: 45px;
  background: url('VistaSkin/background/eXoWebOSSlogan160x30.png') no-repeat left bottom;
  margin: 0px 0px 0px 5px;
}

.UIBannerPortlet .LoginContainer {
}

.UIBannerPortlet .LoginContainer .LoginContent {
  float: right;
  padding: 2px 0px 0px 0px;
  line-height: 20px;
}

.UIBannerPortlet .LoginContainer .LoginContent a {
  font-weight: bold;
  color: #5098EB;
	display: block;  
}

.UIBannerPortlet .LoginContainer .LoginContent a:hover {
  color: #b3e2fb;
}

.UIBannerPortlet .LoginContent .SeperatorLine {
  float: right;
  width: 2px; height: 20px;
  background: url('DefaultSkin/background/2x2.gif') repeat-y;
  margin: 2px 7px;
 }
 

.UIBannerPortlet .LoginContent .LogoutIcon {
  float: left;
  height: 22px;
  background: url('VistaSkin/background/SignoutButton.png') no-repeat left center;
  cursor: pointer; 
  padding-left: 25px;
}

.UIBannerPortlet .LoginContent .LoginIcon {
  height: 22px;
  background: url('VistaSkin/background/SigninButton.png') no-repeat left center;
  cursor: pointer;
  padding-left: 25px;
  float: right;
}

.UIBannerPortlet .LoginContent .LoginSeperatorLine {
  float: left;
  width: 2px; height: 20px;
  background: url('DefaultSkin/background/2x2.gif') repeat-y;
  margin: 4px 7px 0px 7px;
 }
 
.UIBannerPortlet .LoginContent .SettingIcon {
  height: 22px;
  background: url('VistaSkin/background/ChangeLanguage.png') no-repeat left center;
  margin-right: 2px;
  padding-left: 28px;
  cursor: pointer;
	font-weight: bold;
	float: right;
	display: block;
}