.UITabContainer {
	padding: 7px;
	_padding: 0px; /* orientation=rt */
	_width: 99%; /* orientation=rt */
}

.UITabContainer .UIHorizontalTabs {
	padding: 0px;
	margin: 0px;
}

.UITabContainer .HorizontalLayout {
	padding: 0px;
	margin: 0px;
	border: 1px solid #b7b7b7;
	background: #ffffff;
}

.UITabContainer .UITabContent {
	padding: 0px;
	height: auto;
}

.UITabContainer .TabLabel {
	padding: 0px 10px 0px 2px; /* orientation=lt */
	padding: 0px 2px 0px 10px; /* orientation=rt */
	height: 26px; 
	line-height: 26px;
}

.UITabContainer .SelectedTab .CloseIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 20px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SelectedCloseTab.gif') no-repeat bottom;
}

.UITabContainer .NormalTab .CloseIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 16px; height: 20px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/NormalCloseTab.gif') no-repeat bottom;
}

.UITabContainer .EditIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	_float: none;
}

.UITabContainer .SelectedTab .EditIcon {
	height: 26px;	width: 16px;
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil.png') no-repeat center ; /* orientation=lt */
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil-rt.png') no-repeat center ; /* orientation=rt */
}

.UITabContainer .NormalTab .EditIcon  {
	height: 26px;	
	width: 16px;
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil.png') no-repeat center ; /* orientation=lt */
	background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil-rt.png') no-repeat center ; /* orientation=rt */
}

.UITabContainer .UIApplicationRegistryPortlet .UIAvailablePortletForm .HorizontalLayout {
  border: none;
}

.UITabContainer .UIApplicationRegistryPortlet .UIDragObject .HorizontalLayout {
  border: none;
}

.UIPage .UITabContainer .TabContent {
}
