.UIWorkingWorkspace {
	width: 1017px;
}

.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	background: white;
}

.UIHomePagePortlet .TRContainer .PortletDecoration {	
	padding: 30px 12px 0;
	font-size: 12px;
}

.UIHomePagePortlet .TRContainer {
	width: 247px;
	height: 390px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	text-align: center;
}

.UIHomePagePortlet .TRContainer .GuideText {
	text-align: justify;
	color: #4c4c4c;
}

.UIHomePagePortlet .TRContainer .DotLine {
	padding-bottom: 15px;
}

.UIHomePagePortlet .TRContainer .VersionIcon {
	background: url("background/RightCol.jpg") no-repeat left top; /* orientation=lt */
	height: 65px;
	width: 65px;
	margin: 20px auto;
	cursor: pointer;
	display: block;
}

.UIHomePagePortlet .TRContainer .ContactIcon {
	background: url("background/RightCol.jpg") no-repeat left -65px;
	height: 70px;
	width: 60px;
	margin: 20px auto;
	cursor: pointer;
	display: block;
}

.UIHomePagePortlet .TLContainer {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 753px;
}

.UIHomePagePortlet .TLContainer .PortletDecoration {	
	padding: 10px;
}

.UIHomePagePortlet .AdImageLeft {
	background: url('background/RightHome.jpg') no-repeat left top; /* orientation=lt */
	background: url('background/RightHome-rt.jpg') no-repeat right top; /* orientation=rt */
}

.UIHomePagePortlet .AdImageRight {
	font-family: Arial,Helvetica,sans-serif;
	height: 255px; 
	padding: 0px 10px 0px 60px; /* orientation=lt */
	padding: 0px 60px 0px 10px; /* orientation=rt */
}

.UIHomePagePortlet .AdImageLeft .EmptyBlock {
	font-size: 18px;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	color: #333333;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding: 85px 0 0;
}

.UIHomePagePortlet .AdImageLeft .EmptyBlock div {
	font-size: 30px;
	color: #000000;
	font-weight: bold;
}

.UIHomePagePortlet .HomePortletContent {
	margin-top: 8px;
}

.UIHomePagePortlet .HomePortletContent .LeftAccountsContainer {
	background: #ebebeb;
}

.UIHomePagePortlet .HomePortletContent .MiddleAccountsContainer {
	background: #ebebeb;
	height: 138px;
	padding: 0px 14px;
}

.UIHomePagePortlet .HomePortletContent .RightAccountsContainer {
	background: #ebebeb;
}

.UIHomePagePortlet .HomePortletContent .AccountsContainerDeco {
	height: 105px;
	overflow: hidden;
}

.UIHomePagePortlet .HomePortletContent .InstructionTitle {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	padding-top: 14px;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AccountBlock {
	height: 105px; 
	width: 95px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-left: 70px; /* orientation=lt */
	padding-right: 70px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AdministratorUser {
	background: url('background/HomePagePortlet.gif') no-repeat left 6px; /* orientation=lt */
	background: url('background/HomePagePortlet-rt.gif') no-repeat right 6px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .ManagerUser {
	background: url('background/HomePagePortlet.gif') no-repeat left -97px; /* orientation=lt */
	background: url('background/HomePagePortlet-rt.gif') no-repeat right -97px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .NormalUser {
	background: url('background/HomePagePortlet.gif') no-repeat left -200px; /* orientation=lt */
	background: url('background/HomePagePortlet-rt.gif') no-repeat right -200px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .DemoUser {
	background: url('background/HomePagePortlet.gif') no-repeat left -309px; /* orientation=lt */
	background: url('background/HomePagePortlet-rt.gif') no-repeat right -309px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .SeparatorLine {
	height: 100px;
	width: 1px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	border-right:1px solid #B7B7B7;
	margin-right:13px; /* orientation=lt */
	margin-left:13px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContent .AccountInfos {
	padding-top: 8px;
}

.UIHomePagePortlet .AccountInfos .Lable {
	line-height: 16px;
	color: #3e3d3d;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	display: block;
}

.UIHomePagePortlet .AccountInfos span {
	font-weight: bold;
	color: #3d3d3d;
	padding: 0px 3px;
	line-height: 16px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	display: block;
}

.UIHomePagePortlet .HomePortletContent .AccountTitle {
	font-size: 12px;
	color: #454e56;
	line-height: 40px;
	font-weight: bold;
}
