
.SelectFileFrame {
	width: 400px;
	margin: 10px 0px 10px 0px;
}

.SelectFileLabel {
	float: left;
	text-align: right ;
	margin-right: 15px;
}

.UploadButton {
	float: right;
	background: url('eXoResources/skin/DefaultSkin/webui/UIUpload/background/UpArrow16x16.gif') no-repeat left;
	cursor: pointer;
	padding-left: 16px;
	color: #058ee6;
	font-weight: bold;
}

.ProgressBarFrame {
	width: 400px;
	margin: 10px 0px 10px 0px;
}

.ProgressBar {
	float: left;
	width: 230px;
	margin-left: 10px;
}

.ProgressBarLeft {
	padding: 1px ;
	border: solid 1px gray;
}

.ProgressBarMiddle {
}

.BlueProgressBar {
	width: 0%; height: 14px;
	background: url('eXoResources/skin/DefaultSkin/webui/UIUpload/background/BlueBg1x14.gif') repeat-x;
	position: relative;
}

.ProgressBarLabel {
	width: 15px; height: 15px;
	position: absolute;
	left: 110px;
}

.ProgressBarLabel {
	text-align: center;
}

.DeleteFileFrame {
	float: left;
	background: url('background/Delete.gif') no-repeat;
	cursor: pointer;
	padding-left: 23px;
	margin-left: 5px;
}

.DeleteFileLable {
	font-family: verdana;
	line-height: 18px;
}

.FileName {
	float: left;
}

.FileNameLabel {
	font-weight: bold;
	line-height: 14px;
	width: 215px;
	padding: 0px 0px 0px 8px;
}

.RemoveFile {
	float: left;
	height: 18px; line-height: 18px;
	background: url('eXoResources/skin/DefaultSkin/webui/UIUpload/background/Delete18x18.gif') repeat-x;
	cursor: pointer;
	margin-left: 10px;
	width: 18px;
}

.TestIframe {
	width: 260px;
}