.UIPopupCategory {
	position: absolute ;
	width: 120px ;
	top: 18px;
	left: -75px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryTL {
  background: url('background/PopupCategory.png') no-repeat left -16px;
  padding-left:12px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryTC {
  height:16px;
  background: url('background/PopupCategory.png') repeat-x left -32px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryTR {
  background: url('background/PopupCategory.png') no-repeat right top;
  padding-right: 45px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryML {
  background: url('background/PopupCategoryRepeatY.png') repeat-y left;
  padding-left: 12px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryMC {
  background: #efefef;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryMR {
  background: url('background/PopupCategoryRepeatY.png') repeat-y right;
  padding-right:14px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryBL {
  background: url('background/PopupCategory.png') no-repeat left -48px;
  padding-left:12px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryBC {
  height: 18px;
  background: url('background/PopupCategory.png') repeat-x left -84px;
}

.UIPopupCategory .PopupCategoryDecorator .PopupCategoryBR {
  background: url('background/PopupCategory.png') no-repeat right -66px;
  padding-right:14px;
}

.UIPopupCategory .CategoryItem {
  color: black;
  background: url('background/PopupCategory.png') repeat-x center -102px;
  border-bottom: 1px #b1b5c0 solid;
  cursor: pointer ;
  display: block;
}

.UIPopupCategory .CategoryItem:hover {
	background: url('background/PopupCategory.png') repeat-x center -124px;
  color: blue;
}

.UIPopupCategory .CategoryItem .CategoryItemLabel {
  padding-left: 10px;
  height: 22px;
  line-height: 22px;
  color: black;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/BlackRightArrow.gif') no-repeat left center;
  margin-left: 10px;
}