.UIHorizontalTabs {
  height: 31px;
}

.UIHorizontalTabs .LeftHorizontalTabs{
  height: 31px;
  background: url('background/LeftHorizontalTabs7x31.png') no-repeat left;
  padding-left: 1px;
}

.UIHorizontalTabs .RightHorizontalTabs{
  height: 31px;
  background: url('background/RightHorizontalTabs5x31.png') no-repeat right;
  padding-right: 5px;
}

.UIHorizontalTabs .CenterHorizontalTabs {
  height: 31px;
  background: url('background/MiddleHorizontalTabs1x31.png') repeat-x;
}

.UIHorizontalTabs .TabsContainer {
  padding: 0px 0px 0px 10px;
  float: left;
}

.UIHorizontalTabs .UITab {
  float: left;
  font-weight: normal;
  text-align: center;
}

.UIHorizontalTabs .PreviousTabButton  {
  float: left;
  width: 14px; height: 24px;
  margin-right: 1px;
  cursor : pointer;
  background: url('background/LastTabButton14x24.gif') no-repeat;
}

.UIHorizontalTabs .NextTabButton  {
  float: left;
  width: 14px; height: 24px;
  cursor : pointer;
  background: url('background/NextTabButton14x24.gif') no-repeat;
}

/*###########################--NavigationTabTab--############################*/


.UIHorizontalTabs .UITab .NormalNavigationTab {
	margin: 3px 0px 0px 0px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab a {
  color: black;
  text-decoration: none;
  margin: 0px 8px ;  
}

.UIHorizontalTabs .UITab .NormalNavigationTab a:hover {
  color: blue;
  text-decoration: none;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .LeftTab {
  padding-left: 3px;
  line-height: 24px;
  background: url('background/LeftNormalNaviTab3x24.gif') no-repeat left;
  margin: 0px 2px 0px 0px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .RightTab {
  line-height: 24px;
  padding-right: 3px;
  background: url('background/RightNormalNaviTab3x24.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .MiddleTab {
  line-height: 24px;
  background: url('background/CenterNormalNaviTab1x24.gif') repeat-x;
  cursor: pointer;
  padding: 0px 3px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .TabIcon {
  color: white;
  width: auto; 
  line-height: 24px;
  
}

.UIHorizontalTabs .UITab .NormalNavigationTab a {
  color: #000000;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .DropDownArrowIcon {
  padding-right: 4px;
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/BlackRightArrow.gif') no-repeat right;
  cursor: pointer;
}
/*###############-Hightlight Navigation Tab-################*/

.UIHorizontalTabs .UITab .HighlightNavigationTab {
	margin: 3px 0px 0px 0px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab a {
  color: #1052a3;
  margin: 0px 8px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .LeftTab {
  line-height: 24px;
  padding-left: 3px;
  margin: 0px 2px 0px 0px;
  background: url('background/LeftHighlightNaviTab3x24.gif') no-repeat left; 
  
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .RightTab {
  line-height: 24px;
  padding-right: 3px;
  background: url('background/RightHighlightNaviTab3x24.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .MiddleTab {
  line-height: 24px;
  background: url('background/CenterHighlightNaviTab1x24.gif') repeat-x;
  cursor: pointer;
  padding: 0px 3px;
}
.UIHorizontalTabs .UITab .HighlightNavigationTab .TabIcon {
  color: white;
  width: auto;
  line-height: 24px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab a {
  color: #000000;
 
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .DropDownArrowIcon {
  padding-right: 4px;
  background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/BlackDownArrow.gif') no-repeat right;
  cursor: pointer;
}

/*###############-Selected Navigation Tab-################*/

.UIHorizontalTabs .UITab .SelectedNavigationTab {
  margin: 3px 0px 0px 0px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab a {
  color: black;
  margin: 2px 8px 0px 8px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .LeftTab {
  line-height: 24px;
  padding-left: 3px;
  margin: 0px 2px 0px 0px;
  background: url('background/LeftSelectedNaviTab3x24.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .RightTab {
  line-height: 24px;
  padding-right: 3px;
  background: url('background/RightSelectedNaviTab3x24.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .MiddleTab {
  line-height: 24px;
  background: url('background/CenterSelectedNaviTab3x24.gif') repeat-x;
  cursor: pointer;
  padding: 0px 3px;
}
.UIHorizontalTabs .UITab .SelectedNavigationTab .TabIcon {
  color: white;
  width: auto; 
  line-height: 24px;
}
.UIHorizontalTabs .UITab .SelectedNavigationTab a {
  color: black;
}
.UIHorizontalTabs .UITab .SelectedNavigationTab .DropDownArrowIcon {
  padding-right: 4px;
  background: url(/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/es/icons/BlackRightArrow.gif) no-repeat right;
  cursor: pointer;
}

/*###########################--NormalTab--############################*/

.UIHorizontalTabs .NormalTabStyle .NormalTab{
  line-height: 26px; 
  margin-right: 1px;
  color: #474849;
  font-weight: normal;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab a {
  color: #979798;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab a:hover {
  color: black;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .LeftTab {
  padding-left: 5px;
  line-height: 26px; 
  background: url('background/NormalTabLBg5x26.png') no-repeat left top;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .RightTab {
  line-height: 26px;
  padding-right: 5px;
  background: url('background/NormalTabRBg5x26.png') no-repeat right top;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .MiddleTab {
  line-height: 26px;
  background: url('background/NormalTabRepeatBg1x26.png') repeat-x top;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab {
  line-height: 26px;
  color: #000000;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab a:hover{
  color: blue;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .LeftTab {
  line-height: 26px;
  padding-left:4px;
  background: url('background/HighlightTabLBg5x26.gif') no-repeat left;;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .RightTab {
  line-height: 26px;
  padding-right:5px;
  background: url('background/HighlightTabRBg5x26.gif') no-repeat right;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .MiddleTab {
  line-height: 26px;
  background: url('background/HighlightTabRepeatBg1x26.gif') repeat-x;
  cursor: pointer;
  padding: 0px 5px 0px 5px;
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab {
  line-height: 26px;
  color: #307dcc;
  margin-right: 1px;
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .LeftTab {
  line-height: 26px;
  padding-left: 4px;
  background: url('background/LeftSelectedTab4x27.png') no-repeat left top;
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .RightTab {
  line-height: 26px;
  padding-right: 4px;
  background: url('background/RightSelectedTab4x27.png') no-repeat right top;
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .MiddleTab {
  line-height: 27px;
  background: url('background/MiddleSelectedTab1x27.png') repeat-x top;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
}

/*###########################--GrayRectangle27Style--############################*/

.UIHorizontalTabs .UITab .NormalStyle1 {
  line-height: 27px ;

}

.UIHorizontalTabs .UITab .NormalStyle1 .LeftTab { 
  line-height: 27px ;
  padding-left: 2px ;
  background: url('background/RectangleL2x27.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .NormalStyle1 .RightTab {
  line-height: 27px;
  padding-right: 1px;
  background: url('background/RectangleR1x27.gif') no-repeat right;
}

.UIHorizontalTabs .UITab .NormalStyle1 .MiddleTab {
  line-height: 27px;
  background: url('background/RectangleBg1x27.gif') repeat-x;
}

/*###########################--NavyBlueRectangle27Style--############################*/

.UIHorizontalTabs .UITab .HighlighStyle1 {
  line-height: 27px ;
}

.UIHorizontalTabs .UITab .HighlighStyle1 .LeftTab {
  line-height: 27px ;
  padding-left: 2px ;
  background: url('background/NavyBlueRectangleL2x27.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .HighlighStyle1 .RightTab {
  line-height: 27px ;
  padding-right: 1px ;
  background: url('background/NavyBlueRectangleR1x27.gif') no-repeat right ;
}

.UIHorizontalTabs .UITab .HighlighStyle1 .MiddleTab {
  line-height: 27px ;
  background: url('background/NavyBlueRectangleBg1x27.gif') repeat-x ;
}

/*###########################--CommunityTab--############################*/
.UIHorizontalTabs .UITab .NormalCommunityTab {
  line-height: 31px ;    
  margin-top: 6px;
  margin-left: 15px;
}

.UIHorizontalTabs .UITab .NormalCommunityTab .LeftTab {
  line-height: 31px ;
  padding-left: 5px ;
  background: url('background/NormalCommunityTabL5x31.gif') no-repeat left ;
}

.UIHorizontalTabs .UITab .NormalCommunityTab .RightTab {
  line-height: 31px;
  padding-right: 5px;
  background: url('background/NormalCommunityTabR5x31.gif') no-repeat right ;
}

.UIHorizontalTabs .UITab .NormalCommunityTab .MiddleTab {
  line-height: 31px;
  background: url('background/NormalCommunityTabM1x31.gif') repeat-x;
}


/*###########################--HighlightCommunityTab--############################*/

.UIHorizontalTabs .UITab .HighlightCommunityTab{
  line-height: 27px ;
}

.UIHorizontalTabs .UITab .HighlightCommunityTab .LeftTab {
  line-height: 27px ;
  padding-left: 2px ;
  background: url('background/NavyBlueRectangleL2x27.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .HighlightCommunityTab .RightTab {
  line-height: 27px ;
  padding-right: 1px ;
  background: url('background/NavyBlueRectangleR1x27.gif') no-repeat right ;
}

.UIHorizontalTabs .UITab .HighlightCommunityTab .MiddleTab {
  line-height: 27px ;
  background: url('background/NavyBlueRectangleBg1x27.gif') repeat-x ;
}

/*###########################--SelectedCommunityTab--############################*/

.UIHorizontalTabs .UITab .SelectedCommunityTab{
  line-height: 31px ;
  margin-top: 6px;
  margin-left: 1px;
}

.UIHorizontalTabs .UITab .SelectedCommunityTab .LeftTab {
  line-height: 31px ;
  padding-left: 5px ;
  background: url('background/SelectedCommunityL5x31.gif') no-repeat left;
}

.UIHorizontalTabs .UITab .SelectedCommunityTab .RightTab {
  line-height: 31px ;
  padding-right: 5px ;
  background: url('background/SelectedCommunityR5x31.gif') no-repeat right ;
}

.UIHorizontalTabs .UITab .SelectedCommunityTab .MiddleTab {
  line-height: 31px ;
  background: url('background/SelectedCommunityM1x31.gif') repeat-x ;
}

/*==============================NormalTab for MessageTab=====================*/
.UIHorizontalTabs .MessageTabDialog .NormalTab {
  line-height: 27px;
  margin-right: 1px;
  color: #202020;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .LeftTab {
  padding-left: 2px;
  line-height: 27px;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .RightTab {
  line-height: 27px;
  padding-right: 7px;
  background: url('background/SeparatorLine2x1.gif') repeat-y right;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .MiddleTab {
  line-height: 27px;
  cursor: pointer;
  padding: 0px 8px 0px 4px;
  color: black; font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab div:hover{
  color: orange;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .TabIcon {
  float: left;
  width: 32px; height: 21px;
  margin-top: 4px;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .InfoIcon {
  background: url('eXoResources/skin/DefaultSkin/webui/component/UITabSystem/UITabs/background/BlueInfoSign.gif') no-repeat;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .ErrorIcon {
  background: url('eXoResources/skin/DefaultSkin/webui/component/UITabSystem/UITabs/background/RedErrorSign.gif') no-repeat;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .WarningIcon {
  background: url('eXoResources/skin/DefaultSkin/webui/component/UITabSystem/UITabs/background/YellowWarningSign.gif') no-repeat;
}


/*==============================Disable Tab for MessageTab=====================*/

.UIHorizontalTabs .MessageTabDialog .DisabledTab {
  line-height: 31px;
  margin-right: 1px;
  color: #202020; font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .LeftTab {
  padding-left: 2px; padding-top: 2px;
  line-height: 31px;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .RightTab {
  line-height: 27px;
  padding-right: 7px;
  background: url('background/SeparatorLine2x2.png') repeat-y right;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .MiddleTab {
  line-height: 27px;
  cursor: pointer;
  padding: 0px 8px 0px 4px;
  color: grey;  font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .TabIcon {
  float: left;
  width: 32px; height: 23px;
  margin-top: 3px;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .InfoIcon {
  background: url('background/GreyInfoSign.png') no-repeat;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .ErrorIcon {
  background: url('background/GreyErrorSign.png') no-repeat;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .WarningIcon {
  background: url('background/GreyWarningSign.png') no-repeat;
}

/*==============================Selected Tab for MessageTab=====================*/

.UIHorizontalTabs .MessageTabDialog .SelectedTab {
  line-height: 27px;
  color: #058ee6;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .LeftTab {
  line-height: 31px;
  padding-left: 6px;
  background: url('background/LeftSelectedMessageTab6x31.png') no-repeat left;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .RightTab {
  line-height: 31px;
  padding-right: 11px;
  background: url('background/RightSelectedMessageTab11x31.png') no-repeat right;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .MiddleTab {
  line-height: 31px;
  background: url('background/CenterSelectedMessageTab1x31.png') repeat-x;
  cursor: pointer;
  padding: 0px 8px 0px 4px;
  color: #058ee6;  font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab  div:hover{
  color: orange;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .TabIcon {
  float: left;
  width: 32px; height: 23px;
  margin-top: 3px;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .InfoIcon {
  background: url('background/BlueInfoSign.png') no-repeat;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .ErrorIcon {
  background: url('background/RedErrorSign.png') no-repeat;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .WarningIcon {
  background: url('background/WarningSign.png') no-repeat;
}