.UIPageDesktop {
  position: relative ;
  z-index: 0 ;
  top: 0px; left: 0px ;
  overflow: hidden ;
}

.UIPageDesktop .UIDockBar {
  position: absolute;
  bottom: 0px;
  margin: auto;
  z-index: 9999;
  cursor: pointer;
}

.UIPageDesktop .NavigationContainer {
  position: absolute;
  left: -70px;
  top: -450px;
}

.UIPageDesktop .UIDockBar .Icon {
  width: 40px ;  height: 40px ;
}

.UIPageDesktop .UIDockBar .DockbarLeft {
  background: url('background/DockbarLeft4x47.png') no-repeat left bottom ;
  padding: 0px 0px 0px 4px ;
}

.UIPageDesktop .UIDockBar .DockbarRight {
  background: url('background/DockbarRight8x47.png') no-repeat right bottom ;
  padding: 0px 8px 0px 0px;
}

.UIPageDesktop .UIDockBar .DockbarCenter {
  height: 47px ;
  background: url('background/DockbarCenterBG1x47.png') repeat-x bottom ;
}

.UIPageDesktop .UIDockBar .IconContainer {
  vertical-align: bottom ;
	padding: 3px 0px 0px 0px ;
  margin: auto ;
}

.UIPageDesktop .UIDockBar .Separator { 
	width: 2px; height: 40px;
	margin: 0px 5px ;
}

.UIPageDesktop .UIDockBar .Tooltip {
	line-height: 20px ;
	position: absolute ;
	background: white ;
	white-space: nowrap ;
	padding: 0px 5px ;
	border: solid 1px black ;
}

.UIPageDesktop s.IconContainer .Tooltip {
	font-weight: 100;
}

.UIPageDesktop .MoveResizeArea {
  float: right ;
  width: 12px ; height: 18px ;
  background: blue ; 
  cursor: nw-resize ;
}

.UIPageDesktop .UIApplication {
  overflow: auto ;
}

/*=============================Right Click DockBar Menu=========================*/

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopLeftRightClickPopupMenu {
  background: url('background/PageDesktop.png') no-repeat left top;
  padding-left: 7px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopRightRightClickPopupMenu {
  background: url('background/PageDesktop.png') no-repeat right -7px ;
  padding-right: 10px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .TopCenterRightClickPopupMenu {
  background: url('background/PageDesktop.png') repeat-x center -14px;
  height: 7px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MiddleLeftRightClickPopupMenu {
  background: url('background/MiddleLeftDecktopVista7x1.png') repeat-y left ;
  padding-left: 7px;
	height: 100%;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .MiddleRightRightClickPopupMenu {
  background: url('background/MiddleRightDecktop10x1.png') repeat-y right ;
  padding-right: 10px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomLeftRightClickPopupMenu {
  background: url('background/PageDesktop.png') no-repeat left -21px;
  padding-left: 34px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomRightRightClickPopupMenu {
  background: url('background/PageDesktop.png') no-repeat right -40px ;
  padding-right: 10px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .BottomCenterRightClickPopupMenu {
  background: url('background/PageDesktop.png') repeat-x center -55px;
  line-height: 18px; 
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .UIRightPopupMenuContainer {
	background: #e7f0d9 repeat-x top ;
	margin:0px;
	padding: 0px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer .ClickCenterBottom {
	width: 14px;  height: 10px;
	margin: 0px 0px 0px 20px;
}

.UIDockBar .UIRightClickPopupMenu .UIContextMenuContainer {
	border: none;
	background: none;
}

.UIPageDesktop .UIRightClickPopupMenu .UIContextMenuContainer {
	width: 230px;
}

.UIDockBar .UIContextMenuContainer {
	position: absolute; 
	left: -25px; 
	top: -7px;
}

.UIDockBar .UIRightClickPopupMenu .CloseDockBarIcon {
	background: url('background/PageDesktop.png') no-repeat left bottom;
	margin: 0px 0px 0px 5px;
}