.UIAction {
  padding: 8px 0px;
}

.UIAction .ActionContainer{
	width: auto;
	margin: auto;
}

.UIAction .ActionButton {
	float: left;	 	/* orientation=lt */
	float: right; 	/* orientation=rt */
	margin: 0px 3px;
	cursor: pointer;
}

.UIAction .ActionContainer  a {
  font-weight: normal;
	white-space: nowrap;
}

.UIAction .ActionContainer  a:hover {
  color: #058ee6;
}

.UIAction .ActionContainer .Icon {
	padding-left: 25px;	 		/* orientation=lt */
	padding-right: 25px;	 	/* orientation=rt */
	background-position: left center;	 		/* orientation=lt */
	background-position: right center;	 	/* orientation=rt */
	width: auto;
	height: auto;
} 

/*##############################-Normal ActionButton-################################*/
.UIAction .NormalStyle {
}

.UIAction .NormalStyle .ButtonLeft {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/NormalStyle.gif') no-repeat left top; 	 		/* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/NormalStyle-rt.gif') no-repeat right top; 	 		/* orientation=rt */
  padding: 0px 0px 0px 3px; 	 		/* orientation=lt */
	padding: 0px 3px 0px 0px; 	 		/* orientation=rt */
}

.UIAction .NormalStyle .ButtonRight {
  background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/NormalStyle.gif') no-repeat right top; 	 		/* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/NormalStyle-rt.gif') no-repeat left top; 	 		/* orientation=rt */
  padding: 0px 3px 0px 0px ; 	 		/* orientation=lt */
	padding: 0px 0px 0px 3px ; 	 		/* orientation=rt */
}

.UIAction .NormalStyle .ButtonMiddle {
  line-height: 22px;
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/NormalStyle.gif') repeat-x bottom; 		/* orientation=lt */
	padding: 0px 12px;	
	display: table-cell;
	white-space: nowrap;
}

/*##############################-Disabled ActionButton-################################*/
.UIAction .DisabledStyle {
}

.UIAction .DisabledStyle .ButtonLeft {
  background: url('background/DisabledStyle.png') no-repeat left top;
  padding: 0px 0px 0px 12px;
}

.UIAction .DisabledStyle .ButtonRight {
  background: url('background/DisabledStyle.png') no-repeat right top;
  padding: 0px 12px 0px 0px ;
}

.UIAction .DisabledStyle .ButtonMiddle {
	line-height: 22px; text-align: center; 
	background: url('background/DisabledStyle.png') repeat-x bottom;
	display: table-cell;
	padding: 0px 12px;	
}

.UIAction .DisabledStyle a {
	color: gray;
	cursor: default;
}

.UIAction .DisabledStyle a:hover {
	color: gray;
	cursor: default;
}

/*##############################-LightBlueStyle ActionButton-################################*/
.UIAction .LightBlueStyle {}

.UIAction .LightBlueStyle .ButtonLeft {
  background: url('background/LightButton.png') no-repeat left top;
  padding: 0px 0px 0px 12px;
}

.UIAction .LightBlueStyle .ButtonRight {
  background: url('background/LightButton.png') no-repeat right top;
  padding: 0px 12px 0px 0px ;
}

.UIAction .LightBlueStyle .ButtonMiddle {
 	line-height: 24px; text-align: center; 
	background: url('background/LightButton.png') repeat-x bottom;
	display: table-cell;
	padding: 0px 12px;
	white-space: nowrap;
}

/*##############################-SimpleStyle ActionButton-################################*/
.UIAction .SimpleStyle {
}

.UIAction .SimpleStyle .ButtonLeft {
  background: url('background/SimpleButton.png') no-repeat left top;
  padding: 0px 0px 0px 15px;
}

.UIAction .SimpleStyle .ButtonRight {
  background: url('background/SimpleButton.png') no-repeat right -24px;
  padding: 0px 15px 0px 0px ;
}

.UIAction .SimpleStyle .ButtonMiddle {
  line-height: 24px;
	background: url('background/SimpleButton.png') repeat-x left -48px;
	text-align: center;	
	display: table-cell;
}

.UIAction .SimpleStyle a {
  color: #3d80e4; 
  margin: 0px 6px;
  white-space: nowrap;
}

.UIAction .SimpleStyle a:hover {
  color: #2169d4; 
}
/***************************** BlueButton ***************************/
.UIAction .BlueButton .ButtonLeft {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') no-repeat left top;
	padding-left: 8px;
}

.UIAction .BlueButton .ButtonRight {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') no-repeat right top;
	padding-right: 9px;
}

.UIAction .BlueButton .ButtonMiddle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') repeat-x left -32px;
	line-height: 32px;
	font-size: 12px;
	display: block;
	padding: 0px 15px 0px 15px;
}

.UIAction .BlueButton .ButtonMiddle a {
	font-weight: bold;
	color: #1d1d1d;
}

.UIAction .BlueButton .ButtonMiddle a:hover {
	color: white;
}

/**********************DarkGrayButton***********************/

.UIAction .DarkGrayButton .ButtonLeft {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') no-repeat left -64px;
	padding-left: 7px;
}

.UIAction .DarkGrayButton .ButtonRight{
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') no-repeat right -64px;
	padding-right: 6px;
}

.UIAction .DarkGrayButton .ButtonMiddle {
	background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/BtnBg.gif') repeat-x left -96px;
	line-height: 32px;
	padding: 0px 15px 0px 15px;
	font-size: 12px;
	display: block;
}

.UIAction .DarkGrayButton .ButtonMiddle a {
	font-weight: bold;
	color: #1d1d1d;
}

.UIAction .DarkGrayButton .ButtonMiddle a:hover {
	color: white;
}