.UIRightClickPopupMenu {
  width: 150px;
  display: none;
  position: absolute;
  background: #c4c4c4;
  border: 1px solid #7e7e7f;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer {
  margin: 1px;
  padding: 5px 0px;
  background: #f6f6f6;
}

.UIRightClickPopupMenu .RightClickCustomItem {
	display: none;
}


/*   begin change   */	

.UIRightClickPopupMenu .SelectedMenuItem {
  clear: both;
  cursor: pointer;
  line-height: 26px;
  background: #dee4f2;
}

.UIRightClickPopupMenu a.MenuItem {
	color: black;
  cursor: pointer;
  display: block;
  padding-left: 6px;
}

.UIRightClickPopupMenu a.MenuItem:hover {
	color: orange;
	background-color: #dee4f2;
}

.UIRightClickPopupMenu .ItemIcon {
	line-height: 22px;
  height: 22px;
  padding-left: 22px;
  width: auto;
}

.UIRightClickPopupMenu .AddNode16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/BlueCirclePlus.gif') no-repeat left center;
}

.UIRightClickPopupMenu .EditPageNode16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/EditPageNode.gif') no-repeat left center;
}

.UIRightClickPopupMenu .EditSelectedNode16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/EditNode.gif') no-repeat left center;
}

.UIRightClickPopupMenu .CopyNode16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/CopyIcon.gif') no-repeat left center;
}

.UIRightClickPopupMenu .CutNode16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/Cut.gif') no-repeat left center;
}

.UIRightClickPopupMenu .PasteNode16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/PasteIcon.gif') no-repeat left center;
}

.UIRightClickPopupMenu .DeleteNode16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/DustBin.gif') no-repeat left center;
}

.UIRightClickPopupMenu .PasteNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/PasteIcon.gif') no-repeat left center;
}

.UIRightClickPopupMenu .DeleteNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/DustBin.gif') no-repeat left center;
}

.UIRightClickPopupMenu .EditNavigation16x16Icon {
 	background: url('/eXoResources/icons/16x16/DefaultSkin/Pencil.gif') no-repeat left center;
}

.UIRightClickPopupMenu .SaveNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/FloppyDisk.gif') no-repeat left center;
}
