.UIRightClickPopupMenu {
  width: 150px;
  display: none;
  position: absolute;
  background: #c4c4c4;
  border: 1px solid #7e7e7f;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer {
  margin: 1px; padding: 5px 0px;
  background: white url('MacSkin/background/BgItemSelector1x4.png') repeat;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer a{
  color: black;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer a:hover{
  color:#EF5604;
}

.UIRightClickPopupMenu .MenuItem {
  clear: both;
  cursor: pointer;
  line-height: 26px;
}


/*   begin change   */

.UIRightClickPopupMenu .SelectedMenuItem {
  clear: both;
  cursor: pointer;
  line-height: 26px;
  background: #dee4f2;
}

.UIRightClickPopupMenu a.MenuItem {
	color: black;
  cursor: pointer;
  display: block;
  padding-left: 6px;
}


.UIRightClickPopupMenu a.MenuItem:hover {
	color: orange;
	background-color: #dee4f2;
}

.UIRightClickPopupMenu .ItemIcon {
	line-height: 22px;
  height: 22px;
  padding-left: 22px;
  width: auto;
}

.UIRightClickPopupMenu .AddNode16x16Icon {
  background: url('MacSkin/icons/AddIcon.gif') no-repeat left center;
}

.UIRightClickPopupMenu .EditPageNode16x16Icon{
  background: url('MacSkin/icons/EditPage.png') no-repeat left center;
}

.UIRightClickPopupMenu .EditSelectedNode16x16Icon {
  background: url('MacSkin/icons/EditNode.png') no-repeat left center;
}

.UIRightClickPopupMenu .EditNavigation16x16Icon {
  background: url(/eXoResources/icons/16x16/MacSkin/EditIcon.png) no-repeat left center;
}

.UIRightClickPopupMenu .CutNode16x16Icon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/Cut.gif') no-repeat left center;
}

.UIRightClickPopupMenu .CopyNode16x16Icon {
  background: url('MacSkin/icons/Copy.gif') no-repeat left center;
}


.UIRightClickPopupMenu .PasteNode16x16Icon {
  background: url('MacSkin/icons/Paste.gif') no-repeat left center;
}

.UIRightClickPopupMenu .DeleteNode16x16Icon {
  background: url('/eXoResources/icons/16x16/MacSkin/DeleteIcon.png') no-repeat;
}

.UIRightClickPopupMenu .DeleteNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/MacSkin/Delete.gif') no-repeat;
}

.UIRightClickPopupMenu .PasteNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/MacSkin/PasteIcon.gif') no-repeat;
}

.UIRightClickPopupMenu .SaveNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/MacSkin/FloppyDisk.gif') no-repeat left center;
}