.UIRightClickPopupMenu {
  width: 170px;
  display: none;
  position: absolute;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer {
  padding: 5px 0px;
  background: #ffffff;
}

.UIRightClickPopupMenu .MenuItem {
  clear: both;
  cursor: pointer;
  line-height: 24px;
}

.UIRightClickPopupMenu .RightClickCustomItem {
	display: none;
}
	
/*   begin change   */	
	
.UIRightClickPopupMenu .SelectedMenuItem {
  clear: both;
  cursor: pointer;
  line-height: 26px;
  background: #dee4f2;
}

.UIRightClickPopupMenu a.MenuItem {
	color: black;
  cursor: pointer;
  display: block;
  padding-left: 6px;
}


.UIRightClickPopupMenu a.MenuItem:hover {
	color: orange;
	background-color: #dee4f2;
}

.UIRightClickPopupMenu .ItemIcon {
	line-height: 24px;
  height: 24px;
  padding-left: 28px;
  width: auto;
}

.UIRightClickPopupMenu .Rename16x16Icon{
  background: url('/eXoResources/icons/16x16/VistaSkin/Rename.gif')no-repeat left center;  
}

.UIRightClickPopupMenu .AddNode16x16Icon {
  background: url('/eXoResources/icons/16x16/VistaSkin/BlueCirclePlus.png') no-repeat left center;
}

.UIRightClickPopupMenu .EditPageNode16x16Icon{
  background: url('/eXoResources/icons/16x16/VistaSkin/EditPageNode.png') no-repeat left center;
}

.UIRightClickPopupMenu .EditSelectedNode16x16Icon{
  background: url('/eXoResources/icons/16x16/VistaSkin/EditNode.png') no-repeat left center;
}

.UIRightClickPopupMenu .CutNode16x16Icon{
  background: url('/eXoResources/icons/16x16/VistaSkin/icon-cut.gif') no-repeat left center;
}

.UIRightClickPopupMenu .WebDAV16x16Icon {
  background: url('/eXoResources/icons/16x16/VistaSkin/Webdav.png') no-repeat left center ; 
}

.UIRightClickPopupMenu .CopyNode16x16Icon{
  background: url('/eXoResources/icons/16x16/VistaSkin/CopyIcon.png') no-repeat left center;
}

.UIRightClickPopupMenu .PasteNode16x16Icon{
  background: url('/eXoResources/icons/16x16/VistaSkin/PasteIcon.png') no-repeat left center;
}

.UIRightClickPopupMenu .DeleteNode16x16Icon{
  background: url('/eXoResources/icons/16x16/VistaSkin/DustBin.png') no-repeat left center;
}

.UIRightClickPopupMenu .DeleteNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/VistaSkin/DustBin.png') no-repeat left center;
}

.UIRightClickPopupMenu .PasteNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/VistaSkin/PasteIcon.gif') no-repeat left center;
}

.UIRightClickPopupMenu .EditNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/VistaSkin/Pencil.png') no-repeat left center;
}

.UIRightClickPopupMenu .SaveNavigation16x16Icon {
  background: url('/eXoResources/icons/16x16/VistaSkin/FloppyDisk.gif') no-repeat left center;
}


.UIRightClickPopupMenu .TopLeftRightClickPopupMenu {
	background: url('VistaSkin/background/TopLeftRightClickPopupMenu16x14.png') no-repeat left;
	padding-left: 16px;
}

.UIRightClickPopupMenu .TopRightRightClickPopupMenu {
	background: url('VistaSkin/background/TopRightRightClickPopupMenu18x14.png') no-repeat right;
	padding-right: 18px;
}

.UIRightClickPopupMenu .TopCenterRightClickPopupMenu {
	background: url('VistaSkin/background/TopCenterRightClickPopupMenu1x14.png') repeat-x ;
	height: 14px;
}

.UIRightClickPopupMenu .MiddleLeftRightClickPopupMenu {
	background: url('VistaSkin/background/MiddleLeftRightClickPopupMenu11x1.png') repeat-y left;
	padding-left: 11px;
}

.UIRightClickPopupMenu .MiddleRightRightClickPopupMenu {
	background: url('VistaSkin/background/MiddleRightRightClickPopupMenu13x1.png') repeat-y right;
	padding-right: 13px;
}

.UIRightClickPopupMenu .BottomLeftRightClickPopupMenu {
	background: url('VistaSkin/background/BottomLeftRightClickPopupMenu17x19.png') no-repeat left;
	padding-left: 17px;
}

.UIRightClickPopupMenu .BottomRightRightClickPopupMenu {
	background: url('VistaSkin/background/BottomRightRightClickPopupMenu18x19.png') no-repeat right;
	padding-right: 18px;
}

.UIRightClickPopupMenu .BottomCenterRightClickPopupMenu {
	background: url('VistaSkin/background/BottomCenterRightClickPopupMenu1x19.png') repeat-x ;
	height: 19px;
}