.UIPageManagement {}

.UIPageManagement .TopTitleBar {
  padding: 15px 60px 15px 0px;
}

.UIPageManagement .UIPageEditBar{
  padding: 0px 7px;
}

.UIPageManagement .UITree .TreeContainer .Node {
	height: 20px;
}
/*############################- UIPageManagementControlBar Icons -#####################*/
.UIPageManagement .EditNavigationControlIcon {
  float: left;
  width: 38px; height: 28px;
  margin: 4px 15px 0px 20px;
  background: url('MacSkin/background/PageNodeNavigation.gif') no-repeat;  
}

.UIPageManagement .BrowserPageIcon  {
  float: left;
  width: 36px; height: 28px;
  margin: 4px 15px 0px 15px;
  background: url('MacSkin/background/PageBrowser.gif') no-repeat;
}

.UIPageManagement .PageNodeWizardIcon {
  float: left;
  width: 36px; height: 28px;
  margin: 4px 7px 0px 7px;
  background: url('MacSkin/background/PageCreationWizard.gif') no-repeat;
}

/*############################- UIPageManagementEditBar Icons -#####################*/
.UIPageManagement .AddNodeIcon {
  float: left;
  width: 19px; height: 19px;
  margin: 7px 3px 0px 3px;
  background: url('MacSkin/background/AddNodeIcon.gif') no-repeat ;
}

.UIPageManagement .EditSelectedNodeIcon {
  float: left;
  width: 24px; height: 21px;
  margin: 6px 3px 0px 3px;
  background: url('MacSkin/background/EditSelectedNodeIcon.gif') ;
}

.UIPageManagement .EditPageNodeIcon {
  float: left;
  width: 21px; height: 21px;
  margin: 6px 2px 0px 3px;
  background: url('MacSkin/background/EditPageNodeIcon.gif') no-repeat ;
}

.UIPageManagement .CopyNodeIcon {
  float: left;
  width: 21px; height: 21px;
  margin: 6px 3px 0px 3px;
  background: url('MacSkin/background/CopyNodeIcon.gif') no-repeat ;
}

.UIPageManagement .PasteNodeIcon {
  float: left;
  width: 21px; height: 21px;
  margin: 6px 3px 0px 3px;
  background: url('MacSkin/background/PasteNodeIcon.gif') no-repeat ;
}

.UIPageManagement .DeleteNodeIcon {
  float: left;
  width: 18px; height: 21px;
  margin: 5px 0px 0px 5px;
  background: url('MacSkin/background/DeleteNodeIcon.gif') no-repeat ;
}

/*##########################Edit Page Control Bar#############################*/
.UIPageManagement .UIPageNavigationControlBar .UIToolbar .ControlToolbar {
	margin: 13px 2px 0px 60px; 
}

.UIPageManagement .UIToolbar .EditToolbar .Icon {
  float: left;
  margin: 3px 6px 0px 6px;
  cursor: pointer;
}

.UIPageManagement .EditContainerIcon {
  width: 32px; height: 32px;
  background: url('/eXoResources/icons/32x32/MacSkin/ShowContainerButton.png') no-repeat;
}

.UIPageManagement .EditPortletIcon {
  width: 32px; height: 32px;
  background: url('/eXoResources/icons/32x32/MacSkin/ShowPortletButton.png') no-repeat;
}

.UIPageManagement .EditPageIcon{
  width: 32px; height: 32px;
  background: url('/eXoResources/icons/32x32/MacSkin/EditPageButton.png') no-repeat;
}

.UIPageManagement .PageLayoutModeIcon {
  float: left;
  width: 32px; height: 32px;
  margin: 4px 7px 0px 7px;
  background: url('MacSkin/background/PageLayout.gif') no-repeat center;
  cursor: pointer ;
}

.UIPageManagement .PagePreviewIcon {
  width: 32px; height: 32px;
  background: url('/eXoResources/icons/32x32/MacSkin/PreviesPageButton.png') no-repeat ;
}

.UIPageManagement .SavePageIcon {
  width:32px; height: 32px;
  background: url('/eXoResources/icons/32x32/MacSkin/SavePageButton.png') no-repeat ;
}

.UIPageManagement .NavigationConfigIcon{
  float: left;
  width: 35px; height: 28px;
  margin: 5px 7px 0px 8px;
  background: url('MacSkin/background/NavigationCommunityConfig.gif') no-repeat center;
  cursor: pointer ;
}

/*================================== Control Toolbar ==================================*/
.UIPageManagement .UIToolbar .ControlToolbar {
	margin: 13px 2px 0px 150px; 
}

.UIPageManagement .UIToolbar .ControlToolbar .Icon {
  float: left;
  margin: 5px 0px 0px 7px; 
  width: 32px;
  height: 30px;
}

.UIPageManagement .CreateNavigationIcon {
	width: 32px; height: 32px;
  background: url('/eXoResources/icons/32x32/MacSkin/EditNavigation.png') no-repeat ;
}

.UIPageManagement .EditNavigationIcon {
	width: 32px; height: 32px;
  background: url('/eXoResources/icons/32x32/MacSkin/EditNavigation.png') no-repeat ;
}

.UIPageManagement .SaveNavigationIcon {
  width: 32px; height: 32px;
  background: url('/eXoResources/icons/32x32/MacSkin/SaveButton.png') no-repeat ;
}

.UIPageManagement .BackIcon {
	background: url('/eXoResources/icons/32x32/MacSkin/BackButton.png') no-repeat;
}

.UIPageManagement .RollbackIcon {
	background: url('/eXoResources/icons/32x32/MacSkin/RollBackButton.png') no-repeat;
}

.UIPageManagement .FinishIcon {
	background: url('/eXoResources/icons/32x32/MacSkin/FinishButton.png') no-repeat;
}

.UIPageManagement .SaveIcon {
	background: url('/eXoResources/icons/32x32/MacSkin/SaveButton.png') no-repeat;
}

.UIPageManagement .AbortIcon {
	width: 32px; height: 32px;
	background: url('/eXoResources/icons/32x32/MacSkin/AbortButton.png') no-repeat;
}