.UIPageManagement {
  padding: 0px 9px 5px 5px;
}

.UIPageManagement .TopTitleBar {
  margin-bottom: 15px;
  padding: 0px 12px 0px 12px;
}

.UIPageManagement .RollbackBar {
  width: 130px;
  margin: auto;
  margin-top: 10px;
}

/*############################- UIPageManagementControlBar Icons -#####################*/
.UIPageManagement .EditNavigationControlIcon {
  float: left;
  width: 38px; height: 28px;
  margin: 4px 15px 0px 20px;
  background: url('MacSkin/background/PageNodeNavigation.gif') no-repeat;  
}

.UIPageManagement .BrowserPageIcon  {
  float: left;
  width: 36px; height: 28px;
  margin: 4px 15px 0px 15px;
  background: url('MacSkin/background/PageBrowser.gif') no-repeat;
}

.UIPageManagement .PageNodeWizardIcon {
  float: left;
  width: 36px; height: 28px;
  margin: 4px 7px 0px 7px;
  background: url('MacSkin/background/PageCreationWizard.gif') no-repeat;
}

/*############################- UIPageManagementEditBar Icons -#####################*/
.UIPageManagement .AddNodeIcon {
  float: left;
  width: 19px; height: 19px;
  margin: 7px 3px 0px 3px;
  background: url('MacSkin/background/AddNodeIcon.gif') no-repeat ;
}

.UIPageManagement .EditSelectedNodeIcon {
  float: left;
  width: 24px; height: 21px;
  margin: 6px 3px 0px 3px;
  background: url('MacSkin/background/EditSelectedNodeIcon.gif') ;
}

.UIPageManagement .EditNavigationIcon {
  float: left;
  width: 22px; height: 22px;
  margin: 5px 3px 0px 3px;
  background: url('MacSkin/background/EditNavigationIcon.gif') no-repeat ;
}

.UIPageManagement .EditPageNodeIcon {
  float: left;
  width: 21px; height: 21px;
  margin: 6px 2px 0px 3px;
  background: url('MacSkin/background/EditPageNodeIcon.gif') no-repeat ;
}

.UIPageManagement .CopyNodeIcon {
  float: left;
  width: 21px; height: 21px;
  margin: 6px 3px 0px 3px;
  background: url('MacSkin/background/CopyNodeIcon.gif') no-repeat ;
}

.UIPageManagement .PasteNodeIcon {
  float: left;
  width: 21px; height: 21px;
  margin: 6px 3px 0px 3px;
  background: url('MacSkin/background/PasteNodeIcon.gif') no-repeat ;
}

.UIPageManagement .DeleteNodeIcon {
  float: left;
  width: 18px; height: 21px;
  margin: 5px 0px 0px 5px;
  background: url('MacSkin/background/DeleteNodeIcon.gif') no-repeat ;
}

.UIPageManagement .SaveNavigationIcon {
  float: left;
  width: 21px; height: 21px;
  margin: 6px 2px 0px 2px;
  background: url('MacSkin/background/SaveNavigationIcon.gif') no-repeat ;
}

/*##########################Edit Page Control Bar#############################*/
.UIPageManagement .EditContainerIcon {
  float: left;
  width: 31px; height: 24px;
  margin: 4px 7px 0px 9px;
  background: url('MacSkin/background/ShowContainerControl.gif') no-repeat;
  cursor: pointer ;
}

.UIPageManagement .EditPortletIcon {
  float: left;
  width: 31px; height: 24px;
  margin: 4px 7px 0px 9px;
  background: url('MacSkin/background/ShowPortletControl.gif') no-repeat;
  cursor: pointer ;
}

.UIPageManagement .EditPageIcon{
  float: left;
  width: 24px; height: 24px;
  margin: 4px 7px 0px 8px;
  background: url('MacSkin/background/EditPageProperties.gif') no-repeat;
  cursor: pointer ;
}

.UIPageManagement .PageLayoutModeIcon {
  float: left;
  width: 24px; height: 24px;
  margin: 4px 7px 0px 7px;
  background: url('MacSkin/background/PageLayout.gif') no-repeat;
  cursor: pointer ;
}

.UIPageManagement .PagePreviewIcon {
  float: left;
  width: 24px; height: 24px;
  margin: 4px 7px 0px 7px;
  background: url('MacSkin/background/PagePreview.gif') no-repeat ;
  cursor: pointer ;
}

.UIPageManagement .SavePageIcon {
  float: left;
  width: 24px; height: 24px;
  margin: 4px 0px 0px 9px; 
  background: url('MacSkin/background/SavePage.gif') no-repeat ;
  cursor: pointer ;
}

.UIPageManagement .NavigationConfigIcon{
  width: 35px; height: 28px;
  background: url('MacSkin/background/NavigationCommunityConfig.gif') no-repeat center;
  cursor: pointer ;
  float: left;
  margin: 5px 7px 0px 8px;
}

.UIPageManagement .RollbackIcon {
  float: left;
  width: 25px; height: 25px;
  background: url('MacSkin/background/RollBack.png') no-repeat;
  margin: 5px 8px 0px 0px;
}


