
/*#######################-VTabSimpleStyle VerticalSlideTabs-######################*/
.UIVerticalSlideTabs .VTabSimpleStyle .NormalTab{
	line-height: 26px;
	margin: 5px;
	cursor: pointer;
}

.UIVerticalSlideTabs .VTabSimpleStyle .NormalTab .TabLeft {
	background: url(background/VTabSimpleStyle.gif) no-repeat left top;				/* orientation=lt */
	background: url(background/VTabSimpleStyle-rt.gif) no-repeat left top;		/* orientation=rt */
	padding-left: 29px;			/* orientation=lt */
	padding-left: 3px;			/* orientation=rt */
	height: 24px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .NormalTab .TabRight {
	background: url(background/VTabSimpleStyle.gif) no-repeat right top;			/* orientation=lt */
	background: url(background/VTabSimpleStyle-rt.gif) no-repeat right top;		/* orientation=rt */
	padding-right: 3px;			/* orientation=lt */
	padding-right: 29px;		/* orientation=rt */
	height: 24px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .NormalTab .TabRepeat {
	background: url(background/VTabSimpleStyle.gif) repeat-x left -24px;
	height: 24px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .NormalTab .TabLabel {
  float: left ;			/* orientation=lt */
  float: right ;		/* orientation=rt */
  height: 24px ; 
  line-height: 24px ; 
  color: #606060; 
  text-transform: capitalize; 
}

/***-SelectedTab VTabSimpleStyle VerticalSlideTabs-***/

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab {
	margin: 5px 5px 0px 5px;
	cursor: pointer;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .TabLeft {
	background: url(background/VTabSimpleStyle.gif) no-repeat left -48px;				/* orientation=lt */
	background: url(background/VTabSimpleStyle-rt.gif) no-repeat left -72px;		/* orientation=rt */
	padding-left: 27px;		/* orientation=lt */
	padding-left: 2px;		/* orientation=rt */
	height: 24px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .TabRight {
	background: url(background/VTabSimpleStyle.gif) no-repeat right -72px;				/* orientation=lt */
	background: url(background/VTabSimpleStyle-rt.gif) no-repeat right -48px;			/* orientation=rt */
	padding-right: 2px;				/* orientation=lt */
	padding-right: 27px;			/* orientation=rt */
	height: 24px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .TabRepeat {
	background: url(background/VTabSimpleStyle.gif) repeat-x bottom;
	height: 24px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .TabLabel {
	float: left;		/* orientation=lt */
	float: right; 	/* orientation=rt */
  height: 24px ; line-height: 24px ;  
  text-transform: capitalize;
  margin-left: 2px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .TabLabel {
	color: #065DA1;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .ControlContainer {
	float: right;	 	/* orientation=lt */
	float: left; 		/* orientation=rt */
  padding-right: 2px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .ControlIcon {
  float: left;
  margin: 4px 2px 0px 2px;
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .EditIcon {
  width: 16px;  
  height: 17px;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil.png') no-repeat left top;	 			/* orientation=lt */
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil-rt.png') no-repeat right top;	 	/* orientation=rt */
}

.UIVerticalSlideTabs .VTabSimpleStyle .SelectedTab .DeleteIcon{
  width: 20px;  height: 17px;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/DustBin.png') no-repeat;
}

.UIVerticalSlideTabs .VTabSimpleStyle .UIVTabContent {
  padding: 10px ;
  border: 1px solid #bec1c7;
  border-top: none;
  margin: 0px 5px;
  text-transform: capitalize;
}


/*#######################-VTabStyle3 VerticalSlideTabs-######################*/

.UIVerticalSlideTabs .VTabStyle3 {
	cursor: pointer;
  margin: 5px 0px 1px 0px;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .TabLeft {
  padding-left: 3px;
  background: url('background/VTabStyle3.gif') no-repeat left top; 
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .TabRight {
  padding-right: 3px;
  background: url('background/VTabStyle3.gif') no-repeat right top; 
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .TabRepeat {
  height: 27px;
  background: url('background/VTabStyle3.gif') repeat-x left -27px; 
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .LeftIcon {
  float: left;	/* orientation=lt */
  float: right;		/* orientation=rt */
  width: 16px;  height: 16px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueNextArrow.gif') no-repeat ;	/* orientation=lt */
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueNextArrow-rt.gif') no-repeat ;	/* orientation=rt */ 
  margin: 6px 5px 0px 5px;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .TabLabel {
  float: left;	/* orientation=lt */
  float: right;		/* orientation=rt */
  height: 26px ; line-height: 26px ;  vertical-align: middle ;
}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .SwitchButton {
  float: right;
  width: 16px;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/GreenNextArrow.png') no-repeat ;
  margin: 6px 3px 0px 0px ;
  cursor: pointer ;

}

.UIVerticalSlideTabs .VTabStyle3 .NormalTab .UIVTabContent {
  background: #ffffff ;
  border: solid 1px #b2b1b1 ;
  padding: 5px ;
  margin: 1px 0px ;
}

/***-SeltectedTab VerticalSlideTabs-***/

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab {
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .TabLeft {
  padding-left: 3px ;
  background: url('background/VTabStyle3.gif') no-repeat left -54px ;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .TabRight {
  width: auto ;
  padding-right: 3px ;
  background: url('background/VTabStyle3.gif') no-repeat right -54px ;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .TabRepeat {
  height: 27px ;
  background: url('background/VTabStyle3.gif') repeat-x bottom;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .LeftIcon {
  float: left;	/* orientation=lt */
  float: right;		/* orientation=rt */
  width: 16px; height: 16px;
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueDownArrow.gif') no-repeat ;	/* orientation=lt */
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueDownArrow-rt.gif') no-repeat ;	/* orientation=rt */ 
  margin: 6px 5px 0px 5px;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .TabLabel {
  float: left;	/* orientation=lt */
  float: right;		/* orientation=rt */
  height: 26px ; line-height: 26px ;  vertical-align: middle ;
  color: blue;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .SwitchButton {
  float: right;
  width: 16px;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/GreenDownArrow.png') no-repeat ;
  margin: 6px 3px 0px 0px ;
}

.UIVerticalSlideTabs .VTabStyle3 .SelectedTab .UIVTabContent {
  background: #ffffff ;
  border: solid 1px #b2b1b1 ;
  margin: 1px 0px ;
  padding: 5px ;
}