.UICreatePage {
  padding: 8px 5px 5px 5px; 
}

.UICreatePage .TreeSelectorTitle {
  text-align: center; 
  font-weight: bold;
  height: 22px; line-height: 22px; 
  vertical-align:middle;
  background: white; 
  border: 1px solid #afaeae ;
  margin: 6px 0px ;
}

.UICreatePage .UIDropDownControl { 
	width: 213px;
}

.UICreatePage .NavigationPortalIcon {
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/MiniOrangeBoxPage.gif') ;
}

.UICreatePage .WizardPageEditBar {
	padding: 0px 5px;
}

.UICreatePage .WizardPageEditBar .UIToolbar .EditToolbar .Icon {
  margin: 4px 15px 0px 27px;
}

.UICreatePage .CreatePageContainer .CreatePageBarLeft {
	padding-left: 7px;
  background: url('background/PolyBar.png') no-repeat left top;
  margin: 0px 6px 0px 5px; 
}

.UICreatePage .CreatePageContainer .CreatePageBarRight {
  padding-right: 7px;
  background: url('background/PolyBar.png') no-repeat right -30px;
}

.UICreatePage .CreatePageContainer .CreatePageLabel {
  height: 30px;
  background: url('background/PolyBar.png') repeat-x bottom ;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
}
