.LineDecorator4px {
	height: 4px;
	background: url('background/LineDecorator1x4.gif') ;
}

.LineDecorator6px {
	height: 6px;
	background: url('background/LineDecorator1x6.gif') ;
}

.LineDecorator8px {
	height: 8px;
	background: url('background/LineDecorator1x8.gif') ;
}

.LineDecorator23px {
	height: 20px;	
	background: url('background/TitleBG1x20.gif') repeat-x;
	line-height: 20px;
	margin: 1px 0px 0px 0px ;
  border: solid 1px #cdcdcd;
}