.UIGrid {
  border: 1px solid #a3a3a3;
  border-collapse: collapse ;
  padding-left: 1px; margin: auto;
  table-layout: fixed;
}

.UIGrid thead {
  border: 1px solid #747474;
}

.UIGrid th {
  height: 22px; line-height: 22px;
  border: 1px solid #a3a3a3;
  background: url('background/ThGridRepeatBg1x20.gif') repeat-x;
  font-weight: normal;
  padding: 0px 3px;
}

.UIGrid tbody {
  padding-bottom: 1px;
}

.UIGrid td {
  height: 26px ;
  border-right: 1px solid #a3a3a3;
  border-left: 1px solid #a3a3a3;
  border-top: 1px solid white;
  padding: 4px;
}

.UIGrid .OddRow {
  background: #ededed;
}

.UIGrid .EvenRow {
  background: #fdfbfb;
}

.UIGrid .ActionContainer {
	white-space: nowrap;
	text-align: center;
}

.UIGrid .ActionContainer a {
  margin: 0px 3px ;
  color: #024369;
}

.UIGrid .ActionContainer img {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  float: none;
}

.UIGrid .Text {
	overflow: hidden;
}

.UIGrid .Number {
  text-align: center;
}

.UIGrid .ValueWithIcon {
  float: left ;
  text-align: right;
}

.UIGrid .ViewIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/LightBulbOn.gif') no-repeat ;
}

.UIGrid .EditInfoIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil.png') no-repeat ;
}

.UIGrid .SelectIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/pen-edit.gif') no-repeat ;
}

.UIGrid .ExcuteIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/PageYellowLight.gif') no-repeat ;
}

.UIGrid .AddNewIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/BlueCirclePlus.gif') no-repeat ;
}

/*###################### UIListUsers Icon ######################*/

.UIGrid .DeleteUserIcon {
  width: 19px ; height: 20px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/DustBin.png') no-repeat ;
  margin: auto;
}

.UIGrid .ViewUserInfoIcon {
  width: 21px ;  height: 19px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil.png') no-repeat ;
  margin: auto;
}

/*###################### UIListMembershipType Icon ######################*/

.UIGrid .DeleteMembershipIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/DustBin.png') no-repeat ;
  margin: auto;  
}

.UIGrid .EditMembershipIcon {
  width: 16px ;  height: 16px ;
  background: url('/eXoSkinVista/skin/VistaSkin/skinIcons/16x16/icons/Pencil.png') no-repeat ;
  margin: auto;
}

.UIListMembershipType .UIGrid {
	width: 97%;
	margin: auto;
}

.UIListMembershipType .UIPageIterator {
	width: 97%;
}