.UIPageBrowser {
}

.UIPageBrowser .UISearch {  
	width: 99.5%;
	margin: auto;
}

.UIPageBrowser .UIGrid {  
	width: 99.5%;
	margin: auto;
}

.UIPageBrowser .UIGrid .Text {  
	white-space: nowrap;
}