.UIHorizontalTabs {
}

.UIHorizontalTabs .CenterHorizontalTabs {
  overflow-y: hidden;
  background: url('background/NormalTabStyle.gif') repeat-x center top;
  padding: 0px 6px;
}

.UIHorizontalTabs .TabsContainer {
 	height: 24px;
}

.UIHorizontalTabs .UITab {
  float: left; /* orientation=lt */
  float: right; /* orientation=rt */
  font-weight: bold;
  text-align: center;
  width: auto;
}

/*###########################--NavigationTabTab--############################*/
.UIHorizontalTabs .UITab .NormalNavigationTab {
  line-height: 33px; 
  margin-left: 1px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .LeftTab {
  line-height: 33px;
  padding-left: 2px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .RightTab {
  line-height: 33px; 
  padding-right: 2px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .MiddleTab {
  line-height: 33px;
  text-align: center;
  padding: 2px 8px 0;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .TabIcon {
  color: #fff;
  line-height: 31px;
}

.UIHorizontalTabs .UITab .NormalNavigationTab a {
  color: #fff;
}

.UIHorizontalTabs .UITab .NormalNavigationTab .DropDownArrowIcon {
  padding-right: 20px; /* orientation=lt */
  padding-left: 20px; /* orientation=rt */
  background: url(background/NavDownArrow.gif) no-repeat right; /* orientation=lt */
  background: url(background/NavDownArrow.gif) no-repeat left; /* orientation=rt */
  cursor: pointer;
}

/*###############-Hightlight Navigation Tab  -################*/

.UIHorizontalTabs .UITab .HighlightNavigationTab {
  line-height: 22px; 
  margin-left: 1px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .LeftTab {
  line-height: 33px; 
  background: url('background/NavigationTab.gif') repeat-x left -66px;
  padding-left: 2px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .RightTab {
  line-height: 33px; 
  padding-right: 2px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .MiddleTab {
  line-height: 33px; 
  text-align: center;
  padding: 2px 8px 0;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .TabIcon {
  color: #fff;
  line-height: 31px;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab a {
  color: #fff;
}

.UIHorizontalTabs .UITab .HighlightNavigationTab .DropDownArrowIcon {
  padding-right: 20px; /* orientation=lt */
  padding-left: 20px; /* orientation=rt */
  background: url(background/NavDownArrow.gif) no-repeat right; /* orientation=lt */
  background: url(background/NavDownArrow.gif) no-repeat left; /* orientation=rt */
  cursor: pointer;
}

/*###############-Selected Navigation Tab-################*/

.UIHorizontalTabs .UITab .SelectedNavigationTab {
  line-height: 33px; 
  margin-left: 1px; 
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .LeftTab {
  line-height: 33px; 
  background: url('background/NavigationTab.gif') no-repeat left top;
  padding-left: 4px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .RightTab {
  line-height: 33px; 
  background: url('background/NavigationTab.gif') no-repeat right top;
  padding-right: 4px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .MiddleTab {
  line-height: 33px;
  background: url('background/NavigationTab.gif') repeat-x left -33px;
  text-align: center;
  padding: 0 8px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .TabIcon {
  color: #f57a00;
  line-height: 33px;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab a {
  color: #f57a00;
}

.UIHorizontalTabs .UITab .SelectedNavigationTab .DropDownArrowIcon {
  padding-right: 20px; /* orientation=lt */
  padding-left: 20px; /* orientation=rt */
  background: transparent url(background/NavDownArrow.gif) no-repeat scroll right center;  /* orientation=lt */
  background: transparent url(background/NavDownArrow.gif) no-repeat scroll left center;  /* orientation=rt */
  cursor: pointer;
}

/*###########################-- NormalTabStyle --############################*/

.UIHorizontalTabs .NormalTabStyle .NormalTab {
  line-height: 24px; 
  margin-right: 1px; 
  color: #202020; 
  font-weight: normal;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab a {
	line-height: 24px;
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .LeftTab {
  padding-left: 12px;   /* orientation=lt */
  padding-left: 3px;   	/* orientation=rt */
  line-height: 24px;
  background: url('background/NormalTabStyle.gif') no-repeat left -24px;  		/* orientation=lt */
  background: url('background/NormalTabStyle-rt.gif') no-repeat left -24px;  	/* orientation=rt */
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .RightTab {
  line-height: 24px;
  padding-right: 3px;  		/* orientation=lt */
  padding-right: 12px;  	/* orientation=rt */
  background: url('background/NormalTabStyle.gif') no-repeat right -24px;  			/* orientation=lt */
  background: url('background/NormalTabStyle-rt.gif') no-repeat right -24px;  	/* orientation=rt */
}

.UIHorizontalTabs .NormalTabStyle .NormalTab .MiddleTab {
  line-height: 24px;
  background: url('background/NormalTabStyle.gif') repeat-x center -48px;
  cursor: pointer;
  padding: 0px 8px;
  text-align: right; /* orientation=rt */
  white-space: nowrap; /* orientation=rt */
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab {
  line-height: 24px;
  margin-right: 1px;
  color: #0666d2; 
  font-weight: normal;
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .LeftTab {
  line-height: 24px;
  padding-left: 12px;  	/* orientation=lt */
  padding-left: 3px;  	/* orientation=rt */
  background: url('background/NormalTabStyle.gif') no-repeat left -72px;  		/* orientation=lt */
  background: url('background/NormalTabStyle-rt.gif') no-repeat left -72px;  	/* orientation=rt */
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .RightTab {
  line-height: 24px;
  padding-right: 3px;  		/* orientation=lt */
  padding-right: 12px;  	/* orientation=rt */
  background: url('background/NormalTabStyle.gif') no-repeat right -72px;  			/* orientation=lt */
  background: url('background/NormalTabStyle-rt.gif') no-repeat right -72px;  	/* orientation=rt */
}

.UIHorizontalTabs .NormalTabStyle .HighlightTab .MiddleTab {
  line-height: 24px;
  background: url('background/NormalTabStyle.gif') repeat-x center -96px;
  cursor: pointer;
  padding: 0px 4px;
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab {
  line-height: 24px;
  margin-right: 1px;
  color: #307dcc; 
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .LeftTab {
  line-height: 24px;
  padding-left: 15px;  	/* orientation=lt */
  padding-left: 3px; 		/* orientation=rt */
  background: url('background/NormalTabStyle.gif') no-repeat left -120px; 		/* orientation=lt */
  background: url('background/NormalTabStyle-rt.gif') no-repeat left -120px; 	/* orientation=rt */
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .RightTab {
  line-height: 24px;
  padding-right: 3px;  		/* orientation=lt */
  padding-right: 15px;  	/* orientation=rt */
  background: url('background/NormalTabStyle.gif') no-repeat right -120px; 			/* orientation=lt */
  background: url('background/NormalTabStyle-rt.gif') no-repeat right -120px; 	/* orientation=rt */
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab .MiddleTab {
  line-height: 24px;
  background: url('background/NormalTabStyle.gif') repeat-x center -144px;
  cursor: pointer;
  font-weight: normal;
  padding: 0px 8px;
  text-align: right; /* orientation=rt */
  white-space: nowrap; /* orientation=rt */
}

/*###########################-- MessageTabDialog --############################*/

/*==============================NormalTab for MessageTab=====================*/
.UIHorizontalTabs .MessageTabDialog .NormalTab {
  line-height: 27px;
  margin-right: 1px; /* orientation=lt */
  margin-left: 1px; /* orientation=rt */
  color: #202020; font-weight: normal;
  overflow: hidden; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .LeftTab {
  padding-left: 2px; /* orientation=lt */
  padding-right: 2px; /* orientation=rt */
  line-height: 27px;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .RightTab {
  line-height: 27px;
  padding-right: 7px; /* orientation=lt */
  padding-left: 7px; /* orientation=rt */
  background: url('background/MessageTabDialog.gif') repeat-y right -182px; /* orientation=lt */
  background: url('background/MessageTabDialog-rt.gif') repeat-y left -182px; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .MiddleTab {
  line-height: 21px;
  cursor: pointer;
  padding: 3px 8px 3px 4px; /* orientation=lt */
  padding: 3px 4px 3px 8px; /* orientation=rt */
  color: black; 
  font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab div:hover{
  color: orange;
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .TabIcon {
  padding-left: 30px; /* orientation=lt */
  padding-right: 30px; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .InfoIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left -105px; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right -105px; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .ErrorIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left -21px; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right -21px; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .NormalTab .WarningIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left -63px; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right -63px; /* orientation=rt */
}

/*==============================Disable Tab for MessageTab=====================*/

.UIHorizontalTabs .MessageTabDialog .DisabledTab {
  line-height: 27px;
  margin-right: 2px; /* orientation=lt */
  margin-left: 2px; /* orientation=rt */
  color: #202020; font-weight: normal;
  overflow: hidden; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .LeftTab {
  padding-left: 2px; /* orientation=lt */
  padding-right: 2px; /* orientation=rt */
  line-height: 27px;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .RightTab {
  line-height: 27px;
  padding-right: 7px;		/* orientation=lt */
  padding-left: 7px;		/* orientation=rt */
  background: url('background/MessageTabDialog.gif') repeat-y right -182px;			/* orientation=lt */
  background: url('background/MessageTabDialog-rt.gif') repeat-y left -182px;		/* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .MiddleTab {
  line-height: 21px;
  cursor: pointer;
  padding: 3px 8px 3px 4px; /* orientation=lt */
  padding: 3px 4px 3px 8px; /* orientation=rt */
  color: gray;  
  font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .TabIcon { 
  padding-left: 30px; /* orientation=lt */
  padding-right: 30px; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .InfoIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left -84px ; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right -84px ; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .ErrorIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left top ; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right top ; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .DisabledTab .WarningIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left -42px; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right -42px; /* orientation=rt */
}


/*==============================Selected Tab for MessageTab=====================*/

.UIHorizontalTabs .MessageTabDialog .SelectedTab {
  line-height: 27px;
  color: #058ee6;
  margin-right: 2px; /* orientation=lt */
  margin-left: 2px; /* orientation=rt */
  overflow: hidden; /* orientation=rt */
 }

.UIHorizontalTabs .MessageTabDialog .SelectedTab .LeftTab {
  line-height: 27px;
  padding-left: 2px; /* orientation=lt */
  padding-left: 7px; /* orientation=rt */
  background: url('background/MessageTabDialog.gif') no-repeat left -126px; /* orientation=lt */
  background: url('background/MessageTabDialog-rt.gif') no-repeat left -126px; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .RightTab {
  line-height: 27px;
  padding-right: 7px; 	/* orientation=lt */
  padding-right: 2px; 		/* orientation=rt */
  background: url('background/MessageTabDialog.gif') no-repeat right -126px; 		/* orientation=lt */
  background: url('background/MessageTabDialog-rt.gif') no-repeat right -126px; 	/* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .MiddleTab {
  line-height: 21px;
  background: url('background/MessageTabDialog.gif') repeat-x center -155px;
  cursor: pointer;
  padding: 3px 8px 3px 4px; /* orientation=lt */
  padding: 3px 4px 3px 8px; /* orientation=rt */
  color: #058ee6;  font-weight: normal;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab  div:hover{
  color: orange;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .TabIcon {
  padding-left: 30px; /* orientation=lt */
  padding-right: 30px; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .InfoIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left -105px; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right -105px; /* orientation=rt */

}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .ErrorIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left -21px; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right -21px; /* orientation=rt */
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .WarningIcon {
  background: url('background/MessageTabDialog.gif') no-repeat left -63px; /* orientation=lt */
  background: url('background/MessageTabDialog.gif') no-repeat right -63px; /* orientation=rt */
}
