 .UIPopupMenu {
  display: none;
  background: url('background/PopupMenuBG1x4.gif') repeat ;
  text-align: left ;
  border: 1px solid gray ;
  cursor: default ;
}

 .UIPopupMenu a {
  text-decoration: none;
}

 .UIPopupMenu a:hover {
  color: #1a03fa;
}

 .UIPopupMenu .TopBar {
  display: none;
}

 .UIPopupMenu .MiddleBar {
  margin: 1px;
  border-top: 0px;
}

 .UIPopupMenu .MenuItem {
  height: 26px;
  line-height: 26px;
  border-bottom: 1px #cdcdcd solid;
}

 .UIPopupMenu .MenuItem .MenuItemLeftIcon {
  float: left ;
  width: 16px ;  height: 16px ;
  padding: 5px;
}

 .UIPopupMenu .MenuItem .MenuItemText {
  float: left ;
}

 .UIPopupMenu .MenuItem .MenuItemRightIcon {
  float: right ;
  width: 16px ;  height: 16px ;
  padding: 5px 0px;
}

 .UIPopupMenu .MenuItem .MenuItemExpand {
  overflow: visible ;
}

/*Use  float: left to align the popup block with this block*/
 .UIPopupMenu .MenuItem .MenuItemEntry {
  overflow: hidden ;  width: 100% ;
  float: left ;
}

 .UIPopupMenu .BottomBar {
}

/*###################-ITEM SELECTED STYLE-#################*/
 .UIPopupMenu .MenuItemSelected {
  border-bottom: 1px solid #cdcdcd;
  height: 26px;
  line-height: 26px;
  background: #6daad9;
}

 .UIPopupMenu .MenuItemSelected .MenuItemLeftIcon {
  float: left ;
  width: 16px ;  height: 16px ;
  padding: 5px;
}

 .UIPopupMenu .MenuItemSelected .MenuItemText {
  float: left ;
  color: white;
}

 .UIPopupMenu .MenuItemSelected .MenuItemRightIcon {
  float: right ;
  width: 16px ;  height: 16px ;
  padding: 5px 0px;
}

 .UIPopupMenu .MenuItemSelected .MenuItemExpand {
  overflow: visible ;
}

/*Use  float: left to align the popup block with this block*/
 .UIPopupMenu .MenuItemSelected .MenuItemEntry {
  overflow: hidden ;  width: 100% ;
  float: left ;
  cursor: pointer;  
}

/*###################-END ITEM SELECTED STYLE-#################*/
