
.UIConsoleApplication {
	border: 0px solid green;
}
.UIConsoleApplication .UIInnerMaskLayer {
	position: relative;
	width: 100%;

}

.UIConsoleApplication .UIApplication {
	background: black;
}

.UIConsoleApplication .UIApplication .eXoConsoleResult {
	color: white;
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
}

.UIConsoleApplication .eXoConsole {
	height: 23px;	
	width: 100%;
}
.UIConsoleApplication .CommandButton {
	float: right;
	width: 18px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
	background: url("DefaultSkin/icons/ArrowShape.gif") no-repeat center;
}

.UIConsoleApplication .CommandType {
	margin-right: 18px;
	background: #effffe;
	line-height: 23px;
}

.UIConsoleApplication .UIMaskWindowConsole {
	text-align: center;
	text-weight: bold;
	font-size: 14px;
	width: 100%;
	height: 100%;
	margin: auto;
	overflow: auto;
}