.UIConsoleApplication {
	border: 0px solid green;
}
.UIConsoleApplication .UIInnerMaskLayer {
	position: relative;
	width: 100%;

}

.UIConsoleApplication .UIApplication {
	background: black;
}

.UIConsoleApplication .UIApplication .eXoConsoleResult {
	color: #0098ff ;
	font-size: 14px;
	font-weight: normal;
	padding: 10px;
}

.UIConsoleApplication .eXoConsole {
  border-top: 4px #dddddd ridge ;
	height: 69px;	
}

.UIConsoleApplication .CommandType {
	background: #ffffff;
}

.UIConsoleApplication .UIMaskWindowConsole {
  display: none ;
	position: absolute ;
	top: 20% ;
	left: 15% ;
	padding: 5px ;
	width: 70%;
	height: 60%;
	background-color: #ffffff ;
	filter: alpha(opacity=92) ;
	opacity: 0.92 ;
}

.UIConsoleApplication .UIMaskWindowConsole .ConsoleQuickHelp {
	font-size: 14px;
  background-color: #5C5C5C ;
  color: #FBB906 ;
  width: 100% ;
  height: 100% ;
	overflow: auto;
	filter: alpha(opacity=92) ;
	opacity: 0.92 ;
}

.UIConsoleApplication .UIMaskWindowConsole .ConsoleQuickHelp div {
  padding: 15px 10px 15px 10px ;
}