<?xml version="1.0" encoding="ISO-8859-1"?>
<portal-config decorator="exo" width="100%" height="100%">
  <portal-name>portalone</portal-name>
  <locale>en</locale>
  <access-permissions>*:/guest</access-permissions>
	<portal-layout>
	  <application>
	    <instance-id>exo:/content/DisplayStaticContent/banner</instance-id>	  
		  <application-type>portlet</application-type>
	    <show-info-bar>false</show-info-bar>
	  </application>
	
	  <application>
	    <instance-id>exo:/nav/HorizontalMenu/toolbar</instance-id>
		  <application-type>portlet</application-type>
	    <show-info-bar>false</show-info-bar>
	  </application>
	
	  <container template="war:/groovy/portal/view/UIContainerTableColumn.gtmpl" height="100%">
	    <container decorator="menu" width="200px">	      
	      <application>
	        <instance-id>exo:/nav/Menu/menu</instance-id>	      
				  <application-type>portlet</application-type>
	        <show-info-bar>false</show-info-bar>
	      </application>
	      
	      <application>
 	        <instance-id>exo:/user/WelcomePortlet/welcome-user</instance-id>
				  <application-type>portlet</application-type>
	        <title>Welcome</title>
	        <show-info-bar>false</show-info-bar>
	      </application>
	      
	      <application>
	        <instance-id>exo:/content/DisplayStaticContent/download</instance-id>
				  <application-type>portlet</application-type>
	        <show-info-bar>false</show-info-bar>
	      </application>
	      
	      <application>
	        <instance-id>exo:/nav/VisitedPagesPortlet/visited-page</instance-id>
	        <show-info-bar>false</show-info-bar>
	      </application>
	      
	    </container>
	    
	    <container height="20px">
	      <application>
	        <instance-id>exo:/nav/Breadcrumbs/breadcrumbs</instance-id>	      
				  <application-type>portlet</application-type>
	        <show-info-bar>false</show-info-bar>
	      </application>
	      <page-body>
	        <page-node-reference>/</page-node-reference>
	      </page-body>
	    </container>
	  </container>
	
	  <application>
	    <instance-id>exo:/content/DisplayStaticContent/footer</instance-id>
		  <application-type>portlet</application-type>
	    <show-info-bar>false</show-info-bar>
	  </application>   
	</portal-layout>  
</portal-config>
