/**
 * Cated by The eXo Platform SAS
 * Modified : Phuong Pham Dang
 *           phuongexodesign@gmail.com
 * 7 june, 2007
 * version: $Id$
 */

.UIWindow .UIRSSReaderPortlet {
  overflow: auto ;
  border: none;
  margin: 0px auto;
}

.UIRSSReaderPortlet {
  padding:7px;
  margin: 5px;
  border: 1px solid #b7b7b7;
  background: white url('MacSkin/background/eXoRSS.gif') no-repeat bottom right;
  height: auto;
  width: 97%;
}

.UIRSSReaderPortlet .UIContentNavigation {
  float: left;
  width: 240px;
}

.UIRSSReaderPortlet .CategoryControlBar {
}

.UIRSSReaderPortlet .CategoryControlBar .LeftBar{
	background: url('VistaSkin/background/LeftControlBar8x25.gif') no-repeat left; 
	padding-left: 8px;
	height: 25px;
}

.UIRSSReaderPortlet .CategoryControlBar .RightBar{
	background: url('VistaSkin/background/RightControlBar6x25.gif') no-repeat right; 
	padding-right: 6px;
	height: 25px;
}

.UIRSSReaderPortlet .CategoryControlBar .MiddleBar{
	background: url('VistaSkin/background/CenterControlBar1x25.gif') repeat-x; 
	height: 25px;
}

.UIRSSReaderPortlet .UIContentNavigation .RSSReaderHeader {
	line-height: 22px;
	padding: 0px 10px 0px 28px;
	font-size: 12px; font-weight: bold;
	background: url('VistaSkin/icons/RSSReaderIcon.gif') no-repeat left;
}


.UIRSSReaderPortlet .UIContentWorkingArea {
  margin-left: 247px;
}

.UIRSSReaderPortlet .UIContentNavigation .UIContentNavigationContainer {
}

.UIRSSReaderPortlet .UIContentNavigation .NewsCategory {
  border: 1px solid #c3c3c3;
  background: #ffffff;
  margin: 2px 0px;
  
}

.UIRSSReaderPortlet .UIContentNavigation .NewsCategory .UIVerticalSlideTabs {
  border: 1px solid #ffffff;
  padding: 5px; padding-bottom: 10px;
  background: url('VistaSkin/background/NewsCategoryBG1x22.png') repeat-x center top;
}

.UIRSSReaderPortlet .UIContentNavigation .UIVerticalSlideTabs .NormalTab{
  margin-top: 4px;
}

.UIRSSReaderPortlet .UIContentNavigation .UIVerticalSlideTabs .SelectedTab {
  margin-top: 4px;
}

.UIRSSReaderPortlet .UIContentNavigation .UpArrowBar {
  width: 24px; height: 24px;
  padding-left: 2px;
  float: left;
}

.UIRSSReaderPortlet .UIContentNavigation .ActionBar {
  float: right;
  padding-right: 8px;
}

.UIRSSReaderPortlet .UIContentNavigation .UIVerticalSlideTabs .NavigationUpArrowIcon {
  width: 25px; height: 24px;
  background: url('VistaSkin/icons/UpNewsLevel.gif') no-repeat center;
}

.UIRSSReaderPortlet .UIContentNavigation .UIVerticalSlideTabs .SubItem {
	border: 1px #e4e4e4 solid; border-top: none;
	background: white;
}

.UIRSSReaderPortlet .UIContentNavigation .NavigationControlIcon{
	float: left ;
	margin-left: 8px ;
}

.UIRSSReaderPortlet .UIContentNavigation .CategoryIcon{
	float: left ;
	margin: 4px 7px 0px 7px ;
}

.UIRSSReaderPortlet .ItemIcon{
	float: left ;
	margin: 5px 0px 0px 5px ;
	width: 16px; height: 16px;
	background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/GreenNextArrowSub.png') no-repeat left;
}

.UIRSSReaderPortlet .ContentItemIcon{
	margin: 2px 0px 0px 0px;
}

.UIRSSReaderPortlet .UIBreadcumbs .HomeIcon {
	background: url('VistaSkin/icons/OpenNewsIcon.gif') no-repeat;
	width: 18px; height: 16px;
	margin-top: 4px;
}

.UIRSSReaderPortlet .UIContentWorkingArea .ContentBreadcumbs .BreadcumbsContainer {
  float: left;
}

.UIRSSReaderPortlet .UIBreadcumbs {
  float: left;
	padding: 0px ;
	height: auto;
}

.UIRSSReaderPortlet .UIBreadcumbs .LeftBreadcumbsBar {
	background: none ;
	padding: 0px ;
}

.UIRSSReaderPortlet .UIBreadcumbs .RightBreadcumbsBar {
	background: none ;
}

.UIRSSReaderPortlet .UIBreadcumbs .BreadcumbsInfoBar {
	height: auto;
	background: none ;
}
 
.UIRSSReaderPortlet .UIBreadcumbs a {
	line-height: 22px;
}

.UIRSSReaderPortlet .UIBreadcumbs a.Selected {
}

.UIRSSReaderPortlet .UIBreadcumbs .RightBlackGridArrowIcon {
	margin-top: 4px ;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueNextArrow.gif') no-repeat left ;
}

.UIRSSReaderPortlet .NewsIcon {
	background: url('VistaSkin/icons/NewsIcon.gif') no-repeat;
	width: 20px; height: 17px;
}

.UIRSSReaderPortlet .UIContentNavigation .TabLabel {
  float: left ;
	height: 25px ;
	line-height: 25px ;
	font-weight: bold ; 
  color: #333333 ;
}

.UIRSSReaderPortlet .UIContentNavigation .SelectedTabLabel {
	color: #0073a9;
	float: left ;
	height: 25px ;
	line-height: 25px ;
	font-weight: bold ; 
}

.UIRSSReaderPortlet .UIContentNavigation a.TabLabel:hover {
	color: #0073a9;
}

.UIRSSReaderPortlet .UIContentNavigation a.SelectedTabLabel:hover {
	color: #0691d3;
}

.UIRSSReaderPortlet .UIContentNavigation a.ItemLabel {
	line-height: 24px ;
  color: #000000 ;
  display: block;
}

.UIRSSReaderPortlet .UIContentNavigation  a.ItemLabel:hover {
	color: orange ;
}

.UIRSSReaderPortlet .UIContentWorkingArea .UIDescription{
 padding: 0px;
 margin: 0px;
}

.UIRSSReaderPortlet .UIContentWorkingArea .ContentBreadcumbs .Icon {
  float: left;
  margin: 1px 7px 0px 4px;
}

.UIRSSReaderPortlet .UIContentWorkingArea .ContentBreadcumbs a.CategoryName {
  float: left;
  color: #000000;
  line-height: 18px; 
  cursor: pointer;
}

.UIRSSReaderPortlet .UIContentWorkingArea .ContentBreadcumbs a.CategoryName:hover {
  color: #0437b8;
}

.UIRSSReaderPortlet .RefreshBar {
  float: right;
  padding: 1px 10px 0px 5px;
}

.UIRSSReaderPortlet .RefreshBar a{
	display: block;
	line-height: 22px;
	color: #058ee6;
}

.UIRSSReaderPortlet .RefreshBar a:hover{
	color: #000000;
	text-decoration: underline;
}

.UIRSSReaderPortlet .RefreshBar .SeparatorLine{
	background: url('DefaultSkin/background/SeparatorLine.gif') repeat-y ;
	width: 2px; height: 18px;
	margin: 2px 5px 0px 0px;
	float: left; 
}

.UIRSSReaderPortlet .RefreshBar .LeftRefreshBar{
	background: url('/eXoVistaSkin/skin/VistaSkin/skinIcons/16x16/icons/Refresh1.png') no-repeat left center;
	height: 22px;
	padding-left: 25px;
	float: left;
}

.UIRSSReaderPortlet .UIContentWorkingArea .NewsDetailContainer {
  padding: 5px 7px;
  margin:2px 0px;
  border: 1px solid #cdcdcd;
  background: #f4f4f4;
}

.UIRSSReaderPortlet  .UIContentWorkingArea .NewsDetail {
  border: 1px solid #cdcdcd;
  padding: 10px 10px 5px 5px;
  margin: 3px 0px;
  background: white url('VistaSkin/background/NewsDetailBG.gif') repeat-x center top;
}

.UIRSSReaderPortlet .UIContentWorkingArea .ContentDetailTitle a {
	color: #006da3 ;
	font-size: 15px ;
}

.UIRSSReaderPortlet .UIContentWorkingArea .ContentDetailTitle a:hover {
	color: #058ee6;
}

.UIRSSReaderPortlet .UIContentWorkingArea .HeadlineImage {
	float: left ;
	padding: 5px ;
}

.UIRSSReaderPortlet .UIContentWorkingArea .UIFormWithTitle {
	width: 460px;
	margin: 0px auto;
}

.UIRSSReaderPortlet .UIContentWorkingArea .UIFormWithTitle .UIAction{
	width: 180px;
}

.UIRSSReaderPortlet .UIContentWorkingArea .DateTime {
	color: #5d5d5e;
	padding: 10px 5px 3px 5px;
	text-align: right;
}

.UIRSSReaderPortlet .UIContentWorkingArea .ContentDetailImageDescription {
	color: #1d28fb ;
	text-align: center ;
}

.UIRSSReaderPortlet .UIContentWorkingArea .HeadlineNews {
	padding: 2px 10px 2px 15px;
}

.UIRSSReaderPortlet .UIContentWorkingArea .HeadlineNews a{
	color: #0548ac ;
}

.UIRSSReaderPortlet .UIContentWorkingArea .HeadlineNews a:hover{
	color: #058ee6;
}