.UIWidgets {
	padding: 10px 0px 0px 0px;
}

.UIWidgets .ItemSelectorContainer .EditIcon {
	float: left;
	width: 28px; height: 25px;
	background: url('background/EditWidgetCategoryButton.png') no-repeat right;
	cursor: pointer;
}

.UIWidgets .ItemSelectorContainer .UIDropDownControl{
	width: 208px;
	float: left;
}

.UIWidgets .ItemSelectorContainer .UIDropDownControl .UIDropDownRightTitle {
	background: none;
	padding-right: 0px;
}

.UIWidgets .WidgetDecorator {
	width: 230px;
	margin-left: 2px;
	border: 1px white solid;
}

.UIWidgets .WidgetDecorator .WidgetsDecoratorBackground{
	padding: 5px;
	border: 1px #5a8ac1 solid;
	background: url('background/WidgetDecoratorBG1x85.png') repeat-x bottom;
}

.UIWidgets .UIDropDownControl .DropDownSelectLabel {
	width: 96%;
	overflow: hidden;
}

/***************************************  UIWidgetContainer   **************************************/
.UIWidgetContainer {
}

.UIWidgetContainer .WidgetContainerScrollArea {
	overflow: hidden ;	
}

.UIWidgetContainer .WidgetNavigator {
	height: 33px;
	width: 117px;
	float: right;
}

.UIWidgetContainer .LeftWidgetNavBar {
	height: 33px;
	background: url('background/UIWidgets.png') no-repeat left top;
	padding-left: 15px;	
}

.UIWidgetContainer .RightWidgetNavBar {
	height: 33px;
	background: url('background/UIWidgets.png') no-repeat right -33px;
	padding-right: 17px;	
}

.UIWidgetContainer .CenterWidgetNavBar {
	height: 33px;
	background: url('background/UIWidgets.png') repeat-x center -66px;
}

.UIWidgetContainer .WidgetNavigator .Icon{
	height: 22px;
	width: 22px;
	float: left;
	margin: 4px 0px 0px 4px;
	cursor: pointer;
}	

.UIWidgetContainer .WidgetNavigator .DisableScrollDownButton{
	background: url('background/UIWidgetIcons.gif') no-repeat top;
}

.UIWidgetContainer .WidgetNavigator .ScrollDownButton{
	background: url('background/UIWidgetIcons.gif') no-repeat center -22px;
}

.UIWidgetContainer .WidgetNavigator .ScrollUpButton{
	background: url('background/UIWidgetIcons.gif') no-repeat center -44px;
}

.UIWidgetContainer .WidgetNavigator .DisableScrollUpButton{
	background: url('background/UIWidgetIcons.gif') no-repeat center -66px;
}

.UIWidgetContainer .WidgetNavigator .AddWidgetButton{
	background: url('background/UIWidgetIcons.gif') no-repeat center -88px;
}

/***************************************  UIWidget   **************************************/

.UIWidget .WidgetControlBar {
  float: right;
	width: 100px; height: 23px;
	padding-right: 3px;
}

.UIWidget .WidgetControl {
	width: 100px; height: 23px;
}

.UIWidget .WidgetApplication {
	padding: 0px 0px 5px 0px;
}

.UIWidget .WidgetControl .LeftControlBar{
	height: 23px;
	background: url('background/UIWidgets.png') no-repeat left -99px;	
	padding-left: 10px;
}

.UIWidget .WidgetControl .RightControlBar{
	height: 23px;
	background: url('background/UIWidgets.png') no-repeat right -122px;	
	padding-right: 10px;
}

.UIWidget .WidgetControl .CenterControlBar{
	height: 23px;
	background: url('background/UIWidgets.png') repeat-x bottom;	
}

.UIWidget .WidgetControl .WidgetDragHandleArea {
	float: left;
	width: 19px; height: 13px;
	cursor: move;
	margin: 4px 3px 0px 3px;
	background: url('background/WidgetDragArea2x2.gif');
}

.UIWidget .WidgetControl .SeparatorLine {
	float: left;
	width: 2px; height: 15px;
	margin: 3px 3px 0px 3px;
	background: url('background/SeparatorLine2x1.gif') repeat-y;
	
}

.UIWidget .WidgetControl .EditWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 3px 4px 0px 2px;
	background: url('background/UIWidgetIcons.gif') no-repeat left -110px;	
}

.UIWidget .WidgetControl .CloseWidgetIcon {
	float: left;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 3px 0px 0px 2px;
	background: url('background/UIWidgetIcons.gif') no-repeat left bottom;
}
