.UIChangeSkinForm {	
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemListContainer {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 175px; 
}

.UIChangeSkinForm .UIItemSelector .RightColumnStyle .ItemDetailList {
	margin: 0px 0px 0px 180px; /* orientation=lt */
	margin: 0px 180px 0px 0px; /* orientation=rt */
	padding: 0px; 
}

.UIChangeSkinForm .UIItemSelector .ItemDetail .TemplateContainer {
	padding-top: 25px; 
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .DefaultImage {
	margin: auto; 
	width: 329px; height:204px; 
	background: url('background/ChangeSkinForm.jpg') no-repeat top; 
	cursor: pointer ; 
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .MacImage {
	margin: auto; 
	width: 329px; height: 204px; 
	background: url('background/ChangeSkinForm.jpg') no-repeat center -206px; 
	cursor: pointer ; 
}

.UIChangeSkinForm .UIItemSelector .TemplateContainer .VistaImage {
	margin: auto; 
	width: 329px; height: 204px; 
	background: url('background/ChangeSkinForm.jpg') no-repeat center -412px; 
	cursor: pointer ; 
}

.UIChangeSkinForm .UIItemSelector .ItemListContainer .ItemList {
	background: white url('background/ItemListBg167x127.gif') no-repeat bottom ; 
}

.UIChangeSkinForm .UITabPane .TabPaneContent .UITabContentContainer { 
	border: 1px solid #d4d4d4; 
	border-top: none; 
}

.UIChangeSkinForm .UITabPane .UITabContentContainer .UITabContent {
	border: 1px solid white; 
	border-top: none; 
}

.UIChangeSkinForm .UITabPane .TabPaneContent {
	padding: 0px; 
}