.UIWelcomeWidget {
}

.UIWelcomeWidget .LoggedDecorator {
	margin: 1px 0px 8px 0px;
}

.UIWelcomeWidget .LoggedDecorator .LeftTopLoggedDecorator {
	background: url('DefaultSkin/background/LeftTopDecorator6x6.gif') no-repeat left top;
	padding: 0px 0px 0px 6px;
}

.UIWelcomeWidget .LoggedDecorator .RightTopLoggedDecorator {
	background: url('DefaultSkin/background/RightTopDecorator6x6.gif') no-repeat right top;
	padding: 0px 6px 0px 0px;
}

.UIWelcomeWidget .LoggedDecorator .CenterTopLoggedDecorator {
	background: url('DefaultSkin/background/CenterTopDecorator1x6.gif') repeat-x top;
	height: 6px;
}

.UIWelcomeWidget .LoggedDecorator .LeftMiddleLoggedDecorator {
	padding: 0px 0px 0px 6px;
	background: url('DefaultSkin/background/LeftMiddleDecorator6x1.gif') repeat-y left;
}

.UIWelcomeWidget .LoggedDecorator .RightMiddleLoggedDecorator {
	padding: 0px 6px 0px 0px;
	background: url('DefaultSkin/background/RightMiddleDecorator6x1.gif') repeat-y right;
}

.UIWelcomeWidget .LoggedDecorator .LeftBottomLoggedDecorator {
	padding: 0px 0px 0px 6px;
	background: url('DefaultSkin/background/LeftBottomDecorator6x6.gif') no-repeat left bottom;
}

.UIWelcomeWidget .LoggedDecorator .RightBottomLoggedDecorator {
	padding: 0px 6px 0px 0px;
	background: url('DefaultSkin/background/RightBottomDecorator6x6.gif') no-repeat bottom right;
}

.UIWelcomeWidget .LoggedDecorator .CenterBottomLoggedDecorator {
  height: 6px;
	background: url('DefaultSkin/background/CenterBottomDecorator1x6.gif') repeat-x bottom;
}

.UIWelcomeWidget .LoggedDecorator .DecoratorBackground{
  width: auto; height: auto;
  background: url('DefaultSkin/background/LoggedDecoratorBackground.gif') center;
}

.UIWelcomeWidget .StyleContent .AvatarContainer {
	float: left;
	width: 75px; height: 88px;
	padding: 12px 0px 0px 10px;
}

.UIWelcomeWidget .AvatarContainer .AvatarImage {
	width: 63px; height: 70px;
	background: url('DefaultSkin/background/AvatarImage63x70.gif') no-repeat center;
	border: solid 1px #ffffff;
}

.UIWelcomeWidget .StyleContent .WelcomeBox {
	margin: 0px 0px 0px 90px;
}

.UIWelcomeWidget .StyleContent .UserWelcomeBox {
  padding: 5px 0px 7px 0px;
  line-height: 30px; 
  height: 60px;
}

.UIWelcomeWidget .StyleContent .UserWelcomeBox .StateMessage {
  font-size: 11px; 
  text-align: center;
  line-height: 25px; 
}

.UIWelcomeWidget .StyleContent .UserWelcomeBox .LoggedUserName {
  color: white ;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 11px;
}

.UIWelcomeWidget .StyleContent .LabelSignout {
	text-align: center;
	color: #f98e03;
	font-weight: bold; font-size: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.UIWelcomeWidget .StyleContent .UserLabel {
	text-align: center;
	font-weight: bold; font-size: 11px;
	line-height: 20px;
}

.UIWelcomeWidget .StyleContent .UserLabel span {
	text-align: center;
	font-weight: bold; font-size: 11px;
	line-height: 20px;
	color: #f98e03;
}

/****************************** Icon *********************************/
