@import url(control/Stylesheet.css) ;
@import url(customization/Stylesheet.css) ;
@import url(view/Stylesheet.css) ;
@import url(widget/Stylesheet.css) ;
div {
	padding:	0px ; margin: 0px ;
	outline: none;
}

table {
  width: 100% ;
	padding: 0px ; margin: 0px ;
	border-spacing:	0px ;
	border-collapse: collapse ;
}

th, td {
	padding: 0px ; margin: 0px ;
	vertical-align: top;
}

img {
	padding: 0px ; margin: 0px ; border: none ; vertical-align: middle;
}

form {
	padding: 0px ; margin: 0px ;
}

html {
	margin: 0px ; padding: 0px;
	*overflow-x: hidden;
}

body {
	background: #ebedf2;
	margin: 0px ; padding: 0px;
	font-family: Tahoma,Verdana, Arial, Helvetica, sans-serif ;
	font-size: 11px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: black;
}
/*###############################################################################################*/
.OverflowContainer {
	overflow: hidden;
	width: 100%;
}

.LeftBlock {
	float: left;		/* orientation=lt */
	float: right;		/* orientation=rt */
}

.RightBlock {
	float: right;		/* orientation=lt */
	float: left;		/* orientation=rt */
}

.InlineContainer {
	overflow: hidden;
}

.InlineLeft {
	float:left;
}

.InlineRight {
	float:right;
}

.AjaxLoadingMask {
  width: 180px; height: 110px;
  background: white;
  border: 1px solid #66667e;
  padding: 1px;
}

.AjaxLoadingMask .LoadingContainer {
  height: 108px;
  background: #ffffff;
  border: solid 1px #a8a9bb;
}

.AjaxLoadingMask .LoadingText {
  text-align: center;
  padding: 10px 0px 5px 0px;
}

.AjaxLoadingMask .LoadingProgressBar {
  width: 32px ; height: 40px ;
  background: url('../../../background/LoadingProgress.gif') no-repeat center ;
  margin: auto ;
}

.AjaxLoadingMask .UIAction .ActionButton{
  float: none;
}

.FloatLeft {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.FloatRight {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.ClearLeft {
  clear: left; /* orientation=lt */
  clear: right; /* orientation=rt */
}

.ClearRight {
  clear: right; /* orientation=lt */
  clear: left; /* orientation=rt */
}

.ClearBoth {
  clear: both;
}