.UIGroupInfoContainer {
}

.UIGroupInfoContainer .HorizontalLayout {
	border: solid 1px gray;
	padding: 4px;
}

.UIGroupInfoContainer .UIGroupMembershipForm .HorizontalLayout {
	border: solid 1px #BEC1C7;
	padding: 4px;
}

.UIGroupInfoContainer .HorizontalLayout .FormContainer {
	background: #ffffff;
	border: solid 1px #b7b7b7;
	padding: 10px;
}

.UIGroupInfoContainer .TitleBar {
	font-weight: bold;
	padding: 0px 0px 0px 15px;
	font-size: 11px;
	line-height: 20px;
}

.UIGroupInfoContainer .TitleBar {
	font-weight: bold;
	padding: 0px 0px 0px 15px;
	font-size: 11px;
	line-height: 29px;
	border: 1px solid #b7b7b7; border-top: none; border-bottom: none;
	background: url(VistaSkin/background/Style2BarM1x29.gif) repeat-x;
}

.UIGroupInfoContainer .UIGroupMembershipForm .TitleBar {
	font-weight: normal;
	background: url(VistaSkin/background/TitleBG1x23.gif) repeat-x ;
	line-height: 23px;
	border: 1px solid #b7b7b7;
	margin: 0px;
}
