.UIGroupInfoContainer {
}

.UIGroupInfoContainer .HorizontalLayout {
	border: solid 1px gray;
	padding: 4px;
}

.UIGroupInfoContainer .UIGroupMembershipForm .HorizontalLayout {
	border: solid 1px #BEC1C7;
	padding: 4px;
}

.UIGroupInfoContainer .HorizontalLayout .FormContainer {
	background: #ffffff;
	border: solid 1px #b7b7b7;
	padding: 10px;
}

.UIGroupInfoContainer .TitleBar {
	font-weight: bold;
	padding: 0px 0px 0px 15px;
	font-size: 11px;
	line-height: 20px;
}

.UIGroupInfoContainer .UIGroupMembershipForm .TitleBar {
	font-weight: normal;
}