.UIToolbar .ToolbarContainer {
}

.UIToolbar .Button {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	cursor: pointer;
}

.UIToolbar .Button .ButtonLabel {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIToolbar .HorizontalSeparator {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 2px; height: 30px;
	background: url('background/GrayLine2x2.gif') repeat-y;
	margin: 7px 10px 0px 10px;
}

/*##############################- LargeToolbar style -#########################*/

.UIToolbar .LargeToolbar {
	height: 64px; line-height: 64px;
	margin-bottom: 3px;
}

.UIToolbar .LargeToolbar .LeftToolbar {
	height: 64px; 
	line-height: 64px;
	background: url('background/LargeToolbar.gif') no-repeat left top; /* orientation=lt */
	background: url('background/LargeToolbar-rt.gif') no-repeat left top; /* orientation=rt */
	padding-left: 8px; /* orientation=lt */
	padding-left: 94px; /* orientation=rt */
}

.UIToolbar .LargeToolbar .RightToolbar {
	height: 64px; 
	line-height: 64px;
	background: url('background/LargeToolbar.gif') no-repeat right top; /* orientation=lt */
	background: url('background/LargeToolbar-rt.gif') no-repeat right top; /* orientation=rt */
	padding-right: 94px; /* orientation=lt */
	padding-right: 8px; /* orientation=rt */
}

.UIToolbar .LargeToolbar .MiddleToolbar {
	height: 64px;
	line-height: 64px; 
	background: url('background/LargeToolbar.gif') repeat-x left -64px;
}

.UIToolbar .LargeToolbar a {
	color: black; font-weight: bold;
	padding: 0px 3px 0px 3px;
	cursor: pointer;
}

.UIToolbar .LargeToolbar a:hover{
	color: #1043b1;
}

.UIToolbar .LargeToolbar .SelectButtonLabel {
	line-height: 18px;
	color: #058ee6;
}

.UIToolbar .LargeToolbar .HorizontalSeparator {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 8px 0px 10px;
	width: 2px; height: 50px;
}

.UIToolbar .LargeToolbar .UserButton {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-top: 3px;
	cursor: pointer;
	width: 120px;
}

.UIToolbar .LargeToolbar .GroupButton {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-top: 3px;
	cursor: pointer;
	width: 130px;
}

.UIToolbar .LargeToolbar .MembershipButton {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	padding-top: 3px;
	cursor: pointer;
	width: 170px;
}

.UIToolbar .LargeToolbar .ButtonLabel {
	height: 18px; 
	line-height: 18px;
	padding-left: 10px;
}

.UIToolbar .LargeToolbar .ManagementIconContainer {
	padding-top: 4px;
	margin-left: 5px;
}

.UIToolbar .LargeToolbar .UserManagementIcon {
	width: 32px; height: 32px; 
	background: url('background/LargeToolbar.gif') no-repeat left -128px;
	margin: auto;
}

.UIToolbar .LargeToolbar .GroupManagementIcon {
	width: 32px; height: 32px; 
	background: url('background/LargeToolbar.gif') no-repeat -32px -128px;
	margin: auto;
}

.UIToolbar .LargeToolbar .MembershipManagementIcon {
	width: 32px; height: 32px; 
	background: url('background/LargeToolbar.gif') no-repeat -64px -128px;
	margin: auto;
}

/*##############################- BlueLargeToolbar style -#########################*/

.UIToolbar .BlueLargeToolbar {
	height: 61px;
}

.UIToolbar .BlueLargeToolbar .LeftToolbar {
	background: url('background/BlueLargeToolbar.gif') no-repeat left top;
	padding-left: 5px;
}

.UIToolbar .BlueLargeToolbar .RightToolbar {
	background: url('background/BlueLargeToolbar.gif') no-repeat right top;
	padding-right: 5px;
}

.UIToolbar .BlueLargeToolbar .MiddleToolbar {
	height: 61px;
	background: url('background/BlueLargeToolbar.gif') repeat-x center -61px;
}

.UIToolbar .BlueLargeToolbar a {
	color: #7e9bc9; font-weight: bold;
	padding: 0px 5px 0px 5px;
	cursor: pointer;
}

.UIToolbar .BlueLargeToolbar a:hover {
	color: #003c7f;
}

.UIToolbar .BlueLargeToolbar .SelectItemButton .LablelIcon {
	filter: alpha(opacity=100);
	-moz-opacity: 1.0;
}

.UIToolbar .BlueLargeToolbar .SelectItemButton .ButtonLabel {
	line-height: 18px;
	color: #003c7f;
}

.UIToolbar .BlueLargeToolbar .HorizontalSeparator {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 0px 8px 0px 10px;
	margin: 0px 10px 0px 8px;
	width: 2px; 
	height: 48px;
	background: url('background/BlueLargeToolbar.gif') no-repeat -6px top;
}

.UIToolbar .BlueLargeToolbar .ButtonLabel {
	height: 20px; 
	line-height: 20px;
}

.UIToolbar .BlueLargeToolbar .ManagementIconContainer {
	padding-top: 4px;
	margin-left: 5px;
}

.UIToolbar .BlueLargeToolbar .ItemButton {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	text-align: center;
	padding: 5px;
	width: 150px;
}

.UIToolbar .BlueLargeToolbar .LablelIcon {
	width: 32px; height: 26px; 
	margin: auto;
	background-image: url('background/BlueLargeToolbar.gif');
	background-repeat: no-repeat;
}

.UIToolbar .BlueLargeToolbar .OrganizeIcon {
	background-position: center -122px;
}

.UIToolbar .BlueLargeToolbar .PorletIcon {
	background-position: center -148px;
}

.UIToolbar .BlueLargeToolbar .GadgetIcon {
	background-position: center -174px;
}

/*
 * minh.js.exo
*/
 
/*#################################- LightToolbar -##############################*/

.UIToolbar .LightToolbar {
	height: 33px;
	margin-top: 3px;
}

.UIToolbar .LightToolbar .LeftBar {
	padding-left: 3px;
	background: url('background/LightToolbar.gif') no-repeat left top;
}

.UIToolbar .LightToolbar .RightBar {
	padding-right: 3px;
	background: url('background/LightToolbar.gif') no-repeat right top;
}

.UIToolbar .LightToolbar .MiddleBar {
	height: 33px;	line-height: 33px;
	background: url('background/LightToolbar.gif') repeat-x bottom;
}

/*#################################- EditToolbar -##############################*/

.UIToolbar .EditToolbar {
	height: 31px;
	padding: 0px 10px 0px 10px;
}

.UIToolbar .EditToolbar .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	cursor: pointer;
}

.UIToolbar .EditToolbar .LeftBar {
	background: url('background/EditToolbar.gif') no-repeat left top;
	padding-left: 2px;
	height: 30px;
}

.UIToolbar .EditToolbar .RightBar {
	padding-right: 2px;
	height: 30px;
	background: url('background/EditToolbar.gif') no-repeat right top;
}

.UIToolbar .EditToolbar .MiddleBar {
	height: 30px; line-height: 30px;
	background: url('background/EditToolbar.gif') repeat-x left -30px;
}



.UIToolbar .EditToolbar .EditContainerIcon {
	width: 27px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -60px;
}

.UIToolbar .EditToolbar .EditPortletIcon {
	width: 27px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -83px;
}

.UIToolbar .EditToolbar .EditPortalIcon { 
	width: 27px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -106px;
}

.UIToolbar .EditToolbar .LayoutModeIcon {
	width: 27px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -129px;
}

.UIToolbar .EditToolbar .PreviewIcon {
	width: 27px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -152px;
}

.UIToolbar .EditToolbar .SavePortalIcon {
	width: 21px; height: 23px;
	background: url('background/EditToolbar.png') no-repeat left -175px;
}

.UIToolbar .EditToolbar .EditPageIcon {
	width: 24px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -194px;
}

.UIToolbar .EditToolbar .PageLayoutModeIcon {
	width: 24px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -217px;
}

.UIToolbar .EditToolbar .PagePreviewIcon {
	width: 24px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -241px;
}

.UIToolbar .EditToolbar .SavePageIcon {
	width: 24px; height: 23px;
	background: url('background/EditToolbar.gif') no-repeat left -264px;
}

/*#################################- ControlToolbar -##############################*/

.UIToolbar .ControlToolbar {
	margin: 10px 2px 0px 95px; /* orientation=lt */
	margin: 10px 95px 0px 2px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .LeftBar {
	padding-left: 12px; /* orientation=lt */
	padding-right: 12px; /* orientation=rt */
	background: url('background/ControlToolbar.gif') no-repeat left top; /* orientation=lt */
	background: url('background/ControlToolbar-rt.gif') no-repeat right top; /* orientation=rt */
}

.UIToolbar .ControlToolbar .RightBar {
	padding-right: 1px; /* orientation=lt */
	padding-left: 1px; /* orientation=rt */
	background: url('background/ControlToolbar.gif') no-repeat right -27px; /* orientation=lt */
	background: url('background/ControlToolbar-rt.gif') no-repeat left -27px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .MiddleBar {
	height: 27px; line-height: 27px;
	background: url('background/ControlToolbar.gif') repeat-x left -27px; /* orientation=lt */
	background: url('background/ControlToolbar-rt.gif') repeat-x right -27px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .SeparateLine{
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 2px; height: 20px;
	background: url('background/SeparateLine2x1.gif') repeat-y;
	margin: 2px 2px 0px 3px;
}

.UIToolbar .ControlToolbar .Icon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 3px 4px 0px 4px; 
}

.UIToolbar .ControlToolbar .RollbackIcon {
	width: 24px; height: 20px;
	background: url('background/ControlToolbar.gif') no-repeat left -55px; /* orientation=lt */
	background: url('background/ControlToolbar-rt.gif') no-repeat left -55px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .BackIcon {
	width: 24px; height: 20px;
	background: url('background/ControlToolbar.gif') no-repeat left -178px; /* orientation=lt */
	background: url('background/ControlToolbar-rt.gif') no-repeat left -178px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .FinishIcon {
	width: 24px; height: 20px;
	background: url('background/ControlToolbar.gif') no-repeat left -76px; /* orientation=lt */
	background: url('background/ControlToolbar-rt.gif') no-repeat left -76px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .SaveIcon {
	width: 24px; height: 19px;
	background: url('background/ControlToolbar.gif') no-repeat left -96px; /* orientation=lt */
	background: url('background/ControlToolbar-rt.gif') no-repeat left -96px; /* orientation=rt */
}

.UIToolbar .ControlToolbar .AbortIcon {
	width: 24px; height: 20px;
	background: url('background/ControlToolbar.gif') no-repeat left -116px; /* orientation=lt */
	background: url('background/ControlToolbar-rt.gif') no-repeat left -116px; /* orientation=rt */
}

/*#################################- HeaderToolbar-##############################*/

.UIToolbar .HeaderToolbar {
	height: 31px;
}

.UIToolbar .HeaderToolbar .LeftBar {
	padding-left: 7px;
	background: url('background/HeaderToolbar.gif') no-repeat left top;
}

.UIToolbar .HeaderToolbar .RightBar {
	padding-right: 7px;
	background: url('background/HeaderToolbar.gif') no-repeat right top;
}

.UIToolbar .HeaderToolbar .CenterBar {
	height: 31px; line-height: 31px;
	background: url('background/HeaderToolbar.gif') repeat-x left -31px;
}

