.UIWindow .UIBrowserPortlet {
	margin: 0px;
	border: none;
}

.UIBrowserPortlet {
	border: solid 1px #C6C6C6;
  margin: 7px 10px 10px;
  background: white;
}

.UIBrowserPortlet .UIToolbar {
	border-bottom: solid 1px gray;
	padding: 3px 0px 3px 5px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") repeat-x ;
	width: 99%;
	margin: auto;
}

.UIBrowserPortlet .ButtonContainer {
	float: left;
}

.UIBrowserPortlet .ToolbarButton {
	float: left;
	width: 32px; height: 24px;
	cursor: pointer;
}

.UIBrowserPortlet .ToolbarButtonOver {
	float: left;
	width: 32px; height: 24px;
	cursor: pointer;
	background: #d8d8d8;
}

.UIBrowserPortlet .Separators {
	float: left;
	width: 2px; height: 24px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -20px;
	margin-right: 5px;
}

.UIBrowserPortlet .TabContainer .Separator {
	float: left;
	width: 2px; height: 20px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -117px;
}

.UIBrowserPortlet .TabContainer .SeparatorRight {
	float: left;
	width: 2px; height: 20px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -117px;
}

.UIBrowserPortlet .BackButton {
	float: left;
	width: 24px; height: 24px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat bottom;
	margin-left: 6px;
}

.UIBrowserPortlet .FowardButton {
	width: 24px; height: 24px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -422px;	
	margin-left: 6px;
}

.UIBrowserPortlet .RefreshButton{
	width: 24px; height: 24px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -372px;
	margin-left: 5px;
}

.UIBrowserPortlet .StopButton {
	width: 24px; height: 24px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -320px;
	margin-left: 5px;
}

.UIBrowserPortlet .RightAddressBarContainer {
	margin: 0px 0px 0px 140px;
	padding: 1px 0px 0px 0px;
}

.UIBrowserPortlet .StatusButton {
  float: right;
	width: 32px; height: 24px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -346px;
	margin-left: 6px;
}

.UIBrowserPortlet .GoButton {
  float: right;
  height: 16px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -230px;
	cursor: pointer;
	line-height: 16px;
	padding: 0px 5px 0px 25px;
	margin-top: 2px;
}

.UIBrowserPortlet .RightAddressBarContainer a:hover {
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -230px;
}

.UIBrowserPortlet .AddressBarContainer {
  height: 18px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") white no-repeat left -265px;
	padding: 0px 2px 0px 22px;
	margin: 1px 5px 0px 0px;
	border: inset 1px gray;
	overflow-y:hidden ;
}

.UIBrowserPortlet .ArrowDownButton {
  float: right;
	width: 16px; height: 16px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -284px;
}

.UIBrowserPortlet .TextBox {
  border: 0px ;
	margin: 0px 17px 0px 0px;
}

.UIBrowserPortlet .BrowserContent {
  width: 99.5%;
  margin: auto;
}

.UIBrowserPortlet .TabBackground {
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") repeat-x center -54px;
	padding: 0px 0px 0px 5px;
	border-bottom: solid 1px gray;
	width: 99.5%;
}

.UIBrowserPortlet .TabContainer {
	overflow: hidden;
	margin: 0px 5px 0px 0px;
}

.UIBrowserPortlet .TabMenuItem {
  float: left;
  height: 20px;
}

.UIBrowserPortlet .ActiveTabDetailBackground {
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") repeat-x center -96px;
}

.UIBrowserPortlet .TabDetailBackground {
}

.UIBrowserPortlet .TabLabel {
  width: 150px; height: 18px; line-height: 18px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -193px;
	padding: 2px 5px 0px 21px; 
}

.UIBrowserPortlet .ActiveTabDetailBackground .TabDetail {
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -193px;
}

.UIBrowserPortlet .TabSeparator {
  float: left;
	width: 2px; height: 20px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -20px;
}

.UIBrowserPortlet .TabContent {
	width: 100%;
  height: 296px;
}

.UIBrowserPortlet .TabDetail {
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 18px;
	cursor: pointer;
}

.UIBrowserPortlet .CloseButton {
  float: right;
	width: 18px; height: 20px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -210px;
	cursor: pointer;
}

.UIBrowserPortlet .ActiveCloseButton {
  float: right;
	width: 18px; height: 20px;
	cursor: pointer;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -300px;
}

.UIBrowserPortlet .NewTabButtonOver {
  float: left;
	width: 30px; height: 20px;
	cursor: pointer;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") repeat-x center -74px;
}

.UIBrowserPortlet .NewTabButton {
  float: left;
	width: 30px; height: 20px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") repeat-x center -74px;
	cursor: pointer;
}

.UIBrowserPortlet .RightNewTab {
  height: 20px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat right -33px;
}

.UIBrowserPortlet .MiddleNewTab {
	height: 20px;
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -174px ;
}

.UIBrowserPortlet .ClipTabIcon {
	float: right ;
	width: 20px ; height: 20px ;	
	background: url("DefaultSkin/background/UIBrowserPortlet.gif") no-repeat left -20px ;
	cursor: pointer ;
}

.UIBrowserPortlet .IFrame {
	width: 100%;	height: 100% ;
	border: solid 0px gray ;
}
