/*##########################################################*/
.UIPageDesktop .UIWindow {
  width: 720px ;	
}

.UIPageDesktop .UIWindow .UIAccountPortlet{
  margin: 0px ;
  border: none;
}

/*##########################################################*/

.UIWindow .WindowPortletControl {
  float: right ;
  height: 24px ;
  padding-top:4px;
}

.UIPageDesktop .UIWindow .WindowPortletInfo {
  height: 24px ;
  margin-right: 100px ;
  cursor: move ;
}

.UIWindow .WindowPortletInfo .Icon {
  float: left;
  width: 19px; height: 19px;
  margin: 8px 8px 0px 0px;
}

.UIWindow .WindowPortletInfo .PortletName {
  float: left ;
  margin-top: 10px ;
  font-size: 11px ;
}

.UIWindow .WindowPortletInfo .PortletIcon {
  float: left ;
  width: 16px ; height: 16px ;
  background: url('VistaSkin/icons/16x16/PortletIcon.png') no-repeat ;
  margin: 9px 5px 0px 5px ;
}

.UIWindow .WindowPortletControl .ControlIcon {
  float: left;
  width: 30px ; height:19px ;
  cursor: pointer ;  
}

.UIWindow .WindowPortletControl .ArrowDownIcon {
  background: url('VistaSkin/icons/16x16/ArrowDown.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverArrowDownIcon {
  background: url('VistaSkin/icons/16x16/ArrowDownOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .MinimizedIcon {
  background: url('VistaSkin/icons/16x16/Minimize.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverMinimizedIcon {
  background: url('VistaSkin/icons/16x16/MinimizeOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .MaximizedIcon {
  background: url('VistaSkin/icons/16x16/Maximize.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverMaximizedIcon {
  background: url('VistaSkin/icons/16x16/MaximizeOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .RestoreIcon {
  background: url('VistaSkin/icons/16x16/Restore.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverRestoreIcon {
  background: url('VistaSkin/icons/16x16/RestoreOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .NormalIcon {
  background: url('VistaSkin/icons/16x16/Restore.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverNormalIcon {
  background: url('VistaSkin/icons/16x16/RestoreOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .CloseButtonIcon {
  background: url('VistaSkin/icons/16x16/CloseOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverCloseButtonIcon {
  background: url('VistaSkin/icons/16x16/CloseOver.png') no-repeat ;
}

.UIWindow .Information {
  margin-right: 18px ;
  padding-left: 5px ;
  height: 18px ; line-height: 18px ;
  vertical-align: middle ; font-size: 10px ;
}

.UIWindow .MiddleDecoratorCenter {
  /*background: url('VistaSkin/background/PortletWindowBG1x1.png');*/
  background: #ffffff;
  border: solid 1px #717171;
}

.UIPageDesktop .UIWindow .ResizeArea {
  float: right ;
  width: 9px ; height: 12px ;
  cursor: nw-resize ;
  background: url('VistaSkin/icons/16x16/ResizeBG.gif') no-repeat bottom right;
}

.UIWindow .MiddleDecoratorLeft {
  padding-left:12px ;
  background: url('VistaSkin/background/LeftMiddleDecorator12x1.png') repeat-y left ;
}

.UIWindow .MiddleDecoratorRight {
  padding-right: 13px ;
  background: url('VistaSkin/background/RightMiddleDecorator13x1.png') repeat-y right ;
}

.UIPageBody .MiddleDecoratorCenter {
  background: #ffffff;
}

.UIWindow .BottomDecoratorLeft {
  height: 24px ;
  padding-left:12px ;
  background: url('VistaSkin/background/LeftBottomDecorator12x24.png') no-repeat left ;
}

.UIWindow .BottomDecoratorRight {
  height: 24px ;
  padding-right: 13px ;
  background: url('VistaSkin/background/RightBottomDecorator13x24.png') no-repeat right ;
}

.UIWindow .BottomDecoratorCenter {
  height: 24px ;
  background: url('VistaSkin/background/CenterBottomDecorator1x24.png') repeat-x ;
}

.UIWindow .WindowPortletInfo .PortletName {
  float: left ;
  margin: 10px 0px 0px 3px;
  font-size: 11px ; font-weight: bold;
}

.UIWindow .WindowBarLeft {
  height: 29px ; 
  padding-left: 12px ;
  background: url('VistaSkin/background/LeftTopBar12x29.png') no-repeat left ;
}

.UIWindow .WindowBarRight {
  height: 29px ;
  padding-right: 16px ;
  background: url('VistaSkin/background/RightTopBar16x29.png') no-repeat right ;
}

.UIWindow .WindowBarCenter {
  height: 29px ;
  background: url('VistaSkin/background/CenterTopBar1x29.png') repeat-x ;
}
/*
.UIWindow .UITestFormPortlet {
	overflow: auto;
}

.UIWindow .UIAddPortletPortlet {
	overflow: auto;
}
*/
/**************************** UIPageBody ************************************/

.UIPageBody .UIWindow {
  width: auto ; height: auto;
}

.UIPageBody .UIWindow .UIContentPortlet{
  border: none;
  margin: 0px;
}

.UIPageBody .UIWindow .UIApplication {
  height: auto ;
  overflow: hidden;
}

.UIPortal .VIEW-PORTLET .UIWindow {
  width:100% ; height: auto;
  margin: auto; 
}

.UIPageBody .WindowPortletControl {
  float: right ;
  height: 24px ;
}

.UIPageBody .UIWindow .ResizeArea {
  float: right ;
  width: 0px ; height: 0px ;
  background: url('null') repeat bottom right;
}

/********************* Icon InfoBar ************************************/
.UIWindow .OrganizationPortletIcon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/AddNodeIcon.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Content {
  background: url('/eXoResources/icons/16x16/DefaultSkin/MiscIcons/RSS.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Account {
  background: url('/eXoResources/icons/16x16/DefaultSkin/UserAccount.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Registry-Portlet {
  background: url('/eXoResources/icons/16x16/DefaultSkin/RegistryPortlet.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Site {
  background: url('/eXoResources/icons/16x16/DefaultSkin/SiteMap.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Login {
  background: url('/eXoResources/icons/16x16/DefaultSkin/ToolIcons/Key.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Mail {
  background: url('/eXoResources/icons/16x16/DefaultSkin/OfficeIcons/Mail.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Forum {
  background: url('/eXoResources/icons/16x16/DefaultSkin/ForumIcon.gif') no-repeat center;
}


.UIWindow .WindowPortletInfo .ECM {
  background: url('/eXoResources/icons/16x16/DefaultSkin/ECMAdmin.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .JCR{
  background: url('/eXoResources/icons/16x16/DefaultSkin/JCRExplorer.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Dialog{
  background: url('/eXoResources/icons/16x16/DefaultSkin/DialogIcon.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Browse{
  background: url('/eXoResources/icons/16x16/DefaultSkin/BrowseContent.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Workflow{
  background: url('/eXoResources/icons/16x16/DefaultSkin/WorkflowIcon.gif') no-repeat center;
}
/********************* End Icon InfoBar ************************************/

