/*##########################################################*/
.UIPageDesktop .UIWindow {
  width: 720px ;	
}

.UIPageDesktop .UIWindow .UIApplication {
  height: 350px ;
}
/*
.UIWindow .UICommunityPortlet {
  overflow: auto ;
}

.UIWindow .UICompanyPortlet {
  overflow: auto ;
}

.UIWindow .UIOrganizationPortlet {
  overflow: auto ;
}

.UIWindow .UIContentPortlet {
	margin: 0px;
  overflow: auto ;
}

.UIWindow .UIPortletRegistryPortlet {
  overflow: auto ;
}

.UIWindow .UIAccountPortlet {
  overflow: auto ;
}

.UIWindow .UISitemapPortlet {
	overflow: auto ;
}

.UIWindow .UIFormTabPane {
  overflow: auto ;
}

.UIWindow .UISitemap {
	overflow: auto ;
}

.UIWindow .UIAddPortletPortlet {
	overflow: auto ;
}

.UIWindow .UITestFormPortlet {
	overflow: auto ;
}
*/
/*##########################################################*/

.UIWindow .WindowPortletControl {
  float: right ;
  height: 24px ;
}

.UIPageDesktop .UIWindow .WindowPortletInfo {
  height: 24px ;
  margin-right: 100px ;
  cursor: move ;
}

.UIWindow .WindowPortletInfo .Icon {
  float: left;
  width: 19px; height: 19px;
  margin: 4px 8px 0px 0px;
}

.UIWindow .WindowPortletInfo .PortletName {
  float: left ;
  margin-top: 8px ;
  font-size: 11px ;
}

.UIWindow .WindowPortletInfo .WindowPortletIcon {
  float: left ;
  width: 16px ; height: 16px ;
  background: url('VistaSkin/icons/16x16/PortletIcon.png') no-repeat ;
  margin: 5px 5px 0px 5px ;
}

.UIWindow .WindowPortletControl .ControlIcon {
  float: left;
  width: 30px ; height:19px ;
  cursor: pointer ;  
}

.UIWindow .WindowPortletControl .ArrowDownIcon {
  background: url('VistaSkin/icons/16x16/ArrowDown.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverArrowDownIcon {
  background: url('VistaSkin/icons/16x16/ArrowDownOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .MinimizedIcon {
  background: url('VistaSkin/icons/16x16/Minimize.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverMinimizedIcon {
  background: url('VistaSkin/icons/16x16/MinimizeOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .MaximizedIcon {
  background: url('VistaSkin/icons/16x16/Maximize.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverMaximizedIcon {
  background: url('VistaSkin/icons/16x16/MaximizeOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .RestoreIcon {
  background: url('VistaSkin/icons/16x16/Restore.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverRestoreIcon {
  background: url('VistaSkin/icons/16x16/RestoreOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .NormalIcon {
  background: url('VistaSkin/icons/16x16/Restore.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverNormalIcon {
  background: url('VistaSkin/icons/16x16/RestoreOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .CloseButtonIcon {
  background: url('VistaSkin/icons/16x16/CloseOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverCloseButtonIcon {
  background: url('VistaSkin/icons/16x16/CloseOver.png') no-repeat ;
}

.UIWindow .Information {
  margin-right: 18px ;
  padding-left: 5px ;
  height: 18px ; line-height: 18px ;
  vertical-align: middle ; font-size: 10px ;
}

.UIWindow .MiddleDecoratorCenter {
  /*background: url('VistaSkin/background/PortletWindowBG1x1.png');*/
  background: #ffffff;
  border: solid 1px #717171;
}

.UIPageDesktop .UIWindow .ResizeArea {
  float: right ;
  width: 9px ; height: 12px ;
  cursor: nw-resize ;
  background: url('VistaSkin/icons/16x16/ResizeBG.gif') no-repeat bottom right;
}

.UIWindow .MiddleDecoratorLeft {
  padding-left: 9px ;
  background: url('VistaSkin/background/LeftMiddleDecorator9x1.png') repeat-y left ;
}

.UIWindow .MiddleDecoratorRight {
  padding-right: 13px ;
  background: url('VistaSkin/background/RightMiddleDecorator13x1.png') repeat-y right ;
}

.UIPageBody .MiddleDecoratorCenter {
  background: #ffffff;
}

.UIWindow .BottomDecoratorLeft {
  height: 24px ;
  padding-left: 9px ;
  background: url('VistaSkin/background/LeftBottomDecorator9x24.png') no-repeat left ;
}

.UIWindow .BottomDecoratorRight {
  height: 24px ;
  padding-right: 13px ;
  background: url('VistaSkin/background/RightBottomDecorator13x24.png') no-repeat right ;
}

.UIWindow .BottomDecoratorCenter {
  height: 24px ;
  background: url('VistaSkin/background/CenterBottomDecorator1x24.png') repeat-x ;
}

.UIWindow .WindowPortletInfo .PortletName {
  float: left ;
  margin: 7px 0px 0px 3px;
  font-size: 11px ; font-weight: bold;
}

.UIWindow .WindowBarLeft {
  height: 25px ; 
  padding-left: 11px ;
  background: url('VistaSkin/background/LeftTopBar11x25.png') no-repeat left ;
}

.UIWindow .WindowBarRight {
  height: 25px ;
  padding-right: 16px ;
  background: url('VistaSkin/background/RightTopBar16x25.png') no-repeat right ;
}

.UIWindow .WindowBarCenter {
  height: 25px ;
  background: url('VistaSkin/background/CenterTopBar1x25.png') repeat-x ;
}
/*
.UIWindow .UITestFormPortlet {
	overflow: auto;
}

.UIWindow .UIAddPortletPortlet {
	overflow: auto;
}
*/
/**************************** UIPageBody ************************************/

.UIPageBody .UIWindow {
  width: auto ; height: auto;
}

.UIPageBody .UIWindow .UIApplication {
  height: auto ;
  overflow: hidden;
}

.UIPageBody .WindowPortletControl {
  float: right ;
  height: 24px ;
}

.UIPageBody .UIWindow .ResizeArea {
  float: right ;
  width: 0px ; height: 0px ;
  background: url('null') repeat bottom right;
}

/********************* Icon InfoBar ************************************/
.OrganizationPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/AddNodeIcon.gif') no-repeat center;
}

.AccountPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/UserAccount.gif') no-repeat center;
}

.RegistryPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/BlueActionWheel.gif') no-repeat center;
}

.SiteMapPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/SiteMap.gif') no-repeat center;
}

.WelcomePortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/PortalWelcomeIcon.gif') no-repeat center;
}

.BreadcumbsPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/BreadcumbsArrowIcon.gif') no-repeat center;
}

.GroovyPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/PortalAdmin.gif') no-repeat center;
}

.AddPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/AddPage.gif') no-repeat center;
}

.LoginPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/Login.gif') no-repeat center;
}

.FooterPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/PortalFooterIcon.gif') no-repeat center;
}

.BrowserPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/BrownBook.gif') no-repeat center;
}

.CompanyContentPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/PortalContainerIcon.gif') no-repeat center;
}

.NavigationPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/EditNavigation.gif') no-repeat center;
}

.BannerPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/PortalNavigationIcon.gif') no-repeat center;
}

.JMXPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/ImagesList.gif') no-repeat center;
}

.AccountPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/UserAccount.gif') no-repeat center;
}

.PortletRegistryPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/BlueActionWheel.gif') no-repeat center;
}

.CrawlerPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/Execute.gif') no-repeat center;
}

.ContentPortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/LightBlueGlobal.gif') no-repeat center;
}

.SitePortletIcon {
  background: url('/eXoResources/icons/16x16/VistaSkin/UserRegistration.gif') no-repeat center;
}

/*#############################  End Icon InfoBar ##############################################*/