/*##########################################################*/
.UIPageDesktop .UIWindow {
  width: 720px ;	
}

.UIPageDesktop .UIWindow .UIApplication {
  height: 350px ;
}

.UIWindow .UICommunityPortlet {
  overflow: auto ;
}

.UIWindow .UICompanyPortlet {
  overflow: auto ;
}

.UIWindow .UIOrganizationPortlet {
  overflow: auto ;
}

.UIWindow .UIContentPortlet {
	margin: 0px;
  overflow: auto ;
}

.UIWindow .UIPortletRegistryPortlet {
  overflow: auto ;
}

.UIWindow .UIAccountPortlet {
  overflow: auto ;
}

.UIWindow .UISitemapPortlet {
	overflow: auto ;
}

.UIWindow .UIFormTabPane {
  overflow: auto ;
}

.UIWindow .UISitemap {
	overflow: auto ;
}

.UIWindow .UIAddPortletPortlet {
	overflow: auto ;
}

.UIWindow .UITestFormPortlet {
	overflow: auto ;
}

/*##########################################################*/

.UIWindow .WindowPortletControl {
  float: right ;
  height: 24px ;
}

.UIPageDesktop .UIWindow .WindowPortletInfo {
  height: 24px ;
  margin-right: 100px ;
  cursor: move ;
}

.UIWindow .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 5px 8px 0px 0px;
}

.UIWindow .WindowPortletInfo .PortletName {
  float: left ;
  margin-top: 8px ;
  font-size: 11px ;
}

.UIWindow .WindowPortletInfo .WindowPortletIcon {
  float: left ;
  width: 16px ; height: 16px ;
  background: url('VistaSkin/icons/16x16/PortletIcon.png') no-repeat ;
  margin: 5px 5px 0px 5px ;
}

.UIWindow .WindowPortletControl .ControlIcon {
  float: left;
  width: 30px ; height:19px ;
  cursor: pointer ;  
}

.UIWindow .WindowPortletControl .ArrowDownIcon {
  background: url('VistaSkin/icons/16x16/ArrowDown.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverArrowDownIcon {
  background: url('VistaSkin/icons/16x16/ArrowDownOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .MinimizedIcon {
  background: url('VistaSkin/icons/16x16/Minimize.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverMinimizedIcon {
  background: url('VistaSkin/icons/16x16/MinimizeOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .MaximizedIcon {
  background: url('VistaSkin/icons/16x16/Maximize.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverMaximizedIcon {
  background: url('VistaSkin/icons/16x16/MaximizeOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .RestoreIcon {
  background: url('VistaSkin/icons/16x16/Restore.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverRestoreIcon {
  background: url('VistaSkin/icons/16x16/RestoreOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .NormalIcon {
  background: url('VistaSkin/icons/16x16/Restore.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverNormalIcon {
  background: url('VistaSkin/icons/16x16/RestoreOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .CloseButtonIcon {
  background: url('VistaSkin/icons/16x16/CloseOver.png') no-repeat ;
}

.UIWindow .WindowPortletControl .OverCloseButtonIcon {
  background: url('VistaSkin/icons/16x16/CloseOver.png') no-repeat ;
}

.UIWindow .Information {
  margin-right: 18px ;
  padding-left: 5px ;
  height: 18px ; line-height: 18px ;
  vertical-align: middle ; font-size: 10px ;
}

.UIWindow .MiddleDecoratorCenter {
  /*background: url('VistaSkin/background/PortletWindowBG1x1.png');*/
  background: #ffffff;
  border: solid 1px #717171;
}

.UIPageDesktop .UIWindow .ResizeArea {
  float: right ;
  width: 9px ; height: 12px ;
  cursor: nw-resize ;
  background: url('VistaSkin/icons/16x16/ResizeBG.gif') no-repeat bottom right;
}

.UIWindow .MiddleDecoratorLeft {
  padding-left: 9px ;
  background: url('VistaSkin/background/LeftMiddleDecorator9x1.png') repeat-y left ;
}

.UIWindow .MiddleDecoratorRight {
  padding-right: 13px ;
  background: url('VistaSkin/background/RightMiddleDecorator13x1.png') repeat-y right ;
}

.UIPageBody .MiddleDecoratorCenter {
  background: #ffffff;
}

.UIWindow .BottomDecoratorLeft {
  height: 24px ;
  padding-left: 9px ;
  background: url('VistaSkin/background/LeftBottomDecorator9x24.png') no-repeat left ;
}

.UIWindow .BottomDecoratorRight {
  height: 24px ;
  padding-right: 13px ;
  background: url('VistaSkin/background/RightBottomDecorator13x24.png') no-repeat right ;
}

.UIWindow .BottomDecoratorCenter {
  height: 24px ;
  background: url('VistaSkin/background/CenterBottomDecorator1x24.png') repeat-x ;
}

.UIWindow .WindowPortletInfo .PortletName {
  float: left ;
  margin: 7px 0px 0px 3px;
  font-size: 11px ; font-weight: bold;
}

.UIWindow .WindowBarLeft {
  height: 25px ;
  padding-left: 11px ;
  background: url('VistaSkin/background/LeftTopBar11x25.png') no-repeat left ;
}

.UIWindow .WindowBarRight {
  height: 25px ;
  padding-right: 16px ;
  background: url('VistaSkin/background/RightTopBar16x25.png') no-repeat right ;
}

.UIWindow .WindowBarCenter {
  height: 25px ;
  background: url('VistaSkin/background/CenterTopBar1x25.png') repeat-x ;
}

.UIWindow .UITestFormPortlet {
	overflow: auto;
}

.UIWindow .UIAddPortletPortlet {
	overflow: auto;
}

.UIWindow .OrganizationIcon {
  background: url('/eXoResources/icons/16x16/DefaultSkin/AddNodeIcon.gif') no-repeat center;
}

.UIWindow .AccountIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/UserAccount.gif') no-repeat center;
}

.UIWindow .PortletRegistryIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/BlueActionWheel.gif') no-repeat center;
}

.UIWindow .SiteMapPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/SiteMap.gif') no-repeat center;
}

.UIWindow .WelcomePortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/PortalWelcomeIcon.gif') no-repeat center;
}

.UIWindow .BreadcumbsPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/BreadcumbsArrowIcon.gif') no-repeat center;
}

.UIWindow .GroovyPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/PortalAdmin.gif') no-repeat center;
}

.UIWindow .AddPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/AddPage.gif') no-repeat center;
}

.UIWindow .LoginPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/Login.gif') no-repeat center;
}

.UIWindow .FooterPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/PortalFooterIcon.gif') no-repeat center;
}

.UIWindow .BrowserPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/BrownBook.gif') no-repeat center;
}

.UIWindow .CompanyContentPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/PortalContainerIcon.gif') no-repeat center;
}

.UIWindow .NavigationPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/EditNavigation.gif') no-repeat center;
}

.UIWindow .BannerPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/PortalNavigationIcon.gif') no-repeat center;
}

.UIWindow .JMXPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/ImagesList.gif') no-repeat center;
}

.UIWindow .OrganizationPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/AddNodeIcon.gif') no-repeat center;
}

.UIWindow .AccountPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/UserAccount.gif') no-repeat center;
}

.UIWindow .PortletRegistryPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/BlueActionWheel.gif') no-repeat center;
}

.UIWindow .CrawlerPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/Execute.gif') no-repeat center;
}

.UIWindow .ContentPortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/LightBlueGlobal.gif') no-repeat center;
}

.UIWindow .SitePortletIcon {
  width: 16px; height: 16px;
  background: url('/eXoResources/icons/16x16/DefaultSkin/UserRegistration.gif') no-repeat center;
}

/**************************** UIPageBody ************************************/

.UIPageBody .UIWindow {
  width: auto ; height: auto;
}

.UIPageBody .UIWindow .UIApplication {
  height: auto ;
}

.UIPageBody .WindowPortletControl {
  float: right ;
  height: 24px ;
}

.UIPageBody .UIWindow .ResizeArea {
  float: right ;
  width: 0px ; height: 0px ;
  background: url('null') repeat bottom right;
}
