.UIChagnePortalForm {
  padding: 20px 15px 10px 15px;
}

.UIChagnePortalForm .TabPaneContent {
  border: 1px solid #d4d4d4;
  border-top: none;
}

.UIChagnePortalForm .WorkingArea {
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.UIChagnePortalForm .UITabPane .TabPaneContent .UITabContentContainer { 
	border: 1px solid #d4d4d4;
	border-top: none;
}

.UIChagnePortalForm .UITabPane .TabPaneContent {
	padding: 0px;
}