.UIChagnePortalForm {	
	padding: 20px 15px 10px 15px;  
}

.UIChagnePortalForm .UITabPane .UITabContentContainer .UITabContent {
	padding: 5px 0px;
}

.UIChagnePortalForm #PortalSelector {
	width: 95%;
	margin: auto;
}

.UIChagnePortalForm .UITabPane .TabPaneContent {
	padding: 0px;
}

.UIChagnePortalForm .UITabPane .UITabContentContainer {
	border: 1px solid #D4D4D4;
	border-top: none;
}