.UIAction {
  margin: auto;
}

.UIAction .ActionContainer {
  width: auto ; height: 22px ;
}

/*##############################-ActionButton-################################*/
.UIAction .ActionContainer .ActionButton {
	float: right;
	height: 22px ; line-height:22px;
	margin: 0px 0px 0px 4px ;
}

.UIAction .ActionContainer .ActionButton  a {
  font-weight: normal ; color: black; font-size: 11px;
}

.UIAction .ActionContainer .ActionButton  a:hover {
  color: blue;
}

.UIAction .ActionContainer .ActionButton .Icon {
  float: left;  
  width: 16px ;  height: 16px ;
  margin: 6px 3px 0px 3px ;
}

/*##############################-Normal ActionButton-################################*/
.UIAction .ActionContainer .ActionButton .NormalStyle {
  border: solid 1px red;
}

.UIAction .ActionContainer .ActionButton .NormalStyle .ButtonLeft {
  background: url('DefaultSkin/background/LeftNormalStyleButton3x22.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIAction .ActionContainer .ActionButton .NormalStyle .ButtonRight {
  background: url('DefaultSkin/background/RightNormalStyleButton3x22.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .ActionContainer .ActionButton .NormalStyle .ButtonMiddle {
	height: 22px; line-height: 20px;
	background: url('DefaultSkin/background/MiddleNormalStyleButton1x22.gif') repeat-x;
}

/*##############################-Disabled ActionButton-################################*/
.UIAction .ActionContainer .ActionButton .DisabledStyle {
}

.UIAction .ActionContainer .ActionButton .DisabledStyle .ButtonLeft {
  background: url('DefaultSkin/background/LeftDisableButton3x22.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIAction .ActionContainer .ActionButton .DisabledStyle .ButtonRight {
  background: url('DefaultSkin/background/RifghtDisableButton3x22.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .ActionContainer .ActionButton .DisabledStyle .ButtonMiddle {
	height: 22px; line-height: 20px; text-align: center;
	background: url('DefaultSkin/background/MiddleDisableButton1x22.gif') repeat-x;
}

/*##############################-LightBlueStyle ActionButton-################################*/
.UIAction .ActionContainer .ActionButton .LightBlueStyle {
}

.UIAction .ActionContainer .ActionButton .LightBlueStyle .ButtonLeft {
  background: url('DefaultSkin/background/LeftLightStyleButton3x22.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIAction .ActionContainer .ActionButton .LightBlueStyle .ButtonRight {
  background: url('DefaultSkin/background/RightLightStyleButton3x22.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .ActionContainer .ActionButton .LightBlueStyle .ButtonMiddle {
  height: 22px;	line-height: 20px; text-align: center;
	background: url('DefaultSkin/background/MiddleLightStyleButton1x22.gif') repeat-x;	
}

/*##############################-SimpleStyle ActionButton-################################*/
.UIAction .ActionContainer .ActionButton .SimpleStyle {

}

.UIAction .ActionContainer .ActionButton .SimpleStyle .ButtonLeft {
  background: url('DefaultSkin/background/LeftSimpleButton10x21.gif') no-repeat left;
  padding: 0px 0px 0px 10px;
}

.UIAction .ActionContainer .ActionButton .SimpleStyle .ButtonRight {
  background: url('DefaultSkin/background/RightSimpleButton10x21.gif') no-repeat right;
  padding: 0px 10px 0px 0px ;
}

.UIAction .ActionContainer .ActionButton .SimpleStyle .ButtonMiddle {
  height: 21px;	
  line-height: 21px;
	background: url('DefaultSkin/background/CenterSimpleButton1x21.gif') repeat-x;
	text-align: center;	
}

.UIAction .ActionContainer .ActionButton .SimpleStyle a:hover {
  color: #1273df;
}
