.UIAction {
  height: 22px;
  margin: auto;
  padding: 8px 0px;
}

.UIAction .ActionContainer {
  float: left;
}

/*##############################-ActionButton-################################*/
.UIAction .ActionButton {
	float:left;
	line-height:22px;
	margin: 0px 2px 0px 2px ;
	text-align: center;
}

.UIAction .ActionButton  a {
  font-weight: normal ; color: black; font-size: 11px;
  margin: 0px 12px 0px 12px ; text-align: center;
  line-height: 22px; vertical-align: top;
  cursor: pointer;
}

.UIAction .ActionButton  a:hover {
  color: #058ee6;
}

.UIAction .ActionButton .Icon {
	float: left;
}

/*##############################-Normal ActionButton-################################*/
.UIAction .ActionButton .NormalStyle {
}

.UIAction .ActionButton .NormalStyle .ButtonLeft {
  background: url('DefaultSkin/background/LeftNormalStyleButton3x22.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIAction .ActionButton .NormalStyle .ButtonRight {
  background: url('DefaultSkin/background/RightNormalStyleButton3x22.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .ActionButton .NormalStyle .ButtonMiddle {
  line-height: 22px;
	background: url('DefaultSkin/background/MiddleNormalStyleButton1x22.gif') repeat-x;
}

/*##############################-Disabled ActionButton-################################*/
.UIAction .ActionButton .DisabledStyle {
}

.UIAction .ActionButton .DisabledStyle .ButtonLeft {
  background: url('DefaultSkin/background/LeftDisableButton3x22.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIAction .ActionButton .DisabledStyle .ButtonRight {
  background: url('DefaultSkin/background/RifghtDisableButton3x22.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .ActionButton .DisabledStyle .ButtonMiddle {
	height: 22px; text-align: center; 
	background: url('DefaultSkin/background/MiddleDisableButton1x22.gif') repeat-x;
}

/*##############################-LightBlueStyle ActionButton-################################*/
.UIAction .ActionButton .LightBlueStyle {
}

.UIAction .ActionButton .LightBlueStyle .ButtonLeft {
  background: url('DefaultSkin/background/LeftLightStyleButton3x22.gif') no-repeat left;
  padding: 0px 0px 0px 3px;
}

.UIAction .ActionButton .LightBlueStyle .ButtonRight {
  background: url('DefaultSkin/background/RightLightStyleButton3x22.gif') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .ActionButton .LightBlueStyle .ButtonMiddle {
 	line-height: 22px; text-align: center; 
	background: url('DefaultSkin/background/MiddleLightStyleButton1x22.gif') repeat-x;
}

/*##############################-SimpleStyle ActionButton-################################*/
.UIAction .ActionButton .SimpleStyle {
}

.UIAction .ActionButton .SimpleStyle .ButtonLeft {
  background: url('DefaultSkin/background/LeftSimpleButton10x21.gif') no-repeat left top;
  padding: 0px 0px 0px 10px;
}

.UIAction .ActionButton .SimpleStyle .ButtonRight {
  background: url('DefaultSkin/background/RightSimpleButton10x21.gif') no-repeat right top;
  padding: 0px 10px 0px 0px ;
}

.UIAction .ActionButton .SimpleStyle .ButtonMiddle {
  height: 21px;
	background: url('DefaultSkin/background/CenterSimpleButton1x21.gif') repeat-x top;
	text-align: center;	
}

.UIAction .ActionButton .SimpleStyle a {
  color: #058ee6; font-weight: bold; font-size: 11px;
  margin: 0px 6px; white-space: nowrap;
  line-height: 21px; height: 21px;
}

.UIAction .ActionButton .SimpleStyle a:hover {
  color: #1273df;
}
