<<<<<<< .mine
.UIAction {
  height: 30px;
  margin: 8px auto;
  
=======
.UIAction {
  margin: 9px auto;
>>>>>>> .r14499
}

.UIAction .ActionContainer{
  float: left;
}

/*##############################-ActionButton-################################*/
.UIAction .ActionButton {
	float:left;
	height: 30px ; line-height:30px;
	margin: 0px 2px 0px 2px ;
	text-align: center;
}

.UIAction .ActionButton  a {
  font-weight: normal ; color: black; font-size: 11px;
  margin: 0px 15px 0px 15px ;
  height: 30px; line-height: 30px; vertical-align: top;
}
}

.UIAction .ActionButton  a:hover {
  color: #058ee6;
}

/*##############################-Disabled ActionButton-################################*/
.UIAction .ActionButton .DisabledStyle {
}

.UIAction .ActionButton .DisabledStyle .ButtonLeft {
  background: url('VistaSkin/background/SelectedActionButton6x30.png') no-repeat left;
  padding: 0px 0px 0px 6px;
}

.UIAction .ActionButton .DisabledStyle .ButtonRight {
  background: url('VistaSkin/background/SelectedActionButtonR6x30.png') no-repeat right;
  padding: 0px 3px 0px 0px ;
}

.UIAction .ActionButton .DisabledStyle .ButtonMiddle {
	line-height: 22px; text-align: center; 
	background: url('VistaSkin/background/SelectedActionButtonM2x30.png') repeat-x;
}

.UIAction .ActionButton .DisabledStyle a {
	color: gray;
	cursor: default;
}

.UIAction .ActionButton .DisabledStyle a:hover {
	color: gray;
	cursor: default;
}


/*##############################-LightBlueStyle ActionButton-################################*/
.UIAction .ActionButton .LightBlueStyle {
}

.UIAction .ActionButton .LightBlueStyle .ButtonLeft {
  background: url('VistaSkin/background/LightButtonLeft6x30.png') no-repeat left;
  padding: 0px 0px 0px 6px;
}

.UIAction .ActionButton .LightBlueStyle .ButtonRight {
  background: url('VistaSkin/background/LightButtonRight6x30.png') no-repeat right;
  padding: 0px 6px 0px 0px ;
}

.UIAction .ActionButton .LightBlueStyle .ButtonMiddle {
 	line-height: 30px; text-align: center; 
	background: url('VistaSkin/background/LightButtonMiddle2x30.png') repeat-x;
}