.UIAction{
  margin: auto;
  margin-top: 8px;
}

.UIAction .ActionContainer {
  width: auto;
  margin: auto;
  height: 30px;
}

.UIAction .ActionContainer .ActionButton {
	float: right;
	width: 74px;
	margin: 0px 0px 0px 3px ;
}

.UIAction .ActionContainer .ActionButton  a {
  line-height: 21px ; vertical-align: middle;
  text-decoration: none ; 
  color: black ; font-weight: normal ; font-size: 11px ;
}

.UIAction .ActionContainer .ActionButton  a:hover {
  line-height: 21px ; vertical-align: middle ;
  text-decoration: none ; text-align: center;
  color: blue; font-weight: normal ; font-size: 11px ;
}

.UIAction .ActionContainer .Save16x16Icon {
	display:none;
}

.UIAction .ActionContainer .ActionButton .Icon {
  display:none;
}

.UIAction .ActionContainer .Cancel16x16Icon {
	display:none;
}

.UIAction .ActionContainer .Back16x16Icon {
	display:none;
}

/*##############################-LightBlueStyle ActionButton-################################*/
.UIAction .ActionContainer .ActionButton .LightBlueStyle {
}

.UIAction .ActionContainer .ActionButton .LightBlueStyle .ButtonLeft {
  background: url('VistaSkin/background/LightButtonLeft6x30.png') no-repeat left;
  padding: 0px 0px 0px 6px;
}

.UIAction .ActionContainer .ActionButton .LightBlueStyle .ButtonRight {
  background: url('VistaSkin/background/LightButtonRight6x30.png') no-repeat right;
	padding: 0px 6px 0px 0px ;
}

.UIAction .ActionContainer .ActionButton .LightBlueStyle .ButtonMiddle {
	height: 30px;
	line-height: 24px;
  text-align: center;
	background: url('VistaSkin/background/LightButtonMiddle2x30.png') repeat-x center;
}

/*##############################-Disabled ActionButton-################################*/
.UIAction .ActionContainer .ActionButton .DisabledStyle {
}

.UIAction .ActionContainer .ActionButton .DisabledStyle .ButtonLeft {
  background: url('VistaSkin/background/SelectedActionButton6x30.png') no-repeat left;
  padding: 0px 0px 0px 6px;
}

.UIAction .ActionContainer .ActionButton .DisabledStyle .ButtonRight {
  background: url('VistaSkin/background/SelectedActionButtonR6x30.png') no-repeat right;
  padding: 0px 6px 0px 0px ;
}

.UIAction .ActionContainer .ActionButton .DisabledStyle .ButtonMiddle {
	height: 30px;
	line-height: 25px;
	vertical-align: middle; text-align: center;
	background: url('VistaSkin/background/SelectedActionButtonM2x30.png') repeat-x;
}

.UIAction .ActionContainer .ActionButton .DisabledStyle a {
	color: gray;
	cursor: default;
}

.UIAction .ActionContainer .ActionButton .DisabledStyle a:hover {
	color: gray;
	cursor: default;
}
