/*##########################################################*/
.UIPageDesktop .UIWindow {
  width: 720px ;
  height: auto;
}

.UIPageDesktop .UIWindow .UIApplication {
  height: 350px ;
}

.UIWindow .UIApplication {
	overflow: auto;
}
/*##########################################################*/
.UIWindow .WindowPortletControl {
  float: right ;
  height: 23px ;
  padding-left: 0px;
}

.UIPageDesktop .UIWindow .WindowPortletInfo {
  height: 24px ;
  margin: 0px 100px 0px 0px ;
  cursor: move ;
}

.UIWindow .WindowPortletInfo .PortletIcon {
  float: left ;
  width: 16px ; height: 16px ;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/DefaultPortletIcon.png') no-repeat ;
  margin: 4px 6px 0px 5px ;
}

.UIWindow .WindowPortletControl .ControlIcon {
  float: left;
  width: 16px ; height: 16px ;
  margin: 4px 2px 0px 2px ;
  cursor: pointer ;  
}

.UIWindow .WindowPortletControl .ArrowDownIcon {
  width: 21px;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/ArrowDown.gif') no-repeat center right;
}

.UIWindow .WindowPortletControl .OverArrowDownIcon {
	width: 21px;
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/ArrowDownOver.gif') no-repeat center right;
}

.UIWindow .WindowPortletControl .MinimizedIcon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/Minimize.gif') no-repeat center;
}

.UIWindow .WindowPortletControl .OverMinimizedIcon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/MinimizeOver.gif') no-repeat center;
}

.UIWindow .WindowPortletControl .NormalIcon {
  background: url('icons/16x16/Restore.gif') no-repeat top;
}

.UIWindow .WindowPortletControl .OverNormalIcon {
  background: url('icons/16x16/RestoreOver.gif') no-repeat top;
}

.UIWindow .WindowPortletControl .MaxMin {
  width: 16px ; height: 16px ;
  cursor: pointer ;  
}

.UIWindow .WindowPortletControl .MaximizedIcon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/Maximize.gif') no-repeat center;
}

.UIWindow .WindowPortletControl .OverMaximizedIcon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/MaximizeOver.gif') no-repeat center;
}

.UIWindow .WindowPortletControl .RestoreIcon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/Restore.gif') no-repeat ;
}

.UIWindow .WindowPortletControl .OverRestoreIcon {
  background: url('/eXoMacSkin/skin/MacSkin/skinIcons/16x16/icons/RestoreOver.gif') no-repeat ;
}

.UIWindow .WindowPortletControl .CloseButtonIcon {
  background: url('icons/16x16/NormalClose.gif') no-repeat ;
}

.UIWindow .WindowPortletControl .OverCloseButtonIcon {
  background: url('icons/16x16/OverClose.gif') no-repeat ;
}

.UIWindow .WindowPortletControl .BackgroundIcon {
  float: left ;
  margin: 4px 2px 0px 2px ;
}

.UIWindow .WindowPortletControl .BackgroundOver {
}

.UIPageDesktop .UIWindow .ResizeArea {
  float: right ;
  width: 17px ; height: 15px ;
  cursor: nw-resize ;
  background: url('background/ResizeArea17x15.png') no-repeat ;
}

.UIWindow .Information {
  height: 16px ; line-height: 14px ; vertical-align: middle ;
  font-size: 10px ;
  margin-right: 18px ;
  padding-left: 5px ;
}
/**************************** UIPage Decorator ************************************/
.UIWindow .MiddleDecoratorLeft {
  background: url('background/PortletWindowML5x1.png') repeat-y left ;
  padding: 0px 0px 0px 5px ;
}

.UIWindow .MiddleDecoratorRight {
  padding: 0px 5px 0px 0px ;
  background: url('background/PortletWindowMR5x1.png') repeat-y right ;
}

.UIWindow .MiddleDecoratorCenter {
  background: #ffffff ;
}

.UIWindow .BottomDecoratorLeft {
  background: url('background/PortletWindowBL5x23.png') no-repeat left ;
  padding: 0px 0px 0px 5px ;
}

.UIWindow .BottomDecoratorRight {
  padding: 0px 5px 0px 0px ;
  background: url('background/PortletWindowBR5x23.png') no-repeat right ;
}

.UIWindow .BottomDecoratorCenter {
  height: 23px ; line-height: 23px;
  background: url('background/PortletWindowBC1x23.png') repeat-x ;
}

.UIWindow .WindowPortletInfo .Icon {
  float: left;
  width: 16px; height: 16px;
  margin: 3px 8px 0px 3px;
}

.UIWindow .WindowPortletInfo .PortletName {
  float: left ;
  margin: 5px 0px 0px 0px ;
	font-weight: bold;
}

.UIWindow .WindowBarLeft {
  padding: 0px 0px 0px 12px ;
  background: url('background/PortletWindowTL12x23.png') no-repeat left ;
}

.UIWindow .WindowBarRight {
  padding: 0px 12px 0px 0px ;
  background: url('background/PortletWindowTR12x23.png') no-repeat right ;
}

.UIWindow .WindowBarCenter {
  height: 23px ;
  background: url('background/PortletWindowTC1x23.png') repeat-x bottom;
}

.UIWindow .UITestFormPortlet {
	overflow: auto;
}

/**************************** UIPageBody ************************************/

.UIPageBody .UIWindow {
  width: auto ; height: auto;
}

.UIPageBody .UIWindow .UIApplication {
  height: auto ;
}

.UIPageBody .WindowPortletControl {
  float: right ;
  height: 23px ;
}

.UIPageBody .UIWindow .ResizeArea {
  float: right ;
  width: 0px ; height: 0px ;
  background: url('null') repeat bottom right;
}

.UIPageBody .UIApplicationRegistryPortlet {
	width: 99%;
	margin: auto;
	margin-bottom: 10px;
}

.UIPageBody .Empty {
  width: 500px;
  margin: 30px auto 30px auto;
}

.UIPageBody .UIPortalWarning {
  font-family: tahoma;
  font-size: 12px;
}

.UIPageBody .UIPortalWarning .LeftTopWarning {
  background: url('/eXoResources/skin/sharedImages/LeftTopWarning7x58.gif') no-repeat left top;	
  height: 40px;
  padding-left: 7px;
}

.UIPageBody .UIPortalWarning .RightTopWarning {
  background: url('/eXoResources/skin/sharedImages/RightTopWarning7x58.gif') no-repeat right top;	
  height: 40px;
  padding-right: 7px;
}

.UIPageBody .UIPortalWarning .CenterTopWaring {
  background: url('/eXoResources/skin/sharedImages/CenterTopWarning1x58.gif') repeat-x top;	
  height: 40px;
  line-height: 40px;
}

.UIPageBody .UIPortalWarning .CenterTopWaring  .TitleWaring {
  background: url('/eXoResources/skin/sharedImages/WarningIcon.gif') no-repeat left center;	
  padding-left: 50px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-align: left;
  margin-left: 20px;
}

.UIPageBody .UIPortalWarning .LeftMiddleWarning {
  background: url('/eXoResources/skin/sharedImages/LeftMiddleWarning7x1.gif') repeat-y left;	
  padding-left: 7px; 
  background: white;
}

.UIPageBody .UIPortalWarning .RightMiddleWarning {
  background: url('/eXoResources/skin/sharedImages/RightMiddleWarning7x1.gif') repeat-y right;	
  text-align: left;
  padding: 30px 30px 50px 30px;
}

.UIPageBody .UIPortalWarning .RightMiddleWarning .Icon {
  background: url('/eXoResources/skin/sharedImages/BlueNextArrow.gif') no-repeat left 5px;	
  padding: 6px 0px 6px 20px;
  text-align: left;
}

.UIPageBody .UIPortalWarning .LeftBottomWarning {
  background: url('/eXoResources/skin/sharedImages/LeftBottomWarning7x7.gif') no-repeat left center;	
  height: 7px;
  padding-left: 7px;
}

.UIPageBody .UIPortalWarning .RightBottomWarning {
  background: url('/eXoResources/skin/sharedImages/RightBottomWarning7x7.gif') no-repeat right center;	
  height: 7px;
  padding-right: 7px;
}

.UIPageBody .UIPortalWarning .CenterBottomWaring {
  background: url('/eXoResources/skin/sharedImages/CenterBottomWarning1x7.gif') repeat-x center;	
  height: 7px;
}

.UIPortal .VIEW-PORTLET .UIWindow {
  width: 99%; height: auto;
  padding: 5px 0px; 
  margin: auto;
}

.UIPortal .VIEW-CONTAINER .VIEW-PORTLET .UIWindow {
  width: auto ; height: auto;
  padding: 8px 5px 5px 0px; 
}

/********************* Icon InfoBar ************************************/
.UIWindow .OrganizationPortletIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/AddNodeIcon.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Content {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/MiscIcons/RSS.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Account {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/UserIcons/Contact.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Registry-Portlet {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/RegistryPortlet.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Site {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/SiteMap.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Login {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ToolIcons/Key.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Mail {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/OfficeIcons/Mail.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Forum {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ForumIcon.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .ECMAdminIcon {
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/ECMAdmin.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .ExplorerIcon{
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/JCRExplorer.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Dialog{
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/DialogIcon.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Browse{
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BrowseContent.gif') no-repeat center;
}

.UIWindow .WindowPortletInfo .Workflow{
  background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/WorkflowIcon.gif') no-repeat center;
}
/********************* End Icon InfoBar ************************************/
